@model IEnumerable<WebApp.Entity.QuotationElitePCRKit>

@{
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
}

<style type="text/css">
    #grid-consumable-container {
        max-height: 200px;
    }

    tr.dx-row.dx-data-row > td {
        padding: 2px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container  {
        padding: 2px;
    }


</style>

<script type="text/javascript">
    function row_prepared_consumable(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('PCRKit-consumable');
        }
    }

</script>

<section id="Consumable">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
            <div class="row">
                <div class="col-sm-8" style="font-weight:bold;">
                    <span style="font-size:20px;">
                        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    </span>
                    Consumables
                </div>                
                <div class="col-sm-4">
                    <div class="dx-field-value">
                        @if (showEdit)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("edit")
                                .Hint("Edit")
                                .OnClick(callbackEdit)
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            @(Html.DevExtreme().DataGrid()
                        .ID("grid-consumable-container")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .HoverStateEnabled(false)
                        .RowAlternationEnabled(false)
                        .AllowColumnResizing(true)
                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                        .DataSource(Model, "Id")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Id").Visible(false);
                            columns.Add().DataField("ElitePCRKit.Description").Caption("Description").Width("70%");
                            columns.Add().DataField("SellingPrice").Caption("Selling Price").Width("15%").CustomizeText("showCurrency");
                            //columns.Add().DataField("ElitePCRKit.OfficialPrice").Caption("Official Price").Width("20%").CustomizeText("showCurrency");
                            //columns.Add().DataField("Discount").Width("15%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent");
                        })
                        .OnRowPrepared("row_prepared_consumable")
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                        @*.Summary(s => s.TotalItems(items =>
                        {
                        items.Add().Column("SellingPrice")
                                .SummaryType(SummaryType.Sum)
                                .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                            }))*@
            )
        </div>
    </div>
</section>

