@model IEnumerable<WebApp.Entity.QuotationsTotal>
@using WebApp.Classes

@{
    string Compensation = "";
    if (ViewData["compensation"] != null && (bool)ViewData["compensation"] == true)
    {
        Compensation = "Apply Compensation";
    }
    bool bShowCost = false;
    if (ViewData["bQManagerTopLevel"] != null && (bool)ViewData["bQManagerTopLevel"] == true)
    {
        bShowCost = true;
    }
}

<style type="text/css">
    #grid-summary-container {
        /*max-height: 400px;*/
    }

    tr.dx-row.dx-data-row > td {
        padding: 2px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .OverFlowExtraction {
        color: red;
        font-weight: bold;
    }
</style>

<script type="text/javascript">


</script>

<section id="Summary">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
            <div class="row">
                <div class="col-sm-8" style="font-weight:bold;">
                    <span style="font-size:20px;">
                        <i class="fa fa-bank" aria-hidden="true"></i>
                    </span>
                    Summary
                </div>
                <div class="col-sm-2 text-right" style="padding: 5px;">
                    @if (Compensation != "")
                    {
                        <span class="label-info" style="color:white; font-weight:bold; padding:3px;">@Compensation</span>
                    }
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="empty_row"></div>
            @(Html.DevExtreme().DataGrid()
        .ID("grid-summary-container")
        .ShowBorders(true)
        .ShowRowLines(true)
        .HoverStateEnabled(false)
        .RowAlternationEnabled(true)
        .AllowColumnResizing(true)
        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
        .DataSource(Model, "Id")
        .Columns(columns =>
        {
            columns.Add().DataField("Id").Visible(false);
            columns.Add().DataField("Category").Caption("Category").Visible(false);
            columns.Add().DataField("Description").Caption("Description").Width("50%");
            columns.Add().DataField("Cost").Caption("Cost").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Center).Visible(bShowCost);
            columns.Add().DataField("Price").Caption("Price").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Center);
            columns.Add().DataField("Margin").Caption("Margin").CustomizeText("showPercent").Alignment(HorizontalAlignment.Center).Visible(bShowCost);
            columns.Add().DataField("Profit").Caption("Profit").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Center).Visible(bShowCost);
        })
        //.OnRowPrepared("row_prepared_extraction")
        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
        )
        </div>
    </div>
</section>

