@model WebApp.Entity.Quotation
@using WebApp.Classes
@{

    ViewData["Title"] = Model.QuotationId > 0 ? "Edit Quotation" : "Create New Quotation";
    string titolo = ViewData["Title"].ToString();
    int idReagentRental = (int)Lookup.ContractType.REAGENT_RENTAL;
}

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if (('@Model.NewCustomer').toLocaleLowerCase() != 'true') {
                $("#divCurrentBusiness").show();
                $("#divCurrentBusinessPerYear").show();
            }
            showInstrumentRentalSection();
        });

        $("#ContractType").change(function () {
            showInstrumentRentalSection();
        });
    });

    function newCustomer_valueChanged(data) {
        if (data.value) {
            $("#divCurrentBusiness").hide();
            $("#divCurrentBusinessPerYear").hide();
        } else {
            $("#divCurrentBusiness").show();
            $("#divCurrentBusinessPerYear").show();
        }
        $("#CurrentBusiness").dxNumberBox("instance").option('value', null);
        $("#CurrentBusinessPerYear").dxNumberBox("instance").option('value', null);
    }

    function showInstrumentRentalSection() {
        // Do something here.
        if ($("#ContractType").val() == '@idReagentRental') {
            $("#InstrumentRentalSection").show();
        } else {
            $("#InstrumentRentalSection").hide();
        }
    }

    function doSave() {
        $("form").submit();
        return false;
    }

</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditPost">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="QuotationId" />
        <div class="form-group">
            <label asp-for="CommercialEntityID" class="control-label col-md-2"></label>
            <div class="col-md-6">
                <select asp-for="CommercialEntityID" class="form-control" asp-items="ViewBag.CommercialEntityID">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="CommercialEntityID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="CustomerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerName" class="form-control" style="max-width:95%;" placeholder="Enter Account Name" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerAddress" class="form-control" style="max-width:95%;" placeholder="Enter Customer Address" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReferencePerson" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="ReferencePerson" class="form-control" style="max-width:60%;" placeholder="Enter Reference Person" />
                <span asp-validation-for="ReferencePerson" class="text-danger"></span>
            </div>
            <label asp-for="NewCustomer" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                @(Html.DevExtreme().CheckBoxFor(m => m.NewCustomer).Text("").OnValueChanged("newCustomer_valueChanged"))
            </div>

        </div>
        <div class="form-group">
            <label asp-for="CustomerType" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="CustomerType" asp-items="Html.GetEnumSelectList<Lookup.CustomerType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="CustomerType" class="text-danger"></span>
            </div>
            <div id="divCurrentBusinessPerYear" hidden>
                <label asp-for="CurrentBusinessPerYear" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.CurrentBusinessPerYear)
                                                    .ID("CurrentBusinessPerYear")
                                                    .Min(0)
                                                    .ShowSpinButtons(true)
                    )
                    <span asp-validation-for="CurrentBusinessPerYear" class="text-danger"></span>
                </div>
            </div>
            <div id="divCurrentBusiness" hidden>
                <label asp-for="CurrentBusiness" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @*<input asp-for="CurrentBusiness" class="form-control" style="max-width:95%;" placeholder="Enter Customer Address" />*@
                    @(Html.DevExtreme().NumberBoxFor(m => m.CurrentBusiness)
                                                            .ID("CurrentBusiness")
                                                            .Min(0)
                                                            .ShowSpinButtons(true)
                    )
                    <span asp-validation-for="CurrentBusiness" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleType" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="SaleType" asp-items="Html.GetEnumSelectList<Lookup.SaleType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="SaleType" class="text-danger"></span>
            </div>
            <label asp-for="ContractType" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select asp-for="ContractType" asp-items="Html.GetEnumSelectList<Lookup.ContractType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <label asp-for="ContractDuration" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                @(Html.DevExtreme().NumberBoxFor(m => m.ContractDuration)
                                                            .Min(0)
                                                            .ShowSpinButtons(true)
                )
                <span asp-validation-for="ContractDuration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LISConnection" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                @(Html.DevExtreme().NumberBoxFor(m => m.LISConnection)
                                                    .ID("LISConnection")
                                                    .Min(0)
                                                    .ShowSpinButtons(true)
                )
                <span asp-validation-for="LISConnection" class="text-danger"></span>
            </div>
            <label asp-for="TotalOtherCosts" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                @(Html.DevExtreme().NumberBoxFor(m => m.TotalOtherCosts)
                                                            .ID("TotalOtherCosts")
                                                            .Min(0)
                                                            .ShowSpinButtons(true)
                )
                <span asp-validation-for="TotalOtherCosts" class="text-danger"></span>
            </div>
            <label asp-for="TotalAnnualService" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                @(Html.DevExtreme().NumberBoxFor(m => m.TotalAnnualService)
                                                    .ID("TotalAnnualService")
                                                    .Min(0)
                                                    .ShowSpinButtons(true)
                )
                <span asp-validation-for="TotalAnnualService" class="text-danger"></span>
            </div>
        </div>

        <section id="InstrumentRentalSection" hidden>
            <div class="form-group">
                <label asp-for="YearRentalDuration" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.YearRentalDuration)
                                            .Min(0)
                                            .ShowSpinButtons(true)
                    )
                    <span asp-validation-for="YearRentalDuration" class="text-danger"></span>
                </div>
                <label asp-for="PercService" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.PercService)
                                                                .ID("PercService")
                                                                .ShowSpinButtons(true)
                    )
                    <span asp-validation-for="PercService" class="text-danger"></span>
                </div>
                <label asp-for="TotalAnnualRent" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.TotalAnnualRent)
                                                        .ID("TotalAnnualRent")
                                                        .Min(0)
                                                        .ShowSpinButtons(true)
                    )
                    <span asp-validation-for="TotalAnnualRent" class="text-danger"></span>
                </div>
            </div>
        </section>
        <section id="NoteSection">
            <div class="form-group">
                <label asp-for="Note" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Note" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
        </section>
    </div>
    @*<hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>*@

    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                                            .Icon("save")
                                            .Hint("Save Changes")
                                            .Text("Save")
                                            .Type(ButtonType.Success)
                                            .OnClick("doSave")
            )
        </div>
    </div>

</form>

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
        </div>
    </div>*@

