@model WebApp.Entity.Quotation
@using WebApp.Entity;
@using WebApp.Classes;

@{
    ViewData["Title"] = "Edit OPEN PCR Kits";
}

<style type="text/css">
    body {
        background-color: white;
    }

    #grid-container {
        max-height: 480px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
        });

        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });


    });

    var currOfficialPrice = 0;
    var currSellingPrice = 0;
    var currDiscount = 0;
    var errorMessage = "";

    //var listOpenPCRKitControl = [{ "id": @Html.Raw((int)Lookup.OpenPCRKitControl.included), "descrizione": "Included" },
    //                             { "id": @Html.Raw((int)Lookup.OpenPCRKitControl.not_included), "descrizione": "Not Included" }];

    function row_prepared(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.PCRType == 0) {
                info.rowElement.addClass('OPENKit-assay');
            } else {
                info.rowElement.addClass('OPENKit-other');
            }
        }
    }
    function row_updating(info) {
        if (info.newData.TestPerYear) {
            info.newData.TestPerYear = parseInt(info.newData.TestPerYear);
        }
        if (info.newData.FreeOfChargeKit) {
            info.newData.FreeOfChargeKit = parseInt(info.newData.FreeOfChargeKit);
        }
    }

    function cell_prepared(options) {
        if (options.column.allowEditing && options.rowType == "data") {
            if (options.column.dataField.toLowerCase() == ("dummy")) {
                options.cellElement.addClass("kit-dummy");
            } else if ((options.column.dataField.toLowerCase() == ("TestPerYear").toLowerCase() && options.data.PCRType != 0) ||
                (options.column.dataField.toLowerCase() == ("control").toLowerCase() && options.data.PCRType != 0)) {
                //NON MODIFICABILE !!
            } else {
                if ((options.value == 0 || options.value || "") != "") {
                    options.cellElement.addClass("Kit-edited");
                } else {
                    options.cellElement.addClass("Kit-edit");
                }
            }
        }
    }

    function editing_start(e) {
        if (e.data) {
            currOfficialPrice = e.data.OfficialPrice;
            currSellingPrice = e.data.SellingPrice;
            currDiscount = e.data.Discount;
            //console.log("editing_start");
        }
    }

    function editor_preparing(options) {
        if (options.dataField.toLowerCase() == ("TestPerYear").toLowerCase() && options.row.data.PCRType != 0) {
            options.editorOptions.disabled = true;
        }
        if (options.dataField.toLowerCase() == ("control").toLowerCase() && options.row.data.PCRType != 0) {
            options.editorOptions.disabled = true;
        }
        if (options.dataField.toLowerCase() == ("dummy").toLowerCase()) {
            options.editorOptions.disabled = true;
        }
    }

    // Nota: la 17.1 supporta solo rowData e value (dalla 17.2 anche currentDataRow)
    function setCellValue_SellingPrice(rowData, value) {
        rowData.SellingPrice = value;
        rowData.Discount = null;
        if (value == 0 || (value || "" != "")) {
            if (currOfficialPrice || 0 != 0) {
                rowData.Discount = (100 - ((value * 100) / currOfficialPrice)).toFixed(0);
            }
        }
        //console.log("setCellValue_SellingPrice");
    }
    function setCellValue_Discount(rowData, value) {
        rowData.Discount = value;
        rowData.SellingPrice = "";
        if (value || "" != "") {
            if (currOfficialPrice || 0 != 0) {
                rowData.SellingPrice = (currOfficialPrice - ((value * currOfficialPrice) / 100)).toFixed(2);
            }
        }
        //console.log("setCellValue_Discount");
    }
    function setCellValue_OfficialPrice(rowData, value) {
        rowData.OfficialPrice = value;
        if (currSellingPrice || 0 != 0 && value || 0 != 0) {
            currDiscount = (100 - ((currSellingPrice * 100) / value)).toFixed(0);
            rowData.Discount = currDiscount;
        } else {
            if (currDiscount || 0 != 0 && value || 0 != 0) {
                currSellingPrice = (currOfficialPrice - ((value * value) / 100)).toFixed(2);
                rowData.SellingPrice = currSellingPrice;
            }
        }
        //console.log("setCellValue_OfficialPrice");
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                //dataGrid.refresh();
                //$("form").attr("action", "/Quotations/Details/" + @Model.QuotationId);
                //$("form").attr("method", "GET");
                // eseguo la action associata (POST) per aggiornare altri dati del form
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
    </div>
</div>
<form asp-action="EditOpenPcrKitsPost">
    <div class="form-horizontal">
        <div class="row">
            <span style="font-size:20px;">
                <i class="fa fa-ticket" aria-hidden="true"></i>
            </span>
            <span class="h4">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.QuotationId" />
        </div>
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(false)
                                        .AllowColumnResizing(true)
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                        .Editing(editing =>
                                        {
                                            editing.Mode(GridEditMode.Batch);
                                            editing.AllowUpdating(true);
                                        })
                                        .DataSource(d => d.Mvc()
                                            .Controller("Quotations")
                                            .LoadAction("GetOpenPcrKits")
                                            .LoadParams(new { QuotationId = Model.QuotationId })
                                            .UpdateAction("PutOpenPcrKit")
                                            .Key("Id")
                                        )
                                        .RemoteOperations(true)
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("Id").Visible(false);
                                            columns.Add().DataField("OpenPCRKitDeco").Caption("Kit Id").AllowEditing(false).Width("7%");
                                            columns.Add().DataField("Description").Caption("Description").Width("25%");
                                            columns.Add().DataField("TestPerYear").HeaderCellTemplate(@<text>Test<br />per<br />Year</text>).Width("5%")
                                                                              .Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Number);
                                            columns.Add().DataField("SellingPrice").Caption("Selling Price").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Right)
                                                                              .SetCellValue("setCellValue_SellingPrice").Width("8%").DataType(GridColumnDataType.Number);
                                            //columns.Add().DataField("OfficialPrice").Caption("Official Price").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_OfficialPrice").Width("8%");
                                            //columns.Add().DataField("Discount").Caption("Discount").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                            //                                        .SetCellValue("setCellValue_Discount").Width("8%").DataType(GridColumnDataType.Number);
                                            columns.Add().DataField("FreeOfChargeKit").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Number).Width("6%")
                                                                                .HeaderCellTemplate(@<text>Free of<br />Charge<br />Kit</text>);
                                            columns.Add().DataField("ProductPartNumber").HeaderCellTemplate(@<text>Ref.<br />(prod.p/n)</text>).Width("7%");
                                            @*columns.Add().DataField("ExtractionType").HeaderCellTemplate(@<text>Type of<br />Extraction</text>)
                                                                            .Lookup(l => l.DataSource(Lookup.listExtractionType).DisplayExpr("descrizione").ValueExpr("id")).Width("10%");*@
                                            columns.Add().DataField("AnalysisType").HeaderCellTemplate(@<text>Type of<br />Analysis</text>).Width("8%")
                                                                                    .Lookup(l => l.DataSource(Lookup.listAnalysisType).DisplayExpr("descrizione").ValueExpr("idNum"));
                                            columns.Add().DataField("ggExpiry").Caption("Expiry").Alignment(HorizontalAlignment.Center).Width("8%")
                                                                .Lookup(l => l.DataSource(Lookup.listOpenPCRKitsGGExpiry).DisplayExpr("descrizione").ValueExpr("idNum"));
                                            columns.Add().DataField("KitSize").Caption("Kit Size").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Number).Width("6%");
                                            columns.Add().DataField("Control").Caption("Control").Lookup(l => l.DataSource(Lookup.listOpenPCRKitControl).DisplayExpr("descrizione").ValueExpr("idNum")).Width("10%");
                                            //columns.Add().DataField("Control").Caption("Control").Lookup(l => l.DataSource(new JS("listOpenPCRKitControl")).DisplayExpr("descrizione").ValueExpr("id")).Width("10%");
                                            columns.Add().DataField("KitCosts").Caption("Kit Costs").CustomizeText("showCurrency").Alignment(HorizontalAlignment.Right)
                                                                              .Width("8%").DataType(GridColumnDataType.Number);
                                            columns.Add().DataField("MasterMix").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Number).HeaderCellTemplate(@<text>Master<br />Mix</text>).Width("6%");
                                            columns.Add().DataField("DUMMY").Caption("").Width(12);
                                        })
                                        .OnRowPrepared("row_prepared")
                                        .OnCellPrepared("cell_prepared")
                                        .OnEditorPreparing("editor_preparing")
                                        .OnRowUpdating("row_updating")
                                        .OnEditingStart("editing_start")
                                        .OnDataErrorOccurred("Data_Error")
                                        .LoadPanel(l => l.Enabled(true).Height(70))
                                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite).ShowScrollbar(ShowScrollbarMode.Always))
                                        @*.Summary(s => s.TotalItems(items =>
                                            {
                                                items.Add().Column("SellingPrice")
                                                        .SummaryType(SummaryType.Sum)
                                                        .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                                            }))*@
                                    )
        </div>
    </div>
    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                .Icon("save")
                .Hint("Save Changes")
                .Text("Save")
                .Type(ButtonType.Success)
                .OnClick("doSave")
            )
        </div>
    </div>
</form>
