@model WebApp.Entity.Quotation
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit Instrument";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">

    var nOfficialPrice = 0;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            SetOfficialPrice();
        });
    });

    function InstrumentType_valueChanged() {
        SetOfficialPrice();
    }

    function SetOfficialPrice() {
        var id = $("#InstrumentTypeID").val();
        $("#OfficialPrice").val("");
        nOfficialPrice = 0;
        if ((id || "") != "") {
            $.ajax({
                url: '@Url.Action("GetInstrumentTypeInfo")',
                type: 'POST',
                data: { Id: id },
                success: function (data) {
                    if ((data || null) != null) {
                        nOfficialPrice = parseFloat(data.OfficialPrice);
                        $("#OfficialPrice").val((nOfficialPrice).toLocaleString());
                        if ('@Model.ContractType' != '@Lookup.ContractType.REAGENT_RENTAL') {
                            var price = $("#InstrumentSellingPrice").dxNumberBox("instance").option('value');
                            SelligPrice_Change();
                            //if ((price || 0) != 0) {
                            //    SelligPrice_Change();
                            //} else {
                            //    Discount_Change();
                            //}
                        }
                    }
                }
            });
        }

        return false;
    }

    function SelligPrice_Change() {
        var discount = 100;
        var price = $("#InstrumentSellingPrice").dxNumberBox("instance").option('value');
        price = (price || 0);
        if (price != 0) {
            if ((nOfficialPrice || 0) != 0) {
                discount = ((nOfficialPrice - price) * 100 / nOfficialPrice);
            }
        }
        //$("#InstrumentDiscount").dxNumberBox("instance").option('value', discount.toFixed(0));
        return false;
    }

    //function Discount_Change() {
    //    var price = (nOfficialPrice||0);
    //    var discount = $("#InstrumentDiscount").dxNumberBox("instance").option('value');
    //    discount = (discount || 0);
    //    if (price != 0) {
    //        price = nOfficialPrice - ( (discount * nOfficialPrice) / 100);
    //    }
    //    if (price < 0) { price = 0;}
    //    $("#InstrumentSellingPrice").dxNumberBox("instance").option('value', price.toFixed(2));
    //    return false;
    //}

    function doSave() {
        $("form").submit();
        return false;
    }


</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditInstrumentPost">
    <div class="form-horizontal">
        <div class="row">
            <span style="font-size:20px;">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </span>
            <span class="h4">@ViewData["Title"]</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuotationId" />
        </div>
        <hr />

        <div class="form-group">
            <label asp-for="InstrumentTypeID" class="control-label col-md-2 required"></label>
            <div class="col-md-6">
                <select asp-for="InstrumentTypeID" class="form-control" asp-items="ViewBag.InstrumentTypeID" style="max-width:80%;" onchange="InstrumentType_valueChanged();">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="InstrumentTypeID" class="text-danger"></span>
            </div>
            <label asp-for="InstrumentNumber" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                @(Html.DevExtreme().NumberBoxFor(m => m.InstrumentNumber)
                                                                .Min(0)
                                                                .ShowSpinButtons(true)
                )
                <span asp-validation-for="InstrumentNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            @if (Model.ContractType != Lookup.ContractType.REAGENT_RENTAL)
            {
                <label asp-for="InstrumentSellingPrice" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.InstrumentSellingPrice)
                                                                .ID("InstrumentSellingPrice")
                                                                //.Mode(NumberBoxMode.Number)
                                                                .Min(0)
                                                                .ShowSpinButtons(true)
                                                                .OnChange("SelligPrice_Change")
                    )
                    <span asp-validation-for="InstrumentSellingPrice" class="text-danger"></span>
                </div>
                @*<label asp-for="InstrumentDiscount" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    @(Html.DevExtreme().NumberBoxFor(m => m.InstrumentDiscount)
                                                                    .ID("InstrumentDiscount")
                                                                    //.Min(0)
                                                                    //.Max(100)
                                                                    .ShowSpinButtons(true)
                                                                    .OnChange("Discount_Change")
                    )
                    <span asp-validation-for="InstrumentDiscount" class="text-danger"></span>
                </div>*@
            } else {
                <div class="col-md-8"></div>
            }
                @*<label asp-for="InstrumentType.OfficialPrice" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input id="OfficialPrice" class="form-control" readonly="readonly" />
                </div>*@
            </div>
        </div>
    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                                                    .Icon("save")
                                                    .Hint("Save Changes")
                                                    .Text("Save")
                                                    .Type(ButtonType.Success)
                                                    .OnClick("doSave")
            )
        </div>
    </div>

</form>

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
        </div>
    </div>*@

