@*@model WebApp.Entity.DailyExecutionsDTO*@
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Quotations List";
    string titolo = ViewData["Title"].ToString();

    bool bManage = User.IsInRole(Lookup.Role_Quotation);

}

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // Ready
        });
    });

    function toolbar_preparing(e) {
        var dataGrid = e.component;

        if ('@bManage' == 'True') {
            e.toolbarOptions.items.unshift({
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "add",
                    onClick: function () {
                        $("#list").attr("action", "/Quotations/Edit?id=-1");
                        $("#list").submit();
                        return false;

                        //bootbox.prompt("Insert Account Name and press OK to create a new quotation", function (result) {
                        //    if ((result || "") != "") {
                        //        var input = $("<input>")
                        //            .attr("type", "hidden")
                        //            .attr("name", "customerName").val(result);
                        //        $('#list').append($(input));
                        //        $("#list").attr("action", '/Quotations/Create');
                        //        $("#list").attr("method", "GET");
                        //        $("#list").submit();
                        //        return false;
                        //    };
                        //});
                    }
                }
            });
        }
    }

    //function getDataGridInstance() {
    //    return $("#grid-container").dxDataGrid("instance");
    //}

    //function goDelete(id) {
    //    getDataGridInstance().byKey(id).done(function (dataObject) {
    //        bootbox.confirm("Cancellare '" + dataObject.ragioneSociale + "' ?", function (result) {
    //            if (result) {
    //                $("#elenco").attr("action", "/Cliente/Delete/" + id);
    //                $("#elenco").submit();
    //            }
    //        })
    //    }).fail(function (error) {
    //        // handle error
    //        alert(error);
    //    });
    //    return false;
    //}
    function goDetails(id) {
        getLoadPanelInstance().show();
        $("#list").attr("action", "/Quotations/Details?id=" + id);
        $("#list").submit();
        return false;
    }

    
    function goComplete(id) {
        //$("#list").attr("action", "/Quotations/Details?id=" + id);
        //$("#list").submit();
        alert('Complete ' + id);
        return false;
    }

    function cell_prepared(options) {
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "<a href='#' onclick='goDetails(" + options.value + ");' class='fa fa-quora cmdDetail' title='Detail'></a>";
            //if (options.data.Status == 0) {
            //    var fieldHtml = fieldHtml + "&nbsp;<a href='#' onclick='goComplete(" + options.value + ");' class='fa fa-check-square-o cmdDetail' title='Complete Quotation'></a>";
            //}
            options.cellElement.html(fieldHtml);
        }
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            goDetails(data.QuotationId);
        }
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
</script>

<style type="text/css">
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }
    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }
    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    input, select {
        max-width: 800px;
    }

</style>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                    @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty_row">&nbsp;</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "list" }))
{

    @Html.AntiForgeryToken()
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
    {
<div class="row">
    @(Html.DevExtreme().LoadPanel()
                .ID("loadPanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(false)
                .CloseOnOutsideClick(true)
                .OnShown("loadPanel_shown")
    )
    @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.WebApi().Controller("Quotations").LoadAction("Get").Key("QuotationId"))
                    .RemoteOperations(true)
                    .OnCellPrepared("cell_prepared")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .OnSelectionChanged("selection_changed")
                    .FilterRow(filterRow => filterRow
                           .Visible(true)
                           .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    //.HeaderFilter(headerFilter => headerFilter.Visible(true))
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    //.StateStoring(s => s.Enabled(false)  // ?? RIPRISTINA
                    //                .Type(StateStoringType.SessionStorage)
                    //                .StorageKey("QuotationsList")
                    //)
                    .Columns(columns =>
                    {
                        columns.Add().DataField("QuotationId").Visible(false);
                        columns.Add().DataField("TmstCreate").Visible(false).SortOrder(SortOrder.Desc);
                        columns.Add().DataField("CommercialEntity.Description").Caption("Commercial Entity").Width("15%");
                        columns.Add().DataField("CustomerName").Caption("Account Name").Width("25%");
                        columns.Add().DataField("CustomerAddress").Caption("Customer Address").Width("25%");
                        columns.Add().DataField("ReferencePerson").Caption("Reference Person").Width("15%");
                        //columns.Add().DataField("customerTypeDeco").Caption("Type").Width(80);
                        columns.Add().DataField("statusDeco").Caption("Status").Width("10%");
                        columns.Add().DataField("SaleTypeDeco").Caption("Type of Sale").Width("10%");
                //columns.Add().DataField("contractTypeDeco").Caption("Type of Deal").Width(80);
                //columns.Add().DataField("contractDuration").Caption("Duration").Width(80);
                //columns.Add().DataField("instrumentType.description").Caption("Instrument Type").Width(100);
                columns.Add()
                    .Alignment(HorizontalAlignment.Center)
                    .Width("10%")
                    .DataField("QuotationId")
                    .AllowFiltering(false)
                    .AllowSorting(false)
                    .AllowEditing(false)
                    .AllowExporting(false)
                    .Caption("")
                    .Name("cmd");
                })
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
            //.Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
            .Export(e => e.Enabled(true).FileName("Quotations").AllowExportSelectedData(false))
            .OnToolbarPreparing("toolbar_preparing")
    )
</div>
    }
}
