﻿@model WebApp.Entity.AssaysUtilizationDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Assays Utilization";
    string titolo = ViewData["Title"].ToString();
    string strSummary = (@Model.summary).Replace("\n", "</br>");
    decimal PercRunElite = 0;
    decimal PercRunOther = 0;
    if (Model.TotRun > 0)
    {
        PercRunElite = (Model.CntRunAssayElite * 100 / Model.TotRun);
        PercRunOther = 100 - PercRunElite;
    }
}

<style type="text/css">
    .subTotal {
        /*font-weight: bold;*/
        /*background-color: #f2f2f2;*/
    }

    .subValid {
        color: darkgreen;
        /*background-color: #f2f2f2;*/
    }

    .subInvalid {
        color: #ff9900;
        /*background-color: #f2f2f2;*/
    }

    .subError {
        color: red;
        /*background-color: #f2f2f2;*/
    }

    #CommercialEntity {
        border: solid 1px lightgray !important;
    }

    .modal-lg {
        width: 85%;
    }

    #filter > div.row {
        margin-bottom: 8px;
    }
</style>

<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesSel));
    var selCity = @Html.Raw(Json.Serialize(Model.citiesSel));
    var selCustomerCode = @Html.Raw(Json.Serialize(Model.customersSel));
    var selSiteCode = @Html.Raw(Json.Serialize(Model.siteCodesSel));
    var selInstrument = @Html.Raw(Json.Serialize(Model.instrumentsSel));
    var selModelType = @Html.Raw(Json.Serialize(Model.modelTypesSel));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if (@Model.series.Count == 0) {
                $("#pieContainer").hide();
            }
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            selCity = newValue;
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }
    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }
    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            selSiteCode = newValue;
            refreshInstrument(selInstrument);
        }
    }
    function ModelType_valueChanged(e) {
        var newValue = (e.value || '');
        if (selModelType != newValue) {
            selModelType = newValue;
            refreshInstrument(selInstrument);
        }
    }
    function Instrument_valueChanged(e) {
        var newValue = (e.value || '');
        if (selInstrument != newValue) {
            selInstrument = newValue;
        }
    }
    function refreshCity(valore) {
        var tagBox = $("#citiesSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.City.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshCustomer(valore) {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshSite(valore) {
        var tagBox = $("#siteCodesSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        if ('' != (selCustomerCode || '')) {
            var ds = tagBox.getDataSource().reload().done(function (result) {
                var dati = JSON.stringify(result, null, 4);
                if (selectedCurr != null) {
                    $.each($.parseJSON(dati), function (idx, obj) {
                        for (var i = 0; i < selectedCurr.length; i++) {
                            if (selectedCurr[i].toUpperCase() == obj.SiteCode.toUpperCase()) {
                                selectedNew.push(selectedCurr[i]);
                            }
                        }
                    });
                }
                tagBox.option('value', selectedNew);
            });
        } else {
            $("#siteCodesSel").dxTagBox("instance").option('value', '');
        }
    }

    function refreshInstrument(valore) {
        var tagBox = $("#instrumentsSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.SerialNumber.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function openFilters() {
        $('#myModal').modal('toggle');
    }

    function getChartInstance() {
        return $("#pie-chart").dxPieChart("instance");
    }
    function printChart() {
        getChartInstance().print();
    }
    function exportChart() {
        getChartInstance().exportTo("AssayUtilization", "jpeg");
        return false;
    }
    function exportGrid() {
        getLoadPanelInstance().option("message", "Exporting...");
        getLoadPanelInstance().show();
        goSubmit("export", "Exporting...");
    }
    function resetFilters() {

        selCountry = "";
        selCity = "";
        selCustomerCode = "";
        selSiteCode = "";
        selInstrument = "";
        selModelType = "";

        var dataInizio = new Date();
        dataInizio = add_months(dataInizio, -1);
        $("#DateFrom").dxDateBox("instance").option('value', dataInizio);
        $("#DateTo").dxDateBox("instance").option('value', new Date());
        if ('@Model.lockCountry'.toLowerCase() == 'false') {
            $("#countriesSel").dxTagBox("instance").option('value', '');
        }
        $("#citiesSel").dxTagBox("instance").option('value', '');
        if ('@Model.lockCustomer'.toLowerCase() == 'false') {
            $("#customersSel").dxTagBox("instance").option('value', '');
        }
        $("#siteCodesSel").dxTagBox("instance").option('value', '');
        $("#instrumentsSel").dxTagBox("instance").option('value', '');
        $("#modelTypesSel").dxTagBox("instance").option('value', '');
        if ('@Model.lockRegion'.toLowerCase() == 'false') {
            $("#regionsSel").dxTagBox("instance").option('value', '');
        }
        if ('@Model.lockArea'.toLowerCase() == 'false') {
            $("#Area").dxLookup("instance").option('value', '');
        }
        $("#CommercialStatus").dxLookup("instance").option('value', '');
        if ('@Model.lockCommerialEntity'.toLowerCase() == 'false') {
            $("#commercialEntitiesSel").dxTagBox("instance").option('value', '');
        }
        $("#InstallDateFrom").dxDateBox("instance").option('value', null);
        $("#InstallDateTo").dxDateBox("instance").option('value', null);
        $("#excludeSatSun").dxCheckBox("instance").option('value', false);
        $("#SampleType").dxLookup("instance").option('value', '');
        $("#PathogenName").dxLookup("instance").option('value', '');
        $("#excludeDismiss").dxCheckBox("instance").option('value', false);
    }
    function add_months(dt, n)
    {
        return new Date(dt.setMonth(dt.getMonth() + n));
    }
    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
    function ShowSum(data) {
        return Number(data.value).toLocaleString();
        //return data.value;
    }
    function goSubmit(opt, msg) {
        $('#myModal').hide();
        getLoadPanelInstance().option("message", (msg || "Loading..."));
        getLoadPanelInstance().show();
        $("#opt").val(opt || '');
        $("#dashboard").attr("action", '@Url.Action("AssaysUtilization", "Dashboard")');
        $("#dashboard").submit();
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 3000);
    }
    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    @(Html.DevExtreme().LoadPanel()
            .ID("loadPanel")
            .ShadingColor("rgba(0,0,0,0.2)")
            .Visible(false)
            .ShowIndicator(true)
            .ShowPane(true)
            .Shading(true)
            .CloseOnOutsideClick(true)
            .OnShown("loadPanel_shown")
    )
    @Html.Hidden("opt");
    @Html.AntiForgeryToken()

    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_AssayUtilization">

    @*<div id="sfondo"></div>*@
    <div id="main">
        <div class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button()
                                                            .Icon("fa fa-info-circle")
                                                            .Hint("Function Documentation")
                                                           .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                                            .Icon("print")
                                                            .Hint("Print Chart")
                                                            .OnClick("printChart")
                        )
                        @(Html.DevExtreme().Button()
                                                            .Icon("export")
                                                            .Hint("Export Chart")
                                                            .OnClick("exportChart")
                        )
                        @(Html.DevExtreme().Button()
                                                            .Icon("fa fa-file-excel-o")
                                                            .Hint("Export Details")
                                                            .OnClick("exportGrid")
                        )
                        @(Html.DevExtreme().Button()
                                                            .Icon("glyphicon glyphicon-filter")
                                                            .Hint("Filters")
                                                            .OnClick("openFilters")
                        )
                    </div>
                </div>
            </div>
            <div class="long-title"><h3 style="margin: 2px;">@titolo</h3></div>
            <div class="text-center sub-title">@Html.Raw(strSummary)</div>
            <div class="empty_row">&nbsp;</div>
            <div class="row" id="pieContainer">
                @(Html.DevExtreme().PieChart()
                                    .ID("pie-chart")
                                    .DataSource(Model.series)
                                    .Size(s => s.Width(1200).Height(500))
                                    .Palette(VizPalette.Bright)
                                    .Type(PieChartType.Doughnut)
                                    .Series(s => s
                                        .Add()
                                        .ArgumentField("pathogen_name")
                                        .ValueField("num_test")
                                        .Label(l => l
                                                .Visible(true)
                                                //.Font(f => f.Size(12))
                                                .Connector(c => c
                                                    .Visible(true)
                                                    .Width(0.5)
                                                )
                                        //.Position(PieChartLabelPosition.Columns)
                                        .CustomizeText(@<text>
                                                                function(arg) { return arg.argumentText + " (" + arg.percentText + ")"; }
                                                        </text>)
                                    )
                                    .SmallValuesGrouping(g => g.Mode(SmallValuesGroupingMode.TopN).TopCount(10).GroupName("Other Assays"))
                                    )
                                    .OnPointClick(@<text>
                                        function (e) {
                                        var point = e.target;
                                        toggleVisibility(point);
                                        }
                                    </text>)
                                    .OnLegendClick(@<text>
                                        function (e) {
                                        var arg = e.target;
                                        toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
                                        }
                                    </text>)
                )
            </div>
            <div class="empty_row"></div>
            <div class="row">
                <div class="col-md-3">Number of Instruments: <span style="font-weight: bold; font-size:18px">@Model.cntInstruments</span></div>
                <div class="col-md-3">Number of Pathogens: <span style="font-weight: bold; font-size:18px">@Model.series.Count</span></div>
                <div class="col-md-3 text-right">Assays Elitech: <span style="font-weight: bold; font-size:18px">@PercRunElite %</span></div>
                <div class="col-md-3 text-right">Assays Third Parts: <span style="font-weight: bold; font-size:18px">@PercRunOther %</span></div>
            </div>
            <div class="empty_row"></div>
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                                .ID("gridContainer")
                                .DataSource(Model.details)
                                .AllowColumnResizing(true)
                                //.ColumnResizingMode(ColumnResizingMode.Widget)
                                .ShowRowLines(true)
                                .ColumnFixing(ColumnFixing => ColumnFixing.Enabled(true))
                                .Columns(c =>
                                {
                                    c.Add().DataField("pathogen_name").Caption("Pathogen").Width(200).Fixed(true);
                                //c.Add().DataField("assay_type").Caption("Assay Type");
                                //c.Add().DataField("total").Caption("Total");
                                c.Add().Caption("N.Test")
                                            .Columns(a =>
                                            {
                                                a.Add().DataField("num_test_v").Caption("Valid").Width(75).CssClass("subValid");
                                                a.Add().DataField("num_test_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                                a.Add().DataField("num_test_e").Caption("Error").Width(75).CssClass("subError");
                                                a.Add().DataField("num_test").Caption("Total").Width(75).CssClass("subTotal");
                                            });
                                    c.Add().Caption("N.Sample")
                                            .Columns(a =>
                                            {
                                                a.Add().DataField("num_sample_v").Caption("Valid").Width(75).CssClass("subValid");
                                                a.Add().DataField("num_sample_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                                a.Add().DataField("num_sample_e").Caption("Error").Width(75).CssClass("subError");
                                                a.Add().DataField("num_sample").Caption("Total").Width(75).CssClass("subTotal");
                                            });
                                    c.Add().Caption("N.Calibrator")
                                            .Columns(a =>
                                            {
                                                a.Add().DataField("num_calibrator_v").Caption("Valid").Width(75).CssClass("subValid");
                                                a.Add().DataField("num_calibrator_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                                a.Add().DataField("num_calibrator_e").Caption("Error").Width(75).CssClass("subError");
                                                a.Add().DataField("num_calibrator").Caption("Total").Width(75).CssClass("subTotal");
                                            });
                                    c.Add().Caption("N.Control")
                                            .Columns(a =>
                                            {
                                                a.Add().DataField("num_control_v").Caption("Valid").Width(75).CssClass("subValid");
                                                a.Add().DataField("num_control_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                                a.Add().DataField("num_control_e").Caption("Error").Width(75).CssClass("subError");
                                                a.Add().DataField("num_control").Caption("Total").Width(75).CssClass("subTotal");
                                            });
                                //c.Add().DataField("invalid").Caption("Invalid");
                                //c.Add().DataField("error").Caption("Aborted").Width(75);
                                c.Add().DataField("invalid").Caption("Aborted").Width(75);
                                })
                                .FilterRow(filterRow => filterRow
                                    .Visible(true).ApplyFilter(GridApplyFilterMode.Auto)
                                )
                                .Summary(s => s.TotalItems(items =>
                                {
                                //items.Add().Column("total").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                                items.Add().Column("num_test_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                                    items.Add().Column("num_test_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                                    items.Add().Column("num_test_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                                    items.Add().Column("num_test").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                                    items.Add().Column("num_sample_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                                    items.Add().Column("num_sample_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                                    items.Add().Column("num_sample_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                                    items.Add().Column("num_sample").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                                    items.Add().Column("num_calibrator_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                                    items.Add().Column("num_calibrator_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                                    items.Add().Column("num_calibrator_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                                    items.Add().Column("num_calibrator").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                                    items.Add().Column("num_control_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                                    items.Add().Column("num_control_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                                    items.Add().Column("num_control_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                                    items.Add().Column("num_control").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                                //items.Add().Column("invalid").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                                //items.Add().Column("error").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                                items.Add().Column("invalid").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                                })
                            )
                            .Paging(p => p.PageSize(20))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                )
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assays Utilization - Filters</h4>
                </div>
                <div class="modal-body">
                    <section id="filtri">
                        <div id="filter">
                            <div class="row">
                                <div class="option col-md-3 col-xs-6">
                                    <span>Period</span>
                                    @(Html.DevExtreme().DateBoxFor(m => m.DateFrom)
                                                                                        .ID("DateFrom")
                                                                                        .Width("100%")
                                                                                        .Min("2000/01/01")
                                                                                        .Max("2999/12/31")
                                                                                        .DisplayFormat("dd/MM/yyyy")
                                    )
                                </div>
                                <div class="option col-md-3 col-xs-6">
                                    <span>&nbsp;</span>
                                    @(Html.DevExtreme().DateBoxFor(m => m.DateTo)
                                                                                        .ID("DateTo")
                                                                                        .Width("100%")
                                                                                        .Min("2000/01/01")
                                                                                        .Max("2999/12/31")
                                                                                        .DisplayFormat("dd/MM/yyyy")
                                    )
                                </div>
                                <div class="col-md-6">
                                    <p style="font-size:10px;">&nbsp;</p>
                                    @(Html.DevExtreme().CheckBoxFor(m => m.excludeSatSun).ID("excludeSatSun").Text("Saturday/Sunday Excluded").ID("excludeSatSun"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Country</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                                                    .ID("countriesSel")
                                                                    .DataSource(Model.countries)
                                                                    .DisplayExpr("Country")
                                                                    .ValueExpr("Country")
                                                                    .SearchEnabled(true)
                                                                    .Placeholder("select...")
                                                                    .ShowClearButton(true)
                                                                    .Value(Model.countriesSel)
                                                                    .InputAttr("autocomplete", "true")
                                                                    .OnValueChanged("Country_valueChanged")
                                                                    .Disabled(Model.lockCountry)
                                    )
                                </div>
                                <div class="col-md-6">
                                    <span>City</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.citiesSel)
                                                                    .ID("citiesSel")
                                                                        .DataSource(d => d.Mvc().Controller("Customers")
                                                                                            .LoadAction("getCities")
                                                                                            .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                                            .Key("City")
                                                                                    )
                                                                    .DataSourceOptions(o => o.PageSize(999))
                                                                    .ValueExpr("City")
                                                                    .DisplayExpr("City")
                                                                    .SearchEnabled(true)
                                                                    .Placeholder("select...")
                                                                    .ShowClearButton(true)
                                                                    .Value(Model.citiesSel)
                                                                    .OnValueChanged("City_valueChanged")
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Customer</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                                                        .ID("customersSel")
                                                                        .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                                                                .LoadParams(new
                                                                                                {
                                                                                                    Country = new JS("function() { return selCountry; }"),
                                                                                                    City = new JS("function() { return selCity; }")
                                                                                                }).Key("CustomerCode"))
                                                                        .DataSourceOptions(o => o.PageSize(999))
                                                                        .ValueExpr("CustomerCode")
                                                                        .DisplayExpr("CompanyName")
                                                                        .SearchEnabled(true)
                                                                        .Placeholder("select...")
                                                                        .ShowClearButton(true)
                                                                        .Value(Model.customersSel)
                                                                        .OnValueChanged("Customer_valueChanged")
                                                                        .Disabled(Model.lockCustomer)
                                    )
                                </div>
                                <div class="col-md-6">
                                    <span>Site</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.siteCodesSel)
                                                                                .ID("siteCodesSel")
                                                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                                                                .LoadAction("GetSites")
                                                                                                .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                                                                .Key("SiteCode")
                                                                                                )
                                                                                .DataSourceOptions(o => o.PageSize(999))
                                                                                .ValueExpr("SiteCode")
                                                                                .DisplayExpr("SiteDescription")
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .Value(Model.siteCodesSel)
                                                                                .OnValueChanged("Site_valueChanged")
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <span>Instrument</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.instrumentsSel)
                                                        .ID("instrumentsSel")
                                                        .DataSource(d => d.Mvc().Controller("Customers").LoadAction("GetInstruments")
                                                                    .LoadParams(new
                                                                    {
                                                                        CustomerCode = new JS("function() { return selCustomerCode; }"),
                                                                        SiteCode = new JS("function() { return selSiteCode; }"),
                                                                        Country = new JS("function() { return selCountry; }"),
                                                                        City = new JS("function() { return selCity; }"),
                                                                        modelType = new JS("function() { return selModelType; }")
                                                                    })
                                                                    .Key("SerialNumber")
                                                                    )
                                                        .DataSourceOptions(o => o.PageSize(999))
                                                        .ValueExpr("SerialNumber")
                                                        .DisplayExpr("SerialNumberInfo")
                                                        .SearchEnabled(true)
                                                        .Placeholder("select...")
                                                        .ShowClearButton(true)
                                                        .Value(Model.instrumentsSel)
                                                        .OnValueChanged("Instrument_valueChanged")
                                    )
                                </div>
                                <div class="col-md-2">
                                    <p style="font-size:10px;">&nbsp;</p>
                                    @(Html.DevExtreme().CheckBoxFor(m => m.excludeDismiss).Text("Exclude Dismissed").ID("excludeDismiss"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span>Instrument Model</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.modelTypesSel)
                                                                        .ID("modelTypesSel")
                                                                        .DataSource(Model.modelTypes)
                                                                        .DisplayExpr("descrizione")
                                                                        .ValueExpr("id")
                                                                        .SearchEnabled(true)
                                                                        .Placeholder("select...")
                                                                        .ShowClearButton(true)
                                                                        .Value(Model.modelTypesSel)
                                                                        .OnValueChanged("ModelType_valueChanged")
                                    )
                                </div>
                                <div class="col-md-4">
                                    <span>Region</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.regionsSel)
                                                                                .ID("regionsSel")
                                                                                .DataSource(Model.regions)
                                                                                .DisplayExpr("Region")
                                                                                .ValueExpr("Region")
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .Value(Model.regionsSel)
                                                                                .Disabled(Model.lockRegion)
                                    )
                                </div>
                                <div class="col-md-4">
                                    <span>Area</span>
                                    @(Html.DevExtreme().LookupFor(m => m.Area)
                                                                                .ID("Area")
                                                                                .DataSource(Model.areas)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("Area")
                                                                                .DisplayExpr("Area")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ShowCancelButton(false)
                                                                                .ClearButtonText("Remove Sel.")
                                                                                .Disabled(Model.lockArea)
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span>Commercial Status</span>
                                    @(Html.DevExtreme().LookupFor(m => m.commercialStatus)
                                                                                .ID("CommercialStatus")
                                                                                .DataSource(Model.commercialStatuses)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("CommercialStatus")
                                                                                .DisplayExpr("CommercialStatus")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ShowCancelButton(false)
                                                                                .ClearButtonText("Remove Sel.")
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span>Commercial Entity</span>
                                    @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                                                                .ID("commercialEntitiesSel")
                                                                                .DataSource(Model.commercialEntities)
                                                                                .DisplayExpr("CommercialEntity")
                                                                                .ValueExpr("CommercialEntity")
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .Value(Model.commercialEntitiesSel)
                                                                                .Disabled(Model.lockCommerialEntity)
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="option col-md-3 col-xs-6">
                                    <span>Installation Date From</span>
                                    @(Html.DevExtreme().DateBoxFor(m => m.InstallDateFrom)
                                                                                .ID("InstallDateFrom")
                                                                                .Width("100%")
                                                                                .Min("2000/01/01")
                                                                                .Max("2999/12/31")
                                                                                .ShowClearButton(true)
                                                                                .DisplayFormat("dd/MM/yyyy")
                                    )
                                </div>
                                <div class="option col-md-3 col-xs-6">
                                    <span>Installation Date To</span>
                                    @(Html.DevExtreme().DateBoxFor(m => m.InstallDateTo)
                                                                                .ID("InstallDateTo")
                                                                                .Width("100%")
                                                                                .Min("2000/01/01")
                                                                                .Max("2999/12/31")
                                                                                .ShowClearButton(true)
                                                                                .DisplayFormat("dd/MM/yyyy")
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Sample Type</span>
                                    @(Html.DevExtreme().LookupFor(m => m.SampleType)
                                                                        .ID("SampleType")
                                                                        .DataSource(new List<object> {
                                                                                                                            new { SampleType = 0, SampleType_Description = "Sample" },
                                                                                                                            new { SampleType = 1, SampleType_Description = "Calibrator"},
                                                                                                                            new { SampleType = 2, SampleType_Description = "Control"}
                                                                                        }
                                                                                    )
                                                                        .ValueExpr("SampleType")
                                                                        .DisplayExpr("SampleType_Description")
                                                                        .Placeholder("select...")
                                                                        .SearchPlaceholder("search")
                                                                        .CancelButtonText("Cancel")
                                                                        .ShowClearButton(true)
                                                                        .ClearButtonText("Remove Sel.")
                                    )
                                </div>
                                <div class="col-md-6">
                                    <span>Pathogen Name</span>
                                    @(Html.DevExtreme().LookupFor(m => m.PathogenName)
                                                                                .ID("PathogenName")
                                                                                .DataSource(Model.Pathogens)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("Name")
                                                                                .DisplayExpr("Name")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ClearButtonText("Remove Sel.")
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2" style="vertical-align:bottom;">
                                <span>&nbsp;</span>
                                <a href="#" onclick="resetFilters();" class="btn btn-link btn-block" style="font-size:12px;">Reset Filters</a>
                            </div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-6">
                                <span>&nbsp;</span>
                                <input type="button" onclick="goSubmit();" value="Apply" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
