﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Dashboard";
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    /*Chart*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .option {
        margin-top: 10px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }


    /*icon bar*/
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }

        .icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
        }

            .icon-bar a:hover {
                background-color: #000;
            }

    .active {
        background-color: #4CAF50 !important;
    }
</style>

<script type="text/javascript">

    function goToDailyExecutions() {
        $("#dashboard").attr("action", '@Url.Action("DailyExecutions", "Dashboard")');
        $("#dashboard").submit();
        return false;
    }

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    <div id="main">
        <div id="sfondo"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                        @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-4 col-sm-6" onclick="goToDailyExecutions();" style="cursor: pointer">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Daily Executions</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" onclick="alert('Work in progress...');" style="cursor: pointer">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Assays Utilization</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" onclick="alert('Work in progress...');" style="cursor: pointer">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <h4>Comparison</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@*

    <div id="chart-demo" style="margin: 50px;">
        @(Html.DevExtreme().Chart()
                            .ID("line-chart")
                            .Palette(VizPalette.Violet)
                            .CommonSeriesSettings(s => s
                                .ArgumentField("Country")
                                .Type(SeriesType.Line)
                            )
                            .Margin(m => m.Bottom(20))
                            .ArgumentAxis(a => a
                                .ValueMarginsEnabled(false)
                                .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                .Grid(g => g.Visible(true))
                            )
                            .Series(s =>
                            {
                                s.Add().ValueField("Hydro").Name("Hydro-electric");
                                s.Add().ValueField("Oil").Name("Oil");
                                s.Add().ValueField("Gas").Name("Natural gas");
                                s.Add().ValueField("Coal").Name("Coal");
                                s.Add().ValueField("Nuclear").Name("Nuclear");
                            })
                            .Legend(l => l
                                .VerticalAlignment(VerticalEdge.Bottom)
                                .HorizontalAlignment(HorizontalAlignment.Center)
                                .ItemTextPosition(Position.Bottom)
                            )
                            .Title(t => t
                                .Text("Energy Consumption in 2004")
                                .Subtitle(s => s.Text("(Millions of Tons, Oil Equivalent)"))
                            )
                            .Export(e => e.Enabled(true))
                            .Tooltip(t => t
                                .Enabled(true)
                                .CustomizeTooltip(@<text>
                                function (arg) {
                                return {
                                text: arg.valueText
                                };
                                }
                                </text>)
                            )
                        .DataSource(new List<object> {
                            new { Country = "USA", Hydro = 59.8, Oil = 937.6, Gas = 582, Coal = 564.3, Nuclear = 187.9 },
                            new { Country = "China", Hydro = 74.2, Oil = 308.6, Gas = 35.1, Coal = 956.9, Nuclear = 11.3 },
                            new { Country = "Russia", Hydro = 40, Oil = 128.5, Gas = 361.8, Coal = 105, Nuclear = 32.4 },
                            new { Country = "Japan", Hydro = 22.6, Oil = 241.5, Gas = 64.9, Coal = 120.8, Nuclear = 64.8 },
                            new { Country = "India", Hydro = 19, Oil = 119.3, Gas = 28.9, Coal = 204.8, Nuclear = 3.8 },
                            new { Country = "Germany", Hydro = 6.1, Oil = 123.6, Gas = 77.3, Coal = 85.7, Nuclear = 37.8 }
                        })
        )

        <div class="options">
            <div class="caption">Options</div>
            <div class="option">
                <span>Series Type</span>
                @(Html.DevExtreme().SelectBox()
                                    .DataSource(new[] {
                                SeriesType.Line,
                                SeriesType.StackedLine,
                                SeriesType.FullStackedLine
                                    })
                                    .Value(SeriesType.Line)
                                    .OnValueChanged(@<text>
                                    function (e) {
                                    $("#line-chart").dxChart("option", "commonSeriesSettings.type", e.value);
                                    }
                                    </text>)
                )
            </div>
        </div>
    </div>
*@