﻿@model WebApp.Entity.DailyExecutionsDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Daily Executions";
    string title = ViewData["Title"].ToString();
}

<script type="text/javascript">

    function dateFrom_changed(data) {
        alert(data.value);
        //getCalendarInstance().option("value", data.value);
    }

    function dateTo_changed(data) {
        alert(data.value);
        //getCalendarInstance().option("value", data.value);
    }

</script>


<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                    @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                </div>
            </div>
        </div>
        <div class="empty_row">&nbsp;</div>
        <div id="filters" class="row">
            <div class="option col-md-3">
                <span>Selected date</span>
                @(Html.DevExtreme().DateBox()
                            .ID("dateFrom")
                            .Value(DateTime.Now)
                            .Width("100%")
                            .OnValueChanged("dateFrom_changed")
                            .DisplayFormat("dd/MM/yyyy")
                )
            </div>
            <div class="option col-md-3">
                <span>&nbsp;</span>
                @(Html.DevExtreme().DateBox()
                            .ID("DateTo")
                            .Value(DateTime.Now)
                            .Width("100%")
                            .OnValueChanged("dateTo_changed")
                            .DisplayFormat("dd/MM/yyyy")
                )
            </div>
            @*<div class="dx-field">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                      .Icon("check")
                      .Text("Refresh")
                    .UseSubmitBehavior(true)
                    )
                </div>
            </div>*@
            @*<div class="col-md-2" style="vertical-align:bottom;">
            <input type="submit" value="Refresh" class="btn btn-success" />
        </div>*@
        </div>
            <div class="row">
                <div id="chart-demo">
                    @(Html.DevExtreme().Chart()
                                    .ID("line-chart")
                                    //.DataSource(d => d.WebApi().Controller("Dashboard").LoadAction("GetDailyExecutions"))
                                    .DataSource(Model.series)
                                    .Palette(VizPalette.Material)

                                    //.ScrollBar(s => s.Visible(true))
                                    //.ScrollingMode(ChartPointerType.All)
                                    //.ZoomingMode(ChartPointerType.All)

                                    .OnDone(@<text>
                                    function(e) {
                                    e.component.zoomArgument(300, 500);
                                    }
                                    </text>)

                                                                                .CommonSeriesSettings(s => s
                                                                                    .ArgumentField("StartRunDateRif")
                                                                                    //.Type(SeriesType.Line)
                                                                                    .Type(SeriesType.Spline)
                                                                                    .HoverMode(ChartSeriesHoverMode.IncludePoints)
                                                                                    .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
                                                                                )
                                                                                .Margin(m => m.Bottom(50))
                                                                                .ArgumentAxis(a => a
                                                                                    .ValueMarginsEnabled(false)
                                                                                    .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                                                                    .Grid(g => g.Visible(true))
                                                                                    .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
                                                                                )
                                                                                .Series(s =>
                                                                                {
                                                                                    s.Add().ValueField("num_test").Name("N.Test");
                                                                                    s.Add().ValueField("process_pcr").Name("PCR");
                                                                                    s.Add().ValueField("process_extr").Name("Extraction");
                                                                                })
                                                                                .Legend(l => l
                                                                                    .VerticalAlignment(VerticalEdge.Bottom)
                                                                                    .HorizontalAlignment(HorizontalAlignment.Center)
                                                                                    .ItemTextPosition(Position.Bottom)
                                                                                )
                                                                                .Title(t => t
                                                                                    .Text(title)
                                                                                )
                                                                                .Size(s => s.Height(500))
                                                                                .Export(e => e.Enabled(true))
                                                                                .Tooltip(t => t
                                                                                    .Enabled(true)
                                                                                    .CustomizeTooltip(@<text>
                                                                                    function (arg) {
                                                                                    return {
                                                                                    text: arg.valueText
                                                                                    };
                                                                                    }
                                                                                    </text>)
                                                                                                                                                            )
                    )
                </div>
            </div>
    </div>
</div>
