﻿
@{
    ViewData["Title"] = "Contact";
    string myVar = "GERMANY";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script type="text/javascript">
    function Email_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            alert(e.value);
        }
        return false;
    }
</script>


<script type="text/javascript">
    var impostaValore = function () {
        $("#PROVA").dxSelectBox("instance").option("value", 6);
    }
    var mostraValore = function () {
        var xValue = $("#PROVA").dxSelectBox("instance").option('value');
        var xText = $("#PROVA").dxSelectBox("instance").option('text');
        alert('>' + xValue + '< >' + xText + '<');
    }
</script>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        @(Html.DevExtreme().SelectBox()
                                .ID("PROVA")
                                .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetEmailTemplates").Key("EmailTemplateId"))
                                //.DeferRendering(false)
                                //.DisplayValue("subject")
                                .ValueExpr("emailTemplateId")
                                .OnValueChanged("Email_Change")
                                .DisplayExpr("subject")
                                //.Value("4")
                                .Placeholder("select...")
        )
    </div>
</div>

<br />
<button onclick="impostaValore();">SET</button>
<button onclick="mostraValore();">CHECK</button>


@{


    var tabs = new[] {
        new { id = 0, text = "user", icon = "user", content = "User tab content" },
        new { id = 1, text = "comment", icon = "comment", content = "Comment tab content" },
        new { id = 2, text = "find", icon = "find", content = "Find tab content" }
    };
}

<div id="longtabs">
    <div class="caption">Tabs</div>
    @(Html.DevExtreme().Tabs()
                .ID("tabs-container")
                .DataSource(tabs)
                .SelectedIndex(0)
                .OnItemClick("tabs_itemClick")
    )
</div>

<div id="tab0">1</div>
<div id="tab1" hidden>2</div>
<div id="tab2" hidden>3</div>
<script>
    function tabs_itemClick(e) {
        $("#tab0").hide();
        $("#tab1").hide();
        $("#tab2").hide();
        $("#tab" + e.itemData.id).show();
        $("#tab" + e.itemData.id).html(e.itemData.content);
    }

    //function selectBox_valueChanged(e) {
    //    var tabsInstance = $("#tabs-container").dxTabs("instance");
    //    var tabs = tabsInstance.getDataSource().items();
    //    tabsInstance.option("selectedIndex", e.value);
    //    $(".left-aligned").text(tabs[e.value].content);
    //}
</script>

