﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Dashboard";

    bool bAbilitaInstallBase = User.IsInRole(Lookup.Role_DataImport) || User.IsInRole(Lookup.Role_Upload_DataMain) ||
                               User.IsInRole(Lookup.Role_Upload_Assays) || User.IsInRole(Lookup.Role_Upload_InstallBase);
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
    }

    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/ExtraStats_Dashboard.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.15;
    }

    /*Chart*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }
    .option {
        margin-top: 10px;
    }
    .caption {
        font-size: 18px;
        font-weight: 500;
    }
    .option > span {
        margin-right: 10px;
    }
    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }
    .active {
        background-color: #4CAF50 !important;
    }
    .panel {
        min-width: 130px;
    }
    .panel-text {
        height: 75px;
        max-height: 75px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
    .tool-container {
        margin: 0px;
    }
</style>

<script type="text/javascript">
    function goToDailyExecutions() {
        $("#dashboard").attr("action", '@Url.Action("DailyExecutions", "Dashboard")?opt=init');
        $("#dashboard").submit();
        return false;
    }
    function goToInstallBase() {
        $("#dashboard").attr("action", '@Url.Action("index", "InstallBase")');
        $("#dashboard").submit();
        return false;
    }
    function goToLogFiles() {
        $("#dashboard").attr("action", '@Url.Action("index", "LogFiles")');
        $("#dashboard").submit();
        return false;
    }
    function goToQuotationList() {
        $("#dashboard").attr("action", '@Url.Action("Index", "Quotations")');
        $("#dashboard").submit();
        return false;
    }
    function goToAssaysUtilization() {
        $("#dashboard").attr("action", '@Url.Action("AssaysUtilization", "Dashboard")?opt=init');
        $("#dashboard").submit();
        return false;
    }
    function goToAssaysProtocols() {
        $("#dashboard").attr("action", '@Url.Action("Index", "AssaysProtocols")');
        $("#dashboard").submit();
        return false;
    }
    function goToDataMining() {
        $("#dashboard").attr("action", '@Url.Action("index", "DataMining")');
        $("#dashboard").submit();
        return false;
    }
    function goToExtractionsRnD() {
        $("#dashboard").attr("action", '@Url.Action("indexRnD", "Extractions")');
        $("#dashboard").submit();
        return false;
    }

    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
    function goDownloadPrivacy() {
        $("#dashboard").append('<input type="hidden" name="fileName" value="Privacy Statement.pdf" /> ');
        $("#dashboard").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
    function goToTraining() {
        $("#dashboard").attr("action", '@Url.Action("index", "Trainings")');
        $("#dashboard").submit();
        return false;
    }
    function goTrainingParticipantList() {
        $("#dashboard").attr("action", '@Url.Action("ParticipantList", "Trainings")');
        $("#dashboard").submit();
        return false;
    }
    function goTrainingSummary() {
        $("#dashboard").attr("action", '@Url.Action("Summary", "Trainings")');
        $("#dashboard").submit();
        return false;
    }

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserManual">
    <div id="main">
        <div id="sfondo"></div>

        <section id="Logo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                            @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                        </div>
                    </div>
                    <div class="col-md-8 text-right h3" style="margin-top:5px;">
                        @(Html.DevExtreme().Button()
                                                .Icon(Url.Content("~/images/IFO.png"))
                                                .Hint("User Manual")
                                                .Text("User Manual")
                                                .Type(ButtonType.Normal)
                                                .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                                .Icon(Url.Content("~/images/privacy.png"))
                                                .Hint("Privacy Statement")
                                                .Text("Privacy Statement")
                                                .Type(ButtonType.Normal)
                                                .OnClick("goDownloadPrivacy")
                        )
                    </div>
                </div>
                <br />
            </div>
        </section>
        <div class="container">
            <section id="Instrument Data">
                @if (User.IsInRole(Lookup.Role_DailyExec_AssayUtil) || User.IsInRole(Lookup.Role_AssaysProtocols))
                {
                    <div class="row col-md-6 col-sm-8 tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center" style="padding: 5px 5px 5px 5px; font-weight:bold">Instrument Data</div>
                            <div class="panel-body" style="padding-bottom: 0px">
                                @if (User.IsInRole(Lookup.Role_DailyExec_AssayUtil))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToDailyExecutions();" style="cursor: pointer;">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Daily Executions</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToAssaysUtilization();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Assays Utilization</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_AssaysProtocols))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToAssaysProtocols();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Assays Protocols</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Quotation Tool">
                @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationApproval) || User.IsInRole(Lookup.Role_QuotationManager))
                {
                    <div class="row col-md-6 col-sm-8 tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center" style="padding: 5px 5px 5px 5px; font-weight:bold">Quotation Tool</div>
                            <div class="panel-body" style="padding-bottom: 0px;">

                                @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationManager))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToQuotationList();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                                    <i class="fa fa-quora fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Quotation</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_QuotationApproval))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="alert('Quotation Approval');" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                    <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Quotation Approval</h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </section>

            <section id="Tools">
                @if (bAbilitaInstallBase || User.IsInRole(Lookup.Role_LogFiles) || User.IsInRole(Lookup.Role_LogFilesSupervisor) || 
                    User.IsInRole(Lookup.Role_DataMining) || User.IsInRole(Lookup.Role_RnDAnalysis))
                {
                    <div class="row col-md-6 col-sm-8 tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center" style="padding: 5px 5px 5px 5px; font-weight:bold">Tools</div>
                            <div class="panel-body" style="padding-bottom: 0px;">

                                @if (bAbilitaInstallBase)
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToInstallBase();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: darkolivegreen;"></i>
                                                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Data Import</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_LogFiles) || User.IsInRole(Lookup.Role_LogFilesSupervisor))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToLogFiles();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: sandybrown;"></i>
                                                    <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Log Files</h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (User.IsInRole(Lookup.Role_DataMining))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToDataMining();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-magic fa-stack-1x fa-inverse"></i>

                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Data Mining</h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (User.IsInRole(Lookup.Role_RnDAnalysis))
                                {
                                    <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToExtractionsRnD();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: royalblue;"></i>
                                                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>R&D Analysis</h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </section>

            <section id="Training">
                @if (User.IsInRole(Lookup.Role_TrainingBackOffice))
                {
                    <div class="row col-md-6 col-sm-8 tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center" style="padding: 5px 5px 5px 5px; font-weight:bold">Training</div>
                            <div class="panel-body" style="padding-bottom: 0px;">
                                <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToTraining();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: darkmagenta;"></i>
                                                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>Training</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-12" onclick="goTrainingParticipantList();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>List of Attendees</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-12" onclick="goTrainingSummary();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: #668cff;"></i>
                                                <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>Summary</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

}




@*<div class="container">
        <div class="row">
            <div class="panel col-md-6 col-xs-12" style="padding: 0px;">
                <div class="panel-footer" onclick="goToDailyExecutions();" style="cursor: pointer">
                    <span class="text-center">Last Month - Daily Executions</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body" style="display: table; margin: 0 auto;">
                    <div id="chart-demo">
                        @(Html.DevExtreme().Chart()
                                .ID("line-chart")
                                .DataSource(d => d.WebApi().Controller("Dashboard").LoadAction("GetDailyExecutionsHomePage"))
                                .Palette(VizPalette.Default)
                                .OnDone(@<text>
                                function(e) {
                                e.component.zoomArgument(300, 500);
                                }
                                </text>)
                                        .CommonSeriesSettings(s => s
                                            .ArgumentField("StartRunDateRif")
                                            .Type(SeriesType.Line)
                                            .HoverMode(ChartSeriesHoverMode.IncludePoints)
                                            .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints).Visible(false))
                                            )
                                        //.Margin(m => m.Bottom(50))
                                        .Size(s => s.Height(300) .Width(300))
                                            .ArgumentAxis(a => a
                                            .ValueMarginsEnabled(false)
                                            .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                            .Grid(g => g.Visible(true))
                                            .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
                                            )
                                        .Series(s =>
                                        {
                                            s.Add().ValueField("num_test").Name("N.Test");
                                            s.Add().ValueField("process_pcr").Name("PCR");
                                            s.Add().ValueField("process_extr").Name("Extraction");
                                        })
                                        .Legend(l => l
                                            .VerticalAlignment(VerticalEdge.Bottom)
                                            .HorizontalAlignment(HorizontalAlignment.Center)
                                        //.ItemTextPosition(Position.Bottom)
                                        )
                                        //.Title(t => t
                                        //.Text("Last Month - Daily Executions")
                                        //.Font(f => f.Size("16px").Color("blue"))
                                        //)
                                        .Export(e => e.Enabled(false))
                                        .Tooltip(t => t
                                            .Enabled(true)
                                            .CustomizeTooltip(@<text>
                                            function (arg) {
                                            return { html: "<div class='text-center'><b>" + arg.valueText + "</b><br />" + arg.seriesName + "</div>"};
                                            }
                                            </text>)
                                )
                        )
                    </div>
                </div>
            </div>
            <div class="panel col-md-6 col-xs-12" style="padding: 0px;">
                <div class="panel-footer" onclick="alert('TO DO');" style="cursor: pointer">
                    <span class="text-center">Assays Utilization</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-body" style="display: table; margin: 0 auto;">
                    @(Html.DevExtreme().PieChart()
                                                    .ID("pie")
                                                    .Size(s => s.Height(300).Width(300))
                                                    .Palette(VizPalette.Bright)
                                                    .Legend(l => l
                                                    .VerticalAlignment(VerticalEdge.Bottom)
                                                    .HorizontalAlignment(HorizontalAlignment.Center)
                                                    .ItemTextPosition(Position.Bottom)
                                                    )

                                                    .Series(s => s
                                                        .Add()
                                                        .ArgumentField("TipoFile")
                                                        .ValueField("NumFile")
                                                        .Label(l => l
                                                        .Visible(true)
                                                        .Connector(c => c
                                                        .Visible(true)
                                                        .Width(1)
                                                        )
                                                    )
                                                )
                                      //.Title(t => t
                                      //    .Text("Assays Utilization")
                                      //    .Font(f => f.Size("18px").Color("blue"))
                                      //      )
                                      .OnLegendClick(@<text>
                                    function (e) {
                                    var arg = e.target;
                                    toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
                                    }
                                    </text>)
                                                                                                                                                     .DataSource(new List<object> {
                                                                                                                                        new { TipoFile = "File 1 OK", NumFile = 12 },
                                                                                                                                        new { TipoFile = "File 1 ERR", NumFile = 3 },
                                                                                                                                        new { TipoFile = "File 2 OK", NumFile = 0 },
                                                                                                                                        new { TipoFile = "File 2 ERR", NumFile = 7 },
                                                                                                                                        new { TipoFile = "File 3 OK", NumFile = 18 },
                                                                                                                                        new { TipoFile = "File 3 ERR", NumFile = 1 }
                                                                                                                                                     })
                    )
                </div>
            </div>
        </div>
    </div>*@

@*<div class="row">
    <div>
    <div ng-controller="ChartController">
    <div id="chart1" style="height: 200px; width: 300px;">
    @(Html.DevExtreme().Chart()
    .ID("line-chart5")
    .DataSource(d => d.WebApi().Controller("Dashboard").LoadAction("GetDailyExecutions"))
    .Palette(VizPalette.Default)
    .OnDone(@<text>
    function(e) {
    e.component.zoomArgument(300, 500);
    }
    </text>)
     .CommonSeriesSettings(s => s
      .ArgumentField("StartRunDateRif")
      .Type(SeriesType.Spline)
      .HoverMode(ChartSeriesHoverMode.IncludePoints)
      .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
     )
     .Margin(m => m.Bottom(50))
     .Size(s => s.Height(400))
     .ArgumentAxis(a => a
      .ValueMarginsEnabled(false)
      .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
      .Grid(g => g.Visible(true))
      .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
     )
     .Series(s =>
     {
      s.Add().ValueField("num_test").Name("N.Test");
      s.Add().ValueField("process_pcr").Name("PCR");
      s.Add().ValueField("process_extr").Name("Extraction");
     })
     .Legend(l => l
      .VerticalAlignment(VerticalEdge.Bottom)
      .HorizontalAlignment(HorizontalAlignment.Center)
      .ItemTextPosition(Position.Bottom)
     )
     .Title(t => t
      .Text("Daily Executions")
     )
     .Export(e => e.Enabled(false))
     .Tooltip(t => t
      .Enabled(true)
      .CustomizeTooltip(@<text>
      function (arg) {
      return {
      text: arg.valueText
      };
      }
      </text>)
      )
    )
    </div>
    </div>
    </div>
    <div>
    <div ng-controller="ChartController">
    </div>
    </div>

    </div>*@

@*                    <div class="panel panel-default col-md-4 col-xs-6" onclick="alert('TO DO');" style="cursor: pointer">
    <div class="panel-body">
        @(Html.DevExtreme().Chart()
            .ID("line-chart2")
            .DataSource(d => d.WebApi().Controller("Dashboard").LoadAction("GetDailyExecutions"))
            .Palette(VizPalette.Default)
            .OnDone(@<text>
            function(e) {
            e.component.zoomArgument(300, 500);
            }
            </text>)
              .CommonSeriesSettings(s => s
               .ArgumentField("StartRunDateRif")
               .Type(SeriesType.Spline)
               .HoverMode(ChartSeriesHoverMode.IncludePoints)
               .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
              )
              .Margin(m => m.Bottom(50))
              .Size(s => s.Height(300))
              .ArgumentAxis(a => a
               .ValueMarginsEnabled(false)
               .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
               .Grid(g => g.Visible(true))
               .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
              )
              .Series(s =>
              {
                  s.Add().ValueField("num_test").Name("N.Test");
                  s.Add().ValueField("process_pcr").Name("PCR");
                  s.Add().ValueField("process_extr").Name("Extraction");
              })
              .Legend(l => l
               .VerticalAlignment(VerticalEdge.Bottom)
               .HorizontalAlignment(HorizontalAlignment.Center)
               .ItemTextPosition(Position.Bottom)
              )
            .Title(t => t
                .Text("Comparison")
                .Font(f => f.Size("18px").Color("blue"))
                  )
              //.Size(s => s.Height(500))
              .Export(e => e.Enabled(false))
              .Tooltip(t => t
               .Enabled(true)
               .CustomizeTooltip(@<text>
            function (arg) {
            return {
            text: arg.valueText
            };
            }
            </text>)
               )
        )

        </div>
        </div>*@

@*<div class="row" style="margin-top: 100px;">
    <div class="col-md-4 col-sm-6" onclick="goToDailyExecutions();" style="cursor: pointer">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>Daily Executions</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" onclick="alert('Assays Utilization');" style="cursor: pointer">
    <div class="panel panel-default text-center">
    <div class="panel-heading">
    <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x text-primary"></i>
    <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
    </span>
    </div>
    <div class="panel-body">
        <h4>Assays Utilization</h4>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-sm-6" onclick="alert('Comparison');" style="cursor: pointer">
    <div class="panel panel-default text-center">
    <div class="panel-heading">
    <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x text-primary"></i>
    <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
    </span>
    </div>
    <div class="panel-body">
    <h4>Comparison</h4>
    </div>
    </div>
    </div>*@


@*<div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">96%</div>
                            <div>Upload Completed</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>*@