﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Log Files";
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_LogFiles.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.15;
    }

    #pie {
        height: 25%;
    }

        #pie * {
            margin: 0 auto;
        }
</style>

<div id="main">
    <div id="sfondo"></div>
    <div class="container">
        <div class="col-md-6">
            <div>
                <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded"width="180px">
                @*<img src="~/images/ExtraStatsLogo.png" alt="" width="100px" />*@
            </div>
        </div>
    </div>
</div>

