﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Web Respository";
}


<script type="text/javascript">


    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
</script>


<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/ExtraStats_InstallBase.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.15;
    }

    #pie {
        height: 25%;
    }

        #pie * {
            margin: 0 auto;
        }
</style>

<div id="main">
    <div id="sfondo"></div>
    <div class="container">
        <div class="col-md-6">
            <div>
                <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" width="180px">
                @*<img src="~/images/ExtraStatsLogo.png" alt="" width="100px" />*@
            </div>
        </div>
    </div>
    @*<div class="container">
            <div class="col-md-offset-9 col-md-3 form-inline">
                <label for="sel1">Month:</label>
                <select class="form-control" id="sel1">
                    <option>Feb 2018</option>
                    <option>Jen 2018</option>
                    <option>Dic 2017</option>
                    <option>Nov 2017</option>
                </select>
            </div>
        </div>*@
    <br />

    <div class="row">
            <div class="col-md-2">
                <div style="border: 1px solid red; margin-left: 20px;">
                    @(Html.DevExtreme().TreeView()
                                    .ID("simple-treeview")
                                    .DataSource(new JS("sections"))
                                    .DisplayExpr("text")
                                    .ItemsExpr("items")
                                    .ExpandedExpr("Expanded")
                                    //.OnItemClick("treeViewItemClick")
                                    .Height(350)
                    )
                </div>
            </div>
            <div class="col-md-10">
                <div style="border: 1px solid red; margin-right: 10px;">
                    @(Html.DevExtreme().DataGrid()
                                    .ID("gridContainer")
                                    .DataSource(new JS("argumentsList"))
                                    .ShowBorders(true)
                                    .FilterRow(filterRow => filterRow
                                        .Visible(true)
                                        .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Columns(c =>
                                    {
                                        c.Add().DataField("Title");
                                        c.Add().DataField("Notes");
                                        c.Add().DataField("Breadcrumbs");
                                        c.Add().DataField("KeyWords");
                                        c.Add().DataField("Files");
                                        c.Add().DataField("Attachments");
                                        c.Add().DataField("Links");
                                    })
                    )
                </div>
            </div>
        </div>

</div>



<script>
    var sections = [{
            id: "1_1",
            text: "ELITe Ingenius",
            expanded: true,
            items: [{
                id: "1_1_1",
                text: "Assay Protocols",
                items: [{
                    id: "1_1_1_1",
                    text: "CLOSE",
                    price: 220,
                    image: "images/products/1.png"
                }, {
                    id: "1_1_1_2",
                    text: "OPEN",
                    image: "images/products/2.png",
                    price: 270
                }]
            }, {
                id: "1_1_1A",
                text: "EXTRA"
            }, {
                id: "1_1_1B",
                text: "SW Version"
            }, {
                id: "1_1_1C",
                text: "TAB"
            }, {
                id: "1_1_1D",
                text: "TBS"
            }]

        }, {
            id: "1_2",
            text: "ELITe Star",
            items: [{
                id: "1_2_1",
                text: "Service Manual"
            }]

        }, {
            id: "1_3",
            text: "Remote Access",
            items: [{
                id: "1_3_1",
                text: "BeyondTrust Jump Client",
                items: [{
                    id: "1_3_1_1",
                    text: "Argentina (Biodiagnostico S.A.)",
                    image: "images/products/1.png",
                    price: 220
                }, {
                    id: "1_3_1_3",
                    text: "Australia (EGPTY)",
                    image: "images/products/2.png",
                    price: 275
                }, {
                    id: "1_3_1_4",
                    text: "Italy (EGSPA)",
                    image: "images/products/2.png",
                    price: 275
                }, {
                    id: "1_3_1_2",
                    text: "Torino (EGSPA)",
                    image: "images/products/2.png",
                    price: 275
                }]
            }, {
                id: "1_3_3",
                text: "BeyondTrust User Manual"
            }]

        }];

    var customers = [{
        "ID": 1,
        "CompanyName": "Super Mart of the West",
        "Address": "702 SW 8th Street",
        "City": "Bentonville",
        "State": "Arkansas",
        "Zipcode": 72716,
        "Phone": "(800) 555-2797",
        "Fax": "(800) 555-2171",
        "Website": "http://www.nowebsitesupermart.com"
    }, {
        "ID": 2,
        "CompanyName": "Electronics Depot",
        "Address": "2455 Paces Ferry Road NW",
        "City": "Atlanta",
        "State": "Georgia",
        "Zipcode": 30339,
        "Phone": "(800) 595-3232",
        "Fax": "(800) 595-3231",
        "Website": "http://www.nowebsitedepot.com"
    }, {
        "ID": 3,
        "CompanyName": "K&S Music",
        "Address": "1000 Nicllet Mall",
        "City": "Minneapolis",
        "State": "Minnesota",
        "Zipcode": 55403,
        "Phone": "(612) 304-6073",
        "Fax": "(612) 304-6074",
        "Website": "http://www.nowebsitemusic.com"
    }, {
        "ID": 4,
        "CompanyName": "Tom's Club",
        "Address": "999 Lake Drive",
        "City": "Issaquah",
        "State": "Washington",
        "Zipcode": 98027,
        "Phone": "(800) 955-2292",
        "Fax": "(800) 955-2293",
        "Website": "http://www.nowebsitetomsclub.com"
    }, {
        "ID": 5,
        "CompanyName": "E-Mart",
        "Address": "3333 Beverly Rd",
        "City": "Hoffman Estates",
        "State": "Illinois",
        "Zipcode": 60179,
        "Phone": "(847) 286-2500",
        "Fax": "(847) 286-2501",
        "Website": "http://www.nowebsiteemart.com"
    }, {
        "ID": 6,
        "CompanyName": "Walters",
        "Address": "200 Wilmot Rd",
        "City": "Deerfield",
        "State": "Illinois",
        "Zipcode": 60015,
        "Phone": "(847) 940-2500",
        "Fax": "(847) 940-2501",
        "Website": "http://www.nowebsitewalters.com"
    }, {
        "ID": 7,
        "CompanyName": "StereoShack",
        "Address": "400 Commerce S",
        "City": "Fort Worth",
        "State": "Texas",
        "Zipcode": 76102,
        "Phone": "(817) 820-0741",
        "Fax": "(817) 820-0742",
        "Website": "http://www.nowebsiteshack.com"
    }, {
        "ID": 8,
        "CompanyName": "Circuit Town",
        "Address": "2200 Kensington Court",
        "City": "Oak Brook",
        "State": "Illinois",
        "Zipcode": 60523,
        "Phone": "(800) 955-2929",
        "Fax": "(800) 955-9392",
        "Website": "http://www.nowebsitecircuittown.com"
    }, {
        "ID": 9,
        "CompanyName": "Premier Buy",
        "Address": "7601 Penn Avenue South",
        "City": "Richfield",
        "State": "Minnesota",
        "Zipcode": 55423,
        "Phone": "(612) 291-1000",
        "Fax": "(612) 291-2001",
        "Website": "http://www.nowebsitepremierbuy.com"
    }, {
        "ID": 10,
        "CompanyName": "ElectrixMax",
        "Address": "263 Shuman Blvd",
        "City": "Naperville",
        "State": "Illinois",
        "Zipcode": 60563,
        "Phone": "(630) 438-7800",
        "Fax": "(630) 438-7801",
        "Website": "http://www.nowebsiteelectrixmax.com"
    }, {
        "ID": 11,
        "CompanyName": "Video Emporium",
        "Address": "1201 Elm Street",
        "City": "Dallas",
        "State": "Texas",
        "Zipcode": 75270,
        "Phone": "(214) 854-3000",
        "Fax": "(214) 854-3001",
        "Website": "http://www.nowebsitevideoemporium.com"
    }, {
        "ID": 12,
        "CompanyName": "Screen Shop",
        "Address": "1000 Lowes Blvd",
        "City": "Mooresville",
        "State": "North Carolina",
        "Zipcode": 28117,
        "Phone": "(800) 445-6937",
        "Fax": "(800) 445-6938",
        "Website": "http://www.nowebsitescreenshop.com"
    }];

    var argumentsList = [{
        "ID": 1,
        "Title": "Coronavirus",
        "Notes": "Note file Coronavirus_template",
        "Breadcrumbs": "ELITE Inginius > Assay Protocols > OPEN",
        "Files": "Coronavirus_template.zip",
        "Attachments": "",
        "Links": "",
        "KeyWords": "User Guides, Manual, News"
    }, {
        "ID": 2,
        "Title": "EuroClone",
        "Notes": "",
        "Breadcrumbs": "ELITE Inginius > Assay Protocols > OPEN",
        "Files": "EuroClone.zip",
        "Attachments": "",
        "Links": "",
        "KeyWords": "User Guides"
    }, {
        "ID": 3,
        "Title": "MRSA",
        "Notes": "",
        "Breadcrumbs": "ELITE Inginius > Assay Protocols > OPEN",
        "Files": "M800351_MRSA-SA",
        "Attachments": "",
        "Links": "",
        "KeyWords": "EXTRA"
    }, {
        "ID": 4,
        "Title": "Note EXTRA",
        "Notes": "",
        "Breadcrumbs": "ELITE Inginius > Extra",
        "Files": "",
        "Attachments": "EXTRA.zip",
        "Links": "www.google.com",
        "KeyWords": "EXTRA"
    }, {
        "ID": 5,
        "Title": "Change Mix",
        "Notes": "",
        "Breadcrumbs": "ELITe InGenius > SW Version > v 1.3.0.12",
        "Files": "ChangeMixCountForWholeBlood",
        "Attachments": "",
        "Links": "www.youtube.com/ffffffff",
        "KeyWords": "Manuals"
    }, {
        "ID": 6,
        "Title": "TAB 001 - Rev AE - IVD Assay Protocol List",
        "Notes": "",
        "Breadcrumbs": "ELITe InGenius > TAB",
        "Files": "ELITe InGenius - TAB 001 - Rev AE - IVD Assay Protocol List.pdf",
        "Attachments": "InGenius Assay List_IVD_AE.xlsx",
        "Links": "www.google.com",
        "KeyWords": "TAB Manuals"
    }, {
        "ID": 7,
        "Title": "TAB 002 - Rev AF - Generic Assay Protocol List",
        "Notes": "",
        "Breadcrumbs": "ELITe InGenius > TAB",
        "Files": "ELITe InGenius -TAB 002 - Rev AF - Generic Assay Protocol List.pdf",
        "Attachments": "InGenius Assay List_Generic_AF.xlsx",
        "Links": "",
        "KeyWords": "user Guides"
    }, {
        "ID": 12,
        "Title": "TSB 002 - Rev H - Operator Manual",
        "Notes": "",
        "Breadcrumbs": "ELITe InGenius > TSB",
        "Files": "TSB 002 - Rev H - Operator Manual.pdf, TSB 002 - Rev H - Operator Manual_Signed.pdf",
        "Attachments": "",
        "Links": "",
        "KeyWords": "User Guides"
        }];

   

</script>

