﻿@using WebApp.Entity

<script type="text/javascript">
    $(function () {
        $("#pivotgrid").dxPivotGrid({
            stateStoring: {
                enabled: true,
                type: 'localStorage',
                storageKey: 'dx-widget-pivotgrid-storing_KPI35',
            },
        });
    });

    function customize_tooltip(args) {
        return {
            html: args.seriesName + " " + parseFloat(args.valueText).toFixed(1)
        };
    }
    function bind_chart(e) {
        e.component.bindChart($("#pivotgrid-chart"), {
            dataFieldsDisplayMode: "splitPanes",
            alternateDataFields: false,
        });
        e.component.on("contentReady", contentReady);
    }
    function contentReady(e) {
        e.component.off("contentReady", contentReady);
        Container_onContentReady();
    }
</script>

<div id="pivotgrid-KPI">
    @(Html.DevExtreme().Chart()
                            .ID("pivotgrid-chart")
                            .CommonSeriesSettings(s => s.Label(l => l.Visible(true).BackgroundColor("white").Font(f => f.Color("blue"))
                                                        .Format(f => f.Type(Format.FixedPoint).Precision(1)))
                            )
                            .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip"))
                            //.Size(s => s.Height(400))
                            .AdaptiveLayout(l => l.Width(450))
                            .Crosshair(c => c
                                    .Enabled(true)
                                    .Color("#949494")
                                    .Width(2)
                                    .DashStyle(DashStyle.Dot)
                                    .Label(l => l
                                        .Visible(true)
                                        .BackgroundColor("#949494")
                                        .Font(f => f.Color("#fff").Size(12))
                                    )
                                )
                            .Export(e => e.Enabled(true).FileName("Chart_KPI35"))
                            .OnDone("Container_ChartOnDone")
                            .OnLegendClick("Container_OnLegendClick")
                            .CustomizePoint("Container_CustomizePoint")
                            .Legend(l => l.CustomizeItems("Container_Legend_CustomizeItems"))
    )
    @(Html.DevExtreme().PivotGrid<ModelKPI35>()
                                .ID("pivotgrid")
                                .AllowSortingBySummary(true)
                                .AllowFiltering(true)
                                .AllowSorting(true)
                                .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                                .ShowBorders(true)
                                .ShowColumnGrandTotals(true)
                                .ShowRowGrandTotals(true)
                                .ShowRowTotals(true)
                                .ShowColumnTotals(true)
                                .FieldChooser(c => c.Enabled(true).Height(600).Width(900))
                                .DataSource(d => d.Store(s => s.Mvc().Controller("KPI").LoadAction("GetKPI35_Claims")
                                            .LoadParams(new { jsonParams = new JS("function() { return JsonParamsGetKPI; }") }))
                                    .Fields(fields =>
                                    {
                                        fields.AddFor(m => m.ClosingDate).Area(PivotGridArea.Filter).IsMeasure(false);
                                        fields.AddFor(m => m.OpeningDate).Area(PivotGridArea.Column).IsMeasure(false);
                                        fields.AddFor(m => m.Classification).Caption("Classification").Area(PivotGridArea.Row).IsMeasure(false);
                                        fields.AddFor(m => m.OpeningDays)
                                                        .SummaryType(SummaryType.Avg)
                                                        .Caption("days (avg)")
                                                        .Format(f => f.Type(Format.FixedPoint).Precision(1))
                                                        .Area(PivotGridArea.Data)
                                                        .IsMeasure(true);
                                        fields.AddFor(m => m.KPI_NUM).Visible(false);
                                    })
                                    )
                                .OnInitialized("bind_chart")
                                //.OnChanged("onChangedPivotGrid")
                                .OnCellClick("Container_OnCellClick")
                                .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI35"))
                                .FieldPanel(p => p.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(true).ShowRowFields(true).AllowFieldDragging(true).Visible(true))
                )
    <br />
</div>


