﻿@using WebApp.Entity

<script type="text/javascript">

    $(function () {
        $("#pivotgrid").dxPivotGrid({
            stateStoring: {
                enabled: true,
                type: 'localStorage',
                storageKey: 'dx-widget-pivotgrid-storing_KPI17',
            }
        });
    });
    function customize_tooltip(args) {
        return {
            html: args.argument + ' ' + parseFloat(args.valueText)
        };
    }
    function bind_chart(e) {
        e.component.bindChart($("#pivotgrid-chart"), {
            dataFieldsDisplayMode: "singleAxis",
            alternateDataFields: false,
            inverted: true,
            customizeSeries: function (seriesName, seriesOptions) {
                if (seriesName.indexOf('%') >= 0 || seriesName.indexOf('Number of Complaints') >= 0) {
                    seriesOptions.visible = false;
                    seriesOptions.showInLegend = false;
                }
                // Change series properties here
                return seriesOptions; // This line is optional
            }
        });
        e.component.on("contentReady", contentReady);
    }
    function contentReady(e) {
        e.component.off("contentReady", contentReady);
        Container_onContentReady();
    }
    function CalculateCustomSummaryPKI25(options) {
        if (options.summaryProcess == 'start') {
            options.totalValue = 0;
            options.totalClaim = 0;
        }
        if (options.summaryProcess == 'calculate') {
            options.totalValue += options.value;
            options.totalClaim++;
        }
        if (options.summaryProcess == 'finalize') {
            options.totalValue = (options.totalValue * 100 / options.totalClaim).toFixed(1) + ' %';
        }
    }
</script>

<div id="pivotgrid-KPI">
    @(Html.DevExtreme().Chart()
                    .ID("pivotgrid-chart")
                    .CommonSeriesSettings(s => s.Label(l => l.Visible(true).BackgroundColor("white").Font(f => f.Color("blue"))))
                    .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip"))
                    .AdaptiveLayout(l => l.Width(450))
                    .Crosshair(c => c
                            .Enabled(true)
                            .Color("#949494")
                            .Width(2)
                            .DashStyle(DashStyle.Dot)
                            .Label(l => l
                                .Visible(true)
                                .BackgroundColor("#949494")
                                .Font(f => f.Color("#fff").Size(12))
                            )
                        )
                    .Export(e => e.Enabled(true).FileName("Chart_KPI25"))
                    .OnDone("Container_ChartOnDone")
                    .OnLegendClick("Container_OnLegendClick")
                    .Palette(VizPalette.SoftPastel)
                    .CustomizePoint("Container_CustomizePoint")
                    .OnIncidentOccurred("Container_OnIncidentOccurred")
                    .Legend(l => l.CustomizeItems("Container_Legend_CustomizeItems"))
    )
    @(Html.DevExtreme().PivotGrid<ModelKPI25>()
                            .ID("pivotgrid")
                            .AllowSortingBySummary(true)
                            .AllowFiltering(true)
                            .AllowSorting(true)
                            .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                            .ShowBorders(true)
                            .ShowColumnGrandTotals(true)
                            .ShowRowGrandTotals(true)
                            .ShowRowTotals(true)
                            .ShowColumnTotals(true)
                            .FieldChooser(c => c.Enabled(true).Height(600).Width(900))
                            .DataSource(d => d.Store(s => s.Mvc().Controller("KPI").LoadAction("GetKPI25_NonCompliant")
                                        .LoadParams(new { jsonParams = new JS("function() { return JsonParamsGetKPI; }") }))
                            .Fields(fields =>
                            {
                                fields.AddFor(m => m.OpeningDate).Area(PivotGridArea.Row).IsMeasure(false);
                                fields.AddFor(m => m.KPI25_Count)
                                                .SummaryType(SummaryType.Sum)
                                                .Caption("Number of CA")
                                                .Area(PivotGridArea.Data)
                                                .IsMeasure(true);
                                fields.AddFor(m => m.KPI25_Count).Area(PivotGridArea.Data)
                                                .Caption("%")
                                                .SummaryType(SummaryType.Custom)
                                                .CalculateCustomSummary("CalculateCustomSummaryPKI25")
                                                .IsMeasure(true);
                                fields.AddFor(m => m.KPI_NUM).Area(PivotGridArea.Data)
                                                .Caption("Number of Complaints")
                                                .SummaryType(SummaryType.Count)
                                                .IsMeasure(true);
                                fields.AddFor(m => m.KPI_NUM).Visible(false);
                            })
                            )
                            .OnInitialized("bind_chart")
                            .OnCellClick("Container_OnCellClick")
                            .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI25"))
                            .FieldPanel(p => p.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(true).ShowRowFields(true).AllowFieldDragging(true).Visible(true))
    )
    <br />
</div>
