﻿@using WebApp.Entity

<script type="text/javascript">

    $(function () {
        $("#pivotgrid").dxPivotGrid({
            stateStoring: {
                enabled: true,
                type: 'localStorage',
                storageKey: 'dx-widget-pivotgrid-storing_KPI17',
            }
        });
    });

    function customize_tooltip(args) {
        return {
            html: args.seriesName + " " + parseFloat(args.valueText).toFixed(1)
        };
    }
    function bind_chart(e) {
        e.component.bindChart($("#pivotgrid-chart"), {
            dataFieldsDisplayMode: "splitPanes",
            alternateDataFields: false,
        });
        e.component.on("contentReady", contentReady);
    }
    function contentReady(e) {
        e.component.off("contentReady", contentReady);
        Container_onContentReady();
    }
</script>

<div id="pivotgrid-KPI">
    @(Html.DevExtreme().Chart()
                    .ID("pivotgrid-chart")
                    .CommonSeriesSettings(s => s.Label(l => l.Visible(true).BackgroundColor("white").Font(f => f.Color("blue"))
                                                .Format(f => f.Type(Format.FixedPoint).Precision(1)))
                    )
                    .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip"))
                    .AdaptiveLayout(l => l.Width(450))
                    .Crosshair(c => c
                            .Enabled(true)
                            .Color("#949494")
                            .Width(2)
                            .DashStyle(DashStyle.Dot)
                            .Label(l => l
                                .Visible(true)
                                .BackgroundColor("#949494")
                                .Font(f => f.Color("#fff").Size(12))
                            )
                        )
                    .Export(e => e.Enabled(true).FileName("Chart_KPI17"))
                    .OnDone("Container_ChartOnDone")
                    .OnLegendClick("Container_OnLegendClick")
                    .Palette(VizPalette.SoftPastel)
                    .CustomizePoint("Container_CustomizePoint")
                    .Legend(l => l.CustomizeItems("Container_Legend_CustomizeItems"))
    )
    @(Html.DevExtreme().PivotGrid<ModelKPI17>()
                            .ID("pivotgrid")
                            .AllowSortingBySummary(true)
                            .AllowFiltering(true)
                            .AllowSorting(true)
                            .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                            .ShowBorders(true)
                            .ShowColumnGrandTotals(true)
                            .ShowRowGrandTotals(true)
                            .ShowRowTotals(true)
                            .ShowColumnTotals(true)
                            .FieldChooser(c => c.Enabled(true).Height(600).Width(900))
                            .DataSource(d => d.Store(s => s.Mvc().Controller("KPI").LoadAction("GetKPI17_NonCompliant")
                                        .LoadParams(new { jsonParams = new JS("function() { return JsonParamsGetKPI; }") }))
                            .Fields(fields =>
                            {
                                fields.AddFor(m => m.OpeningDate).Area(PivotGridArea.Column).IsMeasure(false);
                                fields.AddFor(m => m.KPI17_Stato).Caption("Status").Area(PivotGridArea.Row).SortBySummaryField("Total").IsMeasure(false);
                                fields.AddFor(m => m.ClosingDate).Area(PivotGridArea.Filter).IsMeasure(false);
                                fields.AddFor(m => m.ClosingDateOfInvestigation).Area(PivotGridArea.Filter).IsMeasure(false);
                                fields.AddFor(m => m.KPI17_Count)
                                                .SummaryType(SummaryType.Sum)
                                                .Caption("Number of")
                                                .Area(PivotGridArea.Data)
                                                .IsMeasure(true);
                                fields.AddFor(m => m.KPI_NUM).Visible(false);
                            })
                            )
                            .OnInitialized("bind_chart")
                            .OnCellClick("Container_OnCellClick")
                            .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI17"))
                            .FieldPanel(p => p.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(true).ShowRowFields(true).AllowFieldDragging(true).Visible(true))
    )
    <br />
</div>
