﻿@using WebApp.Classes

@{
    string titolo = "Key Performance Indicators";
    DateTime DateFrom = new DateTime((DateTime.Now.Year - 4), 1, 1);
    DateTime DateTo = new DateTime((DateTime.Now.Year - 1), 12, 31);
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>

<style type="text/css">
    #divKPI {
        background-color: ghostwhite !important;
    }

    .itemOption {
        margin: 10px 20px 10px 20px !important;
    }

    #pivotgrid {
        margin-top: 20px;
    }
    .currency {
        text-align: center;
    }
    .dx-row.dx-data-row.dx-row-lines.dx-column-lines {
        white-space: nowrap;
    }
</style>

<script type="text/javascript">

    // USATI in tutte le VIEW dei KPI !!!
    var execute = false;
    var JsonParamsGetKPI = "";

    var idCookieChartType = "";
    var idCurrentKPI = "_KPI1";
    var jsGetDataParams = null;
    var jsShowDataDS = null;

    const jsChartType = [
        { ID: "bar", Name: "Bar" },
        { ID: "stackedbar", Name: "Stacked Bar" },
        { ID: "fullstackedbar", Name: "Full Stacked Bar"},
        { ID: "line", Name: "Line" },
        { ID: "stackedline", Name: "Stacked Line" },
        { ID: "fullstackedline", Name: "Full Stacked Line" },
        { ID: "spline", Name: "Spline" },
        { ID: "stackedspline", Name: "Stacked Spline" },
        { ID: "fullstackedspline", Name: "Full Stacked Spline" },
        { ID: "area", Name: "Area" },
        { ID: "stackedarea", Name: "Stacked Area" },
        { ID: "fullstackedarea", Name: "Full Stacked Area" },
        { ID: "splinearea", Name: "Spline Area" },
        { ID: "stackedsplinearea", Name: "Stacked Spline Area" },
        { ID: "fullstackedsplinearea", Name: "Full Stacked Spline Area" },
        { ID: "scatter", Name: "Scatter" },
        { ID: "stepline", Name: "Step Line" },
        { ID: "steparea", Name: "Step Area" }
    ];
    // ************************************************
    var jsKPIlist = [{
        "ID": "_KPI1",
        "Name": "KPI1 - N° OF CORRECTIVE AND PREVENTIVE ACTIONS",
        "Subtitle": "n° of corrective and preventive actions , n° of corrective actions opened/closed with effectiveness/closed only for the actions plans , n° of preventive actions opened/closed with effectiveness/closed only for the actions plans, total of correctives and preventives actions in the year",
        "Category": "@Lookup.KPI_Category_ACTIONS",
        "ChartType": "fullstackedbar"
    }, {
        "ID": "_KPI6",
        "Name": "KPI6 - AVERAGE OF DAYS FOR THE IMPLEMENTATION OF THE ACTIONS PLAN",
        "Category": "@Lookup.KPI_Category_ACTIONS",
        "ChartType": "line"
    }, {
        "ID": "_KPI7",
        "Name": "KPI7 - DAYS AVERAGE OF DELAY ABOUT THE ACTION PLAN",
        "Category": "@Lookup.KPI_Category_ACTIONS",
        "ChartType": "line"
    }, {
        "ID": "_KPI13",
        "Name": "KPI13 - AVERAGE OF DAYS FOR THE IMPLEMENTATION OF THE ACTIONS PLAN",
        "Category": "@Lookup.KPI_Category_CHANGE",
        "ChartType": "line"
    }, {
        "ID": "_KPI14",
        "Name": "KPI14 - DAYS AVERAGE OF DELAY ABOUT THE ACTION PLAN",
        "Category": "@Lookup.KPI_Category_CHANGE",
        "ChartType": "line"
    }, {
        "ID": "_KPI17",
        "Name": "KPI17 - STATUS OF NC (OPENED/CLOSED)",
        "Category": "@Lookup.KPI_Category_UNCOMPLIANCE",
        "ChartType": "bar"
    }, {
        "ID": "_KPI17PIE",
        "Name": "KPI17 (PIE) - STATUS OF NC (OPENED/CLOSED)",
        "Category": "@Lookup.KPI_Category_UNCOMPLIANCE",
        "ChartType": "custom"
    }, {
        "ID": "_KPI25",
            "Name": "KPI25 - NUMERO NC CON CAPA PER ANNO",
        "Category": "@Lookup.KPI_Category_UNCOMPLIANCE",
        "ChartType": "bar"
    }, {
        "ID": "_KPI26",
        "Name": "KPI26 - DAYS AVERAGE OF NC CLOSING DATE BASED ON THEIR CLASSIFICATION AND THE YEAR",
        "Category": "@Lookup.KPI_Category_UNCOMPLIANCE",
        "ChartType": "stackedbar",
        //"Palette": "Material"
    }, {
        "ID": "_KPI29PIE",
        "Name": "KPI29 - N° RECLAMI PER PRODOTTO SPECIFICO",
        "Category": "@Lookup.KPI_Category_CLAIM",
        "ChartType": "custom"
    }, {
        "ID": "_KPI33",
            "Name": "KPI33 - N° RECLAMI CON CAPA PER ANNO",
        "Category": "@Lookup.KPI_Category_CLAIM",
        "ChartType": "bar"
    }, {
        "ID": "_KPI34",
            "Name": "KPI34 - N° RECLAMI CON COMUNICAZIONE AL CLIENTE PER ANNO (PER CLASSIFICAZIONE E SU TOTALE RECLAMI)",
        "Category": "@Lookup.KPI_Category_CLAIM",
        "ChartType": "fullstackedbar"
    }, {
        "ID": "_KPI35",
        "Name": "KPI35 - DAYS AVERAGE OF COMPLAINTS OPENING DATE AT TODAY",
        "Category": "@Lookup.KPI_Category_CLAIM",
        "ChartType": "stackedbar"
    }, {
        "ID": "_KPI36",
        "Name": "KPI36 - DAYS AVERAGE OF COMPLAINTS CLOSING DATE BASED ON THEIR CLASSIFICATION AND THE YEAR",
        "Category": "@Lookup.KPI_Category_CLAIM",
        "ChartType": "line"
    }, {
        "ID": "_KPI37",
        "Name": "KPI37 - DAYS AVERAGE OF INVESTIGATION CLOSING DATE FOR PERFORMANCE COMPLAINTS",
        "Category": "@Lookup.KPI_Category_CLAIM",
            "ChartType": "custom"
    }];

    // Funzioni JQuery
    $(function () {
        var groupedList = new DevExpress.data.DataSource({
            store: jsKPIlist,
            key: "id",
            group: "Category"
        });

        $("#selectbox-groupedKPI").dxSelectBox({
            dataSource: groupedList,
            valueExpr: "ID",
            grouped: true,
            value: idCurrentKPI,
            displayExpr: "Name",
            onValueChanged: function (data) {
                onValueChange_KPI(data);
            }
        });

        $(document).ready(function () {
            //
            loadKPI(idCurrentKPI);
        });
    });

    function goDownloadFunctionDocumentation() {
        $("#monitor").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#monitor").attr("target", "_blank");
        $("#monitor").submit();
        $("#monitor").attr("target", "");    // Ripristino Target
        return false;
    }
    function onValueChange_KPI(data) {
        showLoadPanel(true);
        loadKPI(data.value);
        return false;
    }
    function loadKPI(id) {
        if ((id || '') == '') {
            return false;
        }
        idCurrentKPI = id;
        idCookieChartType = "EliteBoard_KPI_ChartType" + id;
        $('#divKPI').html("");
        if ((id || '') != '') {
            $('#divKPI').load('@(Url.Action("LoadPKIPartial"))?code=' + id, function () {
                $("#divPopupOptions").show();
                doRefreshKPI(false, id);
            });
        }

    }
    function showLoadPanel(bShow, msg) {
        var lp = $("#loadPanel").dxLoadPanel("instance");
        msg = (msg || "loading....");
        // msg = -1: non aggiornare il msg
        if (msg != "-1") {
            lp.option("message", msg);
        }
        if (bShow) {
            lp.show();
        } else {
            lp.hide();
        }
        return
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 60000);
    }
    function Container_onContentReady() {
        //console.log($("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type"));
        showLoadPanel(false);
    }
    function Container_OnLegendClick(e) {
        var series = e.target;
        try {
            if (series != null) {
                if (series.isVisible()) {
                    series.hide();
                } else {
                    series.show();
                }
            }
        }
        catch (exception_var) {
            // Riattivo tutte le serie !!!! 
            if (typeof (e) != "undefined") {
                var series = this.getAllSeries();
                var seriesIndex = 0;
                //console.log(series);
                for (var i = 0; i < series.length; i++) {
                    var s = series[i];
                    s.visible = true;
                }
            }
            e.component.option('series', series);  
        }
    }
    function DateFrom_valueChanged(data) {
        if (data.value != null) {
            doRefreshKPI();
        }
    }
    function DateTo_valueChanged(data) {
        if (data.value != null) {
            doRefreshKPI();
        }
    }
    function doRefreshKPI(refreshGrid, id) {
        refreshGrid = (refreshGrid || true);
        //var dateDal = $("#DateFrom").dxDateBox("instance").option("value");
        //var dateAl = $("#DateTo").dxDateBox("instance").option("value");
        //if (dateDal == null) return false; // dateDal = new Date();
        //if (dateAl == null) return false; // dateAl = new Date();
        execute = true;
        var parametri = new Object();
        //parametri.DateFrom = new Date(dateDal.getTime() - (dateDal.getTimezoneOffset() * 60000)).toISOString();
        //parametri.DateTo = new Date(dateAl.getTime() - (dateAl.getTimezoneOffset() * 60000)).toISOString();
        parametri.execute = execute;
        JsonParamsGetKPI = JSON.stringify(parametri);

        setShowLabels({ "value": $("#ShowLabels").dxCheckBox("instance").option('value') });
        setShowLegend({ "value": $("#ShowLegend").dxCheckBox("instance").option('value') });
        //setChartType({ "value": $("#ChartType").dxSelectBox("instance").option('value') });
        setChartSize({ "value": $("#ChartSize").dxSlider("instance").option('value') });
        setShowGridTotals({ "value": $("#ShowGridTotals").dxCheckBox("instance").option('value') });
        setShowFieldPanel({ "value": $("#ShowFieldPanel").dxCheckBox("instance").option('value') });

        info = getKPIAttribute(id);
        setChartTitle({ "value": info.title });       
        setChartSubtitle({ "value": info.subtitle });       

        if (typeof refreshKPIPivotgrid == 'function' && refreshGrid) {
            //console.log("INDEX - refreshKPIPivotgrid()");
            refreshKPIPivotgrid();
        }
        execute = false;
    }
    function getKPIChartType(id) {
        if ((id || '') != '') {
            let obj = jsKPIlist.find(o => o.ID === id);
            if (typeof obj !== 'undefined') {
                return obj.ChartType;
            }
        }
        return null;
    }
    function getKPIAttribute(id) {
        if ((id || '') != '') {
            let obj = jsKPIlist.find(o => o.ID === id);
            if (typeof obj !== 'undefined') {
                var ret = new Object();
                ret.name = (obj.name || "");
                ret.title = (obj.Title || obj.Name);
                ret.subtitle = (obj.Subtitle || "");
                ret.category = (obj.Category || "");
                ret.charttype = (obj.ChartType || "");
                //ret.palette = (obj.Palette || "");
                return ret;
            }
        }
        return null;
    }

    function setShowLabels(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            setShowLabelsCustom(e);
        } else {
            $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.label.visible", e.value);
        }
    }
    function setShowLegend(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            setShowLegendCustom(e);
        } else {
            $("#pivotgrid-chart").dxChart("option", "legend.visible", e.value);
        }
    }
    function setShowGridTotals(e) {
        getPivotGridInstance().option("showColumnGrandTotals", e.value);
        getPivotGridInstance().option("showRowGrandTotals", e.value);
        getPivotGridInstance().option("showRowTotals", e.value);
        getPivotGridInstance().option("showColumnTotals", e.value);
    }
    function setShowFieldPanel(e) {
        getPivotGridInstance().option("fieldPanel.visible", e.value);
    }
    function setChartType(e) {
        if ((e.value || '') != '') {
            //console.log("setChartType:" + e.value);
            setCookie(idCookieChartType, e.value);
            $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type", e.value);
        }
    }
    function setChartSize(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            setChartSizeCustom(e);
        } else {
            $("#pivotgrid-chart").dxChart("option", "size.height", e.value);
        }
    }
    function setChartTitle(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            setChartTitleCustom(e);
        } else {
            $("#pivotgrid-chart").dxChart("option", "title.font.size", 24);
            $("#pivotgrid-chart").dxChart("option", "title.margin.bottom", 30);
            $("#pivotgrid-chart").dxChart("option", "title.text", e.value);
            //$("#pivotgrid-chart").dxChart("option", "title.subtitle.text", e.value);
        }
    }
    function setChartSubtitle(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            setChartSubtitleCustom(e);
        } else {
            $("#pivotgrid-chart").dxChart("option", "title.subtitle.text", e.value);
        }
    }
    function refreshKPIPivotgrid() {
        var ds = getPivotGridInstance().getDataSource();
        ds.reload();
    }
    function Container_ChartOnDone(e) {
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") {
            $("#ChartType").dxSelectBox("instance").option('disabled', true);
            return;
        } 

        $("#ChartType").dxSelectBox("instance").option('disabled', false);

        var valueChart = ($("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type") || '');
        var valueOpt = ($("#ChartType").dxSelectBox("instance").option('value') || '');
        var valueCookie = (getCookie(idCookieChartType) || "");
        //console.log("Container_ChartOnDone " + idCurrentKPI + ", Chart:" + valueChart + ", Opt:" + valueOpt + ", cookie:" + valueCookie);
        if (valueCookie == '' && valueChart == '') {
            valueChart = getKPIChartType(idCurrentKPI);
        }
        //console.log("Container_ChartOnDone - cookie:" + valueCookie + ' opt:' + valueOpt + ' chart:' + valueChart);
        if (valueCookie != valueChart || valueOpt == "" || valueCookie != valueOpt) {
            if (valueOpt == "" || valueCookie != valueOpt) {
                $("#ChartType").dxSelectBox("instance").option('value', (valueCookie || valueChart));
            } else {
                $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type", (valueCookie || valueChart));
            }
        }
        //changeSeriesColor($("#pivotgrid-chart").dxChart("instance"), 1, "black");
    }
    //var cnt = 0;
    //function changeSeriesColor(chart, seriesIndex, color) {
    //    var paletteName = chart.option('palette');
    //    if (!paletteName)
    //        paletteName = DevExpress.viz.currentPalette();
    //    var palette = DevExpress.viz.getPalette(paletteName);
    //    palette[seriesIndex] = color;
    //    paletteName = paletteName + cnt++;
    //    //DevExpress.viz.registerPalette(paletteName, palette);
    //    //chart.option('palette', paletteName);
    //} 

    function getPivotGridInstance() {
        return $("#pivotgrid").dxPivotGrid("instance");
    }
    function openOptions() {
        $('#divOptions').modal({
            keyboard: true
        }, 'show');
        return false;
    }
    function Container_OnCellClick(e) {
        if (e.area == "data") {
            var pivotGridDataSource = getPivotGridInstance().getDataSource();
            drillDownDataSourceTest = pivotGridDataSource.createDrillDownDataSource(e.cell);
            drillDownDataSourceTest.paginate(false);
            drillDownDataSourceTest.load()
                .done(function (data) {
                    var params = new Object();
                    params.idItems = data.map(a => a.KPI_NUM);
                    params.category = getKPIAttribute(idCurrentKPI).category;
                    var nrows = params.idItems.length;
                    if (nrows == 0) {
                        bootbox.alert ("No rows selected !!");
                        return false;
                    }
                    params.execute = true;
                    if (nrows > 5000) {
                        bootbox.confirm("will be extracted " + params.idItems.length + " records; continue?", function (result) {
                            bootbox.hideAll();
                            if (result) {
                                exportData4Grid(params, nrows);
                            }
                        });
                        return false;
                    };
                    exportData4Grid(params, nrows);
            });
        }
    }

    function exportData4Grid(params, nrows) {
        if ((nrows || 0) > 0) {
            showLoadPanel(true, "extracting " + nrows + " rows");
        } else {
            showLoadPanel(true, "extracting....");
        }
        var nrows = params.idItems.length;
        var dataToSend = JSON.stringify(params);
        let xhr = new XMLHttpRequest();
        //set the request type to post and the destination url to '/convert'
        xhr.open('POST', '/KPI/GetDataPost');
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.responseType = 'json';
        xhr.send(dataToSend);
        // Questo codice viene chiamato dopo la ricezione della risposta
        xhr.onload = function () {
            showLoadPanel(false);
            if (xhr.status != 200) {
                bootbox.alert(`Error ${xhr.status}: ${xhr.statusText}`);
            } else {
                let responseObj = xhr.response;
                var x = JSON.stringify(responseObj);
                var json = JSON.parse(x);
                jsShowDataDS = json["rows"];
                //$("#grid-ShowData").dxDataGrid("instance").getDataSource().reload();
                //$('#divShowData').modal("show");
                showDataPopup = $("#showData-popup").dxPopup("instance");
                showDataPopup.option("title", "@titolo - " + params.category );
                showDataPopup.show();
            }
        };
        xhr.onreadystatechange = function () {
            showLoadPanel(true, -1);
            if (xhr.readyState == 3) {
                // caricamento
            }
            if (xhr.readyState == 4) {
                // richiesta terminata
            }
        };
        //xhr.onprogress = function (event) {
        //    //if (event.lengthComputable) {
        //    //    console.log(`Received ${event.loaded} of ${event.total} bytes`);
        //    //} else {
        //    //    console.log(`Received ${event.loaded} bytes`); // nessun Content-Length
        //    //}
        //    showLoadPanel(true, -1);
        //};
        xhr.onerror = function () {
            showLoadPanel(false);
            bootbox.alert("Request failed");
        };
    }
    function showDataPopup_OnShown(e) {
        $("#grid-ShowData").dxDataGrid("instance").option("dataSource", jsShowDataDS);
    }
    function showDataPopup_OnHidden(e) {
        $("#grid-ShowData").dxDataGrid("instance").option("dataSource", null);
    }
    function ResetInitCfg(a) {
        setCookie(idCookieChartType, "");
        $("#ChartType").dxSelectBox("instance").option('value', null);
        getPivotGridInstance().getDataSource().state({});
        if (getKPIAttribute(idCurrentKPI).charttype != "custom") {
            $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type", getKPIChartType(idCurrentKPI));
        } 
        $('#divOptions').modal('toggle');
        //loadKPI(idCurrentKPI);
    }
    function setCookie(name, value) {
        var expiry = new Date();
        //expiry.setMinutes(expiry.getMinutes() + 24*60*60);
        expiry.setDate(expiry.setDate() + 30);  // 30 gg
        document.cookie = name + "=" + (value) + "; path=/; expires=" + expiry.toGMTString() + "; SameSite=Strict";
    }

    // Gets a cookie's value. If it's not set it returns null.
    function getCookie(name) {
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? (value[1]) : null;
    }


    //var colorList = ['#5F8B95', '#BA4D51', '#AF8A53', '#955F71', '#859666', '#7E688C', '#5F6D95', '#AC569C', '#A6AF53', '#95715F',
    //    '#5D9E81', '#A6779B', '#4AA1AA', '#7181C5', '#C4853D', '#BBC289', '#9D5361', '#9DA0AD', '#5C577E', '#E3A653'];
    //var index = 0;
    function Container_CustomizePoint(e) {
        var source = e.seriesName;
        if (getKPIAttribute(idCurrentKPI).charttype == "custom") source = e.argument;
        newColor = GetCustomColor(source);
        if (newColor != null) {
            return { color: newColor };
        }
        return {};
    }
    function Container_Legend_CustomizeItems(items) {
        if (items !== undefined) {
            items.map(function (a) {
                //console.log(a);
                var newColor = GetCustomColor(a.text);
                if (newColor != null) {
                    a.states.hover.fill = newColor;
                    a.states.normal.fill = newColor;
                    a.states.selection.fill = newColor;
                }
                return a;
            });
        }
        return items;
    }
    function GetCustomColor(source) {
        var text = source.toLowerCase();
        if (text.indexOf("closed only for") >= 0) return "LimeGreen";
        if (text.indexOf("closed") >= 0) return "green";
        if (text.indexOf("opened") >= 0) return "red";
    }
    function Container_OnIncidentOccurred(object) {
        console.log("Container_OnIncidentOccurred");
        //console.log(object);
    }

</script>


<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;" />
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @titolo
                <span>&nbsp;</span>
                @*@(Html.DevExtreme().Button().Icon("fa fa-info-circle").Hint("Function Documentation").OnClick("goDownloadFunctionDocumentation"))*@
            </div>
        </div>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "elenco" }))
    {
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().LoadPanel()
                                                            .ID("loadPanel")
                                                            .ShadingColor("rgba(0,0,0,0.4)")
                                                            .Visible(false)
                                                            .ShowIndicator(true)
                                                            .ShowPane(true)
                                                            .Shading(true)
                                                            .Message("loading...")
                                                            .CloseOnOutsideClick(true)
                                                            .OnShown("loadPanel_shown")
        )

        <div id="sfondo"></div>
        <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Warrenty"> @*????*@
        <br />
        <div class="row">
            <div class="form-horizontal" id="divFilters">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                        <div id="selectbox-groupedKPI"></div>
                    </div>
                    <div id="divPopupOptions" class="col-md-2 col-xs-6" hidden>
                        <div>
                            @(Html.DevExtreme().Button().ID("options").Text("options").OnClick("openOptions").Icon("preferences"))
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div id="divKPI"></div>
        </div>
    }

    <div class="modal fade" id="divOptions" tabindex="-1" role="dialog" aria-labelledby="Options" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Options</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="itemOption">
                            @(Html.DevExtreme().CheckBox().Text("Show Labels").Value(true).ID("ShowLabels").OnValueChanged("setShowLabels"))
                        </div>
                        <div class="itemOption">
                            @(Html.DevExtreme().CheckBox().Text("Show Legend").Value(true).ID("ShowLegend").OnValueChanged("setShowLegend"))
                        </div>
                        <div class="itemOption">
                            <div class="row">
                                <div class="col-md-3">Chart Type</div>
                                <div class="col-md-9">
                                    @(Html.DevExtreme().SelectBox().ID("ChartType")
                                                    .OnValueChanged("setChartType")
                                                    .DataSource(new JS("jsChartType"))
                                                    .DisplayExpr("Name")
                                                    .ValueExpr("ID")
                                                    //.DataSource(new[] {  "bar", "stackedbar", "fullstackedbar",
                                                    //                                "line",  "stackedline", "fullstackedline",
                                                    //                                "spline", "stackedspline", "fullstackedspline",
                                                    //                                "area",   "stackedarea", "fullstackedarea",
                                                    //                                "splinearea",  "stackedsplinearea", "fullstackedsplinearea",
                                                    //                                "scatter", "stepline","steparea"
                                                    //})
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="itemOption">
                            <div class="row">
                                <div class="col-md-3">Chart Size</div>
                                <div class="col-md-9">
                                    @(Html.DevExtreme().Slider().ID("ChartSize")
                                                                            .Min(400)
                                                                            .Max(1500)
                                                                            .Value(600)
                                                                            .Step(100)
                                                                            .Tooltip(t => t.Enabled(false))
                                                                            .OnValueChanged("setChartSize"))
                                </div>
                            </div>
                        </div>
                        <div class="itemOption">
                            @(Html.DevExtreme().CheckBox().Text("Show Totals (Grid)").Value(true).ID("ShowGridTotals").OnValueChanged("setShowGridTotals"))
                        </div>
                        <div class="itemOption">
                            @(Html.DevExtreme().CheckBox().Text("Show Fields Panel (Grid)").Value(true).ID("ShowFieldPanel").OnValueChanged("setShowFieldPanel").Disabled(false))
                        </div>
                        @*<div class="itemOption">
                                <div class="row">
                                    <div class="col-md-3">Survey Period</div>
                                    <div class="col-md-4">
                                        @(Html.DevExtreme().DateBox().ID("DateFrom").Width("100%").Min("2000/01/01").Max("2999/12/31")
                                                           .Value(DateFrom).DisplayFormat("dd/MM/yyyy").OnValueChanged("DateFrom_valueChanged"))
                                    </div>
                                    <div class="col-md-4">
                                        @(Html.DevExtreme().DateBox().ID("DateTo").Width("100%").Min("2000/01/01").Max("2999/12/31")
                                                           .Value(DateTo).DisplayFormat("dd/MM/yyyy").OnValueChanged("DateTo_valueChanged"))
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="empty_row"></div>
                    <div class="modal-footer">
                        <div class="itemOption">
                            @(Html.DevExtreme().Button().Text("Reset Default Configuration").OnClick("ResetInitCfg").Icon("revert"))
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @(Html.DevExtreme().Popup()
            .ID("showData-popup")
            .Width(1200)
            .Height(700)
            .FullScreen(true)
            .Title(string.Format("{0} - Data", titolo))
            .ContentTemplate(@<text>
                    @(Html.DevExtreme().DataGrid()
                                .ID("grid-ShowData")
                                .ShowRowLines(true)
                                .HoverStateEnabled(false)
                                .RowAlternationEnabled(false)
                                .AllowColumnResizing(true)
                                .ColumnWidth(200)
                                .ColumnAutoWidth(true)
                                .ShowBorders(true)
                                .WordWrapEnabled(false)
                                .ColumnResizingMode(ColumnResizingMode.Widget)
                                .DataSource(new JS("jsShowDataDS"))
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                .StateStoring(s => s.Enabled(false))
                                .GroupPanel(groupPanel => groupPanel.Visible(true))
                                .Paging(p => p.PageSize(15))
                                .Pager(pager =>
                                {
                                    pager.ShowPageSizeSelector(false);
                                    //pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
                                .Export(e => e.Enabled(true).FileName("ExtractData").AllowExportSelectedData(false))
                    )
            </text>)
    .OnShown("showDataPopup_OnShown")
    //.OnShowing("showDataPopup_OnShowing")
    .OnHidden("showDataPopup_OnHidden")
    )
</div>
