﻿@using WebApp.Entity

<style type="text/css">
    #pivotgrid {
        margin-top: 20px;
    }

    .currency {
        text-align: center;
    }
</style>


<script type="text/javascript">

    function customize_tooltip(args) {
        return {
            html: args.seriesName + " " + args.valueText
        };
    }
    function bind_chart(e) {
        e.component.bindChart($("#pivotgrid-chart"), {
            dataFieldsDisplayMode: "splitPanes",
            alternateDataFields: false
        });
        e.component.on("contentReady", contentReady);
    }
    function contentReady(e) {
        e.component.off("contentReady", contentReady);
        //var dataSource = e.component.getDataSource()
        //dataSource.expandHeaderItem("row", ["North America"]);
        //dataSource.expandHeaderItem("column", [2013]);
    }

</script>

<div id="pivotgrid-KPI">
    @(Html.DevExtreme().Chart()
                                .ID("pivotgrid-chart")
                                .CommonSeriesSettings(s => s.Type(SeriesType.FullStackedBar)
                                                            .Label(l => l.Visible(true).BackgroundColor("white").Font(f => f.Color("blue")))
                                )
                                .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip"))
                                //.Size(s => s.Height(600))
                                .AdaptiveLayout(l => l.Width(450))
                                .Crosshair(c => c
                                        .Enabled(true)
                                        .Color("#949494")
                                        .Width(2)
                                        .DashStyle(DashStyle.Dot)
                                        .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#949494")
                                            .Font(f => f.Color("#fff").Size(12))
                                        )
                                    )
                                .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI31"))
    )

    @*@(Html.DevExtreme().PivotGrid<ModelKPI31>()
                            .ID("pivotgrid")
                            .AllowSortingBySummary(true)
                            .AllowFiltering(true)
                            .ShowBorders(true)
                            .ShowColumnGrandTotals(true)
                            .ShowRowGrandTotals(true)
                            .ShowRowTotals(true)
                            .ShowColumnTotals(true)
                            .FieldChooser(c => c.Enabled(true).Height(600).Width(900))
                            .DataSource(d => d.Store(s => s.Mvc().Controller("KPI").LoadAction("GetKPI31")
                            .LoadParams(new { jsonParams = new JS("function() { return JsonParamsGetKPI; }") }))
                                .Fields(fields =>
                                {
                                    fields.AddFor(m => m.Classificazione)
                                        //.Width(120)
                                        .Area(PivotGridArea.Row)
                                        .SortBySummaryField("Total");

                                    fields.AddFor(m => m.Data_Apertura)
                                                    .Area(PivotGridArea.Column);
                                    //fields.Add()
                                    //    .GroupName("Data_Apertura")
                                    //    .GroupInterval(PivotGridGroupInterval.Month)
                                    //    .Visible(false);

                                    fields.AddFor(m => m.cnt)
                                        .SummaryType(SummaryType.Sum)
                                        //.Format(Format.FixedPoint)
                                        .Area(PivotGridArea.Data);

                                })
                        )
                        .OnInitialized("bind_chart")
                        .OnCellClick("Container_OnCellClick")
                        .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI31"))
    )*@
</div>
@*<hr />
<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        <div class="col-md-3">
            @(Html.DevExtreme().CheckBox().Text("Show Totals").Value(true)
                                    .OnValueChanged(@<text>
                                        function (data) {
                                        getPivotGridInstance().option("showColumnGrandTotals", data.value);
                                        getPivotGridInstance().option("showRowGrandTotals", data.value);
                                        getPivotGridInstance().option("showRowTotals", data.value);
                                        getPivotGridInstance().option("showColumnTotals", data.value);
                                        }
                                    </text>)
            )
        </div>
        <div class="col-md-3">
            @(Html.DevExtreme().CheckBox().Text("Show Labels").Value(true)
                                    .OnValueChanged(@<text>
                                        function (data) {
                                        $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.label.visible", data.value);
                                        }
                                    </text>)
            )
        </div>
        <div class="col-md-3">
            @(Html.DevExtreme().SelectBox()
                                        .DataSource(new[] { "bar", "stackedbar", "fullstackedbar",
                                                            "line", "stackedspline", "fullstackedline",
                                                            "spline", "stackedline", "fullstackedspline",
                                                            "area",   "stackedarea", "fullstackedarea",
                                                            "splinearea",  "stackedsplinearea", "fullstackedsplinearea",
                                                            "scatter",
                                                            "stepline",
                                                            "steparea" 
                                                            // "bubble", "candlestick", "rangearea", "rangebar", "stock"
                                        })
                                        .Value("fullstackedbar")
                                        .OnValueChanged(@<text>
                                            function (data) {
                                            $("#pivotgrid-chart").dxChart("option", "commonSeriesSettings.type", data.value );
                                            }
                                        </text>)
            )
        </div>
        <div class="col-md-3">
            @(Html.DevExtreme().CheckBox().Text("Show Legend").Value(true)
                                    .OnValueChanged(@<text>
                                        function (data) {
                                        $("#pivotgrid-chart").dxChart("option", "legend.visible", data.value);
                                        }
                                    </text>)
            )
        </div>

    </div>
</div>*@

