﻿@using WebApp.Entity

<script type="text/javascript">
    $(function () {
        $("#pivotgrid").dxPivotGrid({
            stateStoring: {
                enabled: true,
                type: 'localStorage',
                storageKey: 'dx-widget-pivotgrid-storing_KPI10',
            },
        });
    });

    function customize_tooltip(args) {
        return {
            html: args.seriesName + " " + parseFloat(args.valueText).toFixed(1)
        };
    }
    function bind_chart(e) {
        e.component.bindChart($("#pivotgrid-chart"), {
            dataFieldsDisplayMode: "splitPanes",
            alternateDataFields: false,
        });
        e.component.on("contentReady", contentReady);
    }
    function contentReady(e) {
        e.component.off("contentReady", contentReady);
        Container_onContentReady();
    }
</script>

<div id="pivotgrid-KPI">
    @(Html.DevExtreme().Chart()
                                    .ID("pivotgrid-chart")
                                    .CommonSeriesSettings(s => s.Label(l => l.Visible(true).BackgroundColor("white").Font(f => f.Color("blue"))
                                                                .Format(f => f.Type(Format.FixedPoint).Precision(1)))
                                    )
                                    .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip"))
                                    .AdaptiveLayout(l => l.Width(450))
                                    .Crosshair(c => c
                                            .Enabled(true)
                                            .Color("#949494")
                                            .Width(2)
                                            .DashStyle(DashStyle.Dot)
                                            .Label(l => l
                                                .Visible(true)
                                                .BackgroundColor("#949494")
                                                .Font(f => f.Color("#fff").Size(12))
                                            )
                                        )
                                    .Export(e => e.Enabled(true).FileName("Chart_KPI10"))
                                    .OnDone("Container_ChartOnDone")
                                    .OnLegendClick("Container_OnLegendClick")
                                    .Palette(VizPalette.SoftPastel)
                                    .CustomizePoint("Container_CustomizePoint")
                                    .Legend(l => l.CustomizeItems("Container_Legend_CustomizeItems"))
    )
    @*@(Html.DevExtreme().PivotGrid<ModelKPI10>()
                                        .ID("pivotgrid")
                                        .AllowSortingBySummary(true)
                                        .AllowFiltering(true)
                                        .AllowSorting(true)
                                        .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
                                        .ShowBorders(true)
                                        .ShowColumnGrandTotals(true)
                                        .ShowRowGrandTotals(true)
                                        .ShowRowTotals(true)
                                        .ShowColumnTotals(true)
                                        .FieldChooser(c => c.Enabled(true).Height(600).Width(900))
                                        .DataSource(d => d.Store(s => s.Mvc().Controller("KPI").LoadAction("GetKPI10")
                                                    .LoadParams(new { jsonParams = new JS("function() { return JsonParamsGetKPI; }") }))
                                        .Fields(fields =>
                                        {
                                            fields.AddFor(m => m.KPI10_STATUS).Caption("Status").Area(PivotGridArea.Row)
                                                .SortBySummaryField("Total").IsMeasure(false);
                                            //fields.AddFor(m => m.KPI10_NOT_APPROVED).Caption("Not Approved").Area(PivotGridArea.Filter)
                                            //    .SortBySummaryField("Total").IsMeasure(false);
                                            fields.AddFor(m => m.KPI10_Data_Apertura).Caption("Opening Date").Area(PivotGridArea.Column).IsMeasure(false);
                                            fields.AddFor(m => m.KPI10_Data_Chiusura).Caption(" Closing Date").Area(PivotGridArea.Filter).IsMeasure(false);
                                            fields.AddFor(m => m.KPI10_Data_Non_Approvazione).Caption("Not Approving Date").Area(PivotGridArea.Filter).IsMeasure(false);
                                            fields.AddFor(m => m.KPI10_N).Caption("Count").Visible(false)
                                                            .SummaryType(SummaryType.Sum)
                                                            //.Format(Format.FixedPoint)
                                                            .Area(PivotGridArea.Data)
                                                            .IsMeasure(true);
                                        })
                                    )
                                    .OnInitialized("bind_chart")
                                    //.OnChanged("onChangedPivotGrid")
                                    .OnCellClick("Container_OnCellClick")
                                    .Export(e => e.Enabled(true).FileName("ExportDataGrid_KPI10"))
                                    .FieldPanel(p => p.ShowColumnFields(true).ShowDataFields(false).ShowFilterFields(true).ShowRowFields(true).AllowFieldDragging(true).Visible(true))
    )*@
    <br />
</div>


