﻿@model WebApp.Entity.CreateAssayDTO
@using WebApp.Classes

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    #divCampiAssay > div {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .inputCode {
        font-weight: bold;
    }
    .inputVersion {
        /*font-weight: bold;*/
    }
    .caption {
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.AssayCod = $("#create_AssayCod").dxTextBox("instance").option('value');
        if ((DTO.AssayCod || "") == "") {
            bootbox.alert("The Code field is required.");
            return false;
        }
        if (DTO.AssayCod.length > 250) {
            bootbox.alert("The field Code must be a string with a maximum length of 250.");
            return false;
        }
        DTO.InstrumentType = $("#create_InstrumentType").dxSelectBox("instance").option('value');
        if ((DTO.InstrumentType || "") == "") {
            bootbox.alert("The Model Type field is required.");
            return false;
        }
        DTO.Note = $("#create_Note").dxTextArea("instance").option('value');
        if ((DTO.Note || '').length > 250) {
            bootbox.alert("The field Notes must be a string with a maximum length of 250.");
            return false;
        }
        DTO.Tipo = $("#create_Tipo").dxTextBox("instance").option('value');
        if ((DTO.Tipo || '').length > 20) {
            bootbox.alert("The field Types must be a string with a maximum length of 20.");
            return false;
        }
        DTO.AssayMadre = $("#create_AssayMadre").dxTextArea("instance").option('value');
        if ((DTO.AssayMadre || '').length > 255) {
            bootbox.alert("The field Origin Assay must be a string with a maximum length of 255.");
            return false;
        }
        DTO.AssayMadreVersione = $("#create_AssayMadreVersione").dxTextArea("instance").option('value');
        if ((DTO.AssayMadreVersione || '').length > 255) {
            bootbox.alert("The field Version Origin must be a string with a maximum length of 255.");
            return false;
        }
        DTO.AssayValidated = $("#create_AssayValidated").dxCheckBox("instance").option('value');
        DTO.AssayAttivo = $("#create_AssayAttivo").dxCheckBox("instance").option('value');
        DTO.Analyte = $("#create_Analyte").dxSelectBox("instance").option('value');
        if ((DTO.Analyte || "") == "") {
            bootbox.alert("The Analyze field is required.");
            return false;
        }
        DTO.Panel = $("#create_Panel").dxSelectBox("instance").option('value');
        if ((DTO.Panel || "") == "") {
            bootbox.alert("The Panel field is required.");
            return false;
        }
        DTO.BusinessType = $("#create_BusinessType").dxSelectBox("instance").option('value');
        if ((DTO.BusinessType || "") == "") {
            bootbox.alert("The Business Type field is required.");
            return false;
        }

        DTO.Version = $("#create_Version").dxTextBox("instance").option('value');
        if ((DTO.Version || "") == "") {
            bootbox.alert("The Version field is required.");
            return false;
        }
        if (DTO.Version.length > 250) {
            bootbox.alert("The field Version must be a string with a maximum length of 250.");
            return false;
        }
        DTO.VersionStatusSend = $("#create_VersionStatusSend").dxSelectBox("instance").option('value'); 
        DTO.VersionAttivo = $("#create_VersionAttivo").dxCheckBox("instance").option('value');
        DTO.Obbligatorio = $("#create_Obbligatorio").dxCheckBox("instance").option('value');
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("CreateAssayJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
        return false;
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="caption col-md-12">Assay</div>
            <div id="divCampiAssay" class="col-md-12">
                <div class="col-md-8">
                    <span class="required">Code</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.AssayCod).ID("create_AssayCod").InputAttr("maxLength", 250).InputAttr("class", "inputCode"))
                </div>
                <div class="col-md-4">
                    <span class="required">Model Type</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.InstrumentType)
                                            .ID("create_InstrumentType")
                                            .DataSource(Lookup.InstrumentModelType_EliteInstruments)
                                            .ValueExpr("id")
                                            .DisplayExpr("descrizione")
                                            .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-12">
                    <span>Notes</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.Note).ID("create_Note").InputAttr("maxLength", 250).InputAttr("rows", "2"))
                </div>
                <div class="col-md-12">
                    <span>Types</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Tipo).ID("create_Tipo").InputAttr("maxLength", 20))
                </div>
                <div class="col-md-12">
                    <span>Origin Assay</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.AssayMadre).ID("create_AssayMadre").InputAttr("maxLength", 255).InputAttr("rows", "2"))
                </div>
                <div class="col-md-12">
                    <span>Version Origin</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.AssayMadreVersione).ID("create_AssayMadreVersione").InputAttr("maxLength", 255).InputAttr("rows", "2"))
                </div>
                <div class="col-md-4">
                    <span class="required">Analyze</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.Analyte)
                                                                            .ID("create_Analyte")
                                                                            .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                                                                .LoadParams(new { CodTab = Lookup.StdTab_Assay_Analyte })
                                                                            .Key("Id"))
                                                                            .ValueExpr("id")
                                                                            .DisplayExpr("descrizione")
                                                                            .ShowClearButton(true)
                                                                            .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-4">
                    <span class="required">Panel</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.Panel)
                                                            .ID("create_Panel")
                                                            .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                                                .LoadParams(new { CodTab = Lookup.StdTab_Assay_Panel })
                                                            .Key("Id"))
                                                            .ValueExpr("id")
                                                            .DisplayExpr("descrizione")
                                                            .ShowClearButton(true)
                                                            .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-4">
                    <span class="required">Business Type</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.BusinessType)
                                                                    .ID("create_BusinessType")
                                                                    .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                                                        .LoadParams(new { CodTab = Lookup.StdTab_Assay_BusinessType })
                                                                    .Key("Id"))
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ShowClearButton(true)
                                                                    .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    @(Html.DevExtreme().CheckBoxFor(m => m.AssayValidated).ID("create_AssayValidated").Text("Validated"))
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    @(Html.DevExtreme().CheckBoxFor(m => m.AssayAttivo).ID("create_AssayAttivo").Text("Active"))
                </div>
            </div>
        </div>
        <div class="empty_row"></div>
        <div class="row">
            <div class="caption col-md-12">Version</div>
            <div id="divCampiAssay" class="col-md-12">
                <div class="col-md-6">
                    <span class="required">Version</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Version).ID("create_Version").InputAttr("maxLength", 250).InputAttr("class", "inputVersion"))
                </div>
                <div class="col-md-6">
                    <span>Status Send</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.VersionStatusSend)
                                                                .ID("create_VersionStatusSend")
                                                                .DataSource(Lookup.listAssayVersionStatusSend)
                                                                .ValueExpr("idNum")
                                                                .DisplayExpr("descrizione")
                                                                //.Value(Lookup.AssayVersion_StatusSend.T0)
                                                                .ShowClearButton(true)
                                                                .Placeholder("(not sent)")
                    )
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @(Html.DevExtreme().CheckBoxFor(m => m.Obbligatorio).ID("create_Obbligatorio").Text("Mandatory"))
                    </div>
                    <div class="col-md-6">
                        @(Html.DevExtreme().CheckBoxFor(m => m.VersionAttivo).ID("create_VersionAttivo").Text("Active"))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                @(Html.DevExtreme().Button().ID("CreateNewAssay").Text("Create New Assay").OnClick("doSave").Type(ButtonType.Success))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose"))
            </div>
        </div>
    </div>
</form>