﻿@model WebApp.Entity.AssayVersion
@using WebApp.Classes;

@{
    bool bCanDeleteTopic = Model.AssayVersionID > 0 && (bool)ViewBag.CanDeleteVersion;
    string titleSave = (Model.AssayVersionID == 0) ? "Create New Version" : "Save Changes";
    string rifVersion = (Model.AssayVersionID == 0) ? "" : string.Format("id {0}", Model.AssayVersionID);
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    #divCampiVersion > div {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .inputVersion {
        /*font-weight: bold;*/
    }


</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSaveVersion() {
        var DTO = new Object();
        DTO.AssayId = @Model.AssayId;
        DTO.AssayVersionID = @Model.AssayVersionID;
        DTO.Version = $("#Version").dxTextBox("instance").option('value');
        if ((DTO.Version || "") == "") {
            bootbox.alert("The Version field is required.");
            return false;
        }
        if (DTO.Version.length > 250) {
            bootbox.alert("The field Version must be a string with a maximum length of 250.");
            return false;
        }
        DTO.StatusSend = $("#StatusSend").dxSelectBox("instance").option('value');
        DTO.Attivo = $("#Attivo").dxCheckBox("instance").option('value');
        DTO.Obbligatorio = $("#Obbligatorio").dxCheckBox("instance").option('value');
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateVersionJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
        return false;
    }
    function doDelete() {
        var msg = "Do you wish to delete it ?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteVersion")',
                    data: { VersionId: @Model.AssayVersionID},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        window.parent.closeModal(true);
                    }
                });
            }
        });
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(model => model.AssayId)
    @Html.HiddenFor(model => model.AssayVersionID)
    <div class="container">
        <div class="row">
            <div id="divCampiVersion" class="col-md-12">
                <div class="col-md-6">
                    <span class="required">Version</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Version).ID("Version").InputAttr("maxLength", 250).InputAttr("class", "inputVersion"))
                </div>
                <div class="col-md-6">
                    <span>Status Send</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.StatusSend)
                                                                    .ID("StatusSend")
                                                                    .DataSource(Lookup.listAssayVersionStatusSend)
                                                                    .ValueExpr("idNum")
                                                                    .DisplayExpr("descrizione")
                                                                    .Value(Model.StatusSend)
                                                                    .ShowClearButton(true)
                                                                    .Placeholder("(not sent)")
                    )
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @(Html.DevExtreme().CheckBoxFor(m => m.Obbligatorio).ID("Obbligatorio").Text("Mandatory"))
                    </div>
                    <div class="col-md-6">
                        @(Html.DevExtreme().CheckBoxFor(m => m.Attivo).ID("Attivo").Text("Active"))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.DevExtreme().Button().ID("DeleteVersion").Icon("trash").OnClick("doDelete").Type(ButtonType.Danger).Hint("Delete Version").Visible(@bCanDeleteTopic)
        </div>
        <div class="col-md-3 text-right"><span class="small">@rifVersion</span></div>
        <div class="col-md-6">
            <div class="pull-right">
                @(Html.DevExtreme().Button().ID("SaveVersion").Text(titleSave).OnClick("doSaveVersion").Type(ButtonType.Success))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose"))
            </div>
        </div>
    </div>
</form>