﻿@model WebApp.Entity.Assay
@using WebApp.Classes

@{
    string titleSave = (Model.AssayID == 0) ? "Create New Assay" : "Save Changes";
    string rifAssay = (Model.AssayID == 0) ? "" : string.Format("id {0}", Model.AssayID);
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    .rowFieldsAssay {
        margin-bottom: 15px !important;
    }
    #divCampiAssay > div {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .inputCode {
        font-weight: bold;
    }


</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.AssayID = @Model.AssayID;
        DTO.AssayCod = $("#edit_AssayCod").dxTextBox("instance").option('value');
        if ((DTO.AssayCod || "") == "") {
            bootbox.alert("The Code field is required.");
            return false;
        }
        if (DTO.AssayCod.length > 250) {
            bootbox.alert("The field Code must be a string with a maximum length of 250.");
            return false;
        }
        DTO.InstrumentType = $("#edit_InstrumentType").dxSelectBox("instance").option('value');
        if ((DTO.InstrumentType || "") == "") {
            bootbox.alert("The Model Type field is required.");
            return false;
        }
        DTO.Note = $("#edit_Note").dxTextArea("instance").option('value');
        if ((DTO.Note || '').length > 250) {
            bootbox.alert("The field Notes must be a string with a maximum length of 250.");
            return false;
        }
        DTO.Tipo = $("#edit_Tipo").dxTextBox("instance").option('value');
        if ((DTO.Tipo || '').length > 20) {
            bootbox.alert("The field Types must be a string with a maximum length of 20.");
            return false;
        }
        DTO.AssayMadre = $("#edit_AssayMadre").dxTextArea("instance").option('value');
        if ((DTO.AssayMadre || '').length > 255) {
            bootbox.alert("The field Origin Assay must be a string with a maximum length of 255.");
            return false;
        }
        DTO.AssayMadreVersione = $("#edit_AssayMadreVersione").dxTextArea("instance").option('value');
        if ((DTO.AssayMadreVersione || '').length > 255) {
            bootbox.alert("The field Version Origin must be a string with a maximum length of 255.");
            return false;
        }
        DTO.Validated = $("#edit_AssayValidated").dxCheckBox("instance").option('value');
        DTO.Attivo = $("#edit_AssayAttivo").dxCheckBox("instance").option('value');
        DTO.Analyte = $("#edit_Analyte").dxSelectBox("instance").option('value');
        if ((DTO.Analyte || "") == "") {
            bootbox.alert("The Analyze field is required.");
            return false;
        }
        DTO.Panel = $("#edit_Panel").dxSelectBox("instance").option('value');
        if ((DTO.Panel || "") == "") {
            bootbox.alert("The Panel field is required.");
            return false;
        }
        DTO.BusinessType = $("#edit_BusinessType").dxSelectBox("instance").option('value');
        if ((DTO.BusinessType || "") == "") {
            bootbox.alert("The Business Type field is required.");
            return false;
        }

        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateAssayJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
        return false;
    }
    function doDelete() {
        var msg = "Do you wish to delete it ?";
        msg += "<br/><br/><i class='label label-danger small' style='font-size: 16px;'>All Versions will be deleted!</i>";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteAssay")',
                    data: { AssayId: @Model.AssayID},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        window.parent.closeModal(true);
                    }
                });
            }
        });
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(model => model.AssayID)
    <div class="container">
        <div class="row">
            <div id="divCampiAssay" class="col-md-12">
                <div class="col-md-8">
                    <span class="required">Code</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.AssayCod).ID("edit_AssayCod").InputAttr("maxLength", 250).InputAttr("class", "inputCode"))
                </div>
                <div class="col-md-4">
                    <span class="required">Model Type</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.InstrumentType)
                                                .ID("edit_InstrumentType")
                                                .DataSource(Lookup.InstrumentModelType_EliteInstruments)
                                                .ValueExpr("id")
                                                .DisplayExpr("descrizione")
                                                .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-12">
                    <span>Notes</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.Note).ID("edit_Note").InputAttr("maxLength", 250).InputAttr("rows", "2"))
                </div>
                <div class="col-md-12">
                    <span>Types</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Tipo).ID("edit_Tipo").InputAttr("maxLength", 20))
                </div>
                <div class="col-md-12">
                    <span>Origin Assay</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.AssayMadre).ID("edit_AssayMadre").InputAttr("maxLength", 255).InputAttr("rows", "2"))
                </div>
                <div class="col-md-12">
                    <span>Version Origin</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.AssayMadreVersione).ID("edit_AssayMadreVersione").InputAttr("maxLength", 255).InputAttr("rows", "2"))
                </div>
                <div class="col-md-4">
                    <span class="required">Analyze</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.Analyte)
                                    .ID("edit_Analyte")
                                    .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                        .LoadParams(new { CodTab = Lookup.StdTab_Assay_Analyte })
                                    .Key("Id"))
                                    .ValueExpr("id")
                                    .DisplayExpr("descrizione")
                                    .ShowClearButton(true)
                                    .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-4">
                    <span class="required">Panel</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.Panel)
                                    .ID("edit_Panel")
                                    .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                        .LoadParams(new { CodTab = Lookup.StdTab_Assay_Panel })
                                    .Key("Id"))
                                    .ValueExpr("id")
                                    .DisplayExpr("descrizione")
                                    .ShowClearButton(true)
                                    .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-4">
                    <span class="required">Business Type</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.BusinessType)
                                    .ID("edit_BusinessType")
                                    .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetStdTabItems")
                                        .LoadParams(new { CodTab = Lookup.StdTab_Assay_BusinessType })
                                    .Key("Id"))
                                    .ValueExpr("id")
                                    .DisplayExpr("descrizione")
                                    .ShowClearButton(true)
                                    .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    @(Html.DevExtreme().CheckBoxFor(m => m.Validated).ID("edit_AssayValidated").Text("Validated"))
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    @(Html.DevExtreme().CheckBoxFor(m => m.Attivo).ID("edit_AssayAttivo").Text("Active"))
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.DevExtreme().Button().ID("DeleteAssay").Icon("trash").OnClick("doDelete").Type(ButtonType.Danger).Hint("Delete Assay")
        </div>
        <div class="col-md-3 text-right"><span class="small">@rifAssay</span></div>
        <div class="col-md-6">
            <div class="pull-right">
                @(Html.DevExtreme().Button().ID("SaveAssay").Text(titleSave).OnClick("doSave").Type(ButtonType.Success))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose"))
            </div>
        </div>
    </div>
</form>