﻿@model WebApp.Entity.AssayLettersDTO
@using WebApp.Classes

@{
    ViewData["Title"] = string.Format("Assay: {0}", Model.Assay.AssayCod);
}

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function goDownloadManleva(id, signed) {
        //console.log(signed);
        $("#opt").val(signed);
        $("#letters").attr("action", '@Url.Action("DownloadManleva")/' + id);
        $("#letters").submit();
        return false;
    }

    function getDataGridInstance() {
        return $("#grid-letters").dxDataGrid("instance");
    }
    function goUploadManleva(id) {
        var uploader = $("#fileUploader").dxFileUploader("instance");
        var url = uploader.option("uploadUrl");
        uploader.option("value", "");
        url = updateQueryStringParameter(url, "LetterId", id);
        uploader.option("uploadUrl", url);
        $('#DivUpload').modal({
            keyboard: true
        }, 'show');
        return false;        
    }
    function fileUploader_onUploaded(e) {
        $('#DivUpload').modal("hide");
        getDataGridInstance().refresh();
        DevExpress.ui.notify("File Loaded!", "info");
    }


</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "letters" }))
{

    <h4>@ViewData["Title"]</h4>
    <hr />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AssayId);
    @Html.Hidden("opt");
    <div id="main">
        <div class="container">
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                    .ID("grid-letters")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    //.HoverStateEnabled(true)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(false)
                    .DataSource(d => d.Mvc().Controller("AssaysNotification").LoadAction("GetLettersByAssay")
                                .LoadParams(new
                                {
                                    AssayId = Model.AssayId
                                })
                                .Key("LetterId")
                                )
                    .RemoteOperations(true)
                    //.Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(true).SelectAllMode(SelectAllMode.AllPages).Deferred(true))
                    .AllowColumnResizing(true)
                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                    .WordWrapEnabled(true)
                    .Columns(columns =>
                    {
                    //columns.Add().DataField("LetterId").Width(20);
                    columns.Add().DataField("CustomerCode").Caption("Customer").Width("15%");
                    columns.Add().DataField("CompanyName").Caption("Company").Width("30%");
                    //columns.Add().DataField("Site_Description").Caption("Site").Width(200);
                    //columns.Add().DataField("Site_City").Caption("City").Width(200);
                    //columns.Add().DataField("Site_Country").Caption("Country").Width(200);
                    //columns.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width(200);
                    columns.Add().Width("10%").Alignment(HorizontalAlignment.Center).AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                            .DataField("FileName").Caption("Letter")
                            .CellTemplate(@<div>
                                            <a href="#" onclick="goDownloadManleva(<%= data.LetterId %>);" style="font-size: 14px;" title="Download Letter">
                                                Download
                                            </a>
                                        </div>)
                            .Fixed(true).FixedPosition(HorizontalEdge.Right);
                    columns.Add().Width("10%").Alignment(HorizontalAlignment.Center).AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                            .DataField("SignedFileName").Caption("Signed Letter")
                            .CellTemplate(@<div>
                                <% if ((data.SignedFileName || '') != '') { %>
                                    <a href="#" onclick="goDownloadManleva(<%= data.LetterId %>, 'signed');" style="font-size: 14px;" title="Download Signed Letter">
                                        Download
                                    </a>
                                    <br />
                                <% } %>
                            </div>)
                            .Fixed(true).FixedPosition(HorizontalEdge.Right);
                    columns.Add().DataField("SignedUser").Caption("Signed User").Width("10%").Fixed(true).FixedPosition(HorizontalEdge.Right);
                    columns.Add().DataField("SignedTmst_Deco").Caption("Signed Date").CalculateSortValue("SignedTmst_Sort").Width("15%").Fixed(true).FixedPosition(HorizontalEdge.Right);
                    columns.Add().Width("10%").Alignment(HorizontalAlignment.Center).AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                            .Caption("Upload Signed Letter").HeaderCellTemplate("Upload<br/>Signed Letter")
                            .CellTemplate(@<div>
                                <a href="#" onclick="goUploadManleva('<%= data.LetterId %>');" style="font-size: 14px;" title="Upload Signed Letter">
                                <% if ((data.SignedFileName || '') == '') { %>
                                    <i class="fa fa-upload" style="color:red;"></i>
                                <% } else { %>
                                    <i class="fa fa-upload" ></i>
                                <% } %>
                                </a>
                            </div>)
                            .Fixed(true).FixedPosition(HorizontalEdge.Right);
                    })
                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                //.ErrorRowEnabled(true)
                //.OnDataErrorOccurred("function (e) { console.log(e); }")
                .Export(e => e.Enabled(true).FileName("letters"))
                //.OnToolbarPreparing("toolbar_preparing")
                )
                <div class="empty_row">&nbsp;</div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
}

<div class="modal fade" id="DivUpload" tabindex="-1" role="dialog" aria-labelledby="Upload File" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_upload">Upload Signed Letter</h4>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                            .ID("fileUploader")
                                            .Name("myNewFile")
                                            .Multiple(false)
                                            .Accept("*")
                                            .AllowCanceling(false)
                                            .MaxFileSize(10000000)  // 10 MB
                                            .UploadMode(FileUploadMode.Instantly)
                                            .UploadUrl(Url.Action("UploadSignedLetter", new { LetterId = 0 }))  // valorizzati on-the-fly
                                            .OnUploaded("fileUploader_onUploaded")
                                            .LabelText("Select the signed letter")
                                            .SelectButtonText("Select file")
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
