﻿@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Assays Notification";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }

    #divGrid {
        margin-top: 5px;
        background-color: #f8f8f8;
        min-height: 500px;
        border: 1px solid #cccccc;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .cmdAssay {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .cmdAssayTesto {
        font-size: 14px;
    }
    .modal-lg {
        width: 80%;
    }

</style>

<script type="text/javascript">

    var selSectionId = 0;
    var selFileName = "";
    var selShowSubSections = true;
    var jsShowLetters = '@User.IsInRole(Lookup.Role_LettersAssays)'.toLowerCase() == 'true';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("#Dettaglio").on("hidden.bs.modal", function () {
                closeModal(false);
                getDataGridInstance().getDataSource().reload();
            });
        });
    });

    function closeModal(bReload) {
        $('#Dettaglio').modal('hide');
        $('#DettaglioContent').html("");
        $("#titolo_dettaglio").html("");
        if ((bReload || false)) {
            DevExpress.ui.notify("Operation successful.");
            getDataGridInstance().getDataSource().reload();
        }
    };

    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 9999);
    }

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function refreshGridVersion(id) {
        var grid = $("#grid-versions_" + id).dxDataGrid("instance");
        grid.getDataSource().reload();
    }
    function goExport() {
        getDataGridInstance().exportToExcel();
    }
    function doDownload() {
        var myMessage = '<div class="row">  ' +
            '<div class="col-md-12"> ' +
            '<form class="form-horizontal"> ' +
            '<div class="form-group"> ';
        myMessage = myMessage +
            '<div class="col-md-12">' +
            '<div class="radio"> <label for="synthetic"> ' +
            '&emsp;<input type="radio" name="scelta" id="synthetic" value="synthetic" checked="checked"> ' +
            'Synthetic Detail</label>&nbsp;</div>';
        myMessage = myMessage +
            '<div class="radio"> <label for="analytics"> ' +
            '&emsp;<input type="radio" name="scelta" id="analytics" value="analytics"> ' +
            'Analytics Detail</label>&nbsp;</div>';
        myMessage = myMessage +
            '<div class="radio"> <label for="manleva"> ' +
            '&emsp;<input type="radio" name="scelta" id="manleva" value="manleva"> ' +
            'Indemnity Clauses</label>&nbsp;</div>';

        myMessage = myMessage +
            '</div> </div>' +
            '</form> </div>  </div>';
        bootbox.dialog({
            title: "Export Assays",
            message: myMessage,
            size: "small",
            buttons: {
                main: {
                    label: "Cancel",
                    className: "btn-default",
                    callback: function () {
                        // no action
                    }
                },
                success: {
                    label: "Export",
                    className: "btn-primary",
                    callback: function () {
                        var radioValue = $("input[name='scelta']:checked").val();
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("CreateRequestExportAssayJSON")',
                            data: { mode: radioValue},
                            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                            success: function (data) {
                                DevExpress.ui.notify("Operation successful; you will receive an email.");
                            }
                        });
                    }
                }
            }
        })
        return false;;
    }
    function goAddAssay() {
        $('#DettaglioContent').load('@(Url.Action("Create"))', function () {
            $("#titolo_dettaglio").html("Create New Assay");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
    }
    function goEditAssay(AssayId) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("editAssay"))?AssayId=' + AssayId , function () {
            $("#titolo_dettaglio").html("Edit Assay");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function goAddVersion(AssayId) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("editVersion"))?AssayId=' + AssayId , function () {
            $("#titolo_dettaglio").html("Create New Version");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function goEditVersion(VersionId) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("editVersion"))?AssayVersionID=' + VersionId, function () {
            $("#titolo_dettaglio").html("Edit Version");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function goManleva(AssayId) {
        $("#elenco").attr("action", '@Url.Action("AssayLetters")?AssayId=' + AssayId);
        $("#elenco").submit();
    }
    function showMsgNoLetter() {
        bootbox.alert("No Letter for this Assay!");
    }

    function onCellPreparedAssay(options) {
        if (options.rowType == "data" && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "<a href='#' onclick='goEditAssay(" + options.value + ");' class='cmdAssay' title='Edit Assay'><i class='fa fa-edit'></i></a>";
            fieldHtml += "<a href='#' onclick='goAddVersion(" + options.value + ");' class='cmdAssay' title='Add New Version'><i class='fa fa-plus'></i></a>";
            if (options.data.Validated == false && jsShowLetters == true) {
                var colore = "red";
                if (options.data.StatoManlevaCalc == '@Html.Raw((int)Lookup.Assay_StatoManleva.Creata)') colore = "orange";
                if (options.data.StatoManlevaCalc == '@Html.Raw((int)Lookup.Assay_StatoManleva.Firmata)') colore = "green";
                if (colore == "red") {
                    fieldHtml += "<a href='#' onclick='showMsgNoLetter();' class='cmdAssay' title='No Letter for this Assay!'><i class='fa fa-file-text' style='color:" + colore + "'></i></a>";
                } else {
                    fieldHtml += "<a href='#' onclick='goManleva(" + options.value + ");' class='cmdAssay' title='Show Letters'><i class='fa fa-file-text' style='color:" + colore + "'></i></a>";
                }
            }
            options.cellElement.html(fieldHtml);
        }
    }
    function onCellPreparedVersion(e) {
        if (e.rowType == 'header' && e.column.name && e.column.name == "cmdversion") {
            var fieldHtml = "";
            //fieldHtml += "<a href='#' onclick='goAddVersion(" + e.column.caption + ");' class='cmdAssay' title='Add New Version'><i class='fa fa-plus'></i><span class='cmdAssayTesto'>&nbsp;New Version</span></a>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdversion") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goEditVersion(" + e.value + ");' class='fa fa-edit cmdAssay' title='Edit Version'></a>&nbsp;";
            e.cellElement.html(fieldHtml);
        }
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("AllVersions", "visible", true);
        e.component.columnOption("AttivoDesc", "visible", true);
        e.component.columnOption("Attivo", "visible", false);
    }
    function OnExported(e) {
        e.component.columnOption("AllVersions", "visible", false);
        e.component.columnOption("AttivoDesc", "visible", false);
        e.component.columnOption("Attivo", "visible", true);
        e.component.endUpdate();
    }
    function OnFileSaving(e) {
        e.fileName = "Assay_" + getFormattedTime();
    }

</script>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <div class="empty_row"></div>
    @(Html.DevExtreme().LoadPanel()
                        .ID("loadPanelSend")
                        .ShadingColor("rgba(0,0,0,0.4)")
                        .Visible(false)
                        .ShowIndicator(true)
                        .ShowPane(true)
                        .Shading(false)
                        .CloseOnOutsideClick(true)
                        .Message("Sending...")
                        .OnShown("loadPanelSend_shown")
    )

    <div id="sfondo"></div>
    <div id="main">
        <div class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                    </div>
                </div>
            </div>
            <div class="long-title"><h3 style="margin: 2px;">@titolo</h3></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button()
                                            .Icon("xlsxfile")
                                            .Hint("Export to Excel")
                                            .OnClick("goExport")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("fa fa-external-link")
                                            .Hint("Export Assays")
                                            .OnClick("doDownload")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("add")
                                            .Hint("Add New Assay")
                                            .ID("NewAssay")
                                            .Type(ButtonType.Success)
                                            .OnClick("goAddAssay")
                        )
                    </div>
                </div>
            </div>
            <div id="divGrid">
                @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(true)
                                        .RowAlternationEnabled(true)
                                        .DataSource(d => d.WebApi().LoadAction("GetAllAssays")
                                                                .Key("AssayID"))
                                        .RemoteOperations(true)
                                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                        .Selection(s => s.Mode(SelectionMode.Single))
                                        .AllowColumnReordering(true)
                                        .AllowColumnResizing(true)
                                        .ColumnResizingMode(ColumnResizingMode.Widget)
                                        .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("AssaysNotificationIndex"))
                                        .OnSelectionChanged(@<text>
                                            function(e) {
                                            e.component.collapseAll(-1);
                                            e.component.expandRow(e.currentSelectedRowKeys[0]);
                                            refreshGridVersion(e.currentSelectedRowKeys[0]);
                                            }
                                        </text>)
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("AssayID").Visible(false);
                                            columns.Add().DataField("AssayCod").Caption("Code").Width(200).Fixed(true).FixedPosition(HorizontalEdge.Left);
                                            columns.Add().DataField("ModelTypeDeco").Caption("Model Type").Width(150);
                                            columns.Add().DataField("Note").Caption("Notes").Width(200);
                                            columns.Add().DataField("Tipo").Caption("Type").Width(80).Alignment(HorizontalAlignment.Center);
                                            columns.Add().DataField("AssayMadre").Caption("Origin Assay").Width(200);
                                            columns.Add().DataField("AssayMadreVersione").Caption("Version Origin").Width(200);
                                            columns.Add().DataField("LastVersion").Caption("Last Version").Width(100).Alignment(HorizontalAlignment.Center);
                                            columns.Add().DataField("Obbligatorio").Caption("Mandatory").Width(100).Alignment(HorizontalAlignment.Center);
                                            columns.Add().DataField("Date1NotifyDeco").CalculateSortValue("Date1NotifySort").Caption("Last Notify").Width(100).Alignment(HorizontalAlignment.Center);
                                            columns.Add().DataField("TmstLastUpdDeco").CalculateSortValue("TmstLastUpdSort").Caption("Last Update").Width(100).Alignment(HorizontalAlignment.Center);
                                            columns.Add().DataField("Validated").Caption("Validated").Width(80);
                                            columns.Add().DataField("Attivo").Caption("Active").Width(80);
                                            columns.Add().DataField("AttivoDesc").Caption("Active").Visible(false).Alignment(HorizontalAlignment.Center);  // per Export
                                            columns.Add().DataField("AnalyteDesc").Caption("Analyte").Width(150);
                                            columns.Add().DataField("PanelDesc").Caption("Panel").Width(150);
                                            columns.Add().DataField("BusinessTypeDesc").Caption("Business Type").Width(150);
                                            //columns.Add().DataField("InstrumentType").Caption("Intrument Type").Width(150);
                                            columns.Add().DataField("AllVersions").Caption("Versions").Width(300).Visible(false);  // per Export
                                            columns.Add()
                                                    .Alignment(HorizontalAlignment.Left)
                                                    .Width(100)
                                                    .Fixed(true)
                                                    .FixedPosition(HorizontalEdge.Right)
                                                    .AllowFiltering(false)
                                                    .AllowSorting(false)
                                                    .AllowEditing(false)
                                                    .AllowExporting(false)
                                                    .AllowResizing(false)
                                                    .Caption("")
                                                    .Name("cmd")
                                                    .DataField("AssayID");
                                        })
                                        .OnCellPrepared("onCellPreparedAssay")
                                        .MasterDetail(md =>
                                        {
                                            md.Enabled(true)
                                            .Template(@<text>
                                                <div class="internal-grid-container" title="">
                                                    <div class="col-md-12">
                                                        @(Html.DevExtreme().DataGrid()
                                                                        .ID(new JS("'grid-versions_' + data.AssayID"))
                                                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                        .ShowBorders(true)
                                                                        .ShowRowLines(true)
                                                                        .ShowColumnHeaders(true)
                                                                        .HoverStateEnabled(false)
                                                                        .RowAlternationEnabled(false)
                                                                        .DataSource(d => d.WebApi().LoadAction("GetAssayVersions")
                                                                                .LoadParams(new { id = new JS("data.AssayID") })
                                                                            )
                                                                        .RemoteOperations(true)
                                                                        .Columns(columns =>
                                                                        {
                                                                            columns.Add().DataField("AssayVersionID").Visible(false);
                                                                            columns.Add().DataField("Version").Width("40%");
                                                                            columns.Add().DataField("StatusSendDesc").Caption("Status Send").Width("10%").Alignment(HorizontalAlignment.Center);
                                                                            columns.Add().DataField("Obbligatorio").Caption("Mandatory").Width("15%");
                                                                            columns.Add().DataField("Attivo").Caption("Active").Width("15%");
                                                                            columns.Add()
                                                                            .Alignment(HorizontalAlignment.Center)
                                                                            .Width("10%")
                                                                            .AllowFiltering(false)
                                                                            .AllowSorting(false)
                                                                            .AllowEditing(false)
                                                                            .AllowExporting(false)
                                                                            .Caption(new JS(" data.AssayID "))
                                                                            .Name("cmdversion")
                                                                            .DataField("AssayVersionID");
                                                                        })
                                                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                                        .OnCellPrepared("onCellPreparedVersion")
                                                        )
                                                    </div>
                                                </div>
                                            </text>);
                                        })
                                        .Paging(p => p.PageSize(10))
                                        .Pager(pager =>
                                        {
                                            pager.ShowPageSizeSelector(true);
                                            pager.AllowedPageSizes(new List<int>
                                            { 5, 10, 20, 50 });
                                            pager.ShowInfo(true);
                                            pager.InfoText("page {0} of {1} ({2} records)");
                                            pager.ShowNavigationButtons(true);
                                        })
                                        .Export(e => e.Enabled(false).AllowExportSelectedData(false))
                                        .OnFileSaving("OnFileSaving")
                                        .OnExporting("OnExporting")
                                        .OnExported("OnExported")
                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                )
            </div>
        </div>
    </div>

    <!-- Dettaglio -->
    <div class="modal fade" id="Dettaglio" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title" id="titolo_dettaglio"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding-top: 5px;">
                    <div id='DettaglioContent'></div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}