﻿@model WebApp.Entity.ViewActivityDTO
@using WebApp.Classes

<style type="text/css">
    @@media print {
        * {
            display: none;
        }

        #divPrintableTable {
            display: block;
        }
    }

    #printableTable td {
        vertical-align: top;
        padding-right: 5px !important;
            
    }
</style>

<script type="text/javascript">
    function printDiv() {
        var divElements = document.getElementById("divPrintableTable").innerHTML;
        var style = "<style> #printableTable td {vertical-align:top}</style>";
        window.frames["print_frame"].document.body.innerHTML = "<html><head><title></title></head>" + style + "<body>" + divElements + "</body>";
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
        $('.modal').modal('hide');
        return false;
    }
</script>
<div class="btn btn-link" onclick="printDiv()">Print</div>

<div id="divPrintableTable">
    <div class="container">
        <table cellspacing="0" id="printableTable">
            <thead>
                <tr>
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="20%"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="right">@Model.RequestType Nr.:</td>
                    <td><b>@Model.TKRequestId</b></td>
                    <td align="right">Registration:</td>
                    <td colspan="2">@Model.UserRegistration_Name @Model.TmstInseDeco</td>
                </tr>
                <tr>
                    <td align="right">Classification:</td>
                    <td colspan="4"><b>@Model.ClassificationDeco</b></td>
                </tr>
                @if (Model.showInstrument)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.Instrument:</td>
                        <td colspan="4"><b>@Model.InstrumentDeco</b></td>
                    </tr>
                }
                @if (Model.showOtherPlatform)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.OtherPlatform:</td>
                        <td colspan="4"><b>@Model.OtherPlatform</b></td>
                    </tr>
                }
                @if (Model.showCodArt)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.Product:</td>
                        <td colspan="4"><b>@Model.CodArt</b></td>
                    </tr>
                }
                @if (Model.showClaimLogFile)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.ClaimLogFile:</td>
                        <td colspan="4"><b>@Model.Code</b></td>
                    </tr>
                }
                @if (Model.showAddInfo)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.AdditionalInfo:</td>
                        <td colspan="4"><b>@Model.AddInfoDeco</b></td>
                    </tr>
                }
                @if (Model.showInfoContact)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.InfoContact:</td>
                        <td colspan="4"><b>@Model.InfoContact</b></td>
                    </tr>
                }
                @if (Model.showQuantity)
                {
                    <tr>
                        <td align="right">@Model.ConfigModel.Quantity:</td>
                        <td colspan="4"><b>@Model.Quantity</b></td>
                    </tr>
                }
                <tr>
                    <td align="right">Subject:</td>
                    <td colspan="4"><b>@Model.Object</b></td>
                </tr>
                <tr>
                    <td align="right">Description:</td>
                    <td colspan="4">@Html.Raw(Model.Description)</td>
                </tr>
                <tr>
                    <td align="right">CCS Email Addresses:</td>
                    <td colspan="4"><b>@Model.EmailsKeepInformed</b></td>
                </tr>
                @if (Model.Status.Equals(Lookup.TKRequest_Status_CLOSED))
                {
                    <tr>
                        <td align="right">Closing Info:</td>
                        <td colspan="4">@Html.Raw(Model.ClosingNote)</td>
                    </tr>
                    if (Model.showClosingInfo)
                    {
                        <tr>
                            <td align="right">&nbsp;</td>
                            <td colspan="4">@Html.Raw(Model.ClosingInfoDeco)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr />    
    <div class="container">
        <table cellspacing="0" rules="all" border="1" id="printableTable">
            <thead>
                <tr>
                    <th width="15%" align="center"></th>
                    <th width="15%" align="center">Operation</th>
                    <th width="65%">Note</th>
                    <th width="5%" align="center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td align="center">@item.TmstInseDeco<br />@item.UserInse_Name</td>
                        <td align="center">@item.Operation</td>
                        <td>@Html.Raw(item.Note) </td>
                        <td align="center">@item.ReservedDecoShort</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
</div>

