﻿@*@model WebApp.Entity.DRTopic*@
@using WebApp.Classes;

<style type="text/css">
    .scelta {
        cursor: pointer;
        height: 120px;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
    }

    .classifLevel {
        font-size: x-large;
        font-weight: bold;
    }

    .classifPath {
        font-size: medium;
    }

    .panel-scelta {
        margin-bottom: 5px !important;
    }
</style>

<script type="text/javascript">
    var selClassifId = 0;
    var selClassifIdx = 0;
    var historyId = [];
    var historyPath = [];
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            loadClassifications(0, "");
        });
    });
    function gobackClassification(selectedId) {
        for (var i = 0; i < historyId.length; i++) {
            if (historyId[i] == selectedId) {
                selClassifIdx = i-1;
                loadClassifications(historyId[i], historyPath[i]);
                return false;
            }
        }
    }
    function loadClassifications(SelectedId, Title) {

        selClassifId = SelectedId;
        if (SelectedId == 0) {
            selClassifIdx = 0;
            Title = "Home";
        } else {
            selClassifIdx++;
        }
        historyId[selClassifIdx] = SelectedId;
        historyPath[selClassifIdx] = Title;
        var myLevel = "Main request subject/topic";
        if (selClassifIdx == 1) {
            myLevel = "With reference to";
        }
        if (selClassifIdx > 1) {
            myLevel = "Product related";
        }
        if (selClassifIdx > 2) {
            myLevel = "Platform associated";
        }
        var myPath = "";
        myPath = '<span class="classifLevel">' + myLevel + '</span><br/>';
        //console.log(JSON.stringify(historyId));
        for (var i = 0; i <= selClassifIdx; i++) {
            if (i != 0) {
                myPath += ' &gt; ';
            }
            if (i < selClassifIdx) {
                myPath += '<a href="#" class="classifPath" onclick = "gobackClassification(' + historyId[i] + ');">' + historyPath[i] + '</a>';
            } else {
                myPath += '<span href="#" class="classifPath">' + historyPath[i] + '</a>';

            }
        }
        //myPath += '<span class="classifPath"> ' + selClassifPath + ' & nbsp;</span >"':
        $("#TitleClassification").html(myPath);

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetClassificationsForNewRequestJSON")',
            data: { ParendId: selClassifId },
            success: function (data) {
                $("#divClassifications").html("");
                var myHtml = "";
                if ((data.length || 0) == 0) {
                    if (selClassifId == 0) {
                        myHtml = '<h1 class="text-danger">Configuration missing (no items)</h1>';
                    } else {
                        $("#WizardNewRequest").attr("action", '@Url.Action("Create")/' + selClassifId);
                        $("#WizardNewRequest").submit();
                    }
                } else {
                    var myClass = "col-xs-12 col-md-6";
                    //if (data.length < 4) {
                    //    myClass += " col-md-pull-3";
                    //}
                    var MyTKConfig = "";
                    $.each(data, function (i, item) {
                        if (SelectedId == 0) {
                            var tmplConfig = "<br><span style='color: yellow; font-weight: bold;'>{{description}}</span>";
                            var dataTemplate = new Object();
                            //dataTemplate.color = "red";
                            dataTemplate.description = item.configDescription;
                            MyTKConfig = Mustache.render(tmplConfig, dataTemplate);
                        }
                        myHtml += '<div class="' + myClass + '" onclick = "loadClassifications(' + item.TKClassificationId + ', \'' + item.Title.replace(/(\r\n|\n|\r)/gm, "") + '\');" >';
                        myHtml += '<div class="panel panel-default text-center panel-scelta">';
                        myHtml += '<div class="panel-body panel-text scelta">';
                        myHtml += '<h4>' + item.Title + MyTKConfig + '</h4>';
                        myHtml += '</div>';
                        myHtml += '</div>';
                        myHtml += '</div>';
                    });
                }
                $("#divClassifications").html(myHtml);
            },
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            }
        });
    }
</script>


<form id="WizardNewRequest">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container" style="min-height: 300px;">
        <div class="row text-center">
            <span id="TitleClassification">where</span>
        </div>
        <div class="empty_row">&nbsp;</div>
        <div class="row center" style="vertical-align: central" id="divClassifications">
            <!-- draw at runtime -->
        </div>
    </div>
</form>

