﻿@using WebApp.Classes

@{
    string titolo = "Manage Complaint";
    bool isCCA = User.IsInRole(Lookup.Role_CustomerComplaintAnalyst);
    bool isSupport = User.IsInRole(Lookup.Role_SupportAdministrator);

    int CurrentArea = (int)ViewData["CurrentArea"];
    int CurrentItemIndex = (int)(ViewData["TabItemIndex"] ?? 0);

    bool bShowClosed = false;
    if (ViewData["bShowClosed"] != null)
    {
        bShowClosed = (bool)ViewData["bShowClosed"];
    }

    bool bShowOnlyRequestData = false;
    if (ViewData["bShowOnlyRequestData"] != null)
    {
        bShowOnlyRequestData = (bool)ViewData["bShowOnlyRequestData"];
    }
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dx-tab-text {
        height: 40px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: large;
    }

        .dx-item.dx-tab.dx-tab-selected {
            color: blue;
            font-size: x-large;
            font-style: italic;
        }

    .cmdDetail {
        font-size: 20px;
    }

    .cmdNews {
        font-size: 20px;
    }

    .cmdEdit {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }

    .cmdReopen {
        font-size: 16px;
        color: #ed1818;
        font-weight: bold;
    }

    .cmdResume {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .cmdAssignToMe {
        font-size: 18px;
        color: darkslategray;
        /*font-weight: bold;*/
    }
    .TKRequest-status-PENDING {
        background-color: #fadada;
    }
    .TKRequest-status-REOPENED {
        background-color: lightgray;    
    }
    .TKRequest-status-PROCESSING {
        background-color: greenyellow;
    }
    .TKRequest-status-CLOSED {
        /*background-color: #ffff66;*/
    }
    .TKRequest-status-STANDBY {
        background-color: #ffffbd;
    }
    .TKRequest-status-UNDER_INVESTIGATION {
        background-color: lightblue;
    }
    .TKRequest-statusHigh-PENDING {
        /*background-color: red !important;*/
        /*color: white !important;*/
    }
    .TKRequest-statusHigh-REOPENED {
        /*background-color: orange !important;*/
        color: blue !important;
        font-weight: bold;
    }
    .TKRequest-statusHigh-PROCESSING {
        /*background-color: greenyellow !important;*/
    }
    .TKRequest-statusHigh-CLOSED {
        /*background-color: #ffff66 !important;*/
        font-weight: bold;
    }
    .TKRequest-statusHigh-STANDBY {
        background-color: yellow !important;
    }
    .TKRequest-statusHigh-UNDER_INVESTIGATION {
        /*background-color: #ffff66 !important;*/
    }
    .TKRequest-status-ACTION_CMPSTATUS1 { /*REJECT*/
        background-color: #fadada;
    }
    .TKRequest-status-ACTION_CMPSTATUS2 { /*FORWARD TO CCA*/
        background-color: darkorange;
    }
    .TKRequest-status-ACTION_CMPSTATUS3 { /*OPEN ON LINKOMM*/
        background-color: lightblue;
    }
    .TKRequest-status-ACTION_CMPSTATUS4 { /*DATA REQUEST*/
        background-color: #FFEC33;
    }
    .badgeProgress {
        font-size: 16px;
    }
</style>
<script type="text/javascript">

    var selCurrentArea = @CurrentArea;
    var selTabItemIndex = @CurrentItemIndex;
    var selTKRequestId = 0;
    var selCurrentConfig = null;

    var jsClosed = ('@bShowClosed'.toLowerCase() == 'true');
    var jsRequestData = ('@bShowOnlyRequestData'.toLowerCase() == 'true');

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            aggiornaParametriView();
        });
    });

    function getDataGridInstance() {
        return $("#grid-container-complaint").dxDataGrid("instance");
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            //goDetail(data.TKRequestId);
        }
        getDataGridInstance().clearSelection();
    }
    function grid_OnRowDblClick(e) {
        if (e.key) {
            let grid = getDataGridInstance();
            let rows = grid.getVisibleRows();
            let rowIndex = grid.getRowIndexByKey(e.key);
            let row = rows[rowIndex];
            if (row) {
                if (row.data.Status == '@Lookup.TKRequest_Status_PENDING.ToString()' ||
                    row.data.Status == '@Lookup.TKRequest_Status_PROCESSING.ToString()' ||
                    row.data.Status == '@Lookup.TKRequest_Status_UNDER_INVESTIGATION.ToString()' ||
                    row.data.Status == '@Lookup.TKRequest_Status_REOPENED.ToString()')
                {
                    goEdit(e.key);
                    return false;
                }
            }
            goDetail(e.key);
        }
    }
    function goDetail(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("DetailRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }

    function goEdit(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }

    function goReopen(Id) {
        selTKRequestId = Id;
        $('#ReopenPopup').modal('toggle');
        return false;
    }

    function doProcessReopen() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteReopen').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }

    function goResume(Id) {
        selTKRequestId = Id;
        $('#ResumePopup').modal('toggle');
        return false;
    }
    function doProcessResume() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteResume').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            var status = info.data.Status;
            if (status != '@Lookup.TKRequest_Status_CLOSED.ToString()' && status != '@Lookup.TKRequest_Status_REOPENED.ToString()') {
                if ((info.data.ComplaintStatus || '') != '') {
                    status = 'ACTION_' + info.data.ComplaintStatus;
                }
            }
            info.rowElement.addClass('TKRequest-status-' + status);
        }
    }

    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.value + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
            if ('@isSupport'.toLowerCase() == 'true') {
                // Comandi abilitati solo all'Administrator
                if (e.data.Status == '@Lookup.TKRequest_Status_PENDING' || e.data.Status == '@Lookup.TKRequest_Status_REOPENED') {
                    fieldHtml += "<a href='#' onclick='goAssignToMe(" + e.value + ");' class='glyphicon glyphicon-edit cmdAssignToMe' title='Assign To Me'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_PROCESSING' || e.data.Status == '@Lookup.TKRequest_Status_UNDER_INVESTIGATION') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
                    fieldHtml += "<a href='#' onclick='goAssign(" + e.value + ");' class='fa fa-user-o cmdAssign' title='Assign'></a>&nbsp;";
                    fieldHtml += "<a href='#' onclick='goSupend(" + e.value + ");' class='glyphicon glyphicon-pause cmdResume' title='Suspend'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_STANDBY') {
                    fieldHtml += "<a href='#' onclick='goResume(" + e.value + ");' class='glyphicon glyphicon-repeat cmdResume' title='Resume'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_CLOSED') {
                    fieldHtml += "<a href='#' onclick='goReopen(" + e.value + ");' class='fa fa-fast-backward cmdReopen' title='Reopen'></a>&nbsp;";
                }
            } else if ('@isCCA'.toLowerCase() == 'true') {
                if ((e.data.Status == '@Lookup.TKRequest_Status_PROCESSING' || e.data.Status == '@Lookup.TKRequest_Status_UNDER_INVESTIGATION')) {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
                }
            } else {
                // Altri utenti !!! 
                if (e.data.Status == '@Lookup.TKRequest_Status_PROCESSING' || e.data.Status == '@Lookup.TKRequest_Status_REOPENED' || e.data.Status == '@Lookup.TKRequest_Status_UNDER_INVESTIGATION') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='fa fa-comment-o cmdEdit' title='Add Note'></a>&nbsp;";
                }
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "cmdnews" ) {
            fieldHtml = "";
            if ('@isSupport'.toLowerCase() == 'true') {
                if ((e.data.UserInChargeOf || "") == "@User.Identity.Name") {
                    if ((e.data.CntNews_CCA2Support || 0) > 0) {
                        fieldHtml += "<span class='fa fa-circle cmdNews' style='color: red;' title='There are CCA news'></span>&nbsp;";
                    } else {
                        fieldHtml += "<span class='fa fa-circle-o cmdNews' title='No news'></span>&nbsp;";
                    }
                }
                // accesso fatto dal richiedente
                if ((e.data.InfoLastAccess || "") != "") {
                    fieldHtml += "<span class='fa fa-check cmdRead' title='" + e.data.InfoLastAccess + "'></span>&nbsp;";
                }
            } else {
                if ((e.data.CntNews_Support2CCA || 0) > 0) {
                    fieldHtml = "<span class='fa fa-circle cmdNews' style='color: blue;' title='There are news'></span>&nbsp;";
                } else {
                    fieldHtml += "<span class='fa fa-circle-o cmdNews' title='No news'></span>&nbsp;";
                }
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('TKRequest-statusHigh-' + e.data.Status);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "Progress".toLowerCase()) {
            fieldHtml = "<span class='badge badgeProgress' style='background-color:" + e.data.PercToDoListColor + ";'>" + e.data.PercToDoList + "%</span>";
            e.cellElement.html(fieldHtml);
        }

    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    //function tabs_itemClick(e) {
    //    selTabItemIndex = e.itemIndex;
    //    selCurrentArea = e.itemData.id;
    //    getDataGridInstance().getDataSource().reload();
    //    aggiornaParametriView();
    //}
    function tabs_optionChanged(e) {
        // Implemento questo evento per gestire anche la configurazione all'apertura della view
        if (e.name == 'selectedIndex') {
            selTabItemIndex = e.value;
            getDataGridInstance().getDataSource().reload();
            aggiornaParametriView();
        }
        if (e.name == 'selectedItem') {
            if (e.previousValue == null) return false;

            selCurrentArea = e.value.id;
            selCurrentConfig = e.value.configModel;

            var grid = getDataGridInstance();
            var complaint = "";
            
            if (selCurrentConfig.HasComplaint == true) complaint = "Complaint";
            setDataGridColumnOption(grid, "SerialNumber", selCurrentConfig.Instrument)
            setDataGridColumnOption(grid, "City", ((selCurrentConfig.Instrument || '') != '' ? "City" : ""));
            setDataGridColumnOption(grid, "Country", ((selCurrentConfig.Instrument || '') != '' ? "Country" : ""));
            setDataGridColumnOption(grid, "Progress", ((selCurrentConfig.ToDoList || '') != '' ? "Progress" : ""));
        }
    }
    function setDataGridColumnOption(grid, colId, caption) {
        grid.columnOption(colId, "visible", false);
        if ((caption || '') != '') {
            grid.columnOption(colId, "visible", true);
            grid.columnOption(colId, "caption", caption);
            grid.columnOption(colId, "headerCellTemplate", caption.replace(" ", "<br/>"));
        }
    }
    function aggiornaParametriView() {
        $.get('@Url.Action("SaveIndexComplaintParams")', { tabItemIndex: selTabItemIndex, Area: selCurrentArea }
             ).always(function () {
                //
            });
    }
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            @*location: "before",
            widget: "dxButton",
            options: {
                icon: "fa fa-calendar-plus-o",
                text: "Create new Complaint",
                hint: "Create new Complaint",
                type: "Normal",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("Index", "Home")');
                    $("#elenco").append('<input type="hidden" name="command" value="NewTicketRequest" /> ');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        }, {*@
            location: "before",
            widget: "dxCheckBox",
            options: {
                value: (jsClosed || false),
                visible:  true,
                text: "Show Closed Complaints",
                onValueChanged: function (data) {
                    jsClosed = data.value;
                    aggiornaFiltri();
                }
            }
        }, {
            location: "before",
            widget: "dxCheckBox",
            options: {
                value: (jsRequestData || false),
                visible: true,
                text: "Show Only Request Data",
                onValueChanged: function (data) {
                    jsRequestData = data.value;
                    aggiornaFiltri();
                }
            }
        });
    }
    function aggiornaFiltri() {
        $.get('@Url.Action("SaveManageFilters")', { showClosed: jsClosed, showOnlyRequestData: jsRequestData }
             ).always(function () {
                getDataGridInstance().getDataSource().reload();
            });
    }
    function goAssignToMe(Id) {
        bootbox.confirm("Do you want to take charge this complaint?", function (result) {
            if (result) {
                $("#elenco").attr("method", "GET");
                $("#elenco").attr("action", '@Url.Action("AssignToMe")/' + Id);
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }
    function goAssign(Id) {
        selTKRequestId = Id;
        var data = $("#users").dxList("instance").getDataSource().reload();
        $('#AssignPopup').modal('toggle');
        return false;
    }
    function goSupend(Id) {
        selTKRequestId = Id;
        $('#SuspendPopup').modal('toggle');
        return false;
    }
    function doProcessAssign() {
        var selected = $('#selectedUser2Assign').text();
        if ((selected || "") != "") {
            $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
            $("#elenco").append('<input type="hidden" name="userName" value="' + selected + '" /> ');
            $("#elenco").append('<input type="hidden" name="NoteAssign" value="' + $('#NoteAssign').val() + '" /> ');
            $("#elenco").attr("method", "GET");
            $("#elenco").attr("action", '@Url.Action("AssignRequest")');
            $("#elenco").submit();
        };
        return false;
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @titolo
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                .Icon("fa fa-info-circle")
                                .Hint("Function Documentation")
                                .Text("")
                                .Type(ButtonType.Normal)
                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Support_Complaint">
    <div id="sfondo"></div>
    <br />
    <div class="row" style="border: 1px solid;">
        @(Html.DevExtreme().Tabs()
                                       .ID("tabs-container")
                                       .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetClassificationAreas").Key("id")
                                                    .LoadParams(new { context = Lookup.TKRequest_ActionIndex_Complaint })
                                       )
                                       .SelectedIndex(CurrentItemIndex)
                                       //.OnItemClick("tabs_itemClick")
                                       .OnOptionChanged("tabs_optionChanged")
        )
    </div>
    <div class="row" style="margin-top: 5px;">
        @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container-complaint")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(true)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(false)
                                    .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetRequests").Key("TKRequestId")
                                                            .LoadParams(new
                                                            {
                                                                ClassificationAreaId = new JS("function() { return selCurrentArea; }"),
                                                                getType = Lookup.GetRequestsType.ManageComplaint,
                                                                bGetClosed = new JS("function() { return jsClosed; }"),
                                                                bGetOnlyRequestData = new JS("function() { return jsRequestData; }")
                                                            })
                                                            )
                                    .RemoteOperations(true)
                                    .OnCellPrepared("onCellPrepared")
                                    .OnRowPrepared("OnRowPrepared")
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .OnSelectionChanged("selection_changed")
                                    .OnRowDblClick("grid_OnRowDblClick")
                                    .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple).ShowSortIndexes(true))
                                    .AllowColumnResizing(true)
                                    .ColumnResizingMode(ColumnResizingMode.Widget)
                                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("ManageComplaintIndex"))
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("TKRequestId").Caption("Id").Width(80).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("StatusDeco").Caption("Status").Name("status").Width(100);
                                        columns.Add().Name("Progress").Caption("Progress").Width(100).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("Object").Caption("Subject").Width(120);
                                        columns.Add().DataField("TmstInseDeco").HeaderCellTemplate("Date of the<br/>request").Width(120).CalculateSortValue("TmstInseSort").SortOrder(SortOrder.Desc);
                                        columns.Add().DataField("ComplaintLotNumber").Caption("Lot Number").Width(100);
                                        columns.Add().DataField("ComplaintCustomer").Caption("End user's site").Width(120);
                                        columns.Add().DataField("ComplaintCity").Caption("City").Width(120);
                                        columns.Add().DataField("ComplaintIncidentInfo").Caption("Incident").Width(200);
                                        columns.Add().DataField("ComplaintClassificationDeco").Caption("Classification").Width(200);
                                        columns.Add().DataField("ComplaintStatusDeco").Caption("Action").Width(120);
                                        columns.Add().DataField("ComplaintLinkommInfo").Caption("Linkomm Info").Width(120);
                                        columns.Add().DataField("SerialNumber").Caption("Instrument").Width(200);
                                        columns.Add().DataField("City").Caption("City").Width(150);
                                        columns.Add().DataField("Country").Caption("Country").Width(150);
                                        columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width(150).HeaderCellTemplate("Commercial<br/>Entity");
                                        columns.Add().DataField("UserRegistration_Name").HeaderCellTemplate("User<br/>Registration").Width(150).CalculateSortValue("UserRegistrationSortPriority");
                                        columns.Add().DataField("UserRegistration_FirstCustomer").Caption("Customer").Width(150);
                                        columns.Add().DataField("UserInChargeOf_Name").Caption("In charge of").Width(100);
                                        columns.Add().DataField("UserLinkommTracker_Name").Caption("Linkomm Tracker").Width(100).Visible(isCCA);
                                        columns.Add().Caption("").Width(50).Name("cmdNews").Alignment(HorizontalAlignment.Center);
                                        columns.Add()
                                                        .Alignment(HorizontalAlignment.Center)
                                                        .Width(80)
                                                        .DataField("TKRequestId")
                                                        .AllowFiltering(false)
                                                        .AllowSorting(false)
                                                        .AllowEditing(false)
                                                        .AllowExporting(false)
                                                        .Caption("")
                                                        .Fixed(true)
                                                        .FixedPosition(HorizontalEdge.Right)
                                                        .Name("cmdRequest");
                                    })
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(true).FileName("Complaint").AllowExportSelectedData(false))
                                    .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
}

<div class="modal fade" id="AssignPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Assign User</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="widget-container">
                    @(Html.DevExtreme().List()
                                                    .ID("users")
                                                    .Height(300)
                                                    .ShowSelectionControls(true)
                                                    .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                                    .SelectionMode(ListSelectionMode.Single)
                                                    .DataSource(d => d.Mvc().Controller("TKSupport").LoadAction("getUsers2Assign")
                                                            .LoadParams(new { TKRequestId = new JS("function() { return selTKRequestId; }") })
                                                            .Key("userId"))
                                                    .HoverStateEnabled(false)
                                                    .SearchEnabled(true)
                                                    .SearchExpr(new[] { "userNameFull" })
                                                    .ItemTemplate("<div><%= userNameFull %></div>")
                                                    .NoDataText("No data")
                                                    .OnSelectionChanged(@<text>
                                                        function(data) {
                                                        $("#selectedUser2Assign").text(data.addedItems[0].userName);
                                                        }
                                                    </text>)
                    )
                    <span id="selectedUser2Assign" hidden></span>
                </div>

                <div class="empty_row">&nbsp;</div>
                <div class="form-group">
                    <div class="col-md-12">
                        @*<small class="text-danger">This is a Public Note!</small>*@
                        <textarea id="NoteAssign" name="NoteAssign" class="form-control" rows="3" placeholder="Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessAssign();" value="Assign" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SuspendPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Suspend Complaint</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        @*<small class="text-danger">This is a Public Note!</small>*@
                        <textarea id="NoteSuspend" name="NoteSuspend" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessSuspend();" value="Suspend/StandBy" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReopenPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reopen Complaint</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteReopen" name="NoteReopen" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessReopen();" value="Reopen" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ResumePopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resume Complaint</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteResume" name="NoteResume" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessResume();" value="Resume" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>