﻿@model WebApp.Entity.DetailRequestDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;
@using WebApp.Entity;

@{
    string titolo = string.Format("Detail {0}", Model.RequestType);
    string rifStatus = string.Format("{0}", Model.StatusDeco);
    string rifRequest = String.Format("id {0}", Model.TKRequestId);

    int AttachmentType_File = (int)Lookup.TKAttachType.file;
    int AttachmentType_Url = (int)Lookup.TKAttachType.url;

    bool asPartial = false;
    if (TempData["asPartial"] != null)
    {
        //asPartial = (bool)TempData["asPartial"];
        asPartial = true;
    }
    bool bShowComplaintSupportInfo = (User.IsInRole(Lookup.Role_SupportAdministrator) || User.IsInRole(Lookup.Role_CustomerComplaintAnalyst)) && !string.IsNullOrWhiteSpace(Model.ComplaintStatus);
    bool isSupportOrCCA = User.IsInRole(Lookup.Role_SupportAdministrator) || User.IsInRole(Lookup.Role_CustomerComplaintAnalyst);
}

<style type="text/css">
    label {
        margin-bottom: 2px;
    }

    #grid-detail_activity img {
        max-width: 100%;
    }

    .instrument-detail {
        font-size: small;
    }

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    #toolbar {
        margin-bottom: 5px;
    }

    /*.dx-scrollable {
        border: 1px gray solid !important;
    }*/

    description {
        background-color: white;
    }

    div.form-group {
        margin-bottom: 5px;
    }

    div.note-editor.note-frame.panel.panel-default {
        margin-bottom: 5px;
    }

    .AttachmentType {
        font-size: 12px;
    }

    .well {
        margin-bottom: 5px !important;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
    }

    .titoloActivity {
        font-weight: bold;
        text-decoration-line: underline;
        margin-bottom: 5px;
    }

    /*.reservedActivity {
        background-color: lemonchiffon;
    }*/

    .RequestId {
        font-size: 18px;
        font-weight: bold;
    }

    #divAddInfo, #divClosingInfo, #divClassification, #divSerialNumber, #divUserRegistration {
        margin-top: 10px !important
    }

    .divTextArea {
        margin-top: 5px !important;
        border: 1px solid grey;
        padding: 5px;
    }

    #ClassificationDeco {
        font-weight: bold;
    }
    .EngagementEmailIcon {
        color: forestgreen;
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

<script type="text/javascript">

    var jsShowAllItems = false;

    // TODOLIST
    var jsToDoItems = JSON.parse('@Html.Raw(Model.ToDoItemsJSON)');
    //console.log(jsToDoItems);
    const doingTasks = [];
    const plannedTasks = [];
    for (const element of jsToDoItems) {
        var newItem = { id: element.TKToDoItemId, text: element.Title };
        if (element.TmstCompleteDeco == '') {
            plannedTasks.push(newItem);
        } else {
            doingTasks.push(newItem);
        }
    }

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            var TKAddInfoId = @(Model.TKAddInfoId ?? 0);
            if ( TKAddInfoId > 0) {
                $.get('@Url.Action("GetAddInfoJSON", "TKRegistry")', { TKAddInfoId: TKAddInfoId }, function (data) {
                    $("#TKAddInfoIdColor").html(data.colorInfoHtml);
                });
            }
            $.ajax({
                type: "GET",
                url: '@Url.Action("RequestEventsJSON")',
                data: { WSPRequestId: @Model.TKRequestId, Operation: '@Lookup.TKEvent_Operation_ENGAGEMENTSUPPLIER' },
                error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                success: function (data) {
                    for (var k in data) {
                        $("#EngagementEmailInfo").append('<p style="margin: 2px"><i class="EngagementEmailIcon fa fa-paper-plane-o"/><b>' + data[k].TmstInseDeco + '</b> - ' + data[k].Note + '</p>');
                    }
                }
            });
        });
    });

    function getDataGridAttachInstance() {
        return $("#grid-detail_attachments").dxDataGrid("instance");
    }
    function getDataGridActivityInstance() {
        return $("#grid-detail_activity").dxDataGrid("instance");
    }

    function onCellPreparedAttachment(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_Name") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goOpenAttach(" + e.data.TKAttachmentId + ", " + e.data.Type + ");' title='Open'>" + e.data.Source + "</a>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_Type") {
            var fieldHtml = "";
            fieldHtml += "<span class='AttachmentType " + e.data.ResourceClass + "'>&nbsp;" + e.data.TypeDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_InsertBy") {
            var fieldHtml = "";
            fieldHtml += "<span>" + e.data.UserInseName + '<br/>' + e.data.TmstInseDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
    }

    function goOpenAttach(TKAttachmentId, Type) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (Type == '@AttachmentType_File') {
            $("#form-detail").attr("action", '@Url.Action("DownloadAttachment")/' + TKAttachmentId);
            $("#form-detail").append('<input type="hidden" name="opt" value="read">');
            $("#form-detail").submit();
        }

        if (Type == '@AttachmentType_Url') {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAttachmentJSON")',
                data: { id: TKAttachmentId },
                success: function (data) {
                    window.open(data.Source, "_blank");
                },
                error: function (xhr, statusText) {
                    DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                }
            });
        }
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }

    //function onRowPrepared_Activity(info) {
    //    if (typeof info.data !== 'undefined') {
    //        if (info.data.Reserved) {
    //            info.rowElement.addClass('reservedActivity');
    //        }
    //    }
    //}

    function showActivity_valueChanged(e) {
        if (e.value) {
            $("#divActivity").show();
        } else {
            $("#divActivity").hide();
        }
    }
    function showAllActivity_valueChanged(e) {
        jsShowAllItems = e.value;
        getDataGridActivityInstance().refresh();
    }
    function goViewPrintableVersion() {
        $('#PrintModalContent').load('@(Url.Action("ViewActivity"))?TKRequestId=@Model.TKRequestId'  , function () {
            $("#PrintModalTitle").html("@Model.RequestType Nr @Model.TKRequestId");
            $('#PrintModal').modal({
                keyboard: true
            }, 'show');
        });
    }
    function setMarkAsRead() {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        bootbox.confirm("Do you wish to mark all as read?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("MarkAllAsRead")',
                    data: { TKRequestId: @Model.TKRequestId},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        getDataGridActivityInstance().refresh();
                    }
                });
            }
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function onCellPrepared_Activity(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "Activity") {
            var tmplUser = "<div class='avatar' style='background-color:{{colorUser}}!important'><div class='avatar__letters'>{{initials}}</div></div><br>{{userName}}";
            var tmplLogoTarget = "<i class='fa fa-circle' aria-hidden='true' style='color:{{iconColorTarget}}; font-size:20px'></i>";
            var tmplAction = "<div class='col-md-11'><span class='badge' style='background-color: red'>{{new}}</span> {{datetime}}&nbsp;&nbsp;<b>{{operation}}</b>&nbsp;{{{logoTarget}}}</div>" +
                "<div class='col-md-1'><span class='badge'>{{reserved}}</span></div>";
            var tmplNote = "<div class='col-md-12'>{{{note}}}</div>";
            var TmplAttach = "<div class='col-md-1'><span class='AttachmentType {{resourceClass}}'>&nbsp;{{typedeco}}</span></div>" +
                "<div class='col-md-11'><a href='#' onclick='goOpenAttach({{attachId}},{{attachType}});' title='Open'>{{source}}</a></div>";

            var tmplRow = "<div class='row'>"
                + "<div class='col-md-2 text-center'>{{{user}}}</div>"
                + "<div class='col-md-10'>"
                + "<div class='row'>"
                + "<div class='col-md-12'>{{{action}}}</div>"
                + "<div class='col-md-12' style='margin-top: 5px'>{{{note}}}</div>"
                + "<div class='col-md-12' style='margin-top: 5px'>{{{attachments}}}</div>"
                + "</div>"
                + "</div>"
                + "</div>";

            var dataTemplate = new Object();
            dataTemplate.icon = e.data.icon;
            dataTemplate.userName = e.data.UserInse_Name;
            dataTemplate.colorUser = e.data.iconColor;
            dataTemplate.operation = e.data.Operation;
            dataTemplate.datetime = e.data.TmstInseDeco;
            dataTemplate.new = e.data.isNewNote ? "unread!": "";
            dataTemplate.reserved = e.data.ReservedDeco;
            dataTemplate.note = e.data.Note;
            dataTemplate.initials = e.data.initials;

            dataTemplate.logoTarget = "";
            if ((e.data.iconColorTarget || '') != '') {
                dataTemplate.iconColorTarget = e.data.iconColorTarget;
                dataTemplate.logoTarget = Mustache.render(tmplLogoTarget, dataTemplate);
            }
            
            var htmlAction = Mustache.render(tmplAction, dataTemplate);
            var htmlNote = Mustache.render(tmplNote, dataTemplate);
            var htmlUserInfo = Mustache.render(tmplUser, dataTemplate);

            var htmlAttachments = "";
            for (var i = 0; i < e.data.attachments.length; i++) {
                var attach = e.data.attachments[i];
                var dataTemplate = new Object();
                dataTemplate.attachId = attach.TKAttachmentId;
                dataTemplate.attachType = attach.Type;
                dataTemplate.source = attach.Source;
                dataTemplate.resourceClass = attach.ResourceClass;
                dataTemplate.typedeco = attach.TypeDeco;
                htmlAttachments += Mustache.render(TmplAttach, dataTemplate);
            }

            var dataTemplate = new Object();
            dataTemplate.user = htmlUserInfo;
            dataTemplate.action = htmlAction;
            dataTemplate.note = htmlNote;
            dataTemplate.attachments = htmlAttachments;
            var fieldHtml = Mustache.render(tmplRow, dataTemplate);
            e.cellElement.html(fieldHtml);
        }
    }

</script>


@if (!asPartial)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="goBackToIndex" asp-controller="TKSupport" class="goback">goback</a>
        </div>
    </div>
}

<h4>@titolo &nbsp;<span class="label label-primary">@rifStatus</span></h4>

<form id="form-detail">
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model => Model.TKRequestId)
        @Html.HiddenFor(model => Model.Status)*@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12 well">
                <div class="form-group" id="divUserRegistration">
                    <label class="col-sm-2 control-label">@Model.RequestType Nr.</label>
                    <div class="col-sm-2">
                        @(Html.DevExtreme().TextBoxFor(m => m.TKRequestId).ID("Detail_TKRequestId").ReadOnly(true).ElementAttr("class", "RequestId").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <label class="col-sm-2 control-label">Registration</label>
                    <div class="col-sm-3">
                        @(Html.DevExtreme().TextBoxFor(m => m.UserRegistration_Name).ID("Detail_UserRegistration").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-sm-3">
                        @(Html.DevExtreme().TextBoxFor(m => m.TmstInseDeco).ID("Detail_TmstInseDeco").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="form-group" id="divClassification">
                    <label asp-for="TKClassificationId" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBoxFor(m => m.ClassificationDeco).ID("Detail_ClassificationDeco").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                @if (Model.showInstrument)
                {
                    <div class="form-group" id="divSerialNumber">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.Instrument</label>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBoxFor(m => m.InstrumentDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                @if (Model.showOtherPlatform)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.OtherPlatform</label>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextAreaFor(m => m.OtherPlatform).ReadOnly(true).StylingMode(EditorStylingMode.Filled).InputAttr("rows", "2"))
                        </div>
                    </div>
                }
                @if (Model.showCodArt)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.Product</label>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextAreaFor(m => m.CodArt).ReadOnly(true).StylingMode(EditorStylingMode.Filled).InputAttr("rows", "2"))
                        </div>
                    </div>
                }
                @if (Model.showClaimLogFile)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.ClaimLogFile</label>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(m => m.Code).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                @if (Model.showAddInfo)
                {
                    <div class="form-group" id="divAddInfo">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.AdditionalInfo</label>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBoxFor(m => m.AddInfoDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                            <div id="TKAddInfoIdColor"></div>
                        </div>
                    </div>
                }
                @if (Model.showInfoContact)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.InfoContact</label>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(m => m.InfoContact).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                @if (Model.showQuantity)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.Quantity</label>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().NumberBoxFor(m => m.Quantity).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                @if (Model.showLocation)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.LocationSGAT</label>
                        <div class="col-sm-10">
                            @(Html.DevExtreme().TextBoxFor(m => m.locationDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                @if (Model.showCustomer)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Model.ConfigModel.CustomerSGAT</label>
                        <div class="col-sm-10">
                            <span class="alert-danger">UNMANAGED</span>
                        </div>
                    </div>
                }
                <hr />
                <div class="form-group">
                    <label asp-for="Object" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBoxFor(m => m.Object).ID("Detail_Object").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 divTextArea">@Html.Raw(Model.Description)</div>
                </div>
                <div class="form-group">
                    <label asp-for="EmailsKeepInformed" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBoxFor(m => m.EmailsKeepInformed).ID("Detail_EmailsKeepInformed").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                @if (Model.Complaint)
                {
                    <hr />
                    <div class="form-group">
                        <span class="text-primary" style="font-size: large;">Complaint</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ComplaintLotNumber" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10 divTextArea">@Html.Raw(Model.ComplaintLotNumber)</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ComplaintCustomer" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4 divTextArea">@Html.Raw(Model.ComplaintCustomer)</div>
                        <label asp-for="ComplaintCity" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4 divTextArea">@Html.Raw(Model.ComplaintCity)</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ComplaintIncident" class="col-sm-2 control-label"></label>
                        <div class="col-sm-2 divTextArea">@Html.Raw(Model.ComplaintIncidentDeco)</div>
                        <div class="col-sm-8">@(Html.DevExtreme().TextBoxFor(m => m.ComplaintIncidentNote).ReadOnly(true).StylingMode(EditorStylingMode.Filled))</div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.DefectObserved))
                    {
                        <div class="form-group">
                            <label asp-for="DefectObserved" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 divTextArea">@Html.Raw(Model.DefectObserved)</div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ConsequencesForEndUser))
                    {
                        <div class="form-group">
                            <label asp-for="ConsequencesForEndUser" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 divTextArea">@Html.Raw(Model.ConsequencesForEndUser)</div>
                        </div>
                    }
                    @if (bShowComplaintSupportInfo)
                    {
                        <div class="form-group">
                            <label asp-for="ComplaintStatus" class="col-sm-2 control-label"></label>
                            <div class="col-sm-2 divTextArea">@Html.Raw(Model.ComplaintStatusDeco)</div>
                            <div class="col-sm-8">@(Html.DevExtreme().TextBoxFor(m => m.ComplaintStatusNote).ReadOnly(true).StylingMode(EditorStylingMode.Filled))</div>
                        </div>
                        <div class="form-group">
                            <label asp-for="TKComplaintClassificationId" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @(Html.DevExtreme().TextBoxFor(m => m.ComplaintClassificationDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                            </div>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.ComplaintLinkommInfo))
                        {
                            <div class="form-group">
                                <label asp-for="ComplaintLinkommInfo" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10 divTextArea">@Html.Raw(Model.ComplaintLinkommInfo)</div>
                            </div>
                        }
                    }
                }
                @if (isSupportOrCCA)
                {
                    <div class="col-md-12 col-sm-12 well" id="divToDoList">
                        <div class="col-md-6 col-sm-12">
                            <div class='col-sm-2'><span class='badge label-plannedList'>Planned List</span></div>
                            <div class="col-md-12">
                                @(Html.DevExtreme().List().DataSource(new JS("plannedTasks")))
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class='col-sm-2'><span class='badge label-doingList'>Doing List</span></div>
                            <div class="col-md-12">
                                @(Html.DevExtreme().List().DataSource(new JS("doingTasks")))
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 well" id="divSupplierEngagement">
                        <label id="labelSupplierEngagement" class="col-sm-2 control-label">@Model.ConfigModel.SupplierEngagement</label>
                        <div class="col-md-12" style="margin-top: 5px;" id="EngagementEmailInfo"></div>
                    </div>
                }

                @if (Model.Status.Equals(Lookup.TKRequest_Status_CLOSED))
                {
                    <hr />
                    <div class="form-group">
                        <span class="text-danger" style="font-size: large;">Closing Information</span>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.ClosingNote))
                    {
                        <div class="form-group">
                            <label asp-for="ClosingNote" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 divTextArea" id="divClosingNote">
                                @Html.Raw(Model.ClosingNote)
                            </div>
                        </div>
                    }
                    @if (Model.showClosingInfo)
                    {
                        <div class="form-group" id="#divClosingInfo">
                            <label asp-for="TKClosingInfoId" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @(Html.DevExtreme().TextBoxFor(m => m.ClosingInfoDeco).ID("Detail_ClosingInfoDeco").ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-md-12 col-sm-12 well">
                @(Html.DevExtreme().CheckBox().ID("Detail_ShowActivity").Text("Activity").OnValueChanged("showActivity_valueChanged").ElementAttr("class", "titoloActivity").Value(true))
                <div id="divActivity">
                    <div class="col-sm-2 text-left">
                        @(Html.DevExtreme().CheckBox().ID("Detail_ShowAllActivity").Text("Show all items").OnValueChanged("showAllActivity_valueChanged").Value(false))
                    </div>
                    <div class="col-sm-4 text-left">
                        <a href="#" onclick="setMarkAsRead()" class="disabled">mark as read</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#" onclick="goViewPrintableVersion()" class="disabled">printable version</a>
                    </div>
                    @*<div class="col-sm-12">
                @(Html.DevExtreme().DataGrid()
                                            .ID("grid-detail_activity")
                                            .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .ShowColumnHeaders(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(false)
                                            .AllowColumnResizing(true)
                                            .Height(500)
                                            .DataSource(d => d.WebApi().LoadAction("GetRequestActivity")
                                                    .LoadParams(new { requestId = Model.TKRequestId })
                                                )
                                            .RemoteOperations(true)
                                            .WordWrapEnabled(true)
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("TKEventId").Visible(false);
                                                columns.Add()
                                                    .Width("15%")
                                                    .Alignment(HorizontalAlignment.Left)
                                                    .Caption("")
                                                    .CellTemplate(@<text>
                                                        <%= data.TmstInseDeco %> <br />
                                                        <%= data.UserInse_Name %>
                                                    </text>);
                                                columns.Add()
                                                    .Width("10%")
                                                    .Alignment(HorizontalAlignment.Left)
                                                    .DataField("Operation");
                                                columns.Add()
                                                    .Width("65%")
                                                    .Alignment(HorizontalAlignment.Left)
                                                    .Caption("Note")
                                                    .CellTemplate(@<text><%= data.Note %></text>);
                                                columns.Add()
                                                    .Width("10%")
                                                    .Alignment(HorizontalAlignment.Center)
                                                    .Caption("")
                                                    .CellTemplate(@<text>
                                                        <span class="badge"><%= data.ReservedDeco %></span>
                                                    </text>);
                                            })
                                            .Paging(p => p.Enabled(false))
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                            .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                            //.OnRowPrepared("onRowPrepared_Activity")
                )
            </div>*@
                        <div class="col-sm-12">
                            @(Html.DevExtreme().DataGrid()
                                        .ID("grid-detail_activity")
                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .Height(500)
                                        .DataSource(d => d.WebApi().LoadAction("GetRequestActivity")
                                                .LoadParams(new { requestId = Model.TKRequestId,
                                                                    showAllItems =  new JS("function() { return jsShowAllItems; }")
                                                })
                                            )
                                        .RemoteOperations(true)
                                        //.WordWrapEnabled(true)
                                        .ColumnAutoWidth(false)
                                        .ShowColumnHeaders(false)
                                        .Paging(p => p.Enabled(false))
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("TKEventId").Visible(false);
                                            columns.Add().Name("Activity");
                                        })
                                        .OnCellPrepared("onCellPrepared_Activity")
                            )
                        </div>
                    </div>
                </div>

            <div class="col-md-12 col-sm-12 well">
                <div class="form-group">
                    <label asp-for="Attachments" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().DataGrid()
                                                .ID("grid-detail_attachments")
                                                .ShowBorders(true)
                                                .ShowRowLines(true)
                                                .ShowColumnHeaders(true)
                                                .HoverStateEnabled(false)
                                                .RowAlternationEnabled(false)
                                                .AllowColumnResizing(true)
                                                .Height(250)
                                                .DataSource(d => d.WebApi().LoadAction("GetRequestAttachments")
                                                        .LoadParams(new { requestId = Model.TKRequestId })
                                                    )
                                                .RemoteOperations(true)
                                                .WordWrapEnabled(true)
                                                .Columns(columns =>
                                                {
                                                    columns.Add().DataField("TKAttachmentId").Visible(false);
                                                    columns.Add()
                                                        .Width("15%")
                                                        .Alignment(HorizontalAlignment.Left)
                                                        .Caption("Type")
                                                        .Name("Attachment_Type");
                                                    columns.Add()
                                                        .Width("65%")
                                                        .Alignment(HorizontalAlignment.Left)
                                                        .Caption("Source")
                                                        .Name("Attachment_Name");
                                                    columns.Add()
                                                        .Width("20%")
                                                        .Alignment(HorizontalAlignment.Left)
                                                        .Caption("")
                                                        .Name("Attachment_InsertBy");
                                                })
                                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                .OnCellPrepared("onCellPreparedAttachment")
                        )
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <div class="col-sm-1 text-right"><span class="small">@rifRequest</span></div>
            </div>
        </div>
    </div>
</form>

<!-- PRINT MODAL -->
<div class="modal fade" id="PrintModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" style="width: 90% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="PrintModalTitle"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='PrintModalContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@if (!asPartial)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="goBackToIndex" asp-controller="TKSupport" class="goback">goback</a>
        </div>
    </div>
}
