﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Status of your Requests";
    string titolo = ViewData["Title"].ToString();
    int CurrentArea = (int)ViewData["CurrentArea"];
    int CurrentItemIndex = (int)(ViewData["TabItemIndex"] ?? 0);
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }
    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }
    .dx-tab-text {
        height: 40px;
    }
    .dx-item.dx-tab {
        font-weight: bold;
        font-size: large;
    }
    .dx-item.dx-tab.dx-tab-selected {
        color: blue;
        font-size: x-large;
        font-style: italic;
    }
    .cmdDetail {
        font-size: 20px;
    }
    .cmdNews {
        font-size: 20px;
    }
    .cmdEdit {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .cmdReopen {
        font-size: 16px;
        color: #ed1818;
        font-weight: bold;
    }
    .cmdResume {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
    .cmdAssignToMe {
        font-size: 18px;
        color: darkslategray;
        /*font-weight: bold;*/
    }
    .TKRequest-status-PENDING {
        background-color: #fadada;
    }
    .TKRequest-status-REOPENED {
        background-color: #fadada;
    }
    .TKRequest-status-PROCESSING {
        background-color: greenyellow;
    }
    .TKRequest-status-CLOSED {
        /*background-color: #ffff66;*/
    }
    .TKRequest-status-STANDBY {
        background-color: #ffffbd;
    }
    .TKRequest-status-UNDER_INVESTIGATION {
        background-color: lightblue;
    }
    .TKRequest-statusHigh-PENDING {
        background-color: red !important;
        color: white !important;
    }
    .TKRequest-statusHigh-REOPENED {
        background-color: red !important;
        color: white !important;
    }
    .TKRequest-statusHigh-PROCESSING {
        /*background-color: greenyellow !important;*/
    }
    .TKRequest-statusHigh-CLOSED {
        /*background-color: #ffff66 !important;*/
    }
    .TKRequest-statusHigh-STANDBY {
        background-color: yellow !important;
    }
    .TKRequest-statusHigh-UNDER_INVESTIGATION {
        /*background-color: #ffff66 !important;*/
    }
    .badgeProgress {
        font-size: 16px;
    }
</style>
<script type="text/javascript">

    var selCurrentArea = @CurrentArea;
    var selTabItemIndex = @CurrentItemIndex;
    var selCurrentConfig = null;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            aggiornaParametriView();
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            //goDetail(data.TKRequestId);
        }
        getDataGridInstance().clearSelection();
    }
    function grid_OnRowDblClick(e) {
        if (e.key) {
            let grid = getDataGridInstance();
            let rows = grid.getVisibleRows();
            let rowIndex = grid.getRowIndexByKey(e.key);
            let row = rows[rowIndex];
            if (row) {
                if (row.data.Status == '@Lookup.TKRequest_Status_PENDING.ToString()' ||
                    row.data.Status == '@Lookup.TKRequest_Status_PROCESSING.ToString()' ||
                    row.data.Status == '@Lookup.TKRequest_Status_REOPENED.ToString()')
                {
                    goEdit(e.key);
                    return false;
                }
            }
            goDetail(e.key);
        }
    }
    function goDetail(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("DetailRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }

    function goEdit(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }

    function goReopen(Id) {
        selTKRequestId = Id;
        $('#ReopenPopup').modal('toggle');
        return false;
    }
    function doProcessReopen() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteReopen').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }

    function goResume(Id) {
        selTKRequestId = Id;
        $('#ResumePopup').modal('toggle');
        return false;
    }
    function doProcessResume() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteResume').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('TKRequest-status-' + info.data.Status);
        }
    }

    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.value + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
            if (e.data.UserRegistration == '@User.Identity.Name') {
                if (e.data.Status == '@Lookup.TKRequest_Status_PENDING') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_PROCESSING' || e.data.Status == '@Lookup.TKRequest_Status_REOPENED') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='fa fa-comment-o cmdEdit' title='Add Note'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_CLOSED') {
                    fieldHtml += "<a href='#' onclick='goReopen(" + e.value + ");' class='fa fa-fast-backward cmdReopen' title='Reopen'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_STANDBY') {
                    fieldHtml += "<a href='#' onclick='goResume(" + e.value + ");' class='glyphicon glyphicon-repeat cmdResume' title='Resume'></a>&nbsp;";
                }
            } else {
                if (e.data.Status == '@Lookup.TKRequest_Status_PROCESSING' || e.data.Status == '@Lookup.TKRequest_Status_REOPENED') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='fa fa-comment-o cmdEdit' title='Add Note'></a>&nbsp;";
                }
                fieldHtml += "<a href='#' onclick='goAssignToMe(" + e.value + ");' class='	fa fa-user-circle-o cmdAssignToMe' title='Assign To Me and change User Registration'></a>&nbsp;";
            }
            e.cellElement.html(fieldHtml);
        }
        @*if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "cmdnews" && (e.data.UserRegistration || "") == "@User.Identity.Name") {*@
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "cmdnews" ) {
            fieldHtml = "";
            if ((e.data.CntNews_Support2User || 0) > 0  ) {
                fieldHtml = "<span class='fa fa-circle cmdNews' style='color: blue;' title='There are news'></span>&nbsp;";
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('TKRequest-statusHigh-' + e.data.Status);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "Progress".toLowerCase()) {
            fieldHtml = "<span class='badge badgeProgress' style='background-color:" + e.data.PercToDoListColor + ";'>" + e.data.PercToDoList + "%</span>";
            e.cellElement.html(fieldHtml);
        }
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    //function tabs_itemClick(e) {
    //    selTabItemIndex = e.itemIndex;
    //    selCurrentArea = e.itemData.id;

    //    //console.log(e.itemData); 
    //    var grid = getDataGridInstance();
    //    var complaint = "";
    //    if (e.itemData.configModel.HasComplaint == true) complaint = "Complaint";
    //    setDataGridColumnOption(grid, "ComplaintDeco", complaint);
    //    setDataGridColumnOption(grid, "SerialNumber", e.itemData.configModel.Instrument)
  
    //    getDataGridInstance().getDataSource().reload();
    //    aggiornaParametriView();
    //}
    function tabs_optionChanged(e) {
        // Implemento questo evento per gestire anche la configurazione all'apertura della view
        if (e.name == 'selectedIndex') {
            selTabItemIndex = e.value;
            getDataGridInstance().getDataSource().reload();
            aggiornaParametriView();
        }   
        if (e.name == 'selectedItem') {
            if (e.previousValue == null) return false;
            selCurrentArea = e.value.id;
            selCurrentConfig = e.value.configModel;

            var grid = getDataGridInstance();
            var complaint = "";
            if (selCurrentConfig.HasComplaint == true) complaint = "Complaint";
            setDataGridColumnOption(grid, "ComplaintDeco", (selCurrentConfig.HasComplaint == true ? "Complaint" : ""));
            setDataGridColumnOption(grid, "SerialNumber", selCurrentConfig.Instrument)
            setDataGridColumnOption(grid, "City", ((selCurrentConfig.Instrument || '') != '' ? "City" : ""));
            setDataGridColumnOption(grid, "Country", ((selCurrentConfig.Instrument || '') != '' ? "Country" : ""));
            setDataGridColumnOption(grid, "Progress", ((selCurrentConfig.ToDoList || '') != '' ? "Progress" : ""));
        }
    }
    function setDataGridColumnOption(grid, colId, caption) {
        grid.columnOption(colId, "visible", false);
        if ((caption || '') != '') {
            grid.columnOption(colId, "visible", true);
            grid.columnOption(colId, "caption", caption);
            grid.columnOption(colId, "headerCellTemplate", caption.replace(" ", "<br/>"));
        }
    }

    function aggiornaParametriView() {
        $.get('@Url.Action("SaveIndexParams")', { tabItemIndex: selTabItemIndex, Area: selCurrentArea }
             ).always(function () {
                //
            });
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                icon: "fa fa-calendar-plus-o",
                text: "Create New Support Request",
                hint: "Create New Support Request",
                type: "Normal",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("Index", "Home")');
                    $("#elenco").append('<input type="hidden" name="command" value="NewTicketRequest" /> ');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        });
    }
    function goAssignToMe(Id) {
        bootbox.confirm("Do you want to assign to you this request?", function (result) {
            if (result) {
                $("#elenco").attr("method", "GET");
                $("#elenco").attr("action", '@Url.Action("AssignToMeAsUserRegistration")/' + Id);
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                .Icon("fa fa-info-circle")
                                .Hint("Function Documentation")
                                .Text("")
                                .Type(ButtonType.Normal)
                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Support_YourRequests">
    <div id="sfondo"></div>
    <br />
    <div class="row" style="border: 1px solid;">
        @(Html.DevExtreme().Tabs()
                               .ID("tabs-classifications")
                                .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetClassificationAreas").Key("id")
                                            .LoadParams(new { context = Lookup.TKRequest_ActionIndex_YourRequests })
                                )
                               .SelectedIndex(CurrentItemIndex)
                               .OnOptionChanged("tabs_optionChanged")
                               //.OnItemClick("tabs_itemClick")
        )
    </div>
    <div class="row" style="margin-top: 5px;">
        @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(true)
                            .RowAlternationEnabled(false)
                            .AllowColumnResizing(false)
                            .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetRequests").Key("TKRequestId")
                                                    .LoadParams(new
                                                    {
                                                        ClassificationAreaId = new JS("function() { return selCurrentArea; }"),
                                                        getType = Lookup.GetRequestsType.YourRequests
                                                    })
                                                    )
                            .RemoteOperations(true)
                            .OnCellPrepared("onCellPrepared")
                            .OnRowPrepared("OnRowPrepared")
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .OnSelectionChanged("selection_changed")
                            .OnRowDblClick("grid_OnRowDblClick")
                            .FilterRow(filterRow => filterRow
                                    .Visible(true)
                                    .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple).ShowSortIndexes(true))
                            .AllowColumnResizing(true)
                            .ColumnResizingMode(ColumnResizingMode.Widget)
                            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("TKYourRequestsIndex"))
                            .Columns(columns =>
                            {
                                columns.Add().DataField("TKRequestId").Caption("Id").Width("8%").Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("StatusDeco").Caption("Status").Name("status").Width("10%");
                                columns.Add().Name("Progress").Caption("Progress").Width("10%").Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("ComplaintDeco").Caption("Complaint").Width(100).Alignment(HorizontalAlignment.Center).Visible(Lookup.GetComplaintActive);
                                columns.Add().DataField("SerialNumber").Caption("Instrument").Width("20%");
                                columns.Add().DataField("City").Caption("City").Width("15%");
                                columns.Add().DataField("Country").Caption("Country").Width("15%");
                                columns.Add().DataField("Object").Caption("Subject").Width("30%");
                                columns.Add().DataField("TmstInseDeco").HeaderCellTemplate("Date of the<br/>request").Width("12%").CalculateSortValue("TmstInseSort").SortOrder(SortOrder.Desc);
                                columns.Add().DataField("UserRegistration_Name").HeaderCellTemplate("User<br/>Registration").Width("15%").CalculateSortValue("UserRegistrationSortPriority");
                                columns.Add().DataField("UserInChargeOf_Name").Caption("In charge of").Width("15%");
                                columns.Add().Caption("").Width("5%").Name("cmdNews").Alignment(HorizontalAlignment.Center);
                                columns.Add()
                                    .Alignment(HorizontalAlignment.Center)
                                    .Width("10%")
                                    .DataField("TKRequestId")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .AllowEditing(false)
                                    .AllowExporting(false)
                                    .Caption("")
                                    .Name("cmdRequest");
                            })
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                            .Export(e => e.Enabled(true).FileName("YourRequests").AllowExportSelectedData(false))
                            .OnToolbarPreparing("toolbar_preparing")
            )
    </div>
}

<div class="modal fade" id="ReopenPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reopen Request</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteReopen" name="NoteReopen" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessReopen();" value="Reopen" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ResumePopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resume Request</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteResume" name="NoteResume" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessResume();" value="Resume" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>
