﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Manage Requests";
    string titolo = ViewData["Title"].ToString();
    int CurrentArea = (int)ViewData["CurrentArea"];
    int CurrentItemIndex = (int)(ViewData["TabItemIndex"] ?? 0);

    bool bShowClosed = false;
    if (ViewData["bShowClosed"] != null)
    {
        bShowClosed = (bool)ViewData["bShowClosed"];
    }
    bool bSupportAdmin = User.IsInRole(Lookup.Role_SupportAdministrator);
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<style type="text/css">
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dx-tab-text {
        height: 40px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: large;
    }

        .dx-item.dx-tab.dx-tab-selected {
            color: blue;
            font-size: x-large;
            font-style: italic;
        }

    .cmdDetail {
        font-size: 20px;
    }

    .cmdAssignToMe {
        font-size: 20px;
    }

    .cmdAssign {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }

    .cmdSuspend {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .cmdResume {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .cmdSendEmail {
        font-size: 20px;
        color: blue;
        font-weight: bold;
    }

    .cmdEdit {
        font-size: 20px;
    }

    .cmdNews {
        font-size: 20px;
    }

    .cmdRead {
        font-size: 22px;
        color: green;
    }

    .cmdReopen {
        font-size: 16px;
        color: #ed1818;
        font-weight: bold;
    }

    .TKRequest-status-PENDING {
        background-color: #fadada;
    }

    .TKRequest-status-REOPENED {
        background-color: #fadada;
    }

    .TKRequest-status-PROCESSING {
        background-color: greenyellow;
    }

    .TKRequest-status-CLOSED {
        /*background-color: #ffff66;*/
    }

    .TKRequest-status-STANDBY {
        background-color: #ffffbd;
    }

    .TKRequest-statusHigh-PENDING {
        background-color: red !important;
        color: white !important;
    }

    .TKRequest-statusHigh-REOPENED {
        background-color: red !important;
        color: white !important;
    }

    .TKRequest-statusHigh-PROCESSING {
        /*background-color: greenyellow !important;*/
    }

    .TKRequest-statusHigh-CLOSED {
        /*background-color: #ffff66 !important;*/
    }

    .TKRequest-statusHigh-STANDBY {
        background-color: yellow !important;
    }
    .badgeProgress {
        font-size: 16px;
    }
</style>
<script type="text/javascript">

    var selCurrentArea = @CurrentArea;
    var selTabItemIndex = @CurrentItemIndex;
    var selTKRequestId = 0;
    var selCurrentConfig = null;

    var jsClosed = ('@bShowClosed'.toLowerCase() == 'true');

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            impostaBtnSendEmailAreaManager();
            aggiornaParametriView();
            initEmailBodyField('AreaManagerEmailBody', 200);
        });
    });
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxCheckBox",
            options: {
                value: (jsClosed || false),
                text: "Show Closed Tickets",
                onValueChanged: function (data) {
                    jsClosed = data.value;
                    aggiornaFiltri();
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            visible: (('@bSupportAdmin').toLowerCase() == 'true' ),
            options: {
                icon: "email",
                text: "Area Manager",
                hint: "Send Email To Area Manager",
                type: "normal",
                elementAttr: { id: 'btnSendEmailAreaManager' },
                onClick: function () {
                    goSendEmailToAreaManager();
                    return false;
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsxfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        });
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function requestGrid_OnRowDblClick(e) {
        if (e.key) {
            let grid = getDataGridInstance();
            let rows = grid.getVisibleRows();
            let rowIndex = grid.getRowIndexByKey(e.key);
            let row = rows[rowIndex];
            if (row) {
                if (row.data.Status == '@Lookup.TKRequest_Status_PROCESSING.ToString()') {
                    goEdit(e.key);
                    return false;
                }
            }
            goDetail(e.key);
        }
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            //goDetail(data.TKRequestId);
        }
        getDataGridInstance().clearSelection();
    }

    function goDetail(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("DetailRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }

    function goEdit(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }
    function goAssignToMe(Id) {
        bootbox.confirm("Do you want to take charge this request?", function (result) {
            if (result) {
                $("#elenco").attr("method", "GET");
                $("#elenco").attr("action", '@Url.Action("AssignToMe")/' + Id);
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function goAssign(Id) {
        selTKRequestId = Id;
        var data = $("#users").dxList("instance").getDataSource().reload();
        $('#AssignPopup').modal('toggle');
        return false;
    }
    function goSupend(Id) {
        selTKRequestId = Id;
        $('#SuspendPopup').modal('toggle');
        return false;
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('TKRequest-status-' + info.data.Status);
        }
    }

    function onCellPrepared(e) {
        var fieldHtml = "";
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.value + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
            if (('@bSupportAdmin').toLowerCase() == 'true') {
                // Comandi abilitati solo all'Administrator
                if (e.data.Status == '@Lookup.TKRequest_Status_PENDING' || e.data.Status == '@Lookup.TKRequest_Status_REOPENED') {
                    fieldHtml += "<a href='#' onclick='goAssignToMe(" + e.value + ");' class='glyphicon glyphicon-edit cmdAssignToMe' title='Assign To Me'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_PROCESSING') {
                    fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
                    fieldHtml += "<a href='#' onclick='goAssign(" + e.value + ");' class='fa fa-user-o cmdAssign' title='Assign'></a>&nbsp;";
                    fieldHtml += "<a href='#' onclick='goSupend(" + e.value + ");' class='glyphicon glyphicon-pause cmdResume' title='Suspend'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_STANDBY') {
                    fieldHtml += "<a href='#' onclick='goResume(" + e.value + ");' class='glyphicon glyphicon-repeat cmdResume' title='Resume'></a>&nbsp;";
                }
                if (e.data.Status == '@Lookup.TKRequest_Status_CLOSED') {
                    fieldHtml += "<a href='#' onclick='goReopen(" + e.value + ");' class='fa fa-fast-backward cmdReopen' title='Reopen'></a>&nbsp;";
                }
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdCheck") {
            fieldHtml = "<input type='radio' name='selRequest' value='" + e.data.TKRequestId + "' style='height:20px;width:20px;'>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('TKRequest-statusHigh-' + e.data.Status);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "cmdnews") {
            fieldHtml = "";
            if ((e.data.UserInChargeOf || "") == "@User.Identity.Name") {
                // News
                if ((e.data.CntNews_User2Support || 0) > 0) {
                    fieldHtml += "<span class='fa fa-circle cmdNews' style='color: green;' title='There are User news'></span>&nbsp;";
                }
                if ((e.data.CntNews_CCA2Support || 0) > 0) {
                    fieldHtml += "<span class='fa fa-circle cmdNews' style='color: red;' title='There are CCA news'></span>&nbsp;";
                }
                if ((e.data.CntNews_User2Support || 0) == 0 && (e.data.CntNews_CCA2Support || 0) == 0) {
                    fieldHtml += "<span class='fa fa-circle-o cmdNews' title='No news'></span>&nbsp;";
                }
            }
            // accesso fatto dal richiedente
            if ((e.data.InfoLastAccess || "") != "") {
                fieldHtml += "<span class='fa fa-check cmdRead' title='" + e.data.InfoLastAccess + "'></span>&nbsp;";
            }
            e.cellElement.html("<div class='text-nowrap'>" + fieldHtml + "</div>");
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "Progress".toLowerCase()) {
            fieldHtml = "<span class='badge badgeProgress' style='background-color:" + e.data.PercToDoListColor + ";'>" + e.data.PercToDoList + "%</span>";
            e.cellElement.html(fieldHtml);
        }
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    //function tabs_itemClick(e) {
    //    selTabItemIndex = e.itemIndex;
    //    selCurrentArea = e.itemData.id;

    //    var tabs = $('#tabs-container').dxTabs('instance');
    //    tabs.getDataSource().reload();
    //    //tabs.items[0].option("html", "New Value");

    //    getDataGridInstance().getDataSource().reload();
    //    impostaBtnSendEmailAreaManager();
    //    aggiornaParametriView();
    //}
    function tabs_optionChanged(e) {
        //console.log(e);
        // Implemento questo evento per gestire anche la configurazione all'apertura della view
        if (e.name == 'selectedIndex') {
            selTabItemIndex = e.value;
            getDataGridInstance().getDataSource().reload();
            impostaBtnSendEmailAreaManager();
            aggiornaParametriView();
        }
        if (e.name == 'selectedItem') {
            if (e.previousValue == null) return false;

            var prevCurrentArea = selCurrentArea;
            selCurrentArea = e.value.id;
            selCurrentConfig = e.value.configModel;
            if (prevCurrentArea != selCurrentArea) {
                //console.log("refresh tabs");
                var tabs = $('#tabs-container').dxTabs('instance');
                tabs.getDataSource().reload();
            }

            var grid = getDataGridInstance();
            var complaint = "";
            if (selCurrentConfig.HasComplaint == true) complaint = "Complaint";
            setDataGridColumnOption(grid, "SerialNumber", selCurrentConfig.Instrument)
            setDataGridColumnOption(grid, "City", ((selCurrentConfig.Instrument || '') != '' ? "City" : ""));
            setDataGridColumnOption(grid, "Country", ((selCurrentConfig.Instrument || '') != '' ? "Country" : ""));
            setDataGridColumnOption(grid, "Progress", ((selCurrentConfig.ToDoList || '') != '' ? "Progress" : ""));
        }
    }
    function setDataGridColumnOption(grid, colId, caption) {
        grid.columnOption(colId, "visible", false);
        if ((caption || '') != '') {
            grid.columnOption(colId, "visible", true);
            grid.columnOption(colId, "caption", caption);
            grid.columnOption(colId, "headerCellTemplate", caption.replace(" ", "<br/>"));
        }
    }
    function aggiornaParametriView() {
        $.get('@Url.Action("SaveIndexParams")', { tabItemIndex: selTabItemIndex, Area: selCurrentArea }
             ).always(function () {
                //
            });
    }
    function doProcessAssign() {
        var selected = $('#selectedUser2Assign').text();
        if ((selected || "") != "") {
            $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
            $("#elenco").append('<input type="hidden" name="userName" value="' + selected + '" /> ');
            $("#elenco").append('<input type="hidden" name="NoteAssign" value="' + $('#NoteAssign').val() + '" /> ');
            $("#elenco").attr("method", "GET");
            $("#elenco").attr("action", '@Url.Action("AssignRequest")');
            $("#elenco").submit();
        };
        return false;
    }
    function doProcessSuspend() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteSuspend').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("SuspendRequest")');
        $("#elenco").submit();
        return false;
    }
    function aggiornaFiltri() {
          $.get('@Url.Action("SaveManageFilters")', { showClosed: jsClosed }
             ).always(function () {
                getDataGridInstance().getDataSource().reload();
            });
    }
    function goReopen(Id) {
        selTKRequestId = Id;
        $('#ReopenPopup').modal('toggle');
        return false;
    }
    function doProcessReopen() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteReopen').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }
    function goResume(Id) {
        selTKRequestId = Id;
        $('#ResumePopup').modal('toggle');
        return false;
    }
    function doProcessResume() {
        $("#elenco").append('<input type="hidden" name="TKRequestId" value="' + selTKRequestId + '" /> ');
        $("#elenco").append('<input type="hidden" name="Note" value="' + $('#NoteResume').val() + '" /> ');
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("ReopenRequest")');
        $("#elenco").submit();
        return false;
    }
    function goSendEmailToAreaManager() {
        var requestId = $('input[name="selRequest"]:checked').val();
        if ((requestId || '') == '') {
            bootbox.alert("Select a row");
            return false;
        }
        $("#AreaManagerEmailTemplateId").dxSelectBox("instance").option("value", "");
        $("#AreaManagerEmailTemplateId").dxSelectBox("instance").getDataSource().reload();
        $('#AreaManagerEmailSubject').val("");
        $('#AreaManagerEmailBody').summernote("code", "");
        $("#AreaManagerEmailTKRequestId").val(requestId);
        $('#PopupAreaManagerEmail').modal('show');
        return false;
    }
    function impostaBtnSendEmailAreaManager() {
        $("#btnSendEmailAreaManager").dxButton("instance").option("visible", false);
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetClassificationJSON", "TKRegistry")',
            data: { TKClassificationId: (selCurrentArea || 0)},
            success: function (data) {
                $("#btnSendEmailAreaManager").dxButton("instance").option("visible", (data.NotifyAreaManager || false));
            },
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            }
        });
    }
    function AreaManagerEmail_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            $.get('@Url.Action("GetEmailInfoJSON")', { EmailTemplateId: e.value, TKRequestId: $("#AreaManagerEmailTKRequestId").val() }, function (data) {
                if (data != null) {
                    $('#AreaManagerEmailSubject').val(data.Subject);
                    $('#AreaManagerEmailBody').summernote("code", data.Body);
                }
                return false;
            });
        }
        return false;
    }

    function doSendAreaManagerEmail() {
        if (($("#AreaManagerEmailSubject").val()||'') == '') {
            bootbox.alert("The Subject field is required.");
            return false;
        }
        if ($('#AreaManagerEmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.Subject = $("#AreaManagerEmailSubject").val();
        DTO.Body = $('#AreaManagerEmailBody').summernote('code');
        DTO.IdRif = $("#AreaManagerEmailTKRequestId").val();
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();
        $("#btnSendAreaManagerEmail").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("SendAreaManagerEmail")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                bootbox.alert("Error: " + xhr.statusText + " - " + xhr.responseText);
            },
            success: function (data) {
                $('#PopupAreaManagerEmail').modal('hide');
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $("#btnSendAreaManagerEmail").attr("disabled", false);
            getLoadPanelSendInstance().hide();
        });
    }
    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 30000);
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                                    .Icon("fa fa-info-circle")
                                                    .Hint("Function Documentation")
                                                    .Text("")
                                                    .Type(ButtonType.Normal)
                                                    .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Support_Manage">
    <div id="sfondo"></div>
    @(Html.DevExtreme().LoadPanel()
                                .ID("loadPanelSend")
                                .ShadingColor("rgba(0,0,0,0.4)")
                                .Visible(false)
                                .ShowIndicator(true)
                                .ShowPane(true)
                                .Shading(true)
                                .CloseOnOutsideClick(true)
                                .Message("waiting...")
                                .OnShown("loadPanelSend_shown")
    )
    <br />
    <div class="row" style="border: 1px solid;">
        @(Html.DevExtreme().Tabs()
                            .ID("tabs-container")
                            .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetClassificationAreas").Key("id")
                                        .LoadParams(new { context = Lookup.TKRequest_ActionIndex_Manage })
                            )
                            .SelectedIndex(CurrentItemIndex)
                            //.OnItemClick("tabs_itemClick")
                            .OnOptionChanged("tabs_optionChanged")
        )
    </div>
    <div class="row" style="margin-top: 5px;">
        @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(true)
                                .RowAlternationEnabled(false)
                                .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetRequests").Key("TKRequestId")
                                            .LoadParams(new
                                            {
                                                ClassificationAreaId = new JS("function() { return selCurrentArea; }"),
                                                getType = Lookup.GetRequestsType.Manage,
                                                bGetClosed = new JS("function() { return jsClosed; }")
                                            })
                                )
                                .RemoteOperations(true)
                                .OnCellPrepared("onCellPrepared")
                                .OnRowPrepared("OnRowPrepared")
                                //.Selection(s => s.Mode(SelectionMode.Single))
                                .Selection(s => s.Mode(SelectionMode.None))
                                .OnSelectionChanged("selection_changed")
                                .OnRowDblClick("requestGrid_OnRowDblClick")
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple).ShowSortIndexes(true))
                                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("TKManageRequestIndex"))
                                .AllowColumnResizing(true)
                                .ColumnResizingMode(ColumnResizingMode.Widget)
                                .Columns(columns =>
                                {
                                    columns.Add()
                                                .Alignment(HorizontalAlignment.Center)
                                                .Width(60)
                                                .DataField("TKRequestId")
                                                .AllowFiltering(false)
                                                .AllowSorting(false)
                                                .AllowEditing(false)
                                                .AllowExporting(false)
                                                .Caption("")
                                                .Fixed(true)
                                                .FixedPosition(HorizontalEdge.Left)
                                                .Name("cmdCheck")
                                                .Visible(bSupportAdmin);
                                    columns.Add().DataField("TKRequestId").Caption("Id").Width("8%").Alignment(HorizontalAlignment.Center).SortOrder(SortOrder.Desc).SortIndex(2);
                                    columns.Add().DataField("StatusDeco").Caption("Status").Name("status").Width("10%");
                                    columns.Add().Name("Progress").Caption("Progress").Width("10%").Alignment(HorizontalAlignment.Center);
                                    columns.Add().DataField("SerialNumber").Caption("Instrument").Width("20%");
                                    columns.Add().DataField("City").Caption("City").Width("15%");
                                    columns.Add().DataField("Country").Caption("Country").Width("15%");
                                    columns.Add().DataField("Object").Caption("Subject").Width("30%");
                                    columns.Add().DataField("TmstInseDeco").HeaderCellTemplate("Date of the<br/>request").Width("12%").CalculateSortValue("TmstInseSort");
                                    columns.Add().DataField("UserRegistration_Name").HeaderCellTemplate("User<br/>Registration").Width("20%");
                                    columns.Add().DataField("UserRegistration_FirstCustomer").Caption("Customer").Width("20%");
                                    columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width("15%").HeaderCellTemplate("Commercial<br/>Entity");
                                    columns.Add().DataField("UserInChargeOf_Name").Caption("In charge of").Width("15%").CalculateSortValue("UserInChargeOfSortPriority").SortIndex(1).SortOrder(SortOrder.Asc);
                                    columns.Add().Caption("").Width("5%").Name("cmdNews").Alignment(HorizontalAlignment.Left).Visible(bSupportAdmin);
                                    columns.Add()
                                        .Alignment(HorizontalAlignment.Center)
                                        .Width("90")
                                        .DataField("TKRequestId")
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .Caption("")
                                        .Name("cmdRequest");
                                })
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                {
                                    pager.ShowPageSizeSelector(true);
                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
                                .Export(e => e.Enabled(false).FileName("ManageRequests").AllowExportSelectedData(false))
                                .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
}

<div class="modal fade" id="AssignPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Assign User</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="widget-container">
                    @(Html.DevExtreme().List()
                                            .ID("users")
                                            .Height(300)
                                            .ShowSelectionControls(true)
                                            .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                            .SelectionMode(ListSelectionMode.Single)
                                            .DataSource(d => d.Mvc().Controller("TKSupport").LoadAction("getUsers2Assign")
                                                    .LoadParams(new { TKRequestId = new JS("function() { return selTKRequestId; }") })
                                                    .Key("userId"))
                                            .HoverStateEnabled(false)
                                            .SearchEnabled(true)
                                            .SearchExpr(new[] { "userNameFull" })
                                            .ItemTemplate("<div><%= userNameFull %></div>")
                                            .NoDataText("No data")
                                            .OnSelectionChanged(@<text>
                                                function(data) {
                                                $("#selectedUser2Assign").text(data.addedItems[0].userName);
                                                }
                                            </text>)
                    )
                    <span id="selectedUser2Assign" hidden></span>
                </div>

                <div class="empty_row">&nbsp;</div>
                <div class="form-group">
                    <div class="col-md-12">
                        @*<small class="text-danger">This is a Public Note!</small>*@
                        <textarea id="NoteAssign" name="NoteAssign" class="form-control" rows="3" placeholder="Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessAssign();" value="Assign" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SuspendPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Suspend Request</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        @*<small class="text-danger">This is a Public Note!</small>*@
                        <textarea id="NoteSuspend" name="NoteSuspend" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessSuspend();" value="Suspend/StandBy" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ReopenPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reopen Request</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteReopen" name="NoteReopen" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessReopen();" value="Reopen" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ResumePopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resume Request</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="NoteResume" name="NoteResume" class="form-control" rows="3" placeholder="Public Note" maxlength="1000"></textarea>
                    </div>
                </div>
                <br /><br />
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <input type="button" onclick="doProcessResume();" value="Resume" class="btn btn-success btn-block center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PopupAreaManagerEmail" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 85%; height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title">Send a email to Area Manager</h4>
                </div>
            </div>
            <div class="modal-body" style="padding: 0;">
                <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                    <input type="hidden" id="AreaManagerEmailTKRequestId" value="">
                    <div class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Template:</label>
                            <div class="col-md-9">
                                @(Html.DevExtreme().SelectBox()
                                                .ID("AreaManagerEmailTemplateId")
                                                .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetGenericEmailTemplates")
                                                .LoadParams(new
                                                {
                                                    Area = Lookup.EmailTemplate_Area_SUPPORT,
                                                })
                                                .Key("EmailTemplateId"))
                                                .ValueExpr("EmailTemplateId")
                                                .OnValueChanged("AreaManagerEmail_Change")
                                                .DisplayExpr("Subject")
                                                .Value("")
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Subject:</label>
                            <div class="col-md-10">
                                <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                       id="AreaManagerEmailSubject" name="AreaManagerEmailSubject" placeholder="Subject" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="AreaManagerEmailSubject" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message:</label>
                            <div class="col-md-9">
                                <textarea id="AreaManagerEmailBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSendAreaManagerEmail" onclick="doSendAreaManagerEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>