﻿@model WebApp.Entity.StatisticsDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Statistics";
    string titolo = ViewData["Title"].ToString();
    DateTime DateFrom = DateTime.Now.AddMonths(-1);
    DateTime DateTo = DateTime.Now;
    bool ShowComplaint = (Lookup.GetComplaintActive && Model.ConfigModel.HasComplaint);
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dx-tab-text {
        height: 40px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: large;
    }

        .dx-item.dx-tab.dx-tab-selected {
            color: blue;
            font-size: x-large;
            font-style: italic;
        }

    .cmdDetail {
        font-size: 20px;
    }

    .modal-lg {
        width: 95%;
    }

    div.dx-group-panel-message {
        font-weight: bold !important;
        font-size: medium;
    }

    .stats > div {
        text-align: center;
        font-size: 16px;
    }

    .stats .stat-value {
        font-size: 200%;
    }

    #counter-total {
        font-size: 250%;
    }
</style>
<script type="text/javascript">

    var selClassificationId = 0;
    //var today = new Date();
    //var dateFrom = Date(today.setMonth(today.getMonth() -1));
    //var dateTo = today;
    var jsDateFrom  = new Date('@DateFrom.ToString("yyyy-MM-ddTHH:mm:ss")');
    var jsDateTo = new Date('@DateTo.ToString("yyyy-MM-ddTHH:mm:ss")');

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function grid_OnRowDblClick(e) {
        if (e.key) {
            goDetail(e.key);
        }
    }
    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            //goDetail(data.TKRequestId);
        }
        getDataGridInstance().clearSelection();
    }

    function goDetail(Id) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        getLoadPanelInstance().show();
        $('#DettaglioContent').load('@(Url.Action("DetailRequestPartial"))/' + Id, function () {
            $("#titolo_dettaglio").html("");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
            getLoadPanelInstance().hide();
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }

    //function OnRowPrepared(info) {
    //    if (typeof info.data !== 'undefined') {
    //        info.rowElement.addClass('TKRequest-status-' + info.data.Status);
    //    }
    //}

    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.value + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
        }
        e.cellElement.html(fieldHtml);
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }

    function dropDownBoxClassification_valueChanged(e) {
        selClassificationId = (e.value || 0);
        getDataGridInstance().refresh();
        syncTreeViewSelection($("#ClassificationTreeView").dxTreeView("instance"), e.value);
    }
    function syncTreeViewSelection(treeView, value) {
        if (treeView) {
            if (!value) {
                treeView.unselectAll();
            } else {
                treeView.selectItem(value);
            }
        }
    }

    function DateFrom_valueChanged(data) {
        if (data.value != null) {
            jsDateFrom = data.value;
            getDataGridInstance().refresh();
        }
    }
    function DateTo_valueChanged(data) {
        if (data.value != null) {
            jsDateTo = data.value;
            getDataGridInstance().refresh();
        }
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1500);
    }

    function loadPanel_hidden() {
        showEmployeeInfo(employee);
    }

    var jsRefreshCounter = true;
    var jsFirtAccess = true;
    var grid_OnContentReady = function (e) {
        var datagrid = e.component;
        if (jsRefreshCounter) {
            setCounter(0);
            const filterExpr = datagrid.getCombinedFilter(true);
            datagrid
                .getDataSource()
                .store()
                .load({ filter: filterExpr })
                .then((result) => {
                    var cntPending = 0;
                    var cntReopen = 0;
                    var cntProcessing = 0;
                    var cntStandby = 0;
                    var cntClosed = 0;
                    for (i = 0; i < result.length; i++) {
                        switch ((result[i].Status || "")) {
                            case '@Lookup.TKRequest_Status_PENDING':
                                cntPending++;
                                break;
                            case '@Lookup.TKRequest_Status_REOPENED':
                                cntReopen++;
                                break;
                            case '@Lookup.TKRequest_Status_PROCESSING':
                                cntProcessing++;
                                break;
                            case '@Lookup.TKRequest_Status_STANDBY':
                                cntStandby++;
                                break;
                            case '@Lookup.TKRequest_Status_CLOSED':
                                cntClosed++;
                                break;
                            default:
                            //console.log(`Sorry, we are out of ${expr}.`);
                        }
                    }
                    setCounter(1, cntPending, cntReopen, cntProcessing, cntStandby, cntClosed);
                });
        }
        jsRefreshCounter = true;
        jsFirtAccess = false;
    }

    function setCounter(mode, cntPending, cntReopen, cntProcessing, cntStandby, cntClosed)  {
        if (mode == 0) {
            var spinner = "<i class='fa fa-spin fa-spinner'></i>";
            $("#counter-pending").html(spinner);
            $("#counter-reopened").html(spinner);
            $("#counter-processing").html(spinner);
            $("#counter-standby").html(spinner);
            $("#counter-closed").html(spinner);
            $("#counter-total").html(spinner);
        } else {
            var cntTot = (cntPending || 0) + (cntReopen || 0) + (cntProcessing || 0) + (cntStandby || 0) + (cntClosed || 0);
            $("#counter-pending").html(formatNumber(cntPending || 0));
            $("#counter-reopened").html(formatNumber(cntReopen || 0));
            $("#counter-processing").html(formatNumber(cntProcessing || 0));
            $("#counter-standby").html(formatNumber(cntStandby || 0));
            $("#counter-closed").html(formatNumber(cntClosed || 0));
            $("#counter-total").html("<b>" + formatNumber((cntTot || 0)) + "</b>");
        }
    }
    function ConfigId_valueChanged(e) {
        $("#ConfigId").val(e.value);
        $("#elenco").submit();
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                        .Icon("fa fa-info-circle")
                                        .Hint("Function Documentation")
                                        .Text("")
                                        .Type(ButtonType.Normal)
                                        .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ConfigId" id="ConfigId" value="@Model.ConfigId">
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Support_Statistics">
    <div id="sfondo"></div>
    <br />
    <div class="row" id="filters">
        <div class="form-group" id="divClassification">

            <div class="option col-md-2 col-xs-6">
                <span>Ticket Type/Configuration</span>
                @(Html.DevExtreme().SelectBox()
                                                    .ID("SelConfigId")
                                                    .DataSource(Model.TKSupportTypes)
                                                    .ValueExpr("ID")
                                                    .DisplayExpr("Description")
                                                    .Value(Model.ConfigId)
                                                    .OnValueChanged("ConfigId_valueChanged")
                )
            </div>


            <div class="option col-md-2 col-xs-6">
                <span>Period</span>
                        @(Html.DevExtreme().DateBox().ID("DateFrom").Width("100%").Min("2000/01/01").Max("2999/12/31").Value(DateFrom).DisplayFormat("dd/MM/yyyy").OnValueChanged("DateFrom_valueChanged"))
                    </div>
            <div class="option col-md-2 col-xs-6">
                <span>&nbsp;</span>
                @(Html.DevExtreme().DateBox().ID("DateTo").Width("100%").Min("2000/01/01").Max("2999/12/31").Value(DateTo).DisplayFormat("dd/MM/yyyy").OnValueChanged("DateTo_valueChanged"))
            </div>
            <div class="option col-md-6 col-xs-12">
                <spam>Classification</spam>
                @(Html.DevExtreme().DropDownBox()
                                    .ID("TKClassificationId")
                                    //.Value(Model.TKClassificationId)
                                    .ValueExpr("TKClassificationId")
                                    .DisplayExpr("BreadCrumb")
                                    .DropDownOptions(o => o.Height(600))
                                    .DataSource(d => d.Mvc().Controller("TKRegistry").LoadAction("GetClassifications")
                                                    .LoadParams(new
                                                    {
                                                        bExpandAll = true,
                                                        bHideRoot = true,
                                                        bLoadBreadCrumb = true,
                                                        configId = Model.ConfigId
                                                    })
                                        .LoadMode(DataSourceLoadMode.Raw)
                                        .Key("TKClassificationId")
                                    )
                                    .Placeholder("Select...")
                                    .ShowClearButton(true)
                                    .OnValueChanged("dropDownBoxClassification_valueChanged")
                                    .ContentTemplate(new TemplateName("EmbeddedClassification_TreeView"))
                )
                <div id = "treeBox" ></div >
            </div >
        </div >
    </div >
    <hr />
    <div class="row">
        <div class="col-md-2 stats">
            <div class="sub-title">@Html.Raw(Lookup.TKRequest_StatusDeco_PENDING)</div>
            <div class="stat-value" id="counter-pending"></div>
        </div>
        <div class="col-md-2 stats">
            <div class="sub-title">@Html.Raw(Lookup.TKRequest_StatusDeco_REOPENED)</div>
            <div class="stat-value" id="counter-reopened"></div>
        </div>
        <div class="col-md-2 stats">
            <div class="sub-title">@Html.Raw(Lookup.TKRequest_StatusDeco_PROCESSING)</div>
            <div class="stat-value" id="counter-processing"></div>
        </div>
        <div class="col-md-2 stats">
            <div class="sub-title">@Html.Raw(Lookup.TKRequest_StatusDeco_STANDBY)</div>
            <div class="stat-value" id="counter-standby"></div>
        </div>
        <div class="col-md-2 stats">
            <div class="sub-title">@Html.Raw(Lookup.TKRequest_StatusDeco_CLOSED)</div>
            <div class="stat-value" id="counter-closed"></div>
        </div>
        <div class="col-md-2 stats">
            <div class="sub-title">TOTAL</div>
            <div class="stat-value" id="counter-total"></div>
        </div>
    </div>

    <hr />

    @(Html.DevExtreme().LoadPanel()
                .ID("loadPanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                //.Position(p => p.Of("#requests"))
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(true)
                .CloseOnOutsideClick(false)
                .OnShown("loadPanel_shown")
                .OnHidden("loadPanel_hidden")
    )

    <div class="row" style="margin-top: 5px;" id="requests">
        @(Html.DevExtreme().DataGrid<WebApp.Entity.StatisticsDTO>()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(true)
                                .RowAlternationEnabled(false)
                                .AllowColumnResizing(true)
                                .DataSource(d => d.WebApi().Controller("TKSupport").LoadAction("GetStatistics").Key("TKRequestId")
                                                        .LoadParams(new
                                                        {
                                                            ClassificationId = new JS("function() { return selClassificationId; }"),
                                                            getType = Lookup.GetRequestsType.YourRequests,
                                                            DateFrom = new JS("function() { return jsDateFrom.toISOString(); }"),
                                                            DateTo = new JS("function() { return jsDateTo.toISOString(); }"),
                                                            ConfigId = Model.ConfigId
                                                        })
                                                        )
                                .RemoteOperations(false)
                                .OnCellPrepared("onCellPrepared")
                                //.OnRowPrepared("OnRowPrepared")
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .OnSelectionChanged("selection_changed")
                                .OnRowDblClick("grid_OnRowDblClick")
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single).ShowSortIndexes(false))
                                .AllowColumnReordering(true)
                                .AllowColumnResizing(true)
                                .ColumnResizingMode(ColumnResizingMode.Widget)
                                .StateStoring(s => s.Enabled(false).Type(StateStoringType.SessionStorage).StorageKey("TKStatisticsIndice"))
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("TKRequestId").SortOrder(SortOrder.Desc).Caption("Id").Width(120).Alignment(HorizontalAlignment.Center).SortOrder(SortOrder.Desc);
                                    columns.Add().DataField("StatusDeco").Caption("Status").Name("status").Width(120);
                                    columns.Add().DataField("DateOfTheRequest").HeaderCellTemplate("Date of the<br/>request").Caption("Date of the request").Width(100)
                                                            .CalculateSortValue("DateOfTheRequestSort");  // .GroupIndex(1).SortOrder(SortOrder.Desc)
                                    columns.Add().DataField("Area").Caption("Area").Width(100);
                                    columns.Add().DataField("Classification").Caption("Classification").Width(300);
                                    columns.Add().DataField("ComplaintDeco").Caption("Complaint").Width(100).Alignment(HorizontalAlignment.Center).Visible(ShowComplaint);
                                    columns.Add().DataField("SerialNumber").Caption(Model.ConfigModel.Instrument)
                                                                            .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.Instrument))
                                                                            .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Instrument)).Width(200);
                                    columns.Add().DataField("OtherPlatform").Caption(Model.ConfigModel.OtherPlatform)
                                                                            .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.OtherPlatform))
                                                                            .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.OtherPlatform)).Width(250);
                                    columns.Add().DataField("CodArt").Caption(Model.ConfigModel.Product)
                                                                            .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.Product))
                                                                            .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Product)).Width(150);
                                    columns.Add().DataField("City").Caption("City").Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Instrument)).Width(150);
                                    columns.Add().DataField("Country").Caption("Country").Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Instrument)).Width(150);
                                    columns.Add().DataField("AddInfo").Caption(Model.ConfigModel.AdditionalInfo)
                                                                            .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.AdditionalInfo))
                                                                            .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.AdditionalInfo)).Width(250);
                                    columns.Add().DataField("ClosingInfo").Caption(Model.ConfigModel.ClosingInfo)
                                                                            .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.ClosingInfo))
                                                                            .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.ClosingInfo)).Width(200);
                                    columns.Add().Caption("Complaint").Visible(ShowComplaint)
                                            .Columns(a =>
                                            {
                                                a.Add().DataField("ComplaintLotNumber").Caption("Lot Number").Width(100);
                                                a.Add().DataField("ComplaintCustomer").Caption("End user's site").Width(120);
                                                a.Add().DataField("ComplaintCity").Caption("City").Width(120);
                                                a.Add().DataField("ComplaintIncidentInfo").Caption("Incident").Width(200);
                                                a.Add().DataField("ComplaintClassificationDeco").Caption("Classification").Width(200);
                                                a.Add().DataField("ComplaintStatusDeco").Caption("Status").Width(120);
                                                a.Add().DataField("ComplaintLinkommInfo").Caption("Linkomm Info").Width(120);
                                            });
                                    //columns.Add().Caption("Registration")
                                    //    .Columns(a =>
                                    //    {
                                    //        a.Add().DataField("UserRegistration_Name").HeaderCellTemplate("User<br/>Registration").Caption("User Registration").Width(100);
                                    //        a.Add().DataField("AreaRegistration").Caption("Area").Width(100);
                                    //        a.Add().DataField("ClassificationRegistration").Caption("Classification").Width(300);
                                    //        a.Add().DataField("SerialNumberRegistration").Caption("Instrument").Width(200);
                                    //        a.Add().DataField("OtherPlatformRegistration").Caption("Other Platform").Width(250);
                                    //        a.Add().DataField("CodArtRegistraton").Caption("Product").Width(150);
                                    //        a.Add().DataField("CityRegistration").Caption("City").Width(150);
                                    //        a.Add().DataField("CountryRegistration").Caption("Country").Width(150);
                                    //        a.Add().DataField("AddInfoRegistration").Caption("AddInfo").Width(200);
                                    //    });
                                    columns.Add().DataField("TmstInChargeOfDeco").HeaderCellTemplate("Date/Time<br/>in Charge Of").Caption("Date/Time in Charge of").Width(120)
                                                    .CalculateSortValue("TmstInChargeOfSort").Alignment(HorizontalAlignment.Center);
                                    columns.Add().DataField("TmstClosedDeco").HeaderCellTemplate("Date/Time<br/>closed").Caption("Date/Time closed").Width(120)
                                                    .CalculateSortValue("TmstClosedSort").Alignment(HorizontalAlignment.Center);
                                    columns.Add().DataField("UserClosed_Name").HeaderCellTemplate("User<br/>Closed").Caption("User Closed").Width(100);
                                    columns.Add().DataField("MinuteInChargeOf").HeaderCellTemplate("In charge of<br/>(min)").Caption("In charge of (min)").Width(100)
                                                    .Alignment(HorizontalAlignment.Center).Format("fixedPoint");
                                    columns.Add().DataField("MinuteProcessing").HeaderCellTemplate("Processing<br/>(min)").Caption("Processing (min)").Width(100)
                                                    .Alignment(HorizontalAlignment.Center).Format("fixedPoint");
                                    columns.Add()
                                        .Alignment(HorizontalAlignment.Center)
                                        .Width(60)
                                        .DataField("TKRequestId")
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .Caption("")
                                        .Name("cmdRequest");
                                })
                                .OnContentReady("grid_OnContentReady")
                                .OnOptionChanged(@<text>
                                                function(e) {
                                                    if((e.fullName || "").startsWith("paging.") || (e.fullName || "").endsWith("sortOrder") ||
                                                    (e.fullName || "").endsWith(".visibleIndex") || (e.fullName || "").endsWith(".groupIndex")) {
                                                        jsRefreshCounter = false || jsFirtAccess;
                                                    }
                                                }
                                                </text>)
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                {
                                    pager.ShowPageSizeSelector(true);
                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
                                .Export(e => e.Enabled(true).FileName("Statistics").AllowExportSelectedData(false))
                                .Grouping(grouping => grouping.AutoExpandAll(true))
                                .GroupPanel(groupPanel => groupPanel.Visible(true))
                                .SortByGroupSummaryInfo(i => i.Add().SummaryItem("count"))
                                .Summary(s => s.GroupItems(items =>
                                {
                                    items.Add().Column("MinuteInChargeOf").SummaryType(SummaryType.Avg).ShowInGroupFooter(true);
                                    items.Add().Column("MinuteProcessing").SummaryType(SummaryType.Avg).ShowInGroupFooter(true);
                                    items.Add().Column("TKRequestId").SummaryType(SummaryType.Count).DisplayFormat("{0} requests");
                                }).TotalItems(items =>
                                {
                                    items.Add().Column("MinuteInChargeOf").SummaryType(SummaryType.Avg).ValueFormat("fixedPoint");
                                    items.Add().Column("MinuteProcessing").SummaryType(SummaryType.Avg).ValueFormat("fixedPoint");
                                    items.AddFor(m => m.TKRequestId).SummaryType(SummaryType.Count).ValueFormat("fixedPoint");
                                })
                            )
    )
    </div>
    <!-- Dettaglio -->
    <div class="modal fade" id="Dettaglio" role="dialog" tabindex="-1">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type = "button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title" id="titolo_dettaglio"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding-top: 5px;">
                    <div id = 'DettaglioContent' ></div >
                </div >
            </div >
        </div >
    </div >
}

@using (Html.DevExtreme().NamedTemplate("EmbeddedClassification_TreeView"))
    {
    @(Html.DevExtreme().TreeView()
        .DataSource(new JS(@"component.getDataSource()"))
        .ID("ClassificationTreeView")
        .KeyExpr("TKClassificationId")
        .DisplayExpr("TitleFull")
        .ItemsExpr("data")
        .ExpandedExpr("Expanded")
        .ParentIdExpr("ParentId")
        .DataStructure(TreeViewDataStructure.Plain)
        .SelectionMode(NavSelectionMode.Single)
        .SelectByClick(true)
        .SearchEnabled(true)
        .Height(500)
        .OnContentReady(@<text>
                            function(args) {
                                    syncTreeViewSelection(args.component, component.option("value"));
                            }
                        </text>)
        .OnItemClick(@<text>
                            function(args) {
                                var valPrec = (component.option("value") || 0);
                                component.option("value", args.node.key);
                                if (valPrec == args.node.key) {
                                    component.close();
                                }
                            }
                    </text>)
    .ItemTemplate(@<text>
                    <div>
                        <% if ( Reserved == true ) { %>
                            <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                        <% } else { %>
                            <i class="<%- icon %>" style="font-size: 16px;"></i>
                        <% } %>
                        <%- TitleFull %>
                    </div>
                    </text>)
    )
}
