﻿@model WebApp.Entity.AssaysProcotolsIndexDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Assays Protocols";
    string titolo = ViewData["Title"].ToString();
    string strSummary = (@Model.summary).Replace("\n", "</br>");
}

<style type="text/css">
    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_AssaysProtocols.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.15;
    }

    /*.dx-scrollable-customizable-scrollbars ::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    .dx-scrollable-customizable-scrollbars ::-webkit-scrollbar:vertical {
        width: 10px;
    }*/

    #CommercialEntity {
        border: solid 1px lightgray !important;
    }
</style>

<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesSel));
    var selCity = '@Model.City';
    var selCustomerCode = @Html.Raw(Json.Serialize(Model.customersSel));
    var selSiteCode = '@Model.SiteCode';
    var selInstrument = '@Model.Instrument';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            refreshCity('@Model.City');
            refreshSite('@Model.SiteCode');
            refreshInstrument('@Model.Instrument');
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            //console.log("Country_valueChanged " + newValue);
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            //console.log("City_valueChanged " + newValue);
            selCity = newValue;
            $("#City").val(selCity);
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            //console.log("Customer_valueChanged " + newValue);
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            //console.log("Site_valueChanged " + newValue);
            selSiteCode = newValue;
            $("#SiteCode").val(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Instrument_valueChanged(e) {
        var newValue = (e.value || '');
        if (selInstrument != newValue) {
            //console.log("Instrument_valueChanged " + newValue);
            selInstrument = newValue;
            $("#Instrument").val(selInstrument);
        }
    }

    function refreshCity(valore) {
        //console.log("refreshCity - " + valore + " -selCity:" + selCity);
        var selectBox = $("#CityLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function refreshCustomer(valore) {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        //console.log("refreshCustomer - " + selectedCurr);
        var selectedNew = [];
        var ds = tagBox.getDataSource().load().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshSite(valore) {
        //console.log("refreshSite - " + valore);
        var selectBox = $("#SiteLookup").dxLookup("instance");
        selectBox.option('disabled', true);
        selectBox.option('value',  '');
        if ('' != (selCustomerCode || '')) {
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.load().done(function (result) {
                selectBox.option('value', (valore || ''));
                selectBox.option('disabled', false);
            });
        } else {
            selectBox.option('value', (valore || ''));
        }
    }
    function refreshInstrument(valore) {
        //console.log("refreshInstrument - " + valore);
        var selectBox = $("#InstrumentLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function openFilters() {
        $('#myModal').modal('toggle');
    }

    function exportGrid() {
        getLoadPanelInstance().option("message", "Exporting...");
        getLoadPanelInstance().show();
        goSubmit("export");
    }

    function resetFilters() {

        selCountry = "";
        selCity = "";
        selCustomerCode = "";
        selSiteCode = "";
        selInstrument = "";

        if ('@Model.lockCountry'.toLowerCase() == 'false') {
            $("#countriesSel").dxTagBox("instance").option('value', '');
        }
        $("#CityLookup").dxLookup("instance").option('value', '');
        $("#City").val("");
        if ('@Model.lockCustomer'.toLowerCase() == 'false') {
            $("#customersSel").dxTagBox("instance").option('value', '');
        }
        $("#SiteLookup").dxLookup("instance").option('value', '');
        $("#SiteCode").val("");
        $("#InstrumentLookup").dxLookup("instance").option('value', '');
        $("#Instrument").val("");
        if ('@Model.lockRegion'.toLowerCase() == 'false') {
            $("#Region").dxLookup("instance").option('value', '');
        }
        if ('@Model.lockArea'.toLowerCase() == 'false') {
            $("#Area").dxLookup("instance").option('value', '');
        }
        $("#CommercialStatus").dxLookup("instance").option('value', '');
        if ('@Model.lockCommerialEntity'.toLowerCase() == 'false') {
            $("#commercialEntitiesSel").dxTagBox("instance").option('value', '');
        }
        $("#InstallDateFrom").dxDateBox("instance").option('value', null);
        $("#InstallDateTo").dxDateBox("instance").option('value', null);
        $("#SampleType").dxLookup("instance").option('value', '');
        $("#PathogenName").dxLookup("instance").option('value', '');
        $("#AssayName").dxLookup("instance").option('value', '');
    }
    function add_months(dt, n) {

        return new Date(dt.setMonth(dt.getMonth() + n));
    }
    function goSubmit(opt) {
        $("#opt").val(opt || '');
        $("#elenco").attr("action", '@Url.Action("Index", "AssaysProtocols")');
        $("#elenco").submit();
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
</script>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    @(Html.DevExtreme().LoadPanel()
                .ID("loadPanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(false)
                .CloseOnOutsideClick(true)
                .OnShown("loadPanel_shown")
    )
    @Html.Hidden("opt");
    @Html.AntiForgeryToken()

    <div id="sfondo"></div>
    <div id="main">
        <p class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button()
                            .Icon("fa fa-file-excel-o")
                            .Hint("Export Details")
                            .OnClick("exportGrid")
                        )
                        @(Html.DevExtreme().Button()
                            .Icon("glyphicon glyphicon-filter")
                            .Hint("Filters")
                            .OnClick("openFilters")
                        )
                    </div>
                </div>
            </div>
            <div class="long-title"><h3 style="margin: 2px;">@titolo</h3></div>
            <div class="text-center sub-title">@Html.Raw(strSummary)</div>
            <div class="empty_row"></div>
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                            .ID("gridContainer")
                            .DataSource(Model.details)
                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                            .AllowColumnResizing(true)
                            .ColumnAutoWidth(true)
                            //.Height("500")
                            .Scrolling(s => s.UseNative(true))
                            .Paging(p => p.PageSize(20))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                            .Columns(columns =>
                            {
                                columns.Add().DataField("assay_name");
                                columns.Add().DataField("pathogen_name");
                                columns.Add().DataField("Country");
                                columns.Add().DataField("City");
                                columns.Add().DataField("Site");
                                columns.Add().DataField("SerialNumber");
                                columns.Add().DataField("AssayProtocolStatus").HeaderCellTemplate("Assay Protocol<br/>Status");
                                columns.Add().DataField("ImportDate").CalculateSortValue("ImportDateSort").Caption("Import Date");
                                columns.Add().DataField("CommercialEntity");
                                columns.Add().DataField("CommercialStatus");
                            })
                )
            </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assays Protocols - Filters</h4>
                </div>
                <div class="modal-body">
                    <section id="filtri">
                        <div id="filter">
                            <div class="col-md-8">
                                <span>Country</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                    .ID("countriesSel")
                                    .DataSource(Model.countries)
                                    .DisplayExpr("Country")
                                    .ValueExpr("Country")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.countriesSel)
                                    .InputAttr("autocomplete", "true")
                                    .OnValueChanged("Country_valueChanged")
                                    .Disabled(Model.lockCountry)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>City</span>
                                @Html.HiddenFor(model => model.City)
                                @(Html.DevExtreme().Lookup()
                                                .ID("CityLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                                  .LoadAction("getCities")
                                                                  .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                  .Key("City")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("City")
                                                .DisplayExpr("City")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("City_valueChanged")
                                )
                            </div>
                            <div class="col-md-8">
                                <span>Customer</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                    .ID("customersSel")
                                    .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                            .LoadParams(new
                                                            { Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            }).Key("CustomerCode"))
                                    .DataSourceOptions(o => o.PageSize(999))
                                    .ValueExpr("CustomerCode")
                                    .DisplayExpr("CompanyName")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.customersSel)
                                    .OnValueChanged("Customer_valueChanged")
                                    .Disabled(Model.lockCustomer)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>Site</span>
                                @Html.HiddenFor(model => model.SiteCode)
                                @(Html.DevExtreme().Lookup()
                                            .ID("SiteLookup")
                                            .Disabled(true)
                                            .DataSource(d => d.Mvc().Controller("Customers")
                                                        .LoadAction("GetSites")
                                                        .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                        .Key("SiteCode")
                                                        )
                                            .ShowPopupTitle(false)
                                            .ValueExpr("SiteCode")
                                            .DisplayExpr("SiteDescription")
                                            .Placeholder("select...")
                                            .SearchPlaceholder("search")
                                            .CancelButtonText("Cancel")
                                            .ShowClearButton(true)
                                            .ShowCancelButton(false)
                                            .ClearButtonText("Remove Selection")
                                            .OnValueChanged("Site_valueChanged")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Instrument</span>
                                @Html.HiddenFor(model => model.Instrument)
                                @(Html.DevExtreme().Lookup()
                                                .ID("InstrumentLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                            .LoadAction("GetInstruments")
                                                            .LoadParams(new
                                                            {
                                                                CustomerCode = new JS("function() { return selCustomerCode; }"),
                                                                SiteCode = new JS("function() { return selSiteCode; }"),
                                                                Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            })
                                                            .Key("SerialNumber")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("SerialNumber")
                                                .DisplayExpr("SerialNumber")
                                                .DisplayExpr("SerialNumberInfo")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("Instrument_valueChanged")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Region</span>
                                @(Html.DevExtreme().LookupFor(m => m.Region)
                                                .ID("Region")
                                                .DataSource(Model.regions)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Region")
                                                .DisplayExpr("Region")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockRegion)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Area</span>
                                @(Html.DevExtreme().LookupFor(m => m.Area)
                                                .ID("Area")
                                                .DataSource(Model.areas)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Area")
                                                .DisplayExpr("Area")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockArea)
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Status</span>
                                @(Html.DevExtreme().LookupFor(m => m.commercialStatus)
                                                .ID("CommercialStatus")
                                                .DataSource(Model.commercialStatuses)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("CommercialStatus")
                                                .DisplayExpr("CommercialStatus")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Entity</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                    .ID("commercialEntitiesSel")
                                    .DataSource(Model.commercialEntities)
                                    .DisplayExpr("CommercialEntity")
                                    .ValueExpr("CommercialEntity")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.commercialEntitiesSel)
                                    .Disabled(Model.lockCommerialEntity)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Assay Name</span>
                                @(Html.DevExtreme().LookupFor(m => m.AssayName)
                                                .ID("AssayName")
                                                .DataSource(Model.Assays)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Name")
                                                .DisplayExpr("Name")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Sample Type</span>
                                @(Html.DevExtreme().LookupFor(m => m.SampleType)
                                                .ID("SampleType")
                                                .DataSource(new List<object> {
                                                                    new { SampleType = 0, SampleType_Description = "Sample" },
                                                                    new { SampleType = 1, SampleType_Description = "Calibrator"},
                                                                    new { SampleType = 2, SampleType_Description = "Control"}
                                                            }
                                                    )
                                                .ValueExpr("SampleType")
                                                .DisplayExpr("SampleType_Description")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Pathogen Name</span>
                                @(Html.DevExtreme().LookupFor(m => m.PathogenName)
                                                .ID("PathogenName")
                                                .DataSource(Model.Pathogens)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Name")
                                                .DisplayExpr("Name")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-3">
                                <span>Installation Date From</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateFrom)
                                                                            .ID("InstallDateFrom")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="col-md-3">
                                <span>Installation Date To</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateTo)
                                                                            .ID("InstallDateTo")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2" style="vertical-align:bottom;">
                                <span>&nbsp;</span>
                                <a href="#" onclick="resetFilters();" class="btn btn-link btn-block" style="font-size:12px;">Reset Filters</a>
                            </div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-6">
                                <span>&nbsp;</span>
                                <input type="button" onclick="goSubmit();" value="Apply" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
