@model WebApp.Entity.ElitePCRKit
@using WebApp.Classes;

@{
    ViewData["Title"] = "Manage ELITe PCR Kits";
    int PcrTypeAssay = (int)Lookup.ElitePCRKitType.Assay;
    int ExtractionTypeMultiplex = (int)Lookup.ExtractionType.multiplex;
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";
    var idx = 0;

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function setCellValue_KitSize(newData, value) {
        newData.KitSize = value || 0;
    }
    function setCellValue_StandardCost(newData, value) {
        newData.StandardCost = value || 0;
    }
    function setCellValue_OfficialPrice(newData, value) {
        newData.OfficialPrice = value || 0;
    }
    //function setCellValue_CutOff(newData, value) {
    //    newData.CutOff = value || 0;
    //}
    //function setCellValue_MinTheoreticalCons(newData, value) {
    //    newData.MinTheoreticalCons = value || 0;
    //}
    //function setCellValue_MultipleReaction(newData, value) {
    //    newData.MultipleReaction = value || 0;
    //}
    //function setCellValue_Compensation1(newData, value) {
    //    newData.Compensation1 = value || 0;
    //}
    //function setCellValue_Compensation2(newData, value) {
    //    newData.Compensation2 = value || 0;
    //}
    //function setCellValue_Compensation3(newData, value) {
    //    newData.Compensation3 = value || 0;
    //}
    //function setCellValue_Compensation4(newData, value) {
    //    newData.Compensation4 = value || 0;
    //}
    function row_prepared(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.PCRType == @PcrTypeAssay) {
                if (info.data.ExtractionType == @ExtractionTypeMultiplex) {
                    info.rowElement.addClass('PCRKit-assay-multiplex');
                } else {
                    info.rowElement.addClass('PCRKit-assay');
                }
            } else {
                info.rowElement.addClass('PCRKit-other');
            }
        }
    }
    function editor_preparing(options) {
        if (options.dataField && options.dataField.toLowerCase() == "cutoff") {
            if (options.row && options.row.data && options.row.data.PCRType != 0) {
                options.editorOptions.disabled = true;
            }
        }
    }
    function editing_start(e) {
        if (e.data && e.column.dataField) {
            if (e.column.dataField.toLowerCase() == "cutoff" && e.data.PCRType!= 0) {
                e.cancel = true;
            }
        }
    }
    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newPCRTarget = $("#PCRTarget").val();
        if (newPCRTarget == "") {
            bootbox.alert("The PCRTarget field is required");
            return false;
        }
        var checkboxAssay = $("#createAssay").dxCheckBox("instance").option('value');
        var checkboxControl = $("#createControl").dxCheckBox("instance").option('value');
        var checkboxStandard = $("#createStandard").dxCheckBox("instance").option('value');

        var newDescAssay = "";
        var newDescControl = "";
        var newDescStandard = "";
        var newPartNumberAssay = "";
        var newPartNumberControl = "";
        var newPartNumberStandard = "";

        if (checkboxAssay == true) {
            newDescAssay = $("#DescriptionAssay").val();
            if (newDescAssay == "") {
                bootbox.alert("The 'Description Assay' field is required");
                return false;
            }
            newPartNumberAssay = $("#ProductPartNumberAssay").val();
            if (newPartNumberAssay == "") {
                bootbox.alert("The 'Part Number Assay' field is required");
                return false;
            }
        }

        if (checkboxControl == true) {
            newDescControl = $("#DescriptionControl").val();
            if (newDescControl == "") {
                bootbox.alert("The 'Description Control' field is required");
                return false;
            }
            newPartNumberControl = $("#ProductPartNumberControl").val();
            if (newPartNumberControl == "") {
                bootbox.alert("The 'Part Number Control' field is required");
                return false;
            }
        }

        if (checkboxStandard == true) {
            newDescStandard = $("#DescriptionStandard").val();
            if (newDescStandard == "") {
                bootbox.alert("The 'Description Standard' field is required");
                return false;
            }
            newPartNumberStandard = $("#ProductPartNumberStandard").val();
            if (newPartNumberStandard == "") {
                bootbox.alert("The 'Part Number Standard' field is required");
                return false;
            }
        }

        $.ajax({
            url: '@Url.Action("CreateElitePcrKit")',
            type: 'POST',
            data: { PCRTarget: newPCRTarget, DescriptionAssay: newDescAssay, ProductPartNumberAssay: newPartNumberAssay,
                    DescriptionControl: newDescControl, ProductPartNumberControl: newPartNumberControl,
                    DescriptionStandard: newDescStandard, ProductPartNumberStandard: newPartNumberStandard
            },
            success: function (data) {
                if (data != "") {
                    bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                } else {
                    $("form").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteElitePcrKit")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                        } else {
                            $("form").submit();
                        }
                    }
                });
            }
        });
        }
    }

</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-flask" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                            .Icon("add")
                            .Hint("Add New ELITe PCR Kit")
                            .OnClick("goAdd")

                    )
                    @(Html.DevExtreme().Button()
                            .Icon("export")
                            .Hint("Export to Excel")
                            .OnClick("goExport")

                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(false)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                    .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(true);
                    })
                    .DataSource(d => d.Mvc()
                        .Controller("QRegistry")
                        .LoadAction("GetElitePcrKits")
                        .UpdateAction("UpdateElitePcrKit")
                        .Key("ID")
                    )
                    .RemoteOperations(true)
                    .ColumnAutoWidth(true)
                    .Columns(columns =>
                    {
                    columns.Add().DataField("ID").Visible(false);
                    columns.Add().DataField("PCRTarget").Caption("PCR Target").Fixed(true);
                    columns.Add().DataField("ProductPartNumber").Caption("Ref (product p/n)").Fixed(true);
                    columns.Add().DataField("Description").Caption("Description").Fixed(true).Width("300px");
                    //columns.Add().DataField("pcrType").Caption("Type").Option("disabled", "true");
                    columns.Add().DataField("PCRType").HeaderCellTemplate(@<text>Type</text>).Width("100px").AllowEditing(false)
                                    .Lookup(l => l.DataSource(Lookup.listElitePCRKitType).DisplayExpr("descrizione").ValueExpr("idNum"));
                        columns.Add().DataField("ExtractionType").HeaderCellTemplate(@<text>Type of<br />Extraction</text>).Width("120px")
                                    .Lookup(l => l.DataSource(Lookup.listExtractionType).DisplayExpr("descrizione").ValueExpr("idNum"));
                                    //.Lookup(l => l.DataSource(d => d.Mvc().Controller("QRegistry").LoadAction("getExtractionType").Key("id"))
                                    //               .DisplayExpr("descrizione").ValueExpr("id"));
                        columns.Add().DataField("AnalysisType").HeaderCellTemplate(@<text>Type of<br />Analysis</text>).Width("120px")
                                                                .Lookup(l => l.DataSource(Lookup.listAnalysisType).DisplayExpr("descrizione").ValueExpr("idNum"));
                        columns.Add().DataField("ggExpiry").Caption("Expiry").Alignment(HorizontalAlignment.Center).Width("70px")
                                                    .Lookup(l => l.DataSource(Lookup.listOpenPCRKitsGGExpiry).DisplayExpr("descrizione").ValueExpr("idNum"));
                        columns.Add().DataField("KitSize").Caption("Kit Size").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number).SetCellValue("setCellValue_KitSize");
                        columns.Add().DataField("StandardCost").Caption("Standard Cost").CustomizeText("showCurrency").DataType(GridColumnDataType.Number)
                                                                            .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_StandardCost");
                        columns.Add().DataField("OfficialPrice").Caption("Official Price").CustomizeText("showCurrency").DataType(GridColumnDataType.Number)
                                                                .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_OfficialPrice");
                        columns.Add().DataField("CutOff").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("MinTheoreticalCons").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("MultipleReaction").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Threshold1").Caption("th#1").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation1").Caption("Comp#1").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);  // .SetCellValue("setCellValue_Compensation1")
                        columns.Add().DataField("Threshold2").Caption("th#2").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation2").Caption("Comp#2").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);       // .SetCellValue("setCellValue_Compensation2")
                        columns.Add().DataField("Threshold3").Caption("th#3").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation3").Caption("Comp#3").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);  // .SetCellValue("setCellValue_Compensation3")
                        columns.Add().DataField("Threshold4").Caption("th#4").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation4").Caption("Comp#4").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);  // .SetCellValue("setCellValue_Compensation4")
                        columns.Add().DataField("Threshold5").Caption("th#5").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation5").Caption("Comp#5").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);  // .SetCellValue("setCellValue_Compensation5")
                        columns.Add().DataField("Threshold6").Caption("th#6").Alignment(HorizontalAlignment.Center)
                                                         .DataType(GridColumnDataType.Number);
                        columns.Add().DataField("Compensation6").Caption("Comp#6").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                                .DataType(GridColumnDataType.Number);  // .SetCellValue("setCellValue_Compensation6")

                    })
                    //.Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                    //.Scrolling(scrolling => scrolling.UseNative(true))
                    .OnRowPrepared("row_prepared")
                    .OnEditorPreparing("editor_preparing")
                    .OnEditingStart("editing_start")
                    .OnDataErrorOccurred("Data_Error")
                    .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .Paging(p => p.PageSize(20))
                    .Export(e => e.Enabled(true).FileName("ELITePCRKits"))
                    .LoadPanel(l => l.Enabled(true).Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
            .Icon("trash")
            .Hint("Remove Selected Records")
            .OnClick("goRemove")
            .Text("Remove selected records")
            .Type(ButtonType.Normal)

        )
        @(Html.DevExtreme().Button()
                                .Icon("save")
                                .Hint("Save Changes")
                                .Text("Save")
                                .Type(ButtonType.Success)
                                .OnClick("doSave")
        )
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New ELITe PCR Kit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group required">
                        <div class="row">
                            <label asp-for="PCRTarget" class="col-md-12 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="PCRTarget" class="form-control" style="max-width:95%;" placeholder="Enter PCR Target New ELITe PCR Kit" />
                                <span asp-validation-for="PCRTarget" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-3">
                                @(Html.DevExtreme().CheckBox().ID("createAssay").Text("Assay").Value(true))
                            </div>
                            <div class="col-md-9">
                                <input id="ProductPartNumberAssay" class="form-control" style="max-width:95%;" placeholder="Enter Product Part/Number New ELITe PCR Assay Kit" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-push-3">
                                <input id="DescriptionAssay" class="form-control" style="max-width:95%;" placeholder="Enter Description New ELITe PCR Assay Kit" />
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-3">
                                @(Html.DevExtreme().CheckBox().ID("createControl").Text("Control").Value(true))
                            </div>
                            <div class="col-md-9">
                                <input id="ProductPartNumberControl" class="form-control" style="max-width:95%;" placeholder="Enter Product Part/Number New ELITe PCR Control Kit" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-push-3">
                                <input id="DescriptionControl" class="form-control" style="max-width:95%;" placeholder="Enter Description New ELITe PCR Control Kit" />
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-3">
                                @(Html.DevExtreme().CheckBox().ID("createStandard").Text("Standard").Value(true))
                            </div>
                            <div class="col-md-9">
                                <input id="ProductPartNumberStandard" class="form-control" style="max-width:95%;" placeholder="Enter Product Part/Number New ELITe PCR Standard Kit" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-push-3">
                                <input id="DescriptionStandard" class="form-control" style="max-width:95%;" placeholder="Enter Description New ELITe PCR Standard Kit" />
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="modal-footer">
                            <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                        </div>
                    </div>
        </div>
    </div>
</form>
