@model WebApp.Entity.Extraction

@{
    ViewData["Title"] = "Manage Extractions";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function setCellValue_KitSize(newData, value) {
        newData.kitSize = value || 0;
    }
    function setCellValue_StandardCost(newData, value) {
        newData.standardCost = value || 0;
    }
    function setCellValue_OfficialPrice(newData, value) {
        newData.officialPrice = value || 0;
    }


    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newDesc = $("#Description").val();
        var newPartNumber = $("#ProductPartNumber").val();
        if (newDesc == "") {
            bootbox.alert("The Description field is required");
            return false;
        } 
        if (newPartNumber == "") {
            bootbox.alert("The Part Number field is required");
            return false;
        } 
        $.ajax({
            url: '@Url.Action("CreateExtraction")',
            type: 'POST',
            data: { Description: newDesc, ProductPartNumber: newPartNumber },
            success: function (data) {
                if (data != "") {
                    bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                } else {
                    $("form").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteExtraction")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                        } else {
                            $("form").submit();
                        }
                    }
                });
            }
        });
        }
    }

</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                            .Icon("add")
                            .Hint("Add New Extraction")
                            .OnClick("goAdd")

                    )
                    @*@(Html.DevExtreme().Button()
                            .Icon("trash")
                            .Hint("Remove Selected Records")
                            .OnClick("goRemove")

                    )*@
                    @(Html.DevExtreme().Button()
                            .Icon("export")
                            .Hint("Export to Excel")
                            .OnClick("goExport")

                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(false)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                    .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(true);
                    })
                    .DataSource(d => d.Mvc()
                        .Controller("QRegistry")
                        .LoadAction("GetExtractions")
                        .UpdateAction("UpdateExtraction")
                        .Key("id")
                    )
                    .RemoteOperations(true)
                    .Columns(columns =>
                    {
                        columns.Add().DataField("id").Visible(false);
                        columns.Add().DataField("description").Caption("Description").Width("25%");
                        columns.Add().DataField("productPartNumber").Caption("Ref (product p/n)").Width("25%");       
                        columns.Add().DataField("kitSize").Caption("Kit Size").Width("15%").Alignment(HorizontalAlignment.Center)
                                                          .DataType(GridColumnDataType.Number).SetCellValue("setCellValue_KitSize");
                        columns.Add().DataField("standardCost").Caption("Standard Cost").Width("15%").CustomizeText("showCurrency").DataType(GridColumnDataType.Number)
                                                                .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_StandardCost");
                        columns.Add().DataField("officialPrice").Caption("Official Price").Width("15%").CustomizeText("showCurrency").DataType(GridColumnDataType.Number)
                                                                .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_OfficialPrice");
                    })
                    //.Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                    .OnDataErrorOccurred("Data_Error")
                    .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .Export(e => e.Enabled(true).FileName("Extractions"))
                    .LoadPanel(l => l.Enabled("auto").Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
            .Icon("trash")
            .Hint("Remove Selected Records")
            .OnClick("goRemove")
            .Text("Remove selected records")
            .Type(ButtonType.Normal)

        )
        @(Html.DevExtreme().Button()
                                .Icon("save")
                                .Hint("Save Changes")
                                .Text("Save")
                                .Type(ButtonType.Success)
                                .OnClick("doSave")
        )
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Extraction</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-12 control-label required"></label>
                        <div class="col-md-12">
                            <input asp-for="Description" class="form-control" style="max-width:95%;" placeholder="Enter Description New Extraction" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label asp-for="ProductPartNumber" class="col-md-12 control-label required">Product Part/Number</label>
                        <div class="col-md-12">
                            <input asp-for="ProductPartNumber" class="form-control" style="max-width:95%;" placeholder="Enter Product Part Number" />
                            <span asp-validation-for="ProductPartNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>
</form>
