﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<script src="~/js/html2canvas.js"></script>



@*
    ***************************************************
        PROVA MULTI GRAFICO COMPLETA !!!
    ***************************************************
*@


<style type="text/css">
    #chart {
        height: 600px;
    }

    .active {
        font-weight: 500;
    }

    .tooltip-header {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }

    .tooltip-body {
        width: 170px;
    }

        .tooltip-body .series-name {
            font-weight: normal;
            opacity: 0.6;
            display: inline-block;
            line-height: 1.5;
            padding-right: 10px;
            width: 126px;
        }

        .tooltip-body .value-text {
            display: inline-block;
            line-height: 1.5;
            width: 30px;
        }
</style>

<script type="text/javascript">

    var dataSource = [
        { id: 1, track: '', pressure: 1988, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 2, track: 'track1', pressure: 1841, dispense: null, tipon: 1841, tipoff: null, init: 1988, aspiration: null },
        { id: 3, track: '', pressure: 1850, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1850 },
        { id: 4, track: '', pressure: 1965, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 5, track: '', pressure: 1973, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 6, track: '', pressure: 1978, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 7, track: '', pressure: 2006, dispense: 2006, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 8, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 9, track: 'track2', pressure: 1826, dispense: null, tipon: 1826, tipoff: null, init: 1988, aspiration: null },
        { id: 10, track: '', pressure: 1847, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1847 },
        { id: 11, track: '', pressure: 1956, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 12, track: '', pressure: 1964, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 13, track: '', pressure: 1970, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 14, track: '', pressure: 2063, dispense: 2063, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 15, track: '', pressure: 1985, dispense: null, tipon: null, tipoff: 1985, init: 1988, aspiration: null },
        { id: 16, track: 'track3', pressure: 1905, dispense: null, tipon: 1905, tipoff: null, init: 1988, aspiration: null },
        { id: 17, track: '', pressure: 1854, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1854 },
        { id: 18, track: '', pressure: 1966, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 19, track: '', pressure: 1975, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 20, track: '', pressure: 1985, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 21, track: '', pressure: 1992, dispense: 1991, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 22, track: '', pressure: 1985, dispense: null, tipon: null, tipoff: 1985, init: 1988, aspiration: null },
        { id: 23, track: 'track4', pressure: 1895, dispense: null, tipon: 1895, tipoff: null, init: 1988, aspiration: null },
        { id: 24, track: '', pressure: 1857, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1857 },
        { id: 25, track: '', pressure: 1968, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 26, track: '', pressure: 1977, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 27, track: '', pressure: 1987, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 28, track: '', pressure: 1993, dispense: 1993, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 29, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 30, track: 'track5', pressure: 1898, dispense: null, tipon: 1898, tipoff: null, init: 1988, aspiration: null },
        { id: 31, track: '', pressure: 1855, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1855 },
        { id: 32, track: '', pressure: 1980, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 33, track: '', pressure: 1990, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 34, track: '', pressure: 1996, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 35, track: '', pressure: 1998, dispense: 1998, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 36, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 37, track: 'track6', pressure: 1900, dispense: null, tipon: 1900, tipoff: null, init: 1988, aspiration: null },
        { id: 38, track: '', pressure: 1886, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1886 },
        { id: 39, track: '', pressure: 2005, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 40, track: '', pressure: 2015, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 41, track: '', pressure: 2020, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 42, track: '', pressure: 1984, dispense: 1984, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 43, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 44, track: 'track7', pressure: 1900, dispense: null, tipon: 1900, tipoff: null, init: 1988, aspiration: null },
        { id: 45, track: '', pressure: 1860, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1860 },
        { id: 46, track: '', pressure: 1982, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 47, track: '', pressure: 1988, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 48, track: '', pressure: 1998, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 49, track: '', pressure: 2011, dispense: 2011, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 50, track: '', pressure: 1985, dispense: null, tipon: null, tipoff: 1985, init: 1988, aspiration: null },
        { id: 51, track: 'track8', pressure: 1901, dispense: null, tipon: 1901, tipoff: null, init: 1988, aspiration: null },
        { id: 52, track: '', pressure: 1862, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1862 },
        { id: 53, track: '', pressure: 1992, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 54, track: '', pressure: 2000, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 55, track: '', pressure: 2009, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 56, track: '', pressure: 2016, dispense: 2016, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 57, track: '', pressure: 1983, dispense: null, tipon: null, tipoff: 1983, init: 1988, aspiration: null },
        { id: 58, track: 'track9', pressure: 1911, dispense: null, tipon: 1911, tipoff: null, init: 1988, aspiration: null },
        { id: 59, track: '', pressure: 1865, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1865 },
        { id: 60, track: '', pressure: 1991, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 61, track: '', pressure: 1997, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 62, track: '', pressure: 2005, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 63, track: '', pressure: 1994, dispense: 1994, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 64, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 65, track: 'track10', pressure: 1900, dispense: null, tipon: 1900, tipoff: null, init: 1988, aspiration: null },
        { id: 66, track: '', pressure: 1864, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1864 },
        { id: 67, track: '', pressure: 1986, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 68, track: '', pressure: 1997, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 69, track: '', pressure: 2002, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 70, track: '', pressure: 1991, dispense: 1991, tipon: null, tipoff: 1991, init: 1988, aspiration: null },
        { id: 71, track: '', pressure: 1985, dispense: null, tipon: 1985, tipoff: null, init: 1988, aspiration: null },
        { id: 72, track: 'track11', pressure: 1901, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1901 },
        { id: 73, track: '', pressure: 1856, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 74, track: '', pressure: 1974, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 75, track: '', pressure: 1982, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 76, track: '', pressure: 1988, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 77, track: '', pressure: 1994, dispense: 1994, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 78, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: 1984, init: 1988, aspiration: null },
        { id: 79, track: 'track12', pressure: 1894, dispense: null, tipon: 1894, tipoff: null, init: 1988, aspiration: null },
        { id: 80, track: '', pressure: 1858, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: 1858 },
        { id: 81, track: '', pressure: 1984, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 82, track: '', pressure: 1991, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 83, track: '', pressure: 2000, dispense: null, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 84, track: '', pressure: 1992, dispense: 1992, tipon: null, tipoff: null, init: 1988, aspiration: null },
        { id: 85, track: '', pressure: 1985, dispense: null, tipon: null, tipoff: 1985, init: 1988, aspiration: null }
    ];
    var i = 0;
    //$(function () {
    //    var chart = $("#chart").dxChart({
    //        palette: "Violet",
    //        dataSource: dataSource,
    //        margin: {
    //            bottom: 20
    //        },
    //        argumentAxis: {
    //            valueMarginsEnabled: false,
    //            discreteAxisDivisionMode: "crossLabels",
    //            axisDivisionFactor: 1,
    //            label: {
    //                customizeText: function () {
    //                    if (typeof dataSource[this.value] !== 'undefined') {
    //                        return dataSource[this.value].track;
    //                    }
    //                    return ' ';
    //                }
    //            }
    //        },
    //        series: [
    //            {
    //                argumentField: "id",
    //                valueField: "pressure",
    //                name: "pressure",
    //                type: "line",
    //                color: "#0066CC",
    //                point: {
    //                    visible: false
    //                },
    //                //tooltip: {
    //                //    enabled: false,
    //                //    color: 'yellow',
    //                //    // Paints the tooltips of all points whose value is more than 100 in red
    //                //    // Other tooltips remain painted in yellow
    //                //    customizeTooltip: function (pointInfo) {
    //                //        return pointInfo.value > 100 ? { color: 'red' } : {}
    //                //    }
    //                //}
    //            },
    //            {
    //                argumentField: "id",
    //                valueField: "dispense",
    //                name: "dispense",
    //                type: "scatter",
    //                color: "green",
    //                point: {
    //                    symbol: "triangleUp"
    //                }
    //            },
    //            {
    //                argumentField: "id",
    //                valueField: "tipon",
    //                name: "tipOn",
    //                type: "scatter",
    //                color: "magenta",
    //                point: {
    //                    symbol: "cross"
    //                }
    //            },
    //            {
    //                argumentField: "id",
    //                valueField: "tipoff",
    //                name: "tipOff",
    //                type: "scatter",
    //                color: "orange",
    //                point: {
    //                    symbol: "square"
    //                }
    //            },
    //            {
    //                argumentField: "id",
    //                valueField: "aspiration",
    //                name: "aspiration",
    //                type: "scatter",
    //                color: "black",
    //                point: {
    //                    symbol: "circle"
    //                }
    //            },
    //            {
    //                argumentField: "id",
    //                valueField: "init",
    //                name: "init",
    //                type: "line",
    //                color: "red",
    //                point: {
    //                    visible: false
    //                }
    //            }
    //        ],
    //        legend: {
    //            position: "outside", // or "inside"
    //            horizontalAlignment: "right", // or "left" | "right"
    //            verticalAlignment: "top" // or "bottom"
    //        },
    //        title: {
    //            text: "Title.....",
    //            subtitle: {
    //                text: "(subtitle!!!)"
    //            }
    //        },
    //        "export": {
    //            enabled: true
    //        },
    //        tooltip: {
    //            enabled: true,
    //            shared: true,
    //            customizeTooltip: function (arg) {
    //                return {
    //                    //text: "Serie '" + arg.seriesName + "'<br/>" +
    //                    //      "Punto " + arg.argument + "<br/>" +
    //                    //      "Valore " + arg.value
    //                    //html: "<div>prova</div>
    //                    html: "<div>" +
    //                            "<div class='tooltip-header'>" + arg.seriesName + "</div>" +
    //                            "<div class='tooltip-body'>" +
    //                                "<div class='series-name'>Punto</div><div class='value-text'>" + arg.argument + "</div>" +
    //                                "<div class='series-name'>Valore</div><div class='value-text'>" + arg.value + "</div>" +
    //                          "</div></div>"
    //                };
    //            }
    //        }
    //    }).dxChart("instance");
    //});


    //function prova() {
    //    var element = document.getElementById("DIV_IMAGE");
    //    html2canvas(element).then(function (canvas) {
    //        // Export the canvas to its data URI representation
    //        var base64image = canvas.toDataURL("image/png");

    //        // Open the image in a new window
    //        window.open(base64image, "_blank");
    //    });
    //}
</script>

<!-- Script -->
<script type='text/javascript'>
    function screenshot() {
        html2canvas(document.getElementById("chart")).then(function (canvas) {
            //document.body.appendChild(canvas);
            var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
            $.ajax({
                url: '@Url.Action("CreateSnapshotJPG", "LogFiles")',
                type: 'POST',
                data: { ClaimId: 12, Note: 'prova', image64: base64URL, SnapshotType: 'T' },
                success: function (data) {
                    if (data != "") {
                        bootbox.alert(data);
                    } else {
                        //$("#gridSnapshot").dxDataGrid("instance").refresh();
                        DevExpress.ui.notify("Snapshot created", "success");
                    }
                }
            });
        })
    }
</script>


<body class="dx-viewport">

    @Html.Hidden("imageBase64")

    <input type='button' id='but_screenshot' value='Take screenshot' onclick='screenshot();'><br />

    <div class="demo-container" id="DIV_IMAGE">
        <div>TITOLO !!! </div>
        @*<div id="chart"></div>*@
        <div id="chart">
            @(Html.DevExtreme().Chart()
                        .ID("line-chart")
                        .DataSource(new JS("dataSource"))
                        .Palette(VizPalette.Material)
                        .Margin(m => m.Bottom(15))
                        .CommonSeriesSettings(s => s
                                .ArgumentField("id")
                                .HoverMode(ChartSeriesHoverMode.AllSeriesPoints)
                                .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
                            )
                        .ArgumentAxis(a => a
                                .Grid(g => g.Visible(false))
                                .ValueMarginsEnabled(false)
                                //.DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                .AxisDivisionFactor(1)
                                .Label(l => l.CustomizeText(@<text>
                                    function () {
                                        if (typeof dataSource[this.value] !== 'undefined') {
                                            return dataSource[this.value].track;
                                        }
                                        return ' ';
                                    }
                                </text>))
                                    )
                                .Series(s =>
                                {
                                    s.Add().Type(SeriesType.Line).ValueField("pressure").Name("pressure").Color("#0066CC").Point(p => p.Visible(false));
                                    s.Add().Type(SeriesType.Scatter).ValueField("aspiration").Name("aspiration").Color("#A8423F").Point(p => p.Symbol(PointSymbol.Square));
                                    s.Add().Type(SeriesType.Scatter).ValueField("dispense").Name("dispense").Color("green").Point(p => p.Symbol(PointSymbol.TriangleUp));
                                    s.Add().Type(SeriesType.Line).ValueField("init").Name("init").Color("red").Point(p => p.Visible(false));
                                    s.Add().Type(SeriesType.Scatter).ValueField("tipon").Name("Tip on").Color("#3D96AE").Point(p => p.Symbol(PointSymbol.Cross));
                                    s.Add().Type(SeriesType.Scatter).ValueField("tipoff").Name("Tip off").Color("#DA8137").Point(p => p.Symbol(PointSymbol.Polygon));
                                })
                            .OnLegendClick(@<text>
                                function(e) {
                                var series = e.target;
                                if(series.isVisible()) {
                                    series.hide();
                                } else {
                                    series.show();
                                }
                                }
                            </text>)
                                    .Legend(l => l
                                            .VerticalAlignment(VerticalEdge.Top)
                                            .HorizontalAlignment(HorizontalAlignment.Right)
                                    )
                                    .Title(t => t
                                        .Text("Titolo...")
                                        .Subtitle(s => s.Text("SubTitle").Font(f => f.Size(14)))
                                    )
                                    .Crosshair(c => c
                                            .Enabled(true)
                                            .Color("#949494")
                                            .Width(3)
                                            .DashStyle(DashStyle.Dot)
                                            .Label(l => l.Visible(true).BackgroundColor("#949494").Font(f => f.Color("#fff").Size(10)))
                                        )
                                    .Size(s => s.Height(500))
                                    .Tooltip(t => t
                                        .Enabled(true)
                                        .CustomizeTooltip(@<text>
                                            function (arg) {
                                            return { html: "<div>" +
                                                "<div class='tooltip-header'>" + arg.seriesName + "</div>" +
                                                "<div class='tooltip-body'>" +
                                                    "<div class='series-name'>Punto</div><div class='value-text'>" + arg.argument + "</div>" +
                                                    "<div class='series-name'>Valore</div><div class='value-text'>" + arg.value + "</div>" +
                                                    "</div></div>"
                                                };
                                            }
                                        </text>))
                    .ScrollingMode(ChartPointerType.All)
                    .ZoomingMode(ChartPointerType.All)
            )
        </div>
    </div>
</body>

