﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Assays Protocols";
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    #pie {
        height: 25%;
    }

        #pie * {
            margin: 0 auto;
        }
</style>

<div id="main">
    <div id="sfondo"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" width="180px">
                    @*<img src="~/images/ExtraStatsLogo.png" alt="" width="100px" />*@
                </div>
            </div>
        </div>
    </div>
</div>

