﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Contact";
    string myVar = "GERMANY";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@*<button onclick="prova();">PROVA</button>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

    <script type="text/javascript">
        function Email_Change(e) {
            if (e != null && e.value != null && e.value != '') {
                alert(e.value);
            }
            return false;
        }
    </script>*@


@*<script type="text/javascript">
        var impostaValore = function () {
            $("#PROVA").dxSelectBox("instance").option("value", 6);
        }
        var mostraValore = function () {
            var xValue = $("#PROVA").dxSelectBox("instance").option('value');
            var xText = $("#PROVA").dxSelectBox("instance").option('text');
            alert('>' + xValue + '< >' + xText + '<');
        }

        var prova = function () {
            var message = "messaggio di prova...... con timeout!";
            var milliseconds = 3000;
            //growl("The data has been successfully deleted.", 3000);
            //function growl(message, milliseconds) {
                var dialog = bootbox.alert(message);

                setTimeout(function () {
                    dialog.modal('hide');
                }, milliseconds);
            //}
        }
    </script>*@
<br />
<br />
@*<div class="row">
        <div class="col-md-4">
            @(Html.DevExtreme().SelectBox()
                                    .ID("PROVA")
                                    .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetEmailTemplates").Key("EmailTemplateId"))
                                    //.DeferRendering(false)
                                    //.DisplayValue("subject")
                                    .ValueExpr("emailTemplateId")
                                    .OnValueChanged("Email_Change")
                                    .DisplayExpr("subject")
                                    //.Value("4")
                                    .Placeholder("select...")
            )
        </div>
    </div>*@

<br />

@*<button onclick="impostaValore();">SET</button>
    <button onclick="mostraValore();">CHECK</button>


    @{


        var tabs = new[] {
            new { id = 0, text = "user", icon = "user", content = "User tab content" },
            new { id = 1, text = "comment", icon = "comment", content = "Comment tab content" },
            new { id = 2, text = "find", icon = "find", content = "Find tab content" }
        };
    }

    <div id="longtabs">
        <div class="caption">Tabs</div>
        @(Html.DevExtreme().Tabs()
                    .ID("tabs-container")
                    .DataSource(tabs)
                    .SelectedIndex(0)
                    .OnItemClick("tabs_itemClick")
        )
    </div>

    <div id="tab0">1</div>
    <div id="tab1" hidden>2</div>
    <div id="tab2" hidden>3</div>
    <script>
        function tabs_itemClick(e) {
            $("#tab0").hide();
            $("#tab1").hide();
            $("#tab2").hide();
            $("#tab" + e.itemData.id).show();
            $("#tab" + e.itemData.id).html(e.itemData.content);
        }

        //function selectBox_valueChanged(e) {
        //    var tabsInstance = $("#tabs-container").dxTabs("instance");
        //    var tabs = tabsInstance.getDataSource().items();
        //    tabsInstance.option("selectedIndex", e.value);
        //    $(".left-aligned").text(tabs[e.value].content);
        //}
    </script>*@

<style type="text/css">
    .dx-scrollview-content {
        min-height: 380px;
    }

    .label-plannedList {
        font-size: large;
        background-color: dodgerblue;
    }

    .label-doingList {
        font-size: large;
        background-color: green;
    }
</style>

<script type="text/javascript">
    const doingTasks = [{ id: 1, text: 'Prepare 2019 Financial' },
                        { id: 2, text: 'Prepare 2020 Financial' }];

    const plannedTasks = [{ id: 5, text: 'New Brochures'},
        { id: 6, text: '2019 Brochure Designs'},
        { id: 7, text: 'Brochure Design Review'},
        { id: 8, text: 'Website Re-Design Plan'},
        { id: 9, text: 'Rollout of New Website and Marketing Brochures'},
        { id: 10, text: 'Create 2018 Sales Report'},
        { id: 11, text: 'Direct vs Online Sales Comparison Report'},
        { id: 12, text: 'Review 2018 Sales Report and Approve 2019 Plans'},
        { id: 13, text: 'Submit Signed NDA'},
        { id: 14, text: 'Update Revenue Projections'},
        { id: 15, text: 'Review Revenue Projections'}];


    const jsFilterAllStatus = [
        { id: "@Lookup.Refurbish_Status_WAITING", descr: "@Lookup.Refurbish_StatusDeco_WAITING" },
        { id: "@Lookup.Refurbish_Status_PROCESSING", descr: "@Lookup.Refurbish_StatusDeco_PROCESSING" },
        { id: "@Lookup.Refurbish_Status_COMPLETE", descr: "@Lookup.Refurbish_StatusDeco_COMPLETE" },
        { id: "@Lookup.Refurbish_Status_READY", descr: "@Lookup.Refurbish_StatusDeco_READY" },
        { id: "@Lookup.Refurbish_Status_CLOSED", descr: "@Lookup.Refurbish_StatusDeco_CLOSED" },
    ];

    $(() => {
        function createToDoList(selector, tasks, reorder) {
            $(selector).dxList({
                dataSource: tasks,
                repaintChangesOnly: true,
                keyExpr: 'id',
                allowItemDeleting: false,
                itemDeleteMode: 'slideItem',
                itemDragging: {
                    allowReordering: reorder,
                    data: tasks,
                    group: 'tasks',
                    onDragStart(e) {
                        e.itemData = e.fromData[e.fromIndex];
                    },
                    onAdd(e) {
                        if (reorder) {
                            e.toData.splice(e.toIndex, 0, e.itemData);
                        } else {
                            doingTasks.push(e.itemData);
                        }
                        e.component.reload();
                    },
                    onRemove(e) {
                        e.fromData.splice(e.fromIndex, 1);
                        e.component.reload();
                    },
                },
            });
        }

        createToDoList('#plannedList', plannedTasks, true);
        createToDoList('#doingList', doingTasks, false);
        $("#plannedList").dxList("instance").option("allowItemDeleting", true);
    });

    function showInfo() {
        //console.log(JSON.stringify(doingTasks, null, 4));
        //console.log(JSON.stringify(plannedTasks, null, 4));
        var x = $("#plannedList").dxList("instance").option("items");
        for (const element of x) {
            console.log('Planned:' + element.id +  ' / ' + element.text);
        }
        var x = $("#doingList").dxList("instance").option("items");
        for (const element of x) {
            console.log('Doing:' + element.id + ' / ' + element.text);
        }
    }

    function ShowPopupList() {
        var data = new Object();
        data.requestId = 1;
        data.status = '@Lookup.Refurbish_Status_COMPLETE';
        data.arrayStatus = jsFilterAllStatus;

        $("#popup-changeStatus").dxPopup({
            visible: true,
            title: "Change Status",
            width: 500,
            height: 400,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            //toolbarItems: [
            //    {
            //        toolbar: "bottom",
            //        widget: "dxButton",
            //        location: "after",
            //        options: {
            //            text: 'save',
            //            icon: 'save',
            //            type: 'success',
            //            onClick: function () {
            //                doSaveChangeStatus();
            //            }
            //        }
            //    }
            //],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup-changestatus'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 300,
                    showValidationSummary: true,
                    colCount: 1,
                    formData: data,
                    items: [
                        {
                            colSpan: 2,
                            dataField: "status",
                            editorType: "dxList",
                            editorOptions: {
                                dataSource: data.arrayStatus,
                                selectionMode: "single",
                                selecItemsByDefault: true,
                                defaultItemsSelected: false,
                                valueExpr: "id",
                                displayExpr: "descr",
                                onSelectionChanged(e) {
                                    if (e.addedItems[0].id != data.status) {
                                        //doSaveChangeStatus(data.requestId, e.addedItems[0].id);
                                        //var dataGrid = getDataGridInstance();
                                        //dataGrid.cellValue(0, "Status", e.addedItems[0].id);
                                        alert(e.addedItems[0].id);
                                        $("#popup-changeStatus").dxPopup('instance').hide();
                                    }
                                },
                                onContentReady: function (e) {
                                    var component = e.component;
                                    if (component.option("selecItemsByDefault") && !component.option("defaultItemsSelected")) {
                                        var items = data.arrayStatus;
                                        var sItems = [];
                                        for (var j = 0; j < items.length; j++) {
                                            if (data.status == items[j].id) {
                                                sItems.push(items[j]);
                                            }
                                        }
                                        component.option('selectedItems', sItems);
                                        component.option("defaultItemsSelected", true);
                                    }
                                }
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }
    @* function doSaveChangeStatus(requestId, newStatus) {
        //var formData = $('#container-popup-changestatus').dxForm("instance").option('formData');
        //console.log(JSON.stringify(formData, null, 4));
        console.log(requestId + ' ' + newStatus);
        $("#popup-changeStatus").dxPopup('instance').hide();
        if ((formData.RequestType || "") == "") {
            DevExpress.ui.dialog.alert("The Request Type field is required.");
            return false;
        }
        if ((formData.datefrom || "") == "") {
            DevExpress.ui.dialog.alert("The Date From field is required.");
            return false;
        }
        if ((formData.dateto || "") == "") {
            DevExpress.ui.dialog.alert("The Date To field is required.");
            return false;
        }
        if (formData.datefrom > formData.dateto) {
            DevExpress.ui.dialog.alert("Date To must be after Date From.");
            return false;
        }
        formData.ClaimId = @Model.claimId;
        var dataToSend = JSON.stringify(formData);
        $.ajax({
            url: '@Url.Action("CreateExtractDataRequest")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                if ((data.manageError || "") == "") {
                    $("#popup-extractData").dxPopup('instance').hide();
                    DevExpress.ui.notify("Operation successful.");
                    getDataGridInstance().refresh();
                } else {
                    DevExpress.ui.dialog.alert(data.manageError, "Error");
                }
            }
        });
    } *@
</script>



<body class="dx-viewport">
    @(Html.DevExtreme().Button().Text("Show").Type(ButtonType.Danger).OnClick("showInfo"))
    <div class="col-md-12 col-sm-12 well" style="margin-top: 10px;">
        <div class="col-md-6 col-sm-12">
            <div class='col-sm-2'><span class='badge label-plannedList'>Planned List</span></div>
            <div class="col-md-12">
                <div id="plannedList"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class='col-sm-2'><span class='badge label-doingList'>doingTasks List</span></div>
            <div class="col-md-12">
                <div id="doingList"></div>
            </div>
        </div>
    </div>

    <hr />
    @(Html.DevExtreme().Button().Text("Show Popup List").Type(ButtonType.Success).OnClick("ShowPopupList"))
    <div id="popup-changeStatus"></div>
</body>


