﻿@{
    ViewData["Title"] = "Draft4";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

@*<h1>Vista per CHANNEL</h1>*@

<style type="text/css">
    #chart {
        height: 600px;
    }


    /*.tooltip-header {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }

    .tooltip-body {
        width: 170px;
    }

        .tooltip-body .series-name {
            font-weight: normal;
            opacity: 0.6;
            display: inline-block;
            line-height: 1.5;
            padding-right: 10px;
            width: 126px;
        }

        .tooltip-body .value-text {
            display: inline-block;
            line-height: 1.5;
            width: 30px;
        }*/
</style>

<script type="text/javascript">



    var dataSourceChannel1 =
        [
            {
                "Temperature": 39.99,
                "Track1": 0.118733333,
                "Track2": 4.2975,
                "Track3": -13.31624161,
                "Track4": -5.590743243,
                "Track5": 2.311283784,
                "Track6": -4.375704698,
                "Track7": 3.438657718,
                "Track8": 6.410816327,
                "Track9": -4.01585034,
                "Track10": 0.403108108,
                "Track11": -11.805,
                "Track12": -6.298791946
            },
            {
                "Temperature": 41.49,
                "Track1": -1.8752,
                "Track2": -11.68933775,
                "Track3": 4.305629139,
                "Track4": -3.427682119,
                "Track5": -5.706308725,
                "Track6": -4.158543046,
                "Track7": 1.533733333,
                "Track8": -5.22033557,
                "Track9": 1.515827815,
                "Track10": 0.6848,
                "Track11": -1.648933333,
                "Track12": 3.458266667
            },
            {
                "Temperature": 42.99,
                "Track1": -10.959,
                "Track2": -0.0426,
                "Track3": -9.854966443,
                "Track4": -9.735,
                "Track5": -2.031933333,
                "Track6": -2.815436242,
                "Track7": -3.035704698,
                "Track8": -0.090066225,
                "Track9": 0.894697987,
                "Track10": -2.642516556,
                "Track11": 2.842066667,
                "Track12": 0.0844
            },
            {
                "Temperature": 44.49,
                "Track1": -6.529,
                "Track2": -9.179066667,
                "Track3": -17.20446667,
                "Track4": -6.443355705,
                "Track5": -3.146092715,
                "Track6": -18.52086667,
                "Track7": -9.035733333,
                "Track8": -5.19,
                "Track9": -7.2002,
                "Track10": -7.872733333,
                "Track11": -6.597615894,
                "Track12": -9.9144
            },
            {
                "Temperature": 45.99,
                "Track1": -7.4904,
                "Track2": -10.9,
                "Track3": -10.27333333,
                "Track4": -12.97887417,
                "Track5": -3.126912752,
                "Track6": -12.74426667,
                "Track7": 2.084768212,
                "Track8": -7.411409396,
                "Track9": 1.108211921,
                "Track10": 2.922516556,
                "Track11": 0.300463576,
                "Track12": -5.597350993
            },
            {
                "Temperature": 47.49,
                "Track1": -10.39546667,
                "Track2": -8.309271523,
                "Track3": -9.243266667,
                "Track4": -10.33873333,
                "Track5": -0.923443709,
                "Track6": -6.163866667,
                "Track7": 1.853,
                "Track8": 1.554026846,
                "Track9": 4.802466667,
                "Track10": -4.35590604,
                "Track11": -8.7794,
                "Track12": -1.011342282
            },
            {
                "Temperature": 48.99,
                "Track1": -4.754630872,
                "Track2": -9.986466667,
                "Track3": -6.5832,
                "Track4": -0.6808,
                "Track5": -4.028120805,
                "Track6": -3.0496,
                "Track7": -6.586133333,
                "Track8": -4.391710526,
                "Track9": -10.40449664,
                "Track10": -2.935369128,
                "Track11": 5.865202703,
                "Track12": 3.827466667
            },
            {
                "Temperature": 50.48,
                "Track1": 4.218333333,
                "Track2": 11.5886755,
                "Track3": 3.5976,
                "Track4": 7.094866667,
                "Track5": 0.207549669,
                "Track6": 6.072333333,
                "Track7": 3.64,
                "Track8": 1.10738255,
                "Track9": -4.450993377,
                "Track10": -1.1088,
                "Track11": -3.787333333,
                "Track12": -2.8498
            },
            {
                "Temperature": 51.98,
                "Track1": 10.7252,
                "Track2": 15.82852349,
                "Track3": 16.5058,
                "Track4": 26.1638255,
                "Track5": 10.80241611,
                "Track6": 26.04586667,
                "Track7": -2.089328859,
                "Track8": 0.080133333,
                "Track9": -0.377919463,
                "Track10": 3.01615894,
                "Track11": 6.373708609,
                "Track12": 5.989466667
            },
            {
                "Temperature": 53.48,
                "Track1": 17.63013333,
                "Track2": 36.95805369,
                "Track3": 31.05926667,
                "Track4": 34.68886667,
                "Track5": -10.81304636,
                "Track6": 32.89186667,
                "Track7": -7.910533333,
                "Track8": 2.310333333,
                "Track9": -5.217,
                "Track10": -6.358333333,
                "Track11": -8.152533333,
                "Track12": -8.283907285
            },
            {
                "Temperature": 54.98,
                "Track1": 18.3958,
                "Track2": 37.92746667,
                "Track3": 42.82913333,
                "Track4": 44.21826667,
                "Track5": -2.676845638,
                "Track6": 52.13626667,
                "Track7": 0.706754967,
                "Track8": -3.681466667,
                "Track9": 0.076357616,
                "Track10": 6.698333333,
                "Track11": 1.072582781,
                "Track12": 2.1694
            },
            {
                "Temperature": 56.48,
                "Track1": 29.59473333,
                "Track2": 42.06496689,
                "Track3": 49.4776,
                "Track4": 55.12886667,
                "Track5": -4.939866667,
                "Track6": 51.84086093,
                "Track7": -3.645666667,
                "Track8": -0.6728,
                "Track9": 3.205234899,
                "Track10": -2.923933333,
                "Track11": -5.354228188,
                "Track12": -2.532348993
            },
            {
                "Temperature": 57.98,
                "Track1": 25.15907285,
                "Track2": 50.32456376,
                "Track3": 50.49298013,
                "Track4": 53.631,
                "Track5": 2.871333333,
                "Track6": 62.6238255,
                "Track7": 5.0606,
                "Track8": -1.532933333,
                "Track9": -0.690866667,
                "Track10": -0.108,
                "Track11": 0.072866667,
                "Track12": -1.894768212
            },
            {
                "Temperature": 59.49,
                "Track1": 33.44793333,
                "Track2": 56.11326667,
                "Track3": 64.85174497,
                "Track4": 63.72853333,
                "Track5": -0.438733333,
                "Track6": 65.86953642,
                "Track7": 2.0056,
                "Track8": -0.1186,
                "Track9": -0.084933333,
                "Track10": 4.624666667,
                "Track11": 3.943333333,
                "Track12": 1.432080537
            },
            {
                "Temperature": 60.99,
                "Track1": 22.12326667,
                "Track2": 47.74430464,
                "Track3": 60.5222,
                "Track4": 65.00366667,
                "Track5": -5.085933333,
                "Track6": 74.4716,
                "Track7": -6.273466667,
                "Track8": -5.485533333,
                "Track9": -5.4478,
                "Track10": -8.869733333,
                "Track11": -7.6468,
                "Track12": -3.012733333
            },
            {
                "Temperature": 62.49,
                "Track1": 31.8924,
                "Track2": 54.16778523,
                "Track3": 65.6074,
                "Track4": 75.26813333,
                "Track5": 4.446241611,
                "Track6": 79.30214765,
                "Track7": 3.9802,
                "Track8": 6.910066667,
                "Track9": 0.951933333,
                "Track10": -1.106133333,
                "Track11": 2.652582781,
                "Track12": -5.196754967
            },
            {
                "Temperature": 63.99,
                "Track1": 52.79573333,
                "Track2": 85.83430464,
                "Track3": 99.066,
                "Track4": 101.7417219,
                "Track5": -6.113774834,
                "Track6": 114.5368667,
                "Track7": -5.869530201,
                "Track8": -3.1104,
                "Track9": 4.752066667,
                "Track10": 4.847933333,
                "Track11": -0.298783784,
                "Track12": 9.064630872
            },
            {
                "Temperature": 65.49,
                "Track1": 89.8842,
                "Track2": 131.4769333,
                "Track3": 157.0875333,
                "Track4": 163.1737333,
                "Track5": -0.4228,
                "Track6": 175.8116556,
                "Track7": 4.996357616,
                "Track8": 1.918410596,
                "Track9": -1.381333333,
                "Track10": 1.275167785,
                "Track11": -2.53,
                "Track12": -2.191333333
            },
            {
                "Temperature": 66.99,
                "Track1": 135.7204667,
                "Track2": 198.3134,
                "Track3": 217.6624503,
                "Track4": 221.118,
                "Track5": 4.700933333,
                "Track6": 242.9357718,
                "Track7": 1.5196,
                "Track8": -1.440469799,
                "Track9": 4.698866667,
                "Track10": 1.027133333,
                "Track11": 5.096266667,
                "Track12": 1.6748
            },
            {
                "Temperature": 68.49,
                "Track1": 181.1301333,
                "Track2": 224.1850667,
                "Track3": 250.8718121,
                "Track4": 254.8828667,
                "Track5": 0.376688742,
                "Track6": 271.9343046,
                "Track7": -2.419463087,
                "Track8": -2.003509934,
                "Track9": 1.7512,
                "Track10": 2.9478,
                "Track11": -3.1936,
                "Track12": 0.206
            },
            {
                "Temperature": 69.99,
                "Track1": 114.6878,
                "Track2": 163.265,
                "Track3": 165.2214667,
                "Track4": 168.7216,
                "Track5": -6.446711409,
                "Track6": 181.8397315,
                "Track7": 3.673333333,
                "Track8": 0.5314,
                "Track9": -3.5438,
                "Track10": -0.885,
                "Track11": 0.530933333,
                "Track12": 1.507266667
            },
            {
                "Temperature": 71.49,
                "Track1": 43.58726667,
                "Track2": 52.27666667,
                "Track3": 75.85682119,
                "Track4": 68.00406667,
                "Track5": 3.536423841,
                "Track6": 76.1692,
                "Track7": -2.838476821,
                "Track8": 1.143533333,
                "Track9": -4.033733333,
                "Track10": 0.116866667,
                "Track11": -4.337218543,
                "Track12": -4.376092715
            },
            {
                "Temperature": 72.99,
                "Track1": 0.6926,
                "Track2": 12.8302,
                "Track3": 10.67624161,
                "Track4": 14.00813333,
                "Track5": -1.063066667,
                "Track6": 16.83146667,
                "Track7": 3.278120805,
                "Track8": 0.186533333,
                "Track9": 5.096133333,
                "Track10": 6.2654,
                "Track11": 8.433466667,
                "Track12": 5.208724832
            },
            {
                "Temperature": 74.49,
                "Track1": 7.256933333,
                "Track2": 4.514866667,
                "Track3": 5.728,
                "Track4": 6.022466667,
                "Track5": -5.8164,
                "Track6": 7.7974,
                "Track7": -5.013684211,
                "Track8": -3.993133333,
                "Track9": -1.7288,
                "Track10": -1.6004,
                "Track11": -2.859261745,
                "Track12": -2.885733333
            },
            {
                "Temperature": 75.99,
                "Track1": 4.357333333,
                "Track2": -0.026933333,
                "Track3": 2.668741722,
                "Track4": 2.994733333,
                "Track5": 5.895733333,
                "Track6": -1.697466667,
                "Track7": -1.817315436,
                "Track8": 1.519133333,
                "Track9": -4.914466667,
                "Track10": -1.8524,
                "Track11": -3.0564,
                "Track12": 1.525066667
            },
            {
                "Temperature": 77.49,
                "Track1": -1.6714,
                "Track2": 4.655165563,
                "Track3": -1.742416107,
                "Track4": 0.359133333,
                "Track5": -4.318389262,
                "Track6": 6.7472,
                "Track7": 3.487718121,
                "Track8": -0.956510067,
                "Track9": 3.339533333,
                "Track10": -1.922649007,
                "Track11": -1.030728477,
                "Track12": -5.277218543
            }
        ];

    var dataSourceChannel2 =
        [
            {
                "Temperature": 39.99,
                "Track1": -2.4352,
                "Track2": -4.318783784,
                "Track3": -5.401744966,
                "Track4": -1.181148649,
                "Track5": -0.623040541,
                "Track6": 2.403691275,
                "Track7": -4.702885906,
                "Track8": 0.267687075,
                "Track9": -2.689931973,
                "Track10": -17.99925676,
                "Track11": 2.294391892,
                "Track12": -6.849731544
            },
            {
                "Temperature": 41.49,
                "Track1": 0.424733333,
                "Track2": -5.096754967,
                "Track3": -0.283642384,
                "Track4": -3.866688742,
                "Track5": 0.276711409,
                "Track6": -4.290794702,
                "Track7": -8.884533333,
                "Track8": -8.952080537,
                "Track9": -14.03900662,
                "Track10": 1.529666667,
                "Track11": -14.751,
                "Track12": -3.324266667
            },
            {
                "Temperature": 42.99,
                "Track1": -15.64793333,
                "Track2": 0.864933333,
                "Track3": 1.739798658,
                "Track4": -2.074333333,
                "Track5": -8.900066667,
                "Track6": 3.460067114,
                "Track7": 1.250268456,
                "Track8": -5.067350993,
                "Track9": 4.864899329,
                "Track10": -2.651986755,
                "Track11": -3.564133333,
                "Track12": -4.58
            },
            {
                "Temperature": 44.49,
                "Track1": 5.768266667,
                "Track2": 4.3264,
                "Track3": -7.256,
                "Track4": -4.323557047,
                "Track5": -4.42384106,
                "Track6": -8.1106,
                "Track7": -7.031266667,
                "Track8": -4.239533333,
                "Track9": -8.306933333,
                "Track10": -8.486933333,
                "Track11": -1.15986755,
                "Track12": -0.7958
            },
            {
                "Temperature": 45.99,
                "Track1": -1.529866667,
                "Track2": -13.47543624,
                "Track3": 1.3262,
                "Track4": -0.820662252,
                "Track5": -1.98409396,
                "Track6": -8.2142,
                "Track7": -3.305430464,
                "Track8": -2.19590604,
                "Track9": -5.652384106,
                "Track10": -5.312781457,
                "Track11": -2.827615894,
                "Track12": -18.4618543
            },
            {
                "Temperature": 47.49,
                "Track1": 2.0108,
                "Track2": 4.58384106,
                "Track3": -6.8772,
                "Track4": -5.483133333,
                "Track5": 3.491192053,
                "Track6": -1.679133333,
                "Track7": -7.0208,
                "Track8": -11.89201342,
                "Track9": -7.613266667,
                "Track10": 5.293892617,
                "Track11": -14.8258,
                "Track12": 3.779597315
            },
            {
                "Temperature": 48.99,
                "Track1": -10.50657718,
                "Track2": 1.818533333,
                "Track3": -7.358,
                "Track4": -4.758466667,
                "Track5": -7.86295302,
                "Track6": -5.793,
                "Track7": -14.61206667,
                "Track8": -3.928157895,
                "Track9": -14.88536913,
                "Track10": -21.04120805,
                "Track11": -7.664391892,
                "Track12": -10.3792
            },
            {
                "Temperature": 50.48,
                "Track1": -9.965733333,
                "Track2": -4.741390728,
                "Track3": 3.823733333,
                "Track4": -0.9294,
                "Track5": -2.940860927,
                "Track6": -0.499133333,
                "Track7": -7.224866667,
                "Track8": -10.64355705,
                "Track9": -11.63172185,
                "Track10": -13.2312,
                "Track11": -4.765533333,
                "Track12": -6.712933333
            },
            {
                "Temperature": 51.98,
                "Track1": -1.001666667,
                "Track2": -6.925100671,
                "Track3": -10.22733333,
                "Track4": -10.46892617,
                "Track5": -10.85355705,
                "Track6": -3.987466667,
                "Track7": -12.15671141,
                "Track8": -3.9216,
                "Track9": -8.937651007,
                "Track10": -1.834834437,
                "Track11": -14.93211921,
                "Track12": -11.8646
            },
            {
                "Temperature": 53.48,
                "Track1": 1.784066667,
                "Track2": -1.257718121,
                "Track3": 0.739866667,
                "Track4": 6.610333333,
                "Track5": 5.366556291,
                "Track6": 5.508,
                "Track7": -2.677933333,
                "Track8": -11.13406667,
                "Track9": 0.4642,
                "Track10": -5.4044,
                "Track11": -1.289533333,
                "Track12": -6.985364238
            },
            {
                "Temperature": 54.98,
                "Track1": -4.779,
                "Track2": -15.4866,
                "Track3": -8.578933333,
                "Track4": -8.462666667,
                "Track5": -11.03825503,
                "Track6": -12.76593333,
                "Track7": -4.817549669,
                "Track8": -8.9326,
                "Track9": -7.349271523,
                "Track10": -7.3296,
                "Track11": -11.06099338,
                "Track12": -5.7262
            },
            {
                "Temperature": 56.48,
                "Track1": -11.06366667,
                "Track2": 6.161788079,
                "Track3": -1.752666667,
                "Track4": -4.959133333,
                "Track5": -5.367466667,
                "Track6": -6.645695364,
                "Track7": -8.8336,
                "Track8": -10.76673333,
                "Track9": -6.118322148,
                "Track10": -2.658266667,
                "Track11": -5.046174497,
                "Track12": -0.737315436
            },
            {
                "Temperature": 57.98,
                "Track1": 3.463708609,
                "Track2": -2.894362416,
                "Track3": -2.73013245,
                "Track4": 7.182533333,
                "Track5": 4.0596,
                "Track6": 3.656711409,
                "Track7": -9.7458,
                "Track8": 2.0138,
                "Track9": -11.90033333,
                "Track10": -7.6562,
                "Track11": -8.568733333,
                "Track12": -1.085761589
            },
            {
                "Temperature": 59.49,
                "Track1": -8.576866667,
                "Track2": -1.034133333,
                "Track3": -5.339127517,
                "Track4": -17.82926667,
                "Track5": -9.634333333,
                "Track6": -5.60192053,
                "Track7": -6.8558,
                "Track8": -16.40013333,
                "Track9": -2.6306,
                "Track10": -3.9542,
                "Track11": -8.980866667,
                "Track12": -0.373892617
            },
            {
                "Temperature": 60.99,
                "Track1": 5.765466667,
                "Track2": -8.198675497,
                "Track3": -2.498866667,
                "Track4": -4.9318,
                "Track5": -3.3706,
                "Track6": -6.570066667,
                "Track7": 1.388866667,
                "Track8": 1.657333333,
                "Track9": -7.5662,
                "Track10": -1.641933333,
                "Track11": 7.703733333,
                "Track12": -14.04273333
            },
            {
                "Temperature": 62.49,
                "Track1": -12.3288,
                "Track2": -7.346979866,
                "Track3": -10.4372,
                "Track4": 1.065666667,
                "Track5": -9.760402685,
                "Track6": -8.189932886,
                "Track7": -8.2474,
                "Track8": -3.384733333,
                "Track9": 7.5046,
                "Track10": -1.826466667,
                "Track11": -10.85569536,
                "Track12": 6.857483444
            },
            {
                "Temperature": 63.99,
                "Track1": -0.3922,
                "Track2": -4.41589404,
                "Track3": -9.817733333,
                "Track4": -12.65562914,
                "Track5": -8.453576159,
                "Track6": -2.0062,
                "Track7": 7.883422819,
                "Track8": 11.8856,
                "Track9": 1.317,
                "Track10": 4.7062,
                "Track11": 10.07858108,
                "Track12": 3.982214765
            },
            {
                "Temperature": 65.49,
                "Track1": -7.672733333,
                "Track2": -12.27066667,
                "Track3": -1.590533333,
                "Track4": -3.716533333,
                "Track5": 10.28793333,
                "Track6": -6.12615894,
                "Track7": 25.70430464,
                "Track8": 5.844701987,
                "Track9": 22.46126667,
                "Track10": 11.72127517,
                "Track11": 23.80786667,
                "Track12": 14.81846667
            },
            {
                "Temperature": 66.99,
                "Track1": -11.95146667,
                "Track2": -0.3272,
                "Track3": -2.403311258,
                "Track4": -5.060266667,
                "Track5": -10.6104,
                "Track6": -11.52228188,
                "Track7": 13.1018,
                "Track8": 23.02758389,
                "Track9": 13.29106667,
                "Track10": 19.4474,
                "Track11": 7.8196,
                "Track12": 19.79346667
            },
            {
                "Temperature": 68.49,
                "Track1": -3.171933333,
                "Track2": -8.522133333,
                "Track3": -2.375973154,
                "Track4": -3.665866667,
                "Track5": -11.19754967,
                "Track6": 1.27410596,
                "Track7": 9.711744966,
                "Track8": -2.115430464,
                "Track9": 6.9066,
                "Track10": 4.0948,
                "Track11": 5.46,
                "Track12": -3.775933333
            },
            {
                "Temperature": 69.99,
                "Track1": -0.615733333,
                "Track2": 2.774666667,
                "Track3": -11.93506667,
                "Track4": -4.797,
                "Track5": -0.535973154,
                "Track6": -9.080671141,
                "Track7": -16.80126667,
                "Track8": 1.7246,
                "Track9": -6.917266667,
                "Track10": -6.34,
                "Track11": -6.182933333,
                "Track12": 0.162866667
            },
            {
                "Temperature": 71.49,
                "Track1": -1.809733333,
                "Track2": -6.904,
                "Track3": 1.217615894,
                "Track4": -6.267266667,
                "Track5": -11.00695364,
                "Track6": -3.731533333,
                "Track7": 0.489337748,
                "Track8": -8.719733333,
                "Track9": 1.047333333,
                "Track10": -10.91646667,
                "Track11": -9.010331126,
                "Track12": -13.34019868
            },
            {
                "Temperature": 72.99,
                "Track1": -7.013133333,
                "Track2": -5.397466667,
                "Track3": -14.85060403,
                "Track4": -8.546666667,
                "Track5": -0.946466667,
                "Track6": -10.6142,
                "Track7": 5.466040268,
                "Track8": -7.3348,
                "Track9": -12.15053333,
                "Track10": 5.439333333,
                "Track11": 3.1402,
                "Track12": -4.201879195
            },
            {
                "Temperature": 74.49,
                "Track1": -7.794266667,
                "Track2": -14.04046667,
                "Track3": -8.573666667,
                "Track4": -0.151666667,
                "Track5": -5.3134,
                "Track6": -3.315266667,
                "Track7": -27.58447368,
                "Track8": 1.848133333,
                "Track9": -8.1446,
                "Track10": -6.790933333,
                "Track11": -2.7,
                "Track12": -7.444733333
            },
            {
                "Temperature": 75.99,
                "Track1": 0.832466667,
                "Track2": 0.595933333,
                "Track3": 4.208874172,
                "Track4": -7.721133333,
                "Track5": -15.21966667,
                "Track6": -5.2372,
                "Track7": 6.228389262,
                "Track8": -9.658,
                "Track9": -5.114133333,
                "Track10": -5.733933333,
                "Track11": -18.6162,
                "Track12": -0.4628
            },
            {
                "Temperature": 77.49,
                "Track1": -4.691333333,
                "Track2": -10.77370861,
                "Track3": -3.551946309,
                "Track4": 0.181466667,
                "Track5": -2.52442953,
                "Track6": -6.628866667,
                "Track7": -8.842214765,
                "Track8": 5.052147651,
                "Track9": 3.198933333,
                "Track10": -11.62211921,
                "Track11": 6.015231788,
                "Track12": -0.964635762
            }
        ];

    var dataSourceChannel3 =
        [
            {
                "Temperature": 39.99,
                "Track1": 10.89793333,
                "Track2": 21.405,
                "Track3": 19.79765101,
                "Track4": 16.88472973,
                "Track5": 6.734121622,
                "Track6": 11.61590604,
                "Track7": 12.13805369,
                "Track8": -0.005714286,
                "Track9": 2.142517007,
                "Track10": -9.015608108,
                "Track11": 18.42648649,
                "Track12": 5.710134228
            },
            {
                "Temperature": 41.49,
                "Track1": 18.94426667,
                "Track2": 30.53278146,
                "Track3": 23.4415894,
                "Track4": 21.31649007,
                "Track5": 27.16986577,
                "Track6": 34.07880795,
                "Track7": 35.10993333,
                "Track8": 36.62187919,
                "Track9": 50.76562914,
                "Track10": 20.064,
                "Track11": 28.52293333,
                "Track12": 21.14293333
            },
            {
                "Temperature": 42.99,
                "Track1": 37.18046667,
                "Track2": 50.15513333,
                "Track3": 31.96677852,
                "Track4": 41.85286667,
                "Track5": 32.0452,
                "Track6": 50.24872483,
                "Track7": 43.34248322,
                "Track8": 34.28768212,
                "Track9": 52.89785235,
                "Track10": 47.13748344,
                "Track11": 56.6968,
                "Track12": 54.75346667
            },
            {
                "Temperature": 44.49,
                "Track1": 39.67966667,
                "Track2": 40.98586667,
                "Track3": 55.7952,
                "Track4": 46.90812081,
                "Track5": 46.33165563,
                "Track6": 45.17046667,
                "Track7": 51.79866667,
                "Track8": 48.5476,
                "Track9": 35.08506667,
                "Track10": 35.68073333,
                "Track11": 43.45933775,
                "Track12": 29.9754
            },
            {
                "Temperature": 45.99,
                "Track1": 33.37,
                "Track2": 36.27677852,
                "Track3": 37.69213333,
                "Track4": 38.66470199,
                "Track5": 36.07174497,
                "Track6": 44.29953333,
                "Track7": 31.12165563,
                "Track8": 28.80885906,
                "Track9": 44.4715894,
                "Track10": 30.61397351,
                "Track11": 31.87635762,
                "Track12": 31.92198675
            },
            {
                "Temperature": 47.49,
                "Track1": 34.22853333,
                "Track2": 53.25523179,
                "Track3": 43.42466667,
                "Track4": 41.47853333,
                "Track5": 36.29430464,
                "Track6": 41.4056,
                "Track7": 46.24953333,
                "Track8": 37.43221477,
                "Track9": 36.13126667,
                "Track10": 46.11416107,
                "Track11": 45.28826667,
                "Track12": 40.52832215
            },
            {
                "Temperature": 48.99,
                "Track1": 27.1038255,
                "Track2": 23.7944,
                "Track3": 22.57773333,
                "Track4": 29.6774,
                "Track5": 32.95208054,
                "Track6": 22.91646667,
                "Track7": 22.99126667,
                "Track8": 14.53276316,
                "Track9": 39.99932886,
                "Track10": 17.58362416,
                "Track11": 22.62290541,
                "Track12": 17.00406667
            },
            {
                "Temperature": 50.48,
                "Track1": 14.8628,
                "Track2": 22.69172185,
                "Track3": 25.87546667,
                "Track4": 20.35553333,
                "Track5": 9.80602649,
                "Track6": 17.01893333,
                "Track7": 28.75826667,
                "Track8": 22.04255034,
                "Track9": 24.52927152,
                "Track10": 24.9698,
                "Track11": 21.52553333,
                "Track12": 21.8754
            },
            {
                "Temperature": 51.98,
                "Track1": 26.05126667,
                "Track2": 22.46959732,
                "Track3": 13.62653333,
                "Track4": 24.48852349,
                "Track5": 23.05852349,
                "Track6": 38.4358,
                "Track7": 28.64275168,
                "Track8": 38.09313333,
                "Track9": 33.76020134,
                "Track10": 34.56,
                "Track11": 22.8102649,
                "Track12": 31.16593333
            },
            {
                "Temperature": 53.48,
                "Track1": 24.60846667,
                "Track2": 45.89677852,
                "Track3": 41.139,
                "Track4": 31.6658,
                "Track5": 43.05662252,
                "Track6": 38.1836,
                "Track7": 32.6072,
                "Track8": 24.0554,
                "Track9": 25.899,
                "Track10": 12.69793333,
                "Track11": 41.15326667,
                "Track12": 30.65913907
            },
            {
                "Temperature": 54.98,
                "Track1": 29.14353333,
                "Track2": 29.48893333,
                "Track3": 31.01,
                "Track4": 37.26853333,
                "Track5": 15.64395973,
                "Track6": 31.0482,
                "Track7": 37.52821192,
                "Track8": 32.2096,
                "Track9": 39.14331126,
                "Track10": 33.64966667,
                "Track11": 30.94801325,
                "Track12": 14.27266667
            },
            {
                "Temperature": 56.48,
                "Track1": 34.15373333,
                "Track2": 50.67039735,
                "Track3": 30.38506667,
                "Track4": 38.2042,
                "Track5": 38.63866667,
                "Track6": 36.62139073,
                "Track7": 61.27633333,
                "Track8": 31.08333333,
                "Track9": 30.50147651,
                "Track10": 34.3786,
                "Track11": 39.32067114,
                "Track12": 48.83208054
            },
            {
                "Temperature": 57.98,
                "Track1": 27.16900662,
                "Track2": 25.22912752,
                "Track3": 30.31701987,
                "Track4": 33.84966667,
                "Track5": 23.95926667,
                "Track6": 34.47040268,
                "Track7": 1.1902,
                "Track8": 42.5558,
                "Track9": 41.6286,
                "Track10": 22.79373333,
                "Track11": 28.93793333,
                "Track12": 23.28397351
            },
            {
                "Temperature": 59.49,
                "Track1": 29.54693333,
                "Track2": 40.0244,
                "Track3": 37.13516779,
                "Track4": 31.46126667,
                "Track5": 36.1864,
                "Track6": 36.98205298,
                "Track7": 34.60086667,
                "Track8": 28.5202,
                "Track9": 40.83026667,
                "Track10": 28.20733333,
                "Track11": 28.3588,
                "Track12": 26.46489933
            },
            {
                "Temperature": 60.99,
                "Track1": 29.9532,
                "Track2": 29.79807947,
                "Track3": 28.86386667,
                "Track4": 35.25353333,
                "Track5": 32.75746667,
                "Track6": 31.859,
                "Track7": 35.94293333,
                "Track8": 28.57453333,
                "Track9": 31.539,
                "Track10": 36.03506667,
                "Track11": 32.8074,
                "Track12": 31.06546667
            },
            {
                "Temperature": 62.49,
                "Track1": 23.57153333,
                "Track2": 31.30496644,
                "Track3": 33.7154,
                "Track4": 34.3822,
                "Track5": 27.84228188,
                "Track6": 24.15355705,
                "Track7": 27.93786667,
                "Track8": 1.503666667,
                "Track9": 9.616333333,
                "Track10": 28.47306667,
                "Track11": 33.2684106,
                "Track12": 20.92238411
            },
            {
                "Temperature": 63.99,
                "Track1": 33.892,
                "Track2": 42.98430464,
                "Track3": 30.9416,
                "Track4": 33.86748344,
                "Track5": 33.34821192,
                "Track6": 40.16186667,
                "Track7": 39.18,
                "Track8": 50.23553333,
                "Track9": 56.5242,
                "Track10": -8.686,
                "Track11": 18.55195946,
                "Track12": 40.30315436
            },
            {
                "Temperature": 65.49,
                "Track1": -1.082333333,
                "Track2": 33.94366667,
                "Track3": 42.75386667,
                "Track4": 40.64313333,
                "Track5": 16.4876,
                "Track6": 38.18993377,
                "Track7": 50.55410596,
                "Track8": 23.07662252,
                "Track9": 40.4066,
                "Track10": 76.42845638,
                "Track11": 38.37953333,
                "Track12": 22.12693333
            },
            {
                "Temperature": 66.99,
                "Track1": 24.9552,
                "Track2": 34.30126667,
                "Track3": 47.78099338,
                "Track4": 47.45646667,
                "Track5": 27.69613333,
                "Track6": 49.51107383,
                "Track7": 42.10553333,
                "Track8": 38.27785235,
                "Track9": 44.63033333,
                "Track10": 26.1156,
                "Track11": 47.22246667,
                "Track12": 43.75433333
            },
            {
                "Temperature": 68.49,
                "Track1": 43.8314,
                "Track2": 52.33226667,
                "Track3": 43.48181208,
                "Track4": 44.8588,
                "Track5": 49.34490066,
                "Track6": 40.46403974,
                "Track7": 27.77832215,
                "Track8": 39.2118543,
                "Track9": 42.3954,
                "Track10": 40.5606,
                "Track11": 40.8316,
                "Track12": 27.4832
            },
            {
                "Temperature": 69.99,
                "Track1": 25.07613333,
                "Track2": 33.6362,
                "Track3": 28.5066,
                "Track4": 54.31966667,
                "Track5": 34.61355705,
                "Track6": 48.36114094,
                "Track7": 41.37926667,
                "Track8": 33.512,
                "Track9": 39.7388,
                "Track10": 42.78493333,
                "Track11": 39.0844,
                "Track12": 43.8248
            },
            {
                "Temperature": 71.49,
                "Track1": 44.375,
                "Track2": 48.21086667,
                "Track3": 52.62298013,
                "Track4": 44.1696,
                "Track5": 44.95470199,
                "Track6": 40.42873333,
                "Track7": 46.63357616,
                "Track8": 43.86213333,
                "Track9": 41.9972,
                "Track10": 39.93826667,
                "Track11": 44.98827815,
                "Track12": 31.00529801
            },
            {
                "Temperature": 72.99,
                "Track1": 34.102,
                "Track2": 41.46773333,
                "Track3": 43.83221477,
                "Track4": 40.56173333,
                "Track5": 41.84853333,
                "Track6": 40.75633333,
                "Track7": 47.94463087,
                "Track8": 43.32393333,
                "Track9": 42.1924,
                "Track10": 16.62246667,
                "Track11": 28.03853333,
                "Track12": 29.90342282
            },
            {
                "Temperature": 74.49,
                "Track1": 43.87486667,
                "Track2": 61.0176,
                "Track3": 51.00553333,
                "Track4": 57.25653333,
                "Track5": 39.38326667,
                "Track6": 59.76546667,
                "Track7": 67.56289474,
                "Track8": 55.40953333,
                "Track9": 53.16646667,
                "Track10": 66.5676,
                "Track11": 54.46543624,
                "Track12": 52.93746667
            },
            {
                "Temperature": 75.99,
                "Track1": 43.6922,
                "Track2": 42.04106667,
                "Track3": 47.56615894,
                "Track4": 42.4564,
                "Track5": 36.72113333,
                "Track6": 40.23233333,
                "Track7": 26.32234899,
                "Track8": 38.04293333,
                "Track9": 50.18553333,
                "Track10": 39.35293333,
                "Track11": 39.65006667,
                "Track12": 31.45026667
            },
            {
                "Temperature": 77.49,
                "Track1": 45.59826667,
                "Track2": 58.7705298,
                "Track3": 47.55496644,
                "Track4": 57.9858,
                "Track5": 56.52765101,
                "Track6": 61.4886,
                "Track7": 54.82442953,
                "Track8": 59.26590604,
                "Track9": 62.52006667,
                "Track10": 53.14662252,
                "Track11": 56.15966887,
                "Track12": 50.67304636
            }
        ];
    var dataSourceChannel4 =
        [
            {
                "Temperature": 39.99,
                "Track1": -22.1254,
                "Track2": -19.33452703,
                "Track3": -15.98053691,
                "Track4": -17.83864865,
                "Track5": -20.45445946,
                "Track6": -18.73912752,
                "Track7": -15.84765101,
                "Track8": -13.42829932,
                "Track9": -26.51843537,
                "Track10": -21.70587838,
                "Track11": -13.96209459,
                "Track12": -8.582550336
            },
            {
                "Temperature": 41.49,
                "Track1": -12.901,
                "Track2": -24.96,
                "Track3": -18.50900662,
                "Track4": -13.6610596,
                "Track5": -14.47228188,
                "Track6": -17.17086093,
                "Track7": -20.86593333,
                "Track8": -24.80536913,
                "Track9": -14.10609272,
                "Track10": -11.67053333,
                "Track11": -15.95766667,
                "Track12": -21.51033333
            },
            {
                "Temperature": 42.99,
                "Track1": -20.4116,
                "Track2": -17.67726667,
                "Track3": -19.91516779,
                "Track4": -23.68846667,
                "Track5": -31.15733333,
                "Track6": -22.02738255,
                "Track7": -22.9695302,
                "Track8": -17.64529801,
                "Track9": -29.7842953,
                "Track10": -26.29238411,
                "Track11": -26.4138,
                "Track12": -21.49953333
            },
            {
                "Temperature": 44.49,
                "Track1": -12.9288,
                "Track2": -15.7448,
                "Track3": -21.88846667,
                "Track4": -19.65013423,
                "Track5": -17.19337748,
                "Track6": -20.07026667,
                "Track7": -18.31646667,
                "Track8": -17.17386667,
                "Track9": -18.0208,
                "Track10": -14.14906667,
                "Track11": -18.33582781,
                "Track12": -13.8326
            },
            {
                "Temperature": 45.99,
                "Track1": -20.58266667,
                "Track2": -29.50651007,
                "Track3": -25.9836,
                "Track4": -23.52211921,
                "Track5": -13.41590604,
                "Track6": -23.11553333,
                "Track7": -24.33503311,
                "Track8": -24.32731544,
                "Track9": -13.38827815,
                "Track10": -22.83092715,
                "Track11": -23.55821192,
                "Track12": -20.27907285
            },
            {
                "Temperature": 47.49,
                "Track1": -21.77833333,
                "Track2": -18.89437086,
                "Track3": -23.381,
                "Track4": -20.14153333,
                "Track5": -27.54119205,
                "Track6": -27.1166,
                "Track7": -12.06126667,
                "Track8": -22.03308725,
                "Track9": -21.4332,
                "Track10": -19.57651007,
                "Track11": -23.85673333,
                "Track12": -14.72100671
            },
            {
                "Temperature": 48.99,
                "Track1": -16.14704698,
                "Track2": -14.4486,
                "Track3": -11.4306,
                "Track4": -16.72313333,
                "Track5": -11.25348993,
                "Track6": -22.0336,
                "Track7": -23.0462,
                "Track8": -17.89572368,
                "Track9": -25.63812081,
                "Track10": -22.46604027,
                "Track11": -23.36716216,
                "Track12": -16.99566667
            },
            {
                "Temperature": 50.48,
                "Track1": -23.56013333,
                "Track2": -29.27039735,
                "Track3": -33.26546667,
                "Track4": -14.98026667,
                "Track5": -29.56178808,
                "Track6": -20.80693333,
                "Track7": -25.73473333,
                "Track8": -25.01973154,
                "Track9": -22.40913907,
                "Track10": -23.8024,
                "Track11": -23.4696,
                "Track12": -25.97753333
            },
            {
                "Temperature": 51.98,
                "Track1": -15.05493333,
                "Track2": -18.15389262,
                "Track3": -16.41206667,
                "Track4": -29.10181208,
                "Track5": -15.36268456,
                "Track6": -16.68686667,
                "Track7": -21.95362416,
                "Track8": -19.508,
                "Track9": -18.85718121,
                "Track10": -15.55907285,
                "Track11": -15.41390728,
                "Track12": -19.30353333
            },
            {
                "Temperature": 53.48,
                "Track1": -14.80093333,
                "Track2": -11.98966443,
                "Track3": -12.15786667,
                "Track4": -7.493066667,
                "Track5": -23.66470199,
                "Track6": -15.97246667,
                "Track7": -10.7384,
                "Track8": -15.76253333,
                "Track9": -15.5856,
                "Track10": -18.10166667,
                "Track11": -22.05026667,
                "Track12": -12.66827815
            },
            {
                "Temperature": 54.98,
                "Track1": -7.611733333,
                "Track2": -19.27006667,
                "Track3": -17.8542,
                "Track4": -14.76966667,
                "Track5": -12.79268456,
                "Track6": -25.2116,
                "Track7": -21.4784106,
                "Track8": -24.34046667,
                "Track9": -26.79821192,
                "Track10": -18.6406,
                "Track11": -16.98900662,
                "Track12": -23.93966667
            },
            {
                "Temperature": 56.48,
                "Track1": -16.21366667,
                "Track2": -17.21509934,
                "Track3": -15.25826667,
                "Track4": -21.01233333,
                "Track5": -24.64046667,
                "Track6": -21.77370861,
                "Track7": -18.0378,
                "Track8": -7.975933333,
                "Track9": -9.828926174,
                "Track10": -11.27993333,
                "Track11": -17.09812081,
                "Track12": -9.74557047
            },
            {
                "Temperature": 57.98,
                "Track1": -14.03284768,
                "Track2": -18.63932886,
                "Track3": -22.74913907,
                "Track4": -16.9698,
                "Track5": -13.0128,
                "Track6": -18.11986577,
                "Track7": -9.559466667,
                "Track8": -20.64566667,
                "Track9": -24.0862,
                "Track10": -20.7564,
                "Track11": -16.84026667,
                "Track12": -25.96735099
            },
            {
                "Temperature": 59.49,
                "Track1": -11.9062,
                "Track2": -12.40713333,
                "Track3": -17.04067114,
                "Track4": -10.25646667,
                "Track5": -19.11106667,
                "Track6": -11.52523179,
                "Track7": -27.8364,
                "Track8": -20.93826667,
                "Track9": -11.51173333,
                "Track10": -11.71526667,
                "Track11": -23.06193333,
                "Track12": -7.336778523
            },
            {
                "Temperature": 60.99,
                "Track1": -12.83413333,
                "Track2": -16.68695364,
                "Track3": -13.78353333,
                "Track4": -18.4906,
                "Track5": -14.66493333,
                "Track6": -14.06106667,
                "Track7": -16.3712,
                "Track8": -4.8688,
                "Track9": -9.071333333,
                "Track10": -22.59013333,
                "Track11": -11.12546667,
                "Track12": -11.67773333
            },
            {
                "Temperature": 62.49,
                "Track1": -15.2368,
                "Track2": -16.76167785,
                "Track3": -14.65273333,
                "Track4": -17.41233333,
                "Track5": -17.01281879,
                "Track6": -18.67644295,
                "Track7": -14.57366667,
                "Track8": -23.12006667,
                "Track9": -23.66486667,
                "Track10": -16.00546667,
                "Track11": -11.92562914,
                "Track12": -15.20390728
            },
            {
                "Temperature": 63.99,
                "Track1": -16.69133333,
                "Track2": -5.453046358,
                "Track3": -6.380866667,
                "Track4": -11.24622517,
                "Track5": -2.401324503,
                "Track6": -19.12353333,
                "Track7": -17.09879195,
                "Track8": -14.66033333,
                "Track9": -10.538,
                "Track10": -14.242,
                "Track11": -19.15236486,
                "Track12": -12.0166443
            },
            {
                "Temperature": 65.49,
                "Track1": -22.8432,
                "Track2": -20.42106667,
                "Track3": -17.667,
                "Track4": -16.42526667,
                "Track5": -22.17073333,
                "Track6": -6.377284768,
                "Track7": -3.930463576,
                "Track8": -10.92543046,
                "Track9": -13.63966667,
                "Track10": -13.45704698,
                "Track11": -16.2136,
                "Track12": -9.9602
            },
            {
                "Temperature": 66.99,
                "Track1": -3.933533333,
                "Track2": -5.887,
                "Track3": -11.89821192,
                "Track4": -8.372333333,
                "Track5": -13.0758,
                "Track6": -14.36342282,
                "Track7": -20.58473333,
                "Track8": -14.80765101,
                "Track9": -15.19166667,
                "Track10": -1.7576,
                "Track11": -13.85326667,
                "Track12": -10.45533333
            },
            {
                "Temperature": 68.49,
                "Track1": -14.7372,
                "Track2": -21.478,
                "Track3": -10.87174497,
                "Track4": -10.47293333,
                "Track5": -14.68443709,
                "Track6": -13.42880795,
                "Track7": -11.43302013,
                "Track8": -16.43384106,
                "Track9": -19.19746667,
                "Track10": -10.45966667,
                "Track11": -12.96753333,
                "Track12": -17.88473333
            },
            {
                "Temperature": 69.99,
                "Track1": -7.331066667,
                "Track2": -12.24726667,
                "Track3": -19.42673333,
                "Track4": -13.35513333,
                "Track5": -16.31308725,
                "Track6": -12.0342953,
                "Track7": -17.87813333,
                "Track8": -12.27793333,
                "Track9": -5.602733333,
                "Track10": -16.5412,
                "Track11": -18.86733333,
                "Track12": -16.89226667
            },
            {
                "Temperature": 71.49,
                "Track1": -7.128333333,
                "Track2": 0.5818,
                "Track3": -7.435033113,
                "Track4": -5.759866667,
                "Track5": -6.18589404,
                "Track6": -9.511333333,
                "Track7": -1.321258278,
                "Track8": -10.40466667,
                "Track9": -9.952333333,
                "Track10": -11.778,
                "Track11": -2.403178808,
                "Track12": 1.042980132
            },
            {
                "Temperature": 72.99,
                "Track1": -10.0796,
                "Track2": -18.64366667,
                "Track3": -10.80389262,
                "Track4": -7.4296,
                "Track5": -19.8086,
                "Track6": -16.95553333,
                "Track7": -16.95744966,
                "Track8": -18.92093333,
                "Track9": -18.64146667,
                "Track10": -10.74173333,
                "Track11": -20.87693333,
                "Track12": -16.22530201
            },
            {
                "Temperature": 74.49,
                "Track1": -15.90353333,
                "Track2": -4.6188,
                "Track3": -5.279133333,
                "Track4": -10.5384,
                "Track5": -5.0516,
                "Track6": -8.439,
                "Track7": -7.876315789,
                "Track8": -6.343,
                "Track9": -0.6452,
                "Track10": -14.08186667,
                "Track11": -7.980805369,
                "Track12": -10.89386667
            },
            {
                "Temperature": 75.99,
                "Track1": 0.636933333,
                "Track2": -11.82906667,
                "Track3": -6.849536424,
                "Track4": -6.443066667,
                "Track5": -13.90266667,
                "Track6": -6.754133333,
                "Track7": -11.97060403,
                "Track8": -0.216733333,
                "Track9": -13.35173333,
                "Track10": -3.085133333,
                "Track11": -2.6834,
                "Track12": -10.00606667
            },
            {
                "Temperature": 77.49,
                "Track1": -10.08166667,
                "Track2": 2.550264901,
                "Track3": -8.35295302,
                "Track4": -0.087466667,
                "Track5": -1.067516779,
                "Track6": -0.895533333,
                "Track7": -6.991610738,
                "Track8": -11.53221477,
                "Track9": 2.8794,
                "Track10": -4.423178808,
                "Track11": -7.371721854,
                "Track12": -5.237284768
            }
        ];
    var dataSourceChannel5 = dataSourceChannel1;
    var dataSourceChannel6 = dataSourceChannel2;

  $(function () {
        $(document).ready(function () {
            var i = 0;
            var name = "dataSourceChannel";
            for (i = 1; i <= 6; i++) {
                caricaGrafici("Chart" + i, eval(name + i), i);
            }
        });
    });

    function caricaGrafici(id, ds, idPos) {
        var chart = $("#" + id).dxChart({
            palette: "material",
            dataSource: ds,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "Temperature",
                point: {
                    visible: false
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            margin: {
                bottom: 20
            },
            series: [
                { valueField: "Track1", name: "Track1" },
                { valueField: "Track2", name: "Track2" },
                { valueField: "Track3", name: "Track3" },
                { valueField: "Track4", name: "Track4" },
                { valueField: "Track5", name: "Track5" },
                { valueField: "Track6", name: "Track6" },
                { valueField: "Track7", name: "Track7" },
                { valueField: "Track8", name: "Track8" },
                { valueField: "Track9", name: "Track9" },
                { valueField: "Track10", name: "Track10" },
                { valueField: "Track11", name: "Track11" },
                { valueField: "Track12", name: "Track12" }
            ],
            tooltip: {
                enabled: true
            },
            legend: {
                verticalAlignment: "top",
                horizontalAlignment: "right"
            },
            "export": {
                enabled: false
            },
            argumentAxis: {
                label: {
                    format: {
                        type: "decimal"
                    }
                },
                allowDecimals: false,
                axisDivisionFactor: 60
            },
            title: "*** CH " + idPos + " ***"
        }).dxChart("instance");
    }

</script>

<body class="dx-viewport">
    <div class="row">
        <div class="col-md-6"><div id="Chart1"></div></div>
        <div class="col-md-6"><div id="Chart2"></div></div>
        <div class="col-md-6"><div id="Chart3"></div></div>
        <div class="col-md-6"><div id="Chart4"></div></div>
        <div class="col-md-6"><div id="Chart5"></div></div>
        <div class="col-md-6"><div id="Chart6"></div></div>
        <div class="col-md-6"><div id="Chart7"></div></div>
        <div class="col-md-6"><div id="Chart8"></div></div>
        <div class="col-md-6"><div id="Chart9"></div></div>
        <div class="col-md-6"><div id="Chart10"></div></div>
        <div class="col-md-6"><div id="Chart11"></div></div>
        <div class="col-md-6"><div id="Chart12"></div></div>
    </div>
</body>

