﻿@{
    ViewData["Title"] = "Draft4";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@

@*<h1>Vista per TRACK</h1>*@


<style type="text/css">
    #chart {
        height: 600px;
    }
</style>

<script type="text/javascript">


    var dataSourceTrack =[
        { "Temperature": 39.99, "Ch1": -42.07261745, "Ch2": -14.59718121, "Ch3": -18.92557047, "Ch4": -2.330067114, "Ch5": -28.46107383, "Ch6": -8.170939597 },
        { "Temperature": 41.48, "Ch1": -32.80006623, "Ch2": -20.21688742, "Ch3": -0.59794702, "Ch4": -4.869801325, "Ch5": -16.63596026, "Ch6": -25.30390728 },
        { "Temperature": 42.99, "Ch1": -37.95549669, "Ch2": -19.23721854, "Ch3": -22.26410596, "Ch4": -5.813642384, "Ch5": -35.67900662, "Ch6": -26.19589404 },
        { "Temperature": 44.5, "Ch1": -34.8477027, "Ch2": -12.7627027, "Ch3": -7.086554054, "Ch4": -10.01675676, "Ch5": -24.73209459, "Ch6": -37.7652027 },
        { "Temperature": 45.98, "Ch1": -25.26736842, "Ch2": -13.22085526, "Ch3": -11.06026316, "Ch4": -18.28164474, "Ch5": -33.11157895, "Ch6": -34.13828947 },
        { "Temperature": 47.5, "Ch1": -24.14899329, "Ch2": -12.04946309, "Ch3": -22.91557047, "Ch4": -22.39295302, "Ch5": -26.40194631, "Ch6": -38.45832215 },
        { "Temperature": 48.99, "Ch1": -22.43682119, "Ch2": -10.37549669, "Ch3": -5.47397351, "Ch4": -31.58635762, "Ch5": -36.31284768, "Ch6": -39.77258278 },
        { "Temperature": 50.5, "Ch1": -11.34546667, "Ch2": -6.320466667, "Ch3": -9.174266667, "Ch4": -43.22666667, "Ch5": -29.84726667, "Ch6": -37.85253333 },
        { "Temperature": 52, "Ch1": -1.455133333, "Ch2": -6.049266667, "Ch3": -18.95193333, "Ch4": -43.3074, "Ch5": -16.76913333, "Ch6": -34.33026667 },
        { "Temperature": 53.5, "Ch1": 8.108, "Ch2": 2.393333333, "Ch3": -20.6414, "Ch4": -49.98153333, "Ch5": -12.12253333, "Ch6": -29.80013333 },
        { "Temperature": 55, "Ch1": 10.19326667, "Ch2": 3.530933333, "Ch3": -0.659533333, "Ch4": -27.90446667, "Ch5": 3.518, "Ch6": -23.56146667 },
        { "Temperature": 56.5, "Ch1": 11.77946667, "Ch2": 2.664866667, "Ch3": 0.602, "Ch4": -14.83813333, "Ch5": 30.74453333, "Ch6": -0.5998 },
        { "Temperature": 58, "Ch1": 29.4594, "Ch2": 8.346733333, "Ch3": 0.193266667, "Ch4": 8.767066667, "Ch5": 41.90273333, "Ch6": 12.37713333 },
        { "Temperature": 59.5, "Ch1": 50.52583893, "Ch2": 10.1604698, "Ch3": 1.636375839, "Ch4": 25.48362416, "Ch5": 63.86375839, "Ch6": 58.15818792 },
        { "Temperature": 60.99, "Ch1": 80.62410596, "Ch2": 19.57874172, "Ch3": 6.428278146, "Ch4": 41.11218543, "Ch5": 104.8229139, "Ch6": 123.8334437 },
        { "Temperature": 62.5, "Ch1": 130.4903356, "Ch2": 26.38067114, "Ch3": 14.34604027, "Ch4": 50.55919463, "Ch5": 100.2294631, "Ch6": 173.9705369 },
        { "Temperature": 63.99, "Ch1": 180.3440667, "Ch2": 55.59346667, "Ch3": 58.02306667, "Ch4": 72.98746667, "Ch5": 124.5926667, "Ch6": 178.0376667 },
        { "Temperature": 65.49, "Ch1": 313.3328667, "Ch2": 97.5816, "Ch3": 90.544, "Ch4": 115.6382667, "Ch5": 152.6642, "Ch6": 109.6937333 },
        { "Temperature": 66.99, "Ch1": 487.3925333, "Ch2": 122.8925333, "Ch3": 72.2094, "Ch4": 133.5804, "Ch5": 173.7876667, "Ch6": 67.64746667 },
        { "Temperature": 68.49, "Ch1": 309.8622517, "Ch2": 74.30907285, "Ch3": 43.2307947, "Ch4": 101.3711258, "Ch5": 109.1390066, "Ch6": 24.15788079 },
        { "Temperature": 70, "Ch1": 84.42885906, "Ch2": 27.63416107, "Ch3": 18.42838926, "Ch4": 45.35691275, "Ch5": 35.13234899, "Ch6": 8.181879195 },
        { "Temperature": 71.49, "Ch1": 34.61218543, "Ch2": 0.673708609, "Ch3": 10.59642384, "Ch4": 14.5886755, "Ch5": 3.344172185, "Ch6": 2.853774834 },
        { "Temperature": 73, "Ch1": 18.07436242, "Ch2": 2.933154362, "Ch3": -5.715302013, "Ch4": 4.628389262, "Ch5": -2.418724832, "Ch6": -3.35704698 },
        { "Temperature": 74.49, "Ch1": 11.92533333, "Ch2": -11.5412, "Ch3": 10.81286667, "Ch4": 5.740066667, "Ch5": -5.7178, "Ch6": 0.836866667 },
        { "Temperature": 75.99, "Ch1": 10.23553333, "Ch2": -4.099333333, "Ch3": -8.5604, "Ch4": -5.220933333, "Ch5": 0.6356, "Ch6": 7.553 },
        { "Temperature": 77.49, "Ch1": 25.84393333, "Ch2": -3.664266667, "Ch3": 4.886, "Ch4": 6.068733333, "Ch5": 2.1424, "Ch6": -8.982066667 }
    ];


  $(function () {
        $(document).ready(function () {
            var i = 0;
            var name = "dataSourceTrack";
            for (i = 1; i <= 12; i++) {
                caricaGrafici("Chart" + i, eval(name), i);
            }
        });
    });

    function caricaGrafici(id, ds, idPos) {
        var chart = $("#" + id).dxChart({
            palette: "material",
            dataSource: ds,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "Temperature",
                point: {
                    visible: false
                }
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            margin: {
                bottom: 20
            },
            series: [
                { valueField: "Ch1", name: "Ch1" },
                { valueField: "Ch2", name: "Ch2" },
                { valueField: "Ch3", name: "Ch3" },
                { valueField: "Ch4", name: "Ch4" },
                { valueField: "Ch5", name: "Ch5" },
                { valueField: "Ch6", name: "Ch6" }
            ],
            tooltip: {
                enabled: true
            },
            legend: {
                verticalAlignment: "top",
                horizontalAlignment: "right"
            },
            "export": {
                enabled: false
            },
            argumentAxis: {
                label: {
                    format: {
                        type: "decimal"
                    }
                },
                allowDecimals: false,
                axisDivisionFactor: 60,
                valueMarginsEnabled: false
            },
            point: {
                visible: false
            },
            title: "*** TRACK " + idPos + " ***"
        }).dxChart("instance");
    }
</script>

<body class="dx-viewport">

    <div class="row">
        <div class="col-md-6"><div id="Chart1"></div></div>
        <div class="col-md-6"><div id="Chart2"></div></div>
        <div class="col-md-6"><div id="Chart3"></div></div>
        <div class="col-md-6"><div id="Chart4"></div></div>
        <div class="col-md-6"><div id="Chart5"></div></div>
        <div class="col-md-6"><div id="Chart6"></div></div>
        <div class="col-md-6"><div id="Chart7"></div></div>
        <div class="col-md-6"><div id="Chart8"></div></div>
        <div class="col-md-6"><div id="Chart9"></div></div>
        <div class="col-md-6"><div id="Chart10"></div></div>
        <div class="col-md-6"><div id="Chart11"></div></div>
        <div class="col-md-6"><div id="Chart12"></div></div>
    </div>
</body>

