﻿@{
    ViewData["Title"] = "Draft7 - Tree GRID";
}

<style type="text/css">
    .form > h4 {
        margin-bottom: 20px;
    }

    .form > div,
    #treeview {
        display: inline-block;
        vertical-align: top;
    }

    .selected-container {
        padding: 20px;
        margin-left: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        font-size: 115%;
        font-weight: bold;
    }

    #selected-employees {
        margin-top: 20px;
    }

    .dx-list-item-content {
        padding-left: 0;
    }

    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
        box-sizing: border-box;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        width: 24%;
        margin-top: 10px;
        margin-right: 9px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .options-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .editor-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

        .editor-container > * {
            width: 100%;
        }

    .option:last-of-type {
        margin-right: 0;
    }

    .nomeRuolo {
        font-weight: bold;
    }

    .descRuolo {
        font-size: xx-small;
        word-wrap: break-word;
        max-width: 100%;
        white-space: normal;
    }
</style>

<script type="text/javascript">
    $(() => {

        const treeView = $('#treeview').dxTreeView({
            items: employees,
            width: 500,
            //height: 400,
            showCheckBoxesMode: 'normal',
            itemTemplate(item) {
                //return `<div>${item.fullName} (${item.id})</div>`;
                var ret = `<div class="nomeRuolo">${item.fullName}</div>`;
                ret += '<div class="descRuolo">note da specificare</div>';
                return ret;
            },
        }).dxTreeView('instance');
    });
    function doSave() {
        var flattened = [];
        var allNodes = $('#treeview').dxTreeView("instance").getNodes();        
        flatten(allNodes, flattened);
        var selected = flattened.reduce((prev, obj) => {
            if (obj.selected)
                prev.push(obj.key + ' ' + obj.itemData.fullName + '(' + obj.itemData.id + ')');
            return prev;
        }, []);
        alert(JSON.stringify(selected, null, 4));
    }
    function flatten(data, outputArray) {
        data.forEach(function (element) {
            //console.log(element);
            if (Array.isArray(element.items) && element.items.length > 0) {
                flatten(element.items, outputArray);
            } else {
                outputArray.push(element);
            }
        });
    }
    function doExpand() {
        var allNodes = $('#treeview').dxTreeView("instance").getNodes();       
        if (allNodes[0].expanded) {
            $('#treeview').dxTreeView("collapseAll");
        } else {
            $('#treeview').dxTreeView("expandAll");
        }
    }
</script>

<html>
<body class="dx-viewport">
    <div class="demo-container">
        <div class="form">
            <h4>Employees</h4>
            <div id="treeview"></div>
        </div>
        <br />
        @(Html.DevExtreme().Button().Text("save").OnClick("doSave"))
        @(Html.DevExtreme().Button().Text("show/hide").OnClick("doExpand"))
    </div>
</body>
</html>

<script>
    const employees = [{
        id: 'R1000',
        fullName: 'INSTRUMENTS',
        //expanded: true,
        items: [{ id: 'R1', fullName: 'ELITe InGenius', selected: true },
        { id: 'R2', fullName: 'ELITe BeGenius' },
        { id: 'R3', fullName: 'Assays Notification' },
        { id: 'R81', fullName: 'Log Files Administrator' },
        { id: 'R4', fullName: 'Upload Assays List' },
        { id: 'R5', fullName: 'Upload Data Main' },
        { id: 'R6', fullName: 'Upload Data Main', selected: true },
        { id: 'R7', fullName: 'Letters Assays' },
        { id: 'R338', fullName: 'REFURBISH', items: [
            { id: 'R8', fullName: 'Refurbish Administrator' },
            { id: 'R82', fullName: 'Refurbish Finance' },
            { id: 'R83', fullName: 'Refurbish Center' },
            { id: 'R84', fullName: 'Refurbish ReadOnly' }]
        }
        ],
    }, {
        id: 'R1001',
        fullName: 'QUOTATION',
        items: [{ id: 'R9', fullName: 'Quotation' },
        { id: 'R10', fullName: 'Quotation Approval' },
        { id: 'R11', fullName: 'Quotation Manager' },
        { id: 'R12', fullName: 'Quotation BackOffice' }
        ]
    }, {
        id: 'R1002',
        fullName: 'TRAINING',
        items: [{ id: 'R13', fullName: 'Training BackOffice' },
        { id: 'R14', fullName: 'Training Notification' }
        ],
    }, {
        id: 'R1003',
        fullName: 'DOCUMENTAL REPOSITORY ',
        items: [{ id: 'R15', fullName: 'Documental Repository' },
        { id: 'R16', fullName: 'QuotationDocumental Repository BackOffice' }
        ],
    }, {
        id: 'R1004',
        fullName: 'SUPPORT',
        items: [{ id: 'R17', fullName: 'Support' },
        { id: 'R18', fullName: 'Support Administrator ', selected: true },
        { id: 'R19', fullName: 'Support Configuration ' },
        { id: 'R20', fullName: 'Support Viewer ' },
        { id: 'R21', fullName: 'Third Party Assay Protocols - Support Administrator ' },
        { id: 'R22', fullName: 'Third Party Assay Protocols - Orders Department ' },
        { id: 'R23', fullName: 'Third Party Assay Protocols - Research and Development ' },
        { id: 'R24', fullName: 'Customer Complaint Analyst ' },
        ]
    }, {
        id: 'R1005',
        fullName: 'WARRANTY',
        items: [{ id: 'R25', fullName: 'Warranty' },
        { id: 'R26', fullName: 'Warranty Administrator' },
        { id: 'R27', fullName: 'Warranty BackOffice' }
        ],
    }, {
        id: 'R29',
        fullName: 'QUALITY - Key Performance Indicators',
        selected: true
    }, {
        id: 'R1007',
        fullName: 'ADMIN',
        items: [{ id: 'R30', fullName: 'Calendar Administrator' },
        { id: 'R31', fullName: 'Admin' }
        ],
    }];



    //const employees = [{
    //    id: 100,
    //    fullName: 'John Heart XXX',
    //    prefix: 'Dr.',
    //    position: 'CEO',
    //    expanded: true,
    //    items: [{
    //        id: 102,
    //        fullName: 'Samantha Bright',
    //        prefix: 'Dr.',
    //        position: 'COO',
    //        expanded: true,
    //        items: [{
    //            id: 103,
    //            fullName: 'Kevin Carter',
    //            prefix: 'Mr.',
    //            position: 'Shipping Manager',
    //        }, {
    //            id: 104,
    //            fullName: 'Victor Norris',
    //            prefix: 'Mr.',
    //            selected: true,
    //            position: 'Shipping Assistant',
    //        }]
    //    }]
    //}, {
    //    id: 1,
    //    fullName: 'John Heart',
    //    prefix: 'Dr.',
    //    position: 'CEO',
    //    expanded: true,
    //    items: [{
    //        id: 2,
    //        fullName: 'Samantha Bright',
    //        prefix: 'Dr.',
    //        position: 'COO',
    //        expanded: true,
    //        items: [{
    //            id: 3,
    //            fullName: 'Kevin Carter',
    //            prefix: 'Mr.',
    //            position: 'Shipping Manager',
    //        }, {
    //            id: 14,
    //            fullName: 'Victor Norris',
    //            prefix: 'Mr.',
    //            selected: true,
    //            position: 'Shipping Assistant',
    //        }],
    //    }, {
    //        id: 4,
    //        fullName: 'Brett Wade',
    //        prefix: 'Mr.',
    //        position: 'IT Manager',
    //        expanded: true,
    //        items: [{
    //            id: 5,
    //            fullName: 'Amelia Harper',
    //            prefix: 'Mrs.',
    //            position: 'Network Admin',
    //        }, {
    //            id: 6,
    //            fullName: 'Wally Hobbs',
    //            prefix: 'Mr.',
    //            position: 'Programmer',
    //        }, {
    //            id: 7,
    //            fullName: 'Brad Jameson',
    //            prefix: 'Mr.',
    //            position: 'Programmer',
    //        }, {
    //            id: 8,
    //            fullName: 'Violet Bailey',
    //            prefix: 'Ms.',
    //            position: 'Jr Graphic Designer',
    //        }],
    //    }, {
    //        id: 9,
    //        fullName: 'Barb Banks',
    //        prefix: 'Mrs.',
    //        position: 'Support Manager',
    //        expanded: true,
    //        items: [{
    //            id: 10,
    //            fullName: 'Kelly Rodriguez',
    //            prefix: 'Ms.',
    //            position: 'Support Assistant',
    //        }, {
    //            id: 11,
    //            fullName: 'James Anderson',
    //            prefix: 'Mr.',
    //            position: 'Support Assistant',
    //        }],
    //    }],
    //}];

</script>