﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Dashboard";
}

@*<div class="h1 label-danger">Prototipo Dashboard restyling 1</div>*@

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
    }

    /*Chart*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .option {
        margin-top: 10px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }

    .active {
        background-color: #4CAF50 !important;
    }

    .panel {
        min-width: 130px;
    }

    .panel-text {
        height: 75px;
        max-height: 75px;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .tool-container {
        margin: 0px;
    }

    .TitoloSezione {
        padding: 5px;
        /*font-weight: bold;*/
        font-size: 20px;
        cursor: pointer;
    }

    .cmdExpand {
        float: right;
    }

    #dashboard {
        min-height: 500px;
    }
</style>

<script type="text/javascript">
    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
    function goDownloadPrivacy() {
        $("#dashboard").append('<input type="hidden" name="fileName" value="Privacy Statement.pdf" /> ');
        $("#dashboard").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserManual">
    <div id="main">
        <div id="sfondo"></div>

        <section id="Logo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                        </div>
                    </div>
                    <div class="col-md-8 text-right h3" style="margin-top:5px;">
                        @(Html.DevExtreme().Button()
                                                        .Icon(Url.Content("~/images/IFO.png"))
                                                        .Hint("User Manual")
                                                        .Text("User Manual")
                                                        .Type(ButtonType.Normal)
                                                        .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                                        .Icon(Url.Content("~/images/privacy.png"))
                                                        .Hint("Privacy Statement")
                                                        .Text("Privacy Statement")
                                                        .Type(ButtonType.Normal)
                                                        .OnClick("goDownloadPrivacy")
                        )
                    </div>
                </div>
                <br />
            </div>
        </section>
        <div class="container">
            <section id="ELITe InGenius">
                <div class="row tool-container">
                    <div class="panel panel-default">
                        <div class="panel-heading TitoloSezione" onclick="$('#divEliteInGenius').toggle();">
                            <img src="~/images/InGeniusLogo.png" alt="ELITe InGenius" class="img-rounded" height="40px">&nbsp;ELITe InGenius
                            <span class="cmdExpand fa fa-plus" title="Expanded" />
                        </div>
                        <div class="panel-body" style="padding-bottom: 0px;" id="divEliteInGenius" hidden>
                            <div class="row col-md-6 col-sm-8 tool-container">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center" style="padding: 5px; font-weight:bold">Instrument Data</div>
                                    <div class="panel-body" style="padding: 10px 5px 0px 5px;">
                                        <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToDailyExecutions();" style="cursor: pointer;">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Daily Executions</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToAssaysUtilization();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Assays Utilization</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToAssaysProtocols();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Assays Protocols</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-6 col-sm-8 tool-container">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center" style="padding: 5px; font-weight:bold">Quotation</div>
                                    <div class="panel-body" style="padding: 10px 5px 0px 5px;">
                                        <div class="col-md-4 col-xs-12 col-sm-12" onclick="goToQuotationList();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                                        <i class="fa fa-quora fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Quotation</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12" onclick="alert('Quotation Approval');" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Quotation Approval</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12 col-sm-6 tool-container">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center" style="padding: 5px; font-weight:bold">Tools</div>
                                    <div class="panel-body" style="padding: 10px 5px 0px 5px;">
                                        <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToInstallBase();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x" style="color: darkolivegreen;"></i>
                                                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Data Import</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToLogFiles();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x" style="color: sandybrown;"></i>
                                                        <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Log Files</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToDataMining();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>

                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Data Mining</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToExtractionsRnD();" style="cursor: pointer">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">
                                                    <span class="fa-stack fa-3x">
                                                        <i class="fa fa-circle fa-stack-2x" style="color: royalblue;"></i>
                                                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                                <div class="panel-body panel-text">
                                                    <h4>Workflow Analysis</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

            <section id="Documental Repository">
                <div class="row tool-container">
                    <div class="panel panel-default">
                        <div class="panel-heading TitoloSezione" onclick="$('#divDocumentalRepository').toggle();" >
                            <img src="~/images/WebRepository.png" alt="Document & Video Repository" class="img-rounded" height="40px">&nbsp;Document & Video Repository
                            <span class="cmdExpand fa fa-plus" title="Expanded"/>
                        </div>
                        <div class="panel-body" style="padding-bottom: 0px;" id="divDocumentalRepository" hidden>
                            <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToDocumentalRepository();" style="cursor: pointer">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                            <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-text">
                                        <h4>Documental Repository</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToManageDocumentalRepository();" style="cursor: pointer">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                            <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-text">
                                        <h4>Manage Documental Repository</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="Training">
                <div class="row tool-container">
                    <div class="panel panel-default">
                        <div class="panel-heading TitoloSezione" onclick="$('#divTraining').toggle();">
                            <img src="~/images/Training.png" alt="Training" class="img-rounded" height="40px">&nbsp;Training
                            <span class="cmdExpand fa fa-plus" title="Expanded" />
                        </div>
                        <div class="panel-body" style="padding-bottom: 0px;" id="divTraining" hidden>
                            <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToTraining();" ;" style="cursor: pointer">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-circle fa-stack-2x" style="color: darkmagenta;"></i>
                                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-text">
                                        <h4>Training</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 col-md-2" onclick="goTrainingParticipantList();" ;" style="cursor: pointer">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-text">
                                        <h4>List of Attendees</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 col-md-2" onclick="goTrainingSummary();" ;" style="cursor: pointer">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-circle fa-stack-2x" style="color: #668cff;"></i>
                                            <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="panel-body panel-text">
                                        <h4>Summary</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
    <br />
    <br />
}