﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Dashboard";
}

<div class="h1 label-danger">Prototipo Apertura VIDEO</div>

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
    }

    /*Chart*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .option {
        margin-top: 10px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }

    .active {
        background-color: #4CAF50 !important;
    }

    .panel {
        min-width: 130px;
    }

    .panel-text {
        height: 75px;
        max-height: 75px;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .tool-container {
        margin: 0px;
    }

    .TitoloSezione {
        padding: 5px;
        /*font-weight: bold;*/
        font-size: 20px;
    }

    .cmdExpand {
        float: right;
    }

    #dashboard {
        min-height: 500px;
    }
</style>

<form id="dashboard" style="padding-left: 100px;">
    @*<div id="main">
            <video width="60%" controls>
                <source src="https://vimeo.com/showcase/ingenius-consumables" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>

        <a href="https://vimeo.com/showcase/ingenius-consumables" target="_blank">VIDEO</a>*@

    @*@ViewData["provaURL"]*@

    <hr />
    <h2>Embed code di un video caricato senza password</h2>
    <div class="row">
        <iframe src="https://player.vimeo.com/video/421458006" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>

    <hr />
    <h2>Embed code di un video protetto con password</h2>
    <div class="row">
        @*<div style="padding:56.25% 0 0 0;position:relative;">*@
        <div>
            <iframe src="https://player.vimeo.com/video/416282709" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        @*<script src="https://player.vimeo.com/api/player.js"></script>*@
    </div>

    <hr />
    <h2>Embed a showcase</h2>
    <div class="row" style="border: 1px solid red;">
        <video width="60%" controls>
            <source src="https://www.vimeo.com/showcase/ingenius-consumables" type="video/mp4">
            Your browser does not support HTML video.
        </video>
        @*<iframe src="https://www.vimeo.com/showcase/ingenius-consumables" w7idth="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>*@
    </div>


</form>