﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Web Respository";
}

<div class="h1 label-danger">Prototipo Documental Repository</div>

<script type="text/javascript">
    $(function () {

        $(function () {
            $("#gridContainer2").dxDataGrid({
                dataSource: employees,
                showBorders: true,
                export: {
                    enabled: true,
                    fileName: "Employees"
                },
            });
        });
        //$("#gridContainer").dxDataGrid({
        //    dataSource: employees,
        //    keyExpr: "ID",
        //    showBorders: true,
        //    allowColumnResizing: true,
        //    columnResizingMode: "nextColumn",
        //    columnMinWidth: 50,
        //    columnAutoWidth: true,
        //    showRowLines: true,
        //    hoverStateEnabled: true,
        //    rowAlternationEnabled: true,
        //    //height: 400,
        //    filterRow: { visible: true, applyFilter: "auto" },
        //    selection: { mode: "multiple" },
        //    columns: [{ dataField: "Code", caption: "Code", width: 120 },
        //              { dataField: "Revision", width: 70 },
        //              { dataField: "Title", width: "25%" },
        //              { dataField: "Note", width: "25%" }
        //    ],
        //    paging: {
        //        pageSize: 5
        //    },
        //    pager: {
        //        showPageSizeSelector: true,
        //        allowedPageSizes: [5, 10, 20],
        //        showInfo: true
        //    },
        //    masterDetail: {
        //        enabled: true,
        //        template: function (container, options) {
        //            var currentEmployeeData = options.data;

        //            $("<div>")
        //                .addClass("master-detail-caption")
        //                .text(currentEmployeeData.Code + " " + currentEmployeeData.Revision + " " + currentEmployeeData.Title + " - Resources:")
        //                .appendTo(container);

        //            $("<div>")
        //                .dxDataGrid({
        //                    columnAutoWidth: true,
        //                    showBorders: true,
        //                    columns: ["Subject", {
        //                        dataField: "StartDate",
        //                        dataType: "date"
        //                    }, {
        //                            dataField: "DueDate",
        //                            dataType: "date"
        //                        }, "Priority", {
        //                            caption: "Completed",
        //                            dataType: "boolean",
        //                            calculateCellValue: function (rowData) {
        //                                return rowData.Status == "Completed";
        //                            }
        //                        }],
        //                    dataSource: new DevExpress.data.DataSource({
        //                        store: new DevExpress.data.ArrayStore({
        //                            key: "ID",
        //                            data: tasks
        //                        }),
        //                        filter: ["EmployeeID", "=", options.key]
        //                    })
        //                }).appendTo(container);
        //        }
        //    }
        //});
        var drawer = $("#drawer").dxDrawer({
            opened: true,
            height: 400,
            closeOnOutsideClick: true,
            openedStateMode: 'shrink',
            revealMode: 'slide',
            position: 'left',
            template: function () {
                var $tree = $("<div>").width(250).addClass("panel-tree");
                return $tree.dxTreeView({
                    dataSource: sections,
                    displayExpr: 'text',
                    itemsExpr: 'items',
                    expandedExpr: 'expanded',
                    height: 400,
                    searchEnabled: true,
                    onItemClick: function (e) {
                        alert(e.itemData.id);
                    }
                });
            }
        }).dxDrawer("instance");

        $("#toolbar").dxToolbar({
            items: [{
                widget: "dxButton",
                location: "before",
                options: {
                    icon: "hierarchy",
                    onClick: function () {
                        drawer.toggle();
                    }
                }
            },
            {
                widget: "dxTextBox",
                id: 'prova',
                location: "before",
                options: {
                    placeholder: "Enter File Name",
                    onValueChanged: function (data) {
                        alert('Enter File Name - ok');
                    }
                }
            },
            {
                widget: "dxButton",
                location: "after",
                options: {
                    icon: "xlsfile",
                    onClick: function () {
                        alert('export elenco')
                    }
                }
            },
            {
                widget: "dxButton",
                location: "after",
                options: {
                    icon: "download",
                    onClick: function () {
                        alert('Download record selezionati')
                    }
                }
            }]
        });
    });
</script>

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    #toolbar {
        background-color: rgba(191, 191, 191, .15);
        padding: 5px 10px;
    }

    .dx-list-item-icon-container, .dx-toolbar-before {
        width: 36px;
        padding-right: 0px !important;
        text-align: center;
    }

    .dx-list-item-content {
        padding-left: 10px !important;
    }

    .dx-button {
        background-color: rgba(191, 191, 191, -0.15);
        border: none;
    }

    .panel-tree {
        height: 400px;
    }

    .dx-drawer-expand.dx-drawer-right .panel-tree {
        float: right;
    }

    .panel-tree .dx-list-item {
        color: #fff;
        border-top: 1px solid rgba(221, 221, 221, .2);
    }

        .panel-tree .dx-list-item .dx-icon {
            color: #fff !important;
        }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    label {
        font-weight: bold;
    }

    #content {
        height: 100%;
        padding: 10px 20px;
    }

        #content h2 {
            font-size: 26px;
        }
</style>

<div id="main">
    <div id="sfondo"></div>
    <div class="container">
        <div class="col-md-6">
            <div>
                <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" width="180px">
            </div>
        </div>
    </div>

    <div class="dx-viewport">
        <div class="demo-container">
            <div id="toolbar"></div>
            <div id="drawer">
                <div id="gridContainer">
                    @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(true)
                                    .RowAlternationEnabled(true)
                                    .AllowColumnResizing(true)
                                    .DataSource(new JS("employees"))
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    //.StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("indexTrainings"))
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .Grouping(grouping => grouping.AutoExpandAll(true))
                                    .GroupPanel(groupPanel => groupPanel.Visible(true))
                                    .WordWrapEnabled(true)
                                    /**/
                                    @*.OnSelectionChanged(@<text>
                                            function(e) {
                                            e.component.collapseAll(-1);
                                            e.component.expandRow(e.currentSelectedRowKeys[0]);
                                            }
                                        </text>)*@
                                    /**/
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Code").Width("8%");
                                        columns.Add().DataField("Revision").Caption("Rev.").Width("5%").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("Title").Width("20%");
                                        columns.Add().DataField("SectionPath").Width("30%");  // ??? NON PRESENTE
                                            columns.Add().DataField("Note").Width("40%");
                                    })
                                    .MasterDetail(md =>
                                    {
                                        md.Enabled(true)
                                        .Template(@<text>
                                            <div class="master-detail-caption" title=""><%= data.Code + ' ' + data.Revision + ' ' + data.Title %> - RESOURCES </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @(Html.DevExtreme().DataGrid()
                                                                        .ID("grid-detail")
                                                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                        .Selection(s => s.Mode(SelectionMode.Single))
                                                                        .ShowBorders(true)
                                                                        .ShowRowLines(true)
                                                                        .HoverStateEnabled(false)
                                                                        .RowAlternationEnabled(false)
                                                                        //.FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                                        .DataSource(new JS("tasks"))
                                                                        .Columns(columns =>
                                                                        {
                                                                                columns.Add().DataField("ResourceType").Width("10%");
                                                                                columns.Add().DataField("ResourceName");
                                                                            })
                                                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                        //.Export(e => e.Enabled(false).FileName(new JS("'TrainingRegistations_' + data.Title")).AllowExportSelectedData(false))
                                                        //.OnCellPrepared("onCellPreparedRegistration")
                                                    )
                                                </div>
                                            </div>
                                        </text>);
                                                                })
                                                    .Paging(p => p.PageSize(10))
                                                    .Pager(pager =>
                                                    {
                                                        pager.ShowPageSizeSelector(true);
                                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                                        pager.ShowInfo(true);
                                                        pager.InfoText("page {0} of {1} ({2} records)");
                                                        pager.ShowNavigationButtons(true);
                                                    })
                                                    //.Export(e => e.Enabled(false).FileName("Trainings").AllowExportSelectedData(false))
                                                    //.OnExporting("OnExporting")
                                                    //.OnExported("OnExported")
                                                    //.OnToolbarPreparing("toolbar_preparing")
                                                    //.OnCellPrepared("onCellPrepared")
                                                    //.OnContentReady("OnContentReady")
                                                    .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                    )
                </div>
            </div>
        </div>
    </div>
</div>


@*

    @*<div class="row">
                                    <div class="col-md-10">
                                        <div class="col-md-10"><span class="dett-label">Hotel:</span><span class="dett-value"><%= data.HotelDesciption%></span></div>
                                        <div class="col-md-2 text-right">
                                            <% if ((data.CCAuthorization || '') != '') { %>
                                            <a href="#" onclick="goDownloadCCAuthorization('<%= data.HotelId %>');" title="Download CC Authorization" style="color: blue;">
                                                <i class="glyphicon glyphicon-paperclip"></i>
                                                <small class="text-muted">CC Authorization</small>
                                            </a>
                                            <% } %>
                                        </div>
                                        <div class="col-md-12"><span class="dett-label">Trainers:</span><span class="dett-value"><%= data.Trainers%></span></div>
                                        <div class="col-md-12"><span class="dett-label">Internal Note:</span><span class="dett-value"><%= data.Note%></span></div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <% if (data.Status == '@Lookup.Training_Status_NEW') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-external-link").Hint("Publish")
                                                                            .OnClick("function (arg) { doPublish(data.TrainingId) }")
                                                                            .Type(ButtonType.Success))
                                        <% } %>
                                        <% if (data.Status == '@Lookup.Training_Status_PUBLISHED') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-lock").Hint("Close").OnClick("function (arg) { doClose(data.TrainingId) }").Type(ButtonType.Default))
                                        <% } %>
                                        <% if (data.Status != '@Lookup.Training_Status_NEW') { %>
                                        @(Html.DevExtreme().Button().Icon("revert").Hint("Undo").OnClick("function (arg) { doRestore(data.TrainingId) }"))
                                        <% } %>
                                        <% if (data.Status == '@Lookup.Training_Status_CLOSED') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-archive").Hint("Archive").OnClick("function (arg) { doArchive(data.TrainingId) }"))
                                        <% } %>
                                        <% if (data.Status != '@Lookup.Training_Status_DELETED') { %>
                                        @(Html.DevExtreme().Button().Icon("trash").Hint("Delete").OnClick("function (arg) { goDelete(data.TrainingId) }").Type(ButtonType.Danger))
                                        <% } %>
                                        @(Html.DevExtreme().Button().Icon("email").Hint("Send Email").OnClick("function (arg) { goSendGenericEmail(data.TrainingId) }").Type(ButtonType.Success))
                                        <br />
                                        <div class="pull-right">
                                            <a href="#" onclick="goExportRegistration('<%= data.TrainingId %>');" title="Export Registrations" style="color: blue;">
                                                <i class="fa fa-file-excel-o"></i>
                                                <small class="text-muted" style="color: blue;">Export Registrations</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" id="registration_<%= data.TrainingId%>">
                                        @(Html.DevExtreme().DataGrid()
                                                                .ID("grid-registrations")
                                                                .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                .Selection(s => s.Mode(SelectionMode.Single))
                                                                .ShowBorders(true)
                                                                .ShowRowLines(true)
                                                                .HoverStateEnabled(false)
                                                                .RowAlternationEnabled(false)
                                                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                                .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainingRegistrations")
                                                                        .LoadParams(new { id = new JS("data.TrainingId") })
                                                                    )
                                                                .RemoteOperations(true)
                                                                .Columns(columns =>
                                                                {
                                                                            columns.Add().DataField("FullName").Caption("Participant").SortOrder(SortOrder.Asc).Width("20%");
                                                                            columns.Add().DataField("EmailAddress").Caption("Email").Width("20%");
                                                                            columns.Add().DataField("CountryId").Caption("Country").Width("10%");
                                                                            columns.Add().DataField("CompanyName").Caption("Company").Width("15%");
                                                                            columns.Add().DataField("Status").Caption("Registration").Width(120).Alignment(HorizontalAlignment.Center);
                                                                            columns.Add().DataField("AccomodationStatus").Caption("Accomodation").Width(120).Alignment(HorizontalAlignment.Center);
                                                                            columns.Add().DataField("VISAStatus").Caption("Inv.Letter").Width(120).Alignment(HorizontalAlignment.Center);
                                                                            columns.Add().Caption("Certificate").Width(90).Alignment(HorizontalAlignment.Center);
                                                                        })
                                                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                                .Export(e => e.Enabled(false).FileName(new JS("'TrainingRegistations_' + data.Title")).AllowExportSelectedData(false))
                                                                .OnCellPrepared("onCellPreparedRegistration")
                                        )
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="text-danger" onclick="goShowJournal(<%= data.TrainingId %>);">Journal</a>
                                </div>
                            </div>*@


@*
        @*<div class="container">
                <div class="col-md-offset-9 col-md-3 form-inline">
                    <label for="sel1">Month:</label>
                    <select class="form-control" id="sel1">
                        <option>Feb 2018</option>
                        <option>Jen 2018</option>
                        <option>Dic 2017</option>
                        <option>Nov 2017</option>
                    </select>
                </div>
            </div>
    <br />*@

@*<div class="row">
        <div class="col-md-2">
            <div style="border: 1px solid red; margin-left: 20px;">
                @(Html.DevExtreme().TreeView()
                                .ID("simple-treeview")
                                .DataSource(new JS("sections"))
                                .DisplayExpr("text")
                                .ItemsExpr("items")
                                .ExpandedExpr("Expanded")
                                //.OnItemClick("treeViewItemClick")
                                .Height(350)
                                .SearchEnabled(true)
                )
            </div>
        </div>
        <div class="col-md-10">
            <div style="border: 1px solid red; margin-right: 10px;">
                @(Html.DevExtreme().DataGrid()
                                .ID("gridContainer")
                                .DataSource(new JS("argumentsList"))
                                .ShowBorders(true)
                                .FilterRow(filterRow => filterRow
                                    .Visible(true)
                                    .ApplyFilter(GridApplyFilterMode.Auto)
                                )
                                .Columns(c =>
                                {
                                    c.Add().DataField("Title");
                                    c.Add().DataField("Notes");
                                    c.Add().DataField("Breadcrumbs");
                                    c.Add().DataField("KeyWords");
                                    c.Add().DataField("Files");
                                    c.Add().DataField("Attachments");
                                    c.Add().DataField("Links");
                                })
                )
            </div>
        </div>
    </div>*@

</div>



<script>
    var sections = [{
        id: "1_1",
        text: "ELITe Ingenius",
        expanded: true,
        items: [{
            id: "1_1_1",
            text: "Assay Protocols",
            items: [{
                id: "1_1_1_1",
                text: "CLOSE",
                price: 220,
                image: "images/products/1.png"
            }, {
                id: "1_1_1_2",
                text: "OPEN",
                image: "images/products/2.png",
                price: 270
            }]
        }, {
            id: "1_1_1A",
            text: "EXTRA"
        }, {
            id: "1_1_1B",
            text: "SW Version",
            //icon: "fa fa-lock"
        }, {
            id: "1_1_1C",
            text: "TAB"
        }, {
            id: "1_1_1D",
            text: "TBS"
        }]

    }, {
        id: "1_2",
        text: "ELITe Star",
        items: [{
            id: "1_2_1",
            text: "Service Manual"
        }]

    }, {
        id: "1_3",
        text: "Remote Access",
        items: [{
            id: "1_3_1",
            text: "BeyondTrust Jump Client",
            items: [{
                id: "1_3_1_1",
                text: "Argentina (Biodiagnostico S.A.)",
                image: "images/products/1.png",
                price: 220
            }, {
                id: "1_3_1_3",
                text: "Australia (EGPTY)",
                image: "images/products/2.png",
                price: 275
            }, {
                id: "1_3_1_4",
                text: "Italy (prova 1)",
                image: "images/products/2.png",
                price: 275
            }, {
                id: "1_3_1_2",
                text: "Torino (Prova 2)",
                image: "images/products/2.png",
                price: 275
            }]
        }, {
            id: "1_3_3",
            text: "BeyondTrust User Manual"
        }]

    }];

    var customers = [{
        "ID": 1,
        "CompanyName": "Super Mart of the West",
        "Address": "702 SW 8th Street",
        "City": "Bentonville",
        "State": "Arkansas",
        "Zipcode": 72716,
        "Phone": "(800) 555-2797",
        "Fax": "(800) 555-2171",
        "Website": "http://www.nowebsitesupermart.com"
    }, {
        "ID": 2,
        "CompanyName": "Electronics Depot",
        "Address": "2455 Paces Ferry Road NW",
        "City": "Atlanta",
        "State": "Georgia",
        "Zipcode": 30339,
        "Phone": "(800) 595-3232",
        "Fax": "(800) 595-3231",
        "Website": "http://www.nowebsitedepot.com"
    }, {
        "ID": 3,
        "CompanyName": "K&S Music",
        "Address": "1000 Nicllet Mall",
        "City": "Minneapolis",
        "State": "Minnesota",
        "Zipcode": 55403,
        "Phone": "(612) 304-6073",
        "Fax": "(612) 304-6074",
        "Website": "http://www.nowebsitemusic.com"
    }, {
        "ID": 4,
        "CompanyName": "Tom's Club",
        "Address": "999 Lake Drive",
        "City": "Issaquah",
        "State": "Washington",
        "Zipcode": 98027,
        "Phone": "(800) 955-2292",
        "Fax": "(800) 955-2293",
        "Website": "http://www.nowebsitetomsclub.com"
    }, {
        "ID": 5,
        "CompanyName": "E-Mart",
        "Address": "3333 Beverly Rd",
        "City": "Hoffman Estates",
        "State": "Illinois",
        "Zipcode": 60179,
        "Phone": "(847) 286-2500",
        "Fax": "(847) 286-2501",
        "Website": "http://www.nowebsiteemart.com"
    }, {
        "ID": 6,
        "CompanyName": "Walters",
        "Address": "200 Wilmot Rd",
        "City": "Deerfield",
        "State": "Illinois",
        "Zipcode": 60015,
        "Phone": "(847) 940-2500",
        "Fax": "(847) 940-2501",
        "Website": "http://www.nowebsitewalters.com"
    }, {
        "ID": 7,
        "CompanyName": "StereoShack",
        "Address": "400 Commerce S",
        "City": "Fort Worth",
        "State": "Texas",
        "Zipcode": 76102,
        "Phone": "(817) 820-0741",
        "Fax": "(817) 820-0742",
        "Website": "http://www.nowebsiteshack.com"
    }, {
        "ID": 8,
        "CompanyName": "Circuit Town",
        "Address": "2200 Kensington Court",
        "City": "Oak Brook",
        "State": "Illinois",
        "Zipcode": 60523,
        "Phone": "(800) 955-2929",
        "Fax": "(800) 955-9392",
        "Website": "http://www.nowebsitecircuittown.com"
    }, {
        "ID": 9,
        "CompanyName": "Premier Buy",
        "Address": "7601 Penn Avenue South",
        "City": "Richfield",
        "State": "Minnesota",
        "Zipcode": 55423,
        "Phone": "(612) 291-1000",
        "Fax": "(612) 291-2001",
        "Website": "http://www.nowebsitepremierbuy.com"
    }, {
        "ID": 10,
        "CompanyName": "ElectrixMax",
        "Address": "263 Shuman Blvd",
        "City": "Naperville",
        "State": "Illinois",
        "Zipcode": 60563,
        "Phone": "(630) 438-7800",
        "Fax": "(630) 438-7801",
        "Website": "http://www.nowebsiteelectrixmax.com"
    }, {
        "ID": 11,
        "CompanyName": "Video Emporium",
        "Address": "1201 Elm Street",
        "City": "Dallas",
        "State": "Texas",
        "Zipcode": 75270,
        "Phone": "(214) 854-3000",
        "Fax": "(214) 854-3001",
        "Website": "http://www.nowebsitevideoemporium.com"
    }, {
        "ID": 12,
        "CompanyName": "Screen Shop",
        "Address": "1000 Lowes Blvd",
        "City": "Mooresville",
        "State": "North Carolina",
        "Zipcode": 28117,
        "Phone": "(800) 445-6937",
        "Fax": "(800) 445-6938",
        "Website": "http://www.nowebsitescreenshop.com"
    }];

    var employees = [{
        "ID": 1,
        "Code": "TAB 001",
        "Title": "IVD Assay Protocol List",
        "SectionPath": "ELITe InGenius > TAB",
        "Revision": "AE",
        "Note": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    },
    {
        "ID": 2,
        "Code": "TAB 002",
        "Title": "Generic Assay Protocol List",
        "SectionPath": "ELITe InGenius > TAB",
        "Revision": "AF",
        "Note": ""
    },
    {
        "ID": 3,
        "Code": "TAB 003",
        "Title": "Sample Matrix List",
        "SectionPath": "ELITe InGenius > TAB",
        "Note": "Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. ",
        "Revision": "AE"
    },
    {
        "ID": 4,
        "Code": "TAB 044",
        "SectionPath": "ELITe InGenius > TAB",
        "Title": "ELITe InGenius Assay protocol",
        "Note": "",
        "Revision": "AC"
    },
    {
        "ID": 5,
        "Code": "TBS 002",
        "Title": "Operator Manual",
        "SectionPath": "ELITe InGenius > TBS > TBS2",
        "Note": "Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. ",
        "Revision": "H"
    },
    {
        "ID": 6,
        "Code": "TBS 003",
        "SectionPath": "ELITe InGenius > TBS > TBS3",
        "Title": "Spare Parts Catalogue",
        "Note": "",
        "Revision": "D"
    },
    {
        "ID": 7,
        "Code": "EXTRA",
        "SectionPath": "ELITe InGenius > EXTRA > v 1.3.0.12",
        "Title": "EXTRA.zip",
        "Note": "",
        "Revision": ""
    },
    {
        "ID": 8,
        "Code": "TBD-09",
        "Title": "",
        "SectionPath": "ELITe InGenius > EXTRA > v 1.3.0.12",
        "Note": "",
        "Revision": "1.1.0"
    },
    {
        "ID": 9,
        "Code": "PROVA",
        "Title": "PROVA",
        "SectionPath": "ELITe InGenius > Assay Protocols > OPEN",
        "Note": "",
        "Revision": ""
    }]

    var tasks = [{
        "ID": 1,
        "Subject": "Prepare 2013 Financial",
        "StartDate": "2013/01/15",
        "DueDate": "2013/01/31",
        "Status": "Completed",
        "Priority": "High",
        "Completion": 100,
        "ResourceType": "file",
        "ResourceName": "PROVA.zip",
        "EmployeeID": 8
    },
    {
        "ID": 2, "Subject": "Prepare 3013 Marketing Plan",
        "StartDate": "2013/01/01",
        "DueDate": "2013/01/31",
        "Status": "Completed",
        "Priority": "High",
        "Completion": 100,
        "ResourceType": "attach",
        "ResourceName": "PROVA2.zip",
        "EmployeeID": 5
    },
    {
        "ID": 3,
        "Subject": "Update Personnel Files",
        "StartDate": "2013/02/03",
        "DueDate": "2013/02/28",
        "Status": "Completed",
        "Priority": "High",
        "Completion": 100,
        "ResourceType": "url",
        "ResourceName": "www.google.com",
        "EmployeeID": 2
    },
    {
        "ID": 4,
        "Subject": "Final Budget Review",
        "StartDate": "2014/03/26",
        "DueDate": "2014/03/27",
        "Status": "In Progress",
        "Priority": "High",
        "Completion": 25,
        "ResourceType": "file",
        "ResourceName": "PROVA3.zip",
        "EmployeeID": 6
        }]

    var employees = [{
        "ID": 1,
        "FirstName": "John",
        "LastName": "Heart",
        "Prefix": "Mr.",
        "Position": "CEO",
        "Picture": "images/employees/01.png",
        "BirthDate": "1964/03/16",
        "HireDate": "1995/01/15",
        "Notes": "John has been in the Audio/Video industry since 1990. He has led DevAv as its CEO since 2003.\r\n\r\nWhen not working hard as the CEO, John loves to golf and bowl. He once bowled a perfect game of 300.",
        "Address": "351 S Hill St.",
        "State": "California",
        "City": "Los Angeles"
    }, {
        "ID": 2,
        "FirstName": "Olivia",
        "LastName": "Peyton",
        "Prefix": "Mrs.",
        "Position": "Sales Assistant",
        "Picture": "images/employees/09.png",
        "BirthDate": "1981/06/03",
        "HireDate": "2012/05/14",
        "Notes": "Olivia loves to sell. She has been selling DevAV products since 2012. \r\n\r\nOlivia was homecoming queen in high school. She is expecting her first child in 6 months. Good Luck Olivia.",
        "Address": "807 W Paseo Del Mar",
        "State": "California",
        "City": "Los Angeles"
    }, {
        "ID": 3,
        "FirstName": "Robert",
        "LastName": "Reagan",
        "Prefix": "Mr.",
        "Position": "CMO",
        "Picture": "images/employees/03.png",
        "BirthDate": "1974/09/07",
        "HireDate": "2002/11/08",
        "Notes": "Robert was recently voted the CMO of the year by CMO Magazine. He is a proud member of the DevAV Management Team.\r\n\r\nRobert is a championship BBQ chef, so when you get the chance ask him for his secret recipe.",
        "Address": "4 Westmoreland Pl.",
        "State": "Arkansas",
        "City": "Bentonville"
    }, {
        "ID": 4,
        "FirstName": "Greta",
        "LastName": "Sims",
        "Prefix": "Ms.",
        "Position": "HR Manager",
        "Picture": "images/employees/04.png",
        "BirthDate": "1977/11/22",
        "HireDate": "1998/04/23",
        "Notes": "Greta has been DevAV's HR Manager since 2003. She joined DevAV from Sonee Corp.\r\n\r\nGreta is currently training for the NYC marathon. Her best marathon time is 4 hours. Go Greta.",
        "Address": "1700 S Grandview Dr.",
        "State": "Georgia",
        "City": "Atlanta"
    }, {
        "ID": 5,
        "FirstName": "Brett",
        "LastName": "Wade",
        "Prefix": "Mr.",
        "Position": "IT Manager",
        "Picture": "images/employees/05.png",
        "BirthDate": "1968/12/01",
        "HireDate": "2009/03/06",
        "Notes": "Brett came to DevAv from Microsoft and has led our IT department since 2012.\r\n\r\nWhen he is not working hard for DevAV, he coaches Little League (he was a high school pitcher).",
        "Address": "1120 Old Mill Rd.",
        "State": "Idaho",
        "City": "Boise"
    }, {
        "ID": 6,
        "FirstName": "Sandra",
        "LastName": "Johnson",
        "Prefix": "Mrs.",
        "Position": "Controller",
        "Picture": "images/employees/06.png",
        "BirthDate": "1974/11/15",
        "HireDate": "2005/05/11",
        "Notes": "Sandra is a CPA and has been our controller since 2008. She loves to interact with staff so if you've not met her, be certain to say hi.\r\n\r\nSandra has 2 daughters both of whom are accomplished gymnasts.",
        "Address": "4600 N Virginia Rd.",
        "State": "Utah",
        "City": "Beaver"
    }, {
        "ID": 7,
        "FirstName": "Kevin",
        "LastName": "Carter",
        "Prefix": "Mr.",
        "Position": "Shipping Manager",
        "Picture": "images/employees/07.png",
        "BirthDate": "1978/01/09",
        "HireDate": "2009/08/11",
        "Notes": "Kevin is our hard-working shipping manager and has been helping that department work like clockwork for 18 months.\r\n\r\nWhen not in the office, he is usually on the basketball court playing pick-up games.",
        "Address": "424 N Main St.",
        "State": "California",
        "City": "San Diego"
    }, {
        "ID": 8,
        "FirstName": "Cynthia",
        "LastName": "Stanwick",
        "Prefix": "Ms.",
        "Position": "HR Assistant",
        "Picture": "images/employees/08.png",
        "BirthDate": "1985/06/05",
        "HireDate": "2008/03/24",
        "Notes": "Cindy joined us in 2008 and has been in the HR department for 2 years. \r\n\r\nShe was recently awarded employee of the month. Way to go Cindy!",
        "Address": "2211 Bonita Dr.",
        "State": "Arkansas",
        "City": "Little Rock"
    }, {
        "ID": 9,
        "FirstName": "Kent",
        "LastName": "Samuelson",
        "Prefix": "Dr.",
        "Position": "Ombudsman",
        "Picture": "images/employees/02.png",
        "BirthDate": "1972/09/11",
        "HireDate": "2009/04/22",
        "Notes": "As our ombudsman, Kent is on the front-lines solving customer problems and helping our partners address issues out in the field.    He is a classically trained musician and is a member of the Chamber Orchestra.",
        "Address": "12100 Mora Dr",
        "State": "Missouri",
        "City": "St. Louis"
    }, {
        "ID": 10,
        "FirstName": "Taylor",
        "LastName": "Riley",
        "Prefix": "Mr.",
        "Position": "Network Admin",
        "Picture": "",
        "BirthDate": "1982/08/14",
        "HireDate": "2012/04/14",
        "Notes": "If you are like the rest of us at DevAV, then you've probably reached out for help from Taylor. He does a great job as a member of our IT department.",
        "Address": "7776 Torreyson Dr",
        "State": "California",
        "City": "San Jose"
    }];

</script>




<div class="dx-viewport">
    <div class="demo-container2">
        <div id="gridContainer2"></div>
    </div>
</div>
