﻿@using WebApp.Classes
@using WebApp.Entity    

@{
    ViewData["Title"] = "Dashboard";

    // Abilitazioni Box/funzioni in InGenius
    bool bAbilitaQuotation = User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationApproval) ||
                       User.IsInRole(Lookup.Role_QuotationManager) || User.IsInRole(Lookup.Role_QuotationBackOffice);
    // Abilitazioni Sezioni
    bool bInstrumentsSection = User.IsInRole(Lookup.Role_ELITeInstruments);
    bool bWebRepositorySection = User.IsInRole(Lookup.Role_DocumentalRepository) || User.IsInRole(Lookup.Role_DocumentalRepositoryBackOffice);
    bool bTrainingSection = User.IsInRole(Lookup.Role_TrainingBackOffice);
    bool bSupportUser = User.IsInRole(Lookup.Role_Support);
    bool bSupportAdmin = User.IsInRole(Lookup.Role_SupportAdministrator);
    bool bSupportViewer = User.IsInRole(Lookup.Role_SupportViewer);
    bool bOpenAP3PBackOffice = Lookup.GetOpenAP3PActive &&
                               (User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator) || User.IsInRole(Lookup.Role_OpenAP3P_OrderDepartment) ||
                               User.IsInRole(Lookup.Role_OpenAP3P_ResearchAndDevelopment) || User.IsInRole(Lookup.Role_OpenAP3P_Quality));
    bool bComplaintManage = Lookup.GetComplaintActive && (User.IsInRole(Lookup.Role_SupportAdministrator) || User.IsInRole(Lookup.Role_CustomerComplaintAnalyst));

    string hiddenInstrumentsSection = (bInstrumentsSection && !bWebRepositorySection && !bTrainingSection && !bSupportUser && !bSupportAdmin &&
                                    !bSupportViewer && !bOpenAP3PBackOffice && !bComplaintManage) ? "" : "hidden";
    string hiddenWebRepositorySection = (!bInstrumentsSection && bWebRepositorySection && !bTrainingSection && !bSupportUser && !bSupportAdmin &&
                                    !bSupportViewer && !bOpenAP3PBackOffice && !bComplaintManage) ? "" : "hidden";
    string hiddenTraining = (!bInstrumentsSection && !bWebRepositorySection && bTrainingSection && !bSupportUser && !bSupportAdmin && !bSupportViewer &&
                                    !bOpenAP3PBackOffice && !bComplaintManage) ? "" : "hidden";
    string hiddenSupport = (!bInstrumentsSection && !bWebRepositorySection && !bTrainingSection && (bSupportUser || bSupportAdmin || bSupportViewer || bOpenAP3PBackOffice || bComplaintManage)) ? "" : "hidden";
    string hiddenBeGeniusSection = (bInstrumentsSection) ? "" : "hidden";

    bool bWarrantySection = User.IsInRole(Lookup.Role_Warranty) || User.IsInRole(Lookup.Role_WarrantyAdministrator) || User.IsInRole(Lookup.Role_WarrantyBackOffice);

    bool bRefurbishInstruments = User.IsInRole(Lookup.Role_RefurbishAdministrator) || User.IsInRole(Lookup.Role_RefurbishFinance) || 
                                 User.IsInRole(Lookup.Role_RefurbishCenter) || User.IsInRole(Lookup.Role_RefurbishReadOnly);

    string cmdToExecute = TempData["cmdToExecute"]?.ToString() ?? "";

    List<WMessage> wmessages = (List<WMessage>)TempData["wmessages"];
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
    }

    /*Chart*/
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .option {
        margin-top: 10px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }

    .active {
        background-color: #4CAF50 !important;
    }

    .panel {
        min-width: 130px;
    }

    .panel-text {
        height: 75px;
        max-height: 75px;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .panel-body h4 {
        margin-top: 2px;
    }

    .tool-container {
        margin: 0px;
    }

    .TitoloSezione {
        padding: 5px;
        /*font-weight: bold;*/
        font-size: 20px;
        cursor: pointer;
    }

    .cmdExpand {
        float: right;
    }

    #dashboard {
        min-height: 500px;
    }
    .wmessage {
        font-size: medium;
        margin: 15px;
        margin-top: -10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            if ("@(cmdToExecute.ToUpper())" == ("NewTicketRequest").toUpperCase()) {
                goNewTicketingRequest();
            }
            setDivToggle('divEliteInstruments');
            setDivToggle('divQuotation');
            setDivToggle('divDocumentalRepository');
            setDivToggle('divTraining');
            setDivToggle('divWarranty');
            setDivToggle('divTicketing');
            setDivToggle('divCalendar');

        });
    });
    function goIndexYourRequests() {
        $("#dashboard").attr("action", '@Url.Action("IndexYourRequests", "TKSupport")');
        $("#dashboard").submit();
        return false;
    }
    function goManageRequests() {
        $("#dashboard").attr("action", '@Url.Action("Manage", "TKSupport")');
        $("#dashboard").submit();
        return false;
    }
    function goStatistics() {
        $("#dashboard").attr("action", '@Url.Action("Statistics", "TKSupport")');
        $("#dashboard").submit();
        return false;
    }
    function goIndex3PRequests() {
        $("#dashboard").attr("action", '@Url.Action("Index", "TK3PSupport")');
        $("#dashboard").submit();
        return false;
    }
    function goIndexComplaint() {
        $("#dashboard").attr("action", '@Url.Action("Complaint", "TKSupport")');
        $("#dashboard").submit();
        return false;
    }
    function goToDailyExecutions() {
        $("#dashboard").attr("action", '@Url.Action("DailyExecutions", "Dashboard")?opt=init');
        $("#dashboard").submit();
        return false;
    }
    function goToInstallBase() {
        $("#dashboard").attr("action", '@Url.Action("index", "InstallBase")');
        $("#dashboard").submit();
        return false;
    }
    function goToLogFiles() {
        $("#dashboard").attr("action", '@Url.Action("index", "LogFiles")');
        $("#dashboard").submit();
        return false;
    }
    function goToQuotationList() {
        $("#dashboard").attr("action", '@Url.Action("Index", "Quotations")');
        $("#dashboard").submit();
        return false;
    }
    function goToAssaysUtilization() {
        $("#dashboard").attr("action", '@Url.Action("AssaysUtilization", "Dashboard")?opt=init');
        $("#dashboard").submit();
        return false;
    }
    function goToAssaysProtocols() {
        $("#dashboard").attr("action", '@Url.Action("Index", "AssaysProtocols")');
        $("#dashboard").submit();
        return false;
    }
    function goToDataMining() {
        $("#dashboard").attr("action", '@Url.Action("index", "DataMining")');
        $("#dashboard").submit();
        return false;
    }
    function goToExtractionsRnD() {
        $("#dashboard").attr("action", '@Url.Action("indexRnD", "Extractions")');
        $("#dashboard").submit();
        return false;
    }
    function goToMaintenance() {
        $("#dashboard").attr("action", '@Url.Action("Maintenance", "Instruments")');
        $("#dashboard").submit();
        return false;
    }
    function goToRefurbish() {
        $("#dashboard").attr("action", '@Url.Action("Refurbish", "Instruments")');
        $("#dashboard").submit();
        return false;
    }
    function goToInstrumentsBooking() {
        $("#dashboard").attr("action", '@Url.Action("Booking", "Instruments")');
        $("#dashboard").submit();
        return false;
    }
    function goToDocumentalRepository() {
        $("#dashboard").attr("action", '@Url.Action("index", "DocumentalRepository")');
        $("#dashboard").submit();
        return false;
    }
    function goToManageDocumentalRepository() {
        $("#dashboard").attr("action", '@Url.Action("Manage", "DocumentalRepository")');
        $("#dashboard").submit();
        return false;
    }
    function goToDocumentalRepositoryJournal() {
        $("#dashboard").attr("action", '@Url.Action("Journal", "DocumentalRepository")');
        $("#dashboard").submit();
        return false;
    }
    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
    function goDownloadPrivacy() {
        $("#dashboard").append('<input type="hidden" name="fileName" value="Privacy Statement.pdf" /> ');
        $("#dashboard").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
    function goToTraining() {
        $("#dashboard").attr("action", '@Url.Action("index", "Trainings")');
        $("#dashboard").submit();
        return false;
    }
    function goTrainingParticipantList() {
        $("#dashboard").attr("action", '@Url.Action("ParticipantList", "Trainings")');
        $("#dashboard").submit();
        return false;
    }
    function goTrainingSummary() {
        $("#dashboard").attr("action", '@Url.Action("Summary", "Trainings")');
        $("#dashboard").submit();
        return false;
    }
    function goToAssaysNotification() {
        $("#dashboard").attr("action", '@Url.Action("Index", "AssaysNotification")');
        $("#dashboard").submit();
        return false;
    }
    function goNewTicketingRequest() {
        $('#ActionContent').load('@(Url.Action("WizardNewRequest", "TKSupport"))', function () {
            $("#ActionTitle").html("Create New Support Request");
            $('#ActionModal').modal({
                keyboard: true
            }, 'show');
        });
    }
    function goToWarranty() {
        $("#dashboard").attr("action", '@Url.Action("WSPIndex", "Warranty")');
        $("#dashboard").submit();
        return false;
    }

    function goToWarrantyManage() {
        $("#dashboard").attr("action", '@Url.Action("WSPManage", "Warranty")');
        $("#dashboard").submit();
        return false;
    }

    function setDivToggle(divName, bSaveToggle) {
        var myName = "DivToggleStateEliteBoardIndex_" + divName;
        var currValue = getCookie(myName);
        currValue = (currValue || 0);
        bSaveToggle = (bSaveToggle || false);
        // Salva Toggle
        if (bSaveToggle) {
            if (currValue == 0) {
                currValue = 1;
            } else {
                currValue = 0;
            }
            setCookie(myName, currValue);
        }
        // imposta visibilità DIV
        if (currValue == 0) {
            $('#' + divName).hide();
        } else {
            $('#' + divName).show();
        }
    }

    function setCookie(name, value) {
        var expiry = new Date();
        expiry.setMinutes(expiry.getMinutes() + 120);
        document.cookie = name + "=" + (value) + "; path=/; expires=" + expiry.toGMTString() + "; SameSite=Strict";
    }

    // Gets a cookie's value. If it's not set it returns null.
    function getCookie(name) {
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? (value[1]) : null;
    }

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserManual">
    <div id="main">
        <div id="sfondo"></div>

        <section id="Logo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                            @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                        </div>
                    </div>
                    <div class="col-md-8 text-right h3" style="margin-top:5px;">
                        @(Html.DevExtreme().Button()
                                    .Icon(Url.Content("~/images/IFO.png"))
                                    .Hint("User Manual")
                                    .Text("User Manual")
                                    .Type(ButtonType.Normal)
                                    .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                    .Icon(Url.Content("~/images/privacy.png"))
                                    .Hint("Privacy Statement")
                                    .Text("Privacy Statement")
                                    .Type(ButtonType.Normal)
                                    .OnClick("goDownloadPrivacy")
                        )
                    </div>
                </div>
                <br />
            </div>
        </section>

        <div class="container">
            @foreach (var item in wmessages)
            {
                <div class="alert alert-danger wmessage">
                    @Html.Raw(item.Note)
                    @if (User.IsInRole(Lookup.Role_Admin))
                    {
                        <small><strong>[ Until @Html.Raw(item.TmstTo.Value.ToString("dd/MM/yyyy")) ]</strong></small>
                    }

                </div>
            }
        </div>

        <div class="container">
            <section id="ELITe Instruments">
                @if (bInstrumentsSection)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divEliteInstruments', true);">
                                <img src="~/images/InGeniusLogo.png" alt="ELITe InGenius" class="img-rounded" height="40px"/>
                                <img src="~/images/BeGeniusLogoNew.png" alt="ELITe BeGenius" class="img-rounded" height="40px" />
                                &nbsp;ELITe Instruments
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divEliteInstruments" @hiddenInstrumentsSection>
                                <div class="row col-md-12 col-sm-12 tool-container">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center" style="padding: 5px; font-weight:bold">Instrument Data</div>
                                        <div class="panel-body" style="padding: 10px 5px 0px 5px;">
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToDailyExecutions();" style="cursor: pointer;">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                            <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Daily Executions</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToAssaysUtilization();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                            <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Assays Utilization</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToAssaysProtocols();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                            <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Assays Protocols</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (User.IsInRole(Lookup.Role_AssaysNotification))
                                            {
                                                <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToAssaysNotification();" style="cursor: pointer">
                                                    <div class="panel panel-default text-center">
                                                        <div class="panel-heading">
                                                            <span class="fa-stack fa-3x">
                                                                <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                                <i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
                                                            </span>
                                                        </div>
                                                        <div class="panel-body panel-text">
                                                            <h4>Assays Notification</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 col-sm-12 tool-container">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center" style="padding: 5px; font-weight:bold">Tools</div>
                                        <div class="panel-body" style="padding: 10px 5px 0px 5px;">
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToInstallBase();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x" style="color: darkolivegreen;"></i>
                                                            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Data Import</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToLogFiles();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x" style="color: sandybrown;"></i>
                                                            <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Log Files</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToDataMining();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                            <i class="fa fa-magic fa-stack-1x fa-inverse"></i>

                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Data Mining</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToExtractionsRnD();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x" style="color: royalblue;"></i>
                                                            <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Workflow Analysis</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToMaintenance();" style="cursor: pointer">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <span class="fa-stack fa-3x">
                                                            <i class="fa fa-circle fa-stack-2x" style="color: brown;"></i>
                                                            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                    <div class="panel-body panel-text">
                                                        <h4>Maintenance</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (bRefurbishInstruments)
                                            {
                                                <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToRefurbish();" style="cursor: pointer">
                                                    <div class="panel panel-default text-center">
                                                        <div class="panel-heading">
                                                            <span class="fa-stack fa-3x">
                                                                <i class="fa fa-circle fa-stack-2x" style="color: yellowgreen;"></i>
                                                                <i class="fa fa-recycle fa-stack-1x fa-inverse" style="color: red"></i>
                                                            </span>
                                                        </div>
                                                        <div class="panel-body panel-text">
                                                            <h4>Refurbish Instruments</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Quotation">
                @if (bAbilitaQuotation)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divQuotation', true);">
                                <img src="~/images/quotation.png" alt="Quotation" class="img-rounded" height="35px">&nbsp;Quotation
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divQuotation" hidden>
                                @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationManager))
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToQuotationList();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                                    <i class="fa fa-quora fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Quotation</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_QuotationApproval))
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-2" onclick="alert('Quotation Approval');" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: gray;"></i>
                                                    <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Quotation Approval</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Documental Repository">
                @if (bWebRepositorySection)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divDocumentalRepository', true);">
                                <img src="~/images/repository.png" alt="Document & Video Repository" class="img-rounded" height="40px">&nbsp;Document & Video Repository
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divDocumentalRepository" @hiddenWebRepositorySection>
                                @if (User.IsInRole(Lookup.Role_DocumentalRepository))
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToDocumentalRepository();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                    <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Documental Repository</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_DocumentalRepositoryBackOffice))
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-2" onclick="goToManageDocumentalRepository();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                    <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Manage Documental Repository</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToDocumentalRepositoryJournal();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                    <i class="fa fa-google-wallet fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Journal</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Training">
                @if (bTrainingSection)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divTraining', true);">
                                <img src="~/images/Training.png" alt="Training" class="img-rounded" height="40px">&nbsp;Training
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divTraining" @hiddenTraining>
                                <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToTraining();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: darkmagenta;"></i>
                                                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>Training</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6 col-md-2" onclick="goTrainingParticipantList();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>List of Attendees</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6 col-md-2" onclick="goTrainingSummary();" ;" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: #668cff;"></i>
                                                <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>Summary</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Warranty">
                @if (bWarrantySection)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divWarranty', true);">
                                <img src="~/images/warranty.png" alt="Warranty" class="img-rounded" height="40px">&nbsp;Warranty
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divWarranty" hidden>
                                @if (User.IsInRole(Lookup.Role_Warranty))
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToWarranty();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: orange;"></i>
                                                    <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Warranty</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole(Lookup.Role_WarrantyAdministrator) || User.IsInRole(Lookup.Role_WarrantyBackOffice))
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToWarrantyManage();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: green;"></i>
                                                    <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                                                    <i class="fa fa-gear fa-stack-1x" style="padding-left:45px;padding-top:20px; color: darkslategray; font-size: 60px;"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Warranty Management</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Ticketing">
                @if (bSupportUser || bSupportAdmin || bOpenAP3PBackOffice || bSupportViewer || bComplaintManage)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divTicketing', true);">
                                <img src="~/images/supporto.png" alt="Ticketing" class="img-rounded" height="40px">&nbsp;Ask to ELITechGroup support
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>

                            <div class="panel-body" style="padding-bottom: 0px;" id="divTicketing" @hiddenSupport>
                                @if (bSupportUser)
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goNewTicketingRequest();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: darkorange;"></i>
                                                    <i class="fa fa-calendar-plus-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>New Support Request</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goIndexYourRequests();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: grey;"></i>
                                                    <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Status of your Requests</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (bSupportAdmin || bSupportViewer)
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goManageRequests();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: cornflowerblue;"></i>
                                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Manage Requests</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (bComplaintManage)
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goIndexComplaint();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: darkorchid;"></i>
                                                    <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Manage Complaint</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (bSupportAdmin)
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goStatistics();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                    <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Statistics</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Lookup.GetOpenAP3PActive && (bSupportUser || bOpenAP3PBackOffice))
                                {
                                    <div class="col-sm-4 col-xs-6 col-md-2" onclick="goIndex3PRequests();" style="cursor: pointer">
                                        <div class="panel panel-default text-center">
                                            <div class="panel-heading">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-circle fa-stack-2x" style="color: crimson;"></i>
                                                    <i class="fa fa-eyedropper fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                            <div class="panel-body panel-text">
                                                <h4>Third Party Assay Protocols Request</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section id="Booking/Calendar">
                @if (bInstrumentsSection)
                {
                    <div class="row tool-container">
                        <div class="panel panel-default">
                            <div class="panel-heading TitoloSezione" onclick="setDivToggle('divCalendar', true);">
                                <img src="~/images/calendar.png" alt="Calendar" class="img-rounded" height="30px">&nbsp;Calendar
                                <span class="cmdExpand fa fa-plus" title="Expanded" />
                            </div>
                            <div class="panel-body" style="padding-bottom: 0px;" id="divCalendar" hidden>
                                <div class="col-sm-4 col-xs-6 col-md-2" onclick="goToInstrumentsBooking();" style="cursor: pointer">
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <span class="fa-stack fa-3x">
                                                <i class="fa fa-circle fa-stack-2x" style="color: forestgreen;"></i>
                                                <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body panel-text">
                                            <h4>Instruments Booking</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
}

<!-- ACTION MODAL -->
<div class="modal fade" id="ActionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="ActionTitle"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='ActionContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
