﻿@using WebApp.Classes

@{
    ViewData["Title"] = "Install Base";
}

@*
    <h5>dashboard / riepilogo funzionalità principali</h5>

    <hr />
    <h4>ADMIN @User.IsInRole(Lookup.Role_Admin)</h4>
    <h4>AGENTE @User.IsInRole(Lookup.Role_Agente)</h4>
*@

<script type="text/javascript">
    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
</script>


<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
    }

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    #main {
        position: relative;
        padding-top: 20px;
        /*padding-bottom: 150px;*/
    }

    #pie {
        height: 25%;
    }

        #pie * {
            margin: 0 auto;
        }
</style>

<div id="main">
    <div id="sfondo"></div>
    <div class="container">
        <div class="col-md-6">
            <div>
                <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" width="180px">
                @*<img src="~/images/ExtraStatsLogo.png" alt="" width="100px" />*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-offset-9 col-md-3 form-inline">
            <label for="sel1">Month:</label>
            <select class="form-control" id="sel1">
                <option>Feb 2018</option>
                <option>Jen 2018</option>
                <option>Dic 2017</option>
                <option>Nov 2017</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            @(Html.DevExtreme().PieChart()
                .ID("pie")
                .Size(s => s.Width(500))
                .Palette(VizPalette.Bright)
                .Series(s => s
                    .Add()
                    .ArgumentField("TipoFile")
                    .ValueField("NumFile")
                    .Label(l => l
                        .Visible(true)
                        .Connector(c => c
                            .Visible(true)
                            .Width(1)
                        )
                    )
                )
                .Title("Monthly Loads")
                .Export(e => e.Enabled(false))
                .OnPointClick(@<text>
                function (e) {
                var point = e.target;
                toggleVisibility(point);
                }
                </text>)
                .OnLegendClick(@<text>
                    function (e) {
                    var arg = e.target;
                    toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
                    }
                    </text>)
                .DataSource(new List<object> {
                                new { TipoFile = "File 1 OK", NumFile = 12 },
                                new { TipoFile = "File 1 ERR", NumFile = 3 },
                                new { TipoFile = "File 2 OK", NumFile = 0 },
                                new { TipoFile = "File 2 ERR", NumFile = 7 },
                                new { TipoFile = "File 3 OK", NumFile = 18 },
                                new { TipoFile = "File 3 ERR", NumFile = 1 }
                                            })
            )
        </div>
        <div class="col-md-7">
            <div style="margin-right: 10px;">
                @(Html.DevExtreme().DataGrid()
                                            .ID("gridContainer")
                                            .DataSource(new JS("customers"))
                                            .Columns(c =>
                                            {
                                                c.Add().DataField("CompanyName");
                                                c.Add().DataField("City");
                                                c.Add().DataField("State");
                                                c.Add().DataField("Phone");
                                                c.Add().DataField("Fax");
                                            })
                )
            </div>
        </div>
    </div>

</div>



<script>
    var customers = [{
        "ID": 1,
        "CompanyName": "Super Mart of the West",
        "Address": "702 SW 8th Street",
        "City": "Bentonville",
        "State": "Arkansas",
        "Zipcode": 72716,
        "Phone": "(800) 555-2797",
        "Fax": "(800) 555-2171",
        "Website": "http://www.nowebsitesupermart.com"
    }, {
        "ID": 2,
        "CompanyName": "Electronics Depot",
        "Address": "2455 Paces Ferry Road NW",
        "City": "Atlanta",
        "State": "Georgia",
        "Zipcode": 30339,
        "Phone": "(800) 595-3232",
        "Fax": "(800) 595-3231",
        "Website": "http://www.nowebsitedepot.com"
    }, {
        "ID": 3,
        "CompanyName": "K&S Music",
        "Address": "1000 Nicllet Mall",
        "City": "Minneapolis",
        "State": "Minnesota",
        "Zipcode": 55403,
        "Phone": "(612) 304-6073",
        "Fax": "(612) 304-6074",
        "Website": "http://www.nowebsitemusic.com"
    }, {
        "ID": 4,
        "CompanyName": "Tom's Club",
        "Address": "999 Lake Drive",
        "City": "Issaquah",
        "State": "Washington",
        "Zipcode": 98027,
        "Phone": "(800) 955-2292",
        "Fax": "(800) 955-2293",
        "Website": "http://www.nowebsitetomsclub.com"
    }, {
        "ID": 5,
        "CompanyName": "E-Mart",
        "Address": "3333 Beverly Rd",
        "City": "Hoffman Estates",
        "State": "Illinois",
        "Zipcode": 60179,
        "Phone": "(847) 286-2500",
        "Fax": "(847) 286-2501",
        "Website": "http://www.nowebsiteemart.com"
    }, {
        "ID": 6,
        "CompanyName": "Walters",
        "Address": "200 Wilmot Rd",
        "City": "Deerfield",
        "State": "Illinois",
        "Zipcode": 60015,
        "Phone": "(847) 940-2500",
        "Fax": "(847) 940-2501",
        "Website": "http://www.nowebsitewalters.com"
    }, {
        "ID": 7,
        "CompanyName": "StereoShack",
        "Address": "400 Commerce S",
        "City": "Fort Worth",
        "State": "Texas",
        "Zipcode": 76102,
        "Phone": "(817) 820-0741",
        "Fax": "(817) 820-0742",
        "Website": "http://www.nowebsiteshack.com"
    }, {
        "ID": 12,
        "CompanyName": "Screen Shop",
        "Address": "1000 Lowes Blvd",
        "City": "Mooresville",
        "State": "North Carolina",
        "Zipcode": 28117,
        "Phone": "(800) 445-6937",
        "Fax": "(800) 445-6938",
        "Website": "http://www.nowebsitescreenshop.com"
    }];
</script>