﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestInstrumentsBooking</title>

    <!-- note: moment.js must be loaded before vis-timeline-graph2d or the embedded version of moment.js is used -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <link href="~/lib/vis-4.21.0/vis.min.css" rel="stylesheet" />
    <script src="~/lib/vis-4.21.0/vis.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/dist/sweetalert.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/dist/sweetalert.css" rel="stylesheet" type="text/css" />

    <style>
        body, html {
            font-family: arial, sans-serif;
            font-size: 11pt;
        }

        #visualization {
            box-sizing: border-box;
            width: 100%;
            height: 300px;
        }

        div.vis-readonly,
        div.vis-readonly.vis-selected {
            /* custom styling for readonly items... */
            background-color: #ff4500;
            border-color: red;
            color: white;
        }

        .vis-item.vis-background.negative {
            background-color: rgba(255, 0, 0, 0.2);
        }

        .vis-item .vis-item-overflow {
            overflow: visible;
        }

        .vis-item.daConfermare {
            background-color: orange;
            border-color: darkorange;
            /*color: white;*/
        }
        .vis-item.confermata {
            background-color: greenyellow;
            border-color: green;
        }
        .room {
            font-weight: bold;
        } 

    </style>

</head>
<body>
    <h1>TestInstrumentsBooking</h1>
    <a href="#" onclick="carica1()">carica 1</a>
    <a href="#" onclick="carica2()">carica 2</a>
    <br />
    <hr />
    <div class="row">
        <div id="visualization"></div>
    </div>
    <div class="row" style="margin-top: 400px">
        <div id="log"></div>
    </div>

    <script>
        var container = document.getElementById('visualization');

        var now = moment().minutes(0).seconds(0).milliseconds(0);
        var itemCount = 10;

        // create a data set with groups
        var groups = new vis.DataSet();
        // ROOMS
        groups.add([
            {
                id: "ROOM_2_ELITechGroup Spa - Torino QC Lab. (Stanza PCR)",
                content: "ELITechGroup Spa - Torino QC Lab. (Stanza PCR)",
                nestedGroups: ["2071502B0025E", "2071611B0150E"],
                className: "room"
            },
            {
                id: "ROOM_3_ELITechGroup Spa - Torino R & D Lab. (Stanza Estrazioni)",
                content: "ELITechGroup Spa - Torino R & D Lab. (Stanza Estrazioni)",
                nestedGroups: ["2071403B0013E", "2071411B0019E", "2071505B0029E", "2071603B0074E", "2071708B0226E"],
                showNested: true,
                className: "room"
            },
            {
                id: "ROOM_5_ELITechGroup Spa - Training Center MDx",
                content: "ELITechGroup Spa - Training Center MDx",
                nestedGroups: ["2071411B0018E", "2071704B0169E"],
                showNested: true,
                className: "room"
            },
        ]);
        // INSTRUMENTS
        groups.add([
            {
                id: "2071502B0025E",
                content: "2071502B0025E"
            },
            {
                id: "2071611B0150E",
                content: "2071611B0150E",
            },
            {
                id: "2071403B0013E",
                content: "2071403B0013E",
            },
            {
                id: "2071411B0019E",
                content: "2071411B0019E",
            },
            {
                id: "2071505B0029E",
                content: "2071505B0029E",
            },
            {
                id: "2071603B0074E",
                content: "2071603B0074E",
            },
            {
                id: "2071708B0226E",
                content: "2071708B0226E",
            },
            {
                id: "2071411B0018E",
                content: "2071411B0018E",
            },
            {
                id: "2071704B0169E",
                content: "2071704B0169E",
            },
        ]);


        // create a dataset with items
        //var items = new vis.DataSet();
        var groupIds = groups.getIds();
        //var types = ['box', 'point', 'range', 'background']
        var bEditable = false;
        //for (var i = 0; i < itemCount; i++) {
        //    var start = now.clone().add(Math.random() * 200, 'hours');
        //    var end = start.clone().add(3, 'hours');
        //    var randomGroupId = groupIds[Math.floor(Math.random() * groupIds.length)];
        //    //var type = types[Math.floor(4 * Math.random())]
        //    bEditable = !bEditable;
        //    if (randomGroupId.search("ROOM_") < 0) {
        //        items.add({
        //            id: i,
        //            group: randomGroupId,
        //            content: 'item ' + i,
        //            start: start,
        //            end: end,
        //            //type: type
        //            type: 'range',
        //            editable: bEditable,
        //            title: 'item ' + i + ' visualizzato come tooltip',
        //        });
        //    }
        //}

        // create visualization
        var options = {
            groupOrder: 'content',  // groupOrder can be a property name or a sorting function
            start: Date(),
            end: new Date(2021, 10, 5),  // end is optional
            horizontalScroll: false,
            //zoomable: false,
            //moveable: false
            orientation: { axis: 'both' },

            editable: true,
            onAdd: function (item, callback) {
                if (item.group.search("ROOM_") >= 0) {
                    callback(null);
                    return false;
                }
                console.log(item);
                prettyPrompt('Add item', 'Enter text content for new item:', item.content, function (value) {
                    if (value) {
                        item.content = value;
                        callback(item); // send back adjusted new item
                    }
                    else {
                        callback(null); // cancel item creation
                    }
                });
            },

            onMove: function (item, callback) {
                return false;   // ??
                var title = 'Do you really want to move the item to\n' +
                    'start: ' + item.start + '\n' +
                    'end: ' + item.end + '?';

                prettyConfirm('Move item', title, function (ok) {
                    if (ok) {
                        callback(item); // send back item as confirmation (can be changed)
                    }
                    else {
                        callback(null); // cancel editing item
                    }
                });
            },

            onMoving: function (item, callback) {
                return false;  // ????
                if (item.start < min) item.start = min;
                if (item.start > max) item.start = max;
                if (item.end > max) item.end = max;

                callback(item); // send back the (possibly) changed item
            },

            onUpdate: function (item, callback) {
                if (item.editable == false) {
                    callback(null);
                    return false;
                }
                console.log(item);
                prettyPrompt('Update item', 'Edit items text:', item.content, function (value) {
                    if (value) {
                        item.content = value;
                        callback(item); // send back adjusted item
                    }
                    else {
                        callback(null); // cancel updating the item
                    }
                });
            },

            onRemove: function (item, callback) {
                console.log(item);
                prettyConfirm('Remove item', 'Do you really want to remove item ' + item.content + '?', function (ok) {
                    if (ok) {
                        callback(item); // confirm deletion
                    }
                    else {
                        callback(null); // cancel deletion
                    }
                });
            }

        };

        //var timeline = new vis.Timeline(container, items, groups, options);
        var items = new vis.DataSet();
        var timeline = new vis.Timeline(container);
        timeline.setOptions(options);
        timeline.setGroups(groups);
        timeline.setItems(items);

        function carica1() {
            var items = new vis.DataSet();
            items.add([{
                group: "2071502B0025E",
                content: 'Giovanni Bianchi',
                start: '2021-11-02T10:00',
                end: '2021-11-02T18:00',
                //type: type
                type: 'range',
                editable: true,
                className: 'daConfermare',
                title: 'prenotazione di Giovanni Bianchi',
            }, {
                group: "2071502B0025E",
                content: 'Letterio L.',
                start: '2021-11-03T10:00',
                end: '2021-11-03T18:00',
                //type: type
                type: 'range',
                editable: true,
                title: 'prenotazione di Letterio Lucciano',
            }, {
                group: "2071611B0150E",
                content: 'Taziana L.',
                start: '2021-11-03T08:30',
                end: '2021-11-03T13:00',
                //type: type
                type: 'range',
                editable: true,
                title: 'prenotazione di Taziana',
            }, {
                group: "2071505B0029E",
                content: 'Maria Grazia P.',
                start: '2021-11-02T08:00',
                end: '2021-11-02T13:00',
                //type: type
                type: 'range',
                editable: true,
                title: 'prenotazione di Maria Grazia P.',
            }, {
                group: "2071603B0074E",
                content: 'Marcello P.',
                start: '2021-11-02T14:00',
                end: '2021-11-04T13:00',
                //type: type
                type: 'range',
                editable: true,
                className: 'confermata',
                title: 'prenotazione di Marcello',
            }, {
                group: "2071704B0169E",
                content: 'Cristiana G.',
                start: '2021-11-03T10:00',
                end: '2021-11-03T18:00',
                //type: type
                type: 'range',
                editable: true,
                title: 'prenotazione di Cristiana G.',
            },
            ]);

            // GIORNI FESTIVI ???
            items.add([
                { start: '2021-10-30T00:00', end: '2021-11-01T24:00', type: 'background' }, // no group
                { start: '2021-11-06T00:00', end: '2021-11-07T24:00', type: 'background' }, // no group
                { start: '2021-11-13T00:00', end: '2021-11-14T24:00', type: 'background' }, // no group
                //{ content: 'fest', start: '2021-10-06', end: '2021-01-07', type: 'background' }, // no group
            ]);

            timeline.setItems(items);

            timeline.min = now.clone().add(-2, 'days');
            timeline.max = now.clone().add(+5, 'days');
            timeline.range.options.min = now.clone().add(-30, 'days');
            timeline.range.options.max = now.clone().add(+30, 'days');
            timeline.fit();
        }

        function carica2() {
            var itemCount = 40;

            // create a dataset with items
            var items = new vis.DataSet();
            var groupIds = groups.getIds();
            //var types = ['box', 'point', 'range', 'background']
            var bEditable = false;
            for (var i = 0; i < itemCount; i++) {
                var start = now.clone().add(Math.random() * 200, 'hours');
                var end = start.clone().add(3, 'hours');
                var randomGroupId = groupIds[Math.floor(Math.random() * groupIds.length)];
                //var type = types[Math.floor(4 * Math.random())]
                bEditable = !bEditable;
                if (randomGroupId.search("ROOM_") < 0) {
                    items.add({
                        id: i,
                        group: randomGroupId,
                        content: 'item ' + i,
                        start: start,
                        end: end,
                        //type: type
                        type: 'range',
                        editable: bEditable,
                        title: 'item ' + i + ' visualizzato come tooltip',
                    });
                }
            }

            timeline.setItems(items);

            timeline.min = now.clone().add(-5, 'days');
            timeline.max = now.clone().add(+10, 'days');
            timeline.range.options.min = now.clone().add(-5, 'days');
            timeline.range.options.max = now.clone().add(+30, 'days');
            timeline.fit();
        }

        items.on('*', function (event, properties) {
            logEvent(event, properties);
        });

        function logEvent(event, properties) {
            var log = document.getElementById('log');
            var msg = document.createElement('div');
            msg.innerHTML = 'event=' + JSON.stringify(event) + ', ' +
                'properties=' + JSON.stringify(properties);
            log.firstChild ? log.insertBefore(msg, log.firstChild) : log.appendChild(msg);
        }

        function prettyConfirm(title, text, callback) {
            swal({
                title: title,
                text: text,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55"
            }, callback);
        }

        function prettyPrompt(title, text, inputValue, callback) {
            swal({
                title: title,
                text: text,
                type: 'input',
                showCancelButton: true,
                inputValue: inputValue
            }, callback);
        }
    </script>
</body>
</html>
