﻿
@{
    ViewData["Title"] = "Test Email";
    //ViewData["Message"] = "pagina di prova per configurazione email";
}
<h2>@ViewData["Title"]</h2>
<h3 style="color:red;">@ViewData["Message"]</h3>
<br />

<h3>
    pagina di test che serve per verificare la connessione al email server
    <br />
    <br />
    parametri: cmd
    <br />
    - send: invia una email a 'dariomillone@@yahoo.it'
</h3>



