@model WebApp.Entity.UserEditDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = Model.userName;
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }
    .selected-data,
    .options {
        margin-top: 5px;
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
    }
    .options .caption {
        font-size: 18px;
        font-weight: 500;
    }
    .nomeRuolo {
        font-weight: bold;
    }
    .descRuolo {
        font-size: xx-small;
        word-wrap: break-word;
        max-width: 100%;
        white-space: normal;
    }
</style>

<script type="text/javascript">
    function doSave() {
        $("form").submit();
        return false;
    }
    function setSelectedRoles(data) {
        $("#selectedRoles").val(data.component.option("selectedItemKeys").join("|"));
    }
    function goDownloadFunctionDocumentation() {
        $("#gestione").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#gestione").attr("target", "_blank");
        $("#gestione").submit();
        $("#gestione").attr("target", "");    // Ripristino Target
        return false;
    }
    function goImportCfg() {
        $("#users").dxList("instance").getDataSource().reload();
        $('#MasterUsersPopup').modal('toggle');
    }


</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditPost" id="gestione">
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserRoles">
    <div class="empty_row"></div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-11">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-md-1 text-right">
                @(Html.DevExtreme().Button()
                                        .Icon("fa fa-info-circle")
                                        .Hint("Function Documentation")
                                        .Text("")
                                        .Type(ButtonType.Normal)
                                        .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
        <hr style="margin: 5px;" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="userId" name="id" id="id" />
        <input type="hidden" name="selectedRoles" id="selectedRoles">

        <div class="row">
            <div class="col-md-6">
                <div class="options">
                    <div class="row">
                        <div class="caption col-md-8">Roles</div>
                    </div>
                    <div class="empty_row"></div>
                    <div class="widget-container">
                        @(Html.DevExtreme().List()
                                        .ShowSelectionControls(true)
                                        .SelectionMode(ListSelectionMode.All)
                                        .DataSource(Model.roles)
                                        .KeyExpr("Id")
                                        .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                        .SelectedItemKeys(Model.UserRoles)
                                        .OnInitialized("setSelectedRoles")
                                        .OnSelectionChanged("setSelectedRoles")
                                        .ItemTemplate(@<text>
                                            <div>
                                                <div class="nomeRuolo"><%- Name %></div>
                                                <% if ((Note??'') != '') { %>
                                                <div class="descRuolo"><%- Note %></div>
                                                <% } %>
                                            </div>
                                        </text>)
                        )
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="options">
                    <div class="empty_row"></div>
                    <div class="form-group">
                        <label asp-for="fullName" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input asp-for="fullName" class="form-control" style="max-width:95%;" />
                            <span asp-validation-for="fullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label asp-for="userEmail" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input asp-for="userEmail" class="form-control" style="max-width:95%;" placeholder="Email" />
                            <span asp-validation-for="userEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-push-2">
                            @(Html.DevExtreme().CheckBoxFor(m => m.Master))
                        </div>
                        <div class="col-md-6" style="font-weight: bold">
                            <span>Master</span>
                        </div>
                    </div>
                </div>
                <div class="options">
                    <div class="row">
                        <div class="caption col-md-8">Configuration</div>
                    </div>
                    <div class="empty_row"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country (Default)</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.Country)
                                                .ID("Country")
                                                .DataSource(Model.countries)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Country")
                                                .DisplayExpr("Country")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.countriesLink)
                                                                                .ID("countriesLink")
                                                                                .DataSource(Model.countries)
                                                                                .DisplayExpr("Country")
                                                                                .ValueExpr("Country")
                                                                                .HideSelectedItems(true)
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .Value(Model.countriesLink)
                                                                                .ShowSelectionControls(true)
                                                                                .InputAttr("autocomplete", "true")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyName" class="col-md-3 control-label">Company Name</label>
                        <div class="col-md-9">
                            <input asp-for="CompanyName" class="form-control" style="max-width:100\%;" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Customers</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.customersLink)
                                                                .ID("customersLink")
                                                                .DataSource(Model.customers)
                                                                .DisplayExpr("CompanyName")
                                                                .ValueExpr("CustomerCode")
                                                                .HideSelectedItems(true)
                                                                .SearchEnabled(true)
                                                                .Placeholder("select...")
                                                                .ShowClearButton(true)
                                                                .ShowSelectionControls(true)
                                                                .Value(Model.customersLink)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Commercial Entity</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesLink)
                                                                                .ID("commercialEntitiesLink")
                                                                                .DataSource(Model.CommercialEntities)
                                                                                .DisplayExpr("CommercialEntity")
                                                                                .ValueExpr("CommercialEntity")
                                                                                .HideSelectedItems(true)
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .ShowSelectionControls(true)
                                                                                .Value(Model.commercialEntitiesLink)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Region</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.regionsLink)
                                                                                .ID("regionsLink")
                                                                                .DataSource(Model.regions)
                                                                                .DisplayExpr("Region")
                                                                                .ValueExpr("Region")
                                                                                .HideSelectedItems(true)
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .ShowSelectionControls(true)
                                                                                .Value(Model.regionsLink)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Area</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.Area)
                                                                                .ID("Area")
                                                                                .DataSource(Model.areas)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("Area")
                                                                                .DisplayExpr("Area")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Job Position</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.DepartmentId)
                                                                                .ID("DepartmentId")
                                                                                .DataSource(Model.departments)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("DepartmentId")
                                                                                .DisplayExpr("Description")
                                                                                .Placeholder("select...")
                                                                                .CancelButtonText("Cancel")
                                                                                .SearchPlaceholder("search")
                                                                                .ShowClearButton(true)
                                                                                .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Documental Repository</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.sectionsLink)
                                                                                .ID("sectionsLink")
                                                                                .DataSource(Model.DRSections)
                                                                                .DisplayExpr("Title")
                                                                                .ValueExpr("DRSectionId")
                                                                                .HideSelectedItems(true)
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .Value(Model.sectionsLink)
                                                                                .ShowSelectionControls(true)
                                                                                .InputAttr("autocomplete", "true")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Support Request Types</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.tkSupportTypesLink)
                                                                                .ID("tkSupportTypesLink")
                                                                                .DataSource(Model.TKSupportTypes)
                                                                                .DisplayExpr("Description")
                                                                                .ValueExpr("ID")
                                                                                .HideSelectedItems(true)
                                                                                .SearchEnabled(true)
                                                                                .Placeholder("select...")
                                                                                .ShowClearButton(true)
                                                                                .ShowSelectionControls(true)
                                                                                .Value(Model.tkSupportTypesLink)
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">First Level Approver (Quotation)</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.UserApproval1)
                                                                                .ID("UserApproval1")
                                                                                .DataSource(Model.approvers)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("userId")
                                                                                .DisplayExpr("userName")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Second Level Approver (Quotation)</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.UserApproval2)
                                                                                .ID("UserApproval2")
                                                                                .DataSource(Model.approvers)
                                                                                .ShowPopupTitle(false)
                                                                                .ValueExpr("userId")
                                                                                .DisplayExpr("userName")
                                                                                .Placeholder("select...")
                                                                                .SearchPlaceholder("search")
                                                                                .CancelButtonText("Cancel")
                                                                                .ShowClearButton(true)
                                                                                .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                </div>
                <div>
                    <a href='#' onclick='goImportCfg();' class='fa fa-user-circle-o' title='import configurations and roles'>&nbsp;Import Configurations From Master</a>
                </div>
            </div>
        </div>
    </div>
    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                                    .Icon("save")
                                    .Hint("Save Changes")
                                    .Text("Save")
                                    .Type(ButtonType.Success)
                                    .OnClick("doSave")
            )
        </div>
    </div>
</form>


<div class="modal fade" id="MasterUsersPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Master User</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="widget-container">
                    @(Html.DevExtreme().List()
                            .ID("users")
                            .Height(400)
                            .ShowSelectionControls(true)
                            .PageLoadMode(ListPageLoadMode.ScrollBottom)
                            .SelectionMode(ListSelectionMode.Single)
                            .DataSource(d => d.Mvc().Controller("Users").LoadAction("GetMasterUsers").Key("userId"))
                            .HoverStateEnabled(false)
                            .SearchEnabled(true)
                            .SearchExpr(new[] { "userNameFull" })
                            .ItemTemplate("<div><%= userNameFull %></div>")
                            .NoDataText("No data")
                            .OnSelectionChanged(@<text>
                                function(data) {
                                $("#selectedMasterUser").text(data.addedItems[0].userName);
                                }
                            </text>)
                    )
                    <span id="selectedMasterUser" hidden></span>
                </div>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <div class="col-md-8">
                    @(Html.DevExtreme().SelectBox().ID("ImportCfgOpt")
                                    .DataSource(new[] {
                                            Lookup.User_CfgOpt_All,
                                            Lookup.User_CfgOpt_Roles,
                                            Lookup.User_CfgOpt_Configuration,
                                    })
                                    .Value(Lookup.User_CfgOpt_All)
                    )
                </div>
                <div class="col-md-4">
                    <input type="button" onclick="eseguiImportCfg();" value="Confirm" class="btn btn-success btn-block center-block" />
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function eseguiImportCfg() {
        var selected = $('#selectedMasterUser').text();
        if ((selected || "") != "") {
            $("#gestione").append('<input type="hidden" name="userId" value="@Model.userId" /> ');
            $("#gestione").append('<input type="hidden" name="masterName" value="' + selected + '" /> ');
            $("#gestione").append('<input type="hidden" name="option" value="' + $("#ImportCfgOpt").dxSelectBox("instance").option('value') + '" /> ');
            $("#gestione").attr("action", '@Url.Action("ImportFromMaster")');
            $("#gestione").submit();
        }
        return false;
    }

</script>