@model WebApp.Entity.UsersIndexDTO
@using WebApp.Classes

<div class="long-title"><h3>Users</h3></div>

<script type="text/javascript">
    function goEdit(id) {
        $("form").attr("action", "/Users/Edit/" + id);
        $("form").attr("method", "GET");
        $("form").submit();
        return false;
    }

    function goLock(id) {
        bootbox.confirm("Do you wish to change status?", function (result) {
            if (result) {
                $("form").attr("action", "/Users/ChangeStatus/" + id);
                $("form").attr("method", "GET");
                $("form").submit();
                return false;
            }
        });
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;

        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                hint: "Export to Excel",
                onClick: function () {
                    $("#grid-container").dxDataGrid("instance").exportToExcel();
                    return false;
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-info-circle",
                hint: "Function Documentation",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
                    $("#elenco").attr("target", "_blank");
                    $("#elenco").submit();
                    $("#elenco").attr("target", "");    // Ripristino Target
                    return false;
                }
            }
        });
    }

    //function OnExporting(e) {
    //    e.component.beginUpdate();
    //    e.component.columnOption("userId", "visible", true);
    //}
    //function OnExported(e) {
    //    e.component.columnOption("userId", "visible", false);
    //    e.component.endUpdate();
    //}

    function onValueChange_ShowLocked(data) {
        $("form").submit();
    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserRoles">
    <div class="row">
        <div class="form-horizontal" id="divFilters">
            <div class="form-group">
                <div class="col-md-3">
                    @(Html.DevExtreme().CheckBoxFor(model => model.showLockedUsers).Text("Show Locked Users").ID("ShowLockedUsers")
                            .OnValueChanged("onValueChange_ShowLocked"))

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="margin-right: 10px;">
                @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                            .DataSource(Model.users)
                            .Columns(c =>
                            {   c.Add().DataField("userId").Width(150).Caption("Id").Visible(false);
                                c.Add().DataField("userName").Width(150).Caption("User Id").Fixed(true).FixedPosition(HorizontalEdge.Left);
                                c.Add().DataField("fullName").Width(200).Caption("Name");
                                c.Add().DataField("userEmail").Width(250);
                                c.Add().DataField("Customer").Width(150);       // CompanyName
                                c.Add().DataField("Country").Width(150).CellTemplate(@<text><span style="white-space: pre-line"><%= value %></span></text>);
                                c.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width(200)
                                            .CellTemplate(@<text><span style="white-space: pre-line"><%= value %></span></text>);
                                c.Add().DataField("ruoli").Caption("Roles").Width(350)
                                            .CellTemplate(@<text><span style="white-space: pre-line"><%= value %></span></text>);
                                c.Add().DataField("Department").Caption("Job Position").Width(150);
                                c.Add().DataField("TmstLastActivityDeco").Width(100).Caption("Last Activity").HeaderCellTemplate(@<text>Last<br />Activity</text>)
                                            .CalculateSortValue("TmstLastActivitySort").Alignment(HorizontalAlignment.Center);                                    
                                c.Add().DataField("DateInseDeco").Width(100).Caption("Registration").CalculateSortValue("DateInseSort").Alignment(HorizontalAlignment.Center);
                                c.Add().DataField("locked").Width(100)
                                            .Alignment(HorizontalAlignment.Center)
                                            .HeaderCellTemplate(@<text>Status</text>);
                                c.Add().Alignment(HorizontalAlignment.Center)
                                            .Width(70)
                                            .DataField("userId")
                                            .AllowFiltering(false)
                                            .AllowSorting(false)
                                            .AllowEditing(false)
                                            .AllowExporting(false)
                                            .Caption("")
                                            .Fixed(true)
                                            .FixedPosition(HorizontalEdge.Right)
                                            .CellTemplate(@<div>
                                                <a href="#" onclick="goEdit('<%= value %>');" class="dx-icon-edit" title="Edit"></a>
                                                <a href="#" onclick="goLock('<%= value %>');" class="glyphicon glyphicon-lock" title="Change Status"></a>
                                            </div>);
                            })
                    .Export(e => e.Enabled(false).FileName("Users").AllowExportSelectedData(false))
                    //.OnExporting("OnExporting")
                    //.OnExported("OnExported")
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .OnToolbarPreparing("toolbar_preparing")
                    .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto))
                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("elenco_utenti"))
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .AllowColumnReordering(true)
                    .AllowColumnResizing(true)
                    .ColumnResizingMode(ColumnResizingMode.Widget)
                    .ColumnAutoWidth(true)
                    .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
            )
            </div>
        </div>
    </div>
}
<br />
