
@{
    ViewData["Title"] = "Roles";
}

<div class="long-title"><h3>@ViewData["Title"]</h3></div>

<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function Data_Error(e) {
        errorMessage = e.error.message;
    }
</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                        .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            //.HoverStateEnabled(false)
                            .RowAlternationEnabled(true)
                            //.AllowColumnResizing(true)
                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Batch);
                                editing.AllowUpdating(true);

                            })
                            .DataSource(d => d.Mvc().Controller("Users").LoadAction("GetRoles").UpdateAction("UpdateRoles").Key("Id"))
                            .RemoteOperations(true)
                            .WordWrapEnabled(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("Name").Caption("Role").AllowEditing(false).Width("25%");
                                columns.Add().DataField("Note").Caption("Note / Description").AllowEditing(true).Width("65%");
                                columns.Add().DataField("Progr").Caption("OrderBy").AllowEditing(true).Width("10%").Alignment(HorizontalAlignment.Center);
                            })
                            .OnDataErrorOccurred("Data_Error")
                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                            .LoadPanel(l => l.Enabled(true).Height(70))
                            .Export(e => e.Enabled(true).FileName("Roles"))
                            .Paging(p => p.Enabled(false))
            )
        </div>
    </div>
    <br />
</form>
