﻿@model WebApp.Entity.CreateRnDExtractionDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Create New R&D Analysis";
}

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesSel));
    var selCity = '@Model.City';
    var selCustomerCode = @Html.Raw(Json.Serialize(Model.customersSel));
    var selSiteCode = '@Model.SiteCode';
    var selCommercialEntity = @Html.Raw(Json.Serialize(Model.commercialEntitiesSel));
    var selRegion = '@Model.Region';
    var selArea = '@Model.Area';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            refreshCity('@Model.City');
            refreshSite('@Model.SiteCode');
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            //console.log("Country_valueChanged " + newValue);
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            //console.log("City_valueChanged " + newValue);
            selCity = newValue;
            $("#City").val(selCity);
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            //console.log("Customer_valueChanged " + newValue);
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument();
        }
    }

    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            //console.log("Site_valueChanged " + newValue);
            selSiteCode = newValue;
            $("#SiteCode").val(selSiteCode);
            refreshInstrument();
        }
    }

    function Region_valueChanged(e) {
        var newValue = (e.value || '');
        if (selRegion != newValue) {
            selRegion = newValue;
            refreshInstrument();
        }
    }

    function Area_valueChanged(e) {
        var newValue = (e.value || '');
        if (selArea != newValue) {
            selArea = newValue;
            refreshInstrument();
        }
    }

    function CommercialEntity_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCommercialEntity != newValue) {
            selCommercialEntity = newValue;
            refreshInstrument();
        }
    }

    function refreshCity(valore) {
        //console.log("refreshCity - " + valore + " -selCity:" + selCity);
        var selectBox = $("#CityLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function refreshCustomer(valore) {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        //console.log("refreshCustomer - " + selectedCurr);
        var selectedNew = [];
        var ds = tagBox.getDataSource().load().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshSite(valore) {
        //console.log("refreshSite - " + valore);
        var selectBox = $("#SiteLookup").dxLookup("instance");
        selectBox.option('disabled', true);
        selectBox.option('value',  '');
        if ('' != (selCustomerCode || '')) {
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.load().done(function (result) {
                selectBox.option('value', (valore || ''));
                selectBox.option('disabled', false);
            });
        } else {
            selectBox.option('value', (valore || ''));
        }
    }
    function refreshInstrument(valore) {
        //console.log("refreshInstrument - " + valore);
        var dataGrid = $("#grid-instruments").dxDataGrid("instance");
        var ds = dataGrid.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            dataGrid.option('value', (valore || ''));
            dataGrid.clearSelection();
        });
    }
    @*function goSubmit(opt) {
        alert("submit");
        $("#opt").val(opt || '');
        $("#create").attr("action", '@Url.Action("AssaysUtilization", "Dashboard")');
        $("#create").submit();
        return false;
    }*@

    function doSave() {
        var from = $("#DateFrom").dxDateBox("instance").option('value');
        var to = $("#DateTo").dxDateBox("instance").option('value');
        if (from == null || to == null) {
            bootbox.alert("The Period fields are required");
            return false;
        }
        if (from > to) {
            bootbox.alert("The end date must be greater or equal than the start date. ");
            return false;
        }
        var dataGrid = $("#grid-instruments").dxDataGrid("instance");
        dataGrid.getSelectedRowKeys().done(function (rowData) {
            if (rowData.length == 0) {
                bootbox.alert("No records selected");
                return false;
            } 
            bootbox.confirm("You have selected " + rowData.length + " instruments. Continue?", function (result) {
                if (result) {
                    $("#intrumentsSelJSON").val(rowData.join("|"));
                    $("#create").submit();
                }
            });
        });
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="IndexRnD" class="goback">goback</a>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create" }))
{

    <h4>@ViewData["Title"]</h4>
    <hr />

    @*@Html.Hidden("opt");*@
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.intrumentsSelJSON);
    <div id="main">
        <div class="container well">
            <section id="filtri">
                <div id="filter">
                    <div class="option col-md-4">
                        <span>Period</span>
                        @(Html.DevExtreme().DateBoxFor(m => m.DateFrom)
                                                            .ID("DateFrom")
                                                            .Width("100%")
                                                            .Min("2000/01/01")
                                                            .Max("2999/12/31")
                        )
                    </div>
                    <div class="col-md-4">
                        <span>&nbsp;</span>
                        @(Html.DevExtreme().DateBoxFor(m => m.DateTo)
                                                        .ID("DateTo")
                                                        .Width("100%")
                                                        .Min("2000/01/01")
                                                        .Max("2999/12/31")
                        )
                    </div>
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <span>Country</span>
                        @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                                        .ID("countriesSel")
                                                        .DataSource(Model.countries)
                                                        .DisplayExpr("Country")
                                                        .ValueExpr("Country")
                                                        .SearchEnabled(true)
                                                        .Placeholder("select...")
                                                        .ShowClearButton(true)
                                                        .Value(Model.countriesSel)
                                                        .InputAttr("autocomplete", "true")
                                                        .OnValueChanged("Country_valueChanged")
                        )
                    </div>
                    <div class="col-md-4">
                        <span>City</span>
                        @Html.HiddenFor(model => model.City)
                        @(Html.DevExtreme().Lookup()
                                                        .ID("CityLookup")
                                                        .DataSource(d => d.Mvc().Controller("Customers")
                                                                            .LoadAction("getCities")
                                                                            .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                            .Key("City")
                                                                    )
                                                        .DataSourceOptions(o => o.PageSize(999))
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("City")
                                                        .DisplayExpr("City")
                                                        .Placeholder("select...")
                                                        .SearchPlaceholder("search")
                                                        .CancelButtonText("Cancel")
                                                        .ShowClearButton(true)
                                                        .ShowCancelButton(false)
                                                        .ClearButtonText("Remove Selection")
                                                        .OnValueChanged("City_valueChanged")
                        )
                    </div>

                    <div class="col-md-8">
                        <span>Customer</span>
                        @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                                                .ID("customersSel")
                                                                .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                                                        .LoadParams(new
                                                                                        {
                                                                                            Country = new JS("function() { return selCountry; }"),
                                                                                            City = new JS("function() { return selCity; }")
                                                                                        }).Key("CustomerCode"))
                                                                .DataSourceOptions(o => o.PageSize(999))
                                                                .ValueExpr("CustomerCode")
                                                                .DisplayExpr("CompanyName")
                                                                .SearchEnabled(true)
                                                                .Placeholder("select...")
                                                                .ShowClearButton(true)
                                                                .Value(Model.customersSel)
                                                                .OnValueChanged("Customer_valueChanged")
                        )
                    </div>
                    <div class="col-md-4">
                        <span>Site</span>
                        @Html.HiddenFor(model => model.SiteCode)
                        @(Html.DevExtreme().Lookup()
                                                        .ID("SiteLookup")
                                                        .Disabled(true)
                                                        .DataSource(d => d.Mvc().Controller("Customers")
                                                                    .LoadAction("GetSites")
                                                                    .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                                    .Key("SiteCode")
                                                                    )
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("SiteCode")
                                                        .DisplayExpr("SiteDescription")
                                                        .Placeholder("select...")
                                                        .SearchPlaceholder("search")
                                                        .CancelButtonText("Cancel")
                                                        .ShowClearButton(true)
                                                        .ShowCancelButton(false)
                                                        .ClearButtonText("Remove Selection")
                                                        .OnValueChanged("Site_valueChanged")
                        )
                    </div>
                    <div class="col-md-6">
                        <span>Region</span>
                        @(Html.DevExtreme().LookupFor(m => m.Region)
                                        .ID("Region")
                                        .DataSource(Model.regions)
                                        .ShowPopupTitle(false)
                                        .ValueExpr("Region")
                                        .DisplayExpr("Region")
                                        .Placeholder("select...")
                                        .SearchPlaceholder("search")
                                        .CancelButtonText("Cancel")
                                        .ShowClearButton(true)
                                        .ShowCancelButton(false)
                                        .ClearButtonText("Remove Sel.")
                                        .Disabled(Model.lockRegion)
                                        .OnValueChanged("Region_valueChanged")
                        )
                    </div>
                    <div class="col-md-6">
                        <span>Area</span>
                        @(Html.DevExtreme().LookupFor(m => m.Area)
                                        .ID("Area")
                                        .DataSource(Model.areas)
                                        .ShowPopupTitle(false)
                                        .ValueExpr("Area")
                                        .DisplayExpr("Area")
                                        .Placeholder("select...")
                                        .SearchPlaceholder("search")
                                        .CancelButtonText("Cancel")
                                        .ShowClearButton(true)
                                        .ShowCancelButton(false)
                                        .ClearButtonText("Remove Sel.")
                                        .Disabled(Model.lockArea)
                                        .OnValueChanged("Area_valueChanged")
                        )
                    </div>
                    <div class="col-md-12">
                        <span>Commercial Entity</span>
                        @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                                        .ID("commercialEntitiesSel")
                                                        .DataSource(Model.commercialEntities)
                                                        .DisplayExpr("CommercialEntity")
                                                        .ValueExpr("CommercialEntity")
                                                        .SearchEnabled(true)
                                                        .Placeholder("select...")
                                                        .ShowClearButton(true)
                                                        .Value(Model.commercialEntitiesSel)
                                                        .OnValueChanged("CommercialEntity_valueChanged")
                        )
                    </div>
                </div>
            </section>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                                        .ID("grid-instruments")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        //.HoverStateEnabled(true)
                                        .RowAlternationEnabled(false)
                                        .AllowColumnResizing(false)
                                        .DataSource(d => d.Mvc().Controller("Customers").LoadAction("GetInstruments")
                                                    .LoadParams(new
                                                    {
                                                        CustomerCode = new JS("function() { return selCustomerCode; }"),
                                                        SiteCode = new JS("function() { return selSiteCode; }"),
                                                        Country = new JS("function() { return selCountry; }"),
                                                        City = new JS("function() { return selCity; }"),
                                                        CommercialEntity = new JS("function() { return selCommercialEntity; }"),
                                                        Region = new JS("function() { return selRegion; }"),
                                                        Area = new JS("function() { return selArea; }")
                                                    })
                                                    .Key("SerialNumber")
                                                    )
                                        .RemoteOperations(true)
                                        .Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(true).SelectAllMode(SelectAllMode.AllPages).Deferred(true))
                                        .AllowColumnResizing(true)
                                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("SerialNumber").SortOrder(SortOrder.Asc).Width("12%");
                                            columns.Add().DataField("CompanyName").Caption("Company");
                                            columns.Add().DataField("SiteDescription").Caption("Site");
                                            columns.Add().DataField("SiteCity").Caption("City").Width("15%");
                                            columns.Add().DataField("SiteCountry").Caption("Country").Width("15%");
                                            columns.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width("15%");
                                            columns.Add().DataField("Region").Caption("Region").Width("10%");
                                            columns.Add().DataField("Area").Caption("Area").Width("10%");
                                        })
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                        .Paging(p => p.PageSize(10))
                                        .Pager(pager =>
                                        {
                                            pager.ShowPageSizeSelector(true);
                                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                            pager.ShowInfo(true);
                                            pager.InfoText("page {0} of {1} ({2} records)");
                                            pager.ShowNavigationButtons(true);
                                        })
                                        .ErrorRowEnabled(true)
                                        .OnDataErrorOccurred("function (e) { console.log(e); }")
                //.Export(e => e.Enabled(fals).FileName("RnD_Analysis").AllowExportSelectedData(false))
                //.OnToolbarPreparing("toolbar_preparing")
                )
                <div class="empty_row">&nbsp;</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                                .Icon("save")
                                                .Hint("Create New Request")
                                                .Text("Create")
                                                .Type(ButtonType.Success)
                                                .OnClick("doSave")
                    )
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="IndexRnD" class="goback">goback</a>
    </div>
}

