@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "R&D Analysis";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">


    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_RnDExtractions.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.20;
    }

    .status-NEW {
        background-color: white;
    }

    .status-ERROR {
        background-color: #f2dede;
        color: #a94442;
    }

    .status-READY {
        background-color: #dff0d8;
        color: #3c763d;
    }

    .cmdDetail {
        font-size: 18px;
    }

    .dx-datagrid-nowrap {
        white-space: normal;
    }

    .cmdDelete {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
</style>
<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "add",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("CreateRnDExtraction")');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        });
    }

    function selection_changed(selectedItems) {
        //var data = selectedItems.selectedRowsData[0];
        //if (data) {
        //    goDetail(data.claimId);
        //}
        getDataGridInstance().clearSelection();
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('status-' + info.data.status);
        }
    }

    function onCellPrepared(options) {

        if (options.rowType == 'data' && options.column.name && options.column.name == "download") {
            var fieldHtml = "";
            if ((options.row.data.fileNameDownload || '') != '') {
                fieldHtml += "<a href='#' onclick='goDownload(" + options.value + ");' class='	fa fa-file-excel-o cmdDetail' title='Download'></a>";
            }
            options.cellElement.html(fieldHtml);
        }
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "<a href='#' onclick='goDelete(" + options.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            options.cellElement.html(fieldHtml);
        }
        if (options.rowType == "detail") {
            var myhtml = "";
            if ((options.data.noteExec || "") != "") {
                var classStato = "text-default";
                if (options.data.status == '@Lookup.Claim_Status_ERROR') {
                    classStato = "text-danger";
                }
                myhtml = '<p class="dett-value ' + classStato + '">' + options.data.noteExec + '</p>';
            }
            options.cellElement.html(myhtml);
        }
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
    function goDownload(id) {
        $("#elenco").attr("action", '@Url.Action("DownloadFile")/' + id);
        $("#elenco").submit();
        return false;
    }


    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="RequestId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("Delete")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").append('<input type = "hidden" name = "functionName" id="functionName" value = "@(Lookup.Function_Documentation_RnDExtractions)"/>');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                        .Icon("fa fa-info-circle")
                                        .Hint("Function Documentation")
                                        .Text("")
                                        .Type(ButtonType.Normal)
                                        .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <br />
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                                        .ID("loadPanel")
                                        .ShadingColor("rgba(0,0,0,0.4)")
                                        .Visible(false)
                                        .ShowIndicator(true)
                                        .ShowPane(true)
                                        .Shading(false)
                                        .CloseOnOutsideClick(true)
                                        .OnShown("loadPanel_shown")
        )
        @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    //.HoverStateEnabled(true)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(false)
                                    .DataSource(d => d.WebApi().Controller("Extractions").LoadAction("GetRnDExtractions").Key("Id"))
                                    .RemoteOperations(true)
                                    .OnCellPrepared("onCellPrepared")
                                    .OnRowPrepared("OnRowPrepared")
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .OnSelectionChanged("selection_changed")
                                    .AllowColumnResizing(true)
                                    //.ColumnResizingMode(ColumnResizingMode.NextColumn)
                                    .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Id").Visible(false).SortOrder(SortOrder.Desc);
                                        columns.Add().DataField("paramsRnD.dateFromDeco").Caption("Date From").CalculateSortValue("paramsRnD.dateFromSort");
                                        columns.Add().DataField("paramsRnD.dateToDeco").Caption("Date To").CalculateSortValue("paramsRnD.dateToSort");
                                        columns.Add().DataField("paramsRnD.instrumentData.serialNumberInfo").Caption("Instrument").Width("30%");
                                        columns.Add().DataField("paramsRnD.instrumentData.siteCity").Caption("City").Width("10%");
                                        columns.Add().DataField("paramsRnD.instrumentData.commercialEntity").HeaderCellTemplate(@<text>Commercial<br />Entity</text>).Width("10%");
                                        columns.Add().DataField("tmstInseDeco").HeaderCellTemplate("Date/Time<br/>Request").CalculateSortValue("tmstInseSort")
                                                                               .SortOrder(SortOrder.Desc).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("userInse").Caption("User Request");
                                        columns.Add().DataField("status").Caption("Status").Alignment(HorizontalAlignment.Center).Width("5%");
                                        columns.Add().Alignment(HorizontalAlignment.Center).Width("4%").DataField("id").Caption("")
                                                     .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                     .Name("download");
                                        columns.Add().Alignment(HorizontalAlignment.Center).Width("4%").DataField("id").Caption("")
                                                    .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                    .Name("cmd");
                                    })
                                    .MasterDetail(md =>
                                        {
                                            md.Enabled(false).AutoExpandAll(true).Template(@<text><div class="row">info detail</div></text>);
                                        })
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(true).FileName("RnD_Analysis").AllowExportSelectedData(false))
                                    .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
}
