@model IEnumerable<WebApp.Entity.TrainingLog>

<div id="TrainingLog">
    @(Html.DevExtreme().DataGrid()
                            .ID("grid-log")
                            .ShowRowLines(true)
                            .HoverStateEnabled(true)
                            .RowAlternationEnabled(true)
                            .AllowColumnResizing(true)
                            .ShowBorders(true)
                            .ColumnResizingMode(ColumnResizingMode.Widget)
                            .DataSource(Model)
                            //.FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                            .SearchPanel(sp => sp.Visible(true).Width(300))
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                            .Columns(columns =>
                            {
                                columns.Add().DataField("TmstLastUpdDeco").Caption("At").SortOrder(SortOrder.Asc).CalculateSortValue("TmstLastUpdSort").Width(150);
                                columns.Add().DataField("UserLastUpd").Caption("User").Width(100);
                                columns.Add().DataField("Note");
                                columns.Add().DataField("TrainingRegistration.FullName").Width(150).Caption("Participant");
                                columns.Add().DataField("EventId").Width(120).Caption("Code");
                            })
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                            .Export(e => e.Enabled(true).FileName("TrainingJournal").AllowExportSelectedData(false))
                            .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
    )
</div>
