@using WebApp.Classes

@{
    ViewData["Title"] = "Distribution List";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }
    /*div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }*/

    .cmdRemove {
        font-size: 18px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "add",
                    onClick: function () {
                        $("#list").attr("action", '@Url.Action("AddParticipantDL")');
                        $("#list").submit();
                        return false;
                    }
                }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-eye-slash",
                hint: "Remove column filters",
                name: "removeFilters",
                onClick: function () {
                    $("#grid-container").dxDataGrid("clearFilter", "row");
                    return false;
                },
                onInitialized: function (evt) {
                    removeButton = evt.component;
                }
            }
        });
    }

    var goRemove = function (id) {
        bootbox.confirm("Do you wish to remove it from Distribution List ?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("RemoveFromDistributionList")',
                    data: { TrainingRegistrationId: id },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                }).always(function () {
                    getDataGridInstance().refresh();
                });
            }
        });
        return false;

    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "list" }))
{
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="container">
        @Html.AntiForgeryToken()
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(true)
                                .RowAlternationEnabled(true)
                                .AllowColumnResizing(true)
                                .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetDistributionList"))
                                .RemoteOperations(true)
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .Columns(columns =>
                                {
                                columns.Add().DataField("FullName").Caption("Participant").SortOrder(SortOrder.Asc).Width("20%");
                                columns.Add().DataField("EmailAddress").Caption("Email").Width("15%");
                                columns.Add().DataField("MobileNumber").Caption("Mobile Number").Width("15%");
                                columns.Add().DataField("CountryId").Caption("Country").Width("12%");
                                columns.Add().DataField("CompanyName").Caption("Company").Width("12%");
                                columns.Add().DataField("Training.TrainingType.Description").Caption("Training Type").Width("20%");
                                columns.Add().DataField("TypeOfParticipant").Caption("Type of Participant").Width("15%");
                                columns.Add()
                                        .Alignment(HorizontalAlignment.Center)
                                        .Width(80)
                                        .DataField("TrainingRegistrationId")
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .Caption("")
                                        .CellTemplate(@<div>
                                                    <a href="#" onclick="goRemove('<%= value %>');" class="glyphicon glyphicon-remove-circle cmdRemove" title="Remove from Distribution List"></a>
                                                </div>);
                                    })
                                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                {
                                    pager.ShowPageSizeSelector(true);
                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
                                .Export(e => e.Enabled(false).FileName("DistributionList").AllowExportSelectedData(false))
                                .OnToolbarPreparing("toolbar_preparing")
            )
        </div>
    </div>
}