@model WebApp.Entity.EditTrainingDTO
@using WebApp.Classes;
@using Microsoft.AspNetCore.Http;
@using WebApp.Entity;

@{
    if (Model.TrainingId == 0)
    {
        ViewData["Title"] = "Create New Training";
    }
    else
    {
        ViewData["Title"] = string.Format("Edit Training [{0}] - {1}", Model.TrainingId, Model.Status);
    }
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">
    label {
        margin-bottom: 2px;
    }
</style>
<script type="text/javascript">

    // Funzioni JQuery
    $(function () {

        $(document).ready(function () {
            //
        });
    });

    // funzione JS
    //function check_integer(e) {
    //    var event = e.jQueryEvent,
    //        str = event.key || String.fromCharCode(event.which);

    //    if (/^[\.\,e]$/.test(str))
    //        event.preventDefault();
    //}


    function doSave() {
        var oValidator = $("#form-ges").validate();
        if (oValidator.form() == false) {
            return false;
        }
        var tmp = $("#Title").dxTextBox("instance").option('value');
        if ((tmp || "") == "") {
            bootbox.alert("The Title field is required.");
            return false;
        }
        var tmp = $("#TrainingTypeId").dxSelectBox("instance").option('value');
        if ((tmp || "0") == "0") {
            bootbox.alert("The Training Type field is required.");
            return false;
        }
        var tmp = $("#Location").dxSelectBox("instance").option('value');
        if ((tmp || "") == "") {
            bootbox.alert("The Location field is required.");
            return false;
        }
        var tmp = $("#Trainers").dxTextBox("instance").option('value');
        if ((tmp || "") == "") {
            bootbox.alert("The Trainers field is required.");
            return false;
        }

        $("#form-ges").attr("action", '@Url.Action("Edit")');
        $("#form-ges").submit();
    }

    function goDownload(id) {
        $("#form-ges").attr("action", '@Url.Action("downloadAgenda")/' + id);
        $("#form-ges").submit();
        return false;
    }
    function PeriodFrom_valueChanged(data) {
        var from = new Date(data.value);
        var to = $("#PeriodTo").dxDateBox("instance").option('value');
        //console.log('PeriodFrom_valueChanged - ' + from);
        //console.log('PeriodFrom_valueChanged - ' + to);
        if (from > to) {
            $("#PeriodTo").dxDateBox("instance").option('value', from );
        }
    }
    function PeriodTo_valueChanged(data) {
        var to = new Date(data.value);
        var from = $("#PeriodFrom").dxDateBox("instance").option('value');
        //console.log('PeriodTo_valueChanged - ' + from);
        //console.log('PeriodTo_valueChanged - ' + to);
        if (from > to) {
            $("#PeriodFrom").dxDateBox("instance").option('value', to);
        }
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<h4>@ViewData["Title"]</h4>

<form asp-action="Edit" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.TrainingId)
    @Html.HiddenFor(model => Model.Status)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="form-horizontal">
            <div class="col-md-10 col-sm-12 col-md-push-1 well" style="padding-bottom: 5px;">
                <div class="form-group">
                    <label asp-for="Title" class="col-sm-2 control-label required"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBoxFor(m => m.Title).ID("Title").InputAttr("autocomplete", "true"))
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TrainingType" class="col-sm-2 required control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TrainingTypeId)
                                                .ID("TrainingTypeId")
                                                //.Name("TrainingTypeId")
                                                //.DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetTrainingTypes").Key("TrainingTypeId"))
                                                .DataSource(Model.trainingTypes)
                                                .ValueExpr("TrainingTypeId")
                                                .DisplayExpr("Description")
                                                //.Value(Model.TrainingTypeId)
                                                .Placeholder("select...")
                        )
                        <span asp-validation-for="TrainingType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 required control-label">Period From/To</label>
                    <div class="col-sm-3">
                        @(Html.DevExtreme().DateBoxFor(m => m.PeriodFrom).ID("PeriodFrom").Width("100%")
                                                   .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                   .DisplayFormat("dd/MM/yyyy")
                                                   .OnValueChanged("PeriodFrom_valueChanged"))
                        @*.Min("2000/01/01").Max("2999/12/31").PickerType(DateBoxPickerType.Rollers))*@
                        <span asp-validation-for="PeriodFrom" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        @(Html.DevExtreme().DateBoxFor(m => m.PeriodTo).ID("PeriodTo").Width("100%")
                                                    .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                    .DisplayFormat("dd/MM/yyyy")
                                                    .OnValueChanged("PeriodTo_valueChanged"))
                        @*.Min("2000/01/01").Max("2999/12/31").PickerType(DateBoxPickerType.Rollers))*@
                        <span asp-validation-for="PeriodTo" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        @(Html.DevExtreme().CheckBoxFor(m => m.Reserved).ID("Reserved").Text("Reserved for Internal Only"))
                        <span asp-validation-for="Reserved" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="col-sm-2 required control-label"></label>
                    <div class="col-sm-10">
                        @*@(Html.DevExtreme().TextBoxFor(m => m.Location).ID("Location").InputAttr("autocomplete", "true"))*@
                        @(Html.DevExtreme().SelectBoxFor(m => m.Location)
                                                        .ID("Location")
                                                        .DataSource(Model.trainingLocations)
                                                        .ValueExpr("Id")
                                                        .DisplayExpr("Id")
                                                        .Placeholder("select...")
                        )
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Trainers" class="col-sm-2 required control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextBoxFor(m => m.Trainers).ID("Trainers").InputAttr("autocomplete", "true"))
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HotelId" class="col-sm-2 control-label">Hotel</label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().SelectBoxFor(m => m.HotelId)
                                                        .ID("HotelId")
                                                        //.DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetHotels").Key("hotelId"))
                                                        .DataSource(Model.hotels)
                                                        .ValueExpr("HotelId")
                                                        .DisplayExpr("Description")
                                                        .Placeholder("select...")
                                                        .ShowClearButton(true)
                        )
                        <span asp-validation-for="HotelId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Agenda" class="col-sm-2 control-label"></label>
                    <input type="hidden" asp-for="Agenda" />
                    <div class="col-sm-4">
                        <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                               data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No File">
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.Agenda))
                    {
                        <div class="col-md-6">
                            <label class="form-check-label col-md-4">
                                @Html.CheckBox("RemoveFile")<span>&nbsp;Remove File&nbsp;</span>
                            </label>
                            <div class="col-md-8">
                                <a href="#" onclick="goDownload(@Model.TrainingId);" style="font-size: 14px; word-wrap: break-word; white-space: normal;"
                                   class="btn btn-link btn-xs" title="Download">@Model.Agenda</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @(Html.DevExtreme().TextAreaFor(m => m.Note).ID("Note").InputAttr("rows", "4"))
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="buttons pull-right">
                            @(Html.DevExtreme().Button()
                                            .Icon("save")
                                            .Hint("save")
                                            .Text("save")
                                            .Type(ButtonType.Success)
                                            .OnClick("doSave")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
