@model WebApp.Entity.IndexTrainingDTO
@using WebApp.Classes
@{
    ViewData["Title"] = "Trainings";
    string titolo = ViewData["Title"].ToString();
    //bool bShowArchived = false;
    //if (ViewData["bShowArchived"] != null)
    //{
    //    bShowArchived = (bool)ViewData["bShowArchived"];
    //}
    //bool bShowDeleted = false;
    //if (ViewData["bShowDeleted"] != null)
    //{
    //    bShowDeleted = (bool)ViewData["bShowDeleted"];
    //}
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    .status-NEW {
        color: brown;
        font-weight: bold;
    }

    .status-PUBLISHED {
        color: green;
        font-weight: bold;
    }

    .status-CLOSED {
        font-weight: bold;
        color: darkblue;
    }

    .status-ARCHIVED {
        /*color: darkblue;*/
    }

    .status-DELETED {
        color: dimgray;
        /*text-decoration: line-through;*/
    }

    .cmdEdit {
        font-size: 18px;
    }

    .cmdSelect {
        font-size: 18px;
    }

    .BoxAction {
        display: table;
        min-height: 35px;
        white-space: normal;
        text-align: center;
    }

    .MsgAction {
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
    }

    .infoParticipantAction {
        font-size: 18px;
        font-weight: bold;
    }

    #MasterPopup .dx-button-text {
        font-size: 20px;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-lines .NewReg {
        color: red;
    }

    .NewReg {
        color: red;
    }
</style>
<script type="text/javascript">

    var selTrainingId = 0;
    var selTrainingRegistrationId = 0;
    var jsDeleted = false;
    var jsArchived = false;
    var jsShowCommand = true;
    var btnRemoveFilters = null;
    if ('@Model.bShowDeleted'.toLowerCase() == 'true') jsDeleted = true;
    if ('@Model.bShowArchived'.toLowerCase() == 'true') jsArchived = true;
    if (('@Model.trainingIdPreSel' || '') != '') jsShowCommand = false;
   
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            initEmailBodyField('EmailBody', 200);
            initEmailBodyField('GenericEmailBody', 200);
            if (('@Model.trainingIdPreSel' || '') != '') {
                $("#grid-container").dxDataGrid("clearFilter", "row");
                getDataGridInstance().columnOption('TrainingId', 'filterValue', @Model.trainingIdPreSel);
                getDataGridInstance().refresh();
                $("#gotoPartecipantList").show();
            }
        });
    });

    $('#openBtn').click(function () {
        $('#myModal').modal({ show: true })
    });

    var OnContentReady = function (e) {
        var filters = getDataGridInstance().getCombinedFilter();
        btnRemoveFilters.option("type", "normal");
        if (filters) {
            btnRemoveFilters.option("type", "success");
        }
    }

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function getDataGridRegistrationsInstance(Id) {
        //var myGrid = $("#registration_" + Id + " #grid-registrations");
        //return myGrid.dxDataGrid("instance");
        return $("#grid-registrations_" + Id).dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "add",
                    visible: (jsShowCommand || false),
                    onClick: function () {
                        $("#list").attr("action", '@Url.Action("Edit")');
                        $("#list").submit();
                        return false;
                    }
                }
            }, {
                location: "before",
                widget: "dxCheckBox",
                options: {
                    value: (jsDeleted || false),
                    text: "Show Deleted Items",
                    visible: (jsShowCommand || false),
                    onValueChanged: function (data) {
                        jsDeleted = data.value;
                        aggiornaFiltri();
                    }
                }
            }, {
                location: "before",
                widget: "dxCheckBox",
                options: {
                    value: (jsArchived || false),
                    text: "Show Archived Items",
                    visible: (jsShowCommand || false),
                    onValueChanged: function (data) {
                        jsArchived = data.value;
                        aggiornaFiltri();
                    }
                }
            }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "fa fa-eye-slash",
                    hint: "Remove column filters",
                    name: "removeFilters",
                    visible: (jsShowCommand || false),
                    onClick: function () {
                        $("#grid-container").dxDataGrid("clearFilter", "row");
                        //getDataGridInstance().option("filterRow.visible", true);
                        return false;
                    },
                    onInitialized: function (evt) {
                        btnRemoveFilters = evt.component;
                    }
                }
        });
    }
    function goEdit(Id) {
        $("#list").attr("action", '@Url.Action("Edit")/' + Id);
        $("#list").submit();
        return false;
    }

    function goEditRegistration(Id) {
        $("#list").append('<input type="hidden" name="TrainingRegistrationId" value="' + Id + '" /> ');
        $("#list").attr("action", '@Url.Action("EditRegistration")');
        $("#list").submit();
        return false;

    }

    function goSetAsFilter(Id) {
        getDataGridInstance().columnOption('TrainingId', 'filterValue', Id);
        getDataGridInstance().refresh();
    }

    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Delete")', "Training Deleted!");
            }
        });
        return false;
    }

    function goSendGenericEmail(Id) {

        if (Id != $("#GenericTrainingId").val()) {
            $("#GenericEmailTemplateId").dxSelectBox("instance").option("value", "");
            $('#GenericEmailSubject').val("");
            $('#GenericEmailBody').summernote("code", "");
            $("#GenericEmailTemplateId").dxSelectBox("instance").getDataSource().reload();
        }
        $("#GenericTrainingId").val(Id);
        $('#PopupGenericEmail').modal('show');
        return false;
    }

    function doPublish(Id) {
        bootbox.confirm({
            title: "Do you wish to publish it ?",
            message: "Training Registrations are opened.",
            callback: function(result) {
                if (result) {
                    goRunAction(Id, '@Url.Action("Publish")', "Training Published!");
                }
            }
        });
        return false;
    }

    function doClose(Id) {
        bootbox.confirm({
            title: "Do you wish to close it ?",
            message: "Training Registrations are closed.",
            callback: function(result) {
                if (result) {
                    goRunAction(Id, '@Url.Action("Close")', "Training Closed!");
                }
            }
        });
        return false;
    }

    function doRestore(Id) {
        bootbox.confirm("Do you wish to restore it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Restore")', "Training Restored!");
            }
        });
        return false;
    }

    function doArchive(Id) {
        bootbox.confirm("Do you wish to archive it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Archive")', "Training Archived!");
            }
        });
        return false;
    }

    function goRunAction(Id, action, msgOk) {
        $.ajax({
            type: "GET",
            url: action,
            data: { TrainingId: Id },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (msgerr) {
                if (msgerr != "") {
                    bootbox.alert(msgerr);
                } else {
                    DevExpress.ui.notify(msgOk, "info");
                }
                getDataGridInstance().refresh();
            }
        });
    }

    function goExportRegistration(Id) {
        //var myGrid = $("#registration_" + Id + " #grid-registrations");
        //myGrid.dxDataGrid("instance").exportToExcel(false);
        getDataGridRegistrationsInstance(Id).exportToExcel(false);
    }
    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdTraining") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
            fieldHtml += "<a href='#' onclick='goSetAsFilter(" + e.value + ");' class='glyphicon glyphicon-screenshot cmdEdit' title='Set As Filter'></a>&nbsp;";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "StatusDeco") {
            e.cellElement.addClass("status-" + e.data.Status.toUpperCase());
        }
        if (e.rowType == "detail_DISABLED_DA_VALUTARE") {
            var msg = "";
            if ((msg || "") == "") {
                e.cellElement.html("");
            } else {
                e.cellElement.html('<div class="col-md-12 internal-grid-note"><span class="dett-value ' + myClass + '">' + msg + '</span></div>');
            }
        }
    }

    function onCellPreparedRegistration(e) {
        var myClass = "";
        var fieldHtml = "";
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "Status") {
            myClass = e.data.DecorationStatus;
            fieldHtml += e.value + "&nbsp;<a href='#' onclick='goEditRegistration(" + e.data.TrainingRegistrationId + ");' class='fa fa-address-card-o' title='Edit'></a>";
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "AccomodationStatus") {
            myClass = e.data.DecorationAccomodationStatus;
            if (e.data.bCanEdit == true && e.data.Status == '@Lookup.TrainingRegistration_Status_ACCEPTED') {
                if (myClass != 'statusRegistration-NOT-REQUIRED') {
                    fieldHtml += e.value + "&nbsp;<a href='#' onclick='doShowActions(" + e.data.TrainingRegistrationId + ", 1);' class='fa fa-gears'></a > ";
                }
            }
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "VISAStatus") {
            myClass = e.data.DecorationVisaStatus;
            if (e.data.bCanEdit == true && e.data.Status == '@Lookup.TrainingRegistration_Status_ACCEPTED') {
                if (myClass != 'statusRegistration-NOT-REQUIRED') {
                    //console.log(e.value);
                    fieldHtml += e.value + "&nbsp;<a href='#' onclick='doShowActions(" + e.data.TrainingRegistrationId + ", 2);' class='fa fa-gears'></a > ";
                }
            }
        }
        if (e.rowType == 'data' && e.column.caption && e.column.caption == "Certificate") {
            myClass = e.data.DecorationCertificationStatus;
            if (e.data.CertificateExist == true) {
                fieldHtml += "&nbsp;<a href='#' onclick='goDownloadCertificate(" + e.data.TrainingRegistrationId + ");' class='fa fa-download' style='color: #337ab7;' title='download'></a > ";
                fieldHtml += "&nbsp;<a href='#' onclick='goRegenerateCertificate(" + e.data.TrainingRegistrationId + ");' class='fa fa-refresh' style='color: red;' title='regenerate'></a > ";
            }
        }
        if (myClass != '') {
            e.cellElement.addClass(myClass);
        }
        if (fieldHtml != '') {
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdTrainingRegistration") {
            var fieldHtml = "";
            if (e.data.bCanEdit == true) {
                fieldHtml += "<a href='#' onclick='goEditRegistration(" + e.data.TrainingRegistrationId + ");' class='fa fa-address-card-o cmdEdit' title='Edit'></a>&nbsp;";
                e.cellElement.html(fieldHtml);
            }
        }
    }

    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 9999);
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("Trainers", "visible", true);
        e.component.columnOption("HotelDesciption", "visible", true);
        e.component.columnOption("Note", "visible", true);
    }
    function OnExported(e) {
        e.component.columnOption("Trainers", "visible", false);
        e.component.columnOption("HotelDesciption", "visible", false);
        e.component.columnOption("Note", "visible", false);
        e.component.endUpdate();
    }
    function aggiornaFiltri() {
        $.get('@Url.Action("SaveIndexFilters")', { showDeleted: jsDeleted, showArchived: jsArchived }
             ).always(function () {
                getDataGridInstance().refresh();
            });
    }

    function goDownloadCCAuthorization(HotelId) {
        $("#list").attr("action", '@Url.Action("downloadCCAuthorization", "TRegistry")/' + HotelId);
        $("#list").submit();
        return false;
    }
    function goDownloadAgenda(TrainingId) {
        $("#list").attr("action", '@Url.Action("downloadAgenda")/' + TrainingId);
        $("#list").submit();
        return false;
    }

    function doShowActions(id, tipo) {
        selTrainingRegistrationId = id;
        $('#TrainingRegistr').hide();
        $('#AccomodationSection').hide();
        $('#InvLetterSection').hide();
        $('#EditEmailSection').hide();
        $('#btnSendEmail').hide();
        $('#boxUploadInvitationLetter').hide();

        $.get('@Url.Action("GetTrainingRegistratinJSON")', { TrainingRegistrationId: id }, function (data) {
            if (data == null) {
                bootbox.alert("Registration not found - id:" + id);
            } else {
                $(".infoParticipantAction").each(function (index) {
                    $(this).text(data.FullName);
                });
                if (tipo == 1) {
                    doShowActionsAccomodation(data);
                }
                if (tipo == 2) {
                    doShowActionsInvLetter(data);
                }
            }
            return false;
        });
    }

    // Riceve una istanza di TrainingTragistration
    function doShowActionsAccomodation(data) {
        $("#msgSendEmailHotel").html("");
        $("#btnSendEmailHotel").dxButton("instance").option("type", "normal");

        $("#msgInsResNumber").html("");
        $("#btnInsResNumber").dxButton("instance").option("type", "normal");
        $("#btnInsResNumber").dxButton("instance").option("disabled", true);

        $("#msgSendConfermaHotel").html("");
        $("#btnSendConfermaHotel").dxButton("instance").option("disabled", true);
        $("#btnSendConfermaHotel").dxButton("instance").option("type", "normal");

        if (data.TmstSendReservationHotelDeco == '') {
            $("#btnSendEmailHotel").dxButton("instance").option("type", "default");
        } else {
            $("#msgSendEmailHotel").html("Done at " + data.TmstSendReservationHotelDeco);
            $("#btnInsResNumber").dxButton("instance").option("disabled", false);
            if ((data.ReservationNumber || '') == '') {
                $("#btnInsResNumber").dxButton("instance").option("type", "default");
            } else {
                $("#msgInsResNumber").html("Done - <strong> " + (data.ReservationNumber || '') + "</strong >");
                $("#btnSendConfermaHotel").dxButton("instance").option("disabled", false);
                if (data.TmstReservationHotelConfirmedDeco == '') {
                    $("#btnSendConfermaHotel").dxButton("instance").option("type", "default");
                } else {
                    $("#msgSendConfermaHotel").html("Done at " + data.TmstReservationHotelConfirmedDeco);
                }
            }
        }
        $('#AccomodationSection').show();
        $('#MasterPopup').modal('show');
    }

    // Riceve una istanza di TrainingTragistration
    function doShowActionsInvLetter(data) {
        $("#msgUploadInvitationLetter").html("");
        $("#btnUploadInvitationLetter").dxButton("instance").option("type", "normal");
        $("#msgSendInvitationLetter").html("");
        $("#btnSendInvitationLetter").dxButton("instance").option("type", "normal");
        $("#btnSendInvitationLetter").dxButton("instance").option("disabled", true);

        if ((data.InvLetterScan ||'') == '') {
            $("#btnUploadInvitationLetter").dxButton("instance").option("type", "default");
        } else {
            $("#msgUploadInvitationLetter").html("Done <a href='#' onClick='goDownloadInvLetter();'><bold>VIEW</bold></a>");
            $("#btnSendInvitationLetter").dxButton("instance").option("disabled", false);
            if (data.TmstSendInvitationLetterDeco == '') {
                $("#btnSendInvitationLetter").dxButton("instance").option("type", "default");
            } else {
                $("#msgSendInvitationLetter").html("Done at " + data.TmstSendInvitationLetterDeco);
            }
        }
        $('#InvLetterSection').show();
        $('#MasterPopup').modal('show');
    }

    function doSendEmailHotel() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_HOTEL' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Hotel not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_HOTEL");
            } else {
                doShowSendMailSection(data);
            }
            return false;
        });
    }

    function doSendEmailConfirmHotel() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_ConfHotel' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Confirmation Hotel not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_ConfHotel");
            } else {
                doShowSendMailSection(data);            }
            return false;
        });
    }

    function doSendEmailInvLetter() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_InvitationLetter' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Invitation Letter not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_InvitationLetter");
            } else {
                doShowSendMailSection(data);
            }
            return false;
        });
    }

    function doShowSendMailSection(data) {
        $("#EmailTemplateId").val(data.EmailTemplateId);
        $("#EmailTo").val(data.To);
        $("#EmailSubject").val(data.Subject);
        $('#EmailBody').summernote('code', data.Body);
        $('#AccomodationSection').hide();
        $('#InvLetterSection').hide();
        $('#EditEmailSection').show();
        $('#btnSendEmail').show();
    }

    function closeEditEmailSection() {
        $('#EditEmailSection').hide();
        $('#btnSendEmail').hide();
        if ($("#EmailTemplateId").val() == '@Lookup.Training_Email_InvitationLetter') {
            $('#InvLetterSection').show();
        } else {
            $('#AccomodationSection').show();
        }
    }

    function doSendEmail() {
        var oValidator = $("#list").validate();
        if (oValidator.form() == false) {
            return false;
        }
        if ($('#EmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.EmailTemplateId = $("#EmailTemplateId").val();
        DTO.To = $("#EmailTo").val();;
        DTO.Subject = $("#EmailSubject").val();
        DTO.Body = $('#EmailBody').summernote('code');
        DTO.IdRif = selTrainingRegistrationId;
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();

        $.ajax({
            url: '@Url.Action("SendEmailRegistration")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $('#MasterPopup').modal('hide');
            getDataGridInstance().refresh();
            getLoadPanelSendInstance().hide();
        });
    }

    function doInsertReservationNumber() {
        bootbox.prompt({
            title: "Insert Reservation Number",
            size: "small",
            callback: function (result) {
                if (result != null) {
                    if (result == "") {
                        bootbox.alert("The Reservation Number field is required.");
                    } else {
                        $.post({
                            url: '@Url.Action("SetRegistrationNumber")',
                            data: { Id: selTrainingRegistrationId, ReservationNumber: result }
                        }).always(function () {
                            DevExpress.ui.notify("Registration Number updated.", "info");
                            getDataGridInstance().refresh();
                            // Ricarico il MasterPopup per consentire di inviare subito la email !!!
                            doShowActions(selTrainingRegistrationId, 1);
                        });
                    }
                }
            }
        });
        return false;
    }

    function doUploadInvitationLetter() {
        var uploader = $("#fileuploader-InvLetter").dxFileUploader("instance");
        var url = uploader.option("uploadUrl");
        uploader.option("value", "");
        url = updateQueryStringParameter(url, "TrainingRegistrationId", selTrainingRegistrationId);
        uploader.option("uploadUrl", url);
        $("#boxUploadInvitationLetter").show();
        return false;
    }

    function InvLetterScan_onUploaded(e) {
        // Ricarico il MasterPopup per consentire di inviare subito la email !!!
        getDataGridInstance().refresh();
        doShowActions(selTrainingRegistrationId, 2);
        DevExpress.ui.notify("Invitation Letter Loaded!", "info");
    }

    function goDownloadInvLetter() {
        $("#list").attr("action", '@Url.Action("downloadInvLetter")/' + selTrainingRegistrationId);
        $("#list").submit();
        return false;
    }

    function goShowJournal(TrainingId) {
        $.get('@Url.Action("Get")', { TrainingId: TrainingId }, function (data) {
            if (data == null) {
                bootbox.alert("Training not found - id:" + TrainingId);
            } else {
                $("#LogPopupTitle").text("Journal - " + data.Title + " [" + TrainingId + "]");
                $('#LogPopupContent').load('@(Url.Action("TrainingJournal"))?TrainingId=' + TrainingId, function () {
                    $('#LogPopup').modal({
                        keyboard: true
                    }, 'show');
                });
            }
        });
        return false;
    }

    function goDownloadCertificate(id) {
        $("#list").attr("action", '@Url.Action("downloadCertificate")/' + id);
        $("#list").submit();
        return false;
    }
    function goRegenerateCertificate(id) {
        bootbox.confirm("Do you wish to regenerate it ?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("regenerateCertificate")',
                    data: { id: id },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (msgerr) {
                        if (msgerr != "") {
                            bootbox.alert(msgerr);
                        } else {
                            DevExpress.ui.notify("Operation successful.");
                            getDataGridInstance().refresh();
                        }
                    }
                });
            }
        });
        return false;
    }

    function GenericEmail_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            $.get('@Url.Action("GetEmailInfoJSON")', { EmailTemplateId: e.value, TrainingId: $("#GenericTrainingId").val() }, function (data) {
                if (data != null) {
                    $('#GenericEmailSubject').val(data.Subject);
                    $('#GenericEmailBody').summernote("code", data.Body);
                }
                return false;
            });
        }
        return false;
    }
    function doSendGenericEmail() {
        var oValidator = $("#list").validate();
        if (oValidator.form() == false) {
            return false;
        }
        if ($('#GenericEmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.To = $("#GenericEmailTo").val();
        DTO.Subject = $("#GenericEmailSubject").val();
        DTO.Body = $('#GenericEmailBody').summernote('code');
        DTO.IdRif = $("#GenericTrainingId").val()
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();

        $("#btnSendGenericEmail").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("SendGenericEmail")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $("#btnSendGenericEmail").attr("disabled", false);
            getLoadPanelSendInstance().hide();
        });

    }

    let refreshGridRegistrations = function (id) {
        var grid = getDataGridRegistrationsInstance(id);
        grid.getDataSource().reload();
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span style="margin-left: 20px;" id="gotoPartecipantList" hidden>
                    <a asp-action="ParticipantList" class="goback">goback</a>
                </span>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "list" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                    .ID("loadPanelSend")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(false)
                    .CloseOnOutsideClick(true)
                    .Message("Sending...")
                    .OnShown("loadPanelSend_shown")
        )
        @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainings").Key("TrainingId")
                                                .LoadParams(new
                                                {
                                                    bDeleted = new JS("function() { return jsDeleted; }"),
                                                    bArchived = new JS("function() { return jsArchived; }")
                                                })
                    )
                    .RemoteOperations(true)
                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("indexTrainings"))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .OnSelectionChanged(@<text>
                        function(e) {
                        e.component.collapseAll(-1);
                        e.component.expandRow(e.currentSelectedRowKeys[0]);
                        refreshGridRegistrations(e.currentSelectedRowKeys[0]);
                        }
                    </text>)
                    .Columns(columns =>
                    {
                        columns.Add().DataField("TypeDescription").Caption("Type").Width("20%");
                        columns.Add().DataField("Title").Caption("Title").Width("20%");
                        columns.Add().DataField("Location").Caption("Location").Width("20%");
                        columns.Add().Caption("Period").Alignment(HorizontalAlignment.Center).Columns(a =>
                        {
                            a.Add().DataField("PeriodFromDeco").Caption("From").Width("10%").CalculateSortValue("PeriodFromSort").SortOrder(SortOrder.Desc);
                            a.Add().DataField("PeriodToDeco").Caption("To").Width("10%").CalculateSortValue("PeriodToSort");
                        });
                        columns.Add().DataField("StatusDeco").Caption("Status").Width("10%").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("ReservedDesc").Caption("Reserved").Width("10%").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("TrainingId").Caption("").Width(0).AllowSearch(false).AllowSorting(false).AllowExporting(false).AllowResizing(false);
                        columns.Add().Caption("Participants/Attendes").Columns(a =>
                        {
                            a.Add().DataField("cntNew").Caption("New").Width("8%").Alignment(HorizontalAlignment.Center).CssClass("NewReg");
                            a.Add().DataField("cntConfirmed").Caption("Accepted").Width("10%").Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("cntRefused").Caption("Refused").Width("8%").Alignment(HorizontalAlignment.Center);
                        });
                        columns.Add().DataField("HotelDesciption").Caption("Hotel").Visible(false);  // per Export
                    columns.Add().DataField("Trainers").Caption("Trainers").Visible(false);      // per Export
                    columns.Add().DataField("Note").Caption("Note").Visible(false);              // per Export
                    columns.Add()
                        .Alignment(HorizontalAlignment.Center)
                        .Width("8%")
                        .DataField("Agenda")
                        .AllowFiltering(false)
                        .AllowSorting(false)
                        .AllowEditing(false)
                        .AllowExporting(false)
                        .Caption("Agenda")
                        .CellTemplate(@<div>
                            <% if (value != null && value != '') { %>
                            <a href="#" onclick="goDownloadAgenda('<%= data.TrainingId %>');" style="font-size: 14px;" title="<%=data.Agenda%>">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </a>
                            <% } %>
                        </div>);
                    columns.Add()
                        .Alignment(HorizontalAlignment.Center)
                        .Width("10%")
                        .DataField("TrainingId")
                        .AllowFiltering(false)
                        .AllowSorting(false)
                        .AllowEditing(false)
                        .AllowExporting(false)
                        .Caption("")
                        .Name("cmdTraining");
                    })
                    .MasterDetail(md =>
                    {
                        md.Enabled(true)
                          .Template(@<text>
                            <div class="internal-grid-container" title="">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="col-md-10"><span class="dett-label">Hotel:</span><span class="dett-value"><%= data.HotelDesciption%></span></div>
                                        <div class="col-md-2 text-right">
                                            <% if ((data.CCAuthorization || '') != '') { %>
                                            <a href="#" onclick="goDownloadCCAuthorization('<%= data.HotelId %>');" title="Download CC Authorization" style="color: blue;">
                                                <i class="glyphicon glyphicon-paperclip"></i>
                                                <small class="text-muted">CC Authorization</small>
                                            </a>
                                            <% } %>
                                        </div>
                                        <div class="col-md-12"><span class="dett-label">Trainers:</span><span class="dett-value"><%= data.Trainers%></span></div>
                                        <div class="col-md-12"><span class="dett-label">Internal Note:</span><span class="dett-value"><%= data.Note%></span></div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <% if (data.Status == '@Lookup.Training_Status_NEW') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-external-link").Hint("Publish")
                                                                                .OnClick("function (arg) { doPublish(data.TrainingId) }")
                                                                                .Type(ButtonType.Success))
                                        <% } %>
                                        <% if (data.Status == '@Lookup.Training_Status_PUBLISHED') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-lock").Hint("Close").OnClick("function (arg) { doClose(data.TrainingId) }").Type(ButtonType.Default))
                                        <% } %>
                                        <% if (data.Status != '@Lookup.Training_Status_NEW') { %>
                                        @(Html.DevExtreme().Button().Icon("revert").Hint("Undo").OnClick("function (arg) { doRestore(data.TrainingId) }"))
                                        <% } %>
                                        <% if (data.Status == '@Lookup.Training_Status_CLOSED') { %>
                                        @(Html.DevExtreme().Button().Icon("fa fa-archive").Hint("Archive").OnClick("function (arg) { doArchive(data.TrainingId) }"))
                                        <% } %>
                                        <% if (data.Status != '@Lookup.Training_Status_DELETED') { %>
                                        @(Html.DevExtreme().Button().Icon("trash").Hint("Delete").OnClick("function (arg) { goDelete(data.TrainingId) }").Type(ButtonType.Danger))
                                        <% } %>
                                        @(Html.DevExtreme().Button().Icon("email").Hint("Send Email").OnClick("function (arg) { goSendGenericEmail(data.TrainingId) }").Type(ButtonType.Success))
                                        <br />
                                    <div class="pull-right">
                                        <a href="#" onclick="goExportRegistration('<%= data.TrainingId %>');" title="Export Registrations" style="color: blue;">
                                            <i class="fa fa-file-excel-o"></i>
                                            <small class="text-muted" style="color: blue;">Export Registrations</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @*id="registration_<%= data.TrainingId%>">*@
                                    @(Html.DevExtreme().DataGrid()
                                            //.ID("grid-registrations")
                                            .ID(new JS("'grid-registrations_' + data.TrainingId"))
                                            .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                            .Selection(s => s.Mode(SelectionMode.Single))
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(false)
                                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                            .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainingRegistrations")
                                                    .LoadParams(new { id = new JS("data.TrainingId") })
                                                )
                                            .RemoteOperations(true)
                                            .Columns(columns =>
                                            {
                                                                        columns.Add().DataField("FullName").Caption("Participant").SortOrder(SortOrder.Asc).Width("20%");
                                                                        columns.Add().DataField("EmailAddress").Caption("Email").Width("20%");
                                                                        columns.Add().DataField("CountryId").Caption("Country").Width("10%");
                                                                        columns.Add().DataField("CompanyName").Caption("Company").Width("15%");
                                                                        columns.Add().DataField("Status").Caption("Registration").Width(120).Alignment(HorizontalAlignment.Center);
                                                                        columns.Add().DataField("AccomodationStatus").Caption("Accomodation").Width(120).Alignment(HorizontalAlignment.Center);
                                                                        columns.Add().DataField("VISAStatus").Caption("Inv.Letter").Width(120).Alignment(HorizontalAlignment.Center);
                                                                        columns.Add().Caption("Certificate").Width(90).Alignment(HorizontalAlignment.Center);
                                                                    })
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                            .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                            .Export(e => e.Enabled(false).FileName(new JS("'TrainingRegistations_' + data.Title")).AllowExportSelectedData(false))
                                            .OnCellPrepared("onCellPreparedRegistration")
                                    )
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="text-danger" onclick="goShowJournal(<%= data.TrainingId %>);">Journal</a>
                            </div>
                        </div>
                </text>);
                })
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                .Export(e => e.Enabled(false).FileName("Trainings").AllowExportSelectedData(false))
                .OnExporting("OnExporting")
                .OnExported("OnExported")
                .OnToolbarPreparing("toolbar_preparing")
                .OnCellPrepared("onCellPrepared")
                .OnContentReady("OnContentReady")
                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
        )
    </div>

    //POPUP AZIONI
    <div class="modal fade" id="MasterPopup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title infoParticipantAction"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0;">
                    <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                        <section id="AccomodationSection" hidden>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("message").Text("Send reservation email to hotel").ID("btnSendEmailHotel")
                                                                                                                            .OnClick("doSendEmailHotel")
                                                                                                                            .Type(ButtonType.Normal).Width("100%")
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgSendEmailHotel"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("edit").Text("Insert Reservation Number").ID("btnInsResNumber")
                                                                                                                        .OnClick("doInsertReservationNumber")
                                                                                                                        .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgInsResNumber"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("message").Text("Send Confirmation Email").ID("btnSendConfermaHotel")
                                                                                                                        .OnClick("doSendEmailConfirmHotel")
                                                                                                                        .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgSendConfermaHotel"></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <section id="InvLetterSection" hidden>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-10 BoxAction col-md-push-1">
                                @(Html.DevExtreme().Button().Icon("message").Text("Upload Scan Invitation Letter").ID("btnUploadInvitationLetter")
                                                                                                                .OnClick("doUploadInvitationLetter")
                                                                                                                .Type(ButtonType.Normal).Width("100%")
                                )
                            </div>
                            <div class="col-md-12 BoxAction">
                                <span class="text-success MsgAction" id="msgUploadInvitationLetter"></span>
                            </div>
                        </div>
                        <div class="col-md-10 BoxAction col-md-push-1" style="border: 1px darkgray solid; margin-bottom: 30px;" id="boxUploadInvitationLetter">
                            <div class="row">
                                @*ATTENZIONE: TrainingRegistrationId viene valorizzato con il corrispondente campo HIDDEN !!! *@
                                @(Html.DevExtreme().FileUploader()
                                                    .ID("fileuploader-InvLetter")
                                                    .Name("myFileInvLetter")
                                                    .Multiple(false)
                                                    //.Accept("application/pdf")
                                                    .UploadMode(FileUploadMode.Instantly)
                                                    .UploadUrl(Url.Action("UploadInvLetterScan", new { TrainingRegistrationId = 0 }))
                                                    .OnUploaded("InvLetterScan_onUploaded")
                                                    .LabelText("Select a Invitation Letter Scan")
                                                    .SelectButtonText("Select file")
                                )
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-10 BoxAction col-md-push-1">
                                @(Html.DevExtreme().Button().Icon("message").Text("Send Invitation Letter").ID("btnSendInvitationLetter")
                                                                                                                        .OnClick("doSendEmailInvLetter")
                                                                                                                        .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                )
                            </div>
                            <div class="col-md-12 BoxAction">
                                <span class="text-success MsgAction" id="msgSendInvitationLetter"></span>
                            </div>
                        </div>
                        <div class="empty_row"></div>
                    </section>
                    <section id="EditEmailSection" hidden>
                        <input type="hidden" id="EmailTemplateId" value="">
                        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
                            <div class="col-md-offset-2 col-md-10" style="margin-bottom: 15px; ">
                                <a class="goback" onclick="closeEditEmailSection();">goback</a>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">To:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email field is required."
                                           id="EmailTo" name="EmailTo" placeholder="Email" type="email" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EmailTo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subject:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                           id="EmailSubject" name="EmailSubject" placeholder="Subject" type="text" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EmailSubject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Message:</label>
                                <div class="col-md-9">
                                    <textarea id="EmailBody"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSendEmail" onclick="doSendEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    // POPUP LOG - CARICATO DINAMICAMENTE !!!
    <div class="modal fade" id="LogPopup" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" style="width: 95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="LogPopupTitle"></h4>
                </div>
                <div class="modal-body" style="background-color: #f8f8f8;">
                    <div id='LogPopupContent'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    //POPUP GENERIC MAIL
    <div class="modal fade" id="PopupGenericEmail" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title infoParticipantAction"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0;">
                    <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                        <input type="hidden" id="GenericTrainingId" value="">
                        <div class="form-horizontal">
                            <br />
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email Template:</label>
                                <div class="col-md-9">
                                    @(Html.DevExtreme().SelectBox()
                                                    .ID("GenericEmailTemplateId")
                                                    .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetGenericEmailTemplates")
                                                    .LoadParams(new
                                                    {
                                                        Area = Lookup.EmailTemplate_Area_TRAINING,
                                                    })
                                                    .Key("EmailTemplateId"))
                                                    .ValueExpr("EmailTemplateId")
                                                    .OnValueChanged("GenericEmail_Change")
                                                    .DisplayExpr("Subject")
                                                    //.ShowClearButton(true)
                                                    .Value("")
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">To:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email field is required."
                                           id="GenericEmailTo" name="GenericEmailTo" placeholder="Email" type="email" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="GenericEmailTo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subject:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                           id="GenericEmailSubject" name="GenericEmailSubject" placeholder="Subject" type="text" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="GenericEmailSubject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Message:</label>
                                <div class="col-md-9">
                                    <textarea id="GenericEmailBody"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSendGenericEmail" onclick="doSendGenericEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
