@using WebApp.Classes

@{
    ViewData["Title"] = "Training Summary";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }
    .cmdRemove {
        font-size: 18px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
            //}, {
            //    location: "after",
            //    widget: "dxButton",
            //    options: {
            //        icon: "fa fa-eye-slash",
            //        hint: "Remove column filters",
            //        name: "removeFilters",
            //        onClick: function () {
            //            $("#grid-container").dxDataGrid("clearFilter", "row");
            //            return false;
            //        },
            //        onInitialized: function (evt) {
            //            removeButton = evt.component;
            //        }
            //    }
        });
    }
</script>

<div class="form-horizontal">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @*<hr />*@
    <div class="container">
        @Html.AntiForgeryToken()
        <div class="row">
        @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainings").Key("TrainingId")
                                                .LoadParams(new { bDeleted = true, bArchived = true })
                    )
                    .RemoteOperations(true)
                    .FilterRow(filterRow => filterRow.Visible(false).ApplyFilter(GridApplyFilterMode.Auto))
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("Year").Caption("Year").GroupIndex(0).SortOrder(SortOrder.Desc);
                        columns.Add().DataField("TypeDescription").Caption("Type");
                        columns.Add().DataField("Title").Caption("Title");
                        columns.Add().DataField("PeriodFromDeco").Caption("From").Width(150).CalculateSortValue("PeriodFromSort")
                                                                .Alignment(HorizontalAlignment.Center).SortOrder(SortOrder.Asc);
                        columns.Add().DataField("PeriodToDeco").Caption("To").Width(150).CalculateSortValue("PeriodToSort").Alignment(HorizontalAlignment.Center);
                        columns.Add().Caption("Participants")
                            .Columns(a =>
                            {
                                a.Add().DataField("cntConfirmed").Caption("Confirm").Width(80).Alignment(HorizontalAlignment.Center);
                                a.Add().DataField("cntNew").Caption("New").Width(80).Alignment(HorizontalAlignment.Center);
                                a.Add().DataField("cntRefused").Caption("Refused").Width(80).Alignment(HorizontalAlignment.Center);
                            });
                    })
                    //.Grouping(grouping => grouping.AutoExpandAll(true))
                    .SortByGroupSummaryInfo(i => i.Add().SummaryItem("Year"))
                    .Summary(s => s.GroupItems(items =>
                    {
                        items.Add().SummaryType(SummaryType.Count).DisplayFormat("{0} trainings");
                        items.Add().Column("cntConfirmed").SummaryType(SummaryType.Sum).AlignByColumn(true).DisplayFormat("{0}");
                        items.Add().Column("cntNew").SummaryType(SummaryType.Sum).AlignByColumn(true).DisplayFormat("{0}");
                        items.Add().Column("cntRefused").SummaryType(SummaryType.Sum).AlignByColumn(true).DisplayFormat("{0}");
                    })
                    .TotalItems(items =>
                    {
                        items.Add().Column("TypeDescription").SummaryType(SummaryType.Count).DisplayFormat("Total {0} trainings");
                        items.Add().Column("cntConfirmed").SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                        items.Add().Column("cntNew").SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                        items.Add().Column("cntRefused").SummaryType(SummaryType.Sum).DisplayFormat("{0}");
                    }))
                    //.Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                    .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .Export(e => e.Enabled(false).FileName("Summary").AllowExportSelectedData(false))
                    .OnToolbarPreparing("toolbar_preparing")
        )
        </div>
    </div>
</div>