﻿@model WebApp.Entity.DRTopic

@{
    bool bCanDeleteTopic = Model.DRTopicId > 0;
    string titleSave = (Model.DRTopicId == 0) ? "Create New Topic" : "Save Changes";
    string rifTopic = (Model.DRTopicId == 0) ? "" : string.Format("id {0}", Model.DRTopicId);
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    .rowFieldsTopic {
        margin-bottom: 15px !important;
    }
    #divSezioneTopic > div, #divCampiTopic > div {
        margin-top: 15px;
    }
    #divSezioneTopic {
        border: 1px solid #cccccc;
    }
    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .inputCode {
        font-weight: bold;
    }
    .inputTitle {
        font-weight: bold;
    }
    .inputRevision {
        font-weight: bold;
    }

</style>

<script type="text/javascript">
    var bExpandedSectionsTopic = false;
    var jsSelectedId = @Html.Raw(Model.DRSectionId);

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("#sectionTopic-treeview").dxTreeView("selectItem", jsSelectedId);
        });
    });

    function TargetTreeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        jsSelectedId = e.itemData.DRSectionId;
    }

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.DRTopicId = @Model.DRTopicId;

        if (!jsSelectedId) {
            bootbox.alert("Select a Section");
            return false;
        }
        if (jsSelectedId < 0) {
            bootbox.alert("Operation not available for selected section.");
            return false;
        }
        DTO.DRSectionId = jsSelectedId;
        DTO.Code = $("#CodeEditTopic").dxTextBox("instance").option('value');
        if ((DTO.Code || "") == "") {
            bootbox.alert("The Code field is required.");
            return false;
        }
        if (DTO.Code.length > 50) {
            bootbox.alert("The field Code must be a string with a maximum length of 50.");
            return false;
        }
        DTO.Revision = ($("#RevisionEditTopic").dxTextBox("instance").option('value') || "");
        if (DTO.Revision.length > 20) {
            bootbox.alert("The field Revision must be a string with a maximum length of 20.");
            return false;
        }
        DTO.Title = $("#TitleEditTopic").dxTextArea("instance").option('value');
        if ((DTO.Title || "") == "") {
            bootbox.alert("The Title field is required.");
            return false;
        }
        if (DTO.Title.length > 200) {
            bootbox.alert("The field Title must be a string with a maximum length of 200.");
            return false;
        }
        DTO.Note = ($("#NoteEditTopic").dxTextArea("instance").option('value') || "");
        if (DTO.Note.length > 4000) {
            bootbox.alert("The field Note must be a string with a maximum length of 4000.");
            return false;
        }
        DTO.NotifyChange = $("#NotifyChangeEditTopic").dxCheckBox("instance").option('value');
        DTO.ReleasedDate = $("#ReleasedDate").dxDateBox("instance").option('value');
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateTopicJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
    }
    function doDelete() {
        var msg = "Do you wish to delete it ?";
        msg += "<br/><br/><i class='label label-danger small' style='font-size: 16px;'>All documents will be deleted!</i>";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteTopic")',
                    data: { TopicId: @Model.DRTopicId},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        window.parent.closeModal(true);
                    }
                });
            }
        });
    }

    function expandSectionsTopic() {
        var tree = $("#sectionTopic-treeview").dxTreeView("instance");
        bExpandedSectionsTopic = !bExpandedSectionsTopic;
        if (bExpandedSectionsTopic) {
            tree.expandAll();
            $("#cmdExpandSectionTopic").text("collapse all");
        } else {
            tree.collapseAll();
            tree.expandItem(-1);
            $("#cmdExpandSectionTopic").text("expand all");
        }
    }

    function ReleasedDate_OnValueChanged(dd) {
        //bootbox.alert(JSON.stringify(dd, getCircularReplacer()));
            //$("#utcvalue").text(dd.value.toISOString());
            //$("#localvalue").text(dd.value);
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div id="divSezioneTopic" class="col-md-4">
                @Html.HiddenFor(model => model.DRSectionId)
                @Html.HiddenFor(model => model.DRTopicId)
                <div>
                    <span>Section</span>&nbsp;&nbsp;<a href="#" onclick="expandSectionsTopic();" class="small pull-right" id="cmdExpandSectionTopic">expand all</a>
                    @(Html.DevExtreme().TreeView()
                                        .ID("sectionTopic-treeview")
                                        .DataSource(d => d.Mvc().LoadAction("GetAllSections")
                                            .LoadParams(new { bShowCounter = false, SelectedId = new JS("function() { return jsSelectedId; }") }))
                                        .DataStructure(TreeViewDataStructure.Plain)
                                        .ParentIdExpr("ParentId")
                                        .KeyExpr("DRSectionId")
                                        .DisplayExpr("Title")
                                        .ExpandedExpr("Expanded")
                                        .Width("100%")
                                        .Height(400)
                                        .SelectByClick(true)
                                        .SelectionMode(NavSelectionMode.Single)
                                        .SearchEnabled(true)
                                        .FocusStateEnabled(true)
                                        .OnItemClick("TargetTreeViewItemClick")
                                        .ItemTemplate(@<text>
                                            <div>
                                                <% if ( Locked == true ) { %>
                                                <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                                                <% } else { %>
                                                <i class="<%- icon %>" style="font-size: 16px;"></i>
                                                <% } %>
                                                <%- Title %>
                                            </div>
                                        </text>)
                    )
                </div>
            </div>
            <div id="divCampiTopic" class="col-md-8">
                <div class="col-md-6">
                    <span>Code</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Code).ID("CodeEditTopic").InputAttr("maxLength", 50).InputAttr("class", "inputCode"))
                </div>
                <div class="col-md-6">
                    <span>Revision</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.Revision).ID("RevisionEditTopic").InputAttr("maxLength", 20).InputAttr("class", "inputRevision"))
                </div>
                <div class="col-md-6">
                    <span>Released Date</span>
                    @(Html.DevExtreme().DateBoxFor(m => m.ReleasedDate).ID("ReleasedDate")
                                       .OnValueChanged("ReleasedDate_OnValueChanged")
                                       .DisplayFormat("dd/MM/yyyy")
                                       .DateSerializationFormat("yyyy-MM-dd")
                                       .ShowClearButton(true)
                                       )
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-12">
                    <span>Title</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.Title).ID("TitleEditTopic").InputAttr("autocomplete", "true").InputAttr("rows", "2").Height(80)
                                                       .InputAttr("maxLength", 200).InputAttr("class", "inputTitle"))
                </div>
                <div class="col-md-12">
                    <span>Note</span>
                    @(Html.DevExtreme().TextAreaFor(m => m.Note).ID("NoteEditTopic").InputAttr("rows", "4").Height(120).InputAttr("maxLength", 4000))
                </div>
                <div class="col-md-12">
                    @(Html.DevExtreme().CheckBoxFor(m => m.NotifyChange).ID("NotifyChangeEditTopic").Text("Send notification when resources change"))
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            @Html.DevExtreme().Button().Text("Delete Topic").OnClick("doDelete").Type(ButtonType.Danger).Visible(@bCanDeleteTopic)
        </div>
        <div class="col-md-1 text-right"><span class="small">@rifTopic</span></div>
        <div class="col-md-6">
            <div class="pull-right">
                @(Html.DevExtreme().Button().Text(titleSave).OnClick("doSave").Type(ButtonType.Success))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose"))
            </div>
        </div>
    </div>
</form>