﻿@model WebApp.Entity.DRTopic
@using WebApp.Classes;

@{
    int ResourceType_File = (int)Lookup.DRResourceType.file;
    int ResourceType_Attach = (int)Lookup.DRResourceType.attachment;
    int ResourceType_Url = (int)Lookup.DRResourceType.url;
    string rifTopic = (Model.DRTopicId == 0) ? "" : string.Format("id {0}", Model.DRTopicId);
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    .rowFieldsTopic {
        margin-bottom: 15px !important;
    }

    #divSezioneTopic > div, #divCampiTopic > div {
        margin-top: 15px;
    }

    #divSezioneTopic {
        border: 1px solid #cccccc;
    }

    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .cmdResource {
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .divAddResource {
        margin-top: 5px;
        min-height: 170px;
    }

    .dx-fileuploader-file-status-message {
        color: red;
    }

    .jumbotron {
        padding: 25px 5px 80px 5px !important;
    }

    .ResourceTypeEdit {
        font-size: 12px;
    }
    #msgDivManage {
        font-weight: bold;
        margin-top: 5px;
    }
    .labelEditResource {
        text-align: right;
        padding-top: 10px;
        padding-right: 0px;
    }
    #areaSelezione {
        margin: 5px 25px 5px 25px;
    }
    .icofunzione {
        font-size: 32px;
        color: #595959;
    }
</style>

<script type="text/javascript">
    var selResourceIdChange = 0;
    var selResourceType = "";

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });
    function doClose() {
        window.parent.closeModal(false);
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 10000);   // Dopo 10 sec viene comunque chiuso
    }

    function doDeleteResource(ResourceId, title) {
        CloseAllDiv();
        bootbox.confirm({
            title: (title || ''),
            message: "Do you wish to delete it ?",
            callback: function (result) {
               if (result) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("DeleteResource")',
                        data: { ResourceId: ResourceId},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                            refreshGridEditResources();
                        }
                    });
                }
            }
        });
    }

    function onCellPreparedResourceEdit(e) {
        //if (e.rowType == 'data' && e.column.name && e.column.name == "Resource_Name") {
        //    var fieldHtml = "";
        //    fieldHtml += "<a href='#' onclick='doEditTitleResource(" + e.data.DRResourceId + ");' title='Open'>" + e.data.Title + "</a>";
        //    e.cellElement.html(fieldHtml);
        //}
        if (e.rowType == 'data' && e.column.name && e.column.name == "Resource_Type") {
            var fieldHtml = "";
            fieldHtml += "<span class='ResourceTypeEdit " + e.data.ResourceClass + "'>&nbsp;" + e.data.TypeDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
    }

    function AddNewFile() {
        openDivManageFileLocal(0, '@Lookup.DRResourceType.file');
    }
    function AddNewAttach() {
        openDivManageFileLocal(0, '@Lookup.DRResourceType.attachment');
    }
    function ChangeFileBrowser(ResourceId, FileType, Title) {
        //console.log("ChangeFileBrowser - " + FileType);
        var mytype = '@Lookup.DRResourceType.file';
        if (FileType == @((int)Lookup.DRResourceType.attachment)) {
            mytype = '@Lookup.DRResourceType.attachment';
        }
        openDivManageFileLocal(ResourceId, mytype, Title);
    }
    function AddNewFileFTP() {
        openDivManageFileFTP(0, '@Lookup.DRResourceType.file', -3);
    }
    function AddNewAttachFTP() {
        openDivManageFileFTP(0, '@Lookup.DRResourceType.attachment');
    }
    function ChangeFileFTP(ResourceId, FileType, Title) {
        //console.log("ChangeFileFTP - " + FileType);
        var mytype = '@Lookup.DRResourceType.file';
        if (FileType == @((int)Lookup.DRResourceType.attachment)) {
            mytype = '@Lookup.DRResourceType.attachment';
        }
        openDivManageFileFTP(ResourceId, mytype, Title);
    }
    function AddNewLink() {
        openDivManageLink(0, '@Lookup.DRResourceType.url');
    }
    function ChangeLink(ResourceId, Title, Source) {
        openDivManageLink(ResourceId, '@Lookup.DRResourceType.url', Title, Source);
    }
    // Gestione selezione file locale
    function openDivManageFileLocal(resourceId, resourceType, title) {
        //console.log("openDivManageFileLocal " + resourceId + ' ' + resourceType);
        var myOldResourceId = selResourceIdChange;
        selResourceIdChange = resourceId;
        var myOldType = selResourceType;
        selResourceType = resourceType;

        $('#divSelectFileFTP').hide();
        $('#divAddNewLink').hide();

        var bShowDiv = false;
        if ($("#divUploadFile").is(":visible") == false) {
            bShowDiv = true;
        }
        if (selResourceIdChange == 0 && myOldResourceId == 0 && myOldType != selResourceType) {
            bShowDiv = true;
        } else if (selResourceIdChange != myOldResourceId) {
            bShowDiv = true;
        }

        $("#msgDivManage").text("");
        var uploader = $("#fileuploader-topic").dxFileUploader("instance");
        uploader.reset();
        if (bShowDiv) {
            var msg = "Select one or more new " + resourceType.toUpperCase();
            var msgLabel = msg;
            var multiple = true;
            if (selResourceIdChange != 0) {
                msg = "Select one " + resourceType.toUpperCase() +" and changes to the repository [ " + (title || '') + "" + " ]";
                msgLabel = "Select one " + resourceType.toUpperCase();
                multiple = false;
            }
            $("#msgDivManage").text(msg)
            uploader.option("labelText", msgLabel);
            uploader.option("multiple", multiple);
            @*var url = uploader.option("uploadUrl");
            uploader.option("value", "");
            url = updateQueryStringParameter(url, "TopicId", @Model.DRTopicId);
            url = updateQueryStringParameter(url, "ResourceType", selResourceType);
            url = updateQueryStringParameter(url, "ResourceId", selResourceIdChange);
            uploader.option("uploadUrl", url);*@
            $('#divUploadFile').show();
        } else {
            $('#divUploadFile').hide()
        }

        return false;
    }
     //Gestione selezione file da Area FTP
    function openDivManageFileFTP(resourceId, resourceType, title) {
        //console.log("openDivManageFileFTP " + resourceId + ' ' + resourceType);
        var myOldResourceId = selResourceIdChange;
        selResourceIdChange = resourceId;
        var myOldType = selResourceType;
        selResourceType = resourceType;

        $('#divUploadFile').hide();
        $('#divAddNewLink').hide();

        var bShowDiv = false;
        if ($("#divSelectFileFTP").is(":visible") == false) {
            bShowDiv = true;
        }
        if (selResourceIdChange == 0 && myOldResourceId == 0 && myOldType != selResourceType) {
            bShowDiv = true;
        } else if (selResourceIdChange != myOldResourceId) {
            bShowDiv = true;
        }
        $("#msgDivManage").text("");

        $("#FileFromFTP").dxList("option", "selectionMode", "multiple");
        if (selResourceIdChange != 0) {
            $("#FileFromFTP").dxList("option", "selectionMode", "single");
        }
        if (bShowDiv) {
            var msg = "Select new " + resourceType.toUpperCase() + " from FTP AREA";
            if (selResourceIdChange != 0) {
                msg += " and changes to the repository [ " + (title || '') + "" + " ]";
            }
            $("#msgDivManage").text(msg)
            refreshFileFromFTP();
            $('#divSelectFileFTP').show();
        } else {
            $('#divSelectFileFTP').hide();
        }
        return false;
    }
    // Gestione LINK
    function openDivManageLink(resourceId, resourceType, title, source) {
        //console.log("openDivManageLink " + resourceId + ' ' + resourceType);
        var myOldResourceId = selResourceIdChange;
        selResourceIdChange = resourceId;
        var myOldType = selResourceType;
        selResourceType = resourceType;

        $('#divUploadFile').hide();
        $('#divSelectFileFTP').hide();

        var bShowDiv = false;
        if ($("#divAddNewLink").is(":visible") == false) {
            bShowDiv = true;
        }
        if (selResourceIdChange == 0 && myOldResourceId == 0 && myOldType != selResourceType) {
            bShowDiv = true;
        } else if (selResourceIdChange != myOldResourceId) {
            bShowDiv = true;
        }
        $("#msgDivManage").text("");
        if (bShowDiv) {
            var msg = "Select new " + resourceType.toUpperCase();
            if (selResourceIdChange != 0) {
                msg += " and changes to the repository [ " + (title || '') + "" + " ]";
            }
            $("#msgDivManage").text(msg)
            $('#divAddNewLink').show();
            $("#EditResourceValueLink").dxTextBox("instance").option('value', (source || ''));
            $("#EditResourceValueTitle").dxTextBox("instance").option('value', (title || ''));
        } else {
            $('#divAddNewLink').hide();
        }
    }
    function myFileTopic_onUploaded(e) {
        //console.log("myFileTopic_onUploaded");
        //e.component.reset();
        setTimeout(function () {
            var $file = e.element.find(".dx-fileuploader-file:contains('" + e.file.name + "')");
            $file.find(".dx-fileuploader-file-status-message").html("<span class='text-success'><b>Uploaded<b/></span>");
        }, 400);
        refreshGridEditResources();
        if (selResourceIdChange != 0) {
            DevExpress.ui.notify("New Resource Loaded!", "info");
            $('#divUploadFile').hide();
            $("#msgDivManage").text("");
        }
        getLoadPanelInstance().hide();
    }
    function myFileTopic_onUploadStarted(e) {
        //console.log("myFileTopic_onUploadStarted");
        getLoadPanelInstance().show();
        $("#msgDivManage").text("");
    }

    function refreshFileFromFTP() {
        //$("#FileFromFTP").dxSelectBox("instance").option('value', "");
        //$("#FileFromFTP").dxSelectBox("instance").getDataSource().reload();
        //$("#FileFromFTP").dxTagBox("instance").getDataSource().reload();
        $("#FileFromFTP").dxList("instance").getDataSource().reload();
        $("#FileFromFTP").dxList("option", "selectedItemKeys", "");
    }
    function refreshGridEditResources() {
        $("#grid-resources").dxDataGrid("instance").getDataSource().reload();
    }
    function myFileTopic_onUploadError(e) {
        //console.log("myFileTopic_onUploadError");
        getLoadPanelInstance().hide();
        setTimeout(function () {
            var $file = e.element.find(".dx-fileuploader-file:contains('" + e.file.name + "')");
            $file.find(".dx-fileuploader-file-status-message").text("Error: " + e.request.responseText);
        }, 400);
        //bootbox.alert(e.request.responseText);
    }
    //function myFileTopic_onUploadAborted(e) {
    //    //console.log("myFileTopic_onUploadAborted");
    //}
    function myFileTopic_OnValueChanged(e) {
        //console.log("myFileTopic_OnValueChanged");
        var url = e.component.option("uploadUrl");
        url = updateQueryStringParameter(url, "TopicId", @Model.DRTopicId);
        url = updateQueryStringParameter(url, "ResourceType", selResourceType);
        url = updateQueryStringParameter(url, "ResourceId", selResourceIdChange);
        e.component.option("uploadUrl", url);
        $("#msgDivManage").text("");
    }
    function Save_FileFromFTP() {
        var list = $("#FileFromFTP").dxList("instance");
        var selectedKeys = list.option("selectedItemKeys");
        if ((selectedKeys || "") == "") {
            bootbox.alert("Select File");
            return false;
        }
        $.ajax({
            url: '@Url.Action("CopyFileFromFtp")',
            type: 'POST',
            data: { TopicId: @Model.DRTopicId, FileName: selectedKeys.toString(), ResourceType: selResourceType, ResourceId: selResourceIdChange },
            error: function (xhr, statusText) {
                filesERR.push("Operation Failed! <br/>" + xhr.responseText);
            },
            success: function (data) {
                var msg = "";
                data.forEach(function (item, index) {
                    msg += item + "<br/>";
                });
                bootbox.alert(msg);
                //if (data != "") {
                //    bootbox.alert(data);
                //} else {
                //    DevExpress.ui.notify("New Resource Loaded!", "info");
                //}
                refreshFileFromFTP();
                refreshGridEditResources();
                if (selResourceIdChange != 0) {
                    $('#divSelectFileFTP').hide();
                    $("#msgDivManage").text("");
                }
            }
        });
    }
    function Save_ResourceLink() {
        var newLink = $("#EditResourceValueLink").dxTextBox("instance").option('value');
        if ((newLink || "") == "") {
            bootbox.alert("Link Mandatory");
            return false;
        }
        if (!newLink.toUpperCase().startsWith("HTTP:") && !newLink.toUpperCase().startsWith("HTTPS:")) {
            bootbox.alert("URL is not valid; HTTP or HTTPS are required");
            return false;
        }
        var newTitle = $("#EditResourceValueTitle").dxTextBox("instance").option('value');
        $.ajax({
                type: "GET",
                url: '@Url.Action("EditResourceLink")',
                data: { TopicId: @Model.DRTopicId, Link: newLink, Title: newTitle, ResourceId: selResourceIdChange },
                error: function (xhr, statusText) {
                    bootbox.alert("Operation Failed! <br/>" + xhr.responseText);
                },
                success: function (data) {
                    if (data != "") {
                        bootbox.alert(data);
                    } else {
                        DevExpress.ui.notify("New Resource Loaded!", "info");
                        refreshGridEditResources();
                        if (selResourceIdChange != 0) {
                            $('#divAddNewLink').hide();
                            $("#msgDivManage").text("");
                        }
                    }
                }
        });
    }

    function doEditTitleResource(id) {
        CloseAllDiv();
        $.get('@Url.Action("GetResourcesJSON")', { ResourceId: id }, function (data) {
            if (data == null) {
                bootbox.alert("Resource Not Found - id:" + id);
            } else {
                doEditTitleResource_Post(data);
            }
            return false;
        });
    }

    function doEditTitleResource_Post(data) {
        bootbox.prompt({
            title: "Edit Resource Title - " + data.Source,
            inputType: 'textarea',
            value: data.Title,
            callback: function (result) {
                if ((result || "") != "") {
                    if (result.length > 200) {
                        result = result.substr(0, 200);
                    }
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("UpdateResourceTitle")',
                        data: { ResourceId: data.DRResourceId, Title: result },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert(data);
                            } else {
                                DevExpress.ui.notify("Operation successful.");
                                refreshGridEditResources();
                            }
                        },
                        error: function (xhr, statusText) {
                            DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                        }
                    });
                }
            }
        });
    }

    function CloseAllDiv() {
        $("#msgDivManage").text("");
        $('#divUploadFile').hide();
        $('#divSelectFileFTP').hide();
        $('#divAddNewLink').hide();
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    @(Html.DevExtreme().LoadPanel()
                            .ID("loadPanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(false)
                            .CloseOnOutsideClick(true)
                            .OnShown("loadPanel_shown")
    )
    <div class="row">
        <div class="col-md-12">
            @(Html.DevExtreme().Toolbar().ID("Risorse")
                                            .Items(items =>
                                            {
                                                items.Add().Widget(w => w.Button().Icon("glyphicon glyphicon-file").Text("Add File").OnClick("AddNewFile")).Location(ToolbarItemLocation.Center);
                                                items.Add().Widget(w => w.Button().Icon("glyphicon glyphicon-file").Text("Add File from FTP").OnClick("AddNewFileFTP")).Location(ToolbarItemLocation.Center);
                                                items.Add().Widget(w => w.Button().Icon("glyphicon glyphicon-paperclip").Text("Add Attachment").OnClick("AddNewAttach")).Location(ToolbarItemLocation.Center);
                                                items.Add().Widget(w => w.Button().Icon("glyphicon glyphicon-paperclip").Text("Add Attachment from FTP").OnClick("AddNewAttachFTP")).Location(ToolbarItemLocation.Center);
                                                items.Add().Widget(w => w.Button().Icon("glyphicon glyphicon-link").Text("Add Link").OnClick("AddNewLink")).Location(ToolbarItemLocation.Center);
                                            })
            )
        </div>
    </div>

    <div class="row" id="areaSelezione">
        <div class="row">
            <div class="text-primary" id="msgDivManage"></div>
        </div>
        <div class="row divAddResource" id="divUploadFile" hidden>
            <div class="col-md-12">
                <div class="col-md-1"><i class="fa fa-folder-open-o icofunzione" ></i></div>
                <div class="col-md-8 BoxAction" style="border: 1px darkgray solid">
                    @(Html.DevExtreme().FileUploader()
                                .ID("fileuploader-topic")
                                .Name("myNewFileTopic")
                                .Multiple(false)
                                .Accept("*")
                                .AllowCanceling(false)
                                .MaxFileSize(10000000)  // 10 MB
                                .UploadMode(FileUploadMode.Instantly)
                                .UploadUrl(Url.Action("UploadNewResource", new { TopicId = 0, ResourceType = "", ResourceId = 0 }))  // valorizzati on-the-fly
                                .OnUploaded("myFileTopic_onUploaded")
                                .OnUploadStarted("myFileTopic_onUploadStarted")
                                .OnUploadError("myFileTopic_onUploadError")
                                //.OnUploadAborted("myFileTopic_onUploadAborted")
                                .OnValueChanged("myFileTopic_OnValueChanged")
                                .LabelText("or Drop file here")
                                .SelectButtonText("Select file")
                    )
                </div>
            </div>
        </div>
        <div class="row divAddResource" id="divSelectFileFTP" hidden>
            <div class="col-md-12" style="height: 100%;">
                <div class="col-md-1"><i class="glyphicon glyphicon-inbox icofunzione" ></i></div>
                <div class="col-md-8" style="border: solid 1px #ddd; padding-right: 0px;">
                    @(Html.DevExtreme().List()
                                        .ID("FileFromFTP")
                                        .ShowSelectionControls(true)
                                        .SelectionMode(ListSelectionMode.Single)
                                        .DataSource(d => d.Mvc().LoadAction("GetFilesFromFTP").Key("id"))
                                        .KeyExpr("id")
                                        .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                        .Height("300")
                                        .ItemTemplate(@<text><b><%= id %></b></text>)
                    )
                </div>
                <div class="col-md-3">
                    @(Html.DevExtreme().Button().Text("Save").OnClick("Save_FileFromFTP"))
                    <br />
                    <i class="small">Selected file will be removed from FTP Area.</i>
                </div>
            </div>
        </div>
        <div class="row divAddResource" id="divAddNewLink" hidden>
            <div class="col-md-12">
                <div class="col-md-1"><i class="glyphicon glyphicon-link icofunzione"></i></div>
                <div class="col-md-11 jumbotron">
                    <div class="row form-group">
                        <div class="row">
                            <div class="col-md-1 labelEditResource">Url/Link:</div>
                            <div class="col-md-8">
                                @(Html.DevExtreme().TextBox().ID("EditResourceValueLink").InputAttr("maxLength", 200).InputAttr("class", "inputCode"))
                            </div>
                            <div class="col-md-3">
                                @(Html.DevExtreme().Button().Text("Save").OnClick("Save_ResourceLink"))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 labelEditResource">Title:</div>
                            <div class="col-md-8">
                                @(Html.DevExtreme().TextBox().ID("EditResourceValueTitle").InputAttr("maxLength", 200).InputAttr("class", "inputCode"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-md-12">
            @(Html.DevExtreme().DataGrid()
                                                    .ID("grid-resources")
                                                    .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                    .ShowBorders(true)
                                                    .ShowRowLines(true)
                                                    .ShowColumnHeaders(true)
                                                    .HoverStateEnabled(false)
                                                    .RowAlternationEnabled(false)
                                                    .AllowColumnResizing(true)
                                                    .Height(400)
                                                    .NoDataText("No Resources")
                                                    .DataSource(d => d.WebApi().LoadAction("GetTopicResources")
                                                            .LoadParams(new { id = Model.DRTopicId })
                                                        )
                                                    .RemoteOperations(true)
                                                    .WordWrapEnabled(true)
                                                    .Columns(columns =>
                                                    {
                                                        columns.Add().DataField("DRResourceId").Visible(false);
                                                        columns.Add().Width("13%").Alignment(HorizontalAlignment.Left).AllowSorting(true).CalculateSortValue("Type")
                                                                    .Caption("Type").Name("Resource_Type");
                                                        columns.Add().Width("25%").Alignment(HorizontalAlignment.Left)
                                                                    .DataField("Source").Caption("Resource");
                                                        columns.Add().Width("40%").Alignment(HorizontalAlignment.Left)
                                                                    .DataField("Title").Caption("Title").Name("Resource_Name");
                                                    //.DataField("DRResourceId").Caption("Title").Name("Resource_Name");
                                                    columns.Add().Width("10%").Alignment(HorizontalAlignment.Center)
                                                                    .DataField("TmstLastUpdDeco").Caption("Created");
                                                        columns.Add()
                                                                .Alignment(HorizontalAlignment.Center).Width("15%").Caption("")
                                                                .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                                .CellTemplate(@<div>
                                                                    <a href="#" onclick="doEditTitleResource(<%= data.DRResourceId %>);" class="cmdResource" title="Edit Title">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                    <% if (data.Type == '@ResourceType_File' || data.Type == '@ResourceType_Attach') { %>
                                                                    <a href="#" onclick="ChangeFileBrowser(<%= data.DRResourceId %>, <%= data.Type %>, '<%= data.Title %>');" class="cmdResource"
                                                                       title="change file"><i class="fa fa-folder-open-o"></i></a>
                                                                    <a href="#" onclick="ChangeFileFTP(<%= data.DRResourceId %>, <%= data.Type %>, '<%= data.Title %>');" class="cmdResource"
                                                                       title="change file from FTP"><i class="glyphicon glyphicon-inbox"></i></a>
                                                                    <% } %>
                                                                    <% if (data.Type == '@ResourceType_Url') { %>
                                                                    <a href="#" onclick="ChangeLink(<%= data.DRResourceId %> , '<%= data.Title %>', '<%= data.Source %>');" class="cmdResource"
                                                                       title="change link"><i class="glyphicon glyphicon-link"></i></a>
                                                                    <% } %>
                                                                    <a href="#" onclick="doDeleteResource(<%= data.DRResourceId %>,  '<%= data.Title %>');" class="cmdResource" title="Remove">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                </div>);
                                                            })
                                                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                        .OnCellPrepared("onCellPreparedResourceEdit")
            )
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 text-right">
            <span class="small">@rifTopic</span>
        </div>
        <div class="col-md-6">

            <div class="pull-right">
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose"))
            </div>
        </div>
    </div>
</form>