@model WebApp.Entity.DocumentalRepositoryDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Documental Repository - Journal";
    string titolo = ViewData["Title"].ToString();
    int ResourceType_File = (int)Lookup.DRResourceType.file;
    int ResourceType_Attach = (int)Lookup.DRResourceType.attachment;
    int ResourceType_Url = (int)Lookup.DRResourceType.url;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>


<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    #divGrid {
        background-color: #f8f8f8;
        min-height: 600px;
        /*border: 1px solid #cccccc;*/
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    /*div.dx-datagrid-borders {
        border: 1px solid #cccccc;
    }*/

    #toolbar {
        margin-bottom: 5px;
    }

    .ResourceType {
        font-size: 12px;
    }

    /* Colore sfondo riga selezionata */
    .dx-datagrid-rowsview .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
        background-color: lightblue !important;
    }

    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .cmdTopic {
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .modal-lg {
        width: 90%;
    }
    .resourceDelete {
        font-style: italic !important;
        font-weight: normal !important;
        color: red !important;
    }
</style>
<script type="text/javascript">

    var selSectionId = 0;
    var selFileName = "";
    var selOnlyLastGet = true;
    var selShowDeleted = false;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            getTreeInstance().expandAll();
        });
    });
    function getTreeInstance() {
        return $("#sections-treeview").dxTreeView("instance");
    }
    var OnContentReady = function (e) {
        getTreeInstance().option("height", $("#divGrid").height() - 30);
    }

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function openExport_click() {
        getDataGridInstance().exportToExcel(false);
    }
    function FileNameFilter_ValueChanged(e) {
        var newValue = (e.value || '');
        if (selFileName != newValue) {
            selFileName = newValue;
            getDataGridInstance().getDataSource().reload();
        }
    }

    var delayTimer;
    function FileNameFilter_KeyUp(e) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            var newValue = e.component._options.text;
            if (selFileName != (newValue||"")) {
                selFileName = newValue;
                getDataGridInstance().getDataSource().reload();
            }
        }, 1000); // Will do the ajax stuff after 1000 ms, or 1 s
    }
    function TextFilter_KeyUp(e) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            var newValue = e.component._options.text;
            newValue = (newValue || "").trim();
            getDataGridInstance().searchByText(newValue);
        }, 500); // Will do the ajax stuff after 500 ms, or 0.5 s
    }
    function treeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        var item = e.itemData;
        selSectionId = 0;
        if (item.DRSectionId > 0) {
            selSectionId = item.DRSectionId;
        }
        getDataGridInstance().getDataSource().reload();
    }
    function openSection_click() {
        $("#divSections").toggle();
    }

    var bExpandedSectionsTopic = true;
    function ExpandAll() {
        var tree = getTreeInstance();
        bExpandedSectionsTopic = !bExpandedSectionsTopic;
        if (bExpandedSectionsTopic) {
            tree.expandAll();
            $("#cmdExpand").text("collapse all");
        } else {
            tree.collapseAll();
            tree.expandItem(-1);
            $("#cmdExpand").text("expand all");
        }
    }
    function OnlyGetOperations_ValueChanged(data) {
        selOnlyLastGet = data.value;
        getDataGridInstance().getDataSource().reload();
    }
    function ShowDeleted_ValueChanged(data) {
        selShowDeleted = data.value;
        getDataGridInstance().getDataSource().reload();
    }
    
    function OnRowPrepared(info) {
        if (info.rowType == "group" && info.groupIndex == 1) {
            if (info.data.key.indexOf('**DELETED**') > 0) {
                info.rowElement.addClass('resourceDelete');
            }
        }
    }
    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("filler1", "visible", true);
    }
    function OnExported(e) {
        e.component.columnOption("filler1", "visible", false);
        e.component.endUpdate();
    }

</script>

<div id="main">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-google-wallet" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "gestione" }))
{
    @Html.AntiForgeryToken()
    <div class="empty_row"></div>
    <div class="row" id="toolbar">
        @(Html.DevExtreme().Toolbar()
                    .Items(items =>
                    {
                        items.Add().Widget(w => w.Button().Icon("hierarchy").OnClick("openSection_click").Hint("Sections")).Location(ToolbarItemLocation.Before);
                        items.Add().Widget(w => w.TextBox().ID("FileNameFilter").Placeholder("Search by File Name").Width(250).OnKeyUp("FileNameFilter_KeyUp")).Location(ToolbarItemLocation.Before);
                        items.Add().Widget(w => w.CheckBox().ID("OnlyGetOperations").Text("Only Last Get (Download/Open)").Value(true).OnValueChanged("OnlyGetOperations_ValueChanged")).Location(ToolbarItemLocation.Before);
                        items.Add().Widget(w => w.CheckBox().ID("ShowDeleted").Text("Show Deleted Resources").OnValueChanged("ShowDeleted_ValueChanged")).Location(ToolbarItemLocation.Before);
                        items.Add().Widget(w => w.TextBox().ID("TextFilter").Placeholder("Search...").Width(250).OnKeyUp("TextFilter_KeyUp")).Location(ToolbarItemLocation.After);
                        items.Add().Widget(w => w.Button().Icon("export").OnClick("openExport_click")).Location(ToolbarItemLocation.After);
                    })
        )
    </div>
    <div class="row">
        <div class="panel-tree">
            <div id="divSections" class="col-md-3" hidden>
                <span>
                    <a href="#" onclick="ExpandAll();" class="small" id="cmdExpand">expand all</a>
                </span>
                @(Html.DevExtreme().TreeView()
                                    .ID("sections-treeview")
                                    .DataSource(d => d.Mvc().LoadAction("GetAllSections"))
                                    .DataStructure(TreeViewDataStructure.Plain)
                                    .ParentIdExpr("ParentId")
                                    .KeyExpr("DRSectionId")
                                    .DisplayExpr("Title")
                                    .ExpandedExpr("Expanded")
                                    .Width("100%")
                                    .Height(600)
                                    .SearchEnabled(true)
                                    .SelectByClick(true)
                                    .SelectionMode(NavSelectionMode.Single)
                                    .FocusStateEnabled(true)
                                    .OnItemClick("treeViewItemClick")
                                    .ItemTemplate(@<text>
                                        <div>
                                            <% if ( Locked == true ) { %>
                                            <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                                            <% } else { %>
                                            <i class="<%- icon %>" style="font-size: 16px;"></i>
                                            <% } %>
                                            <% if ( ParentId <= 0 && DRSectionId > 0 ) { %>
                                                <span style="font-weight: bold;"><%- Title %></span>
                                            <% } else { %>
                                                <%- Title %>
                                            <% } %>
                                            <% if (DRSectionId > 0 && cntTopics > 0) { %>
                                            &nbsp;&nbsp;<i class="fa fa-tags" title="Topics" />&nbsp;<%- cntTopics %>
                                            @*&nbsp;&nbsp;<i class="fa fa-hashtag" title="Resources" />&nbsp;<%- cntResources %>*@
                                            <% } %>
                                        </div>
                                    </text>)
                )
            </div>
        </div>
        <div id="divGrid">
            @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(true)
                                    .RowAlternationEnabled(true)
                                    .AllowColumnResizing(true)
                                    .DataSource(d => d.WebApi().LoadAction("GetJournal")
                                                            .LoadParams(new
                                                            {
                                                                SectionId = new JS("function() { return selSectionId; }"),
                                                                FileName = new JS("function() { return selFileName; }"),
                                                                OnlyLastGet = new JS("function() { return selOnlyLastGet; }"),
                                                                showDeleted = new JS("function() { return selShowDeleted; }")
                                                            })
                                                            .Key("DRResourceId"))
                                    .DataSourceOptions(o => o.PageSize(999))
                                    //.RemoteOperations(ro => ro.GroupPaging(true))
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .WordWrapEnabled(true)
                                    .Grouping(grouping => grouping.AutoExpandAll(true))
                                    //.SearchPanel(searchPanel => searchPanel.Visible(true))
                                    //.GroupPanel(groupPanel => groupPanel.Visible(true))
                                    .Columns(columns =>
                                    {
                                        //columns.Add().DataField("DRTrackingId").Visible(false);
                                        columns.Add().DataField("DRResourceId").Visible(false);
                                        columns.Add().DataField("DRTopicId").Visible(false);
                                        columns.Add().DataField("SectionAndTopicInfo").GroupIndex(0).Caption("Topic").Width("10%");
                                        columns.Add().DataField("ResourceInfo").GroupIndex(1).Caption("Resource").Width("10%").AutoExpandGroup(true);
                                        columns.Add().Caption("").Width("10%").Name("filler1").Visible(false);  // solo per export
                                        columns.Add().DataField("TmstInseDeco").Width("15%").Caption("Date").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("FullName").Width("15%").Caption("User Name");
                                        columns.Add().DataField("operation").Width("8%").Caption("Operation").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("Tracking_Note").Width("45%").Caption("Note").Alignment(HorizontalAlignment.Center);
                                    })
                .Paging(p => p.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int>
                    { 5, 10, 20, 50, 100, 200 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                .Export(e => e.Enabled(false).FileName("Journal").AllowExportSelectedData(false))
                .OnContentReady("OnContentReady")
                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                .OnRowPrepared("OnRowPrepared")
                .OnExporting("OnExporting")
                .OnExported("OnExported")
            )
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}