@model WebApp.Entity.Department
@using WebApp.Classes;
@{
    ViewData["Title"] = "Manage Version (ISR)";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }

    .dx-highlight-outline {
        all: unset;
    }

    .modelTypeClass {
        vertical-align: middle !important;
    }  
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });
    var errorMessage = "";
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("#form-elenco").submit();
            }
        })
        return false;
    }
    function Data_Error(e) {
        errorMessage = e.error.message;
    }
    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }
</script>

@(Html.DevExtreme().LoadPanel()
                            .ID("savePanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .Message("Saving...")
                            .CloseOnOutsideClick(false)
)


<form id="form-elenco">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button().Icon("export").Hint("Export to Excel").OnClick("goExport"))
                </div>
            </div>
            <div class="col-md-8 col-md-push-2">
                @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(true)
                                            .AllowColumnResizing(true)
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                            .Editing(editing =>
                                            {
                                                editing.Mode(GridEditMode.Batch);
                                                editing.AllowUpdating(true);
                                            })
                                            .DataSource(d => d.Mvc()
                                                .Controller("Config").LoadAction("GetVersionISRs")
                                                .UpdateAction("UpdateVersionISR").Key("idNum")
                                            )
                                            .RemoteOperations(true)
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("idNum").Visible(false);
                                                columns.Add().DataField("descrizione").Caption("Description").AllowEditing(false);
                                                columns.Add().DataField("attr1").Caption("Model Type").Width("30%")
                                                                .CssClass("modelTypeClass").Alignment(HorizontalAlignment.Center)
                                                                .Lookup(l => l.DataSource(Lookup.InstrumentModelTypeFiltersWithAll).DisplayExpr("descrizione")
                                                                            .ValueExpr("id").AllowClearing(true));
                                            })
                                            .OnDataErrorOccurred("Data_Error")
                                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                            .Export(e => e.Enabled(true).FileName("Versions"))
                                            .LoadPanel(l => l.Enabled(true).Height(70))
                )
            </div>
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button().Icon("save").Hint("Save Changes").Text("Save")
                                   .Type(ButtonType.Success).OnClick("doSave"))
    </div>
    <br />
    <br />
</form>

