@model WebApp.Entity.Department
@using WebApp.Classes;
@{
    ViewData["Title"] = "Manage Warning / Messages";
}

<style type="text/css">
    body {
        background-color: white;
    }
</style>


<script type="text/javascript">

    var jsShowExpired = false; 

    // Funzioni JQuery
    $(function () {
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxCheckBox",
            options: {
                text: "Show Expired Messages",
                onValueChanged: function (data) { jsShowExpired = data.value; $("#grid-container").dxDataGrid("instance").getDataSource().reload();}

            }
        });
    }
</script>

@(Html.DevExtreme().LoadPanel()
                                .ID("savePanel")
                                .ShadingColor("rgba(0,0,0,0.4)")
                                .Visible(false)
                                .ShowIndicator(true)
                                .ShowPane(true)
                                .Shading(true)
                                .Message("Saving...")
                                .CloseOnOutsideClick(false)
)

<form id="form-elenco">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-map-o" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <br />
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(false)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(true)
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    .Selection(selection => selection.Mode(SelectionMode.None))
                                    .Editing(editing =>
                                    {
                                        editing.Mode(GridEditMode.Batch);
                                        editing.AllowUpdating(true);
                                        editing.AllowAdding(true);
                                        editing.AllowDeleting(true);
                                    })
                                    .DataSource(d => d.Mvc().Controller("Config").LoadAction("GetWMessages").Key("WMessageId")
                                                .LoadParams(new
                                                    {
                                                        showExpired = new JS("function() { return jsShowExpired; }"),
                                                    })            
                                                .UpdateAction("UpdateWMessage")
                                                .InsertAction("InsertWMessage")
                                                .DeleteAction("DeleteWMessage")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("WMessageId").Visible(false);
                                        columns.Add().DataField("Note").Caption("Note").Width("70%");
                                        columns.Add().DataField("TmstFrom").Caption("Start Date").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("TmstTo").Caption("Expiration Date").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                                    })
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("Messages"))
                                    .Export(e => e.Enabled(true).FileName("Message"))
                                    .LoadPanel(l => l.Enabled(true).Height(70))
                                    .Paging(p => p.PageSize(10))
                                    .OnToolbarPreparing("toolbar_preparing")
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
            )
        </div>
    </div>
</form>

