@model WebApp.Entity.AddParticipantDLDTO
@using WebApp.Classes;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Create New Registration only for Distribution List";
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

@if (!SignInManager.IsSignedIn(User))
{
    <style type="text/css">
        body {
            padding-top: 10px;
        }
    </style>
}

<style type="text/css">
    label {
        margin-bottom: 2px;
    }

    .dx-scrollable-wrapper {
        min-height: 150px;
    }

    .dx-lookup-search-wrapper {
        padding: 5px;
    }

    .dx-item-content.dx-list-item-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .dx-checkbox-icon {
        height: 30px;
        width: 30px;
    }

    .dx-checkbox-indeterminate .dx-checkbox-icon:before {
        height: 20px;
        width: 20px;
    }

    .confTitle {
        font-size: 14px;
        font-style: italic;
    }
    .confValue {
        font-weight: bold;
        font-size:16px;
    }
    .confTitle2 {
        font-size: 12px;
        font-style: italic;
    }

    .confValue2 {
        font-size: 14px;
    }
    .confirmBox > p {
        margin: 1px;
    }

    .form-group > div {
        padding-left: 5px;
        padding-right: 2px;
    }

</style>

<script type="text/javascript">

    var jsArrayCountry =@Html.Raw(Json.Serialize(Model.countries));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("#savePanel").dxLoadPanel({
                onShown: function (e) {
                    setTimeout(function () {
                        e.component.hide();
                    }, 20000);
                }
            });
        });
    });

    function doSave() {

        var title = $("#Title").dxSelectBox("instance").option('value');
        if ((title || '') == '') {
            bootbox.alert("The Title field is required.");
            return false;
        }
        var TypeOfParticipant = $("#TypeOfParticipant").dxSelectBox("instance").option('value');
        if ((TypeOfParticipant || '') == '') {
            bootbox.alert("The Type of Participant field is required.");
            return false;
        }
        var CompanyName = $("#CompanyName").val();
        if ((CompanyName || '') == '') {
            bootbox.alert("The Company Name field is required.");
            return false;
        }
        var jobPosition = $("#JobPosition").dxSelectBox("instance").option('text')
        if ((jobPosition || '') == '') {
            bootbox.alert("The Job Position field is required.");
            return false;
        }
        var oValidator = $("#form-ges").validate();
        if (oValidator.form() == false) {
            return false;
        }
        var dataToPost = $("#form-ges").serialize();
        $.ajax({
            url: '@Url.Action("CtrlTrainingRegistrationJson")',
            type: 'POST',
            data: dataToPost,
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                if (data.error != '') {
                    bootbox.alert(data.error);
                } else if (data.warning != '') {
                    bootbox.confirm(data.warning + "<br/><br/>To be continued?", function (result) {
                        if (result) {
                            doExecuteSave();
                        }
                    })
                } else {
                    doExecuteSave();
                }
            }
        });
        return false;
    }

    function doExecuteSave() {
        var tmp = "";
        var msg = "";

        msg += "<div class='confirmBox'>";
        msg += "<p><span class='confTitle'>Title: </span><span class='confValue'>" + $("#Title").dxSelectBox("instance").option('text') + "</span></p>";
        msg += "<p><span class='confTitle'>Name: </span><span class='confValue'>" + $("#Name").val() + "</span></p>";
        msg += "<p><span class='confTitle'>Surname: </span><span class='confValue'>" + $("#Surname").val() + "</span></p>";
        msg += "<p><span class='confTitle'>Type of Participant: </span><span class='confValue'>" + $("#TypeOfParticipant").dxSelectBox("instance").option('text') + "</span></p>";
        msg += "<p><span class='confTitle'>Email Address: </span><span class='confValue'>" + $("#EmailAddress").val() + "</span></p>";
        msg += "<p><span class='confTitle'>Country: </span><span class='confValue'>" + $("#CountryId").dxLookup("instance").option('value') + "</span></p>";
        msg += "<p><span class='confTitle'>Mobile Number: </span><span class='confValue'>" + $("#MobileNumber").val() + "</span></p>";
        msg += "<p>&nbsp;</p>";
        tmp = $("#CompanyName").val();
        if ((tmp || '') != '') msg += "<p><span class='confTitle'>Company Name: </span><span class='confValue'>" + tmp + "</span></p>";
        tmp = $("#CompanyAddress").val();
        tmp = tmp + ' ' + $("#CompanyAddressNr").val();
        tmp = tmp + ' ' + $("#CompanyAddressCity").val();
        tmp = tmp + ' ' + $("#CompanyAddressZipCode").val();
        tmp = tmp.trim();
        if ((tmp || '') != '') msg += "<p><span class='confTitle'>Company Address: </span><span class='confValue'>" + tmp + "</span></p>";
        msg += "<p>&nbsp;</p>";
        tmp = $("#JobPosition").dxSelectBox("instance").option('text')
        if ((tmp || '') != '') msg += "<p><span class='confTitle'>Job Position: </span><span class='confValue'>" + tmp + "</span></p>";
        msg += "<p>&nbsp;</p>";
        msg += "</div>";

        bootbox.confirm("Confirm Registration only for Distribution List? <br/><br/>" + msg, function (result) {
            if (result) {
                $("#btnSave").dxButton("instance").option("disabled", true);
                $("#savePanel").dxLoadPanel("instance").show();
                $("#form-ges").attr("action", '@Url.Action("AddParticipantDL")');
                $("#form-ges").submit();
            }
        });
        return false;
    }

    var country_valueChanged = function (e) {
        if ((e.value || '') != '') {
            let obj = jsArrayCountry.find(o => o.countryId === e.value);
            if ($("#MobileNumber").val().length <= 5) {
                $("#MobileNumber").val(obj.callingCode);
            }
        }
    }

    function checkMobileNumber(evt) {
        var validChar = "+- 0123456789";
        var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
            //return false;
        if (validChar.indexOf(String.fromCharCode(charCode)) == -1)
            return false;
        return true;
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="DistributionList" class="goback">goback</a>
    </div>
</div>

<h4>@ViewData["Title"]</h4>

<form asp-action="AddParticipantDL" method="post" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Status)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        @(Html.DevExtreme().LoadPanel()
                                        .ID("savePanel")
                                        .ShadingColor("rgba(0,0,0,0.4)")
                                        .Visible(false)
                                        .ShowIndicator(true)
                                        .ShowPane(true)
                                        .Shading(true)
                                        .Message("Sending...")
                                        .CloseOnOutsideClick(false)
        )
        <div class="form-horizontal">
            <div class="col-md-12 well" style="padding-bottom: 5px;">
                <div class="form-group">
                    <label class="col-md-2 control-label required">Title/Name/Surname</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.Title)
                                                                        .ID("Title")
                                                                        .DataSource(Lookup.listRegistrationTitle)
                                                                        .ValueExpr("id")
                                                                        .DisplayExpr("descrizione")
                                                                        .Placeholder("Title")
                        )
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Name" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Surname" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label required">Type of Participant</label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TypeOfParticipant)
                                                                                .ID("TypeOfParticipant")
                                                                                .DataSource(Model.typesOfParticipant)
                                                                                .ValueExpr("Id")
                                                                                .DisplayExpr("Id")
                                                                                .Placeholder("select...")
                        )
                        <span asp-validation-for="TypeOfParticipant" class="text-danger"></span>
                    </div>
                    <label asp-for="EmailAddress" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="EmailAddress" type="email" style="max-width:100%;" class="form-control" autocomplete="true" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().LookupFor(m => m.CountryId)
                                                                    .ID("CountryId")
                                                                    .DataSource(Model.countries)
                                                                    .ValueExpr("CountryId")
                                                                    .DisplayExpr("CountryId")
                                                                    .Placeholder("select...")
                                                                    .CloseOnOutsideClick(true)
                                                                    .Shading(false)
                                                                    .OnValueChanged("country_valueChanged")
                        )
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <label asp-for="MobileNumber" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="MobileNumber" type="tel" style="max-width:100%;" class="form-control" autocomplete="true"
                               onkeypress="return checkMobileNumber(event);" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="CompanyName" type="text" style="max-width:100%;" class="form-control" autocomplete="true" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyAddress" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="CompanyAddress" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Address" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="CompanyAddressNr" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Nr." />
                        <span asp-validation-for="CompanyAddressNr" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressCity" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="City" />
                        <span asp-validation-for="CompanyAddressCity" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressZipCode" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="ZipCode" />
                        <span asp-validation-for="CompanyAddressZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobPosition" class="col-md-2 control-label required"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.JobPosition)
                                                                               .ID("JobPosition")
                                                                               .DataSource(Model.jobPositions)
                                                                               .ValueExpr("Id")
                                                                               .DisplayExpr("Id")
                                                                               .Placeholder("select...")
                        )
                        <span asp-validation-for="JobPosition" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="buttons">
                        @(Html.DevExtreme().Button()
                                        .Icon("save")
                                        .Hint("save")
                                        .Text("save")
                                        .ID("btnSave")
                                        .Type(ButtonType.Success)
                                        .OnClick("doSave")
                        )
                    </div>
                </div>
            </div>
            </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
