@model WebApp.Entity.TrainingRegistrationDTO
@using WebApp.Classes;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Create New Registration";
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

@if (!SignInManager.IsSignedIn(User))
{
    <style type="text/css">
        body {
            padding-top: 10px;
        }
    </style>
}

<style type="text/css">
    label {
        margin-bottom: 2px;
    }

    .dx-scrollable-wrapper {
        min-height: 150px;
    }

    .dx-lookup-search-wrapper {
        padding: 5px;
    }

    .dx-item-content.dx-list-item-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .dx-checkbox-icon {
        height: 30px;
        width: 30px;
    }

    .dx-checkbox-indeterminate .dx-checkbox-icon:before {
        height: 20px;
        width: 20px;
    }

    .confTitle {
        font-size: 14px;
        font-style: italic;
    }
    .confValue {
        font-weight: bold;
        font-size:16px;
    }
    .confTitle2 {
        font-size: 12px;
        font-style: italic;
    }

    .confValue2 {
        font-size: 14px;
    }
    .confirmBox > p {
        margin: 1px;
    }

    .form-group > div {
        padding-left: 5px;
        padding-right: 2px;
    }
    .titoloTraining {
        font-size: 18px;
        font-weight: bold;
    }

    .row-privacy {
        margin-top: 5px;
    }


</style>

<script type="text/javascript">

    var jsArrayCountry =@Html.Raw(Json.Serialize(Model.countries));
    var jsTypeOfParticipantITA = @Html.Raw(Json.Serialize(Model.typesOfParticipantITA));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if (@Model.TrainingId != 0) {
                SetAccomodationSection(@Model.TrainingId, false);
            }
            setMsgPrivacy('@Model.TypeOfParticipant');
            ;
            $("#savePanel").dxLoadPanel({
                onShown: function (e) {
                    setTimeout(function () {
                        e.component.hide();
                    }, 20000);
                }
            });
        });
    });

    function doSave() {

        if ($("#TrainingId").dxLookup("instance").option('value') == "") {
            bootbox.alert("The Training field is required.");
            return false;
        }
        var title = $("#Title").dxSelectBox("instance").option('value');
        if ((title || '') == '') {
            bootbox.alert("The Title field is required.");
            return false;
        }
        var TypeOfParticipant = $("#TypeOfParticipant").dxSelectBox("instance").option('value');
        if ((TypeOfParticipant || '') == '') {
            bootbox.alert("The Type of Participant field is required.");
            return false;
        }
        var CompanyName = $("#CompanyName").val();
        if ((CompanyName || '') == '') {
            bootbox.alert("The Company Name field is required.");
            return false;
        }
        var jobPosition = $("#JobPosition").dxSelectBox("instance").option('text')
        if ((jobPosition || '') == '') {
            bootbox.alert("The Job Position field is required.");
            return false;
        }

        var oValidator = $("#form-ges").validate();
        if (oValidator.form() == false) {
            return false;
        }

        var VISA = $("#VISA").dxSelectBox("instance").option('value');
        if (VISA == -1) {
            bootbox.alert("The VISA field is required.");
            return false;
        }
        if (VISA == @((int)Lookup.TrainigVISA.yes_with_letter) || VISA == @((int)Lookup.TrainigVISA.yes_no_letter) ) {
            if (($('input[type=file]').val() || "") == "") {
                bootbox.alert("Please select a scan copy of your passport")
                return false;
            }
        }
        if ($("#AccomodationSection").is(":hidden") == false) {
            var tmp = $("#selectAccomodation").dxSelectBox("instance").option('value');
            if ((tmp || '') == '') {
                bootbox.alert("The 'Indicate if you want hotel accomodation' field is required.");
                return false;
            } else {
                if (($("#CheckIn").dxDateBox("instance").option('value') || '') == '') {
                    bootbox.alert("The Check-In field is required.");
                    return false;
                }
                if (($("#CheckOut").dxDateBox("instance").option('value') || '') == '') {
                    bootbox.alert("The Check-Out field is required.");
                    return false;
                }
            }
        }

        var dataToPost = $("#form-ges").serialize();
        $.ajax({
            url: '@Url.Action("CtrlTrainingRegistrationJson")',
            type: 'POST',
            data: dataToPost,
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                if (data.error != '') {
                    bootbox.alert(data.error);
                } else if (data.warning != '') {
                    bootbox.confirm(data.warning + "<br/><br/>To be continued?", function (result) {
                        if (result) {
                            doExecuteSave();
                        }
                    })
                } else {
                    doExecuteSave();
                }
            }
        });
        return false;
    }

    function doExecuteSave() {
        var tmp = "";
        var msg = "";

        $.ajax({
            type: "GET",
            url: '@Url.Action("Get")',
            data: { TrainingId: $("#TrainingId").dxLookup("instance").option('value') },
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText, "error");
            },
            success: function (data) {
                msg += "<div class='confirmBox'>";
                msg += "<p><span class='confTitle'>Training: </span><span class='confValue'>" + $("#TrainingId").dxLookup("instance").option('text') + "</span></p>";
                msg += "<p><span class='confTitle2'>Location: </span><span class='confValue2'>" + data.location + "</span></p>";
                msg += "<p><span class='confTitle2'>Period From: </span><span class='confValue2'>" + data.periodFromDeco + "</span>" +
                    "<span class='confTitle2'> To: </span> <span class='confValue2'>" + data.periodToDeco + "</span></p>";
                msg += "<p>&nbsp;</p>";
                msg += "<p><span class='confTitle'>Title: </span><span class='confValue'>" + $("#Title").dxSelectBox("instance").option('text') + "</span></p>";
                msg += "<p><span class='confTitle'>Name: </span><span class='confValue'>" + $("#Name").val() + "</span></p>";
                msg += "<p><span class='confTitle'>Surname: </span><span class='confValue'>" + $("#Surname").val() + "</span></p>";
                msg += "<p><span class='confTitle'>Type of Participant: </span><span class='confValue'>" + $("#TypeOfParticipant").dxSelectBox("instance").option('text') + "</span></p>";
                msg += "<p><span class='confTitle'>Email Address: </span><span class='confValue'>" + $("#EmailAddress").val() + "</span></p>";
                msg += "<p><span class='confTitle'>Country: </span><span class='confValue'>" + $("#CountryId").dxLookup("instance").option('value') + "</span></p>";
                msg += "<p><span class='confTitle'>Mobile Number: </span><span class='confValue'>" + $("#MobileNumber").val() + "</span></p>";
                msg += "<p>&nbsp;</p>";
                tmp = $("#CompanyName").val();
                if ((tmp || '') != '') msg += "<p><span class='confTitle'>Company Name: </span><span class='confValue'>" + tmp + "</span></p>";
                tmp = $("#CompanyAddress").val();
                tmp = tmp + ' ' + $("#CompanyAddressNr").val();
                tmp = tmp + ' ' + $("#CompanyAddressCity").val();
                tmp = tmp + ' ' + $("#CompanyAddressZipCode").val();
                tmp = tmp.trim();
                if ((tmp || '') != '') msg += "<p><span class='confTitle'>Company Address: </span><span class='confValue'>" + tmp + "</span></p>";
                tmp = $("#JobPosition").dxSelectBox("instance").option('text')
                if ((tmp || '') != '') msg += "<p><span class='confTitle'>Job Position: </span><span class='confValue'>" + tmp + "</span></p>";
                msg += "<p>&nbsp;</p>";
                msg += "<p><span class='confTitle'>VISA: </span><span class='confValue'>" + $("#VISA").dxSelectBox("instance").option('text') + "</span></p>";
                // ?? Accomodation 
                if ($("#AccomodationSection").is(":hidden") == false) {
                    msg += "<p>&nbsp;</p>";
                    tmp = $("#selectAccomodation").dxSelectBox("instance").option('value');
                    if (tmp == 'NO') {
                        msg += "<p><span class='confTitle'>Accomodation: </span><span class='confValue'>Not Required</span></p>";
                    } else {
                        msg += "<p><span class='confTitle'>Accomodation: </span><span class='confValue'>Required</span></p>";
                        msg += "<p><span class='confTitle'>Check-In: </span><span class='confValue'>" + $("#CheckIn").dxDateBox("instance").option('text') + "</span></p>";
                        msg += "<p><span class='confTitle'>Check-Out: </span><span class='confValue'>" + $("#CheckOut").dxDateBox("instance").option('text') + "</span></p>";
                    }
                }
                msg += "<p>&nbsp;</p>";
                msg += "</div>";

                bootbox.confirm("Confirm Registration? <br/><br/>" + msg, function (result) {
                    if (result) {
                        $("#btnSave").dxButton("instance").option("disabled", true);
                        $("#savePanel").dxLoadPanel("instance").show();
                        $("#form-ges").attr("action", '@Url.Action("CreateRegistration")');
                        $("#form-ges").submit();
                    }
                });
            }
        });
        return false;
    }

    var country_valueChanged = function (e) {
        if ((e.value || '') != '') {
            let obj = jsArrayCountry.find(o => o.countryId === e.value);
            //bootbox.alert(JSON.stringify(obj, getCircularReplacer()));
            if ($("#MobileNumber").val().length <= 5) {
                $("#MobileNumber").val(obj.callingCode);
            }
        }
    }

    var training_valueChanged = function (e) {
        SetAccomodationSection(e.value, true);
    }

    var SetAccomodationSection = function(TrainingId, bResetAccomodation) {
        $.ajax({
            type: "GET",
            url:  '@Url.Action("Get")',
            data: { TrainingId: TrainingId },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                if (data.hotelId == null) {
                    $("#AccomodationSection").hide();
                    $("#AccomodationInfo").hide();
                    $("#selectAccomodation").dxSelectBox("instance").option('value', "");
                    $("#CheckIn").dxDateBox("instance").option('value', null);
                    $("#CheckOut").dxDateBox("instance").option('value', null);
                } else {
                    $("#AccomodationSection").show();
                    $("#AccomodationInfo").show();
                    if (bResetAccomodation == true) {
                        $("#selectAccomodation").dxSelectBox("instance").option('value', "");
                        $("#CheckIn").dxDateBox("instance").option('value', data.periodFrom);
                        $("#CheckOut").dxDateBox("instance").option('value', data.periodTo);
                    } else {
                        var tmp = '@Model.Accomodation';
                        if (tmp == 'True') {
                            $("#selectAccomodation").dxSelectBox("instance").option('value', "YES");
                            $("#CheckIn").dxDateBox("instance").option('visible', true);
                            $("#CheckOut").dxDateBox("instance").option('visible', true);
                        } else {
                            $("#selectAccomodation").dxSelectBox("instance").option('value', "NO");
                            $("#CheckIn").dxDateBox("instance").option('visible', false);
                            $("#CheckOut").dxDateBox("instance").option('visible', false);
                        }
                    }
                }
            }
        });
    }

    var selectAccomodation_valueChanged = function (e) {
        var Accomodation = false;
        if (e.value == "YES") {
            $("#CheckInOut").show();
            Accomodation = true;
        } else {
            $("#CheckInOut").hide();
        }
        $("#Accomodation").val(Accomodation);
        $("#CheckIn").dxDateBox("instance").option('visible', Accomodation);
        $("#CheckOut").dxDateBox("instance").option('visible', Accomodation);
    }


    //function CheckIn_valueChanged(data) {
    //    var from = new Date(data.value);
    //    var to = $("#CheckOut").dxDateBox("instance").option('value');
    //    //console.log('CheckIn_valueChanged - ' + from);
    //    //console.log('CheckIn_valueChanged - ' + to);
    //    if (from > to) {
    //        $("#CheckOut").dxDateBox("instance").option('value', from);
    //    }
    //}
    //function CheckOut_valueChanged(data) {
    //    var to = new Date(data.value);
    //    var from = $("#CheckIn").dxDateBox("instance").option('value');
    //    //console.log('CheckOut_valueChanged - ' + from);
    //    //console.log('CheckOut_valueChanged - ' + to);
    //    if (from > to) {
    //        $("#CheckIn").dxDateBox("instance").option('value', to);
    //    }
    //}

    function checkMobileNumber(evt) {
        var validChar = "+- 0123456789";
        var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
            //return false;
        if (validChar.indexOf(String.fromCharCode(charCode)) == -1)
            return false;
        return true;
    }

    var TypeOfParticipant_onValueChanged = function (e) {
        setMsgPrivacy((e.value || ''));
    }

    function setMsgPrivacy(typeOfParticipant) {
        var bIta = false;
        for (var i = 0; i < jsTypeOfParticipantITA.length; i++) {
            if (typeOfParticipant.toUpperCase() == jsTypeOfParticipantITA[i].id.toUpperCase()) {
                bIta = true;
            }
        }
        //if (typeOfParticipant.toUpperCase() == ("End-User - Italy (Utente finale Italia)").toUpperCase() || 
        //    typeOfParticipant.toUpperCase() == ("EGSPA Internal Employee").toUpperCase()) {
        if (bIta) {
            $(".privacyIta").removeClass("hidden");
            $(".privacyEng").addClass("hidden");
        } else {
            $(".privacyIta").addClass("hidden");
            $(".privacyEng").removeClass("hidden");
        }
    }

    function AbilitaConferma(data) {
        var abilita = $("#privacy1").dxCheckBox("instance").option('value') && $("#privacy2").dxCheckBox("instance").option('value');
        $("#btnSave").dxButton("instance").option("disabled", !abilita);
    }

    function goDownloadFile(fileName) {
        $("#fileName").val(fileName);
        $("#frm-download").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#frm-download").attr("target", "_blank");
        $("#frm-download").submit();
        $("#frm-download").attr("target", "");    // Ripristino Target
        return false;
    }


</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="goBackCreateRegistration" class="goback">goback</a>
    </div>
</div>

<h4>@ViewData["Title"]</h4>

<form id="frm-download">
    <input type="hidden" name="fileName" id="fileName">
</form>

<form asp-action="CreateRegistration" method="post" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Status)
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        @(Html.DevExtreme().LoadPanel()
                                        .ID("savePanel")
                                        .ShadingColor("rgba(0,0,0,0.4)")
                                        .Visible(false)
                                        .ShowIndicator(true)
                                        .ShowPane(true)
                                        .Shading(true)
                                        .Message("Sending...")
                                        .CloseOnOutsideClick(false)
        )
        <div class="form-horizontal">
            <div class="col-md-12 well" style="padding-bottom: 5px;">
                <h4><span class="label label-default">Training</span> <em style="font-size: 14px;">Select for which training you are subscribing (repeat the subscription for each person attending the training)</em></h4>
                <div class="form-group">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-10">
                        @(Html.DevExtreme().LookupFor(m => m.TrainingId)
                                                                .ID("TrainingId")
                                                                //.DataSource(d => d.Mvc().LoadAction("GetTrainingForRegistration").Key("TrainingId"))
                                                                //.ValueExpr("trainingId")
                                                                //.DisplayExpr("title")
                                                                .DataSource(Model.trainings)
                                                                .ValueExpr("TrainingId")
                                                                .DisplayExpr("Title")
                                                                .Placeholder("select...")
                                                                .CloseOnOutsideClick(true)
                                                                .Shading(false)
                                                                .ShowPopupTitle(false)
                                                                .SearchExpr(new[] { "Title", "Location", "TypeDescription", "PeriodFromDeco", "PeriodToDeco" })
                                                                .ItemTemplate(@<text>
                                                                    <div class="custom-item">
                                                                        <div class="row riga-lookup">
                                                                            <div class="col-md-12 dett-lookup titoloTraining"><%= Title %></div>
                                                                            <div class="col-md-12 dett-lookup"><%= TypeDescription %></div>
                                                                            <div class="col-md-7 dett-lookup"><%= Location %></div>
                                                                            <div class="col-md-5 dett-lookup"><small>Training Period:&nbsp;</small><strong><%= PeriodFromDeco %> - <%= PeriodToDeco %></strong></div>
                                                                            <div class="col-md-12 dett-lookup"><small></small></div>
                                                                        </div>
                                                                </text>).OnValueChanged("training_valueChanged")
                        )
                        <span asp-validation-for="TrainingId" class="text-danger"></span>
                    </div>
                </div>
                <h4><span class="label label-primary">Participant details</span> <em style="font-size: 14px;">Contact of the person that will attend the training</em></h4>
                <div class="form-group">
                    <label class="col-md-2 control-label required">Title/Name/Surname</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.Title)
                                                                                .ID("Title")
                                                                                .DataSource(Lookup.listRegistrationTitle)
                                                                                .ValueExpr("id")
                                                                                .DisplayExpr("descrizione")
                                                                                .Placeholder("Title")
                        )
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Name" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Surname" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label required">Type of Participant</label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TypeOfParticipant)
                                                                                .ID("TypeOfParticipant")
                                                                                .DataSource(Model.typesOfParticipant)
                                                                                .ValueExpr("Id")
                                                                                .DisplayExpr("Id")
                                                                                .Placeholder("select...")
                                                                                .OnValueChanged("TypeOfParticipant_onValueChanged")
                        )
                        <span asp-validation-for="TypeOfParticipant" class="text-danger"></span>
                    </div>
                    <label asp-for="EmailAddress" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="EmailAddress" type="email" style="max-width:100%;" class="form-control" autocomplete="true" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().LookupFor(m => m.CountryId)
                                                    .ID("CountryId")
                                                    .DataSource(Model.countries)
                                                    .ValueExpr("CountryId")
                                                    .DisplayExpr("CountryId")
                                                    .Placeholder("select...")
                                                    .CloseOnOutsideClick(true)
                                                    .Shading(false)
                                                    .OnValueChanged("country_valueChanged")
                        )
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <label asp-for="MobileNumber" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="MobileNumber" type="tel" style="max-width:100%;" class="form-control" autocomplete="true"
                               onkeypress="return checkMobileNumber(event);" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <h4><span class="label label-success">Company details</span> <em style="font-size: 14px;">Company of the person who will attend the training</em></h4>
                <div class="form-group">
                    <label asp-for="CompanyName" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="CompanyName" type="text" style="max-width:100%;" class="form-control" autocomplete="true" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyAddress" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="CompanyAddress" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Address" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="CompanyAddressNr" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Nr." />
                        <span asp-validation-for="CompanyAddressNr" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressCity" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="City" />
                        <span asp-validation-for="CompanyAddressCity" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressZipCode" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="ZipCode" />
                        <span asp-validation-for="CompanyAddressZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobPosition" class="col-md-2 control-label required"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.JobPosition)
                                                                               .ID("JobPosition")
                                                                               .DataSource(Model.jobPositions)
                                                                               .ValueExpr("Id")
                                                                               .DisplayExpr("Id")
                                                                               .Placeholder("select...")
                        )
                        <span asp-validation-for="JobPosition" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="VISA" class="col-md-2 required control-label"></label>
                    <div class="col-md-10">
                        <em>The visa can be a requirement to reach the country of the training center. NOTE: In case you need the VISA and an invitation letter please upload a scan copy of your passport.</em>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-6">
                        @(Html.DevExtreme().SelectBoxFor(m => m.VISA)
                                                                                    .ID("VISA")
                                                                                    .DataSource(Lookup.listTrainigVISA)
                                                                                    .ValueExpr("idNum")
                                                                                    .DisplayExpr("descrizione")
                                                                                    .Value(-1)
                                                                                    .Placeholder("select...")
                        )
                        <span asp-validation-for="VISA" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PassportScan" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                               data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No File">
                    </div>
                    <span asp-validation-for="PassportScan" class="text-danger"></span>
                </div>

                <h4 id="AccomodationSection" hidden><span class="label label-info">Accomodation</span> <em style="font-size: 14px;">Information for CheckIn/CheckOut if required</em></h4>
                <div class="form-group" id="AccomodationInfo" hidden>
                    <label asp-for="Accomodation" class="col-md-2 required control-label">Indicate if you want hotel accomodation</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().SelectBox()
                                                           .DataSource(new[] { "YES", "NO" })
                                                           .ID("selectAccomodation")
                                                           .Placeholder("Select")
                                                           .OnValueChanged("selectAccomodation_valueChanged")
                        )
                        @*@(Html.DevExtreme().CheckBoxFor(m => m.Accomodation).ID("Accomodation").Text("").Visible(false)
            //.OnValueChanged("Accomodation_valueChanged")
            .Value(new JS("undefined")))*@
                        @Html.HiddenFor(model => Model.Accomodation)
                        <span asp-validation-for="Accomodation" class="text-danger"></span>
                    </div>
                    <label id="CheckInOut" hidden class="col-md-2 required control-label">Check In/Out</label>
                    <div class="col-md-3">
                        @(Html.DevExtreme().DateBoxFor(m => m.CheckIn).ID("CheckIn").Width("100%")
                                                                                    .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                                                    //.OnValueChanged("CheckIn_valueChanged")
                                                                                    .Visible(false))
                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        @(Html.DevExtreme().DateBoxFor(m => m.CheckOut).ID("CheckOut").Width("100%")
                                                                                    .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                                                    //.OnValueChanged("CheckOut_valueChanged")
                                                                                    .Visible(false))
                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row row-privacy">
                        <label class="col-md-2 control-label">Privacy Statement</label>
                        <div class="col-md-9 privacyEng">
                            <p>
                                ELITechGroup S.p.A. is constantly committed to respecting the privacy of the natural persons with which it
                                comes into contact, in accordance with Regulation (EU) No. 679/2016 (<strong>"GDPR"</strong>) and with Italian privacy legislation
                                (Legislative Decree 196/2003 as amended).
                            </p>
                            <p>
                                For more information, please go to the following link to view ELITechGroup S.p.a.
                                <a href="#" onclick="goDownloadFile('Privacy Statement.pdf');" style="font-size: 14px;" title="Privacy Statement">
                                    privacy policy
                                </a>
                            </p>
                            <p>
                                To exercise your rights you can contact us by email to the following address:
                                <a href="mailto:egspa.privacy@elitechgroup.com">egspa.privacy@elitechgroup.com</a>
                            </p>
                        </div>
                        <div class="col-md-9 privacyIta">
                            <p>
                                ELITechGroup S.p.A. e' costantemente impegnata a rispettare la privacy delle persone fisiche con cui entra in contatto, 
                                secondo quanto previsto dal Regolamento (UE) n. 679/2016 (<strong>"GDPR"</strong>) e dalla normativa privacy nazionale 
                                (D. Lgs. 196/2003 e s.m.i.).
                            </p>
                            <p>
                                Per maggiori informazioni, e' possibile prendere visione della privacy policy di ELITechGroup S.p.A. 
                                <a href="#" onclick="goDownloadFile('Informativa Privacy.pdf');" style="font-size: 14px;" title="Informativa Privacy">
                                    cliccando qui
                                </a>
                            </p>
                            <p>
                                Per l'esercizio dei Vostri diritti, potrete rivolgerVi alla scrivente a mezzo e-mail utilizzando il seguente indirizzo:
                                <a href="mailto:egspa.privacy@elitechgroup.com">egspa.privacy@elitechgroup.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="row row-privacy">
                        <div class="col-md-9 col-md-push-2">
                            <div class="col-md-1">
                                @(Html.DevExtreme().CheckBox().OnValueChanged("AbilitaConferma").ID("privacy1"))
                            </div>
                            <span class="privacyEng">I confirm that I have read the above statement.</span>
                            <span class="privacyIta">Dichiaro di aver preso visione della sovraestesa Informativa.</span>
                        </div>
                    </div>
                    <div class="row row-privacy">
                        <div class="col-md-9 col-md-push-2">
                            <div class="col-md-1">
                                @(Html.DevExtreme().CheckBox().OnValueChanged("AbilitaConferma").ID("privacy2"))
                            </div>
                            <span class="privacyEng">I consent to the processing of my Personal Data for the purposes of providing commercial information and sending commercial communications, newsletters and invitations to events.</span>
                            <span class="privacyIta">Presto il consenso al trattamento dei miei Dati Personali per lo svolgimento di attivita' di informazione commerciale e per l'invio di comunicazioni commerciali e newsletter nonche' inviti a eventi.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="buttons">
                        @(Html.DevExtreme().Button()
                                                .Icon("save")
                                                .Hint("save")
                                                .Text("save")
                                                .ID("btnSave")
                                                .Disabled(true)
                                                .Type(ButtonType.Success)
                                                .OnClick("doSave")
                        )
                    </div>
                </div>
                </div>
            </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
