@model WebApp.Entity.TrainingRegistrationDTO
@using WebApp.Classes;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = String.Format("Edit Registration [{0}]", Model.TrainingRegistrationId);  
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

@if (!SignInManager.IsSignedIn(User))
{
    <style type="text/css">
        body {
            padding-top: 10px;
        }
    </style>
}

<style type="text/css">

    hr {
        margin-top: 0px;
    }

    label {
        margin-bottom: 2px;
    }

    .dx-scrollable-wrapper {
        min-height: 150px;
    }

    .dx-lookup-search-wrapper {
        padding: 5px;
    }

    .dx-item-content.dx-list-item-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .dx-checkbox-icon {
        height: 30px;
        width: 30px;
    }

    .new.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
        background: red;
    }

    .accepted.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
        background: green;
    }

    .refused.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
        background: gray;
    }

    .form-group > div {
        padding-left: 5px;
        padding-right: 2px;
    }

</style>

<script type="text/javascript">

    var jsNewStatus = '@Model.Status';
    var jsPrecStatus = '@Model.Status';

    var jsArrayCountry =@Html.Raw(Json.Serialize(Model.countries));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if ('@Model.Training.HotelId' != '') {
                $("#AccomodationSection").show();
                $("#AccomodationInfo").show();
                if ('@Model.Accomodation' == 'True') {
                    $("#CheckInOUt").show();
                    $("#CheckIn").dxDateBox("instance").option('visible', true);
                    $("#CheckOut").dxDateBox("instance").option('visible', true);
                    $("#HotelPaid").dxCheckBox("instance").option('visible', true);
                }
            }
        });
    });

    function doSave() {

        var title = $("#Title").dxSelectBox("instance").option('value');
        if ((title || '') == '') {
            bootbox.alert("The Title field is required.");
            return false;
        }
        var TypeOfParticipant = $("#TypeOfParticipant").dxSelectBox("instance").option('value');
        if ((TypeOfParticipant || '') == '') {
            bootbox.alert("The Type of Participant field is required.");
            return false;
        }
        var CompanyName = $("#CompanyName").dxAutocomplete("instance").option('value');
        if ((CompanyName || '') == '') {
            bootbox.alert("The Company Name field is required.");
            return false;
        }
        var jobPosition = $("#JobPosition").dxSelectBox("instance").option('text')
        if ((jobPosition || '') == '') {
            bootbox.alert("The Job Position field is required.");
            return false;
        }

        var oValidator = $("#form-ges").validate();
        if (oValidator.form() == false) {
            return false;
        }

        var VISA = $("#VISA").dxSelectBox("instance").option('value');
        if (VISA == @((int)Lookup.TrainigVISA.yes_with_letter) || VISA == @((int)Lookup.TrainigVISA.yes_no_letter)) {
            if (($('input[type=file]').val() || "") == "" && (($('#PassportScan').val() || "") == "") || $('#RemoveFile').is(":checked")) {
                bootbox.alert("Please select a scan copy of your passport")
                return false;
            }
        }

        var dataToPost = $("#form-ges").serialize();
        $.ajax({
            url: '@Url.Action("CtrlTrainingRegistrationJson")',
            type: 'POST',
            data: dataToPost,
            success: function (data) {
                if (data.error != '') {
                    bootbox.alert(data.error);
                } else if (data.warning != '') {
                    bootbox.confirm(data.warning + "<br><br>To be continued?", function (result) {
                        if (result) {
                            doExecuteSave();
                        }
                    })
                } else {
                    doExecuteSave();
                }
            }
        });
        return false;

    }

    function doRemove() {
        bootbox.confirm({
            message: "Do you wish to delete it?",
            buttons: {
                confirm: {
                    label: 'Confirm',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-default'
                }
            },
            callback: function (result) {
                if (result) {
                    $("#form-ges").attr("action", '@Url.Action("RemoveRegistration")');
                    $("#form-ges").submit();
                }
            }
        });
    }

    function doExecuteSave() {
        $("#form-ges").attr("action", '@Url.Action("EditRegistration")');

        if (jsNewStatus == jsPrecStatus) {
            $("#form-ges").submit();
            return false;
        }

        bootbox.confirm("Confirm New Status '" + jsNewStatus + "' ?", function (result) {
            if (result) {
                $("#form-ges").submit();
            }
        });
        return false;
    }

    var training_valueChanged = function (e) {
        $.ajax({
            type: "GET",
            url:  '@Url.Action("Get")',
            data: { TrainingId: e.value },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                if (data.hotelId == null) {
                    $("#AccomodationSection").hide();
                    $("#AccomodationInfo").hide();
                    $("#Accomodation").dxCheckBox("instance").option('value', false);
                    $("#CheckIn").dxDateBox("instance").option('value', null);
                    $("#CheckOut").dxDateBox("instance").option('value', null);
                } else {
                    $("#AccomodationSection").show();
                    $("#AccomodationInfo").show();
                    $("#CheckIn").dxDateBox("instance").option('value', data.periodFrom);
                    $("#CheckOut").dxDateBox("instance").option('value', data.periodTo);
                }
            }
        });
    }

    var Accomodation_valueChanged = function (e) {
        if (e.value) {
            $("#CheckInOUt").show();
        } else {
            $("#CheckInOUt").hide();
        }
        $("#CheckIn").dxDateBox("instance").option('visible', e.value);
        $("#CheckOut").dxDateBox("instance").option('visible', e.value);
        $("#HotelPaid").dxCheckBox("instance").option('visible', e.value);
    }

    var country_valueChanged = function (e) {
        if ((e.value || '') != '') {
            let obj = jsArrayCountry.find(o => o.countryId === e.value);
            if ($("#MobileNumber").val().length <= 5) {
                $("#MobileNumber").val(obj.callingCode);
            }
        }
    }

    //function CheckIn_valueChanged(data) {
    //    var from = new Date(data.value);
    //    var to = $("#CheckOut").dxDateBox("instance").option('value');
    //    //console.log('CheckIn_valueChanged - ' + from);
    //    //console.log('CheckIn_valueChanged - ' + to);
    //    if (from > to) {
    //        $("#CheckOut").dxDateBox("instance").option('value', from);
    //    }
    //}
    //function CheckOut_valueChanged(data) {
    //    var to = new Date(data.value);
    //    var from = $("#CheckIn").dxDateBox("instance").option('value');
    //    //console.log('CheckOut_valueChanged - ' + from);
    //    //console.log('CheckOut_valueChanged - ' + to);
    //    if (from > to) {
    //        $("#CheckIn").dxDateBox("instance").option('value', to);
    //    }
    //}

    function goDownloadPassportScan(Id) {
        $("#form-ges").attr("action", '@Url.Action("downloadPassportScan")/' + Id);
        $("#form-ges").submit();
        return false;
    }

    function radioGroupItemTemplate(itemData, _, itemElement) {
        itemElement
            .parent().addClass(itemData.id.toLowerCase())
            .text(itemData.id);
    }

    function radioGroup_valueChanged(e) {
        jsNewStatus = e.value;
    }

    function checkMobileNumber(evt) {
        var validChar = "+- 0123456789";
        var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
        //return false;
        if (validChar.indexOf(String.fromCharCode(charCode)) == -1)
            return false;
        return true;
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<h4>@ViewData["Title"]</h4>

<form asp-action="EditRegistration" method="post" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TrainingRegistrationId)
    @Html.HiddenFor(model => model.TrainingId)
    @Html.HiddenFor(model => model.PassportScan)
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="h3" style="margin-top: 5px;">@Model.Training.Title</div>
                <div class="h4">Registration created at @Model.TmstCreateDeco</div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-md-12 well" style="padding-bottom: 5px;">
                <h4><span class="label label-primary">Participant details</span> <em style="font-size: 14px;">Contact of the person that will attend the training</em></h4>
                <div class="form-group">
                    <label class="col-md-2 control-label required">Title/Name/Surname</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().SelectBoxFor(m => m.Title)
                                            .ID("Title")
                                            .DataSource(Lookup.listRegistrationTitle)
                                            .ValueExpr("id")
                                            .DisplayExpr("descrizione")
                                            .Placeholder("Title")
                        )
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Name" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Surname" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Surname" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label required">Type of Participant</label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.TypeOfParticipant)
                                                                        .ID("TypeOfParticipant")
                                                                        .DataSource(Model.typesOfParticipant)
                                                                        .ValueExpr("Id")
                                                                        .DisplayExpr("Id")
                                                                        .Placeholder("select...")
                        )
                        <span asp-validation-for="TypeOfParticipant" class="text-danger"></span>
                    </div>
                    <label asp-for="EmailAddress" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="EmailAddress" type="email" style="max-width:100%;" class="form-control" autocomplete="true" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().LookupFor(m => m.CountryId)
                                                        .ID("CountryId")
                                                        //.DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetCountries").Key("CountryId"))
                                                        //.ValueExpr("countryId")
                                                        //.DisplayExpr("countryId")
                                                        .DataSource(Model.countries)
                                                        .ValueExpr("CountryId")
                                                        .DisplayExpr("CountryId")
                                                        .Placeholder("select...")
                                                        .CloseOnOutsideClick(true)
                                                        .Shading(false)
                                                        .OnValueChanged("country_valueChanged")
                        )
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <label asp-for="MobileNumber" class="col-md-2 required control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="MobileNumber" type="tel" style="max-width:100%;" class="form-control" autocomplete="true"
                                                      onkeypress="return checkMobileNumber(event);"/>
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <h4><span class="label label-success">Company details</span> <em style="font-size: 14px;">Company of the person who will attend the training</em></h4>
                <div class="form-group">
                    <label asp-for="CompanyName" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        @*<input asp-for="CompanyName" type="text" style="max-width:100%;" class="form-control" autocomplete="true" />*@
                        @(Html.DevExtreme().AutocompleteFor(m => m.CompanyName)
                                                        .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetCompaniesAutoComplete"))
                                                        .InputAttr("autocomplete", "true")
                                                        .ID("CompanyName")
                        )
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyAddress" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="CompanyAddress" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Address" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <input asp-for="CompanyAddressNr" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="Nr." />
                        <span asp-validation-for="CompanyAddressNr" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressCity" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="City" />
                        <span asp-validation-for="CompanyAddressCity" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="CompanyAddressZipCode" type="text" style="max-width:100%;" class="form-control" autocomplete="true" placeholder="ZipCode" />
                        <span asp-validation-for="CompanyAddressZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobPosition" class="col-md-2 control-label required"></label>
                    <div class="col-md-4">
                        @(Html.DevExtreme().SelectBoxFor(m => m.JobPosition)
                                                                       .ID("JobPosition")
                                                                       .DataSource(Model.jobPositions)
                                                                       .ValueExpr("Id")
                                                                       .DisplayExpr("Id")
                                                                       .Placeholder("select...")
                        )
                        <span asp-validation-for="JobPosition" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="VISA" class="col-md-2 required control-label"></label>
                    <div class="col-md-10">
                        <em>The visa can be a requirement to reach the country of the training center. NOTE: In case you need the VISA and an invitation letter please upload a scan copy of your passport.</em>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-6">
                        @(Html.DevExtreme().SelectBoxFor(m => m.VISA)
                                            .ID("VISA")
                                            .DataSource(Lookup.listTrainigVISA)
                                            .ValueExpr("idNum")
                                            .DisplayExpr("descrizione")
                                            //.Value(Lookup.TrainigVISA.yes_with_letter)
                                            .Placeholder("select...")
                        )
                        <span asp-validation-for="VISA" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PassportScan" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                               data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No File">
                    </div>
                    <span asp-validation-for="PassportScan" class="text-danger"></span>
                    @if (!string.IsNullOrWhiteSpace(Model.PassportScan))
                    {
                        <div class="col-md-6">
                            <label class="form-check-label col-md-4">
                                @Html.CheckBox("RemoveFile")<span>&nbsp;Remove File&nbsp;</span>
                            </label>
                            <div class="col-md-8">
                                <a href="#" onclick="goDownloadPassportScan(@Model.TrainingRegistrationId);" style="font-size: 14px; word-wrap: break-word; white-space: normal;"
                                   class="btn btn-link btn-xs" title="Download">@Model.PassportScan</a>
                            </div>
                        </div>
                    }
                </div>
                <h4 id="AccomodationSection" hidden><span class="label label-info">Accomodation</span> <em style="font-size: 14px;">Information for CheckIn/CheckOut if required</em></h4>
                <div class="form-group" id="AccomodationInfo" hidden>
                    <label asp-for="Accomodation" class="col-md-2 control-label">Indicate if you want hotel accomodation</label>
                    <div class="col-md-1">
                        @(Html.DevExtreme().CheckBoxFor(m => m.Accomodation).ID("Accomodation").Text("").OnValueChanged("Accomodation_valueChanged"))
                        <span asp-validation-for="Accomodation" class="text-danger"></span>
                    </div>
                    <label id="CheckInOUt" hidden class="col-md-2 required control-label">Check In/Out</label>
                    <div class="col-md-2">
                        @(Html.DevExtreme().DateBoxFor(m => m.CheckIn).ID("CheckIn").Width("100%")
                                                    .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                    //.OnValueChanged("CheckIn_valueChanged")
                                                    .Visible(false))
                        <span asp-validation-for="CheckIn" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        @(Html.DevExtreme().DateBoxFor(m => m.CheckOut).ID("CheckOut").Width("100%")
                                                    .Min("2000/01/01").Max("2999/12/31").ApplyValueMode(EditorApplyValueMode.Instantly)
                                                    //.OnValueChanged("CheckOut_valueChanged")
                                                    .Visible(false))
                        <span asp-validation-for="CheckOut" class="text-danger"></span>
                    </div>
                    <div class="col-md-2" style="margin-left: 20px;">
                        @(Html.DevExtreme().CheckBoxFor(m => m.hotelPaid).ID("HotelPaid").Text("Paid by EGSPA").Visible(false))
                        <span asp-validation-for="hotelPaid" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Status" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        @(Html.DevExtreme().RadioGroupFor(m => m.Status)
                                                .DataSource(Lookup.listRegistrationStatus)
                                                .ValueExpr("id")
                                                .DisplayExpr("descrizione")
                                                .Layout(Orientation.Horizontal)
                                                .ItemTemplate(new JS("radioGroupItemTemplate"))
                                                .OnValueChanged("radioGroup_valueChanged")
                        )
                    </div>
                    <label asp-for="SendNews" class="col-xs-6 col-md-3 control-label"> Newsletter Subscription<br /><small>(include email in Distribution List)</small></label>
                    <div class="col-xs-3 col-md-1">
                        @(Html.DevExtreme().CheckBoxFor(m => m.SendNews).Text(""))
                        @*@(Html.DevExtreme().SwitchFor(m => m.SendNews))*@
                        <span asp-validation-for="SendNews" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                    <hr />
                    <div class="form-group">
                        <div class="col-md-11 col-xs-10">
                            <div class="buttons pull-right">
                                @(Html.DevExtreme().Button()
                                                    .Icon("save")
                                                    .Hint("save")
                                                    .Text("save")
                                                    .Type(ButtonType.Success)
                                                    .OnClick("doSave")
                                )
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <hr />
                    <div class="col-md-6">
                        <div class="buttons">
                            @(Html.DevExtreme().Button()
                                                .Icon("remove")
                                                //.Hint("remove registration")
                                                .Text("remove registration")
                                                .Type(ButtonType.Danger)
                                                .OnClick("doRemove")
                            )
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="buttons pull-right">
                            @(Html.DevExtreme().Button()
                                                .Icon("save")
                                                .Hint("save")
                                                .Text("save")
                                                .Type(ButtonType.Success)
                                                .OnClick("doSave")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
