@using WebApp.Classes
@{
    ViewData["Title"] = "Trainings";
    string titolo = ViewData["Title"].ToString();
    bool bShowArchived = false;
    if (ViewData["bShowArchived"] != null)
    {
        bShowArchived = (bool)ViewData["bShowArchived"];
    }
    bool bShowDeleted = false;
    if (ViewData["bShowDeleted"] != null)
    {
        bShowDeleted = (bool)ViewData["bShowDeleted"];
    }
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>


<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    .status-NEW {
        color: brown;
        font-weight: bold;
    }

    .status-PUBLISHED {
        color: green;
        font-weight: bold;
    }

    .status-CLOSED {
        font-weight: bold;
        color: darkblue;
    }

    .status-ARCHIVED {
        /*color: darkblue;*/
    }

    .status-DELETED {
        color: dimgray;
        text-decoration: line-through;
    }

    .cmdEdit {
        font-size: 18px;
    }

    .cmdSelect {
        font-size: 18px;
    }

    .dx-datagrid-nowrap {
        white-space: normal;
    }

    .BoxAction {
        display: table;
        min-height: 35px;
        white-space: normal;
        text-align: center;
    }

    .MsgAction {
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
    }

    .infoParticipantAction {
        font-size: 18px;
        font-weight: bold;
    }

    #MasterPopup .dx-button-text {
        font-size: 20px;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-lines .NewReg {
        color:red;
    }

    .NewReg {
        color: red;
    }
</style>
<script type="text/javascript">

    var selTrainingId = 0;
    var selTrainingRegistrationId = 0;
    var jsDeleted = false;
    var jsArchived = false;
    var btnRemoveFilters = null;
    if ('@bShowDeleted'.toLowerCase() == 'true') jsDeleted = true;
    if ('@bShowArchived'.toLowerCase() == 'true') jsArchived = true;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            initEmailBodyField('EmailBody', 200, "NOKEYWORDS");
            initEmailBodyField('GenericEmailBody', 200, "NOKEYWORDS");
        });
    });

    $('#openBtn').click(function () {
        $('#myModal').modal({ show: true })
    });

    var OnContentReady = function (e) {
        var filters = getDataGridInstance().getCombinedFilter();
        jsFiltered = false;
        btnRemoveFilters.option("type", "normal");
        if (filters) {
            btnRemoveFilters.option("type", "success");
        }
    }

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "export",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "add",
                    onClick: function () {
                        $("#list").attr("action", '@Url.Action("Edit")');
                        $("#list").submit();
                        return false;
                    }
                }
            }, {
                location: "before",
                widget: "dxCheckBox",
                options: {
                    value: (jsDeleted || false),
                    text: "Show Deleted Items",
                    onValueChanged: function (data) {
                        jsDeleted = data.value;
                        aggiornaFiltri();
                    }
                }
            }, {
                location: "before",
                widget: "dxCheckBox",
                options: {
                    value: (jsArchived || false),
                    text: "Show Archived Items",
                    onValueChanged: function (data) {
                        jsArchived = data.value;
                        aggiornaFiltri();
                    }
                }
            }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "fa fa-eye-slash",
                    hint: "Remove column filters",
                    name: "removeFilters",
                    onClick: function () {
                        $("#grid-container").dxDataGrid("clearFilter", "row");
                        //getDataGridInstance().option("filterRow.visible", true);
                        return false;
                    },
                    onInitialized: function (evt) {
                        btnRemoveFilters = evt.component;
                    }
                }
        });
    }
    function goEdit(Id) {
        $("#list").attr("action", '@Url.Action("Edit")/' + Id);
        $("#list").submit();
        return false;
    }

    function goEditRegistration(Id) {
        $("#list").append('<input type="hidden" name="TrainingRegistrationId" value="' + Id + '" /> ');
        $("#list").attr("action", '@Url.Action("EditRegistration")');
        $("#list").submit();
        return false;

    }

    function goSetAsFilter(Id) {
        getDataGridInstance().columnOption('trainingId', 'filterValue', Id);
        getDataGridInstance().refresh();
    }

    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Delete")', "Training Deleted!");
            }
        });
        return false;
    }

    function goSendGenericEmail(Id) {
        
        if (Id != $("#GenericTrainingId").val()) {
            $("#GenericEmailTemplateId").dxSelectBox("instance").option("value", "");
            $('#GenericEmailSubject').val("");
            $('#GenericEmailBody').summernote("code", "");
            $("#GenericEmailTemplateId").dxSelectBox("instance").getDataSource().reload();
        }
        $("#GenericTrainingId").val(Id);
        $('#PopupGenericEmail').modal('show');
        return false;
    }

    function doPublish(Id) {
        bootbox.confirm({
            title: "Do you wish to publish it ?",
            message: "Training Registrations are opened.",
            callback: function(result) {
                if (result) {
                    goRunAction(Id, '@Url.Action("Publish")', "Training Published!");
                }
            }
        });
        return false;
    }

    function doClose(Id) {
        bootbox.confirm({
            title: "Do you wish to close it ?",
            message: "Training Registrations are closed.",
            callback: function(result) {
                if (result) {
                    goRunAction(Id, '@Url.Action("Close")', "Training Closed!");
                }
            }
        });
        return false;
    }

    function doRestore(Id) {
        bootbox.confirm("Do you wish to restore it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Restore")', "Training Restored!");
            }
        });
        return false;
    }

    function doArchive(Id) {
        bootbox.confirm("Do you wish to archive it ?", function (result) {
            if (result) {
                goRunAction(Id, '@Url.Action("Archive")', "Training Archived!");
            }
        });
        return false;
    }

    function goRunAction(Id, action, msgOk) {
        $.ajax({
            type: "GET",
            url: action,
            data: { TrainingId: Id },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (msgerr) {
                if (msgerr != "") {
                    bootbox.alert(msgerr);
                } else {
                    DevExpress.ui.notify(msgOk, "info");
                }
                getDataGridInstance().refresh();
            }
        });
    }

    function goExportRegistration(Id) {
        var myGrid = $("#registration_" + Id + " #grid-registrations");
        myGrid.dxDataGrid("instance").exportToExcel(false);
    }
    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdTraining") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goEdit(" + e.value + ");' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
            fieldHtml += "<a href='#' onclick='goSetAsFilter(" + e.value + ");' class='glyphicon glyphicon-screenshot cmdEdit' title='Set As Filter'></a>&nbsp;";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "statusDeco") {
            e.cellElement.addClass("status-" + e.data.status.toUpperCase());
        }
        if (e.rowType == "detail_DISABLED_DA_VALUTARE") {
            var msg = "";
            if ((msg || "") == "") {
                e.cellElement.html("");
            } else {
                e.cellElement.html('<div class="col-md-12 internal-grid-note"><span class="dett-value ' + myClass + '">' + msg + '</span></div>');
            }
        }
    }

    function onCellPreparedRegistration(e) {
        var myClass = "";
        var fieldHtml = "";
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "status") {
            myClass = e.data.decorationStatus;
            fieldHtml += e.value + "&nbsp;<a href='#' onclick='goEditRegistration(" + e.data.trainingRegistrationId + ");' class='fa fa-address-card-o' title='Edit'></a>";
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "accomodationStatus") {
            myClass = e.data.decorationAccomodationStatus;
            if (e.data.bCanEdit == true && e.data.status == '@Lookup.TrainingRegistration_Status_ACCEPTED') {
                if (myClass != 'statusRegistration-NOT-REQUIRED') {
                    fieldHtml += e.value + "&nbsp;<a href='#' onclick='doShowActions(" + e.data.trainingRegistrationId + ", 1);' class='fa fa-gears'></a > ";
                }
            }
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "visaStatus") {
            myClass = e.data.decorationVisaStatus;
            if (e.data.bCanEdit == true && e.data.status == '@Lookup.TrainingRegistration_Status_ACCEPTED') {
                if (myClass != 'statusRegistration-NOT-REQUIRED') {
                    fieldHtml += e.value + "&nbsp;<a href='#' onclick='doShowActions(" + e.data.trainingRegistrationId + ", 2);' class='fa fa-gears'></a > ";
                }
            }
        }
        if (e.rowType == 'data' && e.column.caption && e.column.caption == "Certificate") {
            myClass = e.data.decorationCertificationStatus;
            if (e.data.certificateExist == true) {
                fieldHtml += "&nbsp;<a href='#' onclick='goDownloadCertificate(" + e.data.trainingRegistrationId + ");' class='fa fa-download' style='color: #337ab7;'></a > ";
            }
        }
        if (myClass != '') {
            e.cellElement.addClass(myClass);
        }
        if (fieldHtml != '') {
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdTrainingRegistration") {
            var fieldHtml = "";
            if (e.data.bCanEdit == true) {
                fieldHtml += "<a href='#' onclick='goEditRegistration(" + e.data.trainingRegistrationId + ");' class='fa fa-address-card-o cmdEdit' title='Edit'></a>&nbsp;";
                e.cellElement.html(fieldHtml);
            }
        }
    }

    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 9999);
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("trainers", "visible", true);
        e.component.columnOption("hotelDesciption", "visible", true);
        e.component.columnOption("note", "visible", true);
    }
    function OnExported(e) {
        e.component.columnOption("trainers", "visible", false);
        e.component.columnOption("hotelDesciption", "visible", false);
        e.component.columnOption("note", "visible", false);
        e.component.endUpdate();
    }
    function aggiornaFiltri() {
        $.get('@Url.Action("SaveIndexFilters")', { showDeleted: jsDeleted, showArchived: jsArchived }
             ).always(function () {
                getDataGridInstance().refresh();
            });
    }

    function goDownloadCCAuthorization(HotelId) {
        $("#list").attr("action", '@Url.Action("downloadCCAuthorization", "TRegistry")/' + HotelId);
        $("#list").submit();
        return false;
    }
    function goDownloadAgenda(TrainingId) {
        $("#list").attr("action", '@Url.Action("downloadAgenda")/' + TrainingId);
        $("#list").submit();
        return false;
    }

    function doShowActions(id, tipo) {
        selTrainingRegistrationId = id;
        $('#TrainingRegistr').hide();
        $('#AccomodationSection').hide();
        $('#InvLetterSection').hide();
        $('#EditEmailSection').hide();
        $('#btnSendEmail').hide();
        $('#boxUploadInvitationLetter').hide();

        $.get('@Url.Action("GetTrainingRegistratinJSON")', { TrainingRegistrationId: id }, function (data) {
            if (data == null) {
                bootbox.alert("Registration not found - id:" + id);
            } else {
                $(".infoParticipantAction").each(function (index) {
                    $(this).text(data.fullName);
                });
                if (tipo == 1) {
                    doShowActionsAccomodation(data);
                }
                if (tipo == 2) {
                    doShowActionsInvLetter(data);
                }
            }
            return false;
        });
    }

    // Riceve una istanza di TrainingTragistration
    function doShowActionsAccomodation(data) {
        $("#msgSendEmailHotel").html("");
        $("#btnSendEmailHotel").dxButton("instance").option("type", "normal");

        $("#msgInsResNumber").html("");
        $("#btnInsResNumber").dxButton("instance").option("type", "normal");
        $("#btnInsResNumber").dxButton("instance").option("disabled", true);

        $("#msgSendConfermaHotel").html("");
        $("#btnSendConfermaHotel").dxButton("instance").option("disabled", true);
        $("#btnSendConfermaHotel").dxButton("instance").option("type", "normal");

        if (data.tmstSendReservationHotelDeco == '') {
            $("#btnSendEmailHotel").dxButton("instance").option("type", "default");
        } else {
            $("#msgSendEmailHotel").html("Done at " + data.tmstSendReservationHotelDeco);
            $("#btnInsResNumber").dxButton("instance").option("disabled", false);
            if ((data.reservationNumber || '') == '') {
                $("#btnInsResNumber").dxButton("instance").option("type", "default");
            } else {
                $("#msgInsResNumber").html("Done - <strong> " + (data.reservationNumber || '') + "</strong >");
                $("#btnSendConfermaHotel").dxButton("instance").option("disabled", false);
                if (data.tmstReservationHotelConfirmedDeco == '') {
                    $("#btnSendConfermaHotel").dxButton("instance").option("type", "default");
                } else {
                    $("#msgSendConfermaHotel").html("Done at " + data.tmstReservationHotelConfirmedDeco);
                }
            }
        }
        $('#AccomodationSection').show();
        $('#MasterPopup').modal('show');
    }

    // Riceve una istanza di TrainingTragistration
    function doShowActionsInvLetter(data) {
        $("#msgUploadInvitationLetter").html("");
        $("#btnUploadInvitationLetter").dxButton("instance").option("type", "normal");
        $("#msgSendInvitationLetter").html("");
        $("#btnSendInvitationLetter").dxButton("instance").option("type", "normal");
        $("#btnSendInvitationLetter").dxButton("instance").option("disabled", true);

        if ((data.invLetterScan ||'') == '') {
            $("#btnUploadInvitationLetter").dxButton("instance").option("type", "default");
        } else {
            $("#msgUploadInvitationLetter").html("Done <a href='#' onClick='goDownloadInvLetter();'><bold>VIEW</bold></a>");
            $("#btnSendInvitationLetter").dxButton("instance").option("disabled", false);
            if (data.tmstSendInvitationLetterDeco == '') {
                $("#btnSendInvitationLetter").dxButton("instance").option("type", "default");
            } else {
                $("#msgSendInvitationLetter").html("Done at " + data.tmstSendInvitationLetterDeco);
            }
        }
        $('#InvLetterSection').show();
        $('#MasterPopup').modal('show');
    }

    function doSendEmailHotel() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_HOTEL' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Hotel not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_HOTEL");
            } else {
                doShowSendMailSection(data);
            }
            return false;
        });
    }

    function doSendEmailConfirmHotel() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_ConfHotel' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Confirmation Hotel not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_ConfHotel");
            } else {
                doShowSendMailSection(data);            }
            return false;
        });
    }

    function doSendEmailInvLetter() {
        $.get('@Url.Action("GetEmailInfoJSON")', { TrainingRegistrationId: selTrainingRegistrationId, EmailTemplateId: '@Lookup.Training_Email_InvitationLetter' }, function (data) {
            if (data == null) {
                bootbox.alert("Email Invitation Letter not found - id:" + selTrainingRegistrationId + ", email: @Lookup.Training_Email_InvitationLetter");
            } else {
                doShowSendMailSection(data);
            }
            return false;
        });
    }

    function doShowSendMailSection(data) {
        $("#EmailTemplateId").val(data.emailTemplateId);
        $("#EmailTo").val(data.to);
        $("#EmailSubject").val(data.subject);
        $('#EmailBody').summernote('code', data.body);
        $('#AccomodationSection').hide();
        $('#InvLetterSection').hide();
        $('#EditEmailSection').show();
        $('#btnSendEmail').show();
    }

    function closeEditEmailSection() {
        $('#EditEmailSection').hide();
        $('#btnSendEmail').hide();
        if ($("#EmailTemplateId").val() == '@Lookup.Training_Email_InvitationLetter') {
            $('#InvLetterSection').show();
        } else {
            $('#AccomodationSection').show();
        }
    }

    function doSendEmail() {
        var oValidator = $("#list").validate();
        if (oValidator.form() == false) {
            return false;
        }
        if ($('#EmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.EmailTemplateId = $("#EmailTemplateId").val();
        DTO.To = $("#EmailTo").val();;
        DTO.Subject = $("#EmailSubject").val();
        DTO.Body = $('#EmailBody').summernote('code');
        DTO.IdRif = selTrainingRegistrationId;
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();

        $.ajax({
            url: '@Url.Action("SendEmailRegistration")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $('#MasterPopup').modal('hide');
            getDataGridInstance().refresh();
            getLoadPanelSendInstance().hide();
        });
    }

    function doInsertReservationNumber() {
        bootbox.prompt({
            title: "Insert Reservation Number",
            size: "small",
            callback: function (result) {
                if (result != null) {
                    if (result == "") {
                        bootbox.alert("The Reservation Number field is required.");
                    } else {
                        $.post({
                            url: '@Url.Action("SetRegistrationNumber")',
                            data: { Id: selTrainingRegistrationId, ReservationNumber: result }
                        }).always(function () {
                            DevExpress.ui.notify("Registration Number updated.", "info");
                            getDataGridInstance().refresh();
                            // Ricarico il MasterPopup per consentire di inviare subito la email !!!
                            doShowActions(selTrainingRegistrationId, 1);
                        });
                    }
                }
            }
        });
        return false;
    }

    function doUploadInvitationLetter() {
        var uploader = $("#fileuploader-InvLetter").dxFileUploader("instance");
        var url = uploader.option("uploadUrl");
        uploader.option("value", "");
        url = updateQueryStringParameter(url, "TrainingRegistrationId", selTrainingRegistrationId);
        uploader.option("uploadUrl", url);
        $("#boxUploadInvitationLetter").show();
        return false;
    }

    function InvLetterScan_onUploaded(e) {
        // Ricarico il MasterPopup per consentire di inviare subito la email !!!
        getDataGridInstance().refresh();
        doShowActions(selTrainingRegistrationId, 2);
        DevExpress.ui.notify("Invitation Letter Loaded!", "info");
    }

    function goDownloadInvLetter() {
        $("#list").attr("action", '@Url.Action("downloadInvLetter")/' + selTrainingRegistrationId);
        $("#list").submit();
        return false;
    }

    function goShowJournal(TrainingId) {
        $.get('@Url.Action("Get")', { TrainingId: TrainingId }, function (data) {
            if (data == null) {
                bootbox.alert("Training not found - id:" + TrainingId);
            } else {
                $("#LogPopupTitle").text("Journal - " + data.title + " [" + TrainingId + "]");
                $('#LogPopupContent').load('@(Url.Action("TrainingJournal"))?TrainingId=' + TrainingId, function () {
                    $('#LogPopup').modal({
                        keyboard: true
                    }, 'show');
                });
            }
        });
        return false;
    }

    function goDownloadCertificate(id) {
        $("#list").attr("action", '@Url.Action("downloadCertificate")/' + id);
        $("#list").submit();
        return false;
    }

    function GenericEmail_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            $.get('@Url.Action("GetEmailInfoJSON")', { EmailTemplateId: e.value, TrainingId: $("#GenericTrainingId").val() }, function (data) {
                if (data != null) {
                    $('#GenericEmailSubject').val(data.subject);
                    $('#GenericEmailBody').summernote("code", data.body);
                }
                return false;
            });
        }
        return false;
    }
    function doSendGenericEmail() {
        var oValidator = $("#list").validate();
        if (oValidator.form() == false) {
            return false;
        }
        if ($('#GenericEmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.To = $("#GenericEmailTo").val();
        DTO.Subject = $("#GenericEmailSubject").val();
        DTO.Body = $('#GenericEmailBody').summernote('code');
        DTO.IdRif = $("#GenericTrainingId").val() 
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();

        $("#btnSendGenericEmail").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("SendGenericEmail")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $("#btnSendGenericEmail").attr("disabled", false);
            getLoadPanelSendInstance().hide();
        });

    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "list" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                            .ID("loadPanelSend")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(false)
                            .CloseOnOutsideClick(true)
                            .Message("Sending...")
                            .OnShown("loadPanelSend_shown")
        )
        @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(true)
                            .RowAlternationEnabled(true)
                            .AllowColumnResizing(true)
                            .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainings").Key("trainingId")
                                                        .LoadParams(new
                                                        {
                                                            bDeleted = new JS("function() { return jsDeleted; }"),
                                                            bArchived = new JS("function() { return jsArchived; }")
                                                        })
                            )
                            .RemoteOperations(true)
                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("indexTrainings"))
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .OnSelectionChanged(@<text>
                                function(e) {
                                e.component.collapseAll(-1);
                                e.component.expandRow(e.currentSelectedRowKeys[0]);
                                }
                            </text>)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("typeDescription").Caption("Type").Width("20%");
                                columns.Add().DataField("title").Caption("Title").Width("20%");
                                columns.Add().DataField("location").Caption("Location").Width("20%");
                                columns.Add().Caption("Period").Alignment(HorizontalAlignment.Center).Columns(a =>
                                {
                                    a.Add().DataField("periodFromDeco").Caption("From").Width("10%").CalculateSortValue("periodFromSort").SortOrder(SortOrder.Desc);
                                    a.Add().DataField("periodToDeco").Caption("To").Width("10%").CalculateSortValue("periodToSort");
                                });
                                columns.Add().DataField("statusDeco").Caption("Status").Width("10%").Alignment(HorizontalAlignment.Center);
                                //columns.Add().DataField("status").Visible(false);
                                columns.Add().DataField("reservedDesc").Caption("Reserved").Width("10%").Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("trainingId").Caption("").Width(0).AllowSearch(false).AllowSorting(false).AllowExporting(false).AllowResizing(false);
                                columns.Add().Caption("Participants/Attendes").Columns(a =>
                                {
                                    a.Add().DataField("cntNew").Caption("New").Width("8%").Alignment(HorizontalAlignment.Center).CssClass("NewReg");
                                    a.Add().DataField("cntConfirmed").Caption("Accepted").Width("10%").Alignment(HorizontalAlignment.Center);
                                    a.Add().DataField("cntRefused").Caption("Refused").Width("8%").Alignment(HorizontalAlignment.Center);
                                });
                                columns.Add().DataField("hotelDesciption").Caption("Hotel").Visible(false);  // per Export
                                columns.Add().DataField("trainers").Caption("Trainers").Visible(false);      // per Export
                                columns.Add().DataField("note").Caption("Note").Visible(false);              // per Export
                                columns.Add()
                                        .Alignment(HorizontalAlignment.Center)
                                        .Width("8%")
                                        .DataField("agenda")
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .Caption("Agenda")
                                        .CellTemplate(@<div>
                                            <% if (value != null && value != '') { %>
                                            <a href="#" onclick="goDownloadAgenda('<%= data.trainingId %>');" style="font-size: 14px;" title="<%=data.agenda%>">
                                                <i class="glyphicon glyphicon-paperclip"></i>
                                            </a>
                                            <% } %>
                                        </div>);
                                columns.Add()
                                    .Alignment(HorizontalAlignment.Center)
                                    .Width("10%")
                                    .DataField("trainingId")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .AllowEditing(false)
                                    .AllowExporting(false)
                                    .Caption("")
                                    .Name("cmdTraining");
                            })
                            .MasterDetail(md =>
                            {
                                md.Enabled(true);
                                md.Template(@<text>
                                    <div class="internal-grid-container" title="">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-10"><span class="dett-label">Hotel:</span><span class="dett-value"><%= data.hotelDesciption%></span></div>
                                                <div class="col-md-2 text-right">
                                                    <% if ((data.ccAuthorization || '') != '') { %>
                                                    <a href="#" onclick="goDownloadCCAuthorization('<%= data.hotelId %>');" title="Download CC Authorization" style="color: blue;">
                                                        <i class="glyphicon glyphicon-paperclip"></i>
                                                        <small class="text-muted">CC Authorization</small>
                                                    </a>
                                                    <% } %>
                                                </div>
                                                <div class="col-md-12"><span class="dett-label">Trainers:</span><span class="dett-value"><%= data.trainers%></span></div>
                                                <div class="col-md-12"><span class="dett-label">Internal Note:</span><span class="dett-value"><%= data.note%></span></div>
                                            </div>
                                            <div class="col-md-2 text-right">
                                                <% if (data.status == '@Lookup.Training_Status_NEW') { %>
                                                    @(Html.DevExtreme().Button().Icon("fa fa-external-link").Hint("Publish")
                                                                                .OnClick("function (arg) { doPublish(data.trainingId) }")
                                                                                .Type(ButtonType.Success))
                                                <% } %>
                                                <% if (data.status == '@Lookup.Training_Status_PUBLISHED') { %>
                                                    @(Html.DevExtreme().Button().Icon("fa fa-lock").Hint("Close").OnClick("function (arg) { doClose(data.trainingId) }").Type(ButtonType.Default))
                                                <% } %>
                                                <% if (data.status != '@Lookup.Training_Status_NEW') { %>
                                                    @(Html.DevExtreme().Button().Icon("revert").Hint("Undo").OnClick("function (arg) { doRestore(data.trainingId) }"))
                                                <% } %>
                                                <% if (data.status == '@Lookup.Training_Status_CLOSED') { %>
                                                    @(Html.DevExtreme().Button().Icon("fa fa-archive").Hint("Archive").OnClick("function (arg) { doArchive(data.trainingId) }"))
                                                <% } %>
                                                <% if (data.status != '@Lookup.Training_Status_DELETED') { %>
                                                    @(Html.DevExtreme().Button().Icon("trash").Hint("Delete").OnClick("function (arg) { goDelete(data.trainingId) }").Type(ButtonType.Danger))
                                                <% } %>
                                                @(Html.DevExtreme().Button().Icon("email").Hint("Send Email").OnClick("function (arg) { goSendGenericEmail(data.trainingId) }").Type(ButtonType.Success))
                                                <br />
                                                <div class="pull-right">
                                                    <a href="#" onclick="goExportRegistration('<%= data.trainingId %>');" title="Export Registrations" style="color: blue;">
                                                        <i class="fa fa-file-excel-o"></i>
                                                        <small class="text-muted" style="color: blue;">Export Registrations</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" id="registration_<%= data.trainingId%>">
                                                @(Html.DevExtreme().DataGrid()
                                                                .ID("grid-registrations")
                                                                .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                .Selection(s => s.Mode(SelectionMode.Single))
                                                                .ShowBorders(true)
                                                                .ShowRowLines(true)
                                                                .HoverStateEnabled(false)
                                                                .RowAlternationEnabled(false)
                                                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                                .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetTrainingRegistrations")
                                                                        .LoadParams(new { id = new JS("data.trainingId") })
                                                                    )
                                                                .RemoteOperations(true)
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Add().DataField("fullName").Caption("Participant").SortOrder(SortOrder.Asc).Width("20%");
                                                                    columns.Add().DataField("emailAddress").Caption("Email").Width("20%");
                                                                    columns.Add().DataField("countryId").Caption("Country").Width("10%");
                                                                    columns.Add().DataField("companyName").Caption("Company").Width("15%");
                                                                    columns.Add().DataField("status").Caption("Registration").Width(120).Alignment(HorizontalAlignment.Center);
                                                                    columns.Add().DataField("accomodationStatus").Caption("Accomodation").Width(120).Alignment(HorizontalAlignment.Center);
                                                                    columns.Add().DataField("visaStatus").Caption("Inv.Letter").Width(120).Alignment(HorizontalAlignment.Center);
                                                                    columns.Add().Caption("Certificate").Width(90).Alignment(HorizontalAlignment.Center);
                                                                    //columns.Add()
                                                                    //    .Alignment(HorizontalAlignment.Center)
                                                                    //    .Width(70)
                                                                    //    .DataField("tradingRegistrationId")
                                                                    //    .AllowFiltering(false)
                                                                    //    .AllowSorting(false)
                                                                    //    .AllowEditing(false)
                                                                    //    .AllowExporting(false)
                                                                    //    .Caption("")
                                                                    //    .Name("cmdTrainingRegistration");
                                                                })
                                                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                                .Export(e => e.Enabled(false).FileName(new JS("'TrainingRegistations_' + data.title")).AllowExportSelectedData(false))
                                                                .OnCellPrepared("onCellPreparedRegistration")
                                                )
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="text-danger" onclick="goShowJournal(<%= data.trainingId %>);">Journal</a>
                                        </div>
                                    </div>
                                </text>);
                })
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                .Export(e => e.Enabled(false).FileName("Trainings").AllowExportSelectedData(false))
                .OnExporting("OnExporting")
                .OnExported("OnExported")
                .OnToolbarPreparing("toolbar_preparing")
                .OnCellPrepared("onCellPrepared")
                .OnContentReady("OnContentReady")
                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
        )
    </div>
    //POPUP AZIONI
    <div class="modal fade" id="MasterPopup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title infoParticipantAction"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0;">
                    <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                        <section id="AccomodationSection" hidden>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("message").Text("Send reservation email to hotel").ID("btnSendEmailHotel")
                                                                                                    .OnClick("doSendEmailHotel")
                                                                                                    .Type(ButtonType.Normal).Width("100%")
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgSendEmailHotel"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("edit").Text("Insert Reservation Number").ID("btnInsResNumber")
                                                                                                .OnClick("doInsertReservationNumber")
                                                                                                .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgInsResNumber"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-10 BoxAction col-md-push-1">
                                    @(Html.DevExtreme().Button().Icon("message").Text("Send Confirmation Email").ID("btnSendConfermaHotel")
                                                                                                .OnClick("doSendEmailConfirmHotel")
                                                                                                .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                    )
                                </div>
                                <div class="col-md-12 BoxAction">
                                    <span class="text-success MsgAction" id="msgSendConfermaHotel"></span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <section id="InvLetterSection" hidden>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-10 BoxAction col-md-push-1">
                                @(Html.DevExtreme().Button().Icon("message").Text("Upload Scan Invitation Letter").ID("btnUploadInvitationLetter")
                                                                                        .OnClick("doUploadInvitationLetter")
                                                                                        .Type(ButtonType.Normal).Width("100%")
                                )
                            </div>
                            <div class="col-md-12 BoxAction">
                                <span class="text-success MsgAction" id="msgUploadInvitationLetter"></span>
                            </div>
                        </div>
                        <div class="col-md-10 BoxAction col-md-push-1" style="border: 1px darkgray solid; margin-bottom: 30px;" id="boxUploadInvitationLetter">
                            <div class="row">
                                @*ATTENZIONE: TrainingRegistrationId viene valorizzato con il corrispondente campo HIDDEN !!! *@
                                @(Html.DevExtreme().FileUploader()
                                                        .ID("fileuploader-InvLetter")
                                                        .Name("myFileInvLetter")
                                                        .Multiple(false)
                                                        //.Accept("application/pdf")
                                                        .UploadMode(FileUploadMode.Instantly)
                                                        .UploadUrl(Url.Action("UploadInvLetterScan", new { TrainingRegistrationId = 0 }))
                                                        .OnUploaded("InvLetterScan_onUploaded")
                                                        .LabelText("Select a Invitation Letter Scan")
                                                        .SelectButtonText("Select file")
                                )
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-10 BoxAction col-md-push-1">
                                @(Html.DevExtreme().Button().Icon("message").Text("Send Invitation Letter").ID("btnSendInvitationLetter")
                                                                                                .OnClick("doSendEmailInvLetter")
                                                                                                .Type(ButtonType.Normal).Width("100%").Disabled(true)
                                )
                            </div>
                            <div class="col-md-12 BoxAction">
                                <span class="text-success MsgAction" id="msgSendInvitationLetter"></span>
                            </div>
                        </div>
                        <div class="empty_row"></div>
                    </section>
                    <section id="EditEmailSection" hidden>
                        <input type="hidden" id="EmailTemplateId" value="">
                        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
                            <div class="col-md-offset-2 col-md-10" style="margin-bottom: 15px; ">
                                <a class="goback" onclick="closeEditEmailSection();">goback</a>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">To:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email field is required."
                                           id="EmailTo" name="EmailTo" placeholder="Email" type="email" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EmailTo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subject:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                           id="EmailSubject" name="EmailSubject" placeholder="Subject" type="text" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="EmailSubject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Message:</label>
                                <div class="col-md-9">
                                    <textarea id="EmailBody"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSendEmail" onclick="doSendEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    // POPUP LOG - CARICATO DINAMICAMENTE !!! 
    <div class="modal fade" id="LogPopup" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" style="width: 95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="LogPopupTitle"></h4>                
                </div>
                <div class="modal-body" style="background-color: #f8f8f8;">
                    <div id='LogPopupContent'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    //POPUP GENERIC MAIL 
    <div class="modal fade" id="PopupGenericEmail" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row text-center">
                        <h4 class="modal-title infoParticipantAction"></h4>
                    </div>
                </div>
                <div class="modal-body" style="padding: 0;">
                    <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                        <input type="hidden" id="GenericTrainingId" value="">
                        <div class="form-horizontal">
                            <br />
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email Template:</label>
                                <div class="col-md-9">
                                    @(Html.DevExtreme().SelectBox()
                                                    .ID("GenericEmailTemplateId")
                                                    .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetGenericEmailTemplates").Key("EmailTemplateId"))
                                                    .ValueExpr("emailTemplateId")
                                                    .OnValueChanged("GenericEmail_Change")
                                                    .DisplayExpr("subject")
                                                    //.ShowClearButton(true)
                                                    .Value("")
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">To:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email field is required."
                                           id="GenericEmailTo" name="GenericEmailTo" placeholder="Email" type="email" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="GenericEmailTo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Subject:</label>
                                <div class="col-md-10">
                                    <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                           id="GenericEmailSubject" name="GenericEmailSubject" placeholder="Subject" type="text" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="GenericEmailSubject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Message:</label>
                                <div class="col-md-9">
                                    <textarea id="GenericEmailBody"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSendGenericEmail" onclick="doSendGenericEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
