@using WebApp.Classes

@{
    ViewData["Title"] = "List of Attendees";
    string titolo = ViewData["Title"].ToString();
    bool bShowNotActive = false;
}

<style type="text/css">
    body {
        background-color: white;
    }
    .dx-datagrid-nowrap {
        white-space: normal;
    }

    .dx-highlight-outline {
        all: unset;
    }

    .dx-checkbox-text {
        font-weight: bold;
        color: darkblue;
        font-style: italic;
    }
</style>

<script type="text/javascript">

    var jsNotActive = false;
    if ('@bShowNotActive'.toLowerCase() == 'true') jsNotActive = true;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
                location: "after",
                widget: "dxCheckBox",
                options: {
                    value: (jsNotActive || false),
                    text: "Show Not Active Participants ",
                    onValueChanged: function (data) {
                        jsNotActive = data.value;
                        getDataGridInstance().refresh();
                    }
                }
            }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "export",
                    hint: "export",
                    onClick: function () {
                        getDataGridInstance().exportToExcel(false);
                        return false;
                    }
                }
            }, {
                location: "after",
                widget: "dxButton",
                options: {
                    icon: "fa fa-eye-slash",
                    hint: "Remove column filters",
                    name: "removeFilters",
                    onClick: function () {
                        $("#grid-container").dxDataGrid("clearFilter", "row");
                        return false;
                    },
                    onInitialized: function (evt) {
                        removeButton = evt.component;
                    }
                }
        });
    }

</script>

<div class="form-horizontal">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-users" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @*<hr />*@
    <div class="container">
        @Html.AntiForgeryToken()
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.WebApi().Controller("Trainings").LoadAction("GetParticipantList")
                                    .LoadParams(new
                                    {
                                        bShowAll = new JS("function() { return jsNotActive; }")
                                    })
                                    .UpdateAction("UpdateParticipant")
                                    .Key("trainingRegistrationId")
                    )
                    .RemoteOperations(true)
                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .Selection(s => s.Mode(SelectionMode.None))
                    .GroupPanel(groupPanel => groupPanel.Visible(true))
                    .ColumnAutoWidth(true)
                    //.AllowColumnResizing(true)
                    .ColumnResizingMode(ColumnResizingMode.Widget)
                    .StateStoring(s => s.Enabled(false).Type(StateStoringType.SessionStorage).StorageKey("ParticipantList"))
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Cell);
                        editing.AllowUpdating(true);
                    })
                    .Columns(columns =>
                    {
                    //columns.Add().DataField("title").Caption("Title").SortOrder(SortOrder.Asc);
                    //columns.Add().DataField("name").Caption("Name").Width(150);
                    //columns.Add().DataField("surname").Caption("Surname").Width(150);
                    columns.Add().DataField("fullName").Caption("Participant Name").Width(250).SortOrder(SortOrder.Asc).AllowEditing(false);
                    columns.Add().DataField("emailAddress").Caption("Email").Width(200).AllowEditing(false);
                    columns.Add().DataField("mobileNumber").Caption("Mobile Number").Width(150).AllowEditing(false);
                    columns.Add().DataField("countryId").Caption("Country").Width(150).AllowEditing(false);
                    columns.Add().DataField("status").Caption("Status").AllowEditing(false);
                    columns.Add().DataField("typeOfParticipant").Caption("Type of Participant").AllowEditing(false);
                    columns.Add().DataField("enabled").Caption("Active").AllowFiltering(false);
                    columns.Add().Caption("Company")
                                .Columns(a =>
                                {
                                    a.Add().DataField("companyName").Caption("Name").Width(150).AllowEditing(false);
                                    a.Add().DataField("fullCompanyAddress").Caption("Address").Width(150).AllowEditing(false);
                                    a.Add().DataField("jobPosition").Caption("Job Position").Width(200).AllowEditing(false);
                                });
                    columns.Add().Caption("Training")
                                .Columns(a =>
                                {
                                a.Add().DataField("training.title").Caption("Title").Width(250).AllowEditing(false);
                                a.Add().DataField("training.trainingType.description").Caption("Type").Width(250).AllowEditing(false);
                                a.Add().DataField("training.location").Caption("Location").Width(200).AllowEditing(false);
                                a.Add().DataField("training.periodFromDeco").Caption("From").CalculateSortValue("training.periodFromSort").Width(100).AllowEditing(false);
                                a.Add().DataField("training.periodToDeco").Caption("To").CalculateSortValue("training.periodToSort").Width(100).AllowEditing(false);
                                a.Add().DataField("training.statusDeco").HeaderCellTemplate(@<text>Training<br />Status</text>).Width(100).AllowEditing(false);
                                });
                    })
                    .SortByGroupSummaryInfo(i => i.Add().SummaryItem("count"))
                    .Summary(s => s.GroupItems(items =>
                    {
                        items.Add()
                            .SummaryType(SummaryType.Count)
                            .DisplayFormat("{0} items");
                    })
                )
                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                .Export(e => e.Enabled(false).FileName("List Of Attendees").AllowExportSelectedData(false))
                .OnToolbarPreparing("toolbar_preparing")
            )
        </div>
    </div>
</div>