@model WebApp.Entity.DLList
@using WebApp.Classes

@{
    ViewData["Title"] = "Edit";
}


<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            ///
        });
    });


    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("#savePanel").dxLoadPanel("instance").hide();
                $("#gestione").submit();
            }
        })
        return false;
    }
    function onRowInserting(e) {
        e.data.DLListId = @Model.DLListId;
    }
    function Data_Error(e) {
        errorMessage = e.error.message;
    }
    function goAdd() {
        $("#grid-container").dxDataGrid("instance").addRow();
    }
    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }
    function goToggleFilters() {
        $("#grid-container").dxDataGrid("instance").option("filterRow.visible", !$("#grid-container").dxDataGrid("instance").option("filterRow.visible"));
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="ManageDistributionLists" class="goback">goback</a>
    </div>
</div>

@(Html.DevExtreme().LoadPanel()
                            .ID("savePanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .Message("Saving...")
                            .CloseOnOutsideClick(false)
)

<form asp-action="EditDistributionListPost" id="gestione" method="post">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DLListId" />

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <input asp-for="Description" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DLTypeDesc" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
                <input asp-for="DLTypeDesc" style="max-width:70%;" class="form-control" readonly />
                <span asp-validation-for="DLTypeDesc" class="text-danger"></span>
            </div>
        </div>

        @*<div class="form-group">
            <label asp-for="DLType" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                @(Html.DevExtreme().SelectBoxFor(m => m.DLType)
                                                .ID("DLType")
                                                .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetCodes")
                                                    .LoadParams(new { Groupid = Lookup.Code_DL_ListType })
                                                .Key("CodeId"))
                                                .ValueExpr("CodeId")
                                                .DisplayExpr("Description")
                )
                <span asp-validation-for="DLType" class="text-danger"></span>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="col-md-1">
                    @(Html.DevExtreme().Button().Icon("filter").Hint("show/hide filters").OnClick("goToggleFilters"))
                </div>
                <div class="col-md-11">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button().Icon("add").Hint("Add New Member").OnClick("goAdd"))
                        @(Html.DevExtreme().Button().Icon("export").Hint("Export to Excel").OnClick("goExport"))
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10 col-md-push-1">
                @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(true)
                                            .AllowColumnResizing(true)
                                            .Height(400)
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                            //.Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                                            .Editing(editing =>
                                            {
                                                editing.Mode(GridEditMode.Batch);
                                                editing.AllowUpdating(false);
                                                editing.AllowDeleting(true);
                                                editing.AllowAdding(true);
                                            })
                                            .DataSource(d => d.Mvc()
                                                .Controller("Utils")
                                                .LoadAction("GetMembers")
                                                .LoadParams(new { DLListId = Model.DLListId })
                                                //.UpdateAction("DLListUpdateMember")
                                                .InsertAction("DLListInsertMember")
                                                .DeleteAction("DLListDeleteMember")
                                                .Key("DLMemberId")
                                            )
                                            .RemoteOperations(true)
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("DLMemberId").Visible(false);
                                                columns.Add().DataField("UserId").Caption("Internal User").Width("40%").SortOrder(SortOrder.Asc)
                                                                .Lookup(l => l.DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetUsers").Key("userId"))
                                                                                .DisplayExpr("userNameAndEmail").ValueExpr("userId").AllowClearing(true));
                                                columns.Add().DataField("ExtName").Caption("External Member Name").Width("25%").Visible(Model.ExternalMembers);
                                                columns.Add().DataField("ExtEmail").Caption("External Email").Width("35%").Visible(Model.ExternalMembers);
                                            })
                                            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                                            .OnDataErrorOccurred("Data_Error")
                                            .FilterRow(filterRow => filterRow.Visible(false).ApplyFilter(GridApplyFilterMode.Auto))
                                            .Export(e => e.Enabled(true).FileName("Members"))
                                            .LoadPanel(l => l.Enabled(true).Height(70))
                                            .OnRowInserting("onRowInserting")
                )
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11">
                <div class="buttons pull-right">
                    @(Html.DevExtreme().Button().Icon("save").Hint("Save").Text("Save").Type(ButtonType.Success).OnClick("doSave"))
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
