@model WebApp.Entity.DLIndexDTO
@using WebApp.Classes

@{
    ViewData["Title"] = Model.Title;
    string icona = "fa fa-server";
    if (Model.GroupId.Equals(Lookup.Code_DL_Group_ListType))
    {
        icona = "fa fa-group";
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>


<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 10px !important;
    }

    .dx-tab-text {
        height: 30px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: medium;
    }

    .dx-item.dx-tab.dx-tab-selected {
        color: forestgreen;
        font-size: large;
        font-style: italic;
    }
</style>


<script type="text/javascript">

    var jsTipiDL = @Html.Raw(Json.Serialize(Model.tipiDL));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function goExport() {
        getDataGridInstance().exportToExcel();
    }

    function goAdd_ORIGINAL() {
        bootbox.prompt({
            title: "Create a new List.",
            inputType: 'textarea',
            callback: function (result) {
                if ((result || "") != "") {
                    if (result.length > 200) {
                        result = result.substr(0, 200);
                    }
                    $("#list").attr("action", '@Url.Action("CreateDistributionList")');
                    $("#list").append('<input type="hidden" name="Description" value="' + result + '" /> ');
                    $("#list").submit();
                    return false;
                }
            }
        });
    }

    function goAdd() {
        var data = new Object();
        data.titoloForm = "Create";
        data.Description = "";
        data.DLType = null;
        if (jsTipiDL.length == 1) {
            data.DLType = jsTipiDL[0].CodeId;
        }

        $("#popup-newDL").dxPopup({
            visible: true,
            title: data.titoloForm,
            width: 550,
            height: 300,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Save',
                        icon: 'save',
                        onClick: function () {
                            doCreateNewDL();
                        }
                    }
                }

            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 300,
                    showValidationSummary: true,
                    colCount: 2,
                    formData: data,
                    items: [
                        {
                            label: { text: "Description" },
                            colSpan: 2,
                            dataField: "Description",
                            editorType: "dxTextBox"
                            //editorOptions: { height: 90 }
                        }, {
                            label: { text: "Type" },
                            colSpan: 2,
                            dataField: "DLType",
                            editorType: "dxSelectBox",
                            editorOptions: {
                                //width: 500,
                                dataSource: jsTipiDL,
                                value: data.DLType,
                                valueExpr: "CodeId",
                                displayExpr: "Description"
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);

            }
        });
    }

    function doCreateNewDL(id) {

        var formData = $('#container-popup').dxForm("instance").option('formData');
        //console.log(formData);
        if ((formData.Description || "") == "") {
            DevExpress.ui.dialog.alert("The Description field is required.");
            return false;
        }
        if ((formData.Description || "").length > 200) {
            DevExpress.ui.dialog.alert("The field Description must be a string with a maximum length of 200.");
            return false;
        }
        if ((formData.DLType || "") == "") {
            DevExpress.ui.dialog.alert("The Type field is required.");
            return false;
        }

        $("#list").attr("action", '@Url.Action("CreateDistributionList")');
        $("#list").append('<input type="hidden" name="Description" value="' + formData.Description + '" /> ');
        $("#list").append('<input type="hidden" name="DLType" value="' + formData.DLType + '" /> ');
        $("#list").submit();
        return false;
    }

    function goEdit(id) {
        $("#list").attr("action", '@Url.Action("EditDistributionList")/' + id);
        $("#list").submit();
        return false;
    }

    function goRemove() {
        var dataGrid = getDataGridInstance();
        var chiavi = "";
        var sep = "";
        var bError = false;
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this.DLListId;
            sep = "|";
        });

        if (bError) return false;

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteDistributionList")',
                        type: 'POST',
                        data: { chiavi: chiavi },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert(data);
                            }
                        }
                    }).always(function (data) {
                        $("#list").submit();
                        return false;
                    });
                }
            });
        }
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("IntUsers", "visible", false);
        e.component.columnOption("IntUsers2Export", "visible", true);
        if ('@Model.ExternalMembers' == 'True') {
            e.component.columnOption("ExtUsers", "visible", false)
            e.component.columnOption("ExtUsers2Export", "visible", true);
        }
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Members');
        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            customizeCell: function (options) {
                var { gridCell, excelCell } = options;
                excelCell.alignment = { wrapText: true };
            }
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), "Export.xlsx");
            });
        });
        e.cancel = true;
    }
    function OnExported(e) {
        e.component.columnOption("IntUsers", "visible", true);
        e.component.columnOption("IntUsers2Export", "visible", false);
        if ('@Model.ExternalMembers' == 'True') {
            e.component.columnOption("ExtUsers", "visible", true)
            e.component.columnOption("ExtUsers2Export", "visible", false);
        }
        e.component.endUpdate();
    }

</script>

<form id="list">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="@icona" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button().Icon("add").Hint("Add New Email Template").OnClick("goAdd"))
                    @(Html.DevExtreme().Button().Icon("xlsfile").Hint("Export to Excel").OnClick("goExport"))
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                        .ID("grid-container")
                        .DataSource(Model.liste)
                        .RemoteOperations(true)
                        .Columns(c =>
                        {
                            c.Add().DataField("DLListId").Visible(false);
                            c.Add().DataField("Description").Width("25%");
                            c.Add().DataField("DLTypeDesc").Width("15%").Caption("Type");
                            c.Add().DataField("IntUsers").Width("30%").Caption("Users")
                                    .CellTemplate(@<div><%= (value||'').replaceAll(",", "<br />") %></div>);
                            c.Add().DataField("ExtUsers").Width("30%").Caption("External Members").Visible(Model.ExternalMembers)
                                .CellTemplate(@<div><%= (value||'').replaceAll(",", "<br />") %></div>);
                            c.Add().DataField("IntUsers2Export").Caption("Users").Visible(false);
                            c.Add().DataField("ExtUsers2Export").Caption("External Members").Visible(false);
                            c.Add().Alignment(HorizontalAlignment.Center)
                                .Width(70)
                                .DataField("DLListId")
                                .AllowFiltering(false)
                                .AllowSorting(false)
                                .AllowEditing(false)
                                .AllowExporting(false)
                                .Fixed(true)
                                .FixedPosition(HorizontalEdge.Right)
                                .Caption("")
                                .CellTemplate(@<div><a href="#" onclick="goEdit('<%= value %>');" class="dx-icon-edit" title="Edit"></a></div>);
                        })
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .HoverStateEnabled(false)
                        .RowAlternationEnabled(true)
                        .AllowColumnResizing(true)
                        .Height(400)
                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                        .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                        .Export(e => e.Enabled(false).AllowExportSelectedData(false))
                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("DL_Index"))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
                        .OnExporting("OnExporting")
                        .OnExported("OnExported")
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                                            .Icon("trash")
                                            .Hint("Remove Selected Records")
                                            .OnClick("goRemove")
                                            .Text("Remove selected records")
                                            .Type(ButtonType.Normal)
        )
    </div>
    <br />
    <br />
</form>

<div id="popup-newDL"></div>