﻿@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool bShowUserMenu = string.IsNullOrWhiteSpace(Context.Session.GetString(Lookup.SpecialMode_ChangePassword));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- JSZip library -->
    <script type="text/javascript" src="~/lib/jszip/jszip.min.js"></script>

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>
    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    @*<script src="~/lib/devextreme/js/dx.all.js"></script>*@
    @*<script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>*@
    @*<script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="https://kit.fontawesome.com/e31440735a.js" crossorigin="anonymous"></script>

    @*<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
   


    <script src="~/js/mustache.min.js"></script>

    <script src="~/js/devextreme/localization/dx.messages.en.js"></script>
    @*impostazione lingua Bootbox*@
    <script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            bootbox.setLocale("en");
            if ('@TempData["MsgToLayout"]' != null && '@TempData["MsgToLayout"]' != '') {
                bootbox.alert('@TempData["MsgToLayout"]');
            }
            if ('@TempData["MsgToNotify"]' != null && '@TempData["MsgToNotify"]' != '') {
                DevExpress.ui.notify('@TempData["MsgToNotify"]', "info");
            }
        });
    })
    </script>

    <!-- blocco History -->
    <script language="javascript">
        //window.history.forward(1)
        history.pushState(null, null, location.href); history.back(); history.forward(); window.onpopstate = function () { history.go(1); };

        //history.pushState(null, null, document.title);
        //window.addEventListener('popstate', function () {
        //    history.pushState(null, null, document.title);
        //});

    </script>

    <title>@ViewData["Title"] -  @Lookup.GetAppTitle</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/ELITeBoard.css" type="text/css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sb-admin-2.css" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/ELITeBoard.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/ELITeBoard.css" />
        <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    </environment>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @if (bShowUserMenu)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="fa fa-home" style="font-size:24px;"></span></a>
                    }
                    
                    @{
                        string ambiente = Lookup.GetEnvironment;
                        if (!string.IsNullOrWhiteSpace(ambiente))
                        {
                            <div class="pull-left">
                                <a class="navbar-brand"><spam class="ambiente">@Lookup.GetEnvironment</spam></a>
                            </div>
                        }
                    }
                </div>
                <div class="navbar-collapse collapse">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    }
    else
    {
        @await Html.PartialAsync("_LoginPartial")
    }

    <script type="text/javascript">

        $.holdReady(true); // important!

        $.when(
            $.getJSON("/js/devextreme/cldr/main/it/ca-gregorian.json"),
            $.getJSON("/js/devextreme/cldr/main/it/numbers.json"),
            $.getJSON("/js/devextreme/cldr/main/it/currencies.json"),
            $.getJSON("/js/devextreme/cldr/supplemental/likelySubtags.json"),
            $.getJSON("/js/devextreme/cldr/supplemental/timeData.json"),
            $.getJSON("/js/devextreme/cldr/supplemental/weekData.json"),
            $.getJSON("/js/devextreme/cldr/supplemental/currencyData.json"),
            $.getJSON("/js/devextreme/cldr/supplemental/numberingSystems.json")

        ).then(function () {
            return [].slice.apply(arguments, [0]).map(function (result) {
                return result[0];
            });
        }).then(
            Globalize.load
        ).then(function () {
            Globalize.locale('en');
            //DevExpress.localization.locale('it');
            $.holdReady(false); // important!
            });


    </script>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-4">
                <p>&copy; 2021 - @Lookup.GetAppTitle</p>
            </div>
            <div class="col-md-8 text-right">
                <p>@Lookup.getVersion</p>
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/bootbox.min.js" asp-append-version="true"></script>
        <script src="~/js/ELITeBoard.js" asp-append-version="true"></script>
        <script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/bootbox.min.js" asp-append-version="true"></script>
        <script src="~/js/ELITeBoard.js" asp-append-version="true"></script>
        <script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
        <!--<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>-->
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
