﻿@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool bShowUserMenu = string.IsNullOrWhiteSpace(Context.Session.GetString(Lookup.SpecialMode_ChangePassword));
    bool bSupportUser = User.IsInRole(Lookup.Role_Support);
    bool bSupportAdmin = User.IsInRole(Lookup.Role_SupportAdministrator);
    bool bSupportViewer = User.IsInRole(Lookup.Role_SupportViewer);
    bool bOpenAP3PBackOffice  = Lookup.GetOpenAP3PActive &&
                                (User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator) || User.IsInRole(Lookup.Role_OpenAP3P_OrderDepartment) ||
                                 User.IsInRole(Lookup.Role_OpenAP3P_ResearchAndDevelopment) || User.IsInRole(Lookup.Role_OpenAP3P_Quality));
    bool bComplaintManage = Lookup.GetComplaintActive && (User.IsInRole(Lookup.Role_SupportAdministrator) || User.IsInRole(Lookup.Role_CustomerComplaintAnalyst));
    bool bSupportConfig = User.IsInRole(Lookup.Role_SupportConfiguration);
    bool isSignedIn = SignInManager.IsSignedIn(User);
    bool bRefurbishInstruments = User.IsInRole(Lookup.Role_RefurbishAdministrator) || User.IsInRole(Lookup.Role_RefurbishFinance) || 
                                 User.IsInRole(Lookup.Role_RefurbishCenter) || User.IsInRole(Lookup.Role_RefurbishReadOnly);
}

@if (SignInManager.IsSignedIn(User))
{
    @if (bShowUserMenu)
    {
<ul class="nav navbar-nav navbar-left">

    @if (User.IsInRole(Lookup.Role_ELITeInstruments))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ELITe Instruments<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="ELITe Instruments"><span class="fa fa-dashboard"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Dashboard" asp-action="DailyExecutions" asp-route-opt="init"><span class="fa fa-line-chart" style="color: blue;"></span>&nbsp;Daily Executions</a></li>
                <li><a asp-controller="Dashboard" asp-action="AssaysUtilization" asp-route-opt="init"><span class="fa fa-pie-chart" style="color: blue;"></span>&nbsp;Assays Utilization</a></li>
                <li><a asp-controller="AssaysProtocols" asp-action="Index"><span class="fa fa-gears" style="color: gray;"></span>&nbsp;Assays Protocols</a></li>
                @if (User.IsInRole(Lookup.Role_AssaysNotification))
                {
                    <li><a asp-controller="AssaysNotification" asp-action="Index"><span class="fa fa-commenting-o" style="color: gray;"></span>&nbsp;Assays Notification</a></li>
                }
                <li role="separator" class="divider"></li>
                <li><a asp-controller="InstallBase" asp-action="Index"><span class="fa fa-database"  style="color: darkolivegreen;"></span>&nbsp;Data Import</a></li>
                <li><a asp-controller="LogFiles" asp-action="Index"><span class="fa fa-archive" style="color: sandybrown;"></span>&nbsp;Log Files</a></li>
                <li><a asp-controller="DataMining" asp-action="Index"><span class="fa fa-magic " style="color: dodgerblue;"></span>&nbsp;Data Mining</a></li>
                <li><a asp-controller="Extractions" asp-action="IndexRnD"><span class="fa fa-flask" style="color: royalblue;"></span>&nbsp;Workflow Analysis</a></li>
                <li><a asp-controller="Instruments" asp-action="Maintenance"><span class="fa fa-wrench"></span>&nbsp;Maintenance</a></li>
                @if (bRefurbishInstruments)
                {
                    <li><a asp-controller="Instruments" asp-action="Refurbish"><span class="fa fa-recycle" style="color: red"></span>&nbsp;Refurbish Instruments</a></li>
                }
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Instruments" asp-action="Booking"><span class="fa fa-calendar" style="color: darkgreen;"></span>&nbsp;Instruments Booking</a></li>
            </ul>
        </li>
    }

    @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationApproval) ||
    User.IsInRole(Lookup.Role_QuotationBackOffice) || User.IsInRole(Lookup.Role_QuotationManager))
    {
        bool bItem = false;
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quotation<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Quotation"><span class="fa fa-quora"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationManager))
                {
                    bItem = true;
                    <li><a asp-controller="Quotations" asp-action="Index">Quotation</a></li>
                }
                @if (User.IsInRole(Lookup.Role_QuotationApproval))
                {
                    bItem = true;
                    <li><a href="#" onclick="alert('Quotation Approval');">Quotation Approval</a></li>
                }
                @if (User.IsInRole(Lookup.Role_QuotationBackOffice))
                {
                    if (bItem)
                    {
                        <li role="separator" class="divider"></li>
                    }
                    <li><a asp-controller="QRegistry" asp-action="ManageCommercialEntity">Commercial Entity</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageInstrumentTypes">Instrument Types</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageExtractions">Extractions</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageElitePcrKits">ELITe PCR Kits</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageConsumables">Consumables</a></li>
                }
            </ul>
        </li>
    }

    @if (User.IsInRole(Lookup.Role_DocumentalRepository) || User.IsInRole(Lookup.Role_DocumentalRepositoryBackOffice))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Document&amp;Repository<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Document&Video Repository"><span class="fa fa-sitemap"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_DocumentalRepository))
                {
                    <li><a asp-controller="DocumentalRepository" asp-action="Index">Documental Repository</a></li>
                }
                @if (User.IsInRole(Lookup.Role_DocumentalRepositoryBackOffice))
                {
                    <li><a asp-controller="DocumentalRepository" asp-action="Manage">Manage Documental Repository</a></li>
                    <li><a asp-controller="DocumentalRepository" asp-action="Journal">Journal</a></li>
                }
            </ul>
        </li>
    }
    @if (User.IsInRole(Lookup.Role_TrainingBackOffice))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Training<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Training"><span class="fa fa-graduation-cap"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Trainings" asp-action="Index"><span class="fa fa-book"></span>&nbsp;Training</a></li>
                <li><a asp-controller="Trainings" asp-action="ParticipantList"><span class="fa fa-users"></span>&nbsp;List of Attendees</a></li>
                <li><a asp-controller="Trainings" asp-action="Summary"><span class="fa fa-dashboard"></span>&nbsp;Summary</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Trainings" asp-action="DistributionList"><span class="fa fa-address-book-o"></span>&nbsp;Distribution Lists</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageCalendar"><span class="fa fa-calendar"></span>&nbsp;Training Calendar</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Trainings" asp-action="CreateRegistration"><span class="fa fa-edit"></span>&nbsp;Create New Registration</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="TRegistry" asp-action="ManageHotels">Hotels</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="TRegistry" asp-action="ManageTrainingTypes">Training Types</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageLocations">Training Locations</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageTypeOfParticipants">Type of Participants</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageJobPositions">Job Positions</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageCompanies">Companies (Normalized List)</a></li>
            </ul>
        </li>
    }
    @if (User.IsInRole(Lookup.Role_Warranty) || User.IsInRole(Lookup.Role_WarrantyAdministrator) || User.IsInRole(Lookup.Role_WarrantyBackOffice))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Warranty<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Warranty"><span class="fa fa-recycle"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_Warranty))
                {
                    <li><a asp-controller="Warranty" asp-action="WSPIndex"><span class="fa fa-recycle"></span>&nbsp;Warranty</a></li>
                }
                @if (User.IsInRole(Lookup.Role_WarrantyAdministrator) || User.IsInRole(Lookup.Role_WarrantyBackOffice))
                {
                    <li><a asp-controller="Warranty" asp-action="WSPManage"><span class="fa fa-gear"></span>&nbsp;Warranty Management</a></li>
                }
                @if (User.IsInRole(Lookup.Role_WarrantyAdministrator))
                {
                    <li><a asp-controller="Warranty" asp-action="ManageSpareParts"><span class="fa fa-puzzle-piece"></span>&nbsp;Spare Parts</a></li>
                }
            </ul>
        </li>
    }
    @if (bSupportUser || bSupportAdmin || bSupportConfig || bOpenAP3PBackOffice || bSupportViewer || bComplaintManage)
    {
        bool bItemSupport = false;
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Support"><span class="fa fa-question-circle-o"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                @if (bSupportUser)
                {
                    bItemSupport = true;
                    <li><a asp-controller="Home" asp-action="Index" asp-route-command="NewTicketRequest"><span class="fa fa-calendar-plus-o"></span>&nbsp;New Support Request</a></li>
                    <li><a asp-controller="TKSupport" asp-action="IndexYourRequests"><span class="fa fa-list-alt"></span>&nbsp;Status of your Requests</a></li>
                }
                @if (bSupportAdmin || bSupportViewer)
                {
                    bItemSupport = true;
                    <li><a asp-controller="TKSupport" asp-action="Manage"><span class="fa fa-edit"></span>&nbsp;<b>Manage Requests</b></a></li>
                }
                @if (bComplaintManage)
                {
                    bItemSupport = true;
                    <li><a asp-controller="TKSupport" asp-action="Complaint"><span class="fa fa-fire"></span>&nbsp;<b>Manage Complaint</b></a></li>
                }
                @if (bSupportAdmin)
                {
                    bItemSupport = true;
                    <li><a asp-controller="TKSupport" asp-action="Statistics"><span class="fa fa-dashboard"></span>&nbsp;<b>Statistics</b></a></li>
                }
                @if (Lookup.GetOpenAP3PActive && (bSupportUser || bOpenAP3PBackOffice))
                {
                    bItemSupport = true;
                    <li><a asp-controller="TK3PSupport" asp-action="Index"><span class="fa fa-eyedropper"></span>&nbsp;Third Party Assay Protocols Request</a></li>
                }
                @if (bSupportConfig)
                {
                    foreach (var item in Lookup.GetTKSupportConfigs())
                    {
                        <li role="separator" class="divider"></li>
                        <li><a asp-controller="TKRegistry" asp-action="IndexClassification" asp-route-configId="@Html.Raw(item.ID)">
                                <span class="@item.ClassificationClass">&nbsp;</span>Requests Classification [@Html.Raw(item.Description)]</a></li>
                        if (!string.IsNullOrWhiteSpace(item.AdditionalInfo))
                        {
                            <li><a asp-controller="TKRegistry" asp-action="IndexAddInfo" asp-route-configId="@Html.Raw(item.ID)" 
                                                               asp-route-groupId="@Lookup.TKSupport_Config_GroupId_ADDINFO">
                                @Html.Raw(item.AdditionalInfo) [@Html.Raw(item.Description)]</a>
                            </li>
                        }
                        @*if (!string.IsNullOrWhiteSpace(item.ToDoList))
                        {
                            <li><a asp-controller="TKRegistry" asp-action="IndexAddInfo" asp-route-configId="@Html.Raw(item.ID)"
                                   asp-route-groupId="@Lookup.TKSupport_Config_GroupId_TODOLIST">ToDo List Templates [@Html.Raw(item.Description)]</a></li>
                        }*@
                        if (!string.IsNullOrWhiteSpace(item.ClosingInfo))
                        {
                            <li><a asp-controller="TKRegistry" asp-action="IndexClosingInfo" asp-route-configId="@Html.Raw(item.ID)">@Html.Raw(item.ClosingInfo) [@Html.Raw(item.Description)]</a></li>
                        }
                    }
                }
            </ul>
        </li>
    }
    @if (User.IsInRole(Lookup.Role_KPI))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm  hidden-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KPI<span class="caret"></span></a>
            <a href="#" class="dropdown-toggle hidden-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="KPI"><span class="fa fa-pie-chart"><span class="caret"></span></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="KPI" asp-action="Index"><span class="fa fa-pie-chart"></span>&nbsp;Key Performance Indicators</a></li>
            </ul>
        </li>
    }
    @if (User.IsInRole(Lookup.Role_Admin) || User.IsInRole(Lookup.Role_CalendarAdministrator))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Configuration"><span class="fa fa-cog"><span class="caret"></span></span></a>
            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration<span class="caret"></span></a>*@
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_Admin))
                {
                    <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                    <li><a asp-controller="Users" asp-action="ManageRoles">Roles</a></li>
                    <li><a asp-controller="Utils" asp-action="FunctionsDocumentation">Functions Documentation</a></li>
                    <li><a asp-controller="Config" asp-action="ManageWMessages"><span class="fa fa-map-o" style="color:blue;"></span>&nbsp;Warning / Messages</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a asp-controller="Config" asp-action="ManageUserJobPositions"><span class="fa fa-id-badge"></span>&nbsp;User Job Positions</a></li>
                    <li><a asp-controller="TRegistry" asp-action="ManageCountries"><span class="fa fa-flag"></span>&nbsp;Countries</a></li>
                    <li><a asp-controller="TRegistry" asp-action="ManageEmailTemplates"><span class="fa fa-envelope-o"></span>&nbsp;Email Templates</a></li>
                    <li><a asp-controller="Utils" asp-action="ManageDistributionLists" asp-route-groupId="@Lookup.Code_DL_ListType"><span class="fa fa-list-ul"></span>&nbsp;Distribution Lists</a></li>
                }
                @if (User.IsInRole(Lookup.Role_Admin) || User.IsInRole(Lookup.Role_CalendarAdministrator))
                {
                    <li><a asp-controller="Utils" asp-action="ManageDistributionLists" asp-route-groupId="@Lookup.Code_DL_Group_ListType"><span class="fa fa-group"></span>&nbsp;Groups</a></li>
                    <li><a asp-controller="Instruments" asp-action="Index"><span class="fa fa-server"></span>&nbsp;Instruments</a></li>
                    <li><a asp-controller="Instruments" asp-action="ServiceCenters"><span class="fa fa-magic "></span>&nbsp;Service Centers</a></li>
                }
                @if (User.IsInRole(Lookup.Role_Admin))
                {
                    <li role="separator" class="divider"></li>
                    <li><a asp-controller="Config" asp-action="ManageCommercialStatusISR"><span class="fa fa-cogs"></span>&nbsp;Commercial Status (ISR)</a></li>
                    <li><a asp-controller="Config" asp-action="ManageVersionISR"><span class="fa fa-cogs"></span>&nbsp;Version (ISR)</a></li>
                }
            </ul>
        </li>
    }
</ul>
    }

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs hidden-sm  hidden-md">
                <a style="color: white !important;">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Change Password">
                    <i class="fa fa-key" style="font-size: 16px;"></i>
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="EraseCookies();">Log out</button>
            </li>
        </ul>
    </form>
}


<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if ('@isSignedIn'.toLowerCase() == 'true') {
                $.get('@Url.Action("SetLastActivityJSON", "Utils")');
            }
        });
    });

    function EraseCookies() {
        // Get an array of all cookie names (the regex matches what we don't want)
        var cookieNames = document.cookie.split(/=[^;]*(?:;\s*|$)/);

        // Remove any that match the pattern
        for (var i = 0; i < cookieNames.length; i++) {
            if (/^DivToggleStateEliteBoardIndex_/.test(cookieNames[i])) {
                document.cookie = cookieNames[i] + "=" + "; path=/; SameSite = Strict";
            }
        }
    }
</script>
