﻿@model WebApp.Entity.CreateRnDExtractionDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Create New Workflow Analysis";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-button {
        margin: 2px !important;
    }
</style>

<script type="text/javascript">
    var selCountry = (@Html.Raw(Json.Serialize(Model.countriesSel)) || '');
    var selCity = (@Html.Raw(Json.Serialize(Model.citiesSel))  || '');
    var selCustomerCode = (@Html.Raw(Json.Serialize(Model.customersSel))  || '');
    var selSiteCode = (@Html.Raw(Json.Serialize(Model.siteCodesSel))  || '');
    var selCommercialEntity = (@Html.Raw(Json.Serialize(Model.commercialEntitiesSel))  || '');
    var selRegion = (@Html.Raw(Json.Serialize(Model.regionsSel)) || '');
    var selArea = ('@Model.Area' || '');
    var selModelType = '';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }
    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            selCity = newValue;
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }
    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument();
        }
    }
    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            selSiteCode = newValue;
            refreshInstrument();
        }
    }
    function Region_valueChanged(e) {
        var newValue = (e.value || '');
        if (selRegion != newValue) {
            selRegion = newValue;
            refreshInstrument();
        }
    }
    function Area_valueChanged(e) {
        var newValue = (e.value || '');
        if (selArea != newValue) {
            selArea = newValue;
            refreshInstrument();
        }
    }
    function CommercialEntity_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCommercialEntity != newValue) {
            selCommercialEntity = newValue;
            refreshInstrument();
        }
    }
    function ModelType_valueChanged(e) {
        var newValue = (e.value || '');
        if (selModelType != newValue) {
            selModelType = newValue;
            refreshInstrument();
        }
    }
    function refreshCity() {
        var tagBox = $("#citiesSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.City.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshCustomer() {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }
    function refreshSite() {
        var tagBox = $("#siteCodesSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        if ('' != (selCustomerCode || '')) {
            var ds = tagBox.getDataSource().reload().done(function (result) {
                var dati = JSON.stringify(result, null, 4);
                if (selectedCurr != null) {
                    $.each($.parseJSON(dati), function (idx, obj) {
                        for (var i = 0; i < selectedCurr.length; i++) {
                            if (selectedCurr[i].toUpperCase() == obj.SiteCode.toUpperCase()) {
                                selectedNew.push(selectedCurr[i]);
                            }
                        }
                    });
                }
                tagBox.option('value', selectedNew);
            });
        } else {
            $("#siteCodesSel").dxTagBox("instance").option('value', '');
        }
    }
    function refreshInstrument() {
        //var dummy = selCountry + " | " + selCity + " | " + selCustomerCode + " | " + selSiteCode + " | " + selRegion + " | " + selCommercialEntity + " | " + selArea;
        //console.log(dummy);
        var dataGrid = $("#grid-instruments").dxDataGrid("instance");
        var ds = dataGrid.getDataSource();
        ds.filter(null);
        ds.reload().done(function (result) {
            dataGrid.option('value', '');
            dataGrid.clearSelection();
        });
    }

    function doSave(createType, title) {
        var from = $("#DateFrom").dxDateBox("instance").option('value');
        var to = $("#DateTo").dxDateBox("instance").option('value');
        if (from == null || to == null) {
            bootbox.alert("The Period fields are required");
            return false;
        }
        if (from > to) {
            bootbox.alert("The end date must be greater or equal than the start date. ");
            return false;
        }
        var dataGrid = $("#grid-instruments").dxDataGrid("instance");
        dataGrid.getSelectedRowKeys().done(function (rowData) {
            if (rowData.length == 0) {
                bootbox.alert("No records selected");
                return false;
            }
            if ((createType == '@Lookup.ProcessRequest_Create_SUMMARY' || createType == '@Lookup.ProcessRequest_Create_BOTH') && rowData.length > 250) {
                bootbox.alert("Too many instruments are selected; max 250.");
                return false;
            }
            bootbox.confirm("<b>" + title + "</b><br\><br\>You have selected " + rowData.length + " instruments. Continue?", function (result) {
                if (result) {
                    $("#createType").val(createType);
                    $("#instrumentsSelJSON").val(rowData.join("|"));
                    $("#create").submit();
                }
            });
        });
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="IndexRnD" class="goback">goback</a>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create" }))
{

    <h4>@ViewData["Title"]</h4>
    <hr />

    @*@Html.Hidden("opt");*@
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.createType);
    @Html.HiddenFor(m => m.instrumentsSelJSON);
    <div id="main">
        <div class="container well">
            <section id="filtri">
                <div id="filter">
                    <div class="row">
                        <div class="option col-md-3">
                            <span>Period</span>
                            @(Html.DevExtreme().DateBoxFor(m => m.DateFrom)
                                        .ID("DateFrom")
                                        .Width("100%")
                                        .Min("2000/01/01")
                                        .Max("2999/12/31")
                                        .DisplayFormat("dd/MM/yyyy")
                            )
                        </div>
                        <div class="col-md-3">
                            <span>&nbsp;</span>
                            @(Html.DevExtreme().DateBoxFor(m => m.DateTo)
                                        .ID("DateTo")
                                        .Width("100%")
                                        .Min("2000/01/01")
                                        .Max("2999/12/31")
                                        .DisplayFormat("dd/MM/yyyy")
                            )
                        </div>
                        <div class="col-md-6">
                            <span>Model Type</span>
                            @(Html.DevExtreme().TagBox()
                                                .ID("ModelType")
                                                .DataSource(Lookup.InstrumentModelType_EliteInstruments)
                                                .ValueExpr("id")
                                                .DisplayExpr("descrizione")
                                                .ShowClearButton(true)
                                                .SearchEnabled(true)
                                                .InputAttr("autocomplete", "true")
                                                .OnValueChanged("ModelType_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Country</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                        .ID("countriesSel")
                                        .DataSource(Model.countries)
                                        .DisplayExpr("Country")
                                        .ValueExpr("Country")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.countriesSel)
                                        .InputAttr("autocomplete", "true")
                                        .OnValueChanged("Country_valueChanged")
                            )
                        </div>
                        <div class="col-md-6">
                            <span>City</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.citiesSel)
                                        .ID("citiesSel")
                                            .DataSource(d => d.Mvc().Controller("Customers")
                                                                .LoadAction("getCities")
                                                                .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                .Key("City")
                                                        )
                                        .DataSourceOptions(o => o.PageSize(999))
                                        .ValueExpr("City")
                                        .DisplayExpr("City")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.citiesSel)
                                        .OnValueChanged("City_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Customer</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                        .ID("customersSel")
                                        .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                                .LoadParams(new
                                                                {
                                                                    Country = new JS("function() { return selCountry; }"),
                                                                    City = new JS("function() { return selCity; }")
                                                                }).Key("CustomerCode"))
                                        .DataSourceOptions(o => o.PageSize(999))
                                        .ValueExpr("CustomerCode")
                                        .DisplayExpr("CompanyName")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.customersSel)
                                        .OnValueChanged("Customer_valueChanged")
                            )
                        </div>
                        <div class="col-md-6">
                            <span>Site</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.siteCodesSel)
                                        .ID("siteCodesSel")
                                        .DataSource(d => d.Mvc().Controller("Customers")
                                                        .LoadAction("GetSites")
                                                        .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                        .Key("SiteCode")
                                                        )
                                        .DataSourceOptions(o => o.PageSize(999))
                                        .ValueExpr("SiteCode")
                                        .DisplayExpr("SiteDescription")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.siteCodesSel)
                                        .OnValueChanged("Site_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Region</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.regionsSel)
                                        .ID("regionsSel")
                                        .DataSource(Model.regions)
                                        .DisplayExpr("Region")
                                        .ValueExpr("Region")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.regionsSel)
                                        .Disabled(Model.lockRegion)
                                        .OnValueChanged("Region_valueChanged")
                            )
                        </div>
                        <div class="col-md-6">
                            <span>Area</span>
                            @(Html.DevExtreme().LookupFor(m => m.Area)
                                        .ID("Area")
                                        .DataSource(Model.areas)
                                        .ShowPopupTitle(false)
                                        .ValueExpr("Area")
                                        .DisplayExpr("Area")
                                        .Placeholder("select...")
                                        .SearchPlaceholder("search")
                                        .CancelButtonText("Cancel")
                                        .ShowClearButton(true)
                                        .ShowCancelButton(false)
                                        .ClearButtonText("Remove Sel.")
                                        .Disabled(Model.lockArea)
                                        .OnValueChanged("Area_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Commercial Entity</span>
                            @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                        .ID("commercialEntitiesSel")
                                        .DataSource(Model.commercialEntities)
                                        .DisplayExpr("CommercialEntity")
                                        .ValueExpr("CommercialEntity")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.commercialEntitiesSel)
                                        .OnValueChanged("CommercialEntity_valueChanged")
                            )
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                        .ID("grid-instruments")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        //.HoverStateEnabled(true)
                        .RowAlternationEnabled(false)
                        .AllowColumnResizing(false)
                        .DataSource(d => d.Mvc().Controller("Customers").LoadAction("GetInstruments")
                                    .LoadParams(new
                                    {
                                        CustomerCode = new JS("function() { return selCustomerCode; }"),
                                        SiteCode = new JS("function() { return selSiteCode; }"),
                                        Country = new JS("function() { return selCountry; }"),
                                        City = new JS("function() { return selCity; }"),
                                        CommercialEntity = new JS("function() { return selCommercialEntity; }"),
                                        Region = new JS("function() { return selRegion; }"),
                                        Area = new JS("function() { return selArea; }"),
                                        modelType  = new JS("function() { return selModelType; }")
                                    })
                                    .Key("SerialNumber")
                                    )
                        .RemoteOperations(true)
                        .Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(true).SelectAllMode(SelectAllMode.AllPages).Deferred(true))
                        .AllowColumnResizing(true)
                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("SerialNumber").SortOrder(SortOrder.Asc).Width("12%");
                            columns.Add().DataField("ModelTypeDeco").Caption("Model Type").Width("10%");
                            columns.Add().DataField("CompanyName").Caption("Company").Width("10%");
                            columns.Add().DataField("SiteDescription").Caption("Site").Width("10%");
                            columns.Add().DataField("SiteCity").Caption("City").Width("15%");
                            columns.Add().DataField("SiteCountry").Caption("Country").Width("15%");
                            columns.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width("15%");
                            columns.Add().DataField("Region").Caption("Region").Width("8%");
                            columns.Add().DataField("Area").Caption("Area").Width("8%");
                        })
                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
                        .ErrorRowEnabled(true)
                        .OnDataErrorOccurred("function (e) { console.log(e); }")
                //.Export(e => e.Enabled(fals).FileName("RnD_Analysis").AllowExportSelectedData(false))
                //.OnToolbarPreparing("toolbar_preparing")
                )
                <div class="empty_row">&nbsp;</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                            .Icon("save")
                            .Hint("Create New Detail Request")
                            .Text("Create DETAIL")
                            .Type(ButtonType.Success)
                            .OnClick("function() { doSave('" + Lookup.ProcessRequest_Create_DETAIL + "', 'Create DETAIL Requet'); }")
                    )
                    @(Html.DevExtreme().Button()
                            .Icon("save")
                            .Hint("Create New Summary Request")
                            .Text("Create SUMMARY")
                            .Type(ButtonType.Success)
                            .OnClick("function() { doSave('" + Lookup.ProcessRequest_Create_SUMMARY + "', 'Create SUMMARY Requet'); }")
                    )
                    @(Html.DevExtreme().Button()
                            .Icon("save")
                            .Hint("Create New Detail and Summary Request")
                            .Text("Create DETAIL and SUMMARY")
                            .Type(ButtonType.Success)
                            .OnClick("function() { doSave('" + Lookup.ProcessRequest_Create_BOTH + "', 'Create DETAIL and SUMMARY Requet'); }")
                    )
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="IndexRnD" class="goback">goback</a>
    </div>
}

