@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Workflow Analysis";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">


    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .status-NEW {
        background-color: white;
    }

    .status-ERROR {
        background-color: #f2dede;
        color: #a94442;
    }

    .status-READY {
        background-color: #dff0d8;
        color: #3c763d;
    }

    .cmdDetail {
        font-size: 18px;
    }

    .cmdDelete {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

</style>
<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "add",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("CreateRnDExtraction")');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        });
    }

    function selection_changed(selectedItems) {
        //var data = selectedItems.selectedRowsData[0];
        //if (data) {
        //    goDetail(data.claimId);
        //}
        getDataGridInstance().clearSelection();
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('status-' + info.data.Status);
        }
    }

    function onCellPrepared(options) {

        if (options.rowType == 'data' && options.column.name && options.column.name == "download") {
            var fieldHtml = "";
            if ((options.row.data.FileNameDownload || '') != '') {
                fieldHtml += "<a href='#' onclick='goDownload(" + options.value + ");' class='	fa fa-file-excel-o cmdDetail' title='Download'></a>";
            }
            options.cellElement.html(fieldHtml);
        }
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "<a href='#' onclick='goDelete(" + options.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            options.cellElement.html(fieldHtml);
        }
        if (options.rowType == "detail") {
            var myhtml = "";
            if ((options.data.noteExec || "") != "") {
                var classStato = "text-default";
                if (options.data.status == '@Lookup.Claim_Status_ERROR') {
                    classStato = "text-danger";
                }
                myhtml = '<p class="dett-value ' + classStato + '">' + options.data.noteExec + '</p>';
            }
            options.cellElement.html(myhtml);
        }
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
    function goDownload(id) {
        $("#elenco").attr("action", '@Url.Action("DownloadFile")/' + id);
        $("#elenco").submit();
        return false;
    }


    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="RequestId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("Delete")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").append('<input type = "hidden" name = "functionName" id="functionName" value = "@(Lookup.Function_Documentation_RnDExtractions)"/>');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                        .Icon("fa fa-info-circle")
                                        .Hint("Function Documentation")
                                        .Text("")
                                        .Type(ButtonType.Normal)
                                        .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <br />
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                                        .ID("loadPanel")
                                        .ShadingColor("rgba(0,0,0,0.4)")
                                        .Visible(false)
                                        .ShowIndicator(true)
                                        .ShowPane(true)
                                        .Shading(false)
                                        .CloseOnOutsideClick(true)
                                        .OnShown("loadPanel_shown")
        )
        @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    //.HoverStateEnabled(true)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(false)
                                    .DataSource(d => d.WebApi().Controller("Extractions").LoadAction("GetRnDExtractions").Key("Id"))
                                    .RemoteOperations(true)
                                    .OnCellPrepared("onCellPrepared")
                                    .OnRowPrepared("OnRowPrepared")
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .OnSelectionChanged("selection_changed")
                                    .AllowColumnResizing(true)
                                    .ColumnResizingMode(ColumnResizingMode.Widget)
                                    .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    //.WordWrapEnabled(true)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Id").Visible(false);
                                        columns.Add().DataField("paramsRnD.DateFromDeco").Caption("Date From").CalculateSortValue("paramsRnD.DateFromSort").Width(100);   
                                        columns.Add().DataField("paramsRnD.DateToDeco").Caption("Date To").CalculateSortValue("paramsRnD.DateToSort").Width(100);
                                        columns.Add().DataField("paramsRnD.InstrumentData.SerialNumberInfo").Caption("Instrument").Width(500)
                                                        .CellTemplate(@<text><%= value.split("\n").join("<br />") %></text>);
                                        columns.Add().DataField("paramsRnD.InstrumentData.SiteCity").Caption("City").Width(150);
                                        columns.Add().DataField("paramsRnD.InstrumentData.CommercialEntity").Caption("Commercial Entity")
                                                        .HeaderCellTemplate(@<text>Commercial<br />Entity</text>).Width(150);
                                        columns.Add().DataField("TmstInseDeco").Caption("Date/Time Request")
                                                        .HeaderCellTemplate("Date/Time<br/>Request").CalculateSortValue("TmstInseSort")
                                                        .SortOrder(SortOrder.Desc).Alignment(HorizontalAlignment.Center).Width(100);
                                        columns.Add().DataField("UserInse").Caption("User Request").Width(120);
                                        columns.Add().DataField("Status").Caption("Status").Alignment(HorizontalAlignment.Center).Width(80);
                                        columns.Add().DataField("RequestTypeDeco").Caption("Type").Alignment(HorizontalAlignment.Center).Width(80);
                                        columns.Add().Alignment(HorizontalAlignment.Center).DataField("Id").Caption("")
                                                     .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                     .Name("download").Fixed(true).FixedPosition(HorizontalEdge.Right).Width(60);
                                        columns.Add().Alignment(HorizontalAlignment.Center).DataField("Id").Caption("")
                                                    .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                    .Name("cmd").Fixed(true).FixedPosition(HorizontalEdge.Right).Width(60);
                                    })
                                    @*.MasterDetail(md =>
                                    {
                                    md.Enabled(false).AutoExpandAll(true).Template(@<text><div class="row">info detail</div></text>);
                                        })*@
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(true).FileName("RnD_Analysis").AllowExportSelectedData(false))
                                    .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
}
