@model WebApp.Entity.Hotel
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit Hotel";
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            initEmailBodyField('ConfirmationBody', 100, "TRAINING");
        });
    });

    function doSave() {
        if ($('#ConfirmationSubject').val() != '' && $('#ConfirmationBody').summernote("isEmpty")) {
            bootbox.alert("The Confirmation Email Message field is required.");
            return false;
        }
        $("#gestione").attr("action", '@Url.Action("EditHotel")');
        $("#gestione").attr("method", "POST");
        $("#gestione").submit();
        return false;
    }

    function goDownload(id) {
        $("#gestione").attr("action", '@Url.Action("downloadCCAuthorization")/' + id);
        $("#gestione").submit();
        return false;
    }

</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="ManageHotels" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditHotel" id="gestione" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="HotelId" />
        <div class="form-group required">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Address" class="form-control" rows="3" maxlength="200" style="max-width:70%;"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Details" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Details" class="form-control" rows="5" maxlength="1000" style="max-width:70%;"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group required">
            <label asp-for="EmailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailAddress" type="email" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmationSubject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmationSubject" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="ConfirmationSubject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmationBody" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.ConfirmationBody)
                <span asp-validation-for="ConfirmationBody" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CCAuthorization" class="col-md-2 control-label"></label>
            <input type="hidden" asp-for="CCAuthorization" />
            <div class="col-md-4">
                <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                       data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No File">
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.CCAuthorization))
            {
                <div class="col-md-6">
                    <label class="form-check-label col-md-4">
                        @Html.CheckBox("RemoveFile")<span>&nbsp;Remove File&nbsp;</span>
                    </label>
                    <div class="col-md-7">
                        <a href="#" onclick="goDownload(@Model.HotelId);" style="font-size: 14px; word-wrap: break-word; white-space: normal;"
                           class="btn btn-link btn-xs" title="Download">@Model.CCAuthorization</a>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Note" class="form-control" rows="3" maxlength="4000" style="max-width:70%;"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                <div class="buttons pull-right">
                    @(Html.DevExtreme().Button()
                                                                .Icon("save")
                                                                .Hint("save")
                                                                .Text("save")
                                                                .Type(ButtonType.Success)
                                                                .OnClick("doSave")
                    )
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
