@model WebApp.Entity.Country

@{
    ViewData["Title"] = "Manage Countries";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("form").submit();
            }
        })
        return false;
    }


    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newId = $("#CountryId").val();
        if (newId == "") {
            bootbox.alert("The Country field is required");
            return false;
        } 
        $.ajax({
            url: '@Url.Action("CreateCountry")',
            type: 'POST',
            data: { CountryId: newId, callingCode: $("#CallingCode").val() },
            success: function (data) {
                if (data != "") {
                    bootbox.alert(data);
                    // bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                } else {
                    $("form").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteCountry")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                            if (data != "") {
                                bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                            } else {
                                $("form").submit();
                            }
                        }
                    });
                }
            });
        }
    }

    var jsCountry = "";
    function openConfigCountySales(country) {
        jsCountry = country;
        var treeUsers = $("#sales-treeview").dxTreeView("instance");
        treeUsers.getDataSource().reload();
        $("#titolo_CountySalesSelection").html("Area Managers - County <b>'" + jsCountry + "'</b>");
        $('#CountySalesSelection').modal('show');
        return;
    }

    function SalesTreeViewItemSelectionChanged(e) {
        var nodo = e.node;
        if (nodo.key) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SetAreaManager", "Users")',
                    data: { country: jsCountry, UserId: nodo.key, Selected: nodo.selected },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify({ message: "Operation successful.", width: 500}, 'info', 100);
                    }
                });
        }
    }
    function doCloseCountySalesSelection() {
        $('#CountySalesSelection').modal('hide');
        getDataGridInstance().getDataSource().reload();
    }


</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="glyphicon glyphicon-globe" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                    .Icon("add")
                                    .Hint("Add New Country")
                                    .OnClick("goAdd")

                    )
                    @(Html.DevExtreme().Button()
                                    .Icon("export")
                                    .Hint("Export to Excel")
                                    .OnClick("goExport")

                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(true)
                                        .AllowColumnResizing(true)
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                        .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                                        .Editing(editing =>
                                        {
                                            editing.Mode(GridEditMode.Batch);
                                            editing.AllowUpdating(true);
                                        })
                                        .DataSource(d => d.Mvc()
                                            .Controller("TRegistry")
                                            .LoadAction("GetCountries")
                                            .UpdateAction("UpdateCountry")
                                            .Key("CountryId")
                                        )
                                        .RemoteOperations(true)
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("CountryId").Caption("Country").AllowEditing(false).Width("20%");
                                            columns.Add().DataField("sales").Caption("Area Manager").AllowEditing(false).Width("65%")
                                                .CellTemplate(@<div>
                                                    <button type="button" class="btn btn-default btn-xs fa fa-edit" title="config Area Managers"
                                                            onclick="openConfigCountySales('<%= data.CountryId%>');"></button>
                                                    <span><%= data.sales %></span>
                                                </div>);
                                            columns.Add().DataField("CallingCode").Caption("Calling Code").AllowEditing(true).Width("15%");
                                        })
                                        .OnDataErrorOccurred("Data_Error")
                                        .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                        )
                                        .Export(e => e.Enabled(true).FileName("Countries"))
                                        .LoadPanel(l => l.Enabled(true).Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                    .Icon("trash")
                    .Hint("Remove Selected Records")
                    .OnClick("goRemove")
                    .Text("Remove selected records")
                    .Type(ButtonType.Normal)

        )
        @(Html.DevExtreme().Button()
                                        .Icon("save")
                                        .Hint("Save Changes")
                                        .Text("Save")
                                        .Type(ButtonType.Success)
                                        .OnClick("doSave")
        )
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Country</h4>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <div class="form-group">
                        <label asp-for="CountryId" class="col-md-12 control-label required"></label>
                        <div class="col-md-12">
                            <input asp-for="CountryId" class="form-control" style="max-width:95%;" placeholder="Enter New Country" />
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CallingCode" class="col-md-12 control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="CallingCode" class="form-control" style="max-width:95%;" placeholder="Enter Country Calling Code" />
                            <span asp-validation-for="CallingCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CountySalesSelection" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <div class="row text-center">
                        <h4 class="modal-title" id="titolo_CountySalesSelection"></h4>
                    </div>
                </div>
                <div style="padding: 5px 10px 0px 10px;" class="text-center">
                    <h4 class="alert alert-info" style="margin: 0px;">Check/uncheck to add or remove sales for the selected country</h4>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <div id='CountySalesSelection'>
                        <div class="widget-container">
                            <div class="row">
                                @(Html.DevExtreme().TreeView()
                                                            .ID("sales-treeview")
                                                            .DataSource(d => d.Mvc().Controller("Users").LoadAction("GetAreaManagers")
                                                                        .LoadParams(new { country = new JS("function() { return jsCountry; }") }))
                                                            .DataStructure(TreeViewDataStructure.Plain)
                                                            .KeyExpr("userId")
                                                            .DisplayExpr("fullName")
                                                            .SelectedExpr("Selected")
                                                            .Width("100%")
                                                            .Height("430")
                                                            .ShowCheckBoxesMode(TreeViewCheckBoxMode.Normal)
                                                            .SearchEnabled(true)
                                                            .SelectByClick(true)
                                                            .SelectionMode(NavSelectionMode.Multiple)
                                                            .FocusStateEnabled(true)
                                                            .OnItemSelectionChanged("SalesTreeViewItemSelectionChanged")
                                )
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-11">
                                <div class="pull-right">
                                    @(Html.DevExtreme().Button().Text("Close").OnClick("doCloseCountySalesSelection"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
