@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Manage Email Templates";

    var tabs = new[] {
        new { id = 0, text = "Training", icon = "comment" , area = Lookup.EmailTemplate_Area_TRAINING},
        new { id = 1, text = "Documental&Video Repository", icon = "video" , area = Lookup.EmailTemplate_Area_WEBREPOSITORY},
        new { id = 2, text = "Support&Ticketing", icon = "group" , area = Lookup.EmailTemplate_Area_SUPPORT},
        new { id = 3, text = "Third Party AP", icon = "fa fa-eyedropper" , area = Lookup.EmailTemplate_Area_SUPPORT_OPENAP},
        new { id = 4, text = "Warranty", icon = "fa fa-recycle" , area = Lookup.EmailTemplate_Area_WARRANTY},
        new { id = 5, text = "Array Notification", icon = "fa fa-commenting-o" , area = Lookup.EmailTemplate_Area_ASSAYNOTIFICATION},
        new { id = 6, text = "Booking/Calendar", icon = "fa fa-calendar" , area = Lookup.EmailTemplate_Area_BOOKING},
        new { id = 6, text = "Refurbish", icon = "fa fa-recycle" , area = Lookup.EmailTemplate_Area_REFURBISH},
        new { id = 7, text = "Generic", icon = "email" , area = Lookup.EmailTemplate_Area_GENERIC}
    };

    string currentArea = (string)ViewData["CurrentArea"];
    if (String.IsNullOrWhiteSpace(currentArea)) {
        currentArea = Lookup.EmailTemplate_Area_TRAINING;
    }
    int currentTabItemIndex = -1;
    foreach (var item in tabs)
    {
        if (item.area == currentArea)
        {
            currentTabItemIndex = item.id;
        }
    }
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 10px !important;
    }

    .sezioneRiepilogo {
        background-color: rgba(191, 191, 191, 0.15);
        padding: 10px;
    }

    .dx-tab-text {
        height: 30px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: medium;
    }

        .dx-item.dx-tab.dx-tab-selected {
            color: forestgreen;
            font-size: large;
            font-style: italic;
        }
</style>


<script type="text/javascript">

    var selCurrentArea = '@currentArea';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $("#list").attr("action", '@Url.Action("CreateEmailTemplate")');
        $("#list").append('<input type="hidden" name="Area" value="' + selCurrentArea + '" /> ');
        $("#list").submit();
        return false;
    }

    function goEdit(id) {
        $("#list").attr("action", '@Url.Action("EditEmailTemplate")/' + id);
        $("#list").submit();
        return false;
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        var bError = false;
        $.each(dataGrid.getSelectedRowKeys(), function () {
            if (this.startsWith("_")) {
                bootbox.alert("Email '" + this + "' is not deletable!");
                bError = true;
                return false;
            }
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (bError) return false;

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteEmailTemplate")',
                        type: 'POST',
                        data: { chiavi: chiavi },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert(data);
                            }
                        }
                    }).always(function (data) {
                        getDataGridInstance().getDataSource().reload();
                    });
                }
            });
        }
    }

    function tabs_itemClick(e) {
        selTabItemIndex = e.itemIndex;
        selCurrentArea = e.itemData.area;
        getDataGridInstance().getDataSource().reload();
    }
</script>

@(Html.DevExtreme().LoadPanel()
                            .ID("savePanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .Message("Saving...")
                            .CloseOnOutsideClick(false)
)

<form id="list">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <br />
        <div class="row" style="border: 1px solid; margin-bottom: 10px;">
            @(Html.DevExtreme().Tabs()
                                            .ID("tabs-container")
                                            .DataSource(tabs)
                                            .SelectedIndex(currentTabItemIndex)
                                            .OnItemClick("tabs_itemClick")
            )
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button().Icon("add").Hint("Add New Email Template").OnClick("goAdd"))
                    @(Html.DevExtreme().Button().Icon("export").Hint("Export to Excel").OnClick("goExport"))
                </div>
            </div>
        </div>
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(true)
                                        .AllowColumnResizing(true)
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                        .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                                        .DataSource(d => d.Mvc()
                                            .Controller("TRegistry")
                                            .LoadAction("GetEmailTemplates")
                                            .LoadParams(new { Area = new JS("function() { return selCurrentArea; }") })
                                            .Key("EmailTemplateId")
                                        )
                                        .RemoteOperations(true)
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("EmailTemplateId").Caption("Email Code").Width("15%");
                                            columns.Add().DataField("Description").Caption("Description").Width("25%");
                                            columns.Add().DataField("Subject").Caption("Subject");
                                            columns.Add()
                                            .Alignment(HorizontalAlignment.Center)
                                            .Width(80)
                                            .DataField("EmailTemplateId")
                                            .AllowFiltering(false)
                                            .AllowSorting(false)
                                            .AllowEditing(false)
                                            .AllowExporting(false)
                                            .Caption("")
                                            .CellTemplate(@<div>
                                                <a href="#" onclick="goEdit('<%= value %>');" class="dx-icon-edit" title="Edit"></a>
                                            </div>);
                                        })
                                        .MasterDetail(md =>
                                        {
                                            md.Enabled(true);
                                            md.Template(@<text>
                                                <div class="internal-grid-container" title="">
                                                    <div class="row">
                                                        <div class="col-md-12"><span style="white-space: normal;"><%= data.Body %></span></div>
                                                    </div>
                                                </div>
                                            </text>);
                                        })
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                    .Export(e => e.Enabled(true).FileName("EmailTemplates"))
                    .LoadPanel(l => l.Enabled(true).Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                            .Icon("trash")
                            .Hint("Remove Selected Records")
                            .OnClick("goRemove")
                            .Text("Remove selected records")
                            .Type(ButtonType.Normal)
        )
    </div>
    <br />
    <br />
</form>
