@model WebApp.Entity.TrainingLocation

@{
    ViewData["Title"] = "Manage Locations";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    //function doSave() {
    //    $("#savePanel").dxLoadPanel("instance").show();
    //    var dataGrid = $("#grid-container").dxDataGrid("instance");
    //    dataGrid.option('loadPanel.enabled', false);
    //    dataGrid.saveEditData().done(function () {
    //        if (dataGrid.hasEditData()) {
    //            dataGrid.refresh();
    //            $("#savePanel").dxLoadPanel("instance").hide();
    //            bootbox.alert("An error has occurred during update!! " + errorMessage);
    //        } else {
    //            $("#form-elenco").submit();
    //        }
    //    })
    //    return false;
    //}


    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newId = $("#Id").val();
        if (newId == "") {
            bootbox.alert("The Location field is required");
            return false;
        }
        $.ajax({
            url: '@Url.Action("CreateLocation")',
            type: 'POST',
            data: { Location: newId  },
            success: function (data) {
                if (data != "") {
                    bootbox.alert(data);
                } else {
                    $("#form-elenco").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteLocation")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert({ message: data, callback: function () { $("#form-elenco").submit(); } });
                        } else {
                            $("#form-elenco").submit();
                        }
                    }
                });
            }
        });
        }
    }

    function getFileUploaderInstance() {
        return $("#file-uploader").dxFileUploader("instance");
    }

    function goDownloadFile(id) {
        $("#form-file").attr("action", '@Url.Action("downloadIndications")/' + id);
        $("#form-file").submit();
        return false;
    }

    function goUploadFile(id) {
        var uploader = getFileUploaderInstance();
        uploader.option("value", "");
        var url = uploader.option("uploadUrl");
        url = updateQueryStringParameter(url, "id", id);
        uploader.option("uploadUrl", url);
        $('#DivUpload').modal({
            keyboard: true
        }, 'show');
        return false;
    }

    function UploadFile_onUploaded(e) {
        $('#DivUpload').modal("hide");
        getDataGridInstance().refresh();
        DevExpress.ui.notify("File Uploaded", "info");
    }

</script>

@(Html.DevExtreme().LoadPanel()
                            .ID("savePanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .Message("Saving...")
                            .CloseOnOutsideClick(false)
)

<form id="form-file">
    @*solo per gestione file*@
</form>

<form id="form-elenco">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-flag" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                            .Icon("add")
                                            .Hint("Add New Location")
                                            .OnClick("goAdd")

                    )
                    @(Html.DevExtreme().Button()
                                            .Icon("export")
                                            .Hint("Export to Excel")
                                            .OnClick("goExport")
                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(false)
                                    .RowAlternationEnabled(true)
                                    .AllowColumnResizing(true)
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                    .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                                    //.Editing(editing =>
                                    //{
                                    //    editing.Mode(GridEditMode.Batch);
                                    //    editing.AllowUpdating(true);
                                    //})
                                    .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetLocations")
                                        //.UpdateAction("UpdateLocation")
                                        .Key("Id")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Id").Caption("Location").AllowEditing(false).Width("70%");
                                        columns.Add()
                                                .Alignment(HorizontalAlignment.Center)
                                                .DataField("IndicationsFileName")
                                                .AllowFiltering(false)
                                                //.AllowEditing(false)
                                                .AllowExporting(false)
                                                .Caption("Indications")
                                                .CellTemplate(@<div>
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center">
                                                            <a href="#" onclick="goUploadFile('<%= data.Id %>');" style="font-size: 18px;" title="Upload Indications">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                        <% if (data.IndicationsExist) { %>
                                                        <div class="col-xs-6 text-left">
                                                            <a href="#" onclick="goDownloadFile('<%= data.Id %>');" style="font-size: 14px;" title="Download Indications">
                                                                <i class="fa fa-download"></i>&nbsp;View
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>);
                                    })
                                        .OnDataErrorOccurred("Data_Error")
                                        .FilterRow(filterRow => filterRow
                                            .Visible(true)
                                            .ApplyFilter(GridApplyFilterMode.Auto)
                                        )
                                        .Export(e => e.Enabled(true).FileName("TrainingLocations"))
                                        .LoadPanel(l => l.Enabled(true).Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                            .Icon("trash")
                            .Hint("Remove Selected Records")
                            .OnClick("goRemove")
                            .Text("Remove selected records")
                            .Type(ButtonType.Normal)

        )
        @*@(Html.DevExtreme().Button()
                                    .Icon("save")
                                    .Hint("Save Changes")
                                    .Text("Save")
                                    .Type(ButtonType.Success)
                                    .OnClick("doSave")
            )*@
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Location</h4>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <div class="form-group">
                        <label asp-for="Id" class="col-md-12 control-label required"></label>
                        <div class="col-md-12">
                            <input asp-for="Id" class="form-control" style="max-width:95%;" placeholder="Enter New Location" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>
</form>


@*Upload Certifica Template*@
<div class="modal fade" id="DivUpload" tabindex="-1" role="dialog" aria-labelledby="Upload Indications" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="titolo_upload">Upload Indications</h3>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                        .ID("file-uploader")
                                        .Name("myFile")
                                        .Multiple(false)
                                        .Accept("application/pdf")
                                        .UploadMode(FileUploadMode.Instantly)
                                        .UploadUrl(Url.Action("UploadIndications"))
                                        .OnUploaded("UploadFile_onUploaded")
                                        .LabelText("Select a file (pdf)")
                                        .SelectButtonText("Select file")
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
