@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    string myType = ViewData["type"]?.ToString() ?? "";
    string titolo = "";
    string myClassRows = "";
    string myClassTemp = "";
    string myClassVolume = "";
    string myClassPress = "";
    //string myClassPressOffset = "";
    string myClassClaim = "";
    string myClassTrack = "";
    string myClassSnapshot = "";
    string HiddenHScript = "hidden";
    string HiddenHDateRif = "hidden";
    string HiddenHSessionNumber = "hidden";
    bool bShowExport = false;
    bool bShowRefresh = false;
    string myDefaultMaxRun = "(none)";

    switch (myType)
    {
        case "H":
            titolo = "Claim Detail";
            myClassClaim = "active";
            break;
        case "R":
            titolo = "Messages&Errors Detail";
            myClassRows = "active";
            HiddenHScript = "";
            break;
        case "T":
            titolo = "Temperatures Detail";
            myClassTemp = "active";
            HiddenHDateRif = "";
            HiddenHSessionNumber = "";
            bShowExport = true;
            bShowRefresh = true;
            break;
        case "V":
            titolo = "Volume Detail";
            myClassVolume = "active";
            HiddenHDateRif = "";
            HiddenHSessionNumber = "";
            bShowExport = true;
            bShowRefresh = true;
            break;
        case "P":
            titolo = "Pressures Detail";
            myClassPress = "active";
            HiddenHScript = "";
            HiddenHDateRif = "";
            HiddenHSessionNumber = "";
            bShowExport = true;
            bShowRefresh = true;
            if (String.IsNullOrWhiteSpace(Model.scriptSel))
            {
                myDefaultMaxRun = "";  // se non ho selezionato lo script non metto il default 'none'
            }
            break;
        //case "O":
        //    titolo = "Pressure Offset Detail";
        //    myClassPressOffset = "active";
        //    break;
        case "L":
            titolo = "Log";
            myClassTrack = "active";
            break;
        case "S":
            titolo = "Snapshot";
            myClassSnapshot = "active";
            break;
        default:
            titolo = myType;
            break;
    }
}

@*<script src="~/js/html2canvas.js"></script>*@

<style type="text/css">
    .modal-lg {
        width: 95%;
    }

    #PreviewPopup .modal-body, #PreviewPopup .modal-header, #PreviewPopup .modal-footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .modal-title  {
        margin-right: 10px;
    }

</style>

<script type="text/javascript">

    // ATTENZIONE: queste variabili sono i filtri usati in alcuni TAB
    var jsHFilterScript = "@Model.scriptSel";
    var jsHFilterFolder = "@Model.folderSel";
    var jsHFilterRowsList = "@Model.rowsList";
    var jsHFilterClaim = @Model.claimId;
    var jsHFilterDataRif = '@Model.DateRif';
    var jsHFilterSessionNumber = @Model.SessionNumber;

    function goOpenTab(tab) {
        $("#tab").val(tab);
        $("#options").val("");
        $("#scriptSel").val(jsHFilterScript);
        $("#folderSel").val(jsHFilterFolder);
        $("#rowsList").val(jsHFilterRowsList);
        $("#form-header").submit();
        return false;
    }

    function HeaderViewScript() {
        if ((jsHFilterScript|| '') == '') {
            bootbox.alert("Select a script");
        } else {
            $("#grid-container-script").dxDataGrid("instance").getDataSource().reload();
            $("#Header_ScriptName").text(jsHFilterScript);
            $('#Header_ViewScript').modal({
                keyboard: true
            }, 'show');
        }
    }

    function HeaderRefresh() {
        doRefreshContainerOnTab();
    }
    function HeaderExport() {
        doRefreshContainerOnTab("export");
        //window.setInterval(function () {
        //    doRefreshContainerOnTab();;
        //}, 1000);
    }
    function onFileSavingScriptRows(e)
    {
        var parts = jsHFilterScript.split(".");
        e.fileName = "Script_" + parts[0];
    }

    function onExportGridScriptRows() {
        $("#grid-container-script").dxDataGrid("instance").exportToExcel(false);
    }

    function HScript_valueChanged(e) {
        jsHFilterScript = (e.value || '');
        doRefreshContainerOnTab();
    }

    function setHScript(value) {
        jsHFilterScript = (value || '');
        $("#ScriptSel").dxSelectBox("instance").option('value', jsHFilterScript);
        doRefreshContainerOnTab();
    }

    function HDateRif_OnValueChanged(e) {
        jsHFilterDataRif = (e.value || '');
        doRefreshContainerOnTab();
        return false;
    }

    function HSessionNumber_OnValueChanged(e) {
        jsHFilterSessionNumber = (e.value || '');
        doRefreshContainerOnTab();
        return false;
    }

    @*function HCreateSnapshotJPG(chart, SnapshotType) {
        var ClaimId = $("#claimId").val();
        html2canvas(chart).then(function (canvas) {
            //document.body.appendChild(canvas);
            var base64URL = canvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream');
            bootbox.prompt({
                title: "Insert a note for new snapshot!",
                inputType: 'textarea',
                callback: function (result) {
                    if (result != null) {
                         $.ajax({
                            url: '@Url.Action("CreateChartSnapshot")',
                            type: 'POST',
                             data: { ClaimId: ClaimId, Note: result, image64: base64URL, SnapshotType: SnapshotType },
                            success: function (data) {
                                if (data != "") {
                                    bootbox.alert(data);
                                } else {
                                    //$("#gridSnapshot").dxDataGrid("instance").refresh();
                                    DevExpress.ui.notify("Snapshot created", "success");
                                }
                            }
                        });
                    }
                }
            });
        })
        return false;
    }*@

    
    function HCreateSnapshotSVG(chart, SnapshotType) {
        var svg = chart.svg();
        $('#imageBase64').val(window.btoa(svg));
        var image64 = $("#imageBase64").val();
        var ClaimId = $("#claimId").val();
        bootbox.prompt({
            title: "Insert a note for new snapshot!",
            inputType: 'textarea',
            callback: function (result) {
                if (result != null) {
                     $.ajax({
                        url: '@Url.Action("CreateChartSnapshot")',
                        type: 'POST',
                         data: { ClaimId: ClaimId, Note: result, image64: image64, SnapshotType: SnapshotType },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert(data);
                            } else {
                                //$("#gridSnapshot").dxDataGrid("instance").refresh();
                                DevExpress.ui.notify("Snapshot created", "success");
                            }
                        }
                    });
                }
            }
        });
        return false;
    }

    function doRefreshContainerOnTab(options) {
        $("#options").val(options);
        if (typeof refreshContainerOnTab == 'function') {    
            refreshContainerOnTab();
        }
    }

</script>


<style type="text/css">
    body {
        background-color: white;
    }

    .nav-tabs {
        background-color: white;
    }

        .nav-tabs > li > a {
            padding: 2px 10px 2px 10px;
            background-color: #A4CD4C;
        }
</style>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @titolo
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs" style="margin:5px;">
        <li class="@myClassClaim"><a href="#" onclick="goOpenTab('H')"><i class="fa fa-info-circle"></i>&nbsp;Info</a></li>
        <li class="@myClassRows"><a href="#" onclick="goOpenTab('R')"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Messages&Errors</a></li>
        <li class="@myClassPress"><a href="#" onclick="goOpenTab('P')"><i class="fa fa-line-chart"></i>&nbsp;Pressures</a></li>
        <li class="@myClassVolume"><a href="#" onclick="goOpenTab('V')"><i class="fa fa-bar-chart"></i>&nbsp;Volume</a></li>
        <li class="@myClassTemp"><a href="#" onclick="goOpenTab('T')"><i class="fa fa-eyedropper"></i>&nbsp;Temperatures</a></li>
        <li class="@myClassSnapshot"><a href="#" onclick="goOpenTab('S')"><i class="fa fa-picture-o"></i>&nbsp;Snapshots</a></li>
        @if (User.IsInRole(Lookup.Role_LogFilesSupervisor))
        {
            <li class="@myClassTrack"><a href="#" onclick="goOpenTab('L')"><i class="glyphicon glyphicon-tower"></i>&nbsp;Log</a></li>
        }
    </ul>
</div>

<form method="post" asp-action="Detail" id="form-header">
    @* FILTRI *@
    @Html.HiddenFor(model => Model.claimId)
    @Html.HiddenFor(model => Model.folderSel)
    @Html.HiddenFor(model => Model.rowsList)
    @Html.Hidden("tab")
    @Html.HiddenFor(model => Model.options)

    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="option col-md-6" style="padding-right: 5px;" @HiddenHScript>
                    Script
                    @(Html.DevExtreme().SelectBoxFor(model => model.scriptSel)
                                                .ID("ScriptSel")
                                                .DataSource(Model.scripts)
                                                .Placeholder("Select")
                                                .Value(Model.scriptSel)
                                                .OnValueChanged("HScript_valueChanged")
                                                .ShowClearButton(true)
                    )
                </div>
                <div class="option col-md-1" style="padding-left: 5px;" @HiddenHScript>
                    <br />
                    @(Html.DevExtreme().Button().Icon("fa fa-cogs").Hint("View").OnClick("HeaderViewScript")
                    )
                </div>
                <div class="option col-md-3" @HiddenHDateRif>
                    Date
                    @(Html.DevExtreme().DateBoxFor(m => m.DateRif)
                                                .ID("DateRif")
                                                .Width("100%")
                                                .Min("2000/01/01")
                                                .Max("2999/12/31")
                                                .ShowClearButton(false)
                                                .OnValueChanged("HDateRif_OnValueChanged")
                    )
                </div>
                <div class="option col-md-2 text-nowrap" @HiddenHSessionNumber>
                    Run Number
                    @if (Model.maxSessionNumber > 0)
                    {
                        <text><span class="small text-primary">(max @Model.maxSessionNumber)</span></text>
                    }
                    else
                    {
                        <text><span class="small text-primary">@myDefaultMaxRun</span></text>
                    }
                    @(Html.DevExtreme().NumberBoxFor(m => m.SessionNumber).ID("SessionNumber")
                                                        .Min(0)
                                                        .UseLargeSpinButtons(true)
                                                        .OnValueChanged("HSessionNumber_OnValueChanged"))
                </div>
            </div>
            <div class="col-xs-3">
                <div class="dx-field-value" style="padding-left: 5px;">
                    <br />
                    @if (bShowExport)
                    {
                        @(Html.DevExtreme().Button().Icon("fa fa-file-excel-o").Hint("Export").OnClick("HeaderExport"))
                    }
                    @if (bShowRefresh)
                    {
                        @(Html.DevExtreme().Button().Icon("refresh").Hint("Refresh").OnClick("HeaderRefresh"))
                    }
                </div>
            </div>
        </div>
        <div class="empty_row"></div>
</form>

<!-- Dettaglio -->
<div class="modal fade" id="Header_ViewScript" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" if;</button>
                <span class="modal-title h3" style="font-weight:bold" id="Header_ScriptName"></span>
                <div class="pull-right">
                    @(Html.DevExtreme().Button()
                            .Text("")
                            .Icon("fa fa-file-excel-o")
                            .OnClick("onExportGridScriptRows"))
                    &nbsp;
                </div>
            </div>
            <div class="modal-body">
                <div id='DettaglioContent'>
                    <div style="margin-right: 10px;">
                        @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container-script")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(false)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(true)
                                    .ColumnAutoWidth(true)
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                    .DataSource(d => d.WebApi().Controller("LogFiles").LoadAction("GetClaimScriptRows")
                                                                    .LoadParams(new
                                                                    {
                                                                        ClaimId = Model.claimId,
                                                                        Script = new JS("function() { return jsHFilterScript; }")
                                                                    }))
                                    .RemoteOperations(true)
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("tmstGetDeco").Width("150px").Caption("At");
                                        columns.Add().DataField("folder").Width("120px");
                                        columns.Add().DataField("sessionNumber").Caption("Run Number").HeaderCellTemplate("Run<br/>Number").Width("80px").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("status").Width("70px").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("note").Width("1000px");
                                    })
                            //.Selection(s => s.Mode(SelectionMode.Single))
                            //.OnSelectionChanged("selection_changed")
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                            //.Export(e => e.Enabled(true))
                            .OnFileSaving("onFileSavingScriptRows")
                        //.OnCellPrepared("cell_prepared")
                        )
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*<div class="well" style="margin-bottom: 3px; margin-top:30px; padding-top: 5px; padding-bottom: 5px;">
        <div>
            <strong>Claim N. @Model.claim.ClaimId</strong> open at @Model.claim.TmstUpload.ToString("dd/MM/yyyy HH:mm") from @Model.claim.UserUpload
        </div>
    </div>*@

@*<ul class="nav nav-tabs" style="margin:5px;">
            <li class="@myClassClaim"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="H"><i class="fa fa-info-circle"></i>&nbsp;Info</a></li>
            <li class="@myClassRows"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="R"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Messages&Errors</a></li>
            <li class="@myClassPress"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="P"><i class="fa fa-line-chart"></i>&nbsp;Pressures</a></li>
            <li class="@myClassPressOffset"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="O"><i class="fa fa-line-chart"></i>&nbsp;Pressures Offset</a></li>
            <li class="@myClassTemp"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="T"><i class="fa fa-eyedropper"></i>&nbsp;Temperatures</a></li>
            @if (User.IsInRole(Lookup.Role_LogFilesSupervisor))
            {
                <li class="@myClassTrack"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="L"><i class="glyphicon glyphicon-tower"></i>&nbsp;Log</a></li>
            }
    </ul>*@

@*<ul class="nav nav-tabs" style="margin:5px;">
        <li class="@myClassClaim"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="H"><i class="fa fa-info-circle"></i>&nbsp;Info</a></li>
        <li class="@myClassRows"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="R"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Messages&Errors</a></li>
        <li class="@myClassPress"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="P"><i class="fa fa-line-chart"></i>&nbsp;Pressures</a></li>
        <li class="@myClassTemp"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="T"><i class="fa fa-eyedropper"></i>&nbsp;Temperatures</a></li>
        @if (User.IsInRole(Lookup.Role_LogFilesSupervisor))
        {
            <li class="@myClassTrack"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="L"><i class="glyphicon glyphicon-tower"></i>&nbsp;Log</a></li>
        }
        <li class="@myClassClaim"><a href="#" onclick="goOpenTab('R')"><i class="fa fa-info-circle"></i>&nbsp;Info</></a></li>
</ul>*@


@*<ul class="nav nav-tabs" style="margin:5px;">
        <li class="@myClassClaim"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="H"><i class="fa fa-info-circle"></i>&nbsp;Info</a></li>
        <li class="@myClassRows"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="R"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;System</a></li>
        <li class="@myClassPress"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="Z"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Operation</a></li>
        <li class="@myClassPress"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="Y"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Fisics</a></li>
        <li class="@myClassPress"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="P"><i class="fa fa-line-chart"></i>&nbsp;Eluate Volume</a></li>
        <li class="@myClassPressOffset"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="O"><i class="fa fa-line-chart"></i>&nbsp;Eluate</a></li>
        <li class="@myClassTemp"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="T"><i class="fa fa-eyedropper"></i>&nbsp;Temp.Cool Block EXT</a></li>
        <li class="@myClassTemp"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="T"><i class="fa fa-eyedropper"></i>&nbsp;Temp.PCR Block</a></li>
        <li class="@myClassTemp"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="T"><i class="fa fa-eyedropper"></i>&nbsp;Temp.Hot Collar</a></li>
        @if (User.IsInRole(Lookup.Role_LogFilesSupervisor))
        {
            <li class="@myClassTrack"><a asp-action="Detail" asp-route-ClaimId="@Model.claim.ClaimId" asp-route-tab="L"><i class="glyphicon glyphicon-tower"></i>&nbsp;Log</a></li>
        }
</ul>*@