@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Row Detail";
    string titolo = ViewData["Title"].ToString();
    string btnSystem = string.Format("btn{0}", Lookup.Claim_Folder_System);
    string btnOperation = string.Format("btn{0}", Lookup.Claim_Folder_Operation);
    string btnFisics = string.Format("btn{0}", Lookup.Claim_Folder_Fisics);

    string classFolderActive = "btn-info";
    string classSystem = Model.folderSel.Equals(Lookup.Claim_Folder_System) ? classFolderActive : "";
    string classOperation = Model.folderSel.Equals(Lookup.Claim_Folder_Operation) ? classFolderActive : ""; ;
    string classFisics = Model.folderSel.Equals(Lookup.Claim_Folder_Fisics) ? classFolderActive : "";

    string btnRowsGroup = string.Format("btn{0}", Lookup.Claim_RowsList_Group1);
    string classRowsGroupActive = "btn-info";
    string classRowsGroup = Model.rowsList.Equals(Lookup.Claim_RowsList_Group1) ? classRowsGroupActive : "";
    int group1Init = Model.rowsList.Equals(Lookup.Claim_RowsList_Group1) ? 0 : -1;
    bool showGroup1 = Model.rowsList.Equals(Lookup.Claim_RowsList_Group1) ? false : true;
    bool showError = Model.rowsList.Equals(Lookup.Claim_RowsList_Group1) ? true : false;
}

<style type="text/css">
    .dx-datagrid-nowrap {
        white-space: normal;
    }

    .status-W {
        color: orange;
    }

    .status-E {
        color: red;
    }

    .status-I {
        color: cornflowerblue;
    }

    .dx-master-detail-cell {
        padding: 8px !important;
    }

    .dx-datagrid-content {
        padding: 2px !important;
    }

</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });

    function cell_prepared(options) {
        if (options.rowType == 'data') {
            if ((options.data.status || '') != '') {
                options.cellElement.addClass("status-" + options.data.status);
            }
        }
        if (options.rowType === "detail") {
            if ((options.data.procedureNote || '') == '') {
                options.cellElement.removeClass("dx-datagrid-expand");
                options.cellElement.empty();
            }
        }
    }

    function setFolder(folder) {
        jsHFilterFolder = folder;

        if (folder == '@Lookup.Claim_Folder_System') {
            $("#@btnSystem").addClass("@classFolderActive");
        } else {
            $("#@btnSystem").removeClass("@classFolderActive");
        }
        if (folder == '@Lookup.Claim_Folder_Operation') {
            $("#@btnOperation").addClass("@classFolderActive");
        } else {
            $("#@btnOperation").removeClass("@classFolderActive");
        }
        if (folder == '@Lookup.Claim_Folder_Fisics') {
            $("#@btnFisics").addClass("@classFolderActive");
        } else {
            $("#@btnFisics").removeClass("@classFolderActive");
        }
        getDataGridInstance().getDataSource().reload();

    }

    function setRowsList() {
        getLoadPanelInstance().show();
        var groupIndex = -1;
        var visible = false;
        if (jsHFilterRowsList == '@Lookup.Claim_RowsList_Group1') {
            jsHFilterRowsList = '@Lookup.Claim_RowsList_None';
            $("#@btnRowsGroup").removeClass("@classRowsGroupActive");
            visible = true;
        } else {
            jsHFilterRowsList = '@Lookup.Claim_RowsList_Group1';
            $("#@btnRowsGroup").addClass("@classRowsGroupActive");
            groupIndex = 0;
        }
        $("#grid-container").dxDataGrid("columnOption", "group1", "groupIndex", groupIndex);
        $("#grid-container").dxDataGrid("columnOption", "group1detail", "visible", visible);
        //$("#grid-container").dxDataGrid("columnOption", "errorCode", "visible", !visible);

        getDataGridInstance().getDataSource().reload();

    }

    function onExportGrid() {
        getDataGridInstance().exportToExcel(false);
    }

    function refreshContainerOnTab() {
        getDataGridInstance().getDataSource().reload();
    }

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function onFileSaving(e) {
        e.fileName = "Errors_" + @Model.claim.ClaimId + "_" + jsHFilterFolder;
    }
    //function selection_changed(selectedItems) {
    //    var data = selectedItems.selectedRowsData[0];
    //    if (data) {
    //        jsHFilterScript = data.script;
    //        $("#ScriptSel").dxSelectBox("instance").option('value', jsHFilterScript);
    //        getDataGridInstance().getDataSource().reload();
    //    }
    //}

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1500);
    }

</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "R" } })

@(Html.DevExtreme().LoadPanel()
                    .ID("loadPanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(false)
                    .CloseOnOutsideClick(true)
                    .Message("Loading...")
                    .OnShown("loadPanel_shown")
                    //.OnHidden("loadPanel_hidden")
)
<form>
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="btn btn-default @classSystem" id="@btnSystem" onclick="setFolder('@Lookup.Claim_Folder_System')">@Lookup.Claim_Folder_System</a>
                        <a class="btn btn-default @classOperation" id="@btnOperation" onclick="setFolder('@Lookup.Claim_Folder_Operation')">@Lookup.Claim_Folder_Operation</a>
                        <a class="btn btn-default @classFisics" id="@btnFisics" onclick="setFolder('@Lookup.Claim_Folder_Fisics')">@Lookup.Claim_Folder_Fisics</a>
                        <a class="btn btn-default @classRowsGroup" id="@btnRowsGroup" onclick="setRowsList()" style="margin-left: 120px;">Group by Category</a>
                        <div class="pull-right">
                            @(Html.DevExtreme().Button()
                                            .ID("btnExport")
                                            .Text("")
                                            .Icon("fa fa-file-excel-o")
                                            .OnClick("onExportGrid"))
                        </div>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div style="margin-right: 10px;">
                            @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(false)
                                        .AllowColumnResizing(true)
                                        //.ColumnResizingMode(ColumnResizingMode.Widget)
                                        //.ColumnAutoWidth(true)
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                        .DataSource(d => d.WebApi().Controller("LogFiles").LoadAction("GetClaimRows")
                                                                .LoadParams(new
                                                                {
                                                                    ClaimId = Model.claim.ClaimId,
                                                                    Folder = new JS("function() { return jsHFilterFolder; }"),
                                                                    Script = new JS("function() { return jsHFilterScript; }")
                                                                }))
                                        .RemoteOperations(true)
                                        .FilterRow(filterRow => filterRow
                                                .Visible(true)
                                                .ApplyFilter(GridApplyFilterMode.Auto)
                                        )
                                        .Columns(columns =>
                                        {
                                        columns.Add().DataField("group1").GroupIndex(@group1Init).Caption("ERROR");
                                        columns.Add().DataField("group1").Name("group1detail").Width("12%").Caption("Category").Visible(@showGroup1);
                                        //columns.Add().DataField("errorCode").Width("12%").Visible(!@showGroup1);
                                        columns.Add().DataField("errorCode").Width("12%");
                                        columns.Add().DataField("tmstGetDeco").Width("10%").Caption("At");
                                        columns.Add().DataField("script").Width("20%")
                                                .CellTemplate(@<div class="text-nowrap">
                                                        @*<% if ((data.script||'') != '' && jsHFilterScript == '') { %>
                                                            <span style="text-decoration: underline;" onclick="setHScript('<%= data.script%>');" title="set as filter"><%= data.script%></span>
                                                            <%} else {%>
                                                                <span><%= data.script%></span>
                                                            <% } %>*@
                                                        <span><%= data.script%></span>
                                                        <% if ((data.script||'') != '' && jsHFilterScript == '') { %>
                                                        &nbsp;
                                                        <button type="button" class="btn btn-default btn-xs fa fa-crosshairs" title="set as filter"
                                                                onclick="setHScript('<%= data.script%>');"></button>
                                                        <% } %>
                                                    </div>);
                                        columns.Add().DataField("sessionNumberInfo").Caption("Run Number").HeaderCellTemplate("Run<br/>Number").Width("10%").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("note").Width("20%");
                                        columns.Add().DataField("message").Width("20%");
                                        columns.Add().DataField("description").Width("20%");
                                        columns.Add().DataField("errorHandling").Width("20%");
                                    })
                                    //.Selection(s => s.Mode(SelectionMode.Single))
                                    //.OnSelectionChanged("selection_changed")
                                    @*.MasterDetail(md =>
                                            {
                                            md.Enabled(true);
                                            md.AutoExpandAll(true);
                                            md.Template(@<text>
                                                    <div class="internal-grid-container" title="">
                                                        <div class="row">
                                                            <div class="col-md-12 internal-grid-note"><span class="dett-label">Procedure Note:</span><span class="dett-value"><%= data.procedureNote %></span></div>
                                                        </div>
                                                    </div></text>);
                                        })*@
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                        {
                                            pager.ShowPageSizeSelector(true);
                                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                            pager.ShowInfo(true);
                                            pager.InfoText("page {0} of {1} ({2} records)");
                                            pager.ShowNavigationButtons(true);
                                        })
                                .OnFileSaving("onFileSaving")
                                .OnCellPrepared("cell_prepared")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>
