﻿@model WebApp.Entity.AssaysUtilizationDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Assays Utilization";
    string titolo = ViewData["Title"].ToString();
    string strSummary = (@Model.summary).Replace("\n", "</br>");
    decimal PercRunElite = 0;
    decimal PercRunOther = 0;
    if (Model.TotRun > 0)
    {
        PercRunElite = (Model.CntRunAssayElite * 100 / Model.TotRun);
        PercRunOther = 100 - PercRunElite;
    }
}

<style type="text/css">
    .subTotal {
        /*font-weight: bold;*/
        /*background-color: #f2f2f2;*/
    }
    .subValid {
        color: darkgreen;
        /*background-color: #f2f2f2;*/
    }
    .subInvalid {
        color: #ff9900;
        /*background-color: #f2f2f2;*/
    }
    .subError {
        color: red;
        /*background-color: #f2f2f2;*/
    }

    #CommercialEntity {
        border: solid 1px lightgray !important;
    }
</style>

<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesSel));
    var selCity = '@Model.City';
    var selCustomerCode = @Html.Raw(Json.Serialize(Model.customersSel));
    var selSiteCode = '@Model.SiteCode';
    var selInstrument = '@Model.Instrument';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            refreshCity('@Model.City');
            refreshSite('@Model.SiteCode');
            refreshInstrument('@Model.Instrument');
            if (@Model.series.Count == 0) {
                $("#pieContainer").hide();
                //getChartInstance().option("size.height", "200");
            }
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            //console.log("Country_valueChanged " + newValue);
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            //console.log("City_valueChanged " + newValue);
            selCity = newValue;
            $("#City").val(selCity);
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            //console.log("Customer_valueChanged " + newValue);
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            //console.log("Site_valueChanged " + newValue);
            selSiteCode = newValue;
            $("#SiteCode").val(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Instrument_valueChanged(e) {
        var newValue = (e.value || '');
        if (selInstrument != newValue) {
            //console.log("Instrument_valueChanged " + newValue);
            selInstrument = newValue;
            $("#Instrument").val(selInstrument);
        }
    }

    function refreshCity(valore) {
        //console.log("refreshCity - " + valore + " -selCity:" + selCity);
        var selectBox = $("#CityLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function refreshCustomer(valore) {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        //console.log("refreshCustomer - " + selectedCurr);
        var selectedNew = [];
        var ds = tagBox.getDataSource().load().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshSite(valore) {
        //console.log("refreshSite - " + valore);
        var selectBox = $("#SiteLookup").dxLookup("instance");
        selectBox.option('disabled', true);
        selectBox.option('value',  '');
        if ('' != (selCustomerCode || '')) {
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.load().done(function (result) {
                selectBox.option('value', (valore || ''));
                selectBox.option('disabled', false);
            });
        } else {
            selectBox.option('value', (valore || ''));
        }
    }
    function refreshInstrument(valore) {
        //console.log("refreshInstrument - " + valore);
        var selectBox = $("#InstrumentLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function openFilters() {
        $('#myModal').modal('toggle');
    }

    function getChartInstance() {
        return $("#pie-chart").dxPieChart("instance");
    }
    function printChart() {
        getChartInstance().print();
    }
    function exportChart() {
        getChartInstance().exportTo("AssayUtilization", "jpeg");
        return false;
    }
    function exportGrid() {
        getLoadPanelInstance().option("message", "Exporting...");
        getLoadPanelInstance().show();
        goSubmit("export");
    }
    function resetFilters() {

        selCountry = "";
        selCity = "";
        selCustomerCode = "";
        selSiteCode = "";
        selInstrument = "";

        var dataInizio = new Date();
        dataInizio = add_months(dataInizio, -1);
        $("#DateFrom").dxDateBox("instance").option('value', dataInizio);
        $("#DateTo").dxDateBox("instance").option('value', new Date());
        if ('@Model.lockCountry'.toLowerCase() == 'false') {
            $("#countriesSel").dxTagBox("instance").option('value', '');
        }
        $("#CityLookup").dxLookup("instance").option('value', '');
        $("#City").val("");
        if ('@Model.lockCustomer'.toLowerCase() == 'false') {
            $("#customersSel").dxTagBox("instance").option('value', '');
        }
        $("#SiteLookup").dxLookup("instance").option('value', '');
        $("#SiteCode").val("");
        $("#InstrumentLookup").dxLookup("instance").option('value', '');
        $("#Instrument").val("");
        if ('@Model.lockRegion'.toLowerCase() == 'false') {
            $("#Region").dxLookup("instance").option('value', '');
        }
        if ('@Model.lockArea'.toLowerCase() == 'false') {
            $("#Area").dxLookup("instance").option('value', '');
        }
        $("#CommercialStatus").dxLookup("instance").option('value', '');
        if ('@Model.lockCommerialEntity'.toLowerCase() == 'false') {
            $("#commercialEntitiesSel").dxTagBox("instance").option('value', '');
        }
        $("#InstallDateFrom").dxDateBox("instance").option('value', null);
        $("#InstallDateTo").dxDateBox("instance").option('value', null);
        $("#excludeSatSun").dxCheckBox("instance").option('value', false);
        $("#SampleType").dxLookup("instance").option('value', '');
        $("#PathogenName").dxLookup("instance").option('value', '');
    }
    function add_months(dt, n)
    {
        return new Date(dt.setMonth(dt.getMonth() + n));
    }
    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
    function ShowSum(data) {
        return Number(data.value).toLocaleString();
        //return data.value;
    }
    function goSubmit(opt) {
        $("#opt").val(opt || '');
        $("#dashboard").attr("action", '@Url.Action("AssaysUtilization", "Dashboard")');
        $("#dashboard").submit();
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    @(Html.DevExtreme().LoadPanel()
                                    .ID("loadPanel")
                                    .ShadingColor("rgba(0,0,0,0.4)")
                                    .Visible(false)
                                    .ShowIndicator(true)
                                    .ShowPane(true)
                                    .Shading(false)
                                    .CloseOnOutsideClick(true)
                                    .OnShown("loadPanel_shown")
    )
    @Html.Hidden("opt");
    @Html.AntiForgeryToken()
    
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_AssayUtilization">

    <div id="main">
        <div class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button()
                                                    .Icon("fa fa-info-circle")
                                                    .Hint("Function Documentation")
                                                   .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                                    .Icon("print")
                                                    .Hint("Print Chart")
                                                    .OnClick("printChart")
                        )
                        @(Html.DevExtreme().Button()
                                                    .Icon("export")
                                                    .Hint("Export Chart")
                                                    .OnClick("exportChart")
                        )
                        @(Html.DevExtreme().Button()
                                                    .Icon("fa fa-file-excel-o")
                                                    .Hint("Export Details")
                                                    .OnClick("exportGrid")
                        )
                        @(Html.DevExtreme().Button()
                                                    .Icon("glyphicon glyphicon-filter")
                                                    .Hint("Filters")
                                                    .OnClick("openFilters")
                        )
                    </div>
                </div>
            </div>
            <div class="long-title"><h3 style="margin: 2px;">@titolo</h3></div>
            <div class="text-center sub-title">@Html.Raw(strSummary)</div>
            <div class="empty_row">&nbsp;</div>
            <div class="row" id="pieContainer">
                @(Html.DevExtreme().PieChart()
                            .ID("pie-chart")
                            .DataSource(Model.series)
                            .Size(s => s.Width(1200).Height(500))
                            .Palette(VizPalette.Bright)
                            .Type(PieChartType.Doughnut)
                            .Series(s => s
                                .Add()
                                .ArgumentField("pathogen_name")
                                .ValueField("num_test")
                                .Label(l => l
                                        .Visible(true)
                                        //.Font(f => f.Size(12))
                                        .Connector(c => c
                                            .Visible(true)
                                            .Width(0.5)
                                        )
                                //.Position(PieChartLabelPosition.Columns)
                                .CustomizeText(@<text>
                                    function(arg) {
                                    @*return arg.argumentText + " (" + arg.valueText + "/" + arg.percentText + ")";*@
                                        return arg.argumentText + " (" + arg.percentText + ")";
                                        }
                                </text>)
                        )
                        .SmallValuesGrouping(g => g.Mode(SmallValuesGroupingMode.TopN).TopCount(10).GroupName("Other Assays"))
                        )
                        //.Title(t => t
                        //    .Text(titolo)
                        //    .Subtitle(s => s.Text(Model.summary).Font(f => f.Size(14)))
                        //)
                        .OnPointClick(@<text>
                            function (e) {
                            var point = e.target;
                            toggleVisibility(point);
                            }
                        </text>)
                        .OnLegendClick(@<text>
                            function (e) {
                            var arg = e.target;
                            toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
                            }
                        </text>)
                )
            </div>
            <div class="empty_row"></div>
            <div class="row">
                <div class="col-md-3">Number of Instruments: <span style="font-weight: bold; font-size:18px">@Model.cntInstruments</span></div>
                <div class="col-md-3">Number of Pathogens: <span style="font-weight: bold; font-size:18px">@Model.series.Count</span></div>
                <div class="col-md-3 text-right">Assays Elitech: <span style="font-weight: bold; font-size:18px">@PercRunElite %</span></div>
                <div class="col-md-3 text-right">Assays Third Parts: <span style="font-weight: bold; font-size:18px">@PercRunOther %</span></div>
            </div>
            <div class="empty_row"></div>
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                        .ID("gridContainer")
                        .DataSource(Model.details)
                        .AllowColumnResizing(true)
                        //.ColumnResizingMode(ColumnResizingMode.Widget)
                        .ShowRowLines(true)
                        .ColumnFixing(ColumnFixing => ColumnFixing.Enabled(true))
                        .Columns(c =>
                        {
                            c.Add().DataField("pathogen_name").Caption("Pathogen").Width(200).Fixed(true);
                            //c.Add().DataField("assay_type").Caption("Assay Type");
                            //c.Add().DataField("total").Caption("Total");
                            c.Add().Caption("N.Test")
                                    .Columns(a =>
                                    {
                                        a.Add().DataField("num_test_v").Caption("Valid").Width(75).CssClass("subValid");
                                        a.Add().DataField("num_test_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                        a.Add().DataField("num_test_e").Caption("Error").Width(75).CssClass("subError");
                                        a.Add().DataField("num_test").Caption("Total").Width(75).CssClass("subTotal");
                                    });
                            c.Add().Caption("N.Sample")
                                    .Columns(a =>
                                    {
                                        a.Add().DataField("num_sample_v").Caption("Valid").Width(75).CssClass("subValid");
                                        a.Add().DataField("num_sample_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                        a.Add().DataField("num_sample_e").Caption("Error").Width(75).CssClass("subError");
                                        a.Add().DataField("num_sample").Caption("Total").Width(75).CssClass("subTotal");
                                    });
                            c.Add().Caption("N.Calibrator")
                                    .Columns(a =>
                                    {
                                        a.Add().DataField("num_calibrator_v").Caption("Valid").Width(75).CssClass("subValid");
                                        a.Add().DataField("num_calibrator_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                        a.Add().DataField("num_calibrator_e").Caption("Error").Width(75).CssClass("subError");
                                        a.Add().DataField("num_calibrator").Caption("Total").Width(75).CssClass("subTotal");
                                    });
                            c.Add().Caption("N.Control")
                                    .Columns(a =>
                                    {
                                        a.Add().DataField("num_control_v").Caption("Valid").Width(75).CssClass("subValid");
                                        a.Add().DataField("num_control_i").Caption("Invalid").Width(75).CssClass("subInvalid");
                                        a.Add().DataField("num_control_e").Caption("Error").Width(75).CssClass("subError");
                                        a.Add().DataField("num_control").Caption("Total").Width(75).CssClass("subTotal");
                                    });
                            //c.Add().DataField("invalid").Caption("Invalid");
                            //c.Add().DataField("error").Caption("Aborted").Width(75);
                            c.Add().DataField("invalid").Caption("Aborted").Width(75);
                        })
                        .FilterRow(filterRow => filterRow
                            .Visible(true).ApplyFilter(GridApplyFilterMode.Auto)
                        )
                        .Summary(s => s.TotalItems(items =>
                        {
                            //items.Add().Column("total").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                            items.Add().Column("num_test_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                            items.Add().Column("num_test_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                            items.Add().Column("num_test_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                            items.Add().Column("num_test").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                            items.Add().Column("num_sample_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                            items.Add().Column("num_sample_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                            items.Add().Column("num_sample_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                            items.Add().Column("num_sample").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                            items.Add().Column("num_calibrator_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                            items.Add().Column("num_calibrator_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                            items.Add().Column("num_calibrator_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                            items.Add().Column("num_calibrator").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                            items.Add().Column("num_control_v").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subValid");
                            items.Add().Column("num_control_i").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subInvalid");
                            items.Add().Column("num_control_e").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subError");
                            items.Add().Column("num_control").SummaryType(SummaryType.Sum).CustomizeText("ShowSum").CssClass("subTotal");
                            //items.Add().Column("invalid").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                            //items.Add().Column("error").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                            items.Add().Column("invalid").SummaryType(SummaryType.Sum).CustomizeText("ShowSum");
                        })
                    )
                    .Paging(p => p.PageSize(20))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                )
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assays Utilization - Filters</h4>
                </div>
                <div class="modal-body">
                    <section id="filtri">
                        <div id="filter">
                            <div class="option col-md-4">
                                <span>Period</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.DateFrom)
                                                    .ID("DateFrom")
                                                    .Width("100%")
                                                    .Min("2000/01/01")
                                                    .Max("2999/12/31")
                                )
                            </div>
                            <div class="col-md-4">
                                <span>&nbsp;</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.DateTo)
                                                    .ID("DateTo")
                                                    .Width("100%")
                                                    .Min("2000/01/01")
                                                    .Max("2999/12/31")
                                )
                            </div>
                            <div class="col-md-4">
                                <p style="font-size:10px;">&nbsp;</p>
                                @(Html.DevExtreme().CheckBoxFor(m => m.excludeSatSun).ID("excludeSatSun").Text("Saturday/Sunday Excluded").ID("excludeSatSun"))
                            </div>
                            <div class="col-md-8">
                                <span>Country</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                    .ID("countriesSel")
                                    .DataSource(Model.countries)
                                    .DisplayExpr("Country")
                                    .ValueExpr("Country")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.countriesSel)
                                    .InputAttr("autocomplete", "true")
                                    .OnValueChanged("Country_valueChanged")
                                    .Disabled(Model.lockCountry)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>City</span>
                                @Html.HiddenFor(model => model.City)
                                @(Html.DevExtreme().Lookup()
                                                .ID("CityLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                                  .LoadAction("getCities")
                                                                  .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                  .Key("City")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("City")
                                                .DisplayExpr("City")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("City_valueChanged")
                                )
                            </div>

                            <div class="col-md-8">
                                <span>Customer</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                    .ID("customersSel")
                                    .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                            .LoadParams(new
                                                            { Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            }).Key("CustomerCode"))
                                    .DataSourceOptions(o => o.PageSize(999))
                                    .ValueExpr("CustomerCode")
                                    .DisplayExpr("CompanyName")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.customersSel)
                                    .OnValueChanged("Customer_valueChanged")
                                    .Disabled(Model.lockCustomer)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>Site</span>
                                @Html.HiddenFor(model => model.SiteCode)
                                @(Html.DevExtreme().Lookup()
                                            .ID("SiteLookup")
                                            .Disabled(true)
                                            .DataSource(d => d.Mvc().Controller("Customers")
                                                        .LoadAction("GetSites")
                                                        .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                        .Key("SiteCode")
                                                        )
                                            .ShowPopupTitle(false)
                                            .ValueExpr("SiteCode")
                                            .DisplayExpr("SiteDescription")
                                            .Placeholder("select...")
                                            .SearchPlaceholder("search")
                                            .CancelButtonText("Cancel")
                                            .ShowClearButton(true)
                                            .ShowCancelButton(false)
                                            .ClearButtonText("Remove Selection")
                                            .OnValueChanged("Site_valueChanged")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Instrument</span>
                                @Html.HiddenFor(model => model.Instrument)
                                @(Html.DevExtreme().Lookup()
                                                .ID("InstrumentLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                            .LoadAction("GetInstruments")
                                                            .LoadParams(new
                                                            {
                                                                CustomerCode = new JS("function() { return selCustomerCode; }"),
                                                                SiteCode = new JS("function() { return selSiteCode; }"),
                                                                Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            })
                                                            .Key("SerialNumber")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("SerialNumber")
                                                .DisplayExpr("SerialNumber")
                                                .DisplayExpr("SerialNumberInfo")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("Instrument_valueChanged")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Region</span>
                                @(Html.DevExtreme().LookupFor(m => m.Region)
                                                .ID("Region")
                                                .DataSource(Model.regions)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Region")
                                                .DisplayExpr("Region")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockRegion)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Area</span>
                                @(Html.DevExtreme().LookupFor(m => m.Area)
                                                .ID("Area")
                                                .DataSource(Model.areas)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Area")
                                                .DisplayExpr("Area")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockArea)
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Status</span>
                                @(Html.DevExtreme().LookupFor(m => m.commercialStatus)
                                                .ID("CommercialStatus")
                                                .DataSource(Model.commercialStatuses)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("CommercialStatus")
                                                .DisplayExpr("CommercialStatus")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Entity</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                    .ID("commercialEntitiesSel")
                                    .DataSource(Model.commercialEntities)
                                    .DisplayExpr("CommercialEntity")
                                    .ValueExpr("CommercialEntity")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.commercialEntitiesSel)
                                    .Disabled(Model.lockCommerialEntity)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Installation Date From</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateFrom)
                                                                            .ID("InstallDateFrom")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Installation Date To</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateTo)
                                                                            .ID("InstallDateTo")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Sample Type</span>
                                @(Html.DevExtreme().LookupFor(m => m.SampleType)
                                                                .ID("SampleType")
                                                                .DataSource(new List<object> {
                                                                                        new { SampleType = 0, SampleType_Description = "Sample" },
                                                                                        new { SampleType = 1, SampleType_Description = "Calibrator"},
                                                                                        new { SampleType = 2, SampleType_Description = "Control"}
                                                                            }
                                                                )
                                                                .ValueExpr("SampleType")
                                                                .DisplayExpr("SampleType_Description")
                                                                .Placeholder("select...")
                                                                .SearchPlaceholder("search")
                                                                .CancelButtonText("Cancel")
                                                                .ShowClearButton(true)
                                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Pathogen Name</span>
                                @(Html.DevExtreme().LookupFor(m => m.PathogenName)
                                                                .ID("PathogenName")
                                                                .DataSource(Model.Pathogens)
                                                                .ShowPopupTitle(false)
                                                                .ValueExpr("Name")
                                                                .DisplayExpr("Name")
                                                                .Placeholder("select...")
                                                                .SearchPlaceholder("search")
                                                                .CancelButtonText("Cancel")
                                                                .ShowClearButton(true)
                                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2" style="vertical-align:bottom;">
                                <span>&nbsp;</span>
                                <a href="#" onclick="resetFilters();" class="btn btn-link btn-block" style="font-size:12px;">Reset Filters</a>
                            </div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-6">
                                <span>&nbsp;</span>
                                <input type="button" onclick="goSubmit();" value="Apply" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
