﻿@model WebApp.Entity.DailyExecutionsDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Daily Executions";
    string titolo = ViewData["Title"].ToString();

    // TOTALI e MEDIE !!
    int totNRun = Model.series.Sum(t => t.num_test);
    int totPCR = Model.series.Sum(t => t.process_pcr);
    int totExtr = Model.series.Sum(t => t.process_extr);
    decimal avgNRUN = 0;
    decimal avgNPCR = 0;
    decimal avgExtr = 0;
    decimal avgNRUNInst = 0;
    decimal avgNPCRInst = 0;
    decimal avgExtrInst = 0;
    decimal ratioPCR = 0;
    int gg = Model.series.Count();

    //yearlyRunningRate: N.Test / mesi nel periodo selezionato * 12 / n° strumenti
    decimal yearlyRunningRate = 0;
    if (Model.cntInstruments > 0) {
        int nMesi = (((Model.DateTo.Year - Model.DateFrom.Year) * 12) + Model.DateTo.Month - Model.DateFrom.Month) + 1;
        yearlyRunningRate = ((((decimal)totNRun / nMesi) * 12) / Model.cntInstruments);
    }
    yearlyRunningRate = Math.Round(yearlyRunningRate, 0);

    if (gg > 0)
    {
        avgNRUN = Math.Round(((decimal)totNRun / gg), 1);
        avgNPCR = Math.Round(((decimal)totPCR / gg), 1);
        avgExtr = Math.Round(((decimal)totExtr / gg), 1);
    }
    if (Model.cntInstruments > 0)
    {
        avgNRUNInst = Math.Round(((decimal)avgNRUN / Model.cntInstruments), 1);
        avgNPCRInst = Math.Round(((decimal)avgNPCR / Model.cntInstruments), 1);
        avgExtrInst = Math.Round(((decimal)avgExtr / Model.cntInstruments), 1);
    }

    if (avgNPCRInst > 0)
    {
        ratioPCR = Math.Round((avgNPCRInst / avgExtrInst), 1);
    }
}

<style type="text/css">
    #CommercialEntity {
        border: solid 1px lightgray !important;
    }
</style>
<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesSel));
    var selCity = '@Model.City';
    var selCustomerCode = @Html.Raw(Json.Serialize(Model.customersSel));
    var selSiteCode = '@Model.SiteCode';
    var selInstrument = '@Model.Instrument';

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            refreshCity('@Model.City');
            refreshSite('@Model.SiteCode');
            refreshInstrument('@Model.Instrument');
        });
    });

    function Country_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCountry != newValue) {
            //console.log("Country_valueChanged " + newValue);
            selCountry = newValue;
            refreshCity();
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function City_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCity != newValue) {
            //console.log("City_valueChanged " + newValue);
            selCity = newValue;
            $("#City").val(selCity);
            refreshCustomer();
            refreshSite();
            refreshInstrument();
        }
    }

    function Customer_valueChanged(e) {
        var newValue = (e.value || '');
        if (selCustomerCode != newValue) {
            //console.log("Customer_valueChanged " + newValue);
            selCustomerCode = newValue;
            refreshSite(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Site_valueChanged(e) {
        var newValue = (e.value || '');
        if (selSiteCode != newValue) {
            //console.log("Site_valueChanged " + newValue);
            selSiteCode = newValue;
            $("#SiteCode").val(selSiteCode);
            refreshInstrument(selInstrument);
        }
    }

    function Instrument_valueChanged(e) {
        var newValue = (e.value || '');
        if (selInstrument != newValue) {
            //console.log("Instrument_valueChanged " + newValue);
            selInstrument = newValue;
            $("#Instrument").val(selInstrument);
        }
    }

    function refreshCity(valore) {
        //console.log("refreshCity - " + valore + " -selCity:" + selCity);
        var selectBox = $("#CityLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function refreshCustomer(valore) {
        var tagBox = $("#customersSel").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        //console.log("refreshCustomer - " + selectedCurr);
        var selectedNew = [];
        var ds = tagBox.getDataSource().load().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CustomerCode.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
    }

    function refreshSite(valore) {
        //console.log("refreshSite - " + valore);
        var selectBox = $("#SiteLookup").dxLookup("instance");
        selectBox.option('disabled', true);
        selectBox.option('value',  '');
        if ('' != (selCustomerCode || '')) {
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.load().done(function (result) {
                selectBox.option('value', (valore || ''));
                selectBox.option('disabled', false);
            });
        } else {
            selectBox.option('value', (valore || ''));
        }
    }
    function refreshInstrument(valore) {
        //console.log("refreshInstrument - " + valore);
        var selectBox = $("#InstrumentLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function openFilters() {
        $('#myModal').modal('toggle');
    }

    function getChartInstance() {
        return $("#line-chart").dxChart("instance");
    }

    function printChart() {
        getChartInstance().print();
    }

    function exportChart() {
        getChartInstance().exportTo("DailyExecutions", "jpeg");
    }

    function downloadDataMain() {
        var myMessage = '<div class="row">  ' +
                        '<div class="col-md-12"> ' +
                        '<form class="form-horizontal"> ' +
                        '<div class="form-group"> ';
            myMessage = myMessage +
                           '<div class="col-md-12">' +
                           '<div class="radio"> <label for="detail"> ' +
                           '&emsp;<input type="radio" name="scelta" id="detail" value="detail" checked="checked"> ' +
                           'Analytics Detail</label> </div>';
            myMessage = myMessage +
                '<div class="radio"> <label for="detailshort"> ' +
                '&emsp;<input type="radio" name="scelta" id="detailshort" value="detailshort"> ' +
                'Analytics Detail (short)</label> </div>';
            myMessage = myMessage +
                        '<div class="radio"> <label for="counters"> ' +
                        '&emsp;<input type="radio" name="scelta" id="counters" value="counters"> ' +
                        'Chart Data Total</label> </div>';
            myMessage = myMessage +
                          '</div> </div>' +
                          '</form> </div>  </div>';
            bootbox.dialog({
                title: "Export Daily Executions",
                message: myMessage,
                size: "small",
                buttons: {
                    main: {
                        label: "Cancel",
                        className: "btn-default",
                        callback: function () {
                            // no action
                        }
                    },
                    success: {
                        label: "Export",
                        className: "btn-primary",
                        callback: function () {
                            var radioValue = $("input[name='scelta']:checked").val();
                            //DevExpress.ui.notify("download in progress....", "info");
                            getLoadPanelInstance().option("message", "Exporting...");
                            getLoadPanelInstance().show();
                            goSubmit(radioValue);
                        }
                    }
                }
            })
            return false;;
    }
    function resetFilters() {

        selCountry = "";
        selCity = "";
        selCustomerCode = "";
        selSiteCode = "";
        selInstrument = "";

        var dataInizio = new Date();
        dataInizio = add_months(dataInizio, -1);
        $("#DateFrom").dxDateBox("instance").option('value', dataInizio);
        $("#DateTo").dxDateBox("instance").option('value', new Date());
        if ('@Model.lockCountry'.toLowerCase() == 'false') {
            $("#countriesSel").dxTagBox("instance").option('value', '');
        }
        $("#CityLookup").dxLookup("instance").option('value', '');
        $("#City").val("");
        if ('@Model.lockCustomer'.toLowerCase() == 'false') {
            $("#customersSel").dxTagBox("instance").option('value', '');
        }
        $("#SiteLookup").dxLookup("instance").option('value', '');
        $("#SiteCode").val("");
        $("#InstrumentLookup").dxLookup("instance").option('value', '');
        $("#Instrument").val("");
        if ('@Model.lockRegion'.toLowerCase() == 'false') {
            $("#Region").dxLookup("instance").option('value', '');
        }
        if ('@Model.lockArea'.toLowerCase() == 'false') {
            $("#Area").dxLookup("instance").option('value', '');
        }
        $("#CommercialStatus").dxLookup("instance").option('value', '');
        if ('@Model.lockCommerialEntity'.toLowerCase() == 'false') {
            $("#commercialEntitiesSel").dxTagBox("instance").option('value', '');
        }
        $("#InstallDateFrom").dxDateBox("instance").option('value', null);
        $("#InstallDateTo").dxDateBox("instance").option('value', null);
        $("#excludeSatSun").dxCheckBox("instance").option('value', false);
        $("#ExtractionDataFrom").dxDateBox("instance").option('value', null);
        $("#ExtractionDataTo").dxDateBox("instance").option('value', null);
    }
    function add_months(dt, n) {

        return new Date(dt.setMonth(dt.getMonth() + n));
    }
    function goSubmit(opt) {
        $("#opt").val(opt || '');
        $("#dashboard").attr("action", '@Url.Action("DailyExecutions", "Dashboard")');
        $("#dashboard").submit();
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }

    function goDownloadFunctionDocumentation() {
        $("#dashboard").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#dashboard").attr("target", "_blank");
        $("#dashboard").submit();
        $("#dashboard").attr("target", "");    // Ripristino Target
        return false;
    }
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    @(Html.DevExtreme().LoadPanel()
                               .ID("loadPanel")
                               .ShadingColor("rgba(0,0,0,0.4)")
                               .Visible(false)
                               .ShowIndicator(true)
                               .ShowPane(true)
                               .Shading(false)
                               .CloseOnOutsideClick(true)
                               .OnShown("loadPanel_shown")
    )

    @Html.Hidden("opt");

    @Html.AntiForgeryToken()

    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_DailyExecution">

    <div id="main">
        <div class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                        @*<img src="~/images/ExtraStatsLogo.png" alt="" style="width: 100px;">*@
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dx-field-value">
                        @(Html.DevExtreme().Button()
                                            .Icon("fa fa-info-circle")
                                            .Hint("Function Documentation")
                                           .OnClick("goDownloadFunctionDocumentation")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("print")
                                            .Hint("Print Chart")
                                            .OnClick("printChart")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("export")
                                            .Hint("Export Chart")
                                            .OnClick("exportChart")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("download")
                                            .Hint("Download DataMain")
                                            .OnClick("downloadDataMain")
                        )
                        @(Html.DevExtreme().Button()
                                            .Icon("glyphicon glyphicon-filter")
                                            .Hint("Filters")
                                            .OnClick("openFilters")
                        )
                    </div>
                </div>
            </div>
            <div class="empty_row">&nbsp;</div>
            <div class="row">
                <div id="chartDailyExecutions">
                    @(Html.DevExtreme().Chart()
                                            .ID("line-chart")
                                            .DataSource(Model.series)
                                            .Palette(VizPalette.Default)
                                            .OnDone(@<text>function(e) { e.component.zoomArgument(250, 400);}</text>)
                                .CommonSeriesSettings(s => s
                                    .ArgumentField("StartRunDateRif")
                                    .Type(SeriesType.Spline)
                                    .HoverMode(ChartSeriesHoverMode.IncludePoints)
                                    .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
                                )
                                .Margin(m => m.Bottom(15))
                                .ArgumentAxis(a => a
                                    .ValueMarginsEnabled(false)
                                    .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                    .Grid(g => g.Visible(true))
                                    .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
                                )
                                .Series(s =>
                                {
                                    s.Add().ValueField("num_test").Name("<b>N.Test: " + totNRun + "</b>\nDaily Avg:" + avgNRUN + "\nInstr.Avg:" + avgNRUNInst);
                                    s.Add().ValueField("process_pcr").Name("<b>PCR: " + totPCR + "</b>\nDaily Avg:" + avgNPCR + "\nInstr.Avg:" + avgNPCRInst);
                                    s.Add().ValueField("process_extr").Name("<b>Extraction: " + totExtr + "</b>\nDaily Avg:" + avgExtr + "\nInstr.Avg:" + avgExtrInst);
                                    s.Add().ValueField("invalid").Name("<b>Invalid</b>");
                                    s.Add().ValueField("error").Name("<b>Error</b>");
                                    s.Add().ValueField("aborted").Name("<b>Aborted</b>");
                                })
                                .Legend(l => l
                                        .VerticalAlignment(VerticalEdge.Top)
                                        .HorizontalAlignment(HorizontalAlignment.Right)
                                )
                                .OnLegendClick(@<text>
                                    function(e) {
                                    var series = e.target;
                                    if(series.isVisible()) {
                                    series.hide();
                                    } else {
                                    series.show();
                                    }
                                    }
                                </text>)
                    .Title(t => t
                        .Text(titolo)
                        .Subtitle(s => s.Text(Model.summary).Font(f => f.Size(14)))
                    )
                    .Crosshair(c => c
                            .Enabled(true)
                            .Color("#949494")
                            .Width(3)
                            .DashStyle(DashStyle.Dot)
                            .Label(l => l.Visible(true).BackgroundColor("#949494").Font(f => f.Color("#fff").Size(10)))
                        )
                    .Size(s => s.Height(500))
                    .Tooltip(t => t
                        .Enabled(true)
                        .CustomizeTooltip(@<text>
                            function (arg) {
                            return { html: "<div class='text-center'><b>" + arg.valueText + "</b><br />" +  arg.seriesName.split(":")[0] + "</div>"};
                            }
                        </text>))
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Number of Instruments: <span style="font-weight: bold; font-size:18px">@Model.cntInstruments</span></div>
                <div class="col-md-4">Ratio PCR/Extraction: <span style="font-weight: bold; font-size:18px">@ratioPCR</span></div>
                <div class="col-md-4">Yearly Running Rate: <span style="font-weight: bold; font-size:18px">@yearlyRunningRate</span></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Daily Executions - Filters</h4>
                </div>
                <div class="modal-body">
                    <section id="filtri">
                        <div id="filter">
                            <div class="option col-md-4">
                                <span>Period</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.DateFrom)
                                                    .ID("DateFrom")
                                                    .Width("100%")
                                                    .Min("2000/01/01")
                                                    .Max("2999/12/31")
                                )
                            </div>
                            <div class="col-md-4">
                                <span>&nbsp;</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.DateTo)
                                                    .ID("DateTo")
                                                    .Width("100%")
                                                    .Min("2000/01/01")
                                                    .Max("2999/12/31")
                                )
                            </div>
                            <div class="col-md-4">
                                <p style="font-size:10px;">&nbsp;</p>
                                @(Html.DevExtreme().CheckBoxFor(m => m.excludeSatSun).ID("excludeSatSun").Text("Saturday/Sunday Excluded").ID("excludeSatSun"))
                            </div>
                            <div class="col-md-8">
                                <span>Country</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.countriesSel)
                                    .ID("countriesSel")
                                    .DataSource(Model.countries)
                                    .DisplayExpr("Country")
                                    .ValueExpr("Country")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.countriesSel)
                                    .InputAttr("autocomplete", "true")
                                    .OnValueChanged("Country_valueChanged")
                                    .Disabled(Model.lockCountry)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>City</span>
                                @Html.HiddenFor(model => model.City)
                                @(Html.DevExtreme().Lookup()
                                                .ID("CityLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                                  .LoadAction("getCities")
                                                                  .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                                  .Key("City")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("City")
                                                .DisplayExpr("City")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("City_valueChanged")
                                )
                            </div>
                            <div class="col-md-8">
                                <span>Customer</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.customersSel)
                                    .ID("customersSel")
                                    .DataSource(d => d.Mvc().Controller("Customers").LoadAction("getCustomers")
                                                            .LoadParams(new
                                                            { Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            }).Key("CustomerCode"))
                                    .DataSourceOptions(o => o.PageSize(999))
                                    .ValueExpr("CustomerCode")
                                    .DisplayExpr("CompanyName")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.customersSel)
                                    .OnValueChanged("Customer_valueChanged")
                                    .Disabled(Model.lockCustomer)
                                )
                            </div>
                            <div class="col-md-4">
                                <span>Site</span>
                                @Html.HiddenFor(model => model.SiteCode)
                                @(Html.DevExtreme().Lookup()
                                            .ID("SiteLookup")
                                            .Disabled(true)
                                            .DataSource(d => d.Mvc().Controller("Customers")
                                                        .LoadAction("GetSites")
                                                        .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                                        .Key("SiteCode")
                                                        )
                                            .ShowPopupTitle(false)
                                            .ValueExpr("SiteCode")
                                            .DisplayExpr("SiteDescription")
                                            .Placeholder("select...")
                                            .SearchPlaceholder("search")
                                            .CancelButtonText("Cancel")
                                            .ShowClearButton(true)
                                            .ShowCancelButton(false)
                                            .ClearButtonText("Remove Selection")
                                            .OnValueChanged("Site_valueChanged")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Instrument</span>
                                @Html.HiddenFor(model => model.Instrument)
                                @(Html.DevExtreme().Lookup()
                                                .ID("InstrumentLookup")
                                                .DataSource(d => d.Mvc().Controller("Customers")
                                                            .LoadAction("GetInstruments")
                                                            .LoadParams(new
                                                            {
                                                                CustomerCode = new JS("function() { return selCustomerCode; }"),
                                                                SiteCode = new JS("function() { return selSiteCode; }"),
                                                                Country = new JS("function() { return selCountry; }"),
                                                                City = new JS("function() { return selCity; }")
                                                            })
                                                            .Key("SerialNumber")
                                                            )
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("SerialNumber")
                                                .DisplayExpr("SerialNumber")
                                                .DisplayExpr("SerialNumberInfo")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Selection")
                                                .OnValueChanged("Instrument_valueChanged")
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Region</span>
                                @(Html.DevExtreme().LookupFor(m => m.Region)
                                                .ID("Region")
                                                .DataSource(Model.regions)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Region")
                                                .DisplayExpr("Region")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockRegion)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Area</span>
                                @(Html.DevExtreme().LookupFor(m => m.Area)
                                                .ID("Area")
                                                .DataSource(Model.areas)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Area")
                                                .DisplayExpr("Area")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                                .Disabled(Model.lockArea)
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Status</span>
                                @(Html.DevExtreme().LookupFor(m => m.commercialStatus)
                                                .ID("CommercialStatus")
                                                .DataSource(Model.commercialStatuses)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("CommercialStatus")
                                                .DisplayExpr("CommercialStatus")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ShowCancelButton(false)
                                                .ClearButtonText("Remove Sel.")
                                )
                            </div>
                            <div class="col-md-12">
                                <span>Commercial Entity</span>
                                @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesSel)
                                    .ID("commercialEntitiesSel")
                                    .DataSource(Model.commercialEntities)
                                    .DisplayExpr("CommercialEntity")
                                    .ValueExpr("CommercialEntity")
                                    .SearchEnabled(true)
                                    .Placeholder("select...")
                                    .ShowClearButton(true)
                                    .Value(Model.commercialEntitiesSel)
                                    .Disabled(Model.lockCommerialEntity)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Installation Date From</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateFrom)
                                                                            .ID("InstallDateFrom")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Installation Date To</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InstallDateTo)
                                                                            .ID("InstallDateTo")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="option col-md-6">
                                <span>Extraction Data From (EXTRA)</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.ExtractionDataFrom)
                                                                            .ID("ExtractionDataFrom")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                            <div class="col-md-6">
                                <span>Extraction Data To (EXTRA)</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.ExtractionDataTo)
                                                                            .ID("ExtractionDataTo")
                                                                            .Width("100%")
                                                                            .Min("2000/01/01")
                                                                            .Max("2999/12/31")
                                                                            .ShowClearButton(true)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2" style="vertical-align:bottom;">
                                <span>&nbsp;</span>
                                <a href="#" onclick="resetFilters();" class="btn btn-link btn-block" style="font-size:12px;">Reset Filters</a>
                            </div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-6">
                                <span>&nbsp;</span>
                                <input type="button" onclick="goSubmit();" value="Apply" class="btn btn-success btn-block" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
