﻿@model WebApp.Entity.DailyExecutionsDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Daily Executions";
    string titolo = ViewData["Title"].ToString();

}

<script type="text/javascript">

    var selCountry = "";
    var selCity = "";
    var selCustomerCode = "";
    //var selSiteCode = "";
    //var selInstrument = "";
    //var selPCRTargetType = "";

    bCountryOK = false;
    bCityOK = false;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {

            @*selCountry = '@Model.Country';
            selCity = '@Model.City';
            selCustomerCode = '@Model.Customer';
            @*selSiteCode = '@Model.SiteCode';*@
            @*selInstrument = '@Model.Instrument';*@

            @*refreshCity('@Model.City');*@
            @*refreshCustomer('@Model.Customer');*@
            @*refreshSite('@Model.SiteCode');*@
            @*refreshInstrument('@Model.Instrument');*@*@
        });
    });
    function Country_Initialized(e) {
        bCountryOK = true;
    }
    function Country_valueChanged(e) {
        console.log("Country_valueChanged - " + selCountry + ' -> ' + e.value);
        selCountry = e.value;
        if (bCountryOK) {
        refreshCity();
        refreshCustomer();
        }
        //refreshInstrument();
        //refreshSite();
    }

    function City_Initialized(e) {
        bCityOK = true;
    }

    function City_valueChanged(e) {
        console.log("City_valueChanged - " + selCity + ' -> ' + e.value);
        selCity = e.value;
        $("#City").val(selCity);

        refreshCustomer();
        //refreshInstrument();
        //refreshSite();
    }

    function Customer_valueChanged(e) {
        console.log("Customer_valueChanged - " + selCustomerCode + ' -> ' + e.value);
        selCustomerCode = e.value;
        $("#Customer").val(selCustomerCode);
        //alert(JSON.stringify(selCustomerCode, null, 4));
        //refreshInstrument();
        //refreshSite();
    }

    //function Site_valueChanged(e) {
    //    selSiteCode = e.value;
    //    refreshInstrument();
    //}

    function Instrument_valueChanged(e) {
        selInstrument = e.value;
    }

    function refreshCity(valore) {
        var selectBox = $("#CityLookup").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    function refreshCustomer(valore) {
        console.log("refresh Customer");
        var selectBox = $("#
            up").dxLookup("instance");
        var ds = selectBox.getDataSource();
        ds.filter(null);
        ds.load().done(function (result) {
            selectBox.option('value', (valore || ''));
        });
    }

    //function refreshSite(valore) {
    //    var selectBox = $("#Site").dxLookup("instance");
    //    selectBox.option('disabled', true);
    //    if ('' != (selCustomerCode || '')) {
    //        var ds = selectBox.getDataSource();
    //        ds.filter(null);
    //        ds.load();
    //        selectBox.option('disabled', false);
    //    }
    //    selectBox.option('value', (valore || ''));
    //}
    //function refreshInstrument(valore) {
    //    var selectBox = $("#Instrument").dxLookup("instance");
    //    var ds = selectBox.getDataSource();
    //    ds.filter(null);
    //    ds.load();
    //    selectBox.option('value', (valore || ''));
    //}


    function resetFilters() {

        var dataInizio = new Date();

        $("#Country").dxLookup("instance").option('value', '');
        $("#CityLookup").dxLookup("instance").option('value', '');
        $("#CustomerLookup").dxLookup("instance").option('value', '');
        //$("#Site").dxLookup("instance").option('value', '');
        //$("#Instrument").dxLookup("instance").option('value', '');

    }

    function goSubmit(opt) {
        $("#dashboard").attr("action", '@Url.Action("Test2", "Dashboard")?opt=' + (opt||''));
        $("#dashboard").submit();
        return false;
    }

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "dashboard" }))
{
    //using (Html.DevExtreme().ValidationGroup())
    //{

    @Html.AntiForgeryToken()

    <div id="main">
        <div class="container">
            <div class="empty_row">&nbsp;</div>
            <div class="empty_row">
                @*<div class="col-md-4">Country: @Model.Country</div>*@
                <div class="col-md-4">City: @Model.City</div>
                @*<div class="col-md-4">Customer: @Model.Customer</div>*@
            </div>
            <div class="empty_row">&nbsp;</div>
            <div class="empty_row">&nbsp;</div>
            <div class="empty_row">&nbsp;</div>

            <section id="filtri">
                <div id="filter">

                    <div class="col-md-12">
                        <span>Country</span>
                        @*@(Html.DevExtreme().LookupFor(m => m.Country)
                            .ID("Country")
                            .DataSource(Model.countries)
                            .ShowPopupTitle(false)
                            .ValueExpr("Country")
                            .DisplayExpr("Country")
                            .Placeholder("select...")
                            .SearchPlaceholder("search")
                            .CancelButtonText("Cancel")
                            .ShowClearButton(true)
                            .ClearButtonText("Remove Selection")
                            .OnValueChanged("Country_valueChanged")
                            .OnInitialized("Country_Initialized")
                        )*@
                    </div>
                    <div class="col-md-12">
                        <span>City</span>
                        @Html.HiddenFor(model => model.City)
                        @(Html.DevExtreme().Lookup()
                            .ID("CityLookup")
                            .DataSource(d => d
                                        .Mvc()
                                        .Controller("Customers")
                                        .LoadAction("getCities")
                                        .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                        .Key("City")
                                        )
                            .ShowPopupTitle(false)
                            .ValueExpr("City")
                            .DisplayExpr("City")
                            //.DeferRendering(true)
                            .Placeholder("select...")
                            .SearchPlaceholder("search")
                            .CancelButtonText("Cancel")
                            .ShowClearButton(true)
                            .ClearButtonText("Remove Selection")
                            .OnValueChanged("City_valueChanged")
                            .OnInitialized("City_Initialized")
                        )
                    </div>
                    <div class="col-md-12">
                        <span>Customer</span>
                        @*@Html.HiddenFor(model => model.Customer)*@
                        @(Html.DevExtreme().Lookup()
                            .ID("CustomerLookup")
                            .DataSource(d => d
                                        .Mvc()
                                        .Controller("Customers")
                                        .LoadAction("getCustomers")
                                        .LoadParams(new
                                        {
                                            Country = new JS("function() { console.log('LoadParams-Country:' + selCountry); return selCountry; }"),
                                            City = new JS("function() { console.log('LoadParams-City:' + selCity); return selCity; }")
                                        })
                                        .Key("CustomerCode")
                                        )
                            //.DataSource(Model.customers)
                            .ShowPopupTitle(false)
                            .ValueExpr("CustomerCode")
                            .DisplayExpr("CompanyName")
                            .Placeholder("select...")
                            .SearchPlaceholder("search")
                            .CancelButtonText("Cancel")
                            .ShowClearButton(true)
                            .ClearButtonText("Remove Selection")
                            .OnValueChanged("Customer_valueChanged")
                        )
                    </div>

                    @*<div class="col-md-12">
                    <span>Site</span>
                    @(Html.DevExtreme().LookupFor(m => m.SiteCode)
                        .ID("Site")
                        .Disabled(true)
                        .DataSource(d => d
                                    .Mvc()
                                    .Controller("Customers")
                                    .LoadAction("GetSites")
                                    .LoadParams(new { CustomerCode = new JS("function() { return selCustomerCode; }") })
                                    .Key("SiteCode")
                                    )
                        .ShowPopupTitle(false)
                        .ValueExpr("SiteCode")
                        .DisplayExpr("SiteDescription")
                        .Placeholder("select...")
                        .SearchPlaceholder("search")
                        .CancelButtonText("Cancel")
                        .ShowClearButton(true)
                        .ClearButtonText("Remove Selection")
                        .OnValueChanged("Site_valueChanged")
                    )
                </div>*@
                    @*<div class="col-md-12">
                    <span>Instrument</span>
                    @(Html.DevExtreme().LookupFor(m => m.Instrument)
                        .ID("Instrument")
                        .DataSource(d => d
                                    .Mvc()
                                    .Controller("Customers")
                                    .LoadAction("GetInstruments")
                                    .LoadParams(new
                                    {
                                        CustomerCode = new JS("function() { return selCustomerCode; }"),
                                        SiteCode = new JS("function() { return selSiteCode; }"),
                                        Country = new JS("function() { return selCountry; }"),
                                        City = new JS("function() { return selCity; }")
                                    })
                                    .Key("SerialNumber")
                                    )
                        .ShowPopupTitle(false)
                        //.Grouped(true)
                        //.CloseOnOutsideClick(true)
                        .ValueExpr("SerialNumber")
                        .DisplayExpr("SerialNumber")
                        .DisplayExpr("SerialNumberInfo")
                        .Placeholder("select...")
                        .SearchPlaceholder("search")
                        .CancelButtonText("Cancel")
                        .ShowClearButton(true)
                        .ClearButtonText("Remove Selection")
                        .OnValueChanged("Instrument_valueChanged")
                    )
                </div>*@


                    <div class="row">
                        <div class="col-xs-2" style="vertical-align:bottom;">
                            <span>&nbsp;</span>
                            <a href="#" onclick="resetFilters();" class="btn btn-link btn-block" style="font-size:12px;">Reset Filters</a>
                        </div>
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-6">
                            <span>&nbsp;</span>
                            <input type="button" onclick="goSubmit();" value="Apply" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



}
