﻿@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool bAbilitaInstallBase = User.IsInRole(Lookup.Role_DataImport) || User.IsInRole(Lookup.Role_Upload_DataMain) ||
                               User.IsInRole(Lookup.Role_Upload_Assays) || User.IsInRole(Lookup.Role_Upload_InstallBase);
    bool bShowUserMenu = string.IsNullOrWhiteSpace(Context.Session.GetString(Lookup.SpecialMode_ChangePassword));
}

@if (SignInManager.IsSignedIn(User))
{
    @if (bShowUserMenu)
    {
<ul class="nav navbar-nav navbar-left">

    @if (User.IsInRole(Lookup.Role_DailyExec_AssayUtil) || User.IsInRole(Lookup.Role_AssaysProtocols))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instrument Data<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_DailyExec_AssayUtil))
                {
                    <li><a asp-controller="Dashboard" asp-action="DailyExecutions" asp-route-opt="init">Daily Executions</a></li>
                    <li><a asp-controller="Dashboard" asp-action="AssaysUtilization" asp-route-opt="init">Assays Utilization</a></li>
                    @*<li><a href="#" onclick="alert('Comparison');">Comparison</a></li>*@
                }
                @if (User.IsInRole(Lookup.Role_AssaysProtocols))
                {
                    <li><a asp-controller="AssaysProtocols" asp-action="Index">Assays Protocols</a></li>
                }
            </ul>
        </li>
    }

    @*@if (User.IsInRole(Lookup.Role_DailyExec_AssayUtil))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NAV Data<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="alert('Undefined');">Undefined</a></li>
                </ul>
            </li>
        }*@

    @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationApproval) || User.IsInRole(Lookup.Role_QuotationBackOffice) || User.IsInRole(Lookup.Role_QuotationManager))
    {
        bool bItem = false;
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quotation Tool<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole(Lookup.Role_Quotation) || User.IsInRole(Lookup.Role_QuotationManager))
                {
                    bItem = true;
                    <li><a asp-controller="Quotations" asp-action="Index">Quotation</a></li>
                }
                @if (User.IsInRole(Lookup.Role_QuotationApproval))
                {
                    bItem = true;
                    <li><a href="#" onclick="alert('Quotation Approval');">Quotation Approval</a></li>
                }
                @if (User.IsInRole(Lookup.Role_QuotationBackOffice))
                {
                    if (bItem)
                    {
                        <li role="separator" class="divider"></li>
                    }
                    <li><a asp-controller="QRegistry" asp-action="ManageCommercialEntity">Commercial Entity</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageInstrumentTypes">Intrument Types</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageExtractions">Extractions</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageElitePcrKits">ELITe PCR Kits</a></li>
                    <li><a asp-controller="QRegistry" asp-action="ManageConsumables">Consumables</a></li>
                }

            </ul>
        </li>
    }

    @if (User.IsInRole(Lookup.Role_TrainingBackOffice))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Training<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Trainings" asp-action="Index"><span class="fa fa-book"></span>&nbsp;Training</a></li>
                <li><a asp-controller="Trainings" asp-action="ParticipantList"><span class="fa fa-users"></span>&nbsp;List of Attendees</a></li>
                <li><a asp-controller="Trainings" asp-action="Summary"><span class="fa fa-dashboard"></span>&nbsp;Summary</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Trainings" asp-action="DistributionList"><span class="fa fa-address-book-o"></span>&nbsp;Distribution List</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageCalendar"><span class="fa fa-calendar"></span>&nbsp;Training Calendar</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Trainings" asp-action="CreateRegistration"><span class="fa fa-edit"></span>&nbsp;Create New Registration</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="TRegistry" asp-action="ManageHotels">Hotels</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageEmailTemplates">Email Templates</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="TRegistry" asp-action="ManageTrainingTypes">Training Types</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageLocations">Training Locations</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageTypeOfParticipants">Type of Participants</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageJobPositions">Job Positions</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageCountries">Countries</a></li>
                <li><a asp-controller="TRegistry" asp-action="ManageCompanies">Companies (Normalized List)</a></li>
            </ul>
        </li>
    }
    @if (bAbilitaInstallBase || User.IsInRole(Lookup.Role_LogFiles) || User.IsInRole(Lookup.Role_LogFilesSupervisor) || User.IsInRole(Lookup.Role_DataMining) ||
       User.IsInRole(Lookup.Role_RnDAnalysis))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (bAbilitaInstallBase)
                {
                    <li><a asp-controller="InstallBase" asp-action="Index">Data Import</a></li>
                }
                @if (User.IsInRole(Lookup.Role_LogFiles) || User.IsInRole(Lookup.Role_LogFilesSupervisor))
                {
                    <li><a asp-controller="LogFiles" asp-action="Index">Log Files</a></li>
                }
                @if (User.IsInRole(Lookup.Role_DataMining))
                {
                    <li><a asp-controller="DataMining" asp-action="Index">Data Mining</a></li>
                }
                @if (User.IsInRole(Lookup.Role_RnDAnalysis))
                {
                    <li><a asp-controller="Extractions" asp-action="IndexRnD">R&D Analysis</a></li>
                }
            </ul>
        </li>
    }

    @if (User.IsInRole(Lookup.Role_Admin))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-controller="Utils" asp-action="FunctionsDocumentation">Functions Documentation</a></li>
                @*<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-command="contratti_commerciale">TAB1</a></li>*@
                @*<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-command="ordini_commerciale">TAB2</a></li>*@
            </ul>
        </li>
    }
</ul>
    }

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
				@*<a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Change Password">Hello @UserManager.GetUserName(User)!</a>*@
                <a style="color: white !important;">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Change Password">
                        <i class="fa fa-key" style="font-size: 16px;"></i>
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
