@model IEnumerable<WebApp.Entity.QuotationElitePCRKit>
@using WebApp.Classes;

@{
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
    string callbackAdd = ViewData["callbackAdd"]?.ToString() ?? "";
    bool showAdd = !string.IsNullOrWhiteSpace(callbackAdd);
    string callbackDelete = ViewData["callbackDelete"]?.ToString() ?? "";
    bool showDelete = !string.IsNullOrWhiteSpace(callbackDelete);

    int nTarget = Model.Select(t => t.ElitePCRKit.PCRTarget).Distinct().Count();
    string Compensation = "";
    if (ViewData["compensation"] != null && (bool)ViewData["compensation"] == true)
    {
        Compensation = "Apply Compensation";
    }
    int PcrTypeAssay = (int)Lookup.ElitePCRKitType.Assay;
    int ExtractionTypeMultiplex = (int)Lookup.ExtractionType.multiplex;
}

<style type="text/css">
    #grid-elitepcrkits-container {
        max-height: 200px;
    }

    tr.dx-row.dx-data-row > td {
        padding: 2px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container  {
        padding: 2px;
    }

</style>

<script type="text/javascript">
    function row_prepared(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.ElitePCRKit.PCRType == @PcrTypeAssay) {
                if (info.data.ElitePCRKit.ExtractionType == @ExtractionTypeMultiplex) {
                    info.rowElement.addClass('PCRKit-assay-multiplex');
                } else {
                    info.rowElement.addClass('PCRKit-assay');
                }
            } else {
                info.rowElement.addClass('PCRKit-other');
            }
        }
    }

</script>

<section id="ELITe PCR Kits">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
            <div class="row">
                <div class="col-sm-7" style="font-weight:bold;">
                    <span style="font-size:20px;">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                    </span>
                    ELITe PCR Kits (<b>N. @nTarget PCR Target</b>)
                </div>
                <div class="col-sm-2 text-right" style="padding: 5px;">
                    @if (Compensation != "")
                    {
                        <span class="label-info" style="color:white; font-weight:bold; padding:3px;">@Compensation</span>
                    }
                </div>
                <div class="col-sm-3">
                    <div class="dx-field-value">
                        @if (showEdit)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("edit")
                                .Hint("Edit")
                                .OnClick(callbackEdit)
                            )
                        }
                        @if (showAdd)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("add")
                                .Hint("Add Kit")
                                .OnClick(callbackAdd)
                            )
                        }
                        @if (showDelete)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("trash")
                                .Hint("Remove Kit")
                                .OnClick(callbackDelete)
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            @(Html.DevExtreme().DataGrid()
                    .ID("grid-elitepcrkits-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(false)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                    //.DataSource(d => d.WebApi().Controller("Ordine").LoadAction("Get").Key("ordineId"))
                    //.RemoteOperations(true)
                    //.StateStoring(s => s.Enabled(true)
                    //    .Type(StateStoringType.SessionStorage)
                    //    .StorageKey("ElitePcrKits")
                    //)

                    .DataSource(Model, "Id")
                    .Columns(columns =>
                    {
                        columns.Add().DataField("Id").Visible(false);
                        columns.Add().DataField("ElitePCRKit.PCRTarget").Caption("PCR Target").Width("10%");
                        columns.Add().DataField("ElitePCRKit.Description").Caption("Description").Width("55%");
                        columns.Add().DataField("TestPerYear").Caption("Test per Year").Width("10%").Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("SellingPrice").Caption("Selling Price").Width("10%").CustomizeText("showCurrency");
                        //columns.Add().DataField("ElitePCRKit.OfficialPrice").Caption("Official Price").Width("10%").CustomizeText("showCurrency");
                        //columns.Add().DataField("Discount").Width("10%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent");
                        columns.Add().DataField("FreeOfChargeKit").Caption("Free of Charge Kit").Width("15%").Alignment(HorizontalAlignment.Center);
                        columns.Add().Caption("").Width("12");
                    })
                    .OnRowPrepared("row_prepared")
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite).ShowScrollbar(ShowScrollbarMode.Always))
                        @*.Summary(s => s.TotalItems(items =>
                        {
                            items.Add().Column("SellingPrice")
                                .SummaryType(SummaryType.Sum)
                                .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                                                }))*@
            )
        </div>
    </div>
</section>

