@model WebApp.Entity.QuotationDetailDTO

@{
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
    string myClass = "";
    if (Model.overflowExtraction) { myClass = "OverFlowExtraction"; }

}

<style type="text/css">
    #grid-extractions-container {
        max-height: 200px;
    }

    tr.dx-row.dx-data-row > td {
        padding: 2px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .OverFlowExtraction {
        color: red;
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    //$(document).ready(function () {
    //    $('.OverFlowExtraction').tooltip({ title: "total Extractions exceeding total Test Per Year", animation: true});
    //});

    function row_prepared_extraction(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('PCRKit-consumable');
        }
    }

</script>

<section id="Extractions">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
            <div class="row">
                <div class="col-sm-8" style="font-weight:bold;">
                    <span style="font-size:20px;">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </span>
                    Extractions
                </div>
                <div class="col-sm-4">
                    <div class="dx-field-value">
                        @if (showEdit)
                        {
                            @(Html.DevExtreme().Button()
                                        .Icon("edit")
                                        .Hint("Edit")
                                        .OnClick(callbackEdit)
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="empty_row"></div>
            <div class="row ">
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.quotation.ExtractionEliteMGBKit, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-1 @myClass">
                    @Html.DisplayFor(model => model.quotation.ExtractionEliteMGBKit, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.quotation.ExtractionEliteMGBPanel, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-1 @myClass">
                    @Html.DisplayFor(model => model.quotation.ExtractionEliteMGBPanel, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.quotation.ExtractionOpenKit, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-1 @myClass">
                    @Html.DisplayFor(model => model.quotation.ExtractionOpenKit, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            @*@if (Model.overflowExtraction)
            {
            <div class="row text-center">
                <span class="alert-danger">Total Extractions exceeding Total 'Test per Year'</span>
            </div>
            }*@
            <div class="empty_row"></div>
            @(Html.DevExtreme().DataGrid()
            .ID("grid-extractons-container")
            .ShowBorders(true)
            .ShowRowLines(true)
            .HoverStateEnabled(false)
            .RowAlternationEnabled(false)
            .AllowColumnResizing(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            .DataSource(Model.Extractions, "Id")
            .Columns(columns =>
            {
                columns.Add().DataField("Id").Visible(false);
                columns.Add().DataField("Extraction.Description").Caption("Description").Width("70%");
                columns.Add().DataField("SellingPrice").Caption("Selling Price").Width("15%").CustomizeText("showCurrency");
                //columns.Add().DataField("Extraction.OfficialPrice").Caption("Official Price").Width("20%").CustomizeText("showCurrency");
                //columns.Add().DataField("Discount").Width("15%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent");
            })
            .OnRowPrepared("row_prepared_extraction")
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
            @*.Summary(s => s.TotalItems(items =>
            {
                items.Add().Column("SellingPrice")
                    .SummaryType(SummaryType.Sum)
                    .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                            }))*@
            )
        </div>
    </div>
</section>

