@model WebApp.Entity.Quotation
@{
    string NewCustomer = (bool)Model.NewCustomer ? "New Customer" : "";
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
    string callbackDelete = ViewData["callbackDelete"]?.ToString() ?? "";
    bool showDelete = !string.IsNullOrWhiteSpace(callbackDelete);
    string myNote = Model.Note ?? "";
}

<style type="text/css">
    .customerName {
        font-size:16px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.CommercialEntityID, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-9 customerName">
                        @Html.DisplayFor(model => model.CommercialEntity.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-6 customerName">
                        @Html.DisplayFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-3 text-right">
                        @Html.DisplayFor(model => model.CustomerType, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="text-danger" style="font-weight:bold;">@NewCustomer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dx-field-value">
                    @if (showEdit)
                    {
                        @(Html.DevExtreme().Button()
                                    .Icon("edit")
                                    .Hint("Edit Quotation")
                                    .OnClick(callbackEdit)
                        )
                    }
                    @if (showDelete)
                    {
                        @(Html.DevExtreme().Button()
                                    .Icon("trash")
                                    .Hint("Delete Quotation")
                                    .OnClick(callbackDelete)
                        )
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section id="Customer Section">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.ReferencePerson, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ReferencePerson, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                @if (Model.NewCustomer == false)
                {
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CurrentBusinessPerYear, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-2">
                        &euro;&nbsp;@Html.DisplayFor(model => model.CurrentBusinessPerYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.CurrentBusiness, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-2">
                        &euro;&nbsp;@Html.DisplayFor(model => model.CurrentBusiness, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                }
            </div>
        </section>
        <section id="Contract Section">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.SaleType, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.SaleTypeDeco, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.ContractType, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ContractType, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.ContractDuration, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.ContractDuration, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </section>

        <section ="TotalCosts">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.LISConnection, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.LISConnection, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.TotalOtherCosts, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    &euro;&nbsp;@Html.DisplayFor(model => model.TotalOtherCosts, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.TotalAnnualService, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    &euro;&nbsp;@Html.DisplayFor(model => model.TotalAnnualService, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </section>


        @if (Model.ContractType == WebApp.Classes.Lookup.ContractType.REAGENT_RENTAL)
    {
        <section id="Instrument Rental Section">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.YearRentalDuration, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.YearRentalDuration, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.PercService, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    @Html.DisplayFor(model => model.PercService, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.TotalAnnualRent, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    &euro;&nbsp;@Html.DisplayFor(model => model.TotalAnnualRent, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </section>
}
        <section id="Note Section">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-10">
                    @Html.Raw(myNote.Replace(Environment.NewLine, "<br />"))
                </div>
            </div>
        </section>
    </div>
</div>