@model WebApp.Entity.Quotation
@using WebApp.Classes;
@{
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
}

<div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
        @*<a href="#" data-toggle="collapse" data-target="#header" class="h5"><i class="fa fa-tag"></i>&nbsp;Header</a>*@
        <div class="row">
            <div class="col-sm-8" style="font-weight:bold;">
                <span style="font-size:20px;">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </span>
                @Html.DisplayFor(model => model.InstrumentType.Type, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-4">
                <div class="dx-field-value">
                    @if (showEdit)
            {
                @(Html.DevExtreme().Button()
                        .Icon("edit")
                        .Hint("Edit Quotation")
                        .OnClick(callbackEdit)
                )
    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section id="Instrument Section">
            <div class="row">
                <div class="col-sm-2">
                    @Html.LabelFor(model => model.InstrumentNumber, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-1">
                    @Html.DisplayFor(model => model.InstrumentNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                @if (Model.ContractType != Lookup.ContractType.REAGENT_RENTAL)
                {
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.InstrumentSellingPrice, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        &euro;&nbsp;@Html.DisplayFor(model => model.InstrumentSellingPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @*( @Html.DisplayFor(model => model.InstrumentDiscount, new { htmlAttributes = new { @class = "form-control" } }) %)*@

                    </div>
                }
                @*<div class="col-sm-2">
                    @Html.LabelFor(model => model.InstrumentType.OfficialPrice, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-2">
                    &euro;&nbsp;@Html.DisplayFor(model => model.InstrumentType.OfficialPrice, new { htmlAttributes = new { @class = "form-control" } } )
                </div>*@
            </div>
        </section>
    </div>
</div>