@model IEnumerable<WebApp.Entity.QuotationOpenPCRKit>

@{
    string callbackEdit = ViewData["callbackEdit"]?.ToString() ?? "";
    bool showEdit = !string.IsNullOrWhiteSpace(callbackEdit);
    string callbackAdd = ViewData["callbackAdd"]?.ToString() ?? "";
    bool showAdd = !string.IsNullOrWhiteSpace(callbackAdd);
    string callbackDelete = ViewData["callbackDelete"]?.ToString() ?? "";
    bool showDelete = !string.IsNullOrWhiteSpace(callbackDelete);
    int nOpen = Model.Select(t => t.OpenPCRKitDeco).Distinct().Count();
}

<style type="text/css">
    #grid-openpcrkits-container {
        max-height: 200px;
    }

    tr.dx-row.dx-data-row > td {
        padding: 2px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container  {
        padding: 2px;
    }


</style>

<script type="text/javascript">
    function row_prepared_open(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.PCRType == 0) {
                info.rowElement.addClass('OPENKit-assay');
            } else {
                info.rowElement.addClass('OPENKit-other');
            }
        }
    }

</script>

<section id="OPEN PCR Kits">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 2px;padding-bottom: 2px;">
            <div class="row">
                <div class="col-sm-8" style="font-weight:bold;">
                    <span style="font-size:20px;">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                    </span>
                    OPEN PCR Kits (<b>N. @nOpen Kits </b>)
                </div> 
                <div class="col-sm-4">
                    <div class="dx-field-value">
                        @if (showEdit)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("edit")
                                .Hint("Edit")
                                .OnClick(callbackEdit)
                            )
                        }
                        @if (showAdd)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("add")
                                .Hint("Add Kit")
                                .OnClick(callbackAdd)
                            )
                        }
                        @if (showDelete)
                        {
                            @(Html.DevExtreme().Button()
                                .Icon("trash")
                                .Hint("Remove Kit")
                                .OnClick(callbackDelete)
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            @(Html.DevExtreme().DataGrid()
                        .ID("grid-openpcrkits-container")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .HoverStateEnabled(false)
                        .RowAlternationEnabled(false)
                        .AllowColumnResizing(true)
                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                        .DataSource(Model, "Id")
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Id").Visible(false);
                            columns.Add().DataField("OpenPCRKitDeco").Caption("Kit Id").Width("10%");
                            columns.Add().DataField("Description").Caption("Description").Width("50%");
                            columns.Add().DataField("TestPerYear").Caption("Test per Year").Width("10%").Alignment(HorizontalAlignment.Center);
                            columns.Add().DataField("SellingPrice").Caption("Selling Price").Width("10%").CustomizeText("showCurrency");
                            //columns.Add().DataField("OfficialPrice").Caption("Official Price").Width("10%").CustomizeText("showCurrency");
                            //columns.Add().DataField("Discount").Width("10%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent");
                            columns.Add().DataField("FreeOfChargeKit").Caption("Free of Charge Kit").Width("10%").Alignment(HorizontalAlignment.Center);
                            columns.Add().DataField("KitCosts").Caption("Kit Costs").Width("10%").CustomizeText("showCurrency");
                            columns.Add().DataField("MasterMix").Caption("Master Mix").Width("10%").Alignment(HorizontalAlignment.Center);
                            columns.Add().Caption("").Width("12");
                        })
                        .OnRowPrepared("row_prepared_open")
                        .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite).ShowScrollbar(ShowScrollbarMode.Always))
                        @*.Summary(s => s.TotalItems(items =>
                        {
                        items.Add().Column("SellingPrice")
                                .SummaryType(SummaryType.Sum)
                                .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                            }))*@
            )
        </div>
    </div>
</section>

