@*@model IEnumerable<WebApp.Entity.QuotationElitePCRKit>*@
@model WebApp.Entity.Quotation
@using WebApp.Classes
@using WebApp.Entity
@using WebApp.Models
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit Consumables";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var currOfficialPrice = 0;
    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function row_prepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('PCRKit-consumable');
        }
    }

    function cell_prepared(options) {
        if (options.column.allowEditing && options.rowType == "data") {
            if ((options.value == 0 || options.value || "") != "") {
                options.cellElement.addClass("Kit-edited");
            } else {
                options.cellElement.addClass("Kit-edit");
            }
        }
    }

    function editing_start(e) {
        if (e.data) {
            currOfficialPrice = e.data.elitePCRKit.officialPrice;
        }
    }

    // Nota: la 17.1 supporta solo rowData e value (dalla 17.2 anche currentDataRow)
    function setCellValue_SellingPrice(rowData, value) {
        rowData.sellingPrice = value;
        rowData.discount = null;
        if (value == 0 || (value || "" != "")) {
            if (currOfficialPrice || 0 != 0) {
                rowData.discount = (100 - ((value * 100) / currOfficialPrice)).toFixed(0);
            }
        }
    }
    function setCellValue_Discount(rowData, value) {
        rowData.discount = value;
        rowData.sellingPrice = "";
        if (value || "" != "") {
            if (currOfficialPrice || 0 != 0) {
                rowData.sellingPrice = (currOfficialPrice - ((value * currOfficialPrice) / 100)).toFixed(2);
            }
        }
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                //dataGrid.refresh();                
                //$("form").attr("action", "/Quotations/Details/" + @Model.QuotationId );
                //$("form").attr("method", "GET");
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }


</script>

@(Html.DevExtreme().LoadPanel()
                .ID("savePanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(true)
                .Message("Saving...")
                .CloseOnOutsideClick(false)
)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
    </div>
</div>
<form asp-action="EditConsumablesPost">
    <div class="form-horizontal">
        <div class="row">
            <span style="font-size:20px;">
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
            </span>
            <span class="h4">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.QuotationId" />
        </div>
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                            .ID("grid-container")
                                                .ShowBorders(true)
                                                .ShowRowLines(true)
                                                .HoverStateEnabled(false)
                                                .RowAlternationEnabled(false)
                                                .AllowColumnResizing(true)
                                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                .Editing(editing =>
                                                {
                                                    editing.Mode(GridEditMode.Batch);
                                                    editing.AllowUpdating(true);
                                                })
                                                .DataSource(d => d.Mvc()
                                                    .Controller("Quotations")
                                                    .LoadAction("GetConsumables")
                                                    .LoadParams(new { QuotationId = Model.QuotationId })
                                                    .UpdateAction("PutElitePcrKit")     // ??? Personalizzare PUT x CONSUMABLES ????
                                                    .Key("id")
                                                )
                                                .RemoteOperations(true)
                                                .Columns(columns =>
                                                {
                                                    columns.Add().DataField("id").Visible(false);
                                                    columns.Add().DataField("elitePCRKit.description").Caption("Description").Width("70%").AllowEditing(false);
                                                    columns.Add().DataField("sellingPrice").Caption("Selling Price").Width("15%").CustomizeText("showCurrency").DataType(GridColumnDataType.Number)
                                                                                            .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_SellingPrice");
                                                    //columns.Add().DataField("elitePCRKit.officialPrice").Caption("Official Price").Width("15%").AllowEditing(false).CustomizeText("showCurrency");
                                                    //columns.Add().DataField("discount").Width("15%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                    //                                        .DataType(GridColumnDataType.Number).SetCellValue("setCellValue_Discount");
                                                })
                                                .OnRowPrepared("row_prepared")
                                                .OnCellPrepared("cell_prepared")
                                                .OnEditingStart("editing_start")
                                                .OnDataErrorOccurred("Data_Error")
                                                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                                                .LoadPanel(l => l.Enabled("auto").Height(70))
                                                @*.Summary(s => s.TotalItems(items =>
                                                {
                                                items.Add().Column("sellingPrice")
                                                                .SummaryType(SummaryType.Sum)
                                                                .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                                                                                                                            }))*@
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                                    .Icon("save")
                                    .Hint("Save Changes")
                                    .Text("Save")
                                    .Type(ButtonType.Success)
                                    .OnClick("doSave")
            )
        </div>
    </div>
</form>
