@*@model IEnumerable<WebApp.Entity.QuotationElitePCRKit>*@
@model WebApp.Entity.Quotation
@using WebApp.Classes
@using WebApp.Entity
@using WebApp.Models
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit ELITe PCR Kits";
    int PcrTypeAssay = (int)Lookup.ElitePCRKitType.Assay;
    int ExtractionTypeMultiplex = (int)Lookup.ExtractionType.multiplex;
}

<style type="text/css">
    body {
        background-color: white;
    }

    #grid-container {
        max-height: 480px;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
</style>

<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
        });

        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var currOfficialPrice = 0;
    var errorMessage = "";

    function row_prepared(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.elitePCRKit.pcrType == @PcrTypeAssay) {
                if (info.data.elitePCRKit.extractionType == @ExtractionTypeMultiplex) {
                    info.rowElement.addClass('PCRKit-assay-multiplex');
                } else {
                    info.rowElement.addClass('PCRKit-assay');
                }
            } else {
                info.rowElement.addClass('PCRKit-other');
            }
        }
    }
    function row_updating(info) {
        if (info.newData.testPerYear) {
            info.newData.testPerYear = parseInt(info.newData.testPerYear);
        }
        if (info.newData.freeOfChargeKit) {
            info.newData.freeOfChargeKit = parseInt(info.newData.freeOfChargeKit);
        }
    }

    function cell_prepared(options) {
        if (options.row == undefined)
            return;
        if (options.column.allowEditing && options.rowType == "data") {
            if (options.column.dataField.toLowerCase() == ("dummy")) {
                options.cellElement.addClass("kit-dummy");                    
            } else  if (options.column.dataField.toLowerCase() == ("TestPerYear").toLowerCase() && options.data.elitePCRKit.pcrType != @PcrTypeAssay) {
                //NON MODIFICABILE !!
            } else {
                if (options.value == 0 || (options.value || "") != "") {
                    var myClass = "Kit-edited";
                    if (options.column.dataField.toLowerCase() == ("TestPerYear").toLowerCase()) {
                        if (options.data && options.data.elitePCRKit.cutOff != null) {
                            if (Number(options.value) < Number(options.data.elitePCRKit.cutOff)) {
                                myClass = "Kit-editCutoff";
                            }
                        }
                    }
                    options.cellElement.addClass(myClass);                    
                } else {
                    options.cellElement.addClass("Kit-edit");
                }
            }
        }
    }

    function editing_start(e) {
        if (e.data) {
            currOfficialPrice = e.data.elitePCRKit.officialPrice;
        }
    }

    function editor_preparing(options) {

        if (options.parentType != "dataRow") return;

        if (options.dataField.toLowerCase() == ("TestPerYear").toLowerCase() && options.row.data.elitePCRKit.pcrType != @PcrTypeAssay) {
            options.editorOptions.disabled = true;
        }
        if (options.dataField.toLowerCase() == ("dummy").toLowerCase()) {
            options.editorOptions.disabled = true;
        }
    }

    // Nota: la 17.1 supporta solo rowData e value (dalla 17.2 anche currentDataRow)
    function setCellValue_SellingPrice(rowData, value) {
        rowData.sellingPrice = value;
        rowData.discount = null;
        if (value == 0 || (value || "" != "")) {
            if (currOfficialPrice || 0 != 0) {
                rowData.discount = (100 - ((value * 100) / currOfficialPrice)).toFixed(0);
            }
        }
    }
    function setCellValue_Discount(rowData, value) {
        rowData.discount = value;
        rowData.sellingPrice = "";
        if (value || "" != "") {
            if (currOfficialPrice || 0 != 0) {
                rowData.sellingPrice = (currOfficialPrice - ((value * currOfficialPrice) / 100)).toFixed(2);
            }
        }
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                // eseguo la action associata (POST) per aggiornare altri dati del form
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

</script>

@(Html.DevExtreme().LoadPanel()
            .ID("savePanel")
            .ShadingColor("rgba(0,0,0,0.4)")
            .Visible(false)
            .ShowIndicator(true)
            .ShowPane(true)
            .Shading(true)
            .Message("Saving...")
            .CloseOnOutsideClick(false)
)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
    </div>
</div>
<form asp-action="EditElitePcrKitsPost">
    <div class="form-horizontal">
        <div class="row">
            <span style="font-size:20px;">
                <i class="fa fa-flask" aria-hidden="true"></i>
            </span>
            <span class="h4">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.QuotationId" />
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <label asp-for="Compensation" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                @(Html.DevExtreme().CheckBoxFor(m => m.Compensation).Text(""))
            </div>
        </div>
        <div class="empty_row"></div>
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(false)
                                            .AllowColumnResizing(true)
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                            .Editing(editing =>
                                            {
                                                editing.Mode(GridEditMode.Batch);
                                                editing.AllowUpdating(true);
                                            })
                                            .DataSource(d => d.Mvc()
                                                .Controller("Quotations")
                                                .LoadAction("GetElitePcrKits")
                                                .LoadParams(new { QuotationId = Model.QuotationId })
                                                .UpdateAction("PutElitePcrKit")
                                                .Key("id")
                                            )
                                            .RemoteOperations(true)
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("id").Visible(false);
                                                columns.Add().DataField("elitePCRKit.pcrTarget").Caption("PCR Target").Width("10%")
                                                            .AllowEditing(false);

                                                columns.Add().DataField("elitePCRKit.description").Caption("Description").Width("65%").AllowEditing(false);
                                                columns.Add().DataField("testPerYear").Caption("Test per Year").Width("10%").Alignment(HorizontalAlignment.Center)
                                                                                      .DataType(GridColumnDataType.Number); //.SetCellValue("setCellValue_testPerYear");
                                                columns.Add().DataField("sellingPrice").Caption("Selling Price").Width("10%").CustomizeText("showCurrency")
                                                                                       .Alignment(HorizontalAlignment.Right).SetCellValue("setCellValue_SellingPrice").DataType(GridColumnDataType.Number);
                                                //columns.Add().DataField("elitePCRKit.officialPrice").Caption("Official Price").Width("10%").AllowEditing(false).CustomizeText("showCurrency");
                                                //columns.Add().DataField("discount").Caption("Discount").Width("10%").Alignment(HorizontalAlignment.Center).CustomizeText("showPercent")
                                                //                                        .SetCellValue("setCellValue_Discount").DataType(GridColumnDataType.Number);
                                                columns.Add().DataField("freeOfChargeKit").Caption("Free of Charge Kit").Width("10%").Alignment(HorizontalAlignment.Center).DataType(GridColumnDataType.Number);
                                                columns.Add().DataField("DUMMY").Caption("").Width("2%");
                                            })
                                            .OnRowPrepared("row_prepared")
                                            .OnCellPrepared("cell_prepared")
                                            .OnEditorPreparing("editor_preparing")
                                            .OnRowUpdating("row_updating")
                                            .OnEditingStart("editing_start")
                                            .OnDataErrorOccurred("Data_Error")
                                            .LoadPanel(l => l.Enabled("auto").Height(70))
                                            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite).ShowScrollbar(ShowScrollbarMode.Always))
                                            @*.Summary(s => s.TotalItems(items =>
                                            {
                                                items.Add().Column("sellingPrice")
                                                        .SummaryType(SummaryType.Sum)
                                                        .CustomizeText(@<text> function(data) {return showCurrency(data);}</text>);
                                                                                            }))*@
            )
        </div>
    </div>
    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                                            .Icon("save")
                                            .Hint("Save Changes")
                                            .Text("Save")
                                            .Type(ButtonType.Success)
                                            .OnClick("doSave")
            )
        </div>
    </div>
</form>

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Details" asp-route-id="@Model.QuotationId" class="goback">goback</a>
        </div>
    </div>*@
