@model WebApp.Entity.UserEditDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = Model.userName;
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }

    .selected-data,
    .options {
        margin-top: 5px;
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
    }

    /*.selected-data .caption {
        font-weight: bold;
        font-size: 115%;
    }*/

    .options .caption {
        font-size: 18px;
        font-weight: 500;
    }

</style>

<script type="text/javascript">

    function doSave() {
        $("form").submit();
        return false;
    }

    function setSelectedRoles(data) {
        $("#selectedRoles").val(data.component.option("selectedItemKeys").join("|"));
    }

    function goDownloadFunctionDocumentation() {
        $("#gestione").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#gestione").attr("target", "_blank");
        $("#gestione").submit();
        $("#gestione").attr("target", "");    // Ripristino Target
        return false;
    }

</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditPost" id="gestione">
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserRoles">
    <div class="empty_row"></div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-11">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-md-1 text-right">
                @(Html.DevExtreme().Button()
                                .Icon("fa fa-info-circle")
                                .Hint("Function Documentation")
                                .Text("")
                                .Type(ButtonType.Normal)
                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
        <hr style="margin: 5px;"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="userId" name="id" id="id" />
        <input type="hidden" name="selectedRoles" id="selectedRoles">

        @*<div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-6 required">
                    <label asp-for="fullName" class="col-md-4 control-label">User Name</label>
                    <div class="col-md-8">
                        <input asp-for="fullName" class="form-control" style="max-width:95%;" />
                        <span asp-validation-for="fullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6 required">
                    <label asp-for="userEmail" class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input asp-for="userEmail" class="form-control" style="max-width:95%;" placeholder="Email" />
                        <span asp-validation-for="userEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-6">
                <div class="options">
                    <div class="row">
                        <div class="caption col-md-10">Roles</div>
                        @*<div class="col-md-2">
                            @(Html.DevExtreme().Button()
                                    .Icon("fa fa-info-circle")
                                    .Hint("Function Documentation")
                                    .Text("")
                                    .Type(ButtonType.Normal)
                                    .OnClick("goDownloadFunctionDocumentation")
                            )
                        </div>*@
                    </div>
                    <div class="empty_row"></div>
                    <div class="widget-container">
                        @(Html.DevExtreme().List()
                                //.Height(400)
                                .ShowSelectionControls(true)
                                .SelectionMode(ListSelectionMode.All)
                                .DataSource(Model.roles)
                                .KeyExpr("Id")
                                .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                .SelectedItemKeys(Model.UserRoles)
                                .ItemTemplate(@<text><b><%= Name %></b></text>)
                                .OnInitialized("setSelectedRoles")
                                .OnSelectionChanged("setSelectedRoles")
                        )
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="options">
                    <div class="caption">Configuration</div>
                    <div class="empty_row"></div>
                    <div class="form-group">
                        <label asp-for="fullName" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input asp-for="fullName" class="form-control" style="max-width:95%;" />
                            <span asp-validation-for="fullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label asp-for="userEmail" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input asp-for="userEmail" class="form-control" style="max-width:95%;" placeholder="Email" />
                            <span asp-validation-for="userEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country</label>
                        <div class="col-md-9">
                            @*@(Html.DevExtreme().LookupFor(m => m.Country)
                                                    .ID("Country")
                                                    .DataSource(Model.countries)
                                                    .ShowPopupTitle(false)
                                                    .ValueExpr("Country")
                                                    .DisplayExpr("Country")
                                                    .Placeholder("select...")
                                                    .SearchPlaceholder("search")
                                                    .CancelButtonText("Cancel")
                                                    .ShowClearButton(true)
                                                    .ClearButtonText("Remove Sel.")
                            *@
                            @(Html.DevExtreme().TagBoxFor(m => m.countriesLink)
                                .ID("countriesLink")
                                .DataSource(Model.countries)
                                .DisplayExpr("Country")
                                .ValueExpr("Country")
                                .HideSelectedItems(true)
                                .SearchEnabled(true)
                                .Placeholder("select...")
                                .ShowClearButton(true)
                                .Value(Model.countriesLink)
                                .ShowSelectionControls(true)
                                .InputAttr("autocomplete", "true")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Customers</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().TagBoxFor(m => m.customersLink)
                                .ID("customersLink")
                                .DataSource(Model.customers)
                                .DisplayExpr("CompanyName")
                                .ValueExpr("CustomerCode")
                                .HideSelectedItems(true)
                                .SearchEnabled(true)
                                .Placeholder("select...")
                                .ShowClearButton(true)
                                .ShowSelectionControls(true)
                                .Value(Model.customersLink)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Commercial Entity</label>
                        <div class="col-md-9">
                            @*@(Html.DevExtreme().LookupFor(m => m.CommercialEntity)
                                                        .ID("CommercialEntity")
                                                        .DataSource(Model.CommercialEntities)
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("CommercialEntity")
                                                        .DisplayExpr("CommercialEntity")
                                                        .Placeholder("select...")
                                                        .SearchPlaceholder("search")
                                                        .CancelButtonText("Cancel")
                                                        .ShowClearButton(true)
                                                        .ClearButtonText("Remove Sel.")
                            )*@
                        @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesLink)
                                .ID("commercialEntitiesLink")
                                .DataSource(Model.CommercialEntities)
                                .DisplayExpr("CommercialEntity")
                                .ValueExpr("CommercialEntity")
                                .HideSelectedItems(true)
                                .SearchEnabled(true)
                                .Placeholder("select...")
                                .ShowClearButton(true)
                                .ShowSelectionControls(true)
                                .Value(Model.commercialEntitiesLink)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Region</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.Region)
                                                        .ID("Region")
                                                        .DataSource(Model.regions)
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("Region")
                                                        .DisplayExpr("Region")
                                                        .Placeholder("select...")
                                                        .SearchPlaceholder("search")
                                                        .CancelButtonText("Cancel")
                                                        .ShowClearButton(true)
                                                        .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Area</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.Area)
                                                        .ID("Area")
                                                        .DataSource(Model.areas)
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("Area")
                                                        .DisplayExpr("Area")
                                                        .Placeholder("select...")
                                                        .SearchPlaceholder("search")
                                                        .CancelButtonText("Cancel")
                                                        .ShowClearButton(true)
                                                        .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Department</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.DepartmentId)
                                                        .ID("DepartmentId")
                                                        .DataSource(Model.departments)
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("DepartmentId")
                                                        .DisplayExpr("Description")
                                                        .Placeholder("select...")
                                                        .CancelButtonText("Cancel")
                                                        .SearchPlaceholder("search")
                                                        .ShowClearButton(true)
                                                        .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">First Level Approver</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.UserApproval1)
                                                    .ID("UserApproval1")
                                                    .DataSource(Model.approvers)
                                                    .ShowPopupTitle(false)
                                                    .ValueExpr("userId")
                                                    .DisplayExpr("userName")
                                                    .Placeholder("select...")
                                                    .SearchPlaceholder("search")
                                                    .CancelButtonText("Cancel")
                                                    .ShowClearButton(true)
                                                    .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Second Level Approver</label>
                        <div class="col-md-9">
                            @(Html.DevExtreme().LookupFor(m => m.UserApproval2)
                                                    .ID("UserApproval2")
                                                    .DataSource(Model.approvers)
                                                    .ShowPopupTitle(false)
                                                    .ValueExpr("userId")
                                                    .DisplayExpr("userName")
                                                    .Placeholder("select...")
                                                    .SearchPlaceholder("search")
                                                    .CancelButtonText("Cancel")
                                                    .ShowClearButton(true)
                                                    .ClearButtonText("Remove Sel.")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty_row"></div>
    <div class="row">
        <div class="dx-field-value">
            @(Html.DevExtreme().Button()
                            .Icon("save")
                            .Hint("Save Changes")
                            .Text("Save")
                            .Type(ButtonType.Success)
                            .OnClick("doSave")
            )
        </div>
    </div>
</form>

