@model WebApp.Entity.UsersIndexDTO
@using WebApp.Classes

<div class="long-title"><h3>Users</h3></div>

<script type="text/javascript">
    function goEdit(id) {
        $("form").attr("action", "/Users/Edit/" + id);
        $("form").attr("method", "GET");
        $("form").submit();
        return false;
    }

    function goLock(id) {
        bootbox.confirm("Do you wish to change status?", function (result) {
            if (result) {
                $("form").attr("action", "/Users/ChangeStatus/" + id);
                $("form").attr("method", "GET");
                $("form").submit();
                return false;
            }
        });
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;

        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "export",
                hint: "Export to Excel",
                onClick: function () {
                    $("#grid-container").dxDataGrid("instance").exportToExcel();
                    return false;
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-info-circle",
                hint: "Function Documentation",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
                    $("#elenco").attr("target", "_blank");
                    $("#elenco").submit();
                    $("#elenco").attr("target", "");    // Ripristino Target
                    return false;
                }
            }
        });
    }

</script>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_UserRoles">
    @*<div class="container">*@
        <div class="row">
            <div class="col-md-12">
                <div style="margin-right: 10px;">
                    @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .DataSource(Model.users)
                                .Columns(c =>
                                {
                                    c.Add().DataField("userName").Width("13%").Caption("User Id");
                                    c.Add().DataField("fullName").Width("13%").Caption("Name");
                                    c.Add().DataField("userEmail").Width("13%");
                                    c.Add().DataField("Country").Width("15%")
                                                .CellTemplate(@<text>
                                                    <span style="white-space: pre-line"><%= value %></span>
                                                </text>);
                                    c.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width("15%")
                                                .CellTemplate(@<text>
                                                    <span style="white-space: pre-line"><%= value %></span>
                                                </text>);
                                    c.Add().DataField("ruoli").Caption("Roles").Width("25%")
                                                .CellTemplate(@<text>
                                                    <span style="white-space: pre-line"><%= value %></span>
                                                </text>);
                                    c.Add().DataField("locked").Width("8%")
                                                .Alignment(HorizontalAlignment.Center)
                                                .HeaderCellTemplate(@<text>Status</text>);
                                    c.Add().Alignment(HorizontalAlignment.Center)
                                                .Width(100)
                                                .DataField("userId")
                                                .AllowFiltering(false)
                                                .AllowSorting(false)
                                                .AllowEditing(false)
                                                .AllowExporting(false)
                                                .Caption("")
                                                .CellTemplate(@<div>
                                                    <a href="#" onclick="goEdit('<%= value %>');" class="dx-icon-edit" title="Edit"></a>
                                                    <a href="#" onclick="goLock('<%= value %>');" class="glyphicon glyphicon-lock" title="Change Status"></a>
                                                </div>);
                                })
                        .Export(e => e.Enabled(false).FileName("Users").AllowExportSelectedData(false))
                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                        .OnToolbarPreparing("toolbar_preparing")
                        .FilterRow(filterRow => filterRow
                                .Visible(true)
                                .ApplyFilter(GridApplyFilterMode.Auto))
                        .StateStoring(s => s.Enabled(true)
                                        .Type(StateStoringType.SessionStorage)
                                        .StorageKey("UserList"))
                )
                </div>
            </div>
        </div>
    @*</div>*@
}
<br />
