﻿@model WebApp.Entity.editClassificationDTO
@using WebApp.Classes;

@{
    string titleSave = (Model.TKClassificationId == 0) ? "Create New Classification" : "Save Changes";
    string rifItem = (Model.TKClassificationId == 0) ? "" : string.Format("id {0}", Model.TKClassificationId);
    int rifParentId = 0;
    if (Model.ParentId != null)
    {
        rifParentId = (int)Model.ParentId;
    }
    var radioGroupOpts = new[] { Lookup.Classification_RadioGroup.No.ToString(), Lookup.Classification_RadioGroup.Optional.ToString(), Lookup.Classification_RadioGroup.Mandatory.ToString()};
    var radioGroup2Opts = new[] { Lookup.Classification_RadioGroup.No.ToString(), Lookup.Classification_RadioGroup.Mandatory.ToString() };
    bool TKAddInfoId_Disabled = (Model.AddInfo == Lookup.Classification_RadioGroup.No);
    bool TKClosingInfoId_Disabled = (Model.ClosingInfo == Lookup.Classification_RadioGroup.No);

    bool bCanDeleteItem = Model.TKClassificationId > 0;
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }

    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .inputCode {
        /*font-weight: bold;*/
    }

    .inputTitle {
        font-weight: bold;
    }

    .inputRevision {
        font-weight: bold;
    }

    .labelEditClassification {
        font-style: italic;
    }
    .labelAttribClassification {
        font-style: italic;
        font-weight: bold;
    }
    .fieldEditClassification {
        margin-bottom: 15px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
            $('[id]').each(function (i) {
                //$('[id="prova"]').slice(1).remove();
            });
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.TKClassificationId = @Model.TKClassificationId;
        DTO.ConfigId = '@Model.ConfigId';
        DTO.ParentId = @rifParentId;
        DTO.Title = $("#TitleEditClassification").dxTextArea("instance").option('value');
        if ((DTO.Title || "") == "") {
            bootbox.alert("The Title field is required.");
            return false;
        }
        if (DTO.Title.length > 200) {
            bootbox.alert("The field Title must be a string with a maximum length of 200.");
            return false;
        }
        DTO.Code = $("#CodeEditClassification").dxTextBox("instance").option('value');
        if ((DTO.Code || "") != "") {
            if (DTO.Code.length > 20) {
                bootbox.alert("The field Code must be a string with a maximum length of 20.");
                return false;
            }
        }
        DTO.Reserved = $("#ReservedEditClassification").dxCheckBox("instance").option('value');
        DTO.NotifyAreaManager = $("#NotifyAreaManagerClassification").dxCheckBox("instance").option('value');

        DTO.Instrument = getRadioGroupValue("InstrumentEditClassification");
        DTO.OtherPlatform = getRadioGroupValue("OtherPlatformEditClassification");
        DTO.CodArt = getRadioGroupValue("CodArtEditClassification");
        DTO.ClaimLogFile = getRadioGroupValue("ClaimLogFileEditClassification");
        DTO.AddInfo = getRadioGroupValue("AddInfoEditClassification");
        DTO.TkAddInfoId = null;
        if (DTO.AddInfo != '@Lookup.Classification_RadioGroup.No.ToString()') {
            DTO.TkAddInfoId = $("#TKAddInfoId").dxSelectBox("instance").option("value");
            if (DTO.TkAddInfoId == null) {
                bootbox.alert("The @Model.ConfigModel.AdditionalInfo field is required.");
                return false;
            }
        }
        DTO.InfoContact = getRadioGroupValue("InfoContactEditClassification");
        DTO.ToDoList = getRadioGroupValue("ToDoListEditClassification");
        DTO.SupplierEngagement = getRadioGroupValue("SupplierEngagementEditClassification");
        DTO.CustomerSGAT = getRadioGroupValue("CustomerSGATEditClassification");
        DTO.LocationSGAT = getRadioGroupValue("LocationSGATEditClassification");
        DTO.Quantity = getRadioGroupValue("QuantityEditClassification");
        DTO.ClosingInfo = getRadioGroupValue("ClosingInfoEditClassification");
        DTO.TkClosingInfoId = null;
        if (DTO.ClosingInfo != '@Lookup.Classification_RadioGroup.No.ToString()') {
            DTO.TkClosingInfoId = $("#TKClosingInfoId").dxSelectBox("instance").option("value");
            if (DTO.TkClosingInfoId == null) {
                bootbox.alert("The @Model.ConfigModel.ClosingInfo field is required.");
                return false;
            }
        }

        $("#btnSaveClassification").dxButton("instance").option("disabled", true);
        $("#btnCloseEditClassification").dxButton("instance").option("disabled", true);
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateClassificationJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                $("#btnSaveClassification").dxButton("instance").option("disabled", false);
                $("#btnCloseEditClassification").dxButton("instance").option("disabled", false);
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
    }
    function getRadioGroupValue(id) {
        var radio = $("#" + id).dxRadioGroup("instance");
        if (typeof radio == 'undefined') {
            return '@Lookup.Classification_RadioGroup.No.ToString()';
        }
        return radio.option('value');
    }
    function AddInfoEditClassification_ValueChanged(e) {
        var disabled = (e.value == '@Lookup.Classification_RadioGroup.No.ToString()');
        $("#TKAddInfoId").dxSelectBox("instance").option("disabled", disabled);
    }
    function ClosingInfoEditClassification_ValueChanged(e) {
        var disabled = (e.value == '@Lookup.Classification_RadioGroup.No.ToString()');
        $("#TKClosingInfoId").dxSelectBox("instance").option("disabled", disabled);
    }
    function doDeleteItem() {
        var msg = "Do you wish to delete it ?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteClassification")',
                    data: { ClassificationId: @Model.TKClassificationId },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        window.parent.closeModal(true);
                    }
                }).always(function () {
                    //
                });
            }
        });
    }    
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row fieldEditClassification">
            <div class="col-md-12">
                <span class="labelEditClassification">Title</span>
                @(Html.DevExtreme().TextAreaFor(m => m.Title).ID("TitleEditClassification").InputAttr("autocomplete", "true").InputAttr("rows", "2").Height(50)
                                                                                                                                                    .InputAttr("maxLength", 200).InputAttr("class", "inputTitle"))
            </div>
        </div>
        <div class="row fieldEditClassification">
            <div class="col-md-4">
                <span class="labelEditClassification">Code</span>
                @(Html.DevExtreme().TextBoxFor(m => m.Code).ID("CodeEditClassification").InputAttr("maxLength", 20).InputAttr("class", "inputCode"))
            </div>
            <div class="col-md-4">
                <span class="labelEditClassification">Reserved (Support only)</span>
                <br />
                @(Html.DevExtreme().CheckBoxFor(m => m.Reserved).ID("ReservedEditClassification"))
            </div>
            <div class="col-md-4">
                <span class="labelEditClassification">Notify Area Manager (Root only)</span>
                <br />
                @(Html.DevExtreme().CheckBoxFor(m => m.NotifyAreaManager).ID("NotifyAreaManagerClassification"))
            </div>
        </div>
        <hr />
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.Instrument))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.Instrument)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("InstrumentEditClassification")
                                                                                    .Value(Model.Instrument.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.OtherPlatform))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.OtherPlatform)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("OtherPlatformEditClassification")
                                                                                        .Value(Model.OtherPlatform.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.Product))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.Product)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("CodArtEditClassification")
                                                                                .Value(Model.CodArt.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.ClaimLogFile))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.ClaimLogFile)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("ClaimLogFileEditClassification")
                                                                                    .Value(Model.ClaimLogFile.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.AdditionalInfo))
            {
                <div class="col-md-6 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.AdditionalInfo)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("AddInfoEditClassification").Value(Model.AddInfo.ToString())
                                                                                            .Layout(Orientation.Horizontal).OnValueChanged("AddInfoEditClassification_ValueChanged")
                    )
                </div>
                <div class="col-md-6 fieldEditClassification">
                    <span class="labelAttribClassification">&nbsp;</span>
                    @(Html.DevExtreme().SelectBox().ID("TKAddInfoId")
                                                                            .DataSource(d => d.WebApi().Controller("TKRegistry").LoadAction("GetAddInfoRoots")
                                                                            .LoadParams(new { configId = Model.ConfigId, groupId = Lookup.TKSupport_Config_GroupId_ADDINFO })
                                                                            .Key("TKAddInfoId"))
                                                                            .DisplayExpr("Title")
                                                                            .ValueExpr("TKAddInfoId")
                                                                            .Placeholder("select...")
                                                                            .ShowClearButton(true)
                                                                            .Value(Model.TKAddInfoId)
                                                                            .Disabled(@TKAddInfoId_Disabled)
                    )
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.Quantity))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.Quantity)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("QuantityEditClassification")
                                                                                    .Value(Model.Quantity.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.LocationSGAT))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.LocationSGAT)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("LocationSGATEditClassification")
                                                                                    .Value(Model.LocationSGAT.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.CustomerSGAT))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.CustomerSGAT)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("CustomerSGATEditClassification")
                                                                                    .Value(Model.CustomerSGAT.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.InfoContact))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.InfoContact)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("InfoContactEditClassification")
                                                                                    .Value(Model.InfoContact.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
        </div>
        <hr />
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.SupplierEngagement))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.SupplierEngagement)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroup2Opts).ID("SupplierEngagementEditClassification")
                                                                            .Value(Model.SupplierEngagement.ToString()).Layout(Orientation.Horizontal))
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.ToDoList))
            {
                <div class="col-md-12 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.ToDoList)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroup2Opts).ID("ToDoListEditClassification").Value(Model.ToDoList.ToString())
                                                                                            .Layout(Orientation.Horizontal)
                    )
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ConfigModel.ClosingInfo))
            {
                <div class="col-md-6 fieldEditClassification">
                    <span class="labelAttribClassification">@Html.Raw(Model.ConfigModel.ClosingInfo)</span>
                    @(Html.DevExtreme().RadioGroup().Items(radioGroupOpts).ID("ClosingInfoEditClassification").Value(Model.ClosingInfo.ToString())
                                                                                                                    .Layout(Orientation.Horizontal)
                                                                                                                    .OnValueChanged("ClosingInfoEditClassification_ValueChanged")
                    )
                </div>
                <div class="col-md-6 fieldEditClassification">
                    <span class="labelAttribClassification">&nbsp;</span>
                    @(Html.DevExtreme().SelectBox().ID("TKClosingInfoId")
                                                                        .DataSource(d => d.WebApi().Controller("TKRegistry").LoadAction("GetClosingInfoRoots")
                                                                        .LoadParams(new { configId = Model.ConfigId })
                                                                        .Key("TKClosingInfoId"))
                                                                        .DisplayExpr("Title")
                                                                        .ValueExpr("TKClosingInfoId")
                                                                        .Placeholder("select...")
                                                                        .ShowClearButton(true)
                                                                        .Value(Model.TKClosingInfoId)
                                                                        .Disabled(@TKClosingInfoId_Disabled)
                    )
                </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5">
                @Html.DevExtreme().Button().Icon("trash").Text("Delete").OnClick("doDeleteItem").Type(ButtonType.Danger).Visible(bCanDeleteItem)
            </div>
            <div class="col-md-2 text-right"><span class="small">@rifItem</span></div>
            <div class="col-md-5">
                <div class="pull-right">
                    @(Html.DevExtreme().Button().Text(titleSave).OnClick("doSave").Type(ButtonType.Success).ID("btnSaveClassification"))
                    @(Html.DevExtreme().Button().Text("Close").OnClick("doClose").ID("btnCloseEditClassification"))
                </div>
            </div>
        </div>
</form>