﻿@model WebApp.Entity.TKAddInfo

@{
    string titleSave = (Model.TKAddInfoId == 0) ? "Create New Element" : "Save Changes";
    string rifItem = (Model.TKAddInfoId == 0) ? "" : string.Format("id {0}", Model.TKAddInfoId);
    int rifParentId = 0;
    if (Model.ParentId != null)
    {
        rifParentId = (int)Model.ParentId;
    }
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }
    .rowFieldsAddInfo {
        margin-bottom: 15px !important;
    }
    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .inputCode {
        /*font-weight: bold;*/
    }
    .inputTitle {
        font-weight: bold;
    }
    .inputRevision {
        font-weight: bold;
    }
    .labelEditAddInfo {
        font-style: italic;
    }
</style>

<script type="text/javascript">
    var jsColors = [
        'Black', 'Blue', 'Brown',
        'Cyan', 'DarkBlue', 'Gray', 'Green',
        'LightBlue', 'Lime', 'Magenta', 'Maroon',
        'Olive', 'Orange', 'Pink', 'Purple',
        'Red', 'Silver', 'White', 'Yellow', 'Aquamarine'
    ];
    var jsCurrentColors = [];
    if ('@Html.Raw(Model.Color)' != '') jsCurrentColors = JSON.parse('@Html.Raw(Model.Color)');


    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.TKAddInfoId = @Model.TKAddInfoId;
        DTO.ParentId = @rifParentId;
        DTO.ConfigId = '@Model.ConfigId';
        DTO.GroupId = '@Model.GroupId';
        DTO.Title = $("#TitleEditAddInfo").dxTextArea("instance").option('value');
        if ((DTO.Title || "") == "") {
            bootbox.alert("The Title field is required.");
            return false;
        }
        if (DTO.Title.length > 200) {
            bootbox.alert("The field Title must be a string with a maximum length of 200.");
            return false;
        }
        DTO.Code = $("#CodeEditAddInfo").dxTextBox("instance").option('value');
        if ((DTO.Code || "") != "") {
            if (DTO.Code.length > 20) {
                bootbox.alert("The field Code must be a string with a maximum length of 20.");
                return false;
            }
        }
        DTO.Color = JSON.stringify($("#ColorEditAddInfo").dxTagBox("instance").option('value'));

        $("#btnSaveAddInfo").dxButton("instance").option("disabled", true);
        $("#btnCloseEditAddInfo").dxButton("instance").option("disabled", true);
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateAddInfoJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                $("#btnSaveAddInfo").dxButton("instance").option("disabled", false);
                $("#btnCloseEditAddInfo").dxButton("instance").option("disabled", false);
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
    }
    function ColorEditAddInfoTemplate(data, index, element) {
        var $item = "<div ><span class='fa fa-square' style='color: " + data + ";'/>&nbsp;" + data +  "</div>";

        element.append($item);
    }
    function ColorEditAddInfoTagTemplate(data) {
        //return "<div /><span class='fa fa-square' style='color: " + data + ";'/>&nbsp;" + data;
        return $("<div />")
            .addClass("dx-tag-content")
            .append(
                $("<span class='fa fa-square' style='color: " + data + ";'/>"),
                $("<span style='margin-left: 10px'/>").text(data),
                $("<div />").addClass("dx-tag-remove-button")
            );
    }
    
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="labelEditAddInfo">Title</span>
                @(Html.DevExtreme().TextAreaFor(m => m.Title).ID("TitleEditAddInfo").InputAttr("autocomplete", "true").InputAttr("rows", "2").Height(80)
                                                                                    .InputAttr("maxLength", 200).InputAttr("class", "inputTitle"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="labelEditAddInfo">Code</span>
                @(Html.DevExtreme().TextBoxFor(m => m.Code).ID("CodeEditAddInfo").InputAttr("maxLength", 20).InputAttr("class", "inputCode"))
            </div>
            <div class="col-md-6">
                <span class="labelEditAddInfo">Color</span>
                @(Html.DevExtreme().TagBox().ID("ColorEditAddInfo").DataSource(new JS("jsColors")).Value(new JS("jsCurrentColors"))
                    .ItemTemplate(new JS("ColorEditAddInfoTemplate")).TagTemplate(new JS("ColorEditAddInfoTagTemplate")))
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2 text-right"><span class="small">@rifItem</span></div>
        <div class="col-md-10">
            <div class="pull-right">
                @(Html.DevExtreme().Button().Text(titleSave).OnClick("doSave").Type(ButtonType.Success).ID("btnSaveAddInfo"))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose").ID("btnCloseEditAddInfo"))
            </div>
        </div>
    </div>
</form>