﻿@model WebApp.Entity.TKClosingInfo

@{
    string titleSave = (Model.TKClosingInfoId == 0) ? "Create New Element" : "Save Changes";
    string rifItem = (Model.TKClosingInfoId == 0) ? "" : string.Format("id {0}", Model.TKClosingInfoId);
    int rifParentId = 0;
    if (Model.ParentId != null)
    {
        rifParentId = (int)Model.ParentId;
    }
}

<style type="text/css">
    div.modal {
        padding-top: 0px;
    }
    .rowFieldsClosingInfo {
        margin-bottom: 15px !important;
    }
    #simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }

    .inputCode {
        /*font-weight: bold;*/
    }
    .inputTitle {
        font-weight: bold;
    }
    .inputRevision {
        font-weight: bold;
    }
    .labelEditClosingInfo {
        font-style: italic;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });

    function doClose() {
        window.parent.closeModal(false);
    }

    function doSave() {
        var DTO = new Object();
        DTO.TKClosingInfoId = @Model.TKClosingInfoId;
        DTO.ParentId = @rifParentId;
        DTO.ConfigId = '@Model.ConfigId';
        DTO.Title = $("#TitleEditClosingInfo").dxTextArea("instance").option('value');
        if ((DTO.Title || "") == "") {
            bootbox.alert("The Title field is required.");
            return false;
        }
        if (DTO.Title.length > 200) {
            bootbox.alert("The field Title must be a string with a maximum length of 200.");
            return false;
        }
        DTO.Code = $("#CodeEditClosingInfo").dxTextBox("instance").option('value');
        if ((DTO.Code || "") != "") {
            if (DTO.Code.length > 20) {
                bootbox.alert("The field Code must be a string with a maximum length of 20.");
                return false;
            }
        }
        $("#btnSaveClosingInfo").dxButton("instance").option("disabled", true);
        $("#btnCloseEditClosingInfo").dxButton("instance").option("disabled", true);
        var dataToSend = JSON.stringify(DTO);
        $.ajax({
            url: '@Url.Action("UpdateClosingInfoJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                $("#btnSaveClosingInfo").dxButton("instance").option("disabled", false);
                $("#btnCloseEditClosingInfo").dxButton("instance").option("disabled", false);
            },
            success: function (data) {
                DevExpress.ui.notify("Operation successful.");
                window.parent.closeModal(true);
            }
        }).always(function (data) {
            //
        });
    }
</script>

<form>
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="labelEditClosingInfo">Title</span>
                @(Html.DevExtreme().TextAreaFor(m => m.Title).ID("TitleEditClosingInfo").InputAttr("autocomplete", "true").InputAttr("rows", "2").Height(80)
                                                                                    .InputAttr("maxLength", 200).InputAttr("class", "inputTitle"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="labelEditClosingInfo">Code</span>
                @(Html.DevExtreme().TextBoxFor(m => m.Code).ID("CodeEditClosingInfo").InputAttr("maxLength", 20).InputAttr("class", "inputCode"))
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2 text-right"><span class="small">@rifItem</span></div>
        <div class="col-md-10">
            <div class="pull-right">
                @(Html.DevExtreme().Button().Text(titleSave).OnClick("doSave").Type(ButtonType.Success).ID("btnSaveClosingInfo"))
                @(Html.DevExtreme().Button().Text("Close").OnClick("doClose").ID("btnCloseEditClosingInfo"))
            </div>
        </div>
    </div>
</form>