@model WebApp.Entity.IndexClassificationDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = string.Format("Index Requests Classification - {0}", Model.ConfigModel.Description);
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    #toolbar {
        margin-bottom: 5px;
    }

    .dx-scrollable {
        border: 1px gray solid !important;
    }

    .cfgTitoloArea {
        background-color: dodgerblue;
        font-size: medium;
        color: white;
        font-weight: bold;
        padding: 3px;
    }

    .cfgTitolo {
        font-size: medium;
    }

    .cmdEdit {
        font-size: 16px;
    }

    /*.modal-xlg {
        width: 80%;
    }*/
    .configuration {
        background-color: gray;
        color: white;
        font-size: large;
        padding: 3px !important;
    }
</style>
<script type="text/javascript">

    var selClassificationId = 0;
    var bExpandedAll = false;
    //var selConfigId = "";

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
                //
        });
    });
    function getTreeInstance() {
        return $("#treeList").dxTreeList("instance");
    }
    function getTreeListSelectedNode(bRootSelectable) {
        var tree = getTreeInstance();
        var selectedKeys = tree.getSelectedRowKeys("all");
        if (selectedKeys.length == 0) {
            bootbox.alert("Select a Classification");
            return null;
        }
        var selectedNode = tree.getNodeByKey(selectedKeys[0]);
        if (!selectedNode) {
            bootbox.alert("Select a Classification");
            return null;
        }
        if (bRootSelectable == false && selectedNode.data.TKClassificationId < 0) {
            bootbox.alert("Operation not available for selected Classification.");
            return null;
        }
        return selectedNode.data;
    }
    function treeListRowClick(e) {
        e.component.selectedItem = e.data;
        var item = e.data;
        selClassificationId = 0;
        if (item.TKClassificationId > 0) {
            selClassificationId = item.TKClassificationId;
        }
    }
    function newClassification_click() {
        var ParentId = 0;
        var selectedNode = getTreeListSelectedNode(true);
        if (!selectedNode) return false;
        ParentId = selectedNode.TKClassificationId;
        $('#DettaglioContent').load('@(Url.Action("EditClassification"))?ClassificationId=0&ParentId=' + ParentId + '&ConfigId=@Model.ConfigModel.ID', function () {
            $("#titolo_dettaglio").html("Create New Classification - <span class='configuration'>@Model.ConfigModel.Description</span><br/>Parent: <b>" + selectedNode.TitleFull + "</b>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
    }
    //function configClassification_changed(e) {
    //    var tree = getTreeInstance();
    //    var selectedItem = e.component.option('selectedItem');
    //    selConfigId = selectedItem.ID;
    //    setTreeColumnOption(tree, "InstrumentDeco", selectedItem.Instrument);
    //    setTreeColumnOption(tree, "OtherPlatformDeco", selectedItem.OtherPlatform);
    //    setTreeColumnOption(tree, "CodArtDeco", selectedItem.Product);
    //    setTreeColumnOption(tree, "ClaimLogFileDeco", selectedItem.ClaimLogFile);
    //    setTreeColumnOption(tree, "AddInfoDeco", selectedItem.AdditionalInfo);
    //    setTreeColumnOption(tree, "ClosingInfoDeco", selectedItem.ClosingInfo);
    //    refreshTreeList();
    //}
    //function setTreeColumnOption(tree, colId, caption) {
    //    tree.columnOption(colId, "visible", false);
    //    if ((caption || '') != '') {
    //        tree.columnOption(colId, "visible", true);
    //        tree.columnOption(colId, "caption", caption);
    //        tree.columnOption(colId, "headerCellTemplate", caption.replace(" ", "<br/>"));
    //    }
    //}

    // Function per gestione il refresh del TREEView
    //var myExpanded = [];
    function refreshTreeList() {
        var tree = getTreeInstance();
        tree.getDataSource().reload().done(function (result) {
            //console.log("TODO - refresh Tree List");
        });
    }
    function expandAll_click(e) {
        var tree = getTreeInstance();
        bExpandedAll = !bExpandedAll;
        tree.forEachNode(function (node) {
            if (bExpandedAll) {
                tree.expandRow(node.key);
            } else {
                tree.collapseRow(node.key);
            }
        });
        tree.expandRow(-1);
    }

    // Move Classification
    var jsTargetClassificationId = 0;

    function moveClassification_click(e) {
        var selectedNode = getTreeListSelectedNode(false);
        if (!selectedNode) return false;

        selClassificationId = selectedNode.TKClassificationId;

        jsTargetClassificationId = 0;

        var treeview = $("#target-treeview").dxTreeView("instance");
        treeview.getDataSource().reload();

        $("#titolo_moveDettaglio").html("Move Classification <b>'" + selectedNode.TitleFull + "'</b>");
        $('#MoveDettaglio').modal('show');
    }
    function propagateClassification_click(e) {
        var selectedNode = getTreeListSelectedNode(false);
        if (!selectedNode) return false;

        var msg = "Do you  want to apply this configuration to all sub elements?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ApplyConfiguration")',
                    data: { ClassificationId: selectedNode.TKClassificationId },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        selClassificationId = 0;
                        refreshTreeList();
                    }
                });
            }
        });
    }
    function TargetTreeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        jsTargetClassificationId = e.itemData.TKClassificationId;
    }
    function doCloseTarget() {
        //window.parent.closeModal(false);
        $('#MoveDettaglio').modal('hide');
    }
    function doMoveTargetClassification() {
        if (!jsTargetClassificationId) {
            bootbox.alert("Select a Classification");
            return false;
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("MoveClassification")',
            data: { ClassificationId: selClassificationId, TargetParentId: jsTargetClassificationId },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                window.parent.closeModal(true);
            }
        });
    }
    function closeModal(bReload) {
        $('#Dettaglio').modal('hide');
        $('#DettaglioContent').html("");
        $("#titolo_dettaglio").html("");
        $('#MoveDettaglio').modal('hide');
        if ((bReload || false)) {
            //if (selClassificationId > 0) {
                //var selectedItem = getTreeListSelectedNode(true);
                //if (selectedItem) {
                //    $("#treeview").dxTreeView("expandItem", selectedItem);
                //}
            //}
            refreshTreeList();
            DevExpress.ui.notify("Operation successful.");
        }
        selClassificationId = 0;
    };
    function openExport_click(e) {
        $("#gestione").attr("action", '@Url.Action("ExportClassification")/@Model.ConfigModel.ID');
        $("#gestione").submit();
        return false;

    }
    function goEdit(id) {
        var selClassificationId = id;
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("EditClassification"))?ClassificationId=' + id, function () {
            $("#titolo_dettaglio").html("Edit Classification - <span class='configuration'>@Model.ConfigModel.Description</span>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
</script>


<div id="main">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "gestione" }))
{
    @Html.AntiForgeryToken()
    <div class="empty_row"></div>

    <div class="container">
        @*<div class="col-md-1 hidden-xs">&nbsp;</div>*@
        <div class="col-md-12" id="toolbar">
            <div class="row" style="margin-bottom: 5px;">
                @(Html.DevExtreme().Toolbar()
                        .Items(items =>
                        {
                            items.Add().Widget(w => w.Button().Icon("expand").OnClick("expandAll_click")).Location(ToolbarItemLocation.Before);
                            //items.Add().Widget(w => w.SelectBox().DataSource(Model.configItems).OnValueChanged("configClassification_changed")
                            //                            .Option("width", "250").Option("displayExpr", "Description").Option("valueExpr", "ID")
                            //                            //.Option("value", Lookup.TKSupport_Config_STD)
                            //                            .Placeholder("Select Request Type")).Location(ToolbarItemLocation.Before);
                            items.Add().Widget(w => w.Button().Icon("plus").Hint("Add Classification").OnClick("newClassification_click")).Location(ToolbarItemLocation.Before);
                            items.Add().Widget(w => w.Button().Icon("movetofolder").Hint("Move Classification").OnClick("moveClassification_click")).Location(ToolbarItemLocation.Before);
                            items.Add().Widget(w => w.Button().Icon("hierarchy").Hint("Propagate Configuration").OnClick("propagateClassification_click")).Location(ToolbarItemLocation.Before);
                            items.Add().Widget(w => w.Button().Icon("export").OnClick("openExport_click")).Location(ToolbarItemLocation.After);
                        })
                )
            </div>
            @*<div class="empty_row">&nbsp;</div>*@
            <div class="row">
                <div class="panel-tree">
                    <div id="divClassifications">
                        @(Html.DevExtreme().TreeList()
                                    .ID("treeList")
                                    .DataSource(d => d.Mvc().LoadAction("GetClassifications")
                                            .LoadParams(new
                                            {
                                                excludeClassificationId = new JS("function() { return selClassificationId; }"),
                                                configId = Model.ConfigModel.ID,
                                                bExpandAll = true
                                            })
                                        )
                                    //.RootValue(-1)
                                    .KeyExpr("TKClassificationId")
                                    .ParentIdExpr("ParentId")
                                    .Height(600)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("Title").Caption("Title").Width("400")
                                                                                .CellTemplate(@<text>
                                                                                    <div>
                                                                                        <% if ( data.Reserved == true ) { %>
                                                                                        <i class="<%- data.icon %>" style="font-size: 16px; color: red;"></i>
                                                                                        <% } else { %>
                                                                                        <i class="<%- data.icon %>" style="font-size: 16px;"></i>
                                                                                        <% } %>
                                                                                        <% if ( data.ParentId <= 0 && data.TKClassificationId > 0 ) { %>
                                                                                        <spam class="cfgTitoloArea"><%- data.TitleFull %></spam>
                                                                                        <% } else { %>
                                                                                        <spam class="cfgTitolo"><%- data.TitleFull %></spam>
                                                                                        <% } %>
                                                                                    </div>
                                                                                </text>);
                                        columns.Add().DataField("ReservedDeco").HeaderCellTemplate("Reserved<br/>Support only").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("NotifyAreaManagerDeco").HeaderCellTemplate("Notify<br/>Area Manager").Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("InstrumentDeco").Caption(Model.ConfigModel.Instrument)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.Instrument))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Instrument))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("OtherPlatformDeco").Caption(Model.ConfigModel.OtherPlatform)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.OtherPlatform))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.OtherPlatform))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("CodArtDeco").Caption(Model.ConfigModel.Product)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.Product))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Product))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("ClaimLogFileDeco").Caption(Model.ConfigModel.ClaimLogFile)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.ClaimLogFile))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.ClaimLogFile))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("AddInfoDeco").Caption(Model.ConfigModel.AdditionalInfo)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.AdditionalInfo))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel
                                                                                .AdditionalInfo)).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("InfoContactDeco").Caption(Model.ConfigModel.InfoContact)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.InfoContact))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.InfoContact))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("ToDoListDeco").Caption(Model.ConfigModel.ToDoList)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.ToDoList))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.ToDoList))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("SupplierEngagementDeco").Caption(Model.ConfigModel.SupplierEngagement)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.SupplierEngagement))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.SupplierEngagement))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("CustomerSGATDeco").Caption(Model.ConfigModel.CustomerSGAT)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.CustomerSGAT))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.CustomerSGAT))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("LocationSGATDeco").Caption(Model.ConfigModel.LocationSGAT)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.LocationSGAT))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.LocationSGAT))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("QuantityDeco").Caption(Model.ConfigModel.Quantity)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.Quantity))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.Quantity))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("ClosingInfoDeco").Caption(Model.ConfigModel.ClosingInfo)
                                                                                .HeaderCellTemplate(Model.ConfigModel.Header(Model.ConfigModel.ClosingInfo))
                                                                                .Visible(!string.IsNullOrWhiteSpace(Model.ConfigModel.ClosingInfo))
                                                                                .Alignment(HorizontalAlignment.Center);
                                        columns.Add()
                                                .Alignment(HorizontalAlignment.Center)
                                                .Width("6%")
                                                .Fixed(true)
                                                .FixedPosition(HorizontalEdge.Right)
                                                .AllowFiltering(false)
                                                .AllowSorting(false)
                                                .AllowEditing(false)
                                                .Caption("")
                                                .CellTemplate(@<div>
                                                                <% if (data.TKClassificationId >= 0) { %>
                                                                <a href="#" onclick="goEdit('<%= data.TKClassificationId %>');" class="glyphicon glyphicon-edit cmdEdit" title="Edit"></a>&nbsp;
                                                                <% } %>
                                                            </div>);
                                    })
                                    .ShowRowLines(true)
                                    .ShowBorders(true)
                                    .ColumnAutoWidth(true)
                                    .ExpandedRowKeys(new[] { 1 })
                                    .Sorting(sort => sort.Mode(GridSortingMode.None))
                                    .Selection(s => s.Mode(SelectionMode.Single))
                                    .FilterRow(filterRow => filterRow.Visible(true))
                                    .AllowColumnResizing(true)
                                    .ColumnResizingMode(ColumnResizingMode.Widget)
                                    //.AutoExpandAll(true)
                                    .OnRowClick("treeListRowClick")
                                    .ExpandedRowKeys(new[] { -1 })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Dettaglio -->
<div class="modal fade" id="Dettaglio" role="dialog" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="titolo_dettaglio"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='DettaglioContent'></div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="MoveDettaglio" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="titolo_moveDettaglio"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='MoveClassificationContent'>
                    <div class="row" style="padding: 10px;">
                        @(Html.DevExtreme().TreeView()
                                        .ID("target-treeview")
                                        .DataSource(d => d.Mvc().LoadAction("GetClassifications")
                                                .LoadParams(new
                                                {
                                                    excludeClassificationId = new JS("function() { return selClassificationId; }"),
                                                    configId = Model.ConfigModel.ID,
                                                    bExpandAll = true
                                                })
                                            )
                                        .DataStructure(TreeViewDataStructure.Plain)
                                        .ParentIdExpr("ParentId")
                                        .KeyExpr("TKClassificationId")
                                        .DisplayExpr("TitleFull")
                                        .ExpandedExpr("Expanded")
                                        .Width("100%")
                                        .Height(500)
                                        .SelectByClick(true)
                                        .SelectionMode(NavSelectionMode.Single)
                                        .SearchEnabled(true)
                                        .FocusStateEnabled(true)
                                        .OnItemClick("TargetTreeViewItemClick")
                                        .ItemTemplate(@<text>
                                            <div>
                                                <% if ( Reserved == true ) { %>
                                                <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                                                <% } else { %>
                                                <i class="<%- icon %>" style="font-size: 16px;"></i>
                                                <% } %>
                                                <%- TitleFull %>
                                            </div>
                                        </text>)
                        )
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-11">
                            <div class="pull-right">
                                @(Html.DevExtreme().Button().Text("Move Classification").OnClick("doMoveTargetClassification").Type(ButtonType.Success))
                                @(Html.DevExtreme().Button().Text("Close").OnClick("doCloseTarget"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
