@model WebApp.Entity.IndexClosingInfoDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = string.Format("Index Closing Information - {0}", Model.ConfigModel.Description);
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    #toolbar {
        margin-bottom: 5px;
    }

    /*#simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }*/

    .dx-scrollable {
        border: 1px gray solid !important;
    }

    .cfgTitolo {
        background-color: dodgerblue;
        font-size: medium;
        color: white;
        font-weight: bold;
        padding: 3px;
    }
</style>
<script type="text/javascript">

    var selClosingInfoId = 0;
    var bExpandedAll = false;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
                //
        });
    });
    function getTreeInstance() {
        return $("#treeview").dxTreeView("instance");
    }
    function getTreeViewSelectedItem(bRootSelectable) {
        var tree = getTreeInstance();
        var selectedItem = tree.selectedItem;
        if (!selectedItem) {
            bootbox.alert("Select a ClosingInfo");
            return null;
        }
        if (bRootSelectable == false && selectedItem.TKClosingInfoId < 0) {
            bootbox.alert("Operation not available for selected ClosingInfo.");
            return null;
        }
        return selectedItem;
    }
    function treeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        var item = e.itemData;
        selClosingInfoId = 0;
        if (item.TKClosingInfoId > 0) {
            selClosingInfoId = item.TKClosingInfoId;
        }
        var bMostraAdd = true;
        if ((item.ParentId || -1) != -1) {
            bMostraAdd = false;
        }
        //console.log(bMostraAdd);
    }
    function removeClosingInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;
        var msg = "Do you wish to delete '<b>" + selectedItem.TitleFull + "</b>' ClosingInfo ? ";
        bootbox.confirm(msg, function (result) {
            if ((result || "") != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteClosingInfo")',
                    data: { ClosingInfoId: selectedItem.TKClosingInfoId },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                    }
                }).always(function () {
                    refreshTreeView();
                });
            }
        });
    }
    function newClosingInfo_click() {
        var tree = getTreeInstance();
        var selectedItem = tree.selectedItem;
        if (!selectedItem) {
            bootbox.alert("Select an element");
            return false;
        }
        var ParentId = selectedItem.TKClosingInfoId;
        var ParentTitle = selectedItem.Title;

        // Gli elenchi di CLOSING INFO sono ad 1 solo livello !!!
        if ((selectedItem.ParentId || -1) != -1) {
            bootbox.alert("Operation not available for selected ClosingInfo.");
            return false;
        }

        $('#DettaglioContent').load('@(Url.Action("EditClosingInfo"))?ClosingInfoId=0&ParentId=' + ParentId + '&ConfigId=@Model.ConfigModel.ID', function () {
            //$("#titolo_dettaglio").html("Create New ClosingInfo");
            $("#titolo_dettaglio").html("Create New ClosingInfo- <span class='configuration'>@Model.ConfigModel.Description</span><br/>Parent: <b>" + ParentTitle + "</b>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
    }
    function editClosingInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;

        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("EditClosingInfo"))?ClosingInfoId=' + selectedItem.TKClosingInfoId , function () {
            $("#titolo_dettaglio").html("Edit ClosingInfo - <span class='configuration'>@Model.ConfigModel.Description</span>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }

    // Function per gestione il refresh del TREEView
    var myExpanded = [];
    function refreshTreeView() {
        var tree = getTreeInstance();
        myExpanded = [];
        if (tree.getNodes()[0]) {
            readExpandedItems(tree.getNodes()[0]);
        }
        tree.getDataSource().reload().done(function (result) {
            for (var i = 0; i < myExpanded.length; i++) {
                $("#treeview").dxTreeView("expandItem", myExpanded[i]);
            }
        });
    }
    function readExpandedItems(item) {
        if (item.expanded)
            myExpanded.push(item.key);
        if (item.children.length > 0) {
            item.children.forEach(function (child) {
                readExpandedItems(child);
            });
        }
    }
    function expandAll_click(e) {
        var tree = getTreeInstance();
        bExpandedAll = !bExpandedAll;
        if (bExpandedAll) {
            tree.expandAll();
        } else {
            tree.collapseAll();
            tree.expandItem(-1);
        }
    }

    function closeModal(bReload) {
        $('#Dettaglio').modal('hide');
        $('#DettaglioContent').html("");
        $("#titolo_dettaglio").html("");
        if ((bReload || false)) {
            var selectedItem = getTreeViewSelectedItem(true);
            if (selectedItem) {
                $("#treeview").dxTreeView("expandItem", selectedItem);
            }
            refreshTreeView();
            DevExpress.ui.notify("Operation successful.");
        }
    };
    function openExport_click(e) {
        $("#gestione").attr("action", '@Url.Action("ExportClosingInfo")/@Model.ConfigModel.ID');
        $("#gestione").submit();
        return false;

    }
</script>


<div id="main">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "gestione" }))
{
    @Html.AntiForgeryToken()
    <div class="empty_row"></div>

    <div class="container">
        <div class="col-md-1 hidden-xs">&nbsp;</div>
        <div class="col-md-10" id="toolbar">
            <div class="row" style="margin-bottom: 5px;">
                @(Html.DevExtreme().Toolbar()
                                        .Items(items =>
                                        {
                                            items.Add().Widget(w => w.Button().Icon("expand").OnClick("expandAll_click")).Location(ToolbarItemLocation.Before);
                                            items.Add().Widget(w => w.Button().Icon("plus").Hint("Add ClosingInfo").OnClick("newClosingInfo_click")).Location(ToolbarItemLocation.Before);
                                            items.Add().Widget(w => w.Button().Icon("edit").Hint("Edit ClosingInfo").OnClick("editClosingInfo_click")).Location(ToolbarItemLocation.Before);
                                            items.Add().Widget(w => w.Button().Icon("trash").Hint("Remove ClosingInfo").OnClick("removeClosingInfo_click")).Location(ToolbarItemLocation.Before);
                                            items.Add().Widget(w => w.Button().Icon("export").OnClick("openExport_click")).Location(ToolbarItemLocation.After);
                                        })
                )
            </div>
            @*<div class="empty_row">&nbsp;</div>*@
            <div class="row">
                <div class="panel-tree">
                    <div id="divClosingInfos">
                        @(Html.DevExtreme().TreeView()
                                .ID("treeview")
                                .DataSource(d => d.Mvc().LoadAction("GetAllClosingInfos")
                                .LoadParams(new
                                                {
                                                    configId = Model.ConfigModel.ID
                                                })
                                            )
                                .DataStructure(TreeViewDataStructure.Plain)
                                .ParentIdExpr("ParentId")
                                .KeyExpr("TKClosingInfoId")
                                .DisplayExpr("TitleFull")
                                .ExpandedExpr("Expanded")
                                .Width("100%")
                                .Height(600)
                                .SearchEnabled(true)
                                .SelectByClick(true)
                                .SelectionMode(NavSelectionMode.Single)
                                .FocusStateEnabled(true)
                                .OnItemClick("treeViewItemClick")
                                .ItemTemplate(@<text>
                                    <div>
                                        <i class="<%- icon %>" style="font-size: 16px;"></i>
                                        <% if ( ParentId <= 0 && TKClosingInfoId > 0 ) { %>
                                        <span class="cfgTitolo"><%- TitleFull %></span>
                                        <% } else { %>
                                        <%- TitleFull %>
                                        <% } %>
                                    </div>
                                </text>)
                        )
                    </div>
                </div>
            </div>
        </div>
        @*<div id="detail" class="col-md-6">
                <br />
                <br />
                <br />
                DETTAGLI
            </div>*@
    </div>
}

<!-- Dettaglio -->
<div class="modal fade" id="Dettaglio" role="dialog" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="titolo_dettaglio"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='DettaglioContent'></div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}