@model WebApp.Entity.IndexAddInfoDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = string.Format("Index {0} [ {1} ]", Model.Title, Model.ConfigModel.Description);
    string titolo = ViewData["Title"].ToString();
    bool showMoveTo = Model.GroupId.Equals(Lookup.TKSupport_Config_GroupId_ADDINFO);
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    #toolbar {
        margin-bottom: 5px;
    }

    /*#simple-treeview .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
        background-color: #337ab7;
        color: white;
    }*/

    .dx-scrollable {
        border: 1px gray solid !important;
    }

    .cfgTitolo {
        background-color: dodgerblue;
        font-size: medium;
        color: white;
        font-weight: bold;
        padding: 3px;
    }

    .configuration {
        background-color: gray;
        color: white;
        font-size: large;
        padding: 3px !important;
    }

</style>
<script type="text/javascript">

    var selAddInfoId = 0;
    var bExpandedAll = false;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
                //
        });
    });
    function getTreeInstance() {
        return $("#treeview").dxTreeView("instance");
    }
    function getTreeViewSelectedItem(bRootSelectable) {
        var tree = getTreeInstance();
        var selectedItem = tree.selectedItem;
        if (!selectedItem) {
            bootbox.alert("Select an item");
            return null;
        }
        if (bRootSelectable == false && selectedItem.TKAddInfoId < 0) {
            bootbox.alert("Operation not available for selected item.");
            return null;
        }
        return selectedItem;
    }
    function treeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        var item = e.itemData;
        selAddInfoId = 0;
        if (item.TKAddInfoId > 0) {
            selAddInfoId = item.TKAddInfoId;
        }
    }
    function removeAddInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;
        var msg = "Do you wish to delete '<b>" + selectedItem.TitleFull + "</b>' item ? ";
        bootbox.confirm(msg, function (result) {
            if ((result || "") != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteAddInfo")',
                    data: { AddInfoId: selectedItem.TKAddInfoId },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                    }
                }).always(function () {
                    refreshTreeView();
                });
            }
        });
    }
    function newAddInfo_click() {
        var tree = getTreeInstance();
        var selectedItem = tree.selectedItem;
        if (!selectedItem) {
            bootbox.alert("Select an element");
            return false;
        }
        // per ADDINFO si possono inserire quanti livelli si vogliono; per gli altro solo 2 
        if ('@Model.GroupId' != '@Lookup.TKSupport_Config_GroupId_ADDINFO') {
            if (selectedItem.ParentId != null && selectedItem.ParentId != -1) {
                bootbox.alert("It is possible to insert only 2 levels!");
                return false;
            }
        }

        var ParentId = selectedItem.TKAddInfoId;
        var ParentTitle = selectedItem.Title;
        $('#DettaglioContent').load('@(Url.Action("EditAddInfo"))?AddInfoId=0&ParentId=' + ParentId + '&ConfigId=@Model.ConfigModel.ID' + '&GroupId=@Model.GroupId', function () {
            $("#titolo_dettaglio").html("Create New Item - <span class='configuration'>@Model.ConfigModel.Description</span><br/>Parent: <b>" + ParentTitle + "</b>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
    }
    function editAddInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;

        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DettaglioContent').load('@(Url.Action("EditAddInfo"))?AddInfoId=' + selectedItem.TKAddInfoId , function () {
            $("#titolo_dettaglio").html("Edit Item - <span class='configuration'>@Model.ConfigModel.Description</span>");
            $('#Dettaglio').modal({
                keyboard: true
            }, 'show');
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }

    function setReservedAddInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;
        var msg = "";
        if (selectedItem.Reserved == true) {
            msg = "Do you wish to Public '<b>" + selectedItem.TitleFull + "</b>' element ? ";
        } else {
            msg = "Do you wish to Reserved '<b>" + selectedItem.TitleFull + "</b>' element ? ";
        }
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SetReservedAddInfo")',
                    data: { AddInfoId: selectedItem.TKAddInfoId },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        if ((data || '') == '') {
                            DevExpress.ui.notify("Operation successful.");
                        } else {
                            bootbox.alert(data);
                        }
                    }
                }).always(function () {
                    refreshTreeView();
                });
            }
        });
    }
    // Function per gestione il refresh del TREEView
    var myExpanded = [];
    function refreshTreeView() {
        var tree = getTreeInstance();
        myExpanded = [];
        if (tree.getNodes()[0]) {
            readExpandedItems(tree.getNodes()[0]);
        }
        tree.getDataSource().reload().done(function (result) {
            for (var i = 0; i < myExpanded.length; i++) {
                $("#treeview").dxTreeView("expandItem", myExpanded[i]);
            }
        });
    }
    function readExpandedItems(item) {
        if (item.expanded)
            myExpanded.push(item.key);
        if (item.children.length > 0) {
            item.children.forEach(function (child) {
                readExpandedItems(child);
            });
        }
    }
    function expandAll_click(e) {
        var tree = getTreeInstance();
        bExpandedAll = !bExpandedAll;
        if (bExpandedAll) {
            tree.expandAll();
        } else {
            tree.collapseAll();
            tree.expandItem(-1);
        }
    }

    // Move AddInfo
    var jsTargetAddInfoId = 0;

    function moveAddInfo_click(e) {
        var selectedItem = getTreeViewSelectedItem(false);
        if (!selectedItem) return false;

        $.ajax({
            type: "GET",
            url: '@Url.Action("CanMoveAddInfo")',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText, "error");
            },
            success: function (data) {
                if ((data || '') != '') {
                    bootbox.alert(data);
                    return false;
                }
                
                selAddInfoId = selectedItem.TKAddInfoId;
                jsTargetAddInfoId = 0;

                var treeview = $("#target-treeview").dxTreeView("instance");
                treeview.getDataSource().reload();

                $("#titolo_moveDettaglio").html("Move item <b>'" + selectedItem.TitleFull + "'</b>");
                $('#MoveDettaglio').modal('show');
            }
        });
    }
    function TargetTreeViewItemClick(e) {
        e.component.selectedItem = e.itemData;
        jsTargetAddInfoId = e.itemData.TKAddInfoId;
    }
    function doCloseTarget() {
        //window.parent.closeModal(false);
        $('#MoveDettaglio').modal('hide');
    }
    function doMoveTargetAddInfo() {
        if (!jsTargetAddInfoId) {
            bootbox.alert("Select an item");
            return false;
        }

        $("#btnMoveTargetAddInfo").dxButton("instance").option("disabled", true);
        $("#btnCloseTargetAddInfo").dxButton("instance").option("disabled", true);
        $.ajax({
            type: "GET",
            url: '@Url.Action("MoveAddInfo")',
            data: { AddInfoId: selAddInfoId, TargetParentId: jsTargetAddInfoId },
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText, "error");
                $("#btnMoveTargetAddInfo").dxButton("instance").option("disabled", false);
                $("#btnCloseTargetAddInfo").dxButton("instance").option("disabled", false);
            },
            success: function (data) {
                window.parent.closeModal(true);
            }
        });
    }
    function closeModal(bReload) {
        $('#Dettaglio').modal('hide');
        $('#DettaglioContent').html("");
        $("#titolo_dettaglio").html("");
        $('#MoveDettaglio').modal('hide');
        if ((bReload || false)) {
            var selectedItem = getTreeViewSelectedItem(true);
            if (selectedItem) {
                $("#treeview").dxTreeView("expandItem", selectedItem);
            }
            refreshTreeView();
            DevExpress.ui.notify("Operation successful.");
        }
    };
    function openExport_click(e) {
        $("#gestione").attr("action", '@Url.Action("ExportAddInfo")/@Model.ConfigModel.ID');
        $("#gestione").submit();
        return false;

    }
</script>


<div id="main">
    <div class="row titolo-pagina">
        <span style="font-size:20px;">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
        </span>
        <span class="h3">@ViewData["Title"]</span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "gestione" }))
{
    @Html.AntiForgeryToken()
    <div class="empty_row"></div>

    <div class="container">
        <div class="col-md-1 hidden-xs">&nbsp;</div>
        <div class="col-md-10" id="toolbar">
            <div class="row" style="margin-bottom: 5px;">
                @(Html.DevExtreme().Toolbar()
                                    .Items(items =>
                                    {
                                        items.Add().Widget(w => w.Button().Icon("expand").OnClick("expandAll_click")).Location(ToolbarItemLocation.Before);
                                        items.Add().Widget(w => w.Button().Icon("plus").Hint("Add Item").OnClick("newAddInfo_click")).Location(ToolbarItemLocation.Before);
                                        items.Add().Widget(w => w.Button().Icon("edit").Hint("Edit Item").OnClick("editAddInfo_click")).Location(ToolbarItemLocation.Before);
                                        items.Add().Widget(w => w.Button().Icon("trash").Hint("Remove Item").OnClick("removeAddInfo_click")).Location(ToolbarItemLocation.Before);
                                        items.Add().Widget(w => w.Button().Icon("movetofolder").Hint("Move Item").OnClick("moveAddInfo_click")).Location(ToolbarItemLocation.Before).Visible(showMoveTo);
                                        items.Add().Widget(w => w.Button().Icon("fa fa-lock").Hint("Set as Reserved").OnClick("setReservedAddInfo_click")).Location(ToolbarItemLocation.Before);
                                        items.Add().Widget(w => w.Button().Icon("export").OnClick("openExport_click")).Location(ToolbarItemLocation.After);
                                    })
                )
            </div>
            @*<div class="empty_row">&nbsp;</div>*@
            <div class="row">
                <div class="panel-tree">
                    <div id="divAddInfos">
                        @(Html.DevExtreme().TreeView()
                                            .ID("treeview")
                                            .DataSource(d => d.Mvc().LoadAction("GetAllAddInfos")
                                            .LoadParams(new
                                                {
                                                    configId = Model.ConfigModel.ID, 
                                                    groupId = Model.GroupId
                                                })
                                            )
                                            .DataStructure(TreeViewDataStructure.Plain)
                                            .ParentIdExpr("ParentId")
                                            .KeyExpr("TKAddInfoId")
                                            .DisplayExpr("TitleFull")
                                            .ExpandedExpr("Expanded")
                                            .Width("100%")
                                            .Height(600)
                                            .SearchEnabled(true)
                                            .SelectByClick(true)
                                            .SelectionMode(NavSelectionMode.Single)
                                            .FocusStateEnabled(true)
                                            .OnItemClick("treeViewItemClick")
                                            .ItemTemplate(@<text>
                                                <div>
                                                    <% if ( Reserved == true ) { %>
                                                        <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                                                    <% } else { %>
                                                        <i class="<%- icon %>" style="font-size: 16px;"></i>
                                                    <% } %>
                                                    <% if ( ParentId <= 0 && TKAddInfoId > 0 ) { %>
                                                        <span class="cfgTitolo"><%- TitleFull %></span>
                                                    <% } else { %>
                                                        <%- TitleFull %><%= colorInfoHtml %>
                                                    <% } %>
                                                </div>
                                            </text>)
                        )
                    </div>
                </div>
            </div>
        </div>
        @*<div id="detail" class="col-md-6">
                <br />
                <br />
                <br />
                DETTAGLI
            </div>*@
    </div>
}

<!-- Dettaglio -->
<div class="modal fade" id="Dettaglio" role="dialog" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="titolo_dettaglio"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='DettaglioContent'></div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="MoveDettaglio" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title" id="titolo_moveDettaglio"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 5px;">
                <div id='MoveAddInfoContent'>
                    <div class="row" style="padding: 10px;">
                        @(Html.DevExtreme().TreeView()
                                                .ID("target-treeview")
                                                .DataSource(d => d.Mvc().LoadAction("GetAllAddInfos")
                                                        .LoadParams(new {
                                                            excludeAddInfoId = new JS("function() { return selAddInfoId; }"),
                                                            bExpandAll = true,
                                                            configId = Model.ConfigModel.ID,
                                                            groupId = Model.GroupId
                                                        })
                                                    )
                                                .DataStructure(TreeViewDataStructure.Plain)
                                                .ParentIdExpr("ParentId")
                                                .KeyExpr("TKAddInfoId")
                                                .DisplayExpr("TitleFull")
                                                .ExpandedExpr("Expanded")
                                                .Width("100%")
                                                .Height(500)
                                                .SelectByClick(true)
                                                .SelectionMode(NavSelectionMode.Single)
                                                .SearchEnabled(true)
                                                .FocusStateEnabled(true)
                                                .OnItemClick("TargetTreeViewItemClick")
                                                .ItemTemplate(@<text>
                                                    <div>
                                                        <% if ( Reserved == true ) { %>
                                                        <i class="<%- icon %>" style="font-size: 16px; color: red;"></i>
                                                        <% } else { %>
                                                        <i class="<%- icon %>" style="font-size: 16px;"></i>
                                                        <% } %>
                                                        <%- TitleFull %><%= colorInfoHtml %>
                                                    </div>
                                                </text>)
                        )
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-11">
                            <div class="pull-right">
                                @(Html.DevExtreme().Button().Text("Move Item").OnClick("doMoveTargetAddInfo").Type(ButtonType.Success).ID("btnMoveTargetAddInfo"))
                                @(Html.DevExtreme().Button().Text("Close").OnClick("doCloseTarget").ID("btnCloseTargetAddInfo"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}