﻿@model WebApp.Entity.CreateClaimDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Upload File & Create New Claim";
    string titolo = ViewData["Title"].ToString();

}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">
    body {
        background-color: white;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });

    function goUploadNewFile() {
        var fileFTP = ($("#FileSelected").dxSelectBox("instance").option('value') || "");
        var filenameorig = $('input[type=file]').val().split('\\').pop();
        var filename = filenameorig.split('.').slice(0, -1).join('.');
        filename = (filename || "");
        if (filename == "" && fileFTP == "") {
            bootbox.alert("Select a file to upload");
            return false;
        }
        if (filename != "" && fileFTP != "") {
            bootbox.alert("Select only one file to upload");
            return false;
        }
        if (filename != "") {
            var fileExtension = filenameorig.substr((filenameorig.lastIndexOf('.') + 1));
            if (("" == fileExtension || "") || fileExtension.toLowerCase() != "zip") {
                bootbox.alert("Select a ZIP file to upload");
                return false;
            }
            if (!filenameorig.toLowerCase().startsWith("exportlog")) {
                bootbox.alert("The filename must start with 'exportlog'");
                return false;
            }
        }

        var from = $("#RequestedDateFrom").dxDateBox("instance").option('value');
        var to = $("#RequestedDateTo").dxDateBox("instance").option('value');
        if (from != null && to != null) {
            if (from > to) {
                bootbox.alert("The end date must be greater or equal than the start date. ");
                return false;
            }
        }

        $("#gesForm").attr("method", "POST");
        $("#gesForm").submit();                
        return false;
    }

    function FileSelected_valueChanged(e) {
        if ((e.value || '') != "") {
            $(":file").filestyle('clear');
        }
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="LogFiles" asp-action="Create" id="gesForm">
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Select Zip File:</label>
            <div class="col-md-4">
                <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                       data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No file">
            </div>
            <label class="col-md-1 control-label text-nowrap">FTP Area:</label>
            <div class="col-md-4">
                @(Html.DevExtreme().SelectBoxFor(model => model.fileSelected)
                                                    .ID("FileSelected")
                                                    .DataSource(Model.filesByFTP)
                                                    .Placeholder("Select")
                                                    .Value(Model.fileSelected)
                                                    .OnValueChanged("FileSelected_valueChanged")
                                                    .Disabled((Model.filesByFTP?.Count() ?? 0) == 0)
                                                    .ShowClearButton(true)
                )
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Requested Period From/To:</label>
            <div class="col-sm-2">
                @(Html.DevExtreme().DateBoxFor(m => m.claim.RequestedDateFrom)
                                                                .ID("RequestedDateFrom")
                                                                //.Name("RequestedDateFrom")
                                                                .Width("100%")
                                                                .Min("2000/01/01")
                                                                .Max("2999/12/31")
                                                                .ShowClearButton(true)
                                                                .DisplayFormat("dd/MM/yyyy")
                )
            </div>
            <div class="col-sm-2">
                @(Html.DevExtreme().DateBoxFor(m => m.claim.RequestedDateTo)
                                                                .ID("RequestedDateTo")
                                                                //.Name("RequestedDateTo")
                                                                .Width("100%")
                                                                .Min("2000/01/01")
                                                                .Max("2999/12/31")
                                                                .ShowClearButton(true)
                                                                .DisplayFormat("dd/MM/yyyy")
                )
            </div>
        </div>
        <div class="form-group">
            <label asp-for="claim.NoteUpload" class="col-md-2 control-label">Note</label>
            <div class="col-md-8">
                @*<textarea asp-for="claim.NoteUpload" name="NoteUpload" class="form-control" rows="3" maxlength="1000"></textarea>*@
                <textarea asp-for="claim.NoteUpload" class="form-control" rows="3" maxlength="1000"></textarea>
                <span asp-validation-for="claim.NoteUpload" class="text-danger"></span>
            </div>
        </div>
        <div class="empty_row"></div>
        <div class="row">
            <div class="col-md-10">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                                    .Icon("upload")
                                                    .Hint("upload file")
                                                    .Text("Upload & Create")
                                                    .Type(ButtonType.Success)
                                                    .OnClick("goUploadNewFile")
                    )
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>

