@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Extract Data Requests";
    string titolo = ViewData["Title"].ToString();

}

<style type="text/css">
    .Request-status-NEW {
        background-color: yellow;
    }
    .Request-status-READY {
        /*background-color: green;*/
    }
    .Request-status-ERROR {
        background-color: orange;
    }

</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if (('@Model.options' || '') != '') {
                openExtractDataRequestPopup('@Model.options');
            }
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                icon: "plus",
                text: "Add Request",
                hint: "Add Request",
                onClick: function () {
                    openExtractDataRequestPopup();
                    return false;
                }
            }
        });
    }
    function onCellPrepared(options) {
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "";
            if (options.data.Status == "@Lookup.ProcessRequest_Status_NEW") {
                fieldHtml = "<a href='#' onclick='goDelete(" + options.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            }
            options.cellElement.html(fieldHtml);
        }
    }
    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteExtractDataRequest")',
                    data: { Id: Id },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        getDataGridInstance().refresh();
                    },
                    error: function (xhr, statusText) {
                        DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                    }
                });
            }
        });
        return false;
    }
    function openExtractDataRequestPopup(requestType) {
        var data = new Object();
        data.titoloForm = 'New Request';
        data.datefrom = new Date();
        data.dateto = new Date();
        data.RequestType = requestType;
        if ('@User.IsInRole(Lookup.Role_LogFilesSupervisor)'.toLowerCase() == 'true') {
            data.arrayRequestType = [
                { id: '@Lookup.ProcessRequest_Type_LogFileFluorescenze', description: '@Lookup.ProcessRequest_Type_LogFileFluorescenzeDeco' },
                { id: '@Lookup.ProcessRequest_Type_LogFileTemperature', description: '@Lookup.ProcessRequest_Type_LogFileTemperatureDeco' }
            ];
        } else {
            data.arrayRequestType = [
                { id: '@Lookup.ProcessRequest_Type_LogFileTemperature', description: '@Lookup.ProcessRequest_Type_LogFileTemperatureDeco' }
            ];
        }

        $("#popup-extractData").dxPopup({
            visible: true,
            title: data.titoloForm,
            width: 500,
            height: 400,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Submit',
                        icon: 'save',
                        type: 'success',
                        onClick: function () {
                            doSaveExtractDataRequest();
                        }
                    }
                }
            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 300,
                    showValidationSummary: true,
                    colCount: 2,
                    formData: data,
                    items: [
                         {
                            label: { text: "Request Type" },
                            colSpan: 2,
                            dataField: "RequestType",
                            editorType: "dxSelectBox",
                            editorOptions: {
                                dataSource: data.arrayRequestType,
                                value: data.RequestType,
                                valueExpr: "id",
                                displayExpr: "description",
                            }
                        }, {
                            label: { text: "Date From" },
                            colSpan: 2,
                            dataField: "datefrom",
                            editorType: "dxDateBox",
                            editorOptions: {
                                displayFormat: 'EEEE, dd/MM/yyyy'
                            }
                        }, {
                            label: { text: "Date To" },
                            colSpan: 2,
                            dataField: "dateto",
                            editorType: "dxDateBox",
                            editorOptions: {
                                displayFormat: 'EEEE, dd/MM/yyyy'
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }
    function doSaveExtractDataRequest() {
        var formData = $('#container-popup').dxForm("instance").option('formData');
        if ((formData.RequestType || "") == "") {
            DevExpress.ui.dialog.alert("The Request Type field is required.");
            return false;
        }
        if ((formData.datefrom || "") == "") {
            DevExpress.ui.dialog.alert("The Date From field is required.");
            return false;
        }
        if ((formData.dateto|| "") == "") {
            DevExpress.ui.dialog.alert("The Date To field is required.");
            return false;
        }
        if (formData.datefrom > formData.dateto) {
            DevExpress.ui.dialog.alert("Date To must be after Date From.");
            return false;
        }
        formData.ClaimId = @Model.claimId;
        var dataToSend = JSON.stringify(formData);
        $.ajax({
            url: '@Url.Action("CreateExtractDataRequest")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                if ((data.manageError||"") == "") {
                    $("#popup-extractData").dxPopup('instance').hide();
                    DevExpress.ui.notify("Operation successful.");
                    getDataGridInstance().refresh();
                } else {
                    DevExpress.ui.dialog.alert(data.manageError, "Error");
                }
            }
        });
    }
    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('Request-status-' + info.data.Status);
        }
    }
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "E" } })

<form>
    <div class="container">
        <div class="row">
            <div style="margin-right: 10px;">
                @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .RowAlternationEnabled(false)
                                .AllowColumnResizing(false)
                                .DataSource(d => d.WebApi().LoadAction("GetExtractDataRequests").Key("Id")
                                        .LoadParams(new { claimid = Model.claimId })
                                )
                                .RemoteOperations(true)
                                .Selection(s => s.Mode(SelectionMode.None))
                                .AllowColumnResizing(true)
                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                .FilterRow(filterRow => filterRow
                                        .Visible(true)
                                        .ApplyFilter(GridApplyFilterMode.Auto)
                                )
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("Id").Visible(false).SortIndex(1).SortOrder(SortOrder.Desc);
                                    columns.Add().DataField("TmstInseDeco").Caption("Date/Time")
                                                                            .Alignment(HorizontalAlignment.Center).Width("10%");
                                    columns.Add().DataField("RequestTypeDeco").Caption("Type").Width("15%");
                                    //columns.Add().DataField("ProcessParms").Caption("parameters").Width("40%");
                                    columns.Add().DataField("paramsLogFileExtracData.DateFromDeco").Caption("Date From").Width("10%").Alignment(HorizontalAlignment.Center);
                                    columns.Add().DataField("paramsLogFileExtracData.DateToDeco").Caption("Date To").Width("10%").Alignment(HorizontalAlignment.Center);
                                    columns.Add().DataField("UserInse").Caption("User").Width("15%");
                                    columns.Add().DataField("Status").Caption("Status").Alignment(HorizontalAlignment.Center).Width("8%");
                                    columns.Add().DataField("NoteExec").Caption("Note").Width("25%");
                                    columns.Add().Alignment(HorizontalAlignment.Center).Width("4%").DataField("Id").Caption("")
                                                .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                .Name("cmd");
                                })
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                {
                                    pager.ShowPageSizeSelector(true);
                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
                                .OnToolbarPreparing("toolbar_preparing")
                                .OnCellPrepared("onCellPrepared")
                                .OnRowPrepared("OnRowPrepared")
                                .Export(e => e.Enabled(true).FileName("ExtractRequests").AllowExportSelectedData(false))
                )
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>

<div id="popup-extractData"></div>
