@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Info";
    string titolo = ViewData["Title"].ToString();
    bool bEdit = Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED) && Model.claim.UserAssigned.Equals(User.Identity.Name);

    bool bShowTicket = Model.TKRequestId != null && Model.TKRequestId > 0;
    bool bCreateTicket = Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED) && Model.claim.UserAssigned.Equals(User.Identity.Name);
}

<link href="~/lib/vis-4.21.0/vis.min.css" rel="stylesheet" />
<script src="~/lib/vis-4.21.0/vis.min.js"></script>

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>


<style type="text/css">
    /*.vis-item {
        color: white;
        background-color: cadetblue;
        border-color: darkblue;
    }*/
    /*.vis-item.color_1 {
        color: white;
        background-color: red;
        border-color: darkred;
    }
    .vis-item.color_2 {
        color: white;
        background-color: yellow;
        border-color: darkred;
    }
    .vis-item.color_3 {
        color: white;
        background-color: green;
        border-color: darkred;
    }*/

    .btnZoom {
        font-size: 20px;
    }
</style>

<script type="text/javascript">

    var jsArrayDateRif =@Html.Raw(Json.Serialize(Model.dateRifList));
    var jstimeline = "";

    // Funzioni JQuery
    $(function () {


        $(document).ready(function () {
            @*$.ajax({
                type: "GET",
                url:  '@Url.Action("GetSessionListJson")',
                data: { claimId: @Model.claim.ClaimId},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: ChartVis,
                error: OnError

            });*@
            initEmailBodyField('CreateRequestDescription', 200);

            $("#visualizationTitle").text("No session found!");
            if (Array.isArray(jsArrayDateRif)) {
                if (jsArrayDateRif.length > 0) {
                    // DOM element where the Timeline will be attached
                    var container = document.getElementById('visualization');
                    // Create a DataSet (allows two way data-binding)
                    var items = new vis.DataSet(jsArrayDateRif);
                    // Configuration for the Timeline
                    var options = {
                        selectable: false,
                        orientation: "top",
                        //type: "point"
                        //min: jsArrayDateRif[0].start,
                        //max: jsArrayDateRif[jsArrayDateRif.length - 1].start
                        zoomMin: 10 * 1000 * 60 * 60 * 24  // 1 giorno in millisecondi
                    };
                    // Create a Timeline
                    //var timeline = new vis.Timeline(container);
                    //timeline.setOptions(options);
                    //timeline.setItems(items);
                    jstimeline = new vis.Timeline(container, items, options);
                    $("#visualizationTitle").text("Number of daily runs");
                }
            }
        });
    });

    //function ChartVis(response) {

    //    // DOM element where the Timeline will be attached
    //    var container = document.getElementById('visualization');

    //    // Create a DataSet (allows two way data-binding)
    //    var items = new vis.DataSet(response);

    //    // Configuration for the Timeline
    //    var options = { };

    //    // Create a Timeline
    //    var timeline = new vis.Timeline(container, items, options);
    //}
    //function OnError(response) {
    //    alert("Error !");
    //}

    function goUpdate() {
        var DTO = new Object();
        DTO.claimId = @Model.claimId;
        DTO.refComplaintNr = $("#claim_RefComplaintNr").val();
        DTO.noteClaim = $("#claim_NoteClaim").val();;
        var dataToSend = JSON.stringify(DTO);

        $.ajax({
            url: '@Url.Action("UpdateDetailJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                DevExpress.ui.notify("Claim successfully updated.", "info");
            }
        }).always(function (data) {
            //
        });
    }

    function goCreateRequest() {
        $("#CreateRequestSubject").val("");
        $('#CreateRequestDescription').summernote("code", "");
        $('#PopupCreateRequest').modal('show');
    }

    function doConfirmCreateRequest(claimId) {
        var mySubject = $("#CreateRequestSubject").val();
        if ((mySubject || '') == '') {
            bootbox.alert("The Object field is required.");
            return false;
        }
        if (mySubject.length > 300) {
            bootbox.alert("The field Object must be a string with a maximum length of 300.");
            return false;
        }

        if ($('#CreateRequestDescription').summernote("isEmpty")) {
            bootbox.alert("The Description field is required.");
            return false;
        }
        var myDesc = $('#CreateRequestDescription').summernote("code");

        $("#btnCreateTicket").attr("disabled", true);
        $('#PopupCreateRequest').modal('hide');

        $.get('@Url.Action("CreateTicketJSON")', { claimId: claimId, Subject: mySubject, Description: myDesc },
            function (data) {
                if (data != null) {
                    bootbox.alert(data, function () {
                        goOpenTab("H");
                    });
                }
            }
        );
    }
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "H" } })

<form>
    <div class="well" style="padding-top: 5px; padding-bottom: 5px;">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.claim.ClaimId)</dt>
            <dd>@Html.DisplayFor(model => model.claim.ClaimId)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.Status)</dt>
            <dd>@Html.DisplayFor(model => model.claim.StatusDeco)</dd>

            <dt>&nbsp;</dt>
            <dd>&nbsp;</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.SerialNumber)</dt>
            <dd>@Html.DisplayFor(model => model.claim.SerialNumber)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.InstrumentModelType)</dt>
            <dd>@Html.DisplayFor(model => model.claim.InstrumentModelType)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.InstrumentCommercialEntity)</dt>
            <dd>@Html.DisplayFor(model => model.claim.InstrumentCommercialEntity)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.InstrumentSiteCity)</dt>
            <dd>@Html.DisplayFor(model => model.claim.InstrumentSiteCity)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.InstrumentSiteCountry)</dt>
            <dd>@Html.DisplayFor(model => model.claim.InstrumentSiteCountry)</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.SoftwareVersion)</dt>
            <dd>@Html.DisplayFor(model => model.claim.SoftwareVersion)</dd>

            <dd>&nbsp;</dd>

            <dt>Upload</dt>
            <dd>@Html.DisplayFor(model => model.claim.UserUpload_Name) at @Model.claim.TmstUpload.ToString("dd/MM/yyyy HH:mm")</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.NoteUpload)</dt>
            <dd>@Html.DisplayFor(model => model.claim.NoteUpload)</dd>

            @if (!String.IsNullOrWhiteSpace(Model.claim.NoteClose))
            {
                <dt>@Html.DisplayNameFor(model => model.claim.NoteClose)</dt>
                <dd class="text-success">@Html.DisplayFor(model => model.claim.NoteClose)</dd>
            }

            @if (!String.IsNullOrWhiteSpace(Model.claim.NoteError))
            {
                <dt>@Html.DisplayNameFor(model => model.claim.NoteError)</dt>
                <dd class="text-danger">@Html.DisplayFor(model => model.claim.NoteError)</dd>
            }

            @if (!String.IsNullOrWhiteSpace(Model.claim.NoteAssign))
            {
                <dt>@Html.DisplayNameFor(model => model.claim.NoteAssign)</dt>
                <dd class="text-info">@Html.DisplayFor(model => model.claim.NoteAssign)</dd>
            }

            @if (!String.IsNullOrWhiteSpace(Model.claim.UserLastUpd) || Model.claim.TmstLastUpd != null)
            {
                <dt>Last Update</dt>
                <dd>@Html.DisplayFor(model => model.claim.UserLastUpd_Name) @(Model.claim.TmstLastUpd?.ToString("dd/MM/yyyy HH:mm:ss") ?? "")</dd>
            }

            <dd>&nbsp;</dd>

            <dt>@Html.DisplayNameFor(model => model.claim.RefComplaintNr)</dt>
            @if (bEdit)
            {
                <dd style="margin-bottom: 5px;"><input asp-for="claim.RefComplaintNr" class="form-control" style="max-width: 500px;" /></dd>
            }
            else
            {
                <dd>@Html.DisplayFor(model => model.claim.RefComplaintNr)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.claim.NoteClaim)</dt>
            @if (bEdit)
            {
                <dd style="margin-bottom: 5px;"><textarea asp-for="claim.NoteClaim" class="form-control" rows="4" maxlength="4000"></textarea></dd>
            }
            else
            {
                <dd class="text-info">@Html.DisplayFor(model => model.claim.NoteClaim)</dd>
            }


            @if (bEdit)
            {
                <dd><button type="button" class="btn btn-success" onclick="goUpdate()">Save</button></dd>
            }

            @if (bShowTicket || bCreateTicket)
            {
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>

                <dt>@Html.DisplayNameFor(model => model.TKRequestId)</dt>
                @if (bShowTicket)
                {
                    <dd class="text-info" style="font-size: larger;">Request Id.@Model.TKRequestId</dd>
                }
                else if (bCreateTicket)
                {
                    <dd><button type="button" class="btn btn-warning" id="btnCreateTicket" onclick="goCreateRequest()">Create New Ticket</button></dd>
                }
            }

        </dl>
    </div>

    <div class="row">
        <div id="visualizationTitle" class="h4 text-success col-md-10"></div>
        <div class="col-md-2">
            <div class="pull-right">
                <span class="fa fa-search-plus btnZoom" title="zoom in" onclick="jstimeline.zoomIn(0.4);"></span>
                <span class="fa fa-search-minus btnZoom" title="zoom out" onclick="jstimeline.zoomOut(0.4);"></span>
                @*<button type="button" title="zoom in" onclick="jstimeline.zoomIn(0.4);">+</button>*@
                @*<button type="button" title="zoom out" onclick="jstimeline.zoomOut(0.4);">-</button>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div id="visualization"></div>
    </div>

    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>


@*POPUP CREATE REQUEST*@
<div class="modal fade" id="PopupCreateRequest" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title">Create new Request</h4>
                </div>
            </div>
            <div class="modal-body" style="padding: 0;">
                <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                    <div class="form-horizontal">
                        <br />
                        <div class="form-group required">
                            <label class="col-md-2 control-label">Object:</label>
                            <div class="col-md-10">
                                <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Object field is required."
                                       id="CreateRequestSubject" name="CreateRequestSubject" placeholder="Object" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="CreateRequestSubject" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-md-2 control-label">Description:</label>
                            <div class="col-md-9">
                                <textarea id="CreateRequestDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCreateRequest" onclick="doConfirmCreateRequest(@Model.claimId);">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
