﻿@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Volume Detail";
    string titolo = ViewData["Title"].ToString();
    string SnapshotType = "V";
    bool bCreateSnapshot = false;
    //if (Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED) && Model.claim.UserAssigned.Equals(User.Identity.Name))
    if (Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED))
    {
        bCreateSnapshot = true;
    }
}

<style type="text/css">
    .tooltip-header {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }

    .tooltip-body {
        width: 170px;
    }

    .tooltip-body .series-name {
        font-weight: normal;
        opacity: 0.6;
        display: inline-block;
        line-height: 1.5;
        padding-right: 10px;
        width: 126px;
    }

    .tooltip-body .value-text {
        display: inline-block;
        line-height: 1.5;
        width: 30px;
    }

    .dx-button-has-text .dx-button-content {
        padding: 3px 5px;
    }

    .InventoryManager {
        display: table;
    }
    .InventoryManager div {
        vertical-align: middle;
        display: table-cell;
        align-items: center;
    }

    .InventoryManager img {
        display: block;
        height: auto;
        width: 90%;
    }
    #legend-InventoryBlock {
        margin-top: 10px!important;
        font-size: medium;
    }
</style>

<script type="text/javascript">
    var jsArrayVol =@Html.Raw(Json.Serialize(Model.volumeEluates));
    var jsArrayIB =@Html.Raw(Json.Serialize(Model.inventoryBlock));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            var bShow = false;
            var sMsg = "";
            if (Array.isArray(jsArrayVol) == false && Array.isArray(jsArrayIB) == false) {
                sMsg = "All filter fields are mandatory";
            } else {
                if (Array.isArray(jsArrayVol) && Array.isArray(jsArrayIB)) {
                    if (jsArrayVol.length == 0 && jsArrayIB.length == 0) {
                        sMsg = "No Data Found";
                    } else if (jsArrayVol.length == 0) {
                        sMsg = "No Data Found (Eluates)";
                    } else if (jsArrayIB.length == 0) {
                        sMsg = "No Data Found for Inventory Block";
                    }
                }
            }
            $("#chart-info > div").text(sMsg);
            if (sMsg != '') $("#chart-info").show();
        });
    });

    function refreshContainerOnTab() {
        if ((jsHFilterDataRif || '') != '' && (jsHFilterSessionNumber || '') != '' && (jsHFilterSessionNumber || '') != '0') {
            $("#form-header").submit();
            return false;
        } 
        $("#chart-containerEluates").hide();
        $("#chart-InventoryBlock").hide();
        $("#chart-info > div").text("All filter fields are mandatory");
        $("#chart-info").show();
    }
    function getChartInstanceEluates() {
        return $("#line-chartEluates").dxChart("instance");
    }
    function doPrintEluates() {
        getChartInstanceEluates().print();
    }
    function doCreateSnapshotEluates() {
        var chart = getChartInstanceEluates();
        HCreateSnapshotSVG(chart, "@SnapshotType");
    }
    function getChartInstanceInventoryBlock() {
        return $("#line-chartInventoryBlock").dxChart("instance");
    }
    function doPrintInventoryBlock() {
        getChartInstanceInventoryBlock().print();
    }
    function doCreateSnapshotInventoryBlock() {
        var chart = getChartInstanceInventoryBlock();
        HCreateSnapshotSVG(chart, "@SnapshotType");
    }
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "V" } })

<form>
    @Html.HiddenFor(model => Model.claim.ClaimId)
    @Html.Hidden("imageBase64")

    <div class="container" id="chart-info" hidden>
        <div class="alert alert-danger alert-dismissible fade in h4"></div>
    </div>

    @*ELUATES (single Nozzle) *@
    @if (Model.volumeEluates != null && Model.volumeEluates.Count() > 0)
    {
        <div class="container" id="chart-containerEluates">
            <div class="row">
                <div style="margin-right: 10px;" class="col-md-10 col-md-push-1">
                    @(Html.DevExtreme().Chart()
                        .ID("line-chartEluates")
                        .DataSource(@Model.volumeEluates)
                        .Palette(VizPalette.Material)
                        .Margin(m => m.Bottom(15))
                        .CommonSeriesSettings(s => s.ArgumentField("idxJs")
                                            .HoverMode(ChartSeriesHoverMode.AllSeriesPoints)
                                            .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints)))
                        .ArgumentAxis(a => a.Grid(g => g.Visible(false))
                                            .ValueMarginsEnabled(true)
                                            .Label(l => l.CustomizeText(@<text>
                                                    function () {
                                                        // l'array JS è in base 0, mentre idxJS parte da 1 !! 
                                                        if (typeof jsArrayVol[this.value - 1] !== 'undefined') {
                                                            return jsArrayVol[this.value - 1].track;
                                                            @*return "<span style='color: red;'>" + jsArrayVol[this.value - 1].track + "</span>";*@
                                                        }
                                                        return ' ';
                                                    }
                                                </text>))
                                                .Title("track")
                                                .Tick(t => t.Visible(false))
                        )
                        .ValueAxis(v => v.Add().Title(t => t.Text("microL")))
                        .Series(s =>
                        {
                            s.Add().Type(SeriesType.Bar).ValueField("volume").Name("Eluates").Color("blue").Point(p => p.Visible(false));
                        })
                        .Legend(l => l.Visible(false))
                        .Title(t => t.Text("Eluates").Font(f => f.Weight(800)).Subtitle(s => s.Text(Model.ChartSubTitle)))
                        .Crosshair(c => c.Enabled(true).Color("#949494").Width(3)
                                         .DashStyle(DashStyle.Dot)
                                         .Label(l => l.Visible(true).BackgroundColor("#949494").Font(f => f.Color("#fff").Size(10)))
                            )
                        .Size(s => s.Height(350))
                        .Tooltip(t => t.Enabled(true).CustomizeTooltip(@<text>
                            function (arg) {
                            return { html: "<div>" +
                                            "<div class='tooltip-header'>" + arg.seriesName + "</div>" +
                                            "<div class='tooltip-body'>" +
                                                "<div class='series-name'>Value:</div><div class='value-text'>" + arg.value + "</div>" +
                                            "</div>" +
                                        "</div>"
                                };
                            }
                        </text>))
                        .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.None))
                        //.ScrollingMode(ChartPointerType.All)
                        //.ZoomingMode(ChartPointerType.None)
                    )
                </div>
            </div>
            <div class="controls-pane col-md-10 col-md-push-1">
                @(Html.DevExtreme().Button().Icon("export")
                                            .Text("Snapshot")
                                            .OnClick("doCreateSnapshotEluates")
                                            .Type(ButtonType.Default)
                                            .Width(145)
                                            .Visible(bCreateSnapshot)
                )
                @(Html.DevExtreme().Button().Icon("print")
                                            .Text("Print")
                                            .OnClick("doPrintEluates")
                                            .Type(ButtonType.Normal)
                                            .Width(145)
                )
            </div>
            <br />
        </div>
    }

    @*INVENTORY BLOCK *@
    @if (Model.inventoryBlock != null && Model.inventoryBlock.Count() > 0)
    {
        <br />
        <div class="container" id="chart-InventoryBlock">
            <div class="row">
                <div class="col-md-4 InventoryManager" style="height: 300px;">
                    <div>
                        <img id="imgLegenda" src="~/images/InventoryManager.jpg" onerror='this.style.display = "none"'>
                    </div>
                </div>
                <div class="col-md-8">
                    @(Html.DevExtreme().Chart()
                            .ID("line-chartInventoryBlock")
                            .DataSource(@Model.inventoryBlock)
                            .Palette(VizPalette.Material)
                            //.Margin(m => m.Bottom(15))
                            .CommonSeriesSettings(s => s.ArgumentField("labelVolume")
                                                .HoverMode(ChartSeriesHoverMode.AllSeriesPoints)
                                                .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints)))
                            .ArgumentAxis(a => a.Grid(g => g.Visible(false)).ValueMarginsEnabled(true))
                            .Series(s =>
                            {
                                s.Add().Type(SeriesType.Bar).ValueField("volume").Name("InventoryBlock").Point(p => p.Visible(false));
                            })
                            .CustomizePoint(@<text>
                                        function (arg) {
                                            var colore = '';
                                            if (typeof jsArrayIB[this.index] !== 'undefined') {                                                                
                                                if (jsArrayIB[this.index].tipoVolume == '1') {
                                                    colore = 'green'; // IC
                                                }
                                                if (jsArrayIB[this.index].tipoVolume == '2') {
                                                    colore = 'red'; // Mix
                                                }
                                            }
                                            return {color: colore };
                                        }
                                    </text>)
                            .ValueAxis(v => v.Add().Title(t => t.Text("microL")))
                            .Legend(l => l.Visible(false))
                            .Title(t => t.Text("Inventory Block").Font(f => f.Weight(800)).Subtitle(s => s.Text(Model.ChartSubTitle)))
                            .Crosshair(c => c.Enabled(true).Color("#949494").Width(3)
                                                .DashStyle(DashStyle.Dot)
                                                .Label(l => l.Visible(true).BackgroundColor("#949494").Font(f => f.Color("#fff").Size(10)))
                                )
                            .Size(s => s.Height(350))
                            .Tooltip(t => t.Enabled(true).CustomizeTooltip(@<text>
                                function (arg) {
                                return { html: "<div>" +
                                    "<div class='tooltip-header'>" + arg.argument + "</div>" +
                                        "<div class='tooltip-body'>" +
                                            "<div class='series-name'>Value:</div><div class='value-text'>" + ((arg.value||0) < 10 ? 'N/D' : arg.value) + "</div>" +
                                        "</div>" +
                                    "</div>"
                                };
                                }
                            </text>))
                        //.ScrollingMode(ChartPointerType.All)
                        //.ZoomingMode(ChartPointerType.None)
                        .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.None))
                    )
                </div>
            </div>
            <div class="controls-pane col-md-6 col-md-push-4">
                @(Html.DevExtreme().Button().Icon("export")
                                            .Text("Snapshot")
                                            .OnClick("doCreateSnapshotInventoryBlock")
                                            .Type(ButtonType.Default)
                                            .Width(145)
                                            .Visible(bCreateSnapshot)
                )
                @(Html.DevExtreme().Button().Icon("print")
                                            .Text("Print")
                                            .OnClick("doPrintInventoryBlock")
                                            .Type(ButtonType.Normal)
                                            .Width(145)
                )
            </div>
            <br />
        </div>
        <div class="container" id="legend-InventoryBlock">
            <div class="alert alert-warning text-center">
                <strong>Disclaimer!</strong><br />
                The indicated MMX volume includes the expected meniscus at various liquid levels. <br />
                The discrepancy in the 2ml tubes is ≈±10 µl and greater with small volumes.<br />
                The discrepancy in volume detection for 0.5 ml tubes is ≈±1 µl
            </div>
        </div>
    }

    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>
