@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Trace/Logs Details";
    string titolo = ViewData["Title"].ToString();

}

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "L" } })

<form>
    <div class="container">
        <div class="row">
            <div style="margin-right: 10px;">
                @(Html.DevExtreme().DataGrid()
                    .ID("gridContainer")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(false)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                    .DataSource(d => d.WebApi().Controller("LogFiles").LoadAction("GetClaimTracks")
                                            .LoadParams(new { ClaimId = Model.claim.ClaimId }))
                    .RemoteOperations(true)
                    .Columns(columns =>
                    {
                        columns.Add().DataField("TmstInseDeco").Width("15%");
                        columns.Add().DataField("UserInse").Width("15%");
                        columns.Add().DataField("Description").Width("20%");
                        columns.Add().DataField("Note").Width("50%");
                    })
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .Export(e => e.Enabled(true).FileName("Trace"))
                )
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>