@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@{
    ViewData["Title"] = "Pressures Offset Detail";
    string titolo = ViewData["Title"].ToString();
    string SnapshotType = "O";
    bool bEdit = false;
    if (Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED) && Model.claim.UserAssigned.Equals(User.Identity.Name))
    {
        bEdit = true;
    }
}   

<style type="text/css">
    #PreviewPopup .modal-body, #PreviewPopup .modal-header, #PreviewPopup .modal-footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });
    });

    function getChartInstance() {
        return $("#line-chart").dxChart("instance");
    }


    function doPrint() {
        getChartInstance().print();
        return false;
    }

    function doCreateChartSnapshot() {
        var chart = getChartInstance();
        var svg = chart.svg();
        $('#imageBase64').val(window.btoa(svg));
        var image64 = $("#imageBase64").val();
        var ClaimId = $("#ClaimId").val();
        bootbox.prompt({
            title: "Insert a note for new snapshot!",
            inputType: 'textarea',
            callback: function (result) {
                if (result != null) {
                     $.ajax({
                        url: '@Url.Action("CreateChartSnapshot")',
                        type: 'POST',
                         data: { ClaimId: ClaimId, Note: result, image64: image64, SnapshotType: "@SnapshotType" },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert(data);
                            } else {
                                $("#gridSnapshot").dxDataGrid("instance").refresh();
                            }
                        }
                    });
                }
            }
        });
        return false;
    }

    function doDelete(id) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $.get('@Url.Action("DeleteSnapshot")', { ClaimSnapshotId: id, ClaimId: @Model.claim.ClaimId }, function (data) {
                    if (data != "") {
                        bootbox.alert(data);
                    }
                    $("#gridSnapshot").dxDataGrid("instance").refresh();
                    return false;
                });
            }
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }

    function previewImage(data, nota) {
        $('#imagePreview').attr('src', data);
        $('#notePreview').text(nota);
        if ((nota || '') == '') {
            $('#PreviewBody').hide();
        } else {
            $('#PreviewBody').show();
        }
        $('#PreviewPopup').modal('toggle');
    }
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "O" } })

<form>
    @Html.HiddenFor(model => Model.claim.ClaimId)
    @Html.Hidden("imageBase64")

    <div id="chartPressuresOffset">
        @(Html.DevExtreme().Chart()
                            .ID("line-chart")
                            .DataSource(@Model.pressuresOffset)
                            .Palette(VizPalette.Material)
                            .CommonSeriesSettings(s => s
                                .ArgumentField("TmstGetDeco")
                                .Type(SeriesType.Spline)
                                .HoverMode(ChartSeriesHoverMode.IncludePoints)
                                .Point(p => p.HoverMode(ChartPointInteractionMode.AllArgumentPoints))
                            )
                            .Margin(m => m.Bottom(15))
                            .ArgumentAxis(a => a
                                .ValueMarginsEnabled(false)
                                .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
                                .Grid(g => g.Visible(true))
                                .Label(l => l.DisplayMode(ChartLabelDisplayMode.Rotate).RotationAngle(45))
                            )
                            .Series(s =>
                            {
                                s.Add().ValueField("ValueGet01").Name("<b>Track1</b>");
                                s.Add().ValueField("ValueGet02").Name("<b>Track2</b>");
                                s.Add().ValueField("ValueGet03").Name("<b>Track3</b>");
                                s.Add().ValueField("ValueGet04").Name("<b>Track4</b>");
                                s.Add().ValueField("ValueGet05").Name("<b>Track5</b>");
                                s.Add().ValueField("ValueGet06").Name("<b>Track6</b>");
                                s.Add().ValueField("ValueGet07").Name("<b>Track7</b>");
                                s.Add().ValueField("ValueGet08").Name("<b>Track8</b>");
                                s.Add().ValueField("ValueGet09").Name("<b>Track9</b>");
                                s.Add().ValueField("ValueGet10").Name("<b>Track10</b>");
                                s.Add().ValueField("ValueGet11").Name("<b>Track11</b>");
                                s.Add().ValueField("ValueGet12").Name("<b>Track12</b>");
                                s.Add().ValueField("ValueGet13").Name("<b>Single Nozzle</b>").Color("red");
                            })
                            .Legend(l => l.VerticalAlignment(VerticalEdge.Top).HorizontalAlignment(HorizontalAlignment.Right))
                            .OnLegendClick(@<text>
                                function(e) {
                                var series = e.target;
                                if(series.isVisible()) {
                                series.hide();
                                } else {
                                series.show();
                                }
                                }
                            </text>)
                    .Title(t => t.Text(new JS("'Pressures Offset'")))
                    .Crosshair(c => c.Enabled(true).Color("#949494").Width(3).DashStyle(DashStyle.Dot)
                                    .Label(l => l.Visible(true).BackgroundColor("#949494").Font(f => f.Color("#fff").Size(10)))
                            )
                    .Size(s => s.Height(500))
                    .Tooltip(t => t
                        .Enabled(true)
                        .CustomizeTooltip(@<text>
                            function (arg) {
                                return { html: "<div class='text-center'>" + arg.seriesName+ "<br />" + arg.argument + "<br /><b>" +  arg.valueText  + "</b></div>"};
                                }
                        </text>))
                    //.ScrollingMode(ChartPointerType.All)
                    //.ZoomingMode(ChartPointerType.All)
                    .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                    .Export(e => e.Enabled(true).PrintingEnabled(false).FileName("PressuresOffset"))
        )
    </div>
    <div class="controls-pane">
        @(Html.DevExtreme().Button()
                                    .Icon("export")
                                    .Text("Snapshot")
                                    .OnClick("doCreateChartSnapshot")
                                    .Type(ButtonType.Default)
                                    .Width(145)
                                    .Visible(bEdit)
        )
        @(Html.DevExtreme().Button()
                                        .Icon("print")
                                        .Text("Print")
                                        .OnClick("doPrint")
                                        .Type(ButtonType.Normal)
                                        .Width(145)
        )
    </div>
    <br />
    <div class="row">
        @(Html.DevExtreme().DataGrid()
                            .ID("gridSnapshot")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(false)
                            .RowAlternationEnabled(false)
                            .AllowColumnResizing(true)
                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                            .DataSource(d => d.Mvc().Controller("LogFiles").LoadAction("GetSnapshots")
                                              .LoadParams(new { ClaimId = Model.claim.ClaimId, tipo = SnapshotType })
                                              .Key("ClaimSnapshotId")
                                        )
                            .RemoteOperations(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("tmstInseDeco").Caption("Created at").Width("10%");
                                columns.Add().DataField("userInse").Caption("Created by").Width("10%");
                                columns.Add().DataField("claimSnapshotId").Visible(false);
                                columns.Add().DataField("note").Width("45%");
                                columns.Add().DataField("snapshot").Width("30%").CellTemplate(@<text>
                                        <div>
                                            <img class="thumbnail" src="<%= value %>" alt="Snapshot" width="100%" height="auto" style="margin-bottom: 0px;"
                                                    onclick="previewImage('<%= value %>', '<%= data.noteNoCRLF %>' );" />
                                        </div>
                                </text>);
                                columns.Add()
                                    .Alignment(HorizontalAlignment.Center)
                                    .DataField("claimSnapshotId")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .AllowEditing(false)
                                    .AllowExporting(false)
                                    .Caption("")
                                    .CellTemplate(@<div>
                                        @if (bEdit)
                                                {
                                            <a href="#" onclick="doDelete('<%= value %>');" class="glyphicon glyphicon-trash" title="Remove"></a>
                                                }
                                    </div>);
                            })
                            .NoDataText("No Data")
        )
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>

    <div class="modal fade" id="PreviewPopup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="PreviewBody">
                    <p id="notePreview"></p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <img class="thumbnail" alt="" id="imagePreview" style="cursor:default;cursor:zoom-in;margin-bottom: 4px;" width="100%" height="100%" />
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</form>
