@model WebApp.Entity.LogFileDetailDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Snapshots List";
    string titolo = ViewData["Title"].ToString();
    string SnapshotType = "";  // TUTTI GLI SNAPSHOT
    bool bEdit = false;
    if (Model.claim.Status.Equals(Lookup.Claim_Status_COMPLETED) && Model.claim.UserAssigned.Equals(User.Identity.Name))
    {
        bEdit = true;
    }
}

@*<script src="~/js/canvas2image.js"></script>
<script src="~/js/html2canvas.js"></script>*@

<style type="text/css">
    #PreviewPopup .modal-body, #PreviewPopup .modal-header, #PreviewPopup .modal-footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            // ????
        });


        //$('#save_image_locally').click(function () {
        //    //html2canvas(document.querySelector('#imagePreview')).then(function (canvas) {
        //    //    console.log(canvas);
        //    //    saveAs(canvas.toDataURL(), 'download.png');
        //    //});
        //    Canvas2Image.saveAsPNG(document.querySelector('.image2save'));
        //});

    });

    //function ConvertToImage() {
        //html2canvas($("#imagePreview")).then(function (canvas) {
        //    var base64 = canvas.toDataURL();
        //    $("[id*=hfImageData]").val(base64);
        //    __doPostBack("prova.jpg", "");
        //});
        //return false;
    //}
    //function saveAs(uri, filename) {
    //    var link = document.createElement('a');
    //    if (typeof link.download === 'string') {
    //        link.href = uri;
    //        link.download = filename;
    //        //Firefox requires the link to be in the body
    //        document.body.appendChild(link);
    //        //simulate click
    //        link.click();
    //        //remove the link when done
    //        document.body.removeChild(link);
    //    } else {
    //        window.open(uri);
    //    }
    //}

    function doDelete(id) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $.get('@Url.Action("DeleteSnapshot")', { ClaimSnapshotId: id, ClaimId: @Model.claim.ClaimId }, function (data) {
                    if (data != "") {
                        bootbox.alert(data);
                    }
                    $("#gridSnapshot").dxDataGrid("instance").refresh();
                    return false;
                });
            }
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }

    function previewImage(data, nota) {
        $('#imagePreview').attr('src', data);
        $('#notePreview').text(nota);
        if ((nota || '') == '') {
            $('#PreviewBody').hide();
        } else {
            $('#PreviewBody').show();
        }
        $('#PreviewPopup').modal('toggle');
    }
</script>

@await Html.PartialAsync("_Header", Model, new ViewDataDictionary(this.ViewData) { { "type", "S" } })

<form>
    @Html.HiddenFor(model => Model.claim.ClaimId)
    @Html.Hidden("imageBase64")

    <div class="container">
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                            .ID("gridSnapshot")
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            .HoverStateEnabled(false)
                                            .RowAlternationEnabled(false)
                                            .AllowColumnResizing(true)
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                            .DataSource(d => d.Mvc().Controller("LogFiles").LoadAction("GetSnapshots")
                                                                .LoadParams(new { ClaimId = Model.claim.ClaimId, tipo = SnapshotType })
                                                                .Key("ClaimSnapshotId")
                                                        )
                                            .RemoteOperations(true)
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("TmstInseDeco").Caption("Created at").Width("10%");
                                                columns.Add().DataField("UserInse").Caption("Created by").Width("10%");
                                                columns.Add().DataField("ClaimSnapshotId").Visible(false);
                                                columns.Add().DataField("Note").Width("45%");
                                                columns.Add().DataField("snapshot").Width("30%").CellTemplate(@<text>
                                                    <div>
                                                        <img class="thumbnail" src="<%= value %>" alt="Snapshot" width="100%" height="auto" style="margin-bottom: 0px; cursor: zoom-in;"
                                                             onclick="previewImage('<%= value %>', '<%= data.noteNoCRLF %>' );" />
                                                    </div>
                                                </text>);
                                        columns.Add()
                                            .Alignment(HorizontalAlignment.Center)
                                            .DataField("claimSnapshotId")
                                            .AllowFiltering(false)
                                            .AllowSorting(false)
                                            .AllowEditing(false)
                                            .AllowExporting(false)
                                            .Caption("")
                                            .CellTemplate(@<div>
                                                @if (bEdit)
                                                    {
                                                    <a href="#" onclick="doDelete('<%= value %>');" class="glyphicon glyphicon-trash" title="Remove"></a>
                                                    }
                                            </div>);
                            })
                            .NoDataText("No Data")
            )
        </div>
        <br />
    </div>
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>

    <div class="modal fade" id="PreviewPopup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="PreviewBody">
                    <p id="notePreview"></p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <img class="thumbnail image2save" alt="" id="imagePreview" style="cursor:default;cursor:zoom-in;margin-bottom: 4px;" width="100%" height="100%" />
                        </div>
                    </div>
                    <hr />
                    @*<button type="button" class="btn-link" id="save_image_locally">Save as image</button>*@
                </div>
            </div>
        </div>
    </div>
</form>

