﻿@model WebApp.Entity.LogFilesIndexDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Log Files";
    string titolo = ViewData["Title"].ToString();
    bool isSupervisor = User.IsInRole(Lookup.Role_LogFilesSupervisor);
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .status-NEW {
        background-color: #ffff66;
    }

    .status-ERROR {
        background-color: #ff8566;
        /*color: #a94442;*/
    }

    .status-COMPLETED {
        /*background-color: white;*/
        /*color: #3c763d;*/
    }

    .status-CLOSED {
        background-color: #fbfbfb;
    }

    .cmdClose {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .cmdReopen  {
        font-size: 16px;
        color: #ed1818;
        font-weight: bold;
    }
    .cmdDetail {
        font-size: 20px;
    }
    .cmdDelete {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
    .cmdAssign {
        font-size: 16px;
        color: blue;
    }
    .cmdReprocessing {
        font-size: 18px;
        color: #ed1818;
    }
</style>
<script type="text/javascript">

    var selClaimId = 0;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                icon: "fa fa-upload",
                text: "Upload New File",
                hint: "Upload New File",
                type: "Normal",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("Create")');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        });
    }

    function selection_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            goDetail(data.ClaimId);
        }
        getDataGridInstance().clearSelection();
    }

    function goDetail(Id) {
        $("#elenco").append('<input type="hidden" name="ClaimId" value="' + Id + '" /> ');
        $("#elenco").attr("action", '@Url.Action("Detail")');
        $("#elenco").submit();
        return false;
    }

    function goAssign(Id) {
        selClaimId = Id;
        var data = $("#users").dxList("instance").getDataSource().reload();
        $('#AssignPopup').modal('toggle');
        return false;
    }

    function goClose(Id) {
        selClaimId = Id;
        $('#ClosePopup').modal('toggle');
        return false;
    }
    
    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="ClaimId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("DeleteClaim")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }


    function goReopen(Id) {
        bootbox.confirm("Do you wish to reopen it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="ClaimId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("ReOpen")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function goReprocessing(Id) {
        bootbox.confirm("Do you wish to reprocessing it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="ClaimId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("Reprocessing")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('status-' + info.data.Status);
        }
    }

    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdClaim") {
            var fieldHtml = "";   
            fieldHtml += "<a href='#' onclick='goDetail(" + e.value + ");' class='fa fa-dashboard cmdDetail' title='Detail'></a>&nbsp;";
            if (e.data.Status == '@Lookup.Claim_Status_COMPLETED' && e.data.UserAssigned == '@User.Identity.Name') {
                fieldHtml += "<a href='#' onclick='goAssign(" + e.value + ");' class='glyphicon glyphicon-user cmdAssign' title='Assign'></a>&nbsp;";
                // è possibile riprocessare un log solo se NON è ancora passata la procedura di pulizia !!! 
                if ('@isSupervisor' == 'True' && e.data.TmstCleaning == null) {
                    fieldHtml += "<a href='#' onclick='goReprocessing(" + e.value + ");' class='fa fa-history cmdReprocessing' title='Reprocessing'></a>&nbsp;";
                }
                fieldHtml += "<a href='#' onclick='goClose(" + e.value + ");' class='fa fa-calendar-times-o cmdClose' title='Close'></a>&nbsp;";
            }
            if (e.data.Status == '@Lookup.Claim_Status_CLOSED' && '@isSupervisor' == 'True') {
                fieldHtml += "<a href='#' onclick='goReopen(" + e.value + ");' class='fa fa-fast-backward cmdReopen' title='Reopen'></a>&nbsp;";
            }
            if (e.data.Status == '@Lookup.Claim_Status_ERROR' && '@isSupervisor' == 'True') {
                fieldHtml += "<a href='#' onclick='goReprocessing(" + e.value + ");' class='fa fa-history cmdReprocessing' title='Reprocessing'></a>&nbsp;";
            }
            if ('@isSupervisor' == 'True') {
                fieldHtml += "<a href='#' onclick='goDelete(" + e.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == "detail") {
            var myhtml = "";
            var noteStato = "";
            var classStato = "";
            if ((e.data.NoteClaim || "") != "") {
                myhtml = '<p class="dett-value text-default">' + e.data.NoteClaim + '</p>'
            }
            if (e.data.Status == '@Lookup.Claim_Status_ERROR') {
                noteStato = e.data.NoteError;
                classStato = "text-danger";
            }
            if (e.data.Status == '@Lookup.Claim_Status_COMPLETED') {
                noteStato = e.data.NoteAssign;
                classStato = "text-success";
            }
            if (e.data.Status == '@Lookup.Claim_Status_CLOSED') {
                noteStato = e.data.NoteClose;
                classStato = "text-info";
            }
            if ((noteStato || "") != "") {
                myhtml = myhtml + '<p class="dett-value ' + classStato + '">' + noteStato + '</p>';
            }
            
            if (myhtml != "") {
                myhtml = '<div class="col-md-12 internal-grid-note">' + myhtml + '</div>';
            }
            e.cellElement.html(myhtml);
        }
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }

    function doProcessAssign() {
        var selected = $('#selectedUser2Assign').text();
        if ((selected || "") != "") {
            $("#elenco").append('<input type="hidden" name="ClaimId" value="' + selClaimId + '" /> ');
            $("#elenco").append('<input type="hidden" name="userName" value="' + selected + '" /> ');
            $("#elenco").append('<input type="hidden" name="NoteAssign" value="' + $('#NoteAssign').val() + '" /> ');
            $("#elenco").attr("action", '@Url.Action("Assign")');
            $("#elenco").submit();
        };
        return false;
    }

    function doProcessClose() {
        $("#elenco").append('<input type="hidden" name="ClaimId" value="' + selClaimId + '" /> ');
        $("#elenco").append('<input type="hidden" name="NoteClose" value="' + $('#NoteClose').val() + '" /> ');
        $("#elenco").attr("action", '@Url.Action("Close")');
        $("#elenco").submit();
        return false;
    }

    function OnExporting(e) {
        //e.component.beginUpdate();
        //e.component.columnOption("Status", "visible", false);
    }
    function OnExported(e) {
        //e.component.columnOption("Status", "visible", true);
        //e.component.endUpdate();
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }


</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                        .Icon("fa fa-info-circle")
                                        .Hint("Function Documentation")
                                        .Text("")
                                        .Type(ButtonType.Normal)
                                        .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_LogFiles">
    <div id="sfondo"></div>
    <br />
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                        .ID("loadPanel")
                        .ShadingColor("rgba(0,0,0,0.4)")
                        .Visible(false)
                        .ShowIndicator(true)
                        .ShowPane(true)
                        .Shading(false)
                        .CloseOnOutsideClick(true)
                        .OnShown("loadPanel_shown")
        )
        @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.WebApi().Controller("LogFiles").LoadAction("GetClaims").Key("ClaimId"))
                    .RemoteOperations(true)
                    .OnCellPrepared("onCellPrepared")
                    .OnRowPrepared("OnRowPrepared")
                    .Selection(s => s.Mode(SelectionMode.Single))
                    .OnSelectionChanged("selection_changed")
                    .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single).ShowSortIndexes(false))
                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("logFiles"))
                    .Columns(columns =>
                    {
                        //columns.Add().DataField("ClaimId").Visible(false).SortOrder(SortOrder.Desc);
                        columns.Add().DataField("ClaimId").SortOrder(SortOrder.Desc).Caption("Id").Width("8%").Alignment(HorizontalAlignment.Center);
                        //columns.Add().DataField("status").Caption("Status").Width("10%");
                        columns.Add().DataField("StatusDeco").Caption("Status").Width("10%");
                        columns.Add().DataField("SerialNumber").Caption("Instrument").Width("10%");
                        columns.Add().DataField("InstrumentModelType").Caption("Model Type").Width("10%");
                        columns.Add().DataField("InstrumentSiteCity").Caption("City").Width("8%");
                        columns.Add().DataField("InstrumentSiteCountry").Caption("Country").Width("8%");
                        columns.Add().DataField("RequestedDateDesc").Caption("From/To").Width("10%");
                        columns.Add().DataField("NoteUpload").Caption("Note").Width("40%");
                        columns.Add().DataField("TmstUploadDeco").Caption("Uploaded at").Width("12%").CalculateSortValue("TmstUploadSort").SortOrder(SortOrder.Desc);
                        columns.Add().DataField("UserUpload_Name").Caption("Uploaded by").Width("10%");
                        columns.Add().DataField("UserAssigned_Name").Caption("Assigned to").Width("10%");
                        //columns.Add().DataField("SoftwareVersion").HeaderCellTemplate("Software<br/>Version").Width("10%");
                        columns.Add().DataField("RefComplaintNr").HeaderCellTemplate("Ref.<br/>Complaint Nr.").Width("13%");
                        columns.Add()
                            .Alignment(HorizontalAlignment.Center)
                            .Width("10%")
                            .DataField("ClaimId")
                            .AllowFiltering(false)
                            .AllowSorting(false)
                            .AllowEditing(false)
                            .AllowExporting(false)
                            .AllowResizing(false)
                            .Caption("")
                            .Name("cmdClaim");
                    })
                    .MasterDetail(md =>
                    {
                    md.Enabled(false)
                        .AutoExpandAll(true)
                        .Template(@<text><div class="row">info detail</div></text>);
                    })
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .Export(e => e.Enabled(true).FileName("LogFiles").AllowExportSelectedData(false))
                    .OnToolbarPreparing("toolbar_preparing")
                    .OnExporting("OnExporting")
                    .OnExported("OnExported")
        )
    </div>

    <div class="modal fade" id="AssignPopup" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Assign User</h4>
                </div>
                <div class="modal-body">
                    <div class="widget-container">
                        @(Html.DevExtreme().List()
                                    .ID("users")
                                    .Height(300)
                                    .ShowSelectionControls(true)
                                    .PageLoadMode(ListPageLoadMode.ScrollBottom)
                                    .SelectionMode(ListSelectionMode.Single)
                                    //.DataSource(Model.users2Assign)
                                    .DataSource(d => d.Mvc().Controller("LogFiles").LoadAction("getUsers2Assign")
                                            .LoadParams(new { ClaimId = new JS("function() { return selClaimId; }") })
                                            .Key("userId"))
                                    .HoverStateEnabled(false)
                                    .ItemTemplate("<div><%= userNameFull %></div>")
                                    .NoDataText("No data")
                                    .SearchEnabled(true)
                                    .SearchExpr(new[] { "userNameFull" })
                                    .OnSelectionChanged(@<text>
                                        function(data) {
                                        @*console.log(data.addedItems[0].userName);*@
                                        $("#selectedUser2Assign").text(data.addedItems[0].userName);
                                        }
                                    </text>)
                        )
                        <span id="selectedUser2Assign" hidden></span>
                    </div>

                    <div class="empty_row">&nbsp;</div>
                    <div class="form-group">
                        @*<label class="col-md-2 control-label">Note</label>*@
                        <div class="col-md-12">
                            <textarea id="NoteAssign" name="NoteAssign" class="form-control" rows="3" placeholder="Note" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer" style="border-top: 0;">
                    <input type="button" onclick="doProcessAssign();" value="Assign" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ClosePopup" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Close Claim</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea id="NoteClose" name="NoteClose" class="form-control" rows="3" placeholder="Note" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="modal-footer" style="border-top: 0;">
                    <input type="button" onclick="doProcessClose();" value="Close" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>
}
