@model WebApp.Entity.DataMiningCreateDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Create New Data Mining Request";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .comando {
        padding-left: 2px;
        padding-right: 2px;
    }
    .form-horizontal > div {
        margin-top: 5px;
    }
</style>

<script type="text/javascript">
    var selCountry = @Html.Raw(Json.Serialize(Model.countriesLink));
    var selCommercialStatus = "";

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function goSubmit(type) {
        $('#dataMining_ExtractionType').val(type);
        $("#gesForm").submit();
    }

    function Country_valueChanged(e) {
        selCountry = (e.value || '');
        refreshCommercialEntity();
    }
    //function CommercialEntity_valueChanged(e) {
    //    //alert(e.value);
    //    //if (selCommercialEntity != e.value) {
    //    //    selCommercialEntity = e.value;
    //    //    $("#dataMining_CommercialEntity").val(selCommercialEntity);
    //    //}
    //}
    function CommercialStatus_valueChanged(e) {
        if (selCommercialStatus != e.value) {
            selCommercialStatus = e.value;
            $("#dataMining_CommercialStatus").val(selCommercialStatus);
        }
    }

    function refreshCommercialEntity() {
        var selectedNew = "";
        var tagBox = $("#commercialEntitiesLink").dxTagBox('instance');
        var selectedCurr = tagBox.option('value');
        var selectedNew = [];
        var ds = tagBox.getDataSource().reload().done(function (result) {
            var dati = JSON.stringify(result, null, 4);
            if (selectedCurr != null) {
                $.each($.parseJSON(dati), function (idx, obj) {
                    for (var i = 0; i < selectedCurr.length; i++) {
                        if (selectedCurr[i].toUpperCase() == obj.CommercialEntity.toUpperCase()) {
                            selectedNew.push(selectedCurr[i]);
                        }
                    }
                });
            }
            tagBox.option('value', selectedNew);
        });
        //tagBox.option('value', "");
        //ds.filter(null);
        //ds.reload().done(function (result) {
        //    tagBox.option('value', (valore || ''));
        //});

        //var selectBox = $("#CommercialEntityLookup").dxTagBo("instance");
        //var ds = selectBox.getDataSource();
        //ds.filter(null);
        //ds.reload().done(function (result) {
        //    selectBox.option('value', (valore || ''));
        //});

        @*if ('@Model.lockCommerialeEntity' != 'True') {
            var selectBox = $("#CommercialEntityLookup").dxLookup("instance");
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.reload().done(function (result) {
                selectBox.option('value', (valore || ''));
            });
        }*@
    }

    @*function refreshCountry(valore) {
        if ('@Model.lockCountry' != 'True') {
            var selectBox = $("#CountryLookup").dxLookup("instance");
            var ds = selectBox.getDataSource();
            ds.filter(null);
            ds.reload().done(function (result) {
                selectBox.option('value', (valore || ''));
            });
        }
    }*@

    //function refreshCommercialStatus(valore) {
    //    var selectBox = $("#CommercialStatusLookup").dxLookup("instance");
    //    var ds = selectBox.getDataSource();
    //    ds.filter(null);
    //    ds.reload().done(function (result) {
    //        selectBox.option('value', (valore || ''));
    //    });
    //}

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

<form asp-action="Create" id="gesForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.dataMining.ExtractionType)
    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="form-horizontal col-md-8 col-md-push-2 well">
                <div class="col-md-4">
                    <span>Period From/To</span>
                    @(Html.DevExtreme().DateBoxFor(m => m.dataMining.DateFrom).ID("DateFrom").Width("100%").Min("2000/01/01").Max("2999/12/31").DisplayFormat("dd/MM/yyyy"))
                </div>
                <div class="col-md-4">
                    <span>&nbsp;</span>
                    @(Html.DevExtreme().DateBoxFor(m => m.dataMining.DateTo).ID("DateTo").Width("100%").Min("2000/01/01").Max("2999/12/31").DisplayFormat("dd/MM/yyyy"))
                </div>
                <div class="col-md-4">
                    <span>Up To Date Extraction</span>
                    @(Html.DevExtreme().DateBoxFor(m => m.dataMining.DateUpToDate).ID("DateUpToDate").Width("100%").Min("2000/01/01").Max("2999/12/31").DisplayFormat("dd/MM/yyyy"))
                </div>
                <div class="col-md-6">
                    <span>Version Extra</span>
                    @(Html.DevExtreme().TextBoxFor(m => m.dataMining.VersionExtra).ID("VersionExtra"))
                </div>
                <div class="col-md-6">
                    <span>Model Type</span>
                    @(Html.DevExtreme().SelectBoxFor(m => m.dataMining.ModelType)
                                                            .ID("ModelType")
                                                            .DataSource(Lookup.InstrumentModelType_EliteInstruments)
                                                            .ValueExpr("id")
                                                            .DisplayExpr("descrizione")
                                                            .SearchEnabled(true)
                    )
                </div>
                <div class="col-md-12">
                    <span>Country</span>
                    @*@Html.HiddenFor(model => model.dataMining.Country)*@
                    @*@if (Model.lockCountry)
                    {
                        <div style="font-weight: bold">@Model.dataMining.Country</div>
                    }*@
                    @*@(Html.DevExtreme().LookupFor(m => m.dataMining.Country)
                                                .ID("CountryLookup")
                                                .DataSource(d => d.Mvc().Controller("DataMining").LoadAction("GetCountry").Key("Country"))
                                                .DataSourceOptions(o => o.PageSize(999))
                                                .ShowPopupTitle(false)
                                                .ValueExpr("Country")
                                                .DisplayExpr("Country")
                                                .Placeholder("select...")
                                                .SearchPlaceholder("search")
                                                .CancelButtonText("Cancel")
                                                .ShowClearButton(true)
                                                .ClearButtonText("Remove Sel.")
                                                .Visible(!Model.lockCountry)
                                                .OnValueChanged("Country_valueChanged")
                    )*@
                    @(Html.DevExtreme().TagBoxFor(m => m.countriesLink)
                                        .ID("countriesLink")
                                        .DataSource(d => d.Mvc().Controller("DataMining").LoadAction("GetCountry").Key("Country"))
                                        .DataSourceOptions(o => o.PageSize(999))
                                        .ValueExpr("Country")
                                        .DisplayExpr("Country")
                                        .SearchEnabled(true)
                                        .Placeholder("select...")
                                        .ShowClearButton(true)
                                        .Value(Model.countriesLink)
                                        //.ShowSelectionControls(true)
                                        .OnValueChanged("Country_valueChanged")
                    )
                </div>
                <div class="col-md-12">
                    <span>Commercial Entity</span>
                    @Html.HiddenFor(model => model.dataMining.CommercialEntity)
                    @*@if (Model.lockCommerialeEntity)
                    {
                        <div style="font-weight: bold">@Model.dataMining.CommercialEntity</div>
                    }*@
                    @(Html.DevExtreme().TagBoxFor(m => m.commercialEntitiesLink)
                                                        .ID("commercialEntitiesLink")
                                                        .DataSource(d => d.Mvc().Controller("DataMining").LoadAction("GetCommercialEntity").Key("CommercialEntity")
                                                                .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                            )
                                                        .DataSourceOptions(o => o.PageSize(999))
                                                        .ValueExpr("CommercialEntity")
                                                        .DisplayExpr("CommercialEntity")
                                                        .SearchEnabled(true)
                                                        .Placeholder("select...")
                                                        .ShowClearButton(true)
                                                        .Value(Model.commercialEntitiesLink)
                            //.ShowSelectionControls(true)
                            //.OnValueChanged("CommercialEntity_valueChanged")
                    )
                    @*@(Html.DevExtreme().LookupFor(m => m.dataMining.CommercialEntity)
                                            .ID("CommercialEntityLookup")
                                            .DataSource(d => d
                                                        .Mvc().Controller("DataMining").LoadAction("GetCommercialEntity").Key("CommercialEntity")
                                                            .LoadParams(new { Country = new JS("function() { return selCountry; }") })
                                                        )
                                            .DataSourceOptions(o => o.PageSize(999))
                                            .ShowPopupTitle(false)
                                            .ValueExpr("CommercialEntity")
                                            .DisplayExpr("CommercialEntity")
                                            .Placeholder("select...")
                                            .SearchPlaceholder("search")
                                            .CancelButtonText("Cancel")
                                            .ShowClearButton(true)
                                            .ClearButtonText("Remove Sel.")
                                            //.Visible(!Model.lockCommerialeEntity)
                                            .OnValueChanged("CommercialEntity_valueChanged")
                    )*@
                </div>
                <div class="col-md-12">
                    <span>Commercial Status</span>
                    @Html.HiddenFor(model => model.dataMining.CommercialStatus)
                    @(Html.DevExtreme().LookupFor(m => m.dataMining.CommercialStatus)
                                                                    .ID("CommercialStatusLookup")
                                                                    .DataSource(d => d
                                                                                .Mvc().Controller("DataMining").LoadAction("GetCommercialStatus").Key("CommercialStatus")
                                                                                )
                                                                    .DataSourceOptions(o => o.PageSize(999))
                                                                    .ShowPopupTitle(false)
                                                                    .ValueExpr("CommercialStatus")
                                                                    .DisplayExpr("CommercialStatus")
                                                                    .Placeholder("select...")
                                                                    .SearchPlaceholder("search")
                                                                    .CancelButtonText("Cancel")
                                                                    .ShowClearButton(true)
                                                                    .ClearButtonText("Remove Sel.")
                                                                    .OnValueChanged("CommercialStatus_valueChanged")
                    )
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal col-xs-12 col-md-8 col-md-push-2">
                <div class="col-xs-12 col-sm-4 comando">
                    <input type="button" onclick="goSubmit('@Lookup.DataMining_Type_RunningRate');" value="@Lookup.DataMining_Type_RunningRateDesc" class="btn btn-success btn-block" />
                </div>
                <div class="col-xs-12 col-sm-4 comando">
                    <input type="button" onclick="goSubmit('@Lookup.DataMining_Type_RunningByComponent');" value="@Lookup.DataMining_Type_RunningByComponentDesc" class="btn btn-success btn-block" />
                </div>
                <div class="col-xs-12 col-sm-4 comando">
                    <input type="button" onclick="goSubmit('@Lookup.DataMining_Type_RunsByType');" value="@Lookup.DataMining_Type_RunsByTypeDesc" class="btn btn-success btn-block" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</form>