@using WebApp.Classes
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Data Mining";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">


    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .status-NEW {
        background-color: white ;
    }

    .status-ERROR {
        background-color: #f2dede;
        color: #a94442;
    }

    .status-READY {
        background-color: #dff0d8;
        color: #3c763d;
        /*font-weight: bold;*/
    }

    .cmdDetail {
        font-size: 18px;
    }

    .cmdDelete {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

</style>
<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "add",
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("Create")');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        });
    }

    function selection_changed(selectedItems) {
        //var data = selectedItems.selectedRowsData[0];
        //if (data) {
        //    goDetail(data.claimId);
        //}
        getDataGridInstance().clearSelection();
    }

    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            console.log(info.data.Status);
            info.rowElement.addClass('status-' + info.data.Status);
        }
    }

    function onCellPrepared(options) {

        if (options.rowType == 'data' && options.column.name && options.column.name == "download") {
            var fieldHtml = "";
            if ((options.row.data.FileName || '') != '') {
                fieldHtml += "<a href='#' onclick='goDownload(" + options.value + ");' class='glyphicon glyphicon-download cmdDetail' title='Download'></a>";
            }
            options.cellElement.html(fieldHtml);
        }
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "<a href='#' onclick='goDelete(" + options.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            options.cellElement.html(fieldHtml);
        }
    }


    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
    function goDownload(id) {
        $("#elenco").attr("action", '@Url.Action("DownloadFile")/' + id);
        $("#elenco").submit();
        return false;
    }


    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $("#elenco").append('<input type="hidden" name="DataMiningId" value="' + Id + '" /> ');
                $("#elenco").attr("action", '@Url.Action("Delete")');
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                .Icon("fa fa-info-circle")
                                .Hint("Function Documentation")
                                .Text("")
                                .Type(ButtonType.Normal)
                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_DataMining">
    <div id="sfondo"></div>
    <br />
    <div class="row">
        @(Html.DevExtreme().LoadPanel()
                                .ID("loadPanel")
                                .ShadingColor("rgba(0,0,0,0.4)")
                                .Visible(false)
                                .ShowIndicator(true)
                                .ShowPane(true)
                                .Shading(false)
                                .CloseOnOutsideClick(true)
                                .OnShown("loadPanel_shown")
        )
        @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            //.HoverStateEnabled(true)
                            .RowAlternationEnabled(false)
                            .AllowColumnResizing(false)
                            .DataSource(d => d.WebApi().Controller("DataMining").LoadAction("Get").Key("DataMiningId"))
                            .RemoteOperations(true)
                            .OnCellPrepared("onCellPrepared")
                            .OnRowPrepared("OnRowPrepared")
                            .Selection(s => s.Mode(SelectionMode.Single))
                            .OnSelectionChanged("selection_changed")
                            .AllowColumnResizing(true)
                            //.ColumnResizingMode(ColumnResizingMode.NextColumn)
                            .FilterRow(filterRow => filterRow
                                    .Visible(true)
                                    .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single).ShowSortIndexes(false))
                            //.StateStoring(s => s.Enabled(true)  // ?? RIPRISTINA
                            //                .Type(StateStoringType.SessionStorage)
                            //                .StorageKey("DataMining")
                            //)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("DataMiningId").Visible(false).SortOrder(SortOrder.Desc);
                                columns.Add().DataField("TmstInseDeco").Caption("Date/Time Request").Width("15%").CalculateSortValue("TmstInseSort").SortOrder(SortOrder.Desc);
                                columns.Add().DataField("DateFromDeco").Caption("Date From").Width("10%");
                                columns.Add().DataField("DateToDeco").Caption("Date To").Width("10%");
                                columns.Add().DataField("DateUpToDateDeco").Caption("Up To Date").Width("10%");
                                columns.Add().DataField("VersionExtra").Caption("Version Extra").Width("10%");
                                columns.Add().DataField("Country").Caption("Country").Width("10%");
                                columns.Add().DataField("CommercialEntity").HeaderCellTemplate(@<text>Commercial<br />Entity</text>).Width("10%");
                                columns.Add().DataField("CommercialStatus").HeaderCellTemplate(@<text>Commercial<br />Status</text>).Width("10%");
                                columns.Add().DataField("ModelTypeDeco").Caption("Model Type").Width("10%");
                                columns.Add().DataField("ExtractionTypeDeco").Caption("Type").Width("20%");
                                columns.Add().DataField("Status").Caption("Status").Width("80px").Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("NoteError").Caption("Note").Width("10%");
                                columns.Add()
                                    .Alignment(HorizontalAlignment.Center)
                                    .Width("5%")
                                    .DataField("DataMiningId")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .AllowEditing(false)
                                    .AllowExporting(false)
                                    .Caption("")
                                    .Name("download");
                                columns.Add()
                                    .Alignment(HorizontalAlignment.Center)
                                    .Width("5%")
                                    .DataField("DataMiningId")
                                    .AllowFiltering(false)
                                    .AllowSorting(false)
                                    .AllowEditing(false)
                                    .AllowExporting(false)
                                    .Caption("")
                                    .Name("cmd");
                            })
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
                        .Export(e => e.Enabled(true).FileName("DataMining").AllowExportSelectedData(false))
                        .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
}
