﻿@model WebApp.Entity.InstallBaseIndexDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;


@*TO DO
    1) UPLOAD:  passaggio ID instrument
                apertura popup
                selezione FILE
                selezione TIPOFILE (in base al profilo)
                Su upload, controllare coerenza profilo e Nome file selezionat o
    2) FILTRO ANNO/MESE
                ipotesi 1: combo da 2018/01 fino al mese corrente !!!
                al change, ricaricare la grid x lo stesso periodo !!!
    3) DELETE file caricato (Controlla se WAIT)
*@

@{
    ViewData["Title"] = "Data Import";
    string titolo = ViewData["Title"].ToString();

    bool bCanUpload = true;   //  User.IsInRole(Lookup.XXXXXXX);

    string active_tab_visible = "in active";
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    input, select {
        max-width: 800px;
    }

    /* STATI FILE */
    .status-MISSING {
        background-color: yellow;
    }
    .status-WAIT {
        background-color: violet;
    }

    .status-LOADING {
        background-color: violet;
    }
    .status-ERROR {
        background-color: red;
    }
    .status-RELOAD {
        background-color: sandybrown;
    }
    .status-OK {
        background-color: greenyellow;
    }
    /* STATI FILE */


    .cmdRemoveFile {
        color: white;
    }

    .cmdReworkFile {
        color: blue;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    input:not(.dx-texteditor-input) {
        max-width: 800px;
    }
</style>
<script type="text/javascript">
    var selReferencePeriod = "";
    var jsUserAdmin = '@User.IsInRole(Lookup.Role_Admin)';
    var jsSerialNumberSel = "";
    var selShowDismissed = false;
    var jsCommercialEntityForInstrumentUpdate = "@Lookup.GetCommercialEntityForInstrumentUpdate".toUpperCase();
    // ISR attivo per admin oppure se attiva la configurazione per tutti 
    var jsISRActive = "@Lookup.GetInstallBaseISRActive".toLowerCase() == 'true' || (jsUserAdmin || '').toLowerCase() == 'true';
    //console.log(jsISRActive);

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            selReferencePeriod = '@Model.selMese';
            selShowDismissed = '@Model.bShowDismissed';
            if ('@Model.datatype' == '@Lookup.FileDataType_InstallBase') {
                showTabInstallBase();
            } else {
                showTabData();
            }
        });

        $('#btnProcessOptInstrument').click(function () {
            $("#InstrumentOptionsModal").modal('hide');
            var optCommand = $('input[name=optInstrument]:checked').val();
            if ((optCommand || "") != "") {
                var rifDate =  new Date();
                var DismissDate = $("#DismissDate").dxDateBox("instance").option("value");
                if (DismissDate != null && optCommand == "DISMISS") {
                    rifDate = DismissDate;
                }
                var ResetDate = $("#ResetDate").dxDateBox("instance").option("value");
                if (ResetDate != null && optCommand == "RESET") {
                    rifDate = ResetDate;
                }
                var DisposalDate = $("#DisposalDate").dxDateBox("instance").option("value");
                if (DisposalDate != null && optCommand == "DISPOSAL") {
                    rifDate = DisposalDate;
                }

                $.ajax({
                    url: '@Url.Action("setInstrumentCommand")',
                    type: 'POST',
                    data: { SerialNumber: jsSerialNumberSel, Command: optCommand, DateRif: rifDate.toISOString() },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            bootbox.alert("Instrument successfully updated")
                            refreshGrid(true, false);
                        }
                    }
                });
            }
        });


    });

    function showTabInstallBase() {
        $("#tab_installbase").addClass("@active_tab_visible");
        $("#tab_data").removeClass("@active_tab_visible");
        $("[id=OptTabData]").each(function () {
            $(this).hide();
        });
    }
    function showTabData() {
        $("#tab_data").addClass("@active_tab_visible");
        $("#tab_installbase").removeClass("@active_tab_visible");
        $("[id=OptTabData]").each(function () {
            $(this).show();
        });
    }

    function goUploadNewFile() {
        var id = "";        // ???
        var filenameorig = $('input[type=file]').val().split('\\').pop();
        var filename = filenameorig.split('.').slice(0, -1).join('.');
        if ("" == filename || "") {
            bootbox.alert("Select a file to upload");
            return false;
        }

        // Gestione INSTALLBASE !!!
        if (filename.toUpperCase().indexOf("@Lookup.FileDataType_InstallBase") != -1) {
            var d = new Date();
            var datarif = d.getFullYear() + ("0" + (d.getMonth() + 1)).slice(-2)
            confirmUpload(filenameorig,  "@Lookup.FileDataType_InstallBase", "@Lookup.FileDataType_InstallBase", datarif, '');
            return false;
        }

        //  il nomefile può avere uno dei seguenti formati:
        //      <parte variabile>_<SerialNumber>_<Tipo>_DDMMYYHHMMSS.<ext>
        //      <parte variabile>_<SerialNumber>_<Tipo>_REV*_DDMMYYHHMMSS.<ext>
        var parts = filename.toUpperCase().split("_");
        if (parts.length < 3) {
            bootbox.alert("Selected file not recognized: Lenght wrong!");
            return false;
        }
        var tmst = parts[parts.length - 1];
        var datatype = parts[parts.length - 2];
        var instrument = parts[parts.length - 3];
        var bCanUpload = false;
        var fileVersion = "";
        var modelTypeDeco = "";
        var modelType = "";
        // file REV*
        if (datatype.startsWith("REV")) {
            fileVersion = datatype;
            if (parts.length < 4) {
                bootbox.alert("Selected file '" + fileVersion + "' not recognized: Lenght wrong!")
                return false;
            }
            datatype = parts[parts.length - 3];
            instrument = parts[parts.length - 4];
        }
        switch (datatype) {
            case "@Lookup.FileDataType_Data":
                bCanUpload = true; @*if ("@User.IsInRole(Lookup.xxxxxxxx)" == '@true') {*@ 
                break;
            case "@Lookup.FileDataType_AssaysList":
                bCanUpload = true; @*if ("@User.IsInRole(Lookup.xxxxxxxx)" == '@true') {*@ 
                break;
            default:
                bootbox.alert("data type " + datatype + " not valid!");
                return false;
                break;
        }
        if (bCanUpload == false) {
            bootbox.alert("Upload not authorized!");
            return false;
        }
        // data richiesta: DDMMYYHHMM
        var datafile = tmst.match(/\d{10}/g);
        if (datafile == null) {
            bootbox.alert("Invalid file name!");
            return false;
        }
        var datarif = "20" + datafile[0].substr(4, 2) + datafile[0].substr(2, 2);
        // se lo strumento esiste ed è abilitato, viene chiesta la conferma per l'upload !!!
        $.ajax({
            url: '@Url.Action("GetSerialNumberJson")',
            type: 'POST',
            data: { id: instrument },
            success: function (data) {
                //console.log(data);
                if ((data.serialNumber|| "") == "") {
                    bootbox.alert("No instruments found - id:" + instrument);
                    return false;
                } else {
                    if (data.serialNumber != "*") {
                        instrument = data.serialNumber;
                    }
                    modelTypeDeco = data.modelTypeDeco;
                    modelType = data.modelType;
                    confirmUpload(filenameorig, datatype, instrument, datarif, fileVersion, modelTypeDeco, modelType);
                }
                //} else if (data == "*") {
                //    bootbox.alert("More instruments found - id:" + instrument);
                //    return false;
                //} else {
                //    confirmUpload(filenameorig, datatype, data, datarif, fileVersion);
                //}
            }
        });
        return false;
    }

    function confirmUpload(filename, datatype, serialnumber, datarif, fileVersion, modelTypeDeco, modelType) {
        var msg = "Confirm Upload?<br/><br/>" +
            "file name: <b>" + filename + "</b><br/>" +
            "data type: <b>" + datatype + "</b><br/>";
        if (serialnumber != "@Lookup.FileDataType_InstallBase") {
            var tmp = serialnumber;
            if (tmp.length <= 10) {
                tmp = "more results for " + tmp;
            }
            msg += "instrument: <b>" + tmp + "</b><br/>" +
                   "month: <b>" + datarif.substr(4, 2) + "/" + datarif.substr(0, 4) + "</b><br/>";
        }
        if ((fileVersion || '') != '') {
            msg += "Version: <b>" + fileVersion + "</b><br/>";
        }
        if ((modelTypeDeco || '') != '') {
            msg += "Model: <b><span style='color:red;'>" + modelTypeDeco + "</span></b><br/>";
        }
        bootbox.confirm(msg, function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="dataRif" value="' + datarif + '" /> ');
                $("#monitor").append('<input type="hidden" name="serialNumber" value="' + serialnumber + '" /> ');
                $("#monitor").append('<input type="hidden" name="dataType" value="' + datatype + '" /> ');
                $("#monitor").append('<input type="hidden" name="fileVersion" value="' + fileVersion + '" /> ');
                $("#monitor").append('<input type="hidden" name="bShowDismissed" value="' + selShowDismissed + '" /> ');
                if ((modelTypeDeco || '') != '') {
                    $("#monitor").append('<input type="hidden" name="modelType" value="' + modelType + '" /> ');
                }
                $("#monitor").attr("action", "/InstallBase/UploadFile/");
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
        });
    }


    function goDeleteFile(id) {
        bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="referencePeriod" value="' + selReferencePeriod + '" /> ');
                $("#monitor").append('<input type="hidden" name="bShowDismissed" value="' + selShowDismissed + '" /> ');
                $("#monitor").attr("action", "/InstallBase/RemoveFile/" + id);
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
            return true;
        });
    }

    function goReworkFile(id) {
        bootbox.confirm("Do you wish to process it again?", function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="referencePeriod" value="' + selReferencePeriod + '" /> ');
                $("#monitor").append('<input type="hidden" name="bShowDismissed" value="' + selShowDismissed + '" /> ');
                $("#monitor").attr("action", "/InstallBase/SetReloadFile/" + id);
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
            return true;
        });
    }

    function goInstrumentOptions(instrument) {
        $.ajax({
            url: '@Url.Action("GetSerialNumberInfoJson")',
            type: 'POST',
            data: { id: instrument },
            success: function (data) {
                if ((data || "") == "") {
                    bootbox.alert("No instruments found - id:" + instrument);
                    return false;
                }
                var myTitle = "Instrument <strong>" + instrument + "</strong>";
                myTitle += "<br/>Company: " + data[0].CompanyName;  
                myTitle += "<br/>Site: " + data[0].SiteDescription;  
                if (data[0].CommandInfo != '') {
                    myTitle += "<br/><span style='font-color:red;'>" + data[0].CommandInfo + '</span>';  
                }
                jsSerialNumberSel = instrument;
                $("#titleInstrumentOptions").html(myTitle);
                $("#InstrumentOptionsModal").modal('show');
                //    bootbox.alert("More instruments found - id:" + instrument);
                //    return false;
                //} else {
                //    bootbox.alert(JSON.stringify(data, null, 4));

                //}
            }
        });
    }

    function goInstrumentUpdate(instrument) {
        $("#monitor").append('<input type="hidden" name="SerialNumber" value="' + instrument + '" /> ');
        $("#monitor").attr("action", '@Url.Action("InstrumentUpdateRequest")');
        $("#monitor").attr("method", "GET");
        $("#monitor").submit();
    };
    function goCreateRefurbishRequest(instrument) {
            bootbox.confirm("Do you want to create a refurbish request for <b>" + instrument + "</b> ? ", function (result) {
            if (result) {
                bootbox.hideAll();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("createRefurbishRequest", "Instruments")',
                    data: { serialNumber: instrument},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            DevExpress.ui.notify("Operation successful.");
                            var url = '@Url.Action("Refurbish", "Instruments")';
                            url += "?SerialNumber=" + instrument;
                            window.location.href = url;
                        }
                    }
                });
            }
        });
        return false;

    }
    var i = 0;
    function cell_prepared(options) {
        if (options.rowType == 'data') {
            if (options.column.name) {
                if (options.column.name == "cmd") {
                    var fieldHtml = "";
                    if ((jsUserAdmin || '').toLowerCase() == 'true') {
                        //if (options.value.length > 10) {
                            fieldHtml += "<button type='button' onclick='goInstrumentOptions(\"" + options.value + "\");' title='Instrument Options' style='margin: 2px;'" +
                                            " class='btn btn-default btn-xs fa fa-edit' ></button>";
                        //}
                    }
                    if ((options.data.CommercialEntity || '') != "" && (jsCommercialEntityForInstrumentUpdate || '') != '' && jsISRActive) {
                        if (jsCommercialEntityForInstrumentUpdate.indexOf(options.data.CommercialEntity.toUpperCase()) != -1) {
                            fieldHtml += "<button type='button' onclick='goInstrumentUpdate(\"" + options.value + "\");' title='Instrument Update' style='margin: 2px;'" +
                                         " class='btn btn-info btn-xs fa fa-flag-checkered' ></button>";
                        }
                    }
                    if ('@User.IsInRole(Lookup.Role_RefurbishAdministrator)'.toLowerCase() == 'true') {
                        fieldHtml += "<button type='button' onclick='goCreateRefurbishRequest(\"" + options.value + "\");' title='Refurbish Request'" +
                                     "style='margin: 2px; background-color: yellowgreen!important; color: red!important;' class='btn btn-xs fa fa-recycle' ></button>";
                    }
                    options.cellElement.html(fieldHtml);
                }
                if (options.column.name.match(/status.*/)) {
                    // impostazione
                    //var fieldData = options.value,
                    var statusClass = "";
                    //var status = options.value;
                    var status = "";
                    var tmstFile = "";
                    var fileId = "";
                    var fileName = "";
                    var tmstUpload = "";
                    var tmstProcess = "";
                    var userupload = "";
                    var note = "";
                    var revExtra = "";
                    //if ((options.value == 0 || options.value || "") != "") {
                    //    statusClass = "status-" + options.value;
                    //} else {
                    //    statusClass = "status-MISSING";
                    //    status = "UNDEFINED";
                    //}
                    if (options.column.name == "status_data") {
                        fileId = options.data.id_data;
                        status = options.data.status_data;
                        fileName = options.data.filename_data;
                        tmstUpload = options.data.tmstupload_data;
                        userupload = options.data.userupload_data;
                        tmstProcess = options.data.tmstprocess_data;
                        note = options.data.note_data;
                        revExtra = options.data.revExtra_data;
                    }
                    if (options.column.name == "status_assayslist") {
                        fileId = options.data.id_assayslist;
                        status = options.data.status_assayslist;
                        fileName = options.data.filename_assayslist;
                        tmstUpload = options.data.tmstupload_assayslist;
                        userupload = options.data.userupload_assayslist;
                        tmstProcess = options.data.tmstprocess_assayslist;
                        note = options.data.note_assayslist;
                        revExtra = options.data.revExtra_assayslist;
                    }
                    if (options.column.name == "status_installbase") {
                        fileId = options.data.id_installbase;
                        status = options.data.status_installbase;
                        fileName = options.data.filename_installbase;
                        tmstUpload = options.data.tmstupload_installbase;
                        userupload = options.data.userupload_installbase;
                        tmstProcess = options.data.tmstprocess_installbase;
                        note = options.data.note_installbase;
                        revExtra = options.data.revExtra_installbase;
                    }
                    if ((status == 0 || (status || "")) != "") {
                        statusClass = "status-" + status;
                    } else {
                        statusClass = "status-MISSING";
                        status = "UNDEFINED";
                    }
                    options.cellElement.addClass(statusClass);
                    var tooltip = "";
                    if ("" != (fileName || "") ) {
                        tooltip += "file: " + fileName + "\n";
                    }
                    if ("" != (tmstUpload || "" )) {
                        tooltip += "upload: " + tmstUpload + "\n";
                    }
                    if ("" != (userupload || "")) {
                        tooltip += "user: " + userupload + "\n";
                    }
                    if ("" != (tmstProcess || "")  && status != "WAIT") {
                        tooltip += "process: " + tmstProcess + "\n";
                    }
                    if ("" != (note || "")) {
                        tooltip += "note: " + note + "\n";
                    }
                    if ("" != (fileId || "")) {
                        tooltip += "id: " + fileId + "\n";
                    }
                    if ("" != (revExtra || "")) {
                        tooltip += "rev.file: " + revExtra + "\n";
                    }
                    var fieldHtml = "<div title='" + tooltip + "'>" + status;
                    if (status != "MISSING") {
                        // pulsante cancellazione file in WAIT
                        if (status == "WAIT") {
                            fieldHtml += "&nbsp;&nbsp;<a href='#' onclick='goDeleteFile(" + fileId + ");' class='glyphicon glyphicon-remove-circle cmdRemoveFile' title='Delete File'></a>";
                        }
                        fieldHtml += "<br/>";
                        // Aggiunta riferimento tmstFile
                        if ((fileName || "") != "") {
                            tmstFile = fileName.match(/\d{10}/g);
                            if ("" != (tmstFile||"")) {
                                fieldHtml += "<span style='font-size: 10px;' title='" + tooltip + "'>" + (""+tmstFile).substr(0,6) + "</span>&nbsp;";
                            }
                        }
                        if ("" != (revExtra || "")) {
                            fieldHtml += "<span style='font-size: 10px; font-weight:bold;'>" + revExtra.substr(0,15) + "</span>&nbsp;";
                        }

                        // pulsante reload file OK o ERROR
                        if (status == "OK" || status == "ERROR") {
                            fieldHtml += "&nbsp;<a href='#' onclick='goReworkFile(" + fileId + ");' class='fa fa-retweet cmdReworkFile' title='Reload / Process Again'></a>";
                        }
                        if ((userupload || '').toUpperCase() == 'STATEMACHINE') {
                            //console.log(fieldHtml);
                            if (fieldHtml.slice(-5) != '<br/>') {
                                fieldHtml += "<br/>";
                            }
                            fieldHtml += "<div class='badge' style='background-color: blue;' >AUTO</div>";
                        }
                    }
                    fieldHtml += "</div> ";
                    options.cellElement.html(fieldHtml);
                }
            }
        }
    }

    function referencePeriod_valueChanged(e) {
        if ((e.value || "") != "") {
            selReferencePeriod = e.value;
            refreshGrid(true, false);
        }
    }
    function bShowDismissed_valueChanged(data) {
        selShowDismissed = data.value;
        refreshGrid(true, false);
    }
    function refreshGrid(grid1, grid2) {
        // Data/AssaysList
        if (grid1 == true) {
            var dataGrid = $("#grid-container").dxDataGrid("instance");
            dataGrid.getDataSource().reload();
            //ds.reload();
        }
        // InstallBase
        if (grid2 == true) {
            var dataGrid2 = $("#grid-container2").dxDataGrid("instance");
            var ds2 = dataGrid2.getDataSource();
            ds2.reload();
        }
    }

    function goDownloadFunctionDocumentation() {
        $("#monitor").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#monitor").attr("target", "_blank");
        $("#monitor").submit();
        $("#monitor").attr("target", "");    // Ripristino Target
        return false;
    }

    function doReminderUploadRequest() {
        doInsertRequest("Reminder Upload");
    }

    function doDataStatusRequest() {
        doInsertRequest("Data Status");
    }

    function doInsertRequest(requestType) {
        bootbox.confirm("Insert '" + requestType + "' request ?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("InsertExportRequest")',
                    type: 'POST',
                    data: { requestType: requestType},
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            DevExpress.ui.notify("Request Inserted!", "info");
                        }
                    }
                });
                bootbox.hideAll();
                return false;
            }
        });
        return false;
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("status_data", "visible", false);
        e.component.columnOption("status_assayslist", "visible", false);
    }
    function OnExported(e) {
        e.component.columnOption("status_data", "visible", true);
        e.component.columnOption("status_assayslist", "visible", true);
        e.component.endUpdate();
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                    .Icon("fa fa-info-circle")
                                    .Hint("Function Documentation")
                                    .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="InstallBase" asp-action="Index" id="monitor">
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_DataImport">
    <div class="row">
        <div class="form-group col-md-3">
            <fieldset id="OptTabData">
                <legend>Period/Month</legend>
                @*<label for="referencePeriod">Month</label>*@
                @(Html.DevExtreme().LookupFor(m => m.selMese)
                                                .ID("referencePeriod")
                                                .DataSource(Model.mesi)
                                                .ShowPopupTitle(false)
                                                .ValueExpr("id")
                                                .DisplayExpr("descrizione")
                                                .OnValueChanged("referencePeriod_valueChanged")
                                                .ShowClearButton(false)
                                                .ShowCancelButton(false)
                )
            </fieldset>
        </div>
        <div class="col-md-2 text-center">
            <div class="btn-group-vertical">
                <a class="btn btn-xs btn-link" onclick="showTabData();">data / assays list</a>
                @if (User.IsInRole(Lookup.Role_SupportAdministrator))
                {
                    <a class="btn btn-xs btn-link" onclick="showTabInstallBase();">install base</a>
                }
            </div>
            <div>
                <button type="button" class="btn btn-xs btn-success" onclick="refreshGrid(true, true);"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
            </div>
        </div>
        <div class="form-group col-md-7">
            @if (bCanUpload)
            {
                <fieldset>
                    <legend>Upload New File - select a file and press upload button on Instrument row</legend>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="file" id="file" name="file" class="filestyle" data-text="Select File"
                                   data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No file">
                        </div>
                        <div class="col-md-2">
                            @(Html.DevExtreme().Button()
                                                            .Icon("upload")
                                                            .Hint("upload file")
                                                            .Text("")
                                                            .Type(ButtonType.Success)
                                                            .OnClick("goUploadNewFile")
                                                            .Height("34px")
                            )
                            @*<a href='#' onclick='goUploadNewFile()' class='glyphicon glyphicon-floppy-open' style="font-size: 20px;"  title='Upload File'></a>*@
                        </div>
                        @*<div class="col-md-4">
                            <label for="dataType">Data Type</label>
                            <select id="dataType">
                            <option></option>
                            <option>DATA</option>
                            <option>ASSAYS LIST</option>
                            <option>INSTALL BASE</option>
                            </select>
                            </div>*@
                    </div>
                </fieldset>
            }
        </div>
    </div>

    <fieldset id="OptTabData">
        @(Html.DevExtreme().CheckBoxFor(m => m.bShowDismissed).ID("bShowDismissed").Text("Show Dismissed Instruments").OnValueChanged("bShowDismissed_valueChanged"))
    </fieldset>
        @*<div class="col-md-3" style="font-size:14px">File Type </div>
            <select class="form-control" id="sel1">
            <option></option>
            <option>DATA</option>
            <option>ASSAYS LIST</option>
            <option>INSTALL BASE</option>
            </select>
            <div class="col-md-10 col-md-push-1">
            </div>
            </div>
            </div>
            </div>*@

        @*<div class="empty_row">&nbsp;</div>*@

        <div class="tab-content">
            <div id="tab_data" class="tab-pane fade">
                <div class="row">
                    @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(false)
                                    .RowAlternationEnabled(false)
                                    .DataSource(d => d.WebApi().Controller("InstallBase").LoadAction("GetDataImport").Key("id_installbase")
                                                                .LoadParams(new
                                                                {
                                                                    referencePeriod = new JS("function() { return selReferencePeriod; }"),
                                                                    showDismissed = new JS("function() { return selShowDismissed; }")
                                                                })
                                    )
                                    .RemoteOperations(true)
                                    .OnCellPrepared("cell_prepared")
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("InstallBaseInstrumentsIndex"))
                                    .AllowColumnResizing(true)
                                    .ColumnResizingMode(ColumnResizingMode.Widget)
                                    .Columns(columns =>
                                    {
                                        columns.Add().Alignment(HorizontalAlignment.Center)
                                                            .DataField("SerialNumber")
                                                            .AllowFiltering(false)
                                                            .AllowSorting(false)
                                                            .AllowEditing(false)
                                                            .AllowExporting(false)
                                                            .AllowResizing(false)
                                                            .Fixed(true)
                                                            .FixedPosition(HorizontalEdge.Left)
                                                            .Alignment(HorizontalAlignment.Right)
                                                            .Caption("")
                                                            .Width(40)
                                                            .Name("cmd");
                                        columns.Add().DataField("SerialNumber").Caption("Instrument").Width(160);
                                        columns.Add().DataField("Instrument_ModelDeco").Caption("Model Type").Width(120);
                                        columns.Add().DataField("CommercialEntity").HeaderCellTemplate("Commercial<br/>Entity").Width(160);
                                        columns.Add().DataField("Site_Country").Caption("Country").Width(120);
                                        columns.Add().DataField("CompanyName").Caption("Customer").Width(120);
                                        columns.Add().DataField("Site_Description").Caption("Site/Lab").Width(120);
                                        columns.Add().DataField("Site_City").Caption("City").Width(100);
                                        columns.Add().DataField("Commercial_Status").Caption("Status").Width(120);
                                        columns.Add().DataField("Installation_DateDeco").HeaderCellTemplate("Installation<br/>Date").CalculateSortValue("Installation_DateSort")
                                                     .Width("100").Alignment(HorizontalAlignment.Center).Width(100);
                                        columns.Add().DataField("status_data").HeaderCellTemplate("<b>DATA</b>").Alignment(HorizontalAlignment.Center).Name("status_data").Width(150)
                                                .Fixed(true).FixedPosition(HorizontalEdge.Right);
                                        columns.Add().DataField("status_assayslist").HeaderCellTemplate("<b>ASSAYS<br>LIST</b>").Alignment(HorizontalAlignment.Center).Name("status_assayslist").Width(150)
                                                .Fixed(true).FixedPosition(HorizontalEdge.Right);
                                    })
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(true).FileName("DataImport").AllowExportSelectedData(false))
                                    .OnExporting("OnExporting")
                                    .OnExported("OnExported")
                    )
                </div>
            </div>
            <div id="tab_installbase" class="tab-pane fade">
                <div class="row">
                    @(Html.DevExtreme().DataGrid()
                                                .ID("grid-container2")
                                                .ShowBorders(true)
                                                .ShowRowLines(true)
                                                .HoverStateEnabled(false)
                                                .RowAlternationEnabled(false)
                                                .AllowColumnResizing(true)
                                                .DataSource(d => d.WebApi().Controller("InstallBase")
                                                                            .LoadAction("GetInstallBase")
                                                                            .Key("id_installbase")
                                                )
                                                .RemoteOperations(true)
                                                .OnCellPrepared("cell_prepared")
                                                .FilterRow(filterRow => filterRow
                                                .Visible(true)
                                                .ApplyFilter(GridApplyFilterMode.Auto)
                                                )
                                                //.HeaderFilter(headerFilter => headerFilter.Visible(true))
                                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("InstallBase2Index"))
                                                .Columns(columns =>
                                                {
                                                    columns.Add().DataField("filename_installbase").Caption("File Name");
                                                    columns.Add().DataField("tmstupload_installbase").Caption("Upload at").Width("150");
                                                    columns.Add().DataField("tmstprocess_installbase").Caption("Process at").Width("150");
                                                    columns.Add().DataField("note_installbase").Caption("Note");
                                                    columns.Add().DataField("status_installbase").HeaderCellTemplate("<b>INSTALL<br>BASE</b>").Alignment(HorizontalAlignment.Center).Name("status_installbase").Width("200");
                                                })
                                                .Paging(p => p.PageSize(10))
                                                .Pager(pager =>
                                                {
                                                    pager.ShowPageSizeSelector(true);
                                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                                    pager.ShowInfo(true);
                                                    pager.InfoText("page {0} of {1} ({2} records)");
                                                    pager.ShowNavigationButtons(true);
                                                })
                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().Button()
                                                            .Icon("tips")
                                                            .Text("Data Status")
                                                            .OnClick("doDataStatusRequest")
                                                            .Type(ButtonType.Normal)
                                                            .Width(220)
            )
            @(Html.DevExtreme().Button()
                                                            .Icon("message")
                                                            .Text("Reminder Upload")
                                                            .OnClick("doReminderUploadRequest")
                                                            .Type(ButtonType.Normal)
                                                            .Width(220)
                                                            .Visible(User.IsInRole(Lookup.Role_Admin))
            )
        </div>

        <div class="modal fade" id="InstrumentOptionsModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="titleInstrumentOptions">...instrument...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-md-push-1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optInstrument" value="DELETE">Delete Instrument</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input type="radio" name="optInstrument" value="DISMISS">Dismiss Instrument at</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        @(Html.DevExtreme().DateBox()
                                                        .ID("DismissDate")
                                                        .Value(DateTime.Now)
                                                        .Min(DateTime.Now)
                                                        .DisplayFormat("dd/MM/yyyy")
                                        )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input type="radio" name="optInstrument" value="RESET">Reset Instrument</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        @(Html.DevExtreme().DateBox()
                                                        .ID("ResetDate")
                                                        .Value(DateTime.Now)
                                                        //.Min(DateTime.Now)
                                                        .DisplayFormat("dd/MM/yyyy")
                                        )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input type="radio" name="optInstrument" value="DISPOSAL">Administrative Disposal at</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        @(Html.DevExtreme().DateBox()
                                                        .ID("DisposalDate")
                                                        .Value(DateTime.Now)
                                                        //.Min(DateTime.Now)
                                                        .DisplayFormat("dd/MM/yyyy")
                                        )
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="btnProcessOptInstrument">Process</button>
                    </div>
                </div>
            </div>
        </div>
</form>

