﻿@model WebApp.Entity.InstrumentUpdateRequestDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Instrument Update Request";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .codeInfo {
        font-size: 16px;
        font-weight: bold !important;
    }

    .fieldInfo {
        font-size: 16px;
    }

    .well div.form-group {
        margin-bottom: 0px;
    }

    .well {
        padding-top: 5px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }
</style>

<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });

    function doSave() {

        var msg = "";
        var DTO = new Object();

        DTO.Operation = $("#OperationType").dxSelectBox("instance").option('value');
        if ((DTO.Operation || "") == "") {
            bootbox.alert("The Operation Type is required.");
            return false;
        }

        DTO.SerialNumber = '@Model.SerialNumber';
        msg += "Serial Number: <b>" + DTO.SerialNumber + "</b><br/>";
        msg += "Operation: <b>" + DTO.Operation + "</b><br/></br>";

        if ($("#divRequestNewSiteCode").is(":visible")) {
            DTO.NewSiteCode = $("#RequestNewSiteCode").dxTextBox("instance").option('value');
            if ((DTO.NewSiteCode || "") == "") {
                bootbox.alert("The New Site Code field is required.");
                return false;
            }
            if ((DTO.NewSiteCode || "").length > 17) {
                bootbox.alert("The field New Site Code must be a string with a maximum length of 17.");
                return false;
            }

            // ?? Controllo esistenza
            var myArray = [];
            @foreach (var d in Model.sites)
            {
                @:myArray.push("@d.id");
            }
            //console.log(DTO.NewSiteCode.toLowerCase());
            //for (var i = 0; i < myArray.length; i++) {
            //    console.log((myArray[i]).toLowerCase());
            //}
            for (var i = 0; i < myArray.length; i++) {
                if (myArray[i].toLowerCase() == DTO.NewSiteCode.toLowerCase() || myArray[i].toLowerCase() == ('@Lookup.Instrument_SGAT_NewSitePrefix' + DTO.NewSiteCode).toLowerCase()) {
                    bootbox.alert("The New Site Code already exists.");
                    return false;
                }
            }
            msg += "New site code: <b>" + DTO.NewSiteCode + "</b><br/>";
        }
        if ($("#divRequestSiteCode").is(":visible")) {
            DTO.ExistingSiteCode = $("#RequestSiteCode").dxLookup("instance").option('value');
            DTO.ExistingSiteDesc = $("#RequestSiteCode").dxLookup("instance").option('text');
            if ((DTO.ExistingSiteCode || "") == "") {
                bootbox.alert("The Existing Site field is required.");
                return false;
            }
            msg += "Existing site: <b>" + DTO.ExistingSiteDesc + "</b><br/>";
        }

        if ($("#divRequestSiteDescription").is(":visible")) {
            DTO.SiteDescription = $("#RequestSiteDescription").dxTextBox("instance").option('value');
            if ((DTO.SiteDescription || "") == "") {
                bootbox.alert("The Site Name field is required.");
                return false;
            }
            if (DTO.SiteDescription.length > 200) {
                bootbox.alert("The field Site Name must be a string with a maximum length of 200.");
                return false;
            }
            msg += "Site name: <b>" + DTO.SiteDescription + "</b><br/>";
        }
        if ($("#divRequestVersion").is(":visible")) {
            //DTO.Version = $("#RequestVersion").dxTextBox("instance").option('value');
            DTO.Version = $("#RequestVersion").dxLookup("instance").option('value');
            DTO.VersionDesc = $("#RequestVersion").dxLookup("instance").option('text');
            if ((DTO.Version || "") == "") {
                bootbox.alert("The Version field is required.");
                return false;
            }
            //if (DTO.Version.length > 45) {
            //    bootbox.alert("The field Versione must be a string with a maximum length of 45.");
            //    return false;
            //}
            msg += "Version: <b>" + DTO.VersionDesc + "</b><br/>";
        }
        if ($("#divRequestSiteCity").is(":visible")) {
            DTO.SiteCity = ($("#RequestSiteCity").dxTextBox("instance").option('value') || "");
            if ((DTO.SiteCity || "") == "") {
                bootbox.alert("The Site City field is required.");
                return false;
            }
            if (DTO.SiteCity.length > 100) {
                bootbox.alert("The field Site City must be a string with a maximum length of 100.");
                return false;
            }
            msg += "City name: <b>" + DTO.SiteCity + "</b><br/>";
        }
        if ($("#divRequestCountry").is(":visible")) {
            DTO.Country = $("#RequestCountry").dxLookup("instance").option('value');
            DTO.CountryDesc = $("#RequestCountry").dxLookup("instance").option('text');
            if ((DTO.Country || "") == "") {
                bootbox.alert("The Country field is required.");
                return false;
            }
            msg += "Country: <b>" + DTO.CountryDesc + "</b><br/>";
        }
        if ($("#divCommercialStatus").is(":visible")) {
            DTO.CommercialStatus = $("#RequestCommercialStatus").dxLookup("instance").option('value');
            if ((DTO.CommercialStatus || "") == "") {
                bootbox.alert("The Commercial Status field is required.");
                return false;
            }
            msg += "Commercial status: <b>" + DTO.CommercialStatus + "</b><br/>";
        }

        msg = "Confirm Update?<br/><br/>" + msg;

        bootbox.confirm(msg, function (result) {
            if (result) {
                $("#loadPanel").dxLoadPanel("instance").show();
                var dataToSend = JSON.stringify(DTO);
                $.ajax({
                    url: '@Url.Action("CreateInstrumentUpdateRequestJSON")',
                    type: 'POST',
                    data: dataToSend,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr, statusText) {
                        DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                    },
                    success: function (data) {
                        if ((data || "") == "") {
                            DevExpress.ui.notify("Operation successful.");
                            $("#gestione").submit();
                        } else {
                            bootbox.alert(data);
                        }
                    }
                }).always(function (data) {
                    //
                    $("#loadPanel").dxLoadPanel("instance").hide();
                });
            }
        });
        return false;
    }

    function onCellPrepared(options) {
        if (options.rowType == 'data' && options.column.name && options.column.name == "cmd") {
            var fieldHtml = "";
            if (options.data.Status == "@Lookup.ProcessRequest_Status_NEW") {
                fieldHtml = "<a href='#' onclick='goDelete(" + options.value + ");' class='glyphicon glyphicon-trash cmdDelete' title='Remove'></a>&nbsp;";
            }
            options.cellElement.html(fieldHtml);
        }
    }

    function goDelete(Id) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteInstrumentUpdateRequest")',
                    data: { Id: Id },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        $("#gestione").submit();
                    },
                    error: function (xhr, statusText) {
                        DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                    }
                });
            }
        });
        return false;
    }

    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 5000);
    }
    function OperationType_OnValueChange(e) {
        $("#divRequestNewSiteCode").hide();
        $("#divRequestSiteCode").hide();
        $("#divRequestSiteDescription").hide();
        $("#divRequestSiteCity").hide();
        $("#divRequestVersion").hide();
        $("#divCommercialStatus").hide();
        $("#divRequestCountry").hide();
        if (e.value == '@Lookup.Instrument_InstrumentUpdateRequest_OptCurrentSite') {
            $("#divRequestVersion").show();
            $("#divCommercialStatus").show();
        }
        if (e.value == '@Lookup.Instrument_InstrumentUpdateRequest_OptChangeSite') {
            $("#divRequestVersion").show();
            $("#divRequestSiteCode").show();
            $("#divCommercialStatus").show();
        }
        if (e.value == '@Lookup.Instrument_InstrumentUpdateRequest_OptNewSite') {
            $("#divRequestNewSiteCode").show();
            $("#divRequestSiteDescription").show();
            $("#divRequestSiteCity").show();
            $("#divRequestVersion").show();
            $("#divRequestCountry").show();
            $("#divCommercialStatus").show();
        }
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" class="goback">goback</a>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "gestione" }))
{

    <h4>@ViewData["Title"]</h4>
    <hr />

    @(Html.DevExtreme().LoadPanel()
                        .ID("loadPanel")
                        .ShadingColor("rgba(0,0,0,0.2)")
                        .Visible(false)
                        .ShowIndicator(true)
                        .ShowPane(true)
                        .Shading(true)
                        .Message("Saving...")
                        .CloseOnOutsideClick(true)
                        .OnShown("loadPanel_shown")
    )

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SerialNumber);

    <div class="container">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <span class="form-label">Instrument</span>
                        @(Html.DevExtreme().TextBox().Value(Model.SerialNumber).ReadOnly(true).ElementAttr("class", "codeInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-4">
                        <span class="form-label">Customer</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.CompanyName).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-4">
                        <span class="form-label">Country</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.SiteCountry).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <span class="form-label">Commercial Entity</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.CommercialEntity).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-4">
                        <span class="form-label">Site</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.SiteDescription).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-4">
                        <span class="form-label">City</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.SiteCity).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <span class="form-label">Commercial Status</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.CommercialStatus).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-4">
                        <span class="form-label">Model Type</span>
                        @(Html.DevExtreme().TextBox().Value(Model.InstrumentData.ModelTypeDeco).ReadOnly(true).ElementAttr("class", "fieldInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 well">
                <fieldset>
                    
                </fieldset>
                <div class="form-group" style="margin-bottom: 20px;">
                    <div class="col-md-4">
                        <legend>Select Operation Type, insert instrument informations and press Save</legend>
                        @(Html.DevExtreme().SelectBox()
                                            .DataSource(new[] { Lookup.Instrument_InstrumentUpdateRequest_OptCurrentSite,
                                                                Lookup.Instrument_InstrumentUpdateRequest_OptChangeSite,
                                                                Lookup.Instrument_InstrumentUpdateRequest_OptNewSite })
                                            .ID("OperationType")
                                            .Placeholder("Operation Type")
                                            .OnValueChanged("OperationType_OnValueChange")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3" id="divRequestNewSiteCode" hidden>
                        <span class="form-label">New Site Code</span>
                        @(Html.DevExtreme().TextBox().Value(Model.RequestNewSiteCode).ID("RequestNewSiteCode"))
                    </div>
                    <div class="col-md-6" id="divRequestSiteCode" hidden>
                        <span class="form-label">Existing Site</span>
                        @(Html.DevExtreme().Lookup()
                                                            .ID("RequestSiteCode")
                                                            .DataSource(Model.sites)
                                                            .ShowPopupTitle(false)
                                                            .ValueExpr("id")
                                                            .DisplayExpr("descrizione")
                                                            .Placeholder("select...")
                                                            .SearchPlaceholder("search")
                                                            .CancelButtonText("Cancel")
                                                            .Value(Model.RequestSiteCode)
                        )
                    </div>
                    <div class="col-md-6" id="divRequestSiteDescription" hidden>
                        <span class="form-label">Site Name</span>
                        @(Html.DevExtreme().TextBox().Value(Model.RequestSiteDescription).ID("RequestSiteDescription"))
                    </div>
                    <div class="col-md-3" id="divRequestVersion" hidden>
                        <span class="form-label">Version</span>
                        @*@(Html.DevExtreme().TextBox().Value(Model.RequestVersion).ID("RequestVersion"))*@
                        @(Html.DevExtreme().Lookup()
                                                            .ID("RequestVersion")
                                                            .DataSource(Model.versions)
                                                            .ShowPopupTitle(false)
                                                            .ValueExpr("id")
                                                            .DisplayExpr("descrizione")
                                                            .Placeholder("select...")
                                                            .SearchPlaceholder("search")
                                                            .CancelButtonText("Cancel")
                                                            .Value(Model.RequestVersion)
                        )
                    </div>
                    <div class="col-md-6" id="divRequestSiteCity" hidden>
                        <span class="form-label">City Name</span>
                        @(Html.DevExtreme().TextBox().Value(Model.RequestSiteCity).ID("RequestSiteCity"))
                    </div>
                    <div class="col-md-6" id="divRequestCountry" hidden>
                        <span class="form-label">Country</span>
                        @(Html.DevExtreme().Lookup()
                                        .ID("RequestCountry")
                                        .DataSource(Model.countries)
                                        .ShowPopupTitle(false)
                                        .ValueExpr("id")
                                        .DisplayExpr("descrizione")
                                        //.ValueExpr("Country")
                                        //.DisplayExpr("Country")
                                        .Placeholder("select...")
                                        .SearchPlaceholder("search")
                                        .CancelButtonText("Cancel")
                                        .ShowClearButton(true)
                                        //.ClearButtonText("Remove Sel.")
                        )
                    </div>
                    <div class="col-md-8" id="divCommercialStatus" hidden>
                        <span class="form-label">Commercial Status</span>
                        @(Html.DevExtreme().LookupFor(m => m.commercialStatuses)
                                                                            .ID("RequestCommercialStatus")
                                                                            .DataSource(Model.commercialStatuses)
                                                                            .ShowPopupTitle(false)
                                                                            .ValueExpr("CommercialStatus")
                                                                            .DisplayExpr("CommercialStatus")
                                                                            .Placeholder("select...")
                                                                            .SearchPlaceholder("search")
                                                                            .CancelButtonText("Cancel")
                                                                            .ShowClearButton(true)
                                                                            .ShowCancelButton(false)
                                                                            .ClearButtonText("Remove Sel.")
                                                                            .Value(null)
                        )
                    </div>
                </div>
                <br />
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                                            .Icon("save")
                                                            .Hint("Save instrument informations")
                                                            .Text("Save")
                                                            .Type(ButtonType.Success)
                                                            .OnClick("doSave")
                    )
                </div>
            </div>
        </div>
        <hr />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <small><b>Changes History</b></small>
            @(Html.DevExtreme().DataGrid()
                                            .ID("grid-container")
                                            .ShowBorders(true)
                                            .ShowRowLines(true)
                                            //.HoverStateEnabled(true)
                                            .RowAlternationEnabled(false)
                                            .AllowColumnResizing(false)
                                            .DataSource(d => d.WebApi().LoadAction("GetInstrumentUpdateRequests").Key("Id")
                                                    .LoadParams(new { SerialNumber = Model.SerialNumber })
                                            )
                                            .RemoteOperations(true)
                                            .Selection(s => s.Mode(SelectionMode.None))
                                            .AllowColumnResizing(true)
                                            .OnCellPrepared("onCellPrepared")
                                            .Columns(columns =>
                                            {
                                                columns.Add().DataField("Id").Visible(false).SortIndex(1).SortOrder(SortOrder.Desc);
                                                columns.Add().DataField("TmstInseDeco").Caption("Date/Time").CalculateSortValue("TmstInseSort")
                                                                                       .Alignment(HorizontalAlignment.Center).Width("10%");
                                                columns.Add().DataField("paramsInstrumentUpdate.NewSiteCode").Caption("New Site Code").Width("10%");
                                                columns.Add().DataField("paramsInstrumentUpdate.SiteDescription").Caption("Site").Width("15%");
                                                columns.Add().DataField("paramsInstrumentUpdate.SiteCity").Caption("City").Width("12%");
                                                columns.Add().DataField("paramsInstrumentUpdate.VersionDesc").Caption("Version").Width("8%");
                                                columns.Add().DataField("paramsInstrumentUpdate.CommercialStatus").Caption("Commercial Status").Width("30%");
                                                columns.Add().DataField("paramsInstrumentUpdate.CountryDesc").Caption("Country").Width("10%");
                                                columns.Add().DataField("UserInse").Caption("User").Width("8%");
                                                //columns.Add().DataField("Status").Caption("Status").Alignment(HorizontalAlignment.Center).Width("8%");
                                                //columns.Add().DataField("NoteExec").Caption("Note").Width("20%");
                                                //columns.Add().Alignment(HorizontalAlignment.Center).Width("4%").DataField("Id").Caption("")
                                                //            .AllowFiltering(false).AllowSorting(false).AllowEditing(false).AllowExporting(false)
                                                //            .Name("cmd");
                                            })
                                            .Paging(p => p.PageSize(10))
                                            .Pager(pager =>
                                            {
                                                pager.ShowPageSizeSelector(true);
                                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                                pager.ShowInfo(true);
                                                pager.InfoText("page {0} of {1} ({2} records)");
                                                pager.ShowNavigationButtons(true);
                                            })
            )
        </div>
    </div>
    <div class="row">
        <a asp-action="Index" class="goback">goback</a>
    </div>
}

