@model WebApp.Entity.EmailTemplate
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit Email Template";
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<style type="text/css">
    body {
        background-color: white;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            initEmailBodyField('Body');
        });
    });

    function doSave() {
        if ($('#Body').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        $("#gestione").submit();
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="ManageEmailTemplates" class="goback">goback</a>
    </div>
</div>

<form asp-action="EditEmailTemplate" id="gestione">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmailTemplateId" />

        <div class="form-group">
            <label asp-for="EmailTemplateId" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="EmailTemplateId" style="max-width:95%;" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Subject" style="max-width:70%;" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Body)
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="buttons pull-right">
                    @(Html.DevExtreme().Button()
                                            .Icon("save")
                                            .Hint("Save")
                                            .Text("Save")
                                            .Type(ButtonType.Success)
                                            .OnClick("doSave")
                    )
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
