
@{
    ViewData["Title"] = "Manage Email Templates";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 10px !important;
    }

    .sezioneRiepilogo {
        background-color: rgba(191, 191, 191, 0.15);
        padding: 10px;
    }

</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $("#list").attr("action",  '@Url.Action("CreateEmailTemplate")');
        $("#list").submit();
        return false;
    }

    function goEdit(id) {
        $("#list").attr("action", '@Url.Action("EditEmailTemplate")/' + id);
        $("#list").submit();
        return false;
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        var bError = false;
        $.each(dataGrid.getSelectedRowKeys(), function () {
            if (this.startsWith("_")) {
                bootbox.alert("Email '" + this + "' is not deletable!");
                bError = true;
                return false;
            }
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (bError) return false;

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteEmailTemplate")',
                        type: 'POST',
                        data: { chiavi: chiavi },
                        success: function (data) {
                            if (data != "") {
                                bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                            } else {
                                $("form").submit();
                            }
                        }
                    });
                }
            });
        }
    }

</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form id="list">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                    .Icon("add")
                                    .Hint("Add New Email Template")
                                    .OnClick("goAdd")
                    )
                    @(Html.DevExtreme().Button()
                                        .Icon("export")
                                        .Hint("Export to Excel")
                                        .OnClick("goExport")
                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
        .ID("grid-container")
                .ShowBorders(true)
                .ShowRowLines(true)
                .HoverStateEnabled(false)
                .RowAlternationEnabled(true)
                .AllowColumnResizing(true)
                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                .DataSource(d => d.Mvc()
                    .Controller("TRegistry")
                    .LoadAction("GetEmailTemplates")
                    .Key("emailTemplateId")
                )
                .RemoteOperations(true)
                .Columns(columns =>
                {
                columns.Add().DataField("emailTemplateId").Caption("Email Code").Width("15%");
                columns.Add().DataField("description").Caption("Description").Width("25%");
                columns.Add().DataField("subject").Caption("Subject");
                columns.Add()
                    .Alignment(HorizontalAlignment.Center)
                    .Width(80)
                    .DataField("emailTemplateId")
                    .AllowFiltering(false)
                    .AllowSorting(false)
                    .AllowEditing(false)
                    .AllowExporting(false)
                    .Caption("")
                    .CellTemplate(@<div>
                                    <a href="#" onclick="goEdit('<%= value %>');" class="dx-icon-edit" title="Edit"></a>
                    </div>);
                })
                .MasterDetail(md =>
                {
                md.Enabled(true);
                md.Template(@<text>
                        <div class="internal-grid-container" title="">
                            <div class="row">
                                <div class="col-md-12"><span style="white-space: normal;"><%= data.body %></span></div>
                            </div>
                        </div>
                        </text>);
                    })
            .Paging(p => p.PageSize(10))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                pager.ShowInfo(true);
                pager.InfoText("page {0} of {1} ({2} records)");
                pager.ShowNavigationButtons(true);
            })
            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
            .Export(e => e.Enabled(true).FileName("EmailTemplates"))
            .LoadPanel(l => l.Enabled("auto").Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
            .Icon("trash")
            .Hint("Remove Selected Records")
            .OnClick("goRemove")
            .Text("Remove selected records")
            .Type(ButtonType.Normal)
        )
    </div>
    <br />
    <br />
</form>
