@model WebApp.Entity.TrainingTypeOfParticipant

@{
    ViewData["Title"] = "Manage Types of Participant";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
    .dx-highlight-outline {
        all: unset;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newId = $("#Id").val();
        if (newId == "") {
            bootbox.alert("The Type Of Participant field is required");
            return false;
        } 
        $.ajax({
            url: '@Url.Action("CreateTypeOfParticipant")',
            type: 'POST',
            data: { TypeOfParticipant: newId  },
            success: function (data) {
                if (data != "") {
                    bootbox.alert(data);
                } else {
                    $("form").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteTypeOfParticipant")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                        } else {
                            $("form").submit();
                        }
                    }
                });
            }
        });
        }
    }

</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                            .Icon("add")
                            .Hint("Add New Type Of Participant")
                            .OnClick("goAdd")

                    )
                    @(Html.DevExtreme().Button()
                            .Icon("export")
                            .Hint("Export to Excel")
                            .OnClick("goExport")

                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(false)
                    .RowAlternationEnabled(true)
                    .AllowColumnResizing(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                    .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(true);
                    })
                    .DataSource(d => d.Mvc()
                        .Controller("TRegistry")
                        .LoadAction("GetTypeOfParticipants")
                        .Key("id")
                        .UpdateAction("UpdateTypeOfParticipants")
                    )
                    .RemoteOperations(true)
                    .Columns(columns =>
                    {
                        columns.Add().DataField("id").Caption("Type of Participant").AllowEditing(true).Width("85%");
                        columns.Add().DataField("italian").Caption("Italian Participant").AllowEditing(true).Width("15%");
                    })
                    .OnDataErrorOccurred("Data_Error")
                    .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                    )
                    .Export(e => e.Enabled(true).FileName("TrainingTypeOfParticipants"))
                    .LoadPanel(l => l.Enabled("auto").Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
            .Icon("trash")
            .Hint("Remove Selected Records")
            .OnClick("goRemove")
            .Text("Remove selected records")
            .Type(ButtonType.Normal)

        )
        @(Html.DevExtreme().Button()
                                .Icon("save")
                                .Hint("Save Changes")
                                .Text("Save")
                                .Type(ButtonType.Success)
                                .OnClick("doSave")
        )
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Type Of Participant</h4>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <div class="form-group">
                        <label asp-for="Id" class="col-md-12 control-label required"></label>
                        <div class="col-md-12">
                            <input asp-for="Id" class="form-control" style="max-width:95%;" placeholder="Enter New Type Of Participant" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>
</form>
