@model WebApp.Entity.TrainingCalendar
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Upload Training Calendar";
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>


<style type="text/css">
    body {
        background-color: white;
    }

    .prova {
        background-color: red;
    }
</style>

<script type="text/javascript">
    function doSave() {
        @*alert("inserire controllo file !!!");*@
        $("#gestione").attr("action",'@Url.Action("ManageCalendar")');
        $("#gestione").attr("method", "POST");
        $("#gestione").submit();
        return false;
    }

    function goDownload() {
        $("#gestione").attr("action", '@Url.Action("downloadCalendar")');
        $("#gestione").submit();
        return false;
    }

</script>

<form id="gestione" asp-action="ManageCalendar" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <hr />
        <br />
        <br />
        <div class="container">
            <div class="col-md-10 col-sm-12 col-md-push-1 well" style="padding-bottom: 5px;">
                <div class="form-group">
                    <label class="col-md-2 control-label">Current Training Calendar</label>
                    <div class="col-md-10">
                        @if (!string.IsNullOrWhiteSpace(Model.CalendarFileName))
                        {
                            <a href="#" onclick="goDownload();" style="font-size: 14px; word-wrap: break-word; white-space: normal;"
                               class="btn btn-link btn-xs" title="Download">@Model.CalendarFileName</a>
                        }
                        else
                        {
                            <span class="h3">Not Loaded!</span>
                        }
                    </div>
                </div>
                <div class="empty_row">&nbsp;</div>
                <div class="form-group">
                    <label class="col-md-2 control-label">New Training Calendar</label>
                    <div class="col-md-8">
                        <input type="file" id="file" name="file" class="filestyle" data-text="Select File" data-classInput="prova"
                               data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No File"
                               accept=".pdf">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11">
                    <div class="buttons pull-right">
                        @(Html.DevExtreme().Button()
                                    .Icon("save")
                                    .Hint("save")
                                    .Text("save")
                                    .Type(ButtonType.Success)
                                    .OnClick("doSave")
                        )
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="empty_row"></div>
</form>


