@model WebApp.Entity.TrainingType

@{
    ViewData["Title"] = "Manage Training Types";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }
    #titolo_upload {
        font-weight: bold;
    }

    .dx-highlight-outline {
        all: unset;
    }

</style>


<script type="text/javascript">
    var msgUploadFileOk = "";
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";
    var selTrainingTypeId = 0;

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("form").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }

    function goAdd() {
        $('#myModal').modal('toggle');
    }

    function goCreate() {
        var newDesc = $("#Description").val();
        if (newDesc == "") {
            bootbox.alert("The Description field is required");
            return false;
        } 
        $.ajax({
            url: '@Url.Action("CreateTrainingType")',
            type: 'POST',
            data: { Description: newDesc },
            success: function (data) {
                if (data != "") {
                    bootbox.alert(data);
                    // bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                } else {
                    $("form").submit();
                }
            }
        });
    }

    function goRemove() {
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        var chiavi = "";
        var sep = "";
        $.each(dataGrid.getSelectedRowKeys(), function () {
            chiavi = chiavi + sep + this;
            sep = "|";
        });

        if (chiavi.length == 0) {
            bootbox.alert("No records selected");
        } else {
            bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteTrainingType")',
                    type: 'POST',
                    data: { chiavi : chiavi },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert({ message: data, callback: function () { $("form").submit(); } });
                        } else {
                            $("form").submit();
                        }
                    }
                });
            }
        });
        }
    }

    function goDownload(id, fileType) {
        $("#fileType").val(fileType);
        $("form").attr("action", '@Url.Action("downloadFile")/' + id);
        $("form").submit();
        return false;
    }

    function getFileUploaderInstance() {
        return $("#file-uploader").dxFileUploader("instance");
    }

    function goUpload(id, fileType) {
        var uploader = getFileUploaderInstance();
        msgUploadFileOk = "";
        if (fileType == 'C') {
            msgUploadFileOk = "Certificate Template uploaded!";
            $('#titolo_upload').text("Upload Certificate Template");
        }
        if (fileType == 'A') {
            msgUploadFileOk = "Agenda uploaded!";
            $('#titolo_upload').text("Upload Agenda Sample");
        }
        if (fileType == 'P') {
            msgUploadFileOk = "Training Portfolio uploaded!";
            $('#titolo_upload').text("Upload Training Portfolio");
        }
        if (msgUploadFileOk != "") {
            uploader.option("value", "");
            var url = uploader.option("uploadUrl");
            url = updateQueryStringParameter(url, "TrainingTypeId", id);
            url = updateQueryStringParameter(url, "fileType", fileType);
            uploader.option("uploadUrl", url);
            $('#DivUpload').modal({
                keyboard: true
            }, 'show');
        } 
        return false;
    }

    function UploadFile_onUploaded(e) {
        $('#DivUpload').modal("hide");  
        getDataGridInstance().refresh();
        DevExpress.ui.notify((msgUploadFileOk || "File Uploaded"), "info");
    }
</script>

@(Html.DevExtreme().LoadPanel()
                    .ID("savePanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("Saving...")
                    .CloseOnOutsideClick(false)
)

<form>
    <input type="hidden" name="fileType" id="fileType">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-ticket" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                    .Icon("add")
                                    .Hint("Add New Training Type")
                                    .OnClick("goAdd")
                    )
                    @(Html.DevExtreme().Button()
                                    .Icon("export")
                                    .Hint("Export to Excel")
                                    .OnClick("goExport")
                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(false)
                                .RowAlternationEnabled(true)
                                .AllowColumnResizing(true)
                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                .Selection(selection => selection.Mode(SelectionMode.Multiple).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                                .Editing(editing =>
                                {
                                    editing.Mode(GridEditMode.Batch);
                                    editing.AllowUpdating(true);
                                })
                                .DataSource(d => d.Mvc()
                                    .Controller("TRegistry")
                                    .LoadAction("GetTrainingTypes")
                                    .UpdateAction("UpdateTrainingType")
                                    .Key("trainingTypeId")
                                )
                                .RemoteOperations(true)
                                .Columns(columns =>
                                {
                                columns.Add().DataField("trainingTypeId").Visible(false);
                                columns.Add().DataField("description").Caption("Description").Width("50%");
                                columns.Add().DataField("viewTrainingPortfolio").Width("10%").AllowFiltering(false)
                                             .HeaderCellTemplate("Visible on<br>Training Portfolio");
                                columns.Add()
                                            .Alignment(HorizontalAlignment.Center)
                                            .DataField("trainingPortfolioFileName")
                                            .AllowFiltering(false)
                                            .AllowEditing(false)
                                            .AllowExporting(false)
                                            .Caption("Training Portfolio")
                                            .CellTemplate(@<div>
                                                    <div class="row">
                                                        <div class="col-xs-6 text-center">
                                                            <a href="#" onclick="goUpload('<%= data.trainingTypeId %>', 'P');" style="font-size: 18px;" title="Upload Training Portfolio">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                        <% if (data.trainingPortfolioExist) { %>
                                                        <div class="col-xs-6 text-left">
                                                            <a href="#" onclick="goDownload('<%= data.trainingTypeId %>', 'P');" style="font-size: 14px;" title="Download Training Portfolio">
                                                                <i class="fa fa-tasks"></i>&nbsp;View
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>);
                                        columns.Add()
                                                .Alignment(HorizontalAlignment.Center)
                                                .DataField("agendaFileName")
                                                .AllowFiltering(false)
                                                .AllowEditing(false)
                                                .AllowExporting(false)
                                                .Caption("Agenda Sample")
                                                .CellTemplate(@<div>
                                                    <div class="row">
                                                        <div class="col-xs-6 text-center">
                                                            <a href="#" onclick="goUpload('<%= data.trainingTypeId %>', 'A');" style="font-size: 18px;" title="Upload Agenda Sample">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                        <% if (data.agendaExist) { %>
                                                        <div class="col-xs-6 text-left">
                                                            <a href="#" onclick="goDownload('<%= data.trainingTypeId %>', 'A');" style="font-size: 14px;" title="Download Agenda">
                                                                <i class="fa fa-calendar"></i>&nbsp;View
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>);
                                        columns.Add()
                                                .Alignment(HorizontalAlignment.Center)
                                                .DataField("certificateTemplateFileName")
                                                .AllowFiltering(false)
                                                .AllowEditing(false)
                                                .AllowExporting(false)
                                                .Caption("Certificate Template")
                                                .CellTemplate(@<div>
                                                    <div class="row">
                                                        <div class="col-xs-6 text-center">
                                                            <a href="#" onclick="goUpload('<%= data.trainingTypeId %>', 'C');" style="font-size: 18px;" title="Upload Certificate Template">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                        <% if (data.certificateTemplateExist) { %>
                                                        <div class="col-xs-6 text-left">
                                                            <a href="#" onclick="goDownload('<%= data.trainingTypeId %>', 'C');" style="font-size: 14px;" title="Download Certificate Template">
                                                                <i class="fa fa-download"></i>&nbsp;View
                                                            </a>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>);
                                    })
                                    .OnDataErrorOccurred("Data_Error")
                                    .FilterRow(filterRow => filterRow
                                        .Visible(true)
                                        .ApplyFilter(GridApplyFilterMode.Auto)
                                    )
                                    .Export(e => e.Enabled(true).FileName("TrainingTypes"))
                                    .LoadPanel(l => l.Enabled("auto").Height(70))
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                            .Icon("trash")
                            .Hint("Remove Selected Records")
                            .OnClick("goRemove")
                            .Text("Remove selected records")
                            .Type(ButtonType.Normal)
        )
        @(Html.DevExtreme().Button()
                            .Icon("save")
                            .Hint("Save Changes")
                            .Text("Save")
                            .Type(ButtonType.Success)
                            .OnClick("doSave")
        )
    </div>
    <br />
    <br />

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Training Type</h4>
                </div>
                <div class="modal-body" style="min-height: 120px;">
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-12 control-label required"></label>
                        <div class="col-md-12">
                            <input asp-for="Description" class="form-control" style="max-width:95%;" placeholder="Enter Description New Training Type" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" onclick="goCreate();" value="Create" class="btn btn-success btn-block center-block" />
                </div>
            </div>
        </div>
    </div>

    @*Upload Certifica Template*@
    <div class="modal fade" id="DivUpload" tabindex="-1" role="dialog" aria-labelledby="Upload File" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="titolo_upload">Upload File</h3>
                </div>
                <div class="modal-body">
                    <div id="fileuploader">
                        <div class="widget-container">
                            @(Html.DevExtreme().FileUploader()
                                                .ID("file-uploader")
                                                .Name("myFile")
                                                .Multiple(false)
                                                .Accept("application/pdf")
                                                .UploadMode(FileUploadMode.Instantly)
                                                .UploadUrl(Url.Action("UploadFile"))
                                                .OnUploaded("UploadFile_onUploaded")
                                                .LabelText("Select a file (pdf)")
                                                .SelectButtonText("Select file")
                            )
                            <div class="content" id="selected-files"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

