﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@using WebApp.Classes
@using WebApp.Entity

@{
    ViewData["Title"] = "Log in";

    TrainingCalendar calendar = new TrainingCalendar();
    if (ViewData["Calendar"] != null)
    {
        calendar = (TrainingCalendar)ViewData["Calendar"];
    }
}

<style type="text/css">

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    body {
        padding: 0px 0px 0px 0px;
        overflow: hidden;
    }
    #main {
        position: relative;
        /*color: #f8f8f8;*/
        min-width: 500px;
        min-height: 800px;
    }
    .control-label {
        color: black;
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0px;
        visibility: hidden;
    }
    .boxContainer {
        position: relative;
        top: 200px;
    }
    .boxContainerTraining {
        position: relative;
        top: 200px;
    }
    #loginBox {
        top: 40%;
        left: 50%;
        width: 30em;
        /*height: 18em;*/
        /*background-color: #f8f8f8;*/
        background: rgba(248,248,248, 0.65);
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        display: inline-block;
        border-radius: 25px;
        padding: 20px;
        position: absolute;
        height: 390px;
    }
    #trainingBox {
        top: 40%;
        left: 50%;
        width: 30em;
        background: rgba(248,248,248, 0.65);
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        display: inline-block;
        border-radius: 25px;
        padding: 20px;
        position: absolute;
        height: 180px;
    }
    .link-training {
        font-size: 18px;
        /*font-weight: bold;*/
    }
    .downLoadPortfolio {
        font-size: 16px;
        /*font-variant: small-caps;*/
        /*color: forestgreen;*/
        /*text-shadow: 15px 0 45px #80FF00, 2px 2px 2px rgba(255,255,255,0), 2px 2px 2px rgba(255,255,255,0);*/
        /*font-weight: bold;*/
        margin-left: 20px;
        /*float: right;*/
    }
    .downLoadAgenda {
        font-size: 16px;
        /*text-shadow: 17px 0 45px #408000, 2px 2px 2px rgba(15,24,76,0);*/
        /*font-variant: small-caps;*/
        /*color: brown;*/
        /*font-weight: bold;*/
        margin-left: 20px;
        /*float: right;*/
    }
    .dx-list-item.dx-state-focused,
    .dx-list-item.dx-state-hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
        color: black !important;
    }
    .title-registration {
        font-size: 16px;
        /*text-shadow: 2px 2px yellow;*/
        margin-top: 5px;
    }
</style>

<style type="text/css" media="screen and (min-width:992px)">
    .boxContainer {
        top: 200px;
    }
    .boxContainerTraining {
        top: 200px;
    }
    /*.imgLogoContainer {
        display: normal;
    }*/
    .imgTrainingContainer {
        display: normal
    }
    /*.imgTrainingContainerAlt {
        display: none
    }*/
    #logo {
        width: 300px;
    }
    #loginBox {
        height: 420px;
    }
    #trainingBox {
        height: 420px;
    }
    .title-training {
        font-size: 20px;
        display: normal;    
        margin-bottom: 30px;
    }
</style>

<style type="text/css" media="screen and (max-width:991px)">
    .boxContainer {
        top: 100px;
    }
    .boxContainerTraining {
        top: 530px;
    }
    /*.imgLogoContainer {
        display: none;
    }*/
    .imgTrainingContainer {
        display: none
    }
    /*.imgTrainingContainerAlt {
        display: normal
    }*/
    #logo {
        width: 200px;
    }
    .title-training {
        display: none;
    }
</style>

<script type="text/javascript">
    var goLinkTraining = function () {
        location.href = '@Url.Action("CreateRegistration", "Trainings")';
    }
    function goDownloadCalendar() {
        $("#frm-download").attr("action", '@Url.Action("downloadCalendar", "TRegistry")');
        $("#frm-download").submit();
        return false;
    }
    var goOpenTrainingPortfolio = function() {
        $('#portfoglioPopup').modal('toggle');
    }
     function goDownloadFile(id, fileType) {
        $("#fileType").val(fileType);
        $("#frm-download").attr("action", '@Url.Action("downloadFile", "TRegistry")/' + id);
        $("#frm-download").submit();
        return false;
    } 
    function goDownloadTermAndConditions() {
        $("#frm-download").append('<input type="hidden" name="fileName" value="Terms and conditions.pdf"/> ');
        $("#frm-download").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#frm-download").attr("target", "_blank");
        $("#frm-download").submit();
        $("#frm-download").attr("target", "");    // Ripristino Target
        return false;
    }
</script>

<form id="frm-download">
    <input type="hidden" name="fileType" id="fileType">
</form>
<div id="main">

    <div class="container">
        <div id="sfondoLogin"></div>
        <div class="row">
            <div class="col-md-6">
                @{
                    string ambiente = Lookup.GetEnvironment;
                    if (!string.IsNullOrWhiteSpace(ambiente))
                    {
                        <a class="navbar-brand"><spam class="ambiente">@Lookup.GetEnvironment</spam></a>
                    }
                }
            </div>
            <div class="col-md-6 text-right">
                <p class="h4 page-link">
                    <a href="#" onclick="goDownloadTermAndConditions();" style="font-size: large;" title="Terms and conditions">
                        Terms and conditions
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 boxContainer">
                <div id="loginBox">
                    <div class="imgLogoContainer" style="margin-bottom: 35px;">
                        <img id="logo" src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" style="margin:auto; display:block" />
                    </div>
                    <div class="center-block">
                        <section>
                            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" 
                                  method="post" class="form-horizontal" style="min-height: 220px;">
                                @*<div asp-validation-summary="All" class="text-danger" style="min-height: 30px;"></div>*@
                                <div class="form-group">
                                    <label asp-for="Email" class="col-xs-4 control-label"></label>
                                    <div class="col-xs-7">
                                        <input asp-for="Email" class="form-control"/>
                                        <span asp-validation-for="Email" class="text-danger" style="font-size: 12px;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-xs-4 control-label"></label>
                                    <div class="col-xs-7">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger" style="font-size: 12px;"></span>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-xs-9 col-xs-push-2">
                                        <input asp-for="Email" class="form-control" placeholder="Username/Email"/>
                                        <span asp-validation-for="Email" class="text-danger" style="font-size: 12px;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-9 col-xs-push-2">
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger" style="font-size: 12px;"></span>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox col-xs-6">
                                            <label class="control-label" asp-for="RememberMe">
                                                <input asp-for="RememberMe" />
                                                @Html.DisplayNameFor(m => m.RememberMe)
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                                <button type="submit" class="btn btn-success" style="width:80%;">Log in</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <a asp-area="" asp-controller="Account" asp-action="ForgotPassword" style="font-size:12px;">Forgot your password?</a>
                                </div>
                            </form>
                            <div class="row text-center">
                                <a asp-area="" asp-controller="Account" asp-action="Register" class="title-registration btn btn-default">Click here to register to @Lookup.GetAppTitle</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 boxContainerTraining">
                <div id="trainingBox">
                    <div class="text-center title-training"><strong>TRAINING REGISTRATION FORM</strong></div>
                    <div class="row">
                        <div onclick="goLinkTraining();" class="text-center" style="cursor: pointer;">
                            <div class="imgTrainingContainer">
                                <img src="~/images/RegistrationForm.png" alt="Training Registration Form" style="margin:auto; width:120px;display:block" />
                            </div>
                            <div class="empty_row">&nbsp;</div>
                            <spam class="btn btn-link link-training" style="font-weight: bold;">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;Click here to enrol for training
                            </spam>
                        </div>
                        <div class="empty_row">&nbsp;</div>
                        <div class="text-center">
                            <spam class="btn btn-link link-training" onclick="goOpenTrainingPortfolio();">
                                <i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;Training Portfolio
                            </spam>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(calendar.CalendarFileName) && calendar.CalendarExist)
                        {
                            <div class="empty_row">&nbsp;</div>
                            <div class="row">
                                <div class="text-center">
                                    <spam class="btn btn-link link-training" onclick="goDownloadCalendar();">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Training Calendar
                                    </spam>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="imgTrainingContainerAlt text-center">
                    <spam class="h2">Training Registration Form</spam>
                </div>*@
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<div class="modal fade" id="portfoglioPopup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Training Portfolio</h3>
            </div>
            <div class="modal-body">
                <div class="widget-container">
                    <div class="row">
                        @(Html.DevExtreme().List()
                                .ID("cmbPortfolio")
                                .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetTrainingTypesPortfolio")
                                        .Key("TrainingTypeId"))
                                .HoverStateEnabled(false)
                                //.Height(500)
                                //.UseNativeScrolling(true)
                                .ItemTemplate(@<text>
                                    <div>
                                        <span style="font-size: 15px;"><b><%= Description %></b></span>
                                        <% if (TrainingPortfolioExist) { %>
                                        <span class="downLoadPortfolio">
                                            <a href="#" onclick="goDownloadFile('<%= TrainingTypeId %>', 'P');"  title="Download Training Portfolio">
                                                <i class="fa fa-tasks"></i>&nbsp;Training Portfolio
                                            </a>
                                        </span>
                                        <% } %>
                                        <% if (AgendaExist) { %>
                                        <span class="downLoadAgenda">
                                            <a href="#" onclick="goDownloadFile('<%= TrainingTypeId %>', 'A');" title="Download Agenda">
                                                <i class="fa fa-calendar"></i>&nbsp;Agenda
                                            </a>
                                        </span>
                                        <% } %>
                                    </div>
                                </text>)
                        .NoDataText("No data")
                        )
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
