﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@using WebApp.Classes

@{
    ViewData["Title"] = "Log in";
}

<style type="text/css">

    div.container.body-content {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    body {
        padding: 0px 0px 0px 0px;
        overflow: hidden;
    }

    #main {
        position: relative;
        /*color: #f8f8f8;*/
        min-width: 500px;
        min-height: 800px;
    }

    .control-label {
        color: black;
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0px;
        visibility: hidden;
    }

    .boxContainer {
        position: relative;
        top: 200px;
    }

    .boxContainerTraining {
        position: relative;
        top: 200px;
    }

    #loginBox {
        top: 40%;
        left: 50%;
        width: 30em;
        /*height: 18em;*/
        /*background-color: #f8f8f8;*/
        background: rgba(248,248,248, 0.65);
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        display: inline-block;
        border-radius: 25px;
        padding: 20px;
        position: absolute;
    }

    #trainingBox {
        top: 40%;
        left: 50%;
        width: 30em;
        background: rgba(248,248,248, 0.65);
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        display: inline-block;
        border-radius: 25px;
        padding: 20px;
        position: absolute;
    }

</style>

<style type="text/css" media="screen and (min-width:992px)">
    .boxContainer {
        top: 200px;
    }

    .boxContainerTraining {
        top: 200px;
    }
    /*.imgLogoContainer {
        display: normal;
    }*/

</style>

<style type="text/css" media="screen and (max-width:991px)">
    .boxContainer {
        top: 100px;
    }

    .boxContainerTraining {
        top: 500px;
    }

    /*.imgLogoContainer {
        display: none;
    }*/

</style>

<script type="text/javascript">
    var goLinkTraining = function () {
        location.href = '@Url.Action("CreateRegistration", "Trainings")';
    }
</script>

<div id="main">

    <div class="container">
        <div id="sfondoLogin"></div>
        <div class="row">
            @{
                string ambiente = Lookup.GetEnvironment;
                if (!string.IsNullOrWhiteSpace(ambiente))
                {
                    <a class="navbar-brand"><spam class="ambiente">@Lookup.GetEnvironment</spam></a>
                }
            }
            <div class="pull-right">
                <a asp-area="" asp-controller="Account" asp-action="Register">Registration</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 boxContainer">
                <div id="loginBox">
                    <div class="imgLogoContainer">
                        <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" style="margin:auto; width:300px;display:block" />
                    </div>
                    @*<div class="empty_row">&nbsp;</div>*@
                    <div class="center-block">
                        <section>
                            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email" class="col-md-4 control-label"></label>
                                    <div class="col-md-7">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-md-4 control-label"></label>
                                    <div class="col-md-7">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox col-xs-6">
                                            <label class="control-label" asp-for="RememberMe">
                                                <input asp-for="RememberMe" />
                                                @Html.DisplayNameFor(m => m.RememberMe)
                                            </label>
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="submit" class="btn btn-default">Log in</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <a asp-area="" asp-controller="Account" asp-action="ForgotPassword" style="font-size:12px;">Forgot your password?</a>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 boxContainerTraining">
                <div id="trainingBox">
                    <div class="row text-center">
                        <div class="btn btn-link" onclick="alert('download training calendar');" title="download training calendar"><h1>Training Calendar</h1></div>
                    </div>
                    <div class="imgInGeniusContainer" style="cursor: pointer;" onclick="goLinkTraining();" title="Training Registration Form">
                        <img src="~/images/TrainingLogo.png" alt="Training InGenius" style="margin:auto; width:300px;display:block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
