﻿@model RegisterViewModel
@using WebApp.Classes;

@{
    ViewData["Title"] = "Register";
}
<style type="text/css">
    body {
        padding-top: 5px;
    }

    .row-privacy {
        margin-top: 5px;
    }

    input, select {
        width: 250px !important;
    }

</style>

<script type="text/javascript">

    function AbilitaConferma(data) {
        var abilita = $("#privacy1").dxCheckBox("instance").option('value') && $("#privacy2").dxCheckBox("instance").option('value') && $("#privacy3").dxCheckBox("instance").option('value');
        $("#btnConfirm").dxButton("instance").option("disabled", !abilita);
        //if (abilita) {
        //    $("#btnConfirm").removeClass("disabled");
        //} else {
        //    $("#btnConfirm").addClass("disabled");
        //}
    }

    function goDownloadFile(fileName) {
        $("#frm-download").append('<input type="hidden" name="fileName" value="' + fileName + '""/> ');
        $("#frm-download").attr("action", '@Url.Action("DownloadDoc", "Utils")');
        $("#frm-download").attr("target", "_blank");
        $("#frm-download").submit();
        $("#frm-download").attr("target", "");    // Ripristino Target
        return false;
    }

    function doConfirm() {
        $("#frm-register").submit();
    }

</script>

<div class="row">
    <div class="pull-right">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="goback">goback</a>
    </div>
    <div>
            <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
    </div>
</div>
<h2>@ViewData["Title"]</h2>

<form id="frm-download">
    @*<input type="hidden" name="fileName" id="fileName" value="Privacy Statement.pdf">*@
</form>
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="frm-register">
    <h4>Create new account.</h4>
    <hr />
    <div id="sfondoLogin"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName" class="col-md-2 control-label">Name/Surname</label>
        <div class="col-md-10">
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">User Id</label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10 form-inline">
            <input asp-for="Email" class="form-control" />
            <span class="msgInfo" style="font-size: 110%;">
                Use official company email addresses only.
            </span>
            <p>
                <span asp-validation-for="Email" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label">Country</label>
        <div class="col-md-6">
            @Html.DropDownList("Country", new SelectList(Model.countries.Select(x => new { Value = x.Country, Text = x.Country }), "Value", "Text"),
                                                        string.Empty, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId" class="col-md-2 control-label">Job Position</label>
        <div class="col-md-6">
            @Html.DropDownList("DepartmentId", new SelectList(Model.departments.Select(x => new { Value = x.DepartmentId, Text = x.Description }), "Value", "Text"),
                                                        string.Empty, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CompanyName" class="col-md-2 control-label">Company Name</label>
        <div class="col-md-10">
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10 form-inline">
            <input asp-for="Password" class="form-control" />
            <span class="msgInfo">
                Passwords must contain at least 12 characters and also include a minimum of letter (Upper case or lower case),<br />
                a number and a non-alphanumeric character (! @@ # & ( ) – [ { } ] : ; ', ? / * ~ $ ^ + = < > “)
            </span>
            <p>
                <span asp-validation-for="Password" class="text-danger"></span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="row row-privacy">
            <label class="col-md-2 control-label">Privacy Statement</label>
            <div class="col-md-9">
                <p>
                    ELITechGroup S.p.A. is constantly committed to respecting the privacy of the natural persons with which it
                    comes into contact, in accordance with Regulation (EU) No. 679/2016 (<strong>"GDPR"</strong>) and with Italian privacy legislation
                    (Legislative Decree 196/2003 as amended).
                </p>
                <p>
                    For more information, please go to the following link to view ELITechGroup S.p.a.
                    <a href="#" onclick="goDownloadFile('Privacy Statement.pdf');" style="font-size: 14px;" title="Privacy Statement">
                        privacy policy
                    </a>
                </p>
                <p>
                    To exercise your rights you can contact us by email to the following address:
                    <a href="mailto:egspa.privacy@elitechgroup.com">egspa.privacy@elitechgroup.com</a>
                </p>
            </div>
        </div>
        <div class="row row-privacy">
            <div class="col-md-9 col-md-push-2">
                <div class="col-md-1">
                    @(Html.DevExtreme().CheckBox().OnValueChanged("AbilitaConferma").ID("privacy1"))
                </div>
                <span>I confirm that I have read the above statement.</span>
            </div>
        </div>
        <div class="row row-privacy">
            <div class="col-md-9 col-md-push-2">
                <div class="col-md-1">
                    @(Html.DevExtreme().CheckBox().OnValueChanged("AbilitaConferma").ID("privacy2"))
                </div>
                <span>I confirm that I have read</span>
                <a href="#" onclick="goDownloadFile('Terms and conditions.pdf');" style="font-size: 14px;" title="Privacy Statement">
                    Terms and conditions
                </a>
            </div>
        </div>
        <div class="row row-privacy">
            <div class="col-md-9 col-md-push-2">
                <div class="col-md-1">
                    @(Html.DevExtreme().CheckBox().OnValueChanged("AbilitaConferma").ID("privacy3"))
                </div>
                <span>I consent to the processing of my Personal Data for the purposes of providing commercial information and sending commercial communications, newsletters and invitations to events.</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<button id="btnConfirm" type="submit" class="btn btn-default disabled">Confirm</button>*@
            @(Html.DevExtreme().Button()
                                        .ID("btnConfirm")
                                        .Hint("Create account")
                                        .Type(ButtonType.Normal)
                                        .Text("Create account")
                                        .Disabled(true)
                                        .OnClick("doConfirm")
            )
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
