﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"].</h2>

<style type="text/css">
    input {
        width: 250px !important;
    }
</style>

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10 form-inline">
            <input asp-for="Password" class="form-control" />
            <span class="msgInfo">
                Passwords must contain at least 12 characters and also include a minimum of letter (Upper case or lower case),<br />
                a number and a non-alphanumeric character (! @@ # & ( ) – [ { } ] : ; ', ? / * ~ $ ^ + = < > “)
            </span>
            <p>
                <span asp-validation-for="Password" class="text-danger"></span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
