﻿@model WebApp.Entity.InstallBaseIndexDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;


@*TO DO
    1) UPLOAD:  passaggio ID instrument
                apertura popup
                selezione FILE
                selezione TIPOFILE (in base al profilo)
                Su upload, controllare coerenza profilo e Nome file selezionat o
    2) FILTRO ANNO/MESE
                ipotesi 1: combo da 2018/01 fino al mese corrente !!!
                al change, ricaricare la grid x lo stesso periodo !!!
    3) DELETE file caricato (Controlla se WAIT)
*@

@{
    ViewData["Title"] = "Data Import";
    string titolo = ViewData["Title"].ToString();

    bool bCanUpload = User.IsInRole(Lookup.Role_Upload_Assays) || User.IsInRole(Lookup.Role_Upload_DataMain) || User.IsInRole(Lookup.Role_Upload_InstallBase);

    string active_tab_visible = "in active";
    string classBtn = "";
}

<script src="~/js/bootstrap-filesystle/bootstrap-filestyle.js" asp-append-version="true"></script>

<style type="text/css">
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    input, select {
        max-width: 800px;
    }

    /* STATI FILE */
    .status-MISSING {
        background-color: yellow;
    }
    .status-WAIT {
        background-color: violet;
    }

    .status-LOADING {
        background-color: violet;
    }
    .status-ERROR {
        background-color: red;
    }
    .status-RELOAD {
        background-color: sandybrown;
    }
    .status-OK {
        background-color: greenyellow;
    }
    /* STATI FILE */


    .cmdRemoveFile {
        color: white;
    }

    .cmdReworkFile {
        color: blue;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    #sfondo {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_InstallBase.jpg) no-repeat center top;
        position: fixed;
        background-position-y: +50px;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
        opacity: 0.15;
    }

    input:not(.dx-texteditor-input) {
        max-width: 800px;
    }
</style>
<script type="text/javascript">

    var selReferencePeriod = "";
    var jsUserAdmin = '@User.IsInRole(Lookup.Role_Admin)';
    var jsSerialNumberSel = "";

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            selReferencePeriod = '@Model.selMese';
            if ('@Model.datatype' == '@Lookup.FileDataType_InstallBase') {
                showTabInstallBase();
            } else {
                showTabData();
            }
        });

        $('#btnProcessOptInstrument').click(function () {
            $("#InstrumentOptionsModal").modal('hide');
            var optCommand = $('input[name=optInstrument]:checked').val();
            if ((optCommand || "") != "") {
                var DismissDate = $("#DismissDate").dxDateBox("instance").option("value");
                if (DismissDate == null) {
                    DismissDate = new Date();
                }
                $.ajax({
                    url: '@Url.Action("setInstrumentCommand")',
                    type: 'POST',
                    data: { SerialNumber: jsSerialNumberSel, Command: optCommand, DateRif: DismissDate.toISOString() },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            bootbox.alert("Intrument successfully updated")
                            refreshGrid(true, false);
                        }
                    }
                });
            }
        });


    });

    function showTabInstallBase() {
        $("#tab_installbase").addClass("@active_tab_visible");
        $("#tab_data").removeClass("@active_tab_visible");
        $("#period").hide();
    }
    function showTabData() {
        $("#tab_data").addClass("@active_tab_visible");
        $("#tab_installbase").removeClass("@active_tab_visible");
        $("#period").show();
    }

    function goUploadNewFile() {
        var id = "";        // ???
        var filenameorig = $('input[type=file]').val().split('\\').pop();
        var filename = filenameorig.split('.').slice(0, -1).join('.');
        if ("" == filename || "") {
            bootbox.alert("Select a file to upload");
            return false;
        }

        // Gestione INSTALLBASE !!!
        if (filename.toUpperCase().indexOf("@Lookup.FileDataType_InstallBase") != -1) {
            if ("@User.IsInRole(Lookup.Role_Upload_InstallBase)" != '@true') {
                bootbox.alert("Upload not authorized!");
                return false;
            }
            var d = new Date();
            var datarif = d.getFullYear() + ("0" + (d.getMonth() + 1)).slice(-2)
            confirmUpload(filenameorig,  "@Lookup.FileDataType_InstallBase", "@Lookup.FileDataType_InstallBase", datarif, '');
            return false;
        }

        //  il nomefile può avere uno dei seguenti formati:
        //      <parte variabile>_<SerialNumber>_<Tipo>_DDMMYYHHMMSS.<ext>
        //      <parte variabile>_<SerialNumber>_<Tipo>_REV*_DDMMYYHHMMSS.<ext>
        var parts = filename.toUpperCase().split("_");
        if (parts.length < 3) {
            bootbox.alert("Selected file not recognized: Lenght wrong!");
            return false;
        }
        var tmst = parts[parts.length - 1];
        var datatype = parts[parts.length - 2];
        var instrument = parts[parts.length - 3];
        var bCanUpload = false;
        var fileVersion = "";
        // file REV*
        if (datatype.startsWith("REV")) {
            fileVersion = datatype;
            if (parts.length < 4) {
                bootbox.alert("Selected file '" + fileVersion + "' not recognized: Lenght wrong!")
                return false;
            }
            datatype = parts[parts.length - 3];
            instrument = parts[parts.length - 4];
        }
        switch (datatype) {
            case "@Lookup.FileDataType_Data":
                if ("@User.IsInRole(Lookup.Role_Upload_DataMain)" == '@true') { bCanUpload = true; }
                break;
            case "@Lookup.FileDataType_AssaysList":
                if ("@User.IsInRole(Lookup.Role_Upload_Assays)" == '@true') { bCanUpload = true; }
                break;
            default:
                bootbox.alert("data type " + datatype + " not valid!");
                return false;
                break;
        }
        if (bCanUpload == false) {
            bootbox.alert("Upload not authorized!");
            return false;
        }
        // data richiesta: DDMMYYHHMM
        var datafile = tmst.match(/\d{10}/g);
        if (datafile == null) {
            bootbox.alert("Invalid file name!");
            return false;
        }
        var datarif = "20" + datafile[0].substr(4, 2) + datafile[0].substr(2, 2);
        // se lo strumento esiste ed è abilitato, viene chiesta la conferma per l'upload !!!
        $.ajax({
            url: '@Url.Action("GetSerialNumberJson")',
            type: 'POST',
            data: { id: instrument },
            success: function (data) {
                if ((data || "") == "") {
                    bootbox.alert("No instruments found - id:" + instrument);
                    return false;
                } else {
                    if (data != "*") {
                        instrument = data;
                    }
                    confirmUpload(filenameorig, datatype, instrument, datarif, fileVersion);
                }
                //} else if (data == "*") {
                //    bootbox.alert("More instruments found - id:" + instrument);
                //    return false;
                //} else {
                //    confirmUpload(filenameorig, datatype, data, datarif, fileVersion);
                //}
            }
        });
        return false;
    }

    function confirmUpload(filename, datatype, serialnumber, datarif, fileVersion) {
        var msg = "Confirm Upload?<br/><br/>" +
            "file name: <b>" + filename + "</b><br/>" +
            "data type: <b>" + datatype + "</b><br/>";
        if (serialnumber != "@Lookup.FileDataType_InstallBase") {
            var tmp = serialnumber;
            if (tmp.length <= 10) {
                tmp = "more results for " + tmp;
            }
            msg += "instrument: <b>" + tmp + "</b><br/>" +
                   "month: <b>" + datarif.substr(4, 2) + "/" + datarif.substr(0, 4) + "</b><br/>";
        }
        if ((fileVersion || '') != '') {
            msg += "Version: <b>" + fileVersion + "</b><br/>";

        }
        bootbox.confirm(msg, function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="dataRif" value="' + datarif + '" /> ');
                $("#monitor").append('<input type="hidden" name="serialNumber" value="' + serialnumber + '" /> ');
                $("#monitor").append('<input type="hidden" name="dataType" value="' + datatype + '" /> ');
                $("#monitor").append('<input type="hidden" name="fileVersion" value="' + fileVersion + '" /> ');
                $("#monitor").attr("action", "/InstallBase/UploadFile/");
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
        });
    }


    function goDeleteFile(id) {
        bootbox.confirm("Do you wish to delete it?", function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="referencePeriod" value="' + selReferencePeriod + '" /> ');
                $("#monitor").attr("action", "/InstallBase/RemoveFile/" + id);
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
            return true;
        });
    }

    function goReworkFile(id) {
        bootbox.confirm("Do you wish to process it again?", function (result) {
            if (result) {
                $("#monitor").append('<input type="hidden" name="referencePeriod" value="' + selReferencePeriod + '" /> ');
                $("#monitor").attr("action", "/InstallBase/SetReloadFile/" + id);
                $("#monitor").attr("method", "POST");
                $("#monitor").submit();
            }
            return true;
        });
    }

    function goInstrumentOptions(instrument) {
        $.ajax({
            url: '@Url.Action("GetSerialNumberInfoJson")',
            type: 'POST',
            data: { id: instrument },
            success: function (data) {
                if ((data || "") == "") {
                    bootbox.alert("No instruments found - id:" + instrument);
                    return false;
                }
                var myTitle = "Instrument <strong>" + instrument + "</strong>";
                myTitle += "<br/>Company: " + data[0].companyName;
                myTitle += "<br/>Site: " + data[0].siteDescription;
                if (data[0].commandInfo != '') {
                    myTitle += "<br/><span style='color:red;'>" + data[0].commandInfo + '</span>';
                }
                jsSerialNumberSel = instrument;
                $("#titleInstrumentOptions").html(myTitle);
                $("#InstrumentOptionsModal").modal('show');
                //    bootbox.alert("More instruments found - id:" + instrument);
                //    return false;
                //} else {
                //    bootbox.alert(JSON.stringify(data, null, 4));

                //}
            }
        });

    }

    function cell_prepared(options) {
        if (options.rowType == 'data') {
            if (options.column.name) {
                //if (options.column.name == "cmd") {
                //    //var fieldHtml = "<a href='#' onclick='goUploadNewFile(\"" + options.value + "\");' class='fa fa-upload cmdDetail' title='Upload File'></a>";
                //    var fieldHtml = "<a href='#' onclick='goUploadNewFile(\"" + options.value + "\");' class='glyphicon glyphicon-floppy-open cmdDetail' title='Upload File'></a>";
                //    options.cellElement.html(fieldHtml);
                //}

                if (options.column.name.match(/status.*/)) {
                    // impostazione
                    //var fieldData = options.value,
                    var statusClass = "";
                    var status = options.value;
                    var tmstFile = "";
                    var fileId = "";
                    var fileName = "";
                    var tmstUpload = "";
                    var tmstProcess = "";
                    var userupload = "";
                    var note = "";
                    var revExtra = "";
                    if ((options.value == 0 || options.value || "") != "") {
                        statusClass = "status-" + options.value;
                    } else {
                        statusClass = "status-MISSING";
                        status = "UNDEFINED";
                    }
                    options.cellElement.addClass(statusClass);
                    if (options.column.name == "status_data") {
                        fileId = options.data.id_data;
                        fileName = options.data.filename_data;
                        tmstUpload = options.data.tmstupload_data;
                        userupload = options.data.userupload_data;
                        tmstProcess = options.data.tmstprocess_data;
                        note = options.data.note_data;
                        revExtra = options.data.revExtra_data;
                    }
                    if (options.column.name == "status_assayslist") {
                        fileId = options.data.id_assayslist;
                        fileName = options.data.filename_assayslist;
                        tmstUpload = options.data.tmstupload_assayslist;
                        userupload = options.data.userupload_assayslist;
                        tmstProcess = options.data.tmstprocess_assayslist;
                        note = options.data.note_assayslist;
                        revExtra = options.data.revExtra_assayslist;
                    }
                    if (options.column.name == "status_installbase") {
                        fileId = options.data.id_installbase;
                        fileName = options.data.filename_installbase;
                        tmstUpload = options.data.tmstupload_installbase;
                        userupload = options.data.userupload_installbase;
                        tmstProcess = options.data.tmstprocess_installbase;
                        note = options.data.note_installbase;
                        revExtra = options.data.revExtra_installbase;
                    }
                    var tooltip = "";
                    if ("" != (fileName || "") ) {
                        tooltip += "file: " + fileName + "\n";
                    }
                    if ("" != (tmstUpload || "" )) {
                        tooltip += "upload: " + tmstUpload + "\n";
                    }
                    if ("" != (userupload || "")) {
                        tooltip += "user: " + userupload + "\n";
                    }
                    if ("" != (tmstProcess || "")  && status != "WAIT") {
                        tooltip += "process: " + tmstProcess + "\n";
                    }
                    if ("" != (note || "")) {
                        tooltip += "note: " + note + "\n";
                    }
                    if ("" != (fileId || "")) {
                        tooltip += "id: " + fileId + "\n";
                    }
                    if ("" != (revExtra || "")) {
                        tooltip += "rev.file: " + revExtra + "\n";
                    }
                    var fieldHtml = "<div title='" + tooltip + "'>" + status;
                    if (status != "MISSING") {
                        // pulsante cancellazione file in WAIT
                        if (status == "WAIT") {
                            fieldHtml += "&nbsp;&nbsp;<a href='#' onclick='goDeleteFile(" + fileId + ");' class='glyphicon glyphicon-remove-circle cmdRemoveFile' title='Delete File'></a>";
                        }
                        fieldHtml += "<br/>";
                        // Aggiunta riferimento tmstFile
                        tmstFile = fileName.match(/\d{10}/g);
                        if ("" != (tmstFile||"")) {
                            fieldHtml += "<span style='font-size: 10px;' title='" + tooltip + "'>" + (""+tmstFile).substr(0,6) + "</span>&nbsp;";
                        }
                        if ("" != (revExtra || "")) {
                            fieldHtml += "<span style='font-size: 10px; font-weight:bold;'>" + revExtra.substr(0,15) + "</span>&nbsp;";
                        }

                        // pulsante reload file OK o ERROR
                        if (status == "OK" || status == "ERROR") {
                            fieldHtml += "&nbsp;<a href='#' onclick='goReworkFile(" + fileId + ");' class='fa fa-retweet cmdReworkFile' title='Reload / Process Again'></a>";
                        }
                    }
                    fieldHtml += "</div> ";
                    options.cellElement.html(fieldHtml);
                }
            }
        }
    }

    function referencePeriod_valueChanged(e) {
        if ((e.value || "") != "") {
            selReferencePeriod = e.value;
            refreshGrid(true, false);
        }
    }
    function refreshGrid(grid1, grid2) {
        // Data/AssaysList
        if (grid1 == true) {
            var dataGrid = $("#grid-container").dxDataGrid("instance");
            var ds = dataGrid.getDataSource();
            ds.load();
        }
        // InstallBase
        if (grid2 == true) {
            var dataGrid2 = $("#grid-container2").dxDataGrid("instance");
            var ds2 = dataGrid2.getDataSource();
            ds2.load();
        }
    }

    function goDownloadFunctionDocumentation() {
        $("#monitor").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#monitor").attr("target", "_blank");
        $("#monitor").submit();
        $("#monitor").attr("target", "");    // Ripristino Target
        return false;
    }

    function doReminderUploadRequest() {
        doInsertRequest("Reminder Upload");
    }

    function doDataStatusRequest() {
        doInsertRequest("Data Status");
    }

    function doInsertRequest(requestType) {
        bootbox.confirm("Insert '" + requestType + "' request ?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("InsertExportRequest")',
                    type: 'POST',
                    data: { requestType: requestType},
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            DevExpress.ui.notify("Request Inserted!", "info");
                        }
                    }
                });
                bootbox.hideAll();
                return false;
            }
        });
        return false;
    }

    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("status_data", "visible", false);
        e.component.columnOption("status_assayslist", "visible", false);
    }
    function OnExported(e) {
        e.component.columnOption("status_data", "visible", true);
        e.component.columnOption("status_assayslist", "visible", true);
        e.component.endUpdate();
    }


</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/ELITechGroupLogo2.png" alt="ELITechGroup" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                    .Icon("fa fa-info-circle")
                                    .Hint("Function Documentation")
                                    .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="InstallBase" asp-action="Index" id="monitor">
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_DataImport">
    <div class="row">
        <div class="form-group col-md-3">
            <fieldset id="period">
                <legend>Period/Month</legend>
                @*<label for="referencePeriod">Month</label>*@
                @(Html.DevExtreme().LookupFor(m => m.selMese)
                                .ID("referencePeriod")
                                .DataSource(Model.mesi)
                                .ShowPopupTitle(false)
                                .ValueExpr("id")
                                .DisplayExpr("descrizione")
                                .OnValueChanged("referencePeriod_valueChanged")
                                .ShowClearButton(false)
                                .ShowCancelButton(false)
                )
            </fieldset>
        </div>
        <div class="col-md-2 text-center">
            @if (User.IsInRole(Lookup.Role_Upload_InstallBase))
            {
                <div class="btn-group-vertical">
                    @*<a class="btn btn-xs btn-link" data-toggle="pill" href="#tab_data">data / assays list</a>*@
                    @*<a class="btn btn-xs btn-link" data-toggle="pill" href="#tab_installbase">install base</a>*@
                    <a class="btn btn-xs btn-link" onclick="showTabData();">data / assays list</a>
                    <a class="btn btn-xs btn-link" onclick="showTabInstallBase();">install base</a>
                </div>
                classBtn = "btn-xs";
            }
            else
            {
                <legend>&nbsp;</legend>
            }
            <div>
                <button type="button" class="btn @classBtn btn-success" onclick="refreshGrid(true, true);"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
            </div>
        </div>
        <div class="form-group col-md-7">
            @if (bCanUpload)
            {
                <fieldset>
                    <legend>Upload New File - select a file and press upload button on Instrument row</legend>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="file" id="file" name="file" class="filestyle" data-text="Select File" 
                                   data-btnClass="btn-primary" data-buttonBefore="true" data-placeholder="No file">
                        </div>
                        <div class="col-md-2">
                            @(Html.DevExtreme().Button()
                                            .Icon("upload")
                                            .Hint("upload file")
                                            .Text("")
                                            .Type(ButtonType.Success)
                                            .OnClick("goUploadNewFile")
                                            .Height("34px")
                            )
                            @*<a href='#' onclick='goUploadNewFile()' class='glyphicon glyphicon-floppy-open' style="font-size: 20px;"  title='Upload File'></a>*@
                        </div>
                        @*<div class="col-md-4">
                            <label for="dataType">Data Type</label>
                            <select id="dataType">
                            <option></option>
                            <option>DATA</option>
                            <option>ASSAYS LIST</option>
                            <option>INSTALL BASE</option>
                            </select>
                            </div>*@
                    </div>
                </fieldset>
            }
        </div>
    </div>

    @*<div class="col-md-3" style="font-size:14px">File Type </div>
        <select class="form-control" id="sel1">
        <option></option>
        <option>DATA</option>
        <option>ASSAYS LIST</option>
        <option>INSTALL BASE</option>
        </select>
        <div class="col-md-10 col-md-push-1">
        </div>
        </div>
        </div>
        </div>*@

    @*<div class="empty_row">&nbsp;</div>*@

    <div class="tab-content">
        <div id="tab_data" class="tab-pane fade">
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                                        .ID("grid-container")
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(false)
                                        .AllowColumnResizing(true)
                                        .DataSource(d => d.WebApi().Controller("InstallBase").LoadAction("Get").Key("serialNumber")
                                                                    .LoadParams(new { referencePeriod = new JS("function() { return selReferencePeriod; }") })
                                        )
                                        .RemoteOperations(true)
                                        .OnCellPrepared("cell_prepared")
                                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                        //.HeaderFilter(headerFilter => headerFilter.Visible(true))
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                        .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("InstallBaseList"))
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("serialNumber").Caption("Instrument")
                                                .CellTemplate(@<div>
                                                    <span><%= data.serialNumber %></span>&nbsp;
                                                    <% if ((jsUserAdmin||'').toLowerCase()  == 'true' && data.serialNumber.length > 10) { %>
                                                    <button type="button" class="btn btn-default btn-xs fa fa-edit" title="Instrument Options" style="margin-left: 15px;"
                                                            onclick="goInstrumentOptions('<%= data.serialNumber%>');"></button>
                                                    <% } %>
                                                </div>);
                                            //columns.Add().DataField("commercialEntity").HeaderCellTemplate("Commercial<br>Entity");
                                            columns.Add().DataField("site_Country").Caption("Country");
                                            columns.Add().DataField("companyName").Caption("Customer");
                                            columns.Add().DataField("site_City").Caption("City").Width("8%");
                                            columns.Add().DataField("site_Description").Caption("Site");
                                            columns.Add().DataField("commercial_Status").Caption("Status").Width("20%");
                                            //columns.Add().DataField("region").Caption("Region");
                                            //columns.Add().DataField("area").Caption("Area");
                                            columns.Add().DataField("status_data").HeaderCellTemplate("<b>DATA</b>").Alignment(HorizontalAlignment.Center).Name("status_data").Width("150");
                                            columns.Add().DataField("status_assayslist").HeaderCellTemplate("<b>ASSAYS<br>LIST</b>").Alignment(HorizontalAlignment.Center).Name("status_assayslist").Width("150");
                                            //columns.Add().DataField("status_installbase").HeaderCellTemplate("INSTALL<br>BASE").Alignment(HorizontalAlignment.Center).Name("status_installbase").Width("100");
                                            //columns.Add()
                                            //.Alignment(HorizontalAlignment.Center)
                                            //.DataField("serialNumber")
                                            //.Width("70")
                                            //.AllowFiltering(false)
                                            //.AllowSorting(false)
                                            //.AllowEditing(false)
                                            //.AllowExporting(false)
                                            //.Caption("")
                                            //.Name("cmd");
                                        })
                                        .Paging(p => p.PageSize(10))
                                        .Pager(pager =>
                                        {
                                            pager.ShowPageSizeSelector(true);
                                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                            pager.ShowInfo(true);
                                            pager.InfoText("page {0} of {1} ({2} records)");
                                            pager.ShowNavigationButtons(true);
                                        })
                                        //.Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                                        //.Export(e => e.Enabled(true).FileName("InstallBase").AllowExportSelectedData(false))
                                        .Export(e => e.Enabled(true).FileName("InstallBase").AllowExportSelectedData(false))
                                        .OnExporting("OnExporting")
                                        .OnExported("OnExported")
                )
            </div>
        </div>
        <div id="tab_installbase" class="tab-pane fade">
            <div class="row">
                @(Html.DevExtreme().DataGrid()
                            .ID("grid-container2")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(false)
                            .RowAlternationEnabled(false)
                            .AllowColumnResizing(true)
                            .DataSource(d => d.WebApi().Controller("InstallBase")
                                                        .LoadAction("GetInstallBase")
                                                        .Key("id_installbase")
                            )
                            .RemoteOperations(true)
                            .OnCellPrepared("cell_prepared")
                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            //.HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("InstallBase2Index"))
                            .Columns(columns =>
                            {
                                columns.Add().DataField("filename_installbase").Caption("File Name");
                                columns.Add().DataField("tmstupload_installbase").Caption("Upload at").Width("150");
                                columns.Add().DataField("tmstprocess_installbase").Caption("Process at").Width("150");
                                columns.Add().DataField("note_installbase").Caption("Note");
                                columns.Add().DataField("status_installbase").HeaderCellTemplate("<b>INSTALL<br>BASE</b>").Alignment(HorizontalAlignment.Center).Name("status_installbase").Width("200");
                            })
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
                )
            </div>
        </div>
    </div>

    @if (User.IsInRole(Lookup.Role_Admin))
    {
        <div class="row">
            @(Html.DevExtreme().Button()
                                    .Icon("tips")
                                    .Text("Data Status")
                                    .OnClick("doDataStatusRequest")
                                    .Type(ButtonType.Normal)
                                    .Width(220)
            )
            @(Html.DevExtreme().Button()
                                    .Icon("message")
                                    .Text("Reminder Upload")
                                    .OnClick("doReminderUploadRequest")
                                    .Type(ButtonType.Normal)
                                    .Width(220)
            )
        </div>
    }
        
    <div class="modal fade" id="InstrumentOptionsModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="titleInstrumentOptions">...intrument...</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-push-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optInstrument" value="DELETE">Delete Instrument</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label><input type="radio" name="optInstrument" value="DISMISS">Dismiss Instrument at</label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @(Html.DevExtreme().DateBox()
                                                            .ID("DismissDate")
                                                            .Value(DateTime.Now)
                                                            .Min(DateTime.Now)
                                    )
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnProcessOptInstrument">Process</button>
                </div>
            </div>
        </div>
    </div>
</form>

