﻿@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<style type="text/css">
    body {
        padding-top: 5px;
    }
</style>

<div class="row">
    <div class="pull-right">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="goback">goback</a>
    </div>
</div>
<h2>@ViewData["Title"]</h2>


<p>
    Please check your email to reset your password.
</p>
