﻿@model WebApp.Entity.TK3PEditRequestDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;
@using WebApp.Entity;

@{
    string titleSave = "Save Changes";
    string titolo = "Detail Request";
    string rifStatus = string.Format("{0}", Model.StatusDeco);

    string rifRequest = String.Format("id {0}", Model.TK3PRequestId);
    if (Model.Status.Equals(Lookup.TK3PRequest_Status_DRAFT))
    {
        titleSave = "Create";
        titolo = "Create New Request";
        rifStatus = "";
    }

    bool bOpenAP3PAdmin = User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator) ;
    bool bOpenAP3PBackOffice  = bOpenAP3PAdmin || User.IsInRole(Lookup.Role_OpenAP3P_OrderDepartment) ||
                                User.IsInRole(Lookup.Role_OpenAP3P_ResearchAndDevelopment) || User.IsInRole(Lookup.Role_OpenAP3P_Quality);
    bool bEditRequestInfo = Model.Status.Equals(Lookup.TK3PRequest_Status_DRAFT) ||
                           (Model.Status.Equals(Lookup.TK3PRequest_Status_PENDING) && Model.UserInse.Equals(User.Identity.Name)) ||
                           (Model.Status.Equals(Lookup.TK3PRequest_Status_PENDING) && bOpenAP3PAdmin);
    bool bCanDeleteRequest = bEditRequestInfo && Model.Status.Equals(Lookup.TK3PRequest_Status_DRAFT) == false;
    bool bShowActivity = !Model.Status.Equals(Lookup.TK3PRequest_Status_DRAFT) && User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator);

    bool bShowCompEvalForm = !string.IsNullOrWhiteSpace(Model.CompEvalForm);
    bool bShowChangeStatus = false;

    if (Model.readOnly || Model.evaluation)
    {
        bEditRequestInfo = false;
        bCanDeleteRequest = false;
        bShowChangeStatus = Model.evaluation;
    }

    var newStatus = new[] { new { id = Lookup.TK3PRequest_Status_PENDING, text = Lookup.TK3PRequest_StatusDeco_PENDING } };
    if (Model.Status.Equals(Lookup.TK3PRequest_Status_PENDING))
    {
        newStatus = new[] {
            new { id = Lookup.TK3PRequest_Status_REFUSED, text = Lookup.TK3PRequest_StatusDeco_REFUSED },
            new { id = Lookup.TK3PRequest_Status_PROCESSING, text = Lookup.TK3PRequest_StatusDeco_PROCESSING},
            new { id = Lookup.TK3PRequest_Status_READY, text = Lookup.TK3PRequest_StatusDeco_READY } };
    }
}

<style type="text/css">
    label {
        margin-bottom: 2px;
    }
    #grid-activity img {
        max-width: 100%;
    }
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }
    #toolbar {
        margin-bottom: 5px;
    }
    description {
        background-color: white;
    }
    div.form-group {
        margin-bottom: 5px;
    }
    div.note-editor.note-frame.panel.panel-default {
        margin-bottom: 5px;
    }
    .cmdAttachment {
        font-size: 18px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .dx-fileuploader-file-status-message {
        color: red;
    }
    .well {
        margin-bottom: 10px !important;
    }
    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-top: 0px !important;
    }
    #divInfo {
        margin-top: 10px !important
    }
    .RequestId {
        font-size: 18px;
        font-weight: bold;
    }
    #divUploadCompEvalForm {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        /*margin-bottom: 10px;*/
    }
    div#divUploadCompEvalForm .dx-fileuploader-wrapper {
        padding-top: 0px;
        padding-left: 0px;
    }
    div#divUploadCompEvalForm .dx-fileuploader-input-wrapper {
        padding-top: 0px;
        padding-left: 0px;
    }
    div#divUploadCompEvalForm .dx-fileuploader-files-container {
        padding-top: 0px;
    }
    div#divUploadAPReady .dx-fileuploader-wrapper {
        padding-top: 0px;
        padding-left: 0px;
    }
    div#divUploadAPReady .dx-fileuploader-input-wrapper {
        padding-top: 0px;
        padding-left: 0px;
    }
    div#divUploadAPReady .dx-fileuploader-files-container {
        padding-top: 0px;
    }
</style>

<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
            if ('@bEditRequestInfo'.toLocaleLowerCase() == 'false') {
                $("#SwVersion").dxSelectBox("instance").option('disabled', true);
                $("#CustomerSelection").dxTextBox("instance").option('disabled', true);
                $("#Target").dxTextBox("instance").option('disabled', true);
                $("#Manufacturer").dxTextBox("instance").option('disabled', true);
                $("#PurchaseOrder").dxTextBox("instance").option('disabled', true);
                $("#TicketId").dxLookup("instance").option('disabled', true);
                $("#CreateNewTicket").dxCheckBox("instance").option('disabled', true);
            }
        });
    });


    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }

    function AddNewFile() {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $("#file-uploader").dxFileUploader("instance").reset();
        jsFileUploaderError = false;
        $('#DivUpload').modal({
            keyboard: true
        }, 'show');
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }
    function getDataGridAttachInstance() {
        return $("#grid-attachments").dxDataGrid("instance");
    }
    function getDataGridActivityInstance() {
        return $("#grid-activity").dxDataGrid("instance");
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function fileUploader_onUploadStarted(e) {
        getLoadPanelInstance().show();
    }
    function fileUploader_onUploaded(e) {
        setTimeout(function () {
            var $file = e.element.find(".dx-fileuploader-file:contains('" + e.file.name + "')");
            $file.find(".dx-fileuploader-file-status-message").html("<span class='text-success'><b>Uploaded<b/></span>");
        }, 400);
        getDataGridAttachInstance().refresh();
        setTimeout(function () {
            if (jsFileUploaderError == false) {
                $('#DivUpload').modal("hide");
                e.component.reset();
            }
        }, 400);

    }
    function fileUploader_onUploadError(e) {
        getLoadPanelInstance().hide();
        setTimeout(function () {
            var $file = e.element.find(".dx-fileuploader-file:contains('" + e.file.name + "')");
            $file.find(".dx-fileuploader-file-status-message").text("Error: " + e.request.responseText).addClass("dx-fileuploader-file-status-message-error");
        }, 400);
        jsFileUploaderError = true;
    }
    function fileUploader_onUploadAborted(e) {
        jsFileUploaderError = true;
    }
    function downloadTemplateMod1923() {
        $("#form-ges").attr("action", '@Url.Action("DownloadTemplateCompEvalForm")');
        $("#form-ges").submit();
        return false;
    }

    function onCellPrepared_Attachment(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_Name") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goOpenAttach(" + e.data.TKAttachmentId  + ");' title='Open'>" + e.data.Source + "</a>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_InsertBy") {
            var fieldHtml = "";
            fieldHtml += "<span>" + e.data.UserInseName + ' ' + e.data.TmstInseDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
    }
    function doDeleteAttachment(id, source) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        bootbox.confirm({
            title: "Do you wish to delete it?",
            message: (source || ''),
            callback: function (result) {
                if (result) {
                    bootbox.hideAll();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("DeleteAttachment")',
                        data: { id: id},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                            getDataGridAttachInstance().refresh();
                            //getDataGridActivityInstance().refresh();
                        }
                    });
                }
            }
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function doSaveChanges() {
        var oValidator = $("#form-ges").validate();
        if (oValidator.form() == false) {
            return false;
        }
        var swVersion = $("#SwVersion").dxSelectBox("instance").option('value');
        if ((swVersion || "").trim() == "") {
            bootbox.alert("The Software Version field is required.");
            return false;
        }
        var customerSelection = $("#CustomerSelection").dxTextBox("instance").option('value');
        if ((customerSelection || "").trim() == "") {
            bootbox.alert("The Customer Selection field is required.");
            return false;
        }
        if (customerSelection.length > 200) {
            bootbox.alert("The field Customer Selection must be a string with a maximum length of 200.");
            return false;
        }
        var target = $("#Target").dxTextBox("instance").option('value');
        if ((target || "").trim() == "") {
            bootbox.alert("The Target field is required.");
            return false;
        }
        if (target.length > 500) {
            bootbox.alert("The field Target must be a string with a maximum length of 500.");
            return false;
        }
        var manufacturer = $("#Manufacturer").dxTextBox("instance").option('value');
        if ((manufacturer || "").trim() == "") {
            bootbox.alert("The Manufacturer field is required.");
            return false;
        }
        if (manufacturer.length > 500) {
            bootbox.alert("The field Manufacturer must be a string with a maximum length of 500.");
            return false;
        }
        var purchaseorder = $("#PurchaseOrder").dxTextBox("instance").option('value');
        if ((purchaseorder || "").trim() == "") {
            bootbox.alert("The Purchase Order field is required.");
            return false;
        }
        if ((purchaseorder || "").length > 50) {
            bootbox.alert("The field Purchase Order must be a string with a maximum length of 50.");
            return false;
        }
        @*if ('@Model.Status' == '@Lookup.TK3PRequest_Status_DRAFT') {
            var elavForm = $("#newCompEvalForm").find(".dx-fileuploader-file-name").text();
            if ((elavForm || "").trim() == "") {
                bootbox.alert("The Assay Compatatibility Evaluation Form is required.");
                return false;
            }
        }*@

        var ticketId = $("#TicketId").dxLookup("instance").option('value');
        var createNewTicket = $("#CreateNewTicket").dxCheckBox("instance").option('value');
        if ((ticketId || "") == '' && createNewTicket == false) {
            bootbox.alert("The field Ticket already sent or Create New Support Request selection is required");
            return false;
        }
        getLoadPanelInstance().show();
        $("#btnSave").dxButton("instance").option("disabled", true);
        $("#form-ges").attr("method", "POST");
        $("#form-ges").attr("action", '@Url.Action("EditRequest")');
        $("#form-ges").submit();
    }
    function doDeleteRequest() {
        var msg = "Do you wish to delete it?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                bootbox.hideAll();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteRequest")',
                    data: { id: @Model.TK3PRequestId},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        getLoadPanelInstance().show();
                        $("#form-ges").attr("action", '@Url.Action("Index")');
                        $("#form-ges").attr("method", "GET");
                        $("#form-ges").submit();
                    }
                });
            }
        });
    }
    function createNewTicket_valueChanged(e) {
        if (e.value) {
            bootbox.confirm({
                message: "Do you wish to create a new Support Request?",
                callback: function (result) {
                    console.log(result);
                    bootbox.hideAll();
                    if (result) {
                        $("#TicketId").dxLookup("instance").option('value', null);
                        $("#TicketId").dxLookup("instance").option('disabled', true);
                        return false;
                    } else {
                        $("#CreateNewTicket").dxCheckBox("instance").option('value', false);
                    }
                }
            });
        } else {
            $("#TicketId").dxLookup("instance").option('disabled', false);
        }
    }
    function onContentReadyUploadFile(e) {
        var button = e.element.find(".dx-fileuploader-button").dxButton('instance');
        if (button) {
            button.option('icon', 'upload');
        }
    }
    function goDownloadCompEvalForm(id) {
        $("#form-ges").attr("action", '@Url.Action("DownloadCompEvalForm")/' + id);
        $("#form-ges").submit();
        return false;
    }
    function doSaveNewStatus() {
        var newStatus = $("#NewStatus").dxSelectBox("instance").option('value');
        var newStatusDesc = $("#NewStatus").dxSelectBox("instance").option('text');
        if ((newStatus || "") == "") {
            bootbox.alert("Select New Status.");
            return false;
        }
        if (newStatus == '@Lookup.TK3PRequest_Status_READY') {
            var APFile = $("#APReadyFile").find(".dx-fileuploader-file-name").text();
            if ((APFile || "").trim() == "") {
                bootbox.alert("The AP File is required.");
                return false;
            }
        }

        bootbox.confirm({
                message: "Do you wish to set new status as <b>" + newStatusDesc + "</b> ?",
                callback: function (result) {
                    if (result) {
                        bootbox.hideAll();
                        getLoadPanelInstance().show();
                        $("#newStatus").val(newStatus);
                        $("#form-ges").attr("method", "POST");
                        $("#form-ges").attr("action", '@Url.Action("SetNewStatus")');
                        $("#form-ges").submit();
                        return false;
                    }
                }
            });

        return false;
    }
    function onValueChange_NewStatus(data) {
        $("#APReadyFile").dxFileUploader("instance").option('visible', (data.value=="@Lookup.TK3PRequest_Status_READY"));
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a asp-action="Index" asp-controller="TK3PSupport" class="goback">goback</a>
    </div>
</div>

<h4>@titolo &nbsp;<span class="label label-primary">@rifStatus</span></h4>

<form asp-action="EditRequest" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.TK3PRequestId)
    @Html.HiddenFor(model => Model.Status)
    @Html.Hidden("newStatus")
    <div asp-validation-summary="All" class="text-danger"></div>
    @(Html.DevExtreme().LoadPanel()
                    .ID("loadPanel")
                    .ShadingColor("rgba(0,0,0,0.4)")
                    .Visible(false)
                    .ShowIndicator(true)
                    .ShowPane(true)
                    .Shading(true)
                    .Message("processing...")
                    .CloseOnOutsideClick(true)
                    .OnShown("loadPanel_shown")
    )
    <div class="container">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12 well">
                @if (!Model.Status.Equals(Lookup.TK3PRequest_Status_DRAFT))
                {
                    <div class="form-group" id="divUserRegistration">
                        <label class="col-sm-2 control-label">Request Nr.</label>
                        <div class="col-sm-2">
                            @(Html.DevExtreme().TextBox().Value(Model.Code.ToString()).ReadOnly(true).ElementAttr("class", "RequestId").StylingMode(EditorStylingMode.Filled))
                        </div>
                        <label class="col-sm-2 control-label">Registration</label>
                        <div class="col-sm-3">
                            @(Html.DevExtreme().TextBoxFor(m => m.UserRegistration_Name).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                        <div class="col-sm-3">
                            @(Html.DevExtreme().TextBoxFor(m => m.TmstInseDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    </div>
                }
                <div class="form-group" id="divInfo">
                    <div class="form-group required">
                        <label id="lblVersion" class="col-sm-2 control-label">Software Version</label>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().SelectBoxFor(m => m.SwVersion)
                                            .ID("SwVersion")
                                            .DataSource(d => d.Mvc().LoadAction("GetSWVersion").Key("Cod_Ele")
                                                .LoadParams(new { id = Model.TK3PRequestId}
                                            ))
                                            .ValueExpr("Cod_Ele")
                                            .DisplayExpr("Descriz")
                                            .Placeholder("select...")
                            )
                            <span asp-validation-for="SwVersion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label id="lblCustomer" class="col-sm-2 control-label">Customer Selection</label>
                        <div class="col-sm-8">
                            @(Html.DevExtreme().TextBoxFor(m => m.CustomerSelection).ID("CustomerSelection").InputAttr("autocomplete", "true")
                                                                    .Placeholder("Where is the instrument installed? Please insert the name of the hospital, center, lab"))
                            <span asp-validation-for="CustomerSelection" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label asp-for="Target" id="lblTarget" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            @(Html.DevExtreme().TextBoxFor(m => m.Target).ID("Target").InputAttr("autocomplete", "true")
                                                                    .Placeholder("Make a list of the targets of the assay"))
                            <span asp-validation-for="Target" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label asp-for="Manufacturer" id="lblManufacturer" class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            @(Html.DevExtreme().TextBoxFor(m => m.Manufacturer).ID("Manufacturer").InputAttr("autocomplete", "true")
                                                                                .Placeholder("Write the name of the Company that produce the kit or write if it is a LDT (laboratory developed test)"))
                            <span asp-validation-for="Manufacturer" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 well">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">IFU</label>
                        <div class="col-sm-10">
                            <em>
                                Please attach here the IFU of the kit or the Laboratory developed information
                            </em>
                            @(Html.DevExtreme().DataGrid()
                                        .ID("grid-attachments")
                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                        .ShowBorders(true)
                                        .ShowRowLines(true)
                                        .ShowColumnHeaders(true)
                                        .HoverStateEnabled(false)
                                        .RowAlternationEnabled(false)
                                        .AllowColumnResizing(true)
                                        .Height(150)
                                        //.NoDataText("No data")
                                        .DataSource(d => d.WebApi().LoadAction("GetAttachments")
                                                .LoadParams(new { id = Model.TK3PRequestId, FileType = Lookup.TK3PKAttachType.IFU }
                                            ))
                                        .RemoteOperations(true)
                                        .WordWrapEnabled(true)
                                        .Columns(columns =>
                                        {
                                            columns.Add().DataField("TK3PAttachmentId").Visible(false);
                                            columns.Add().Width("50%").Caption("Source").Name("Attachment_Name");
                                            columns.Add().Width("40%").Caption("").Name("Attachment_InsertBy");
                                            columns.Add().Alignment(HorizontalAlignment.Center).Width("10%").Caption("")
                                                .CellTemplate(@<div>
                                                    @if (bEditRequestInfo)
                                                        {
                                                        <a href="#" onclick="doDeleteAttachment(<%= data.TK3PAttachmentId %>,  '<%= data.Source %>');" class="cmdAttachment" title="Remove">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                        }
                                                    </div>);
                                        })
                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                        .Paging(p => p.Enabled(false))
                                        .OnCellPrepared("onCellPrepared_Attachment")
                            )
                        </div>
                        <div class="col-sm-1 text-center">
                            @(Html.DevExtreme().Button()
                                                        .ID("AddNewIFU")
                                                        .Icon("upload")
                                                        .Hint("Add New File")
                                                        .Type(ButtonType.Normal)
                                                        .OnClick("AddNewFile")
                                                        .Visible(bEditRequestInfo)
                            )
                        </div>
                    </div>
                </div>

                <div class="form-group" id="divInfo">
                    <div class="form-group  required">
                        <label asp-for="PurchaseOrder" id="lblPurchaseOrder" class="col-sm-2 control-label">Purchase Order</label>
                        <div class="col-sm-6">
                            @(Html.DevExtreme().TextBoxFor(m => m.PurchaseOrder).ID("PurchaseOrder").InputAttr("autocomplete", "true")
                                                        .Placeholder("Plaese report here number of the PO, without this information the request will not be processed"))
                            <span asp-validation-for="PurchaseOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label id="lblEvaluationForm" class="col-sm-2 control-label">
                            Assay Compatatibility<br />Evaluation Form
                        </label>
                        <div class="col-sm-10" id="divUploadCompEvalForm">
                            <div class="col-sm-12">
                                <div>
                                    @if (bShowCompEvalForm)
                                    {
                                        <a href="#" onclick="goDownloadCompEvalForm(@Model.TK3PRequestId);" style="font-size: 14px; word-wrap: break-word; white-space: normal" ;
                                           class="btn btn-link btn-xs downloadEvalForm" title="Download">@Model.CompEvalForm</a>
                                    }
                                    else
                                    {
                                        <em>
                                            Complete following MOD 19.23 Assay Compatibility Evaluation form
                                        </em>
                                    }
                                </div>
                                <div>
                                    <a href="#" onclick="downloadTemplateMod1923();" style="font-size: 14px; word-wrap: break-word; white-space: normal" ;
                                       class="btn btn-link btn-xs" title="Download Form Template"><i class="fa fa-download">&nbsp;Download template for MOD 19,23</i></a>
                                    @(Html.DevExtreme().FileUploader()
                                                    .ID("newCompEvalForm")
                                                    .Name("newCompEvalForm")
                                                    .SelectButtonText("Select File")
                                                    .Hint("Select New Assay Compatibility Evaluation Form")
                                                    .LabelText("")
                                                    .Accept("*.pdf")
                                                    .MaxFileSize(10000000)  // 10 MB
                                                    .UploadMode(FileUploadMode.UseForm)
                                                    .OnContentReady("onContentReadyUploadFile")
                                                    .ReadyToUploadMessage("Press " + titleSave + " to upload file")
                                                    .Visible(bEditRequestInfo)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label asp-for="TicketId" id="lblTicketId" class="col-sm-2 control-label">Ticket already sent to Support</label>
                        <div class="col-sm-8">
                            @(Html.DevExtreme().LookupFor(m => m.TicketId)
                                        .ID("TicketId")
                                        .DataSource(d => d.Mvc().Controller("TK3PSupport").LoadAction("GetTickets").Key("TKRequestId"))
                                        .ShowPopupTitle(false)
                                        .ValueExpr("TKRequestId")
                                        .DisplayExpr("RequestInfo")
                                        .SearchExpr(new[] { "TKRequestId", "Object" })
                                        .Placeholder("select...")
                                        .SearchPlaceholder("search")
                                        .ShowClearButton(true)
                                        .ClearButtonText("Remove Selection")
                                        .ItemTemplate(@<text>
                                            <div class="instrument-item">
                                                <div class="row instrument-title">
                                                    <div class="col-md-12"><b><%= TKRequestId %></b> - <%= Object %></div>
                                                </div>
                                            </div>
                                        </text>)
                            )
                            <span asp-validation-for="TicketId" class="text-danger"></span>
                        <em>
                            If this request is only for a change to an already requested and received assay protocol, 
                            select the specific number of the third party AP request made otherwise skip this section and select <b>Create new Support Request</b>.
                        </em>
                        </div>
                        <div class="col-sm-2">
                            @(Html.DevExtreme().CheckBoxFor(m => m.CreateNewTicket).ID("CreateNewTicket").Text("Create New Support Request")
                                                                            .OnValueChanged("createNewTicket_valueChanged"))
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExtreme().Button().Text("Delete").OnClick("doDeleteRequest").Type(ButtonType.Danger).Visible(@bCanDeleteRequest)
                </div>
                <div class="col-md-9">
                    <div class="pull-right">
                        @Html.DevExtreme().Button().Icon("save").Hint(titleSave).Text(titleSave).ID("btnSave").Type(ButtonType.Success).OnClick("doSaveChanges").Visible(bEditRequestInfo)
                    </div>
                </div>
            </div>
            @if (bShowChangeStatus)
            {
                <div class="col-md-12 col-sm-12 well">
                    <div class="form-group" id="divUploadAPReady">
                        <label class="col-sm-2 control-label">New Status</label>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().SelectBox()
                                        .DataSource(newStatus)
                                        .DisplayExpr("text")
                                        .ValueExpr("id")
                                        .Placeholder("Select New Status")
                                        .ID("NewStatus")
                                        .OnValueChanged("onValueChange_NewStatus")
                            )
                            @(Html.DevExtreme().FileUploader()
                                        .ID("APReadyFile")
                                        .Name("APReadyFile")
                                        .SelectButtonText("Select AP File")
                                        .Hint("Select AP File")
                                        .LabelText("")
                                        .Accept("application/zip")
                                        .MaxFileSize(10000000)  // 10 MB
                                        .UploadMode(FileUploadMode.UseForm)
                                        .Visible(false)
                            )
                        </div>
                        <div class="col-sm-4">
                            @Html.DevExtreme().Button().Icon("check").Hint("Set New Status").Text("Set New Status").Type(ButtonType.Success).OnClick("doSaveNewStatus")
                        </div>
                    </div>
                </div>
            }
            @if (bShowActivity)
            {
                <div class="col-md-12 col-sm-12 well">
                    <div id="divActivity">
                        <div class="col-sm-12">
                            @(Html.DevExtreme().DataGrid()
                                                        .ID("grid-activity")
                                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                        .ShowBorders(true)
                                                        .ShowRowLines(true)
                                                        .ShowColumnHeaders(true)
                                                        .HoverStateEnabled(false)
                                                        .RowAlternationEnabled(false)
                                                        .AllowColumnResizing(true)
                                                        .Height(500)
                                                        .DataSource(d => d.WebApi().LoadAction("GetRequestActivity")
                                                                .LoadParams(new { requestId = Model.TK3PRequestId })
                                                            )
                                                        .RemoteOperations(true)
                                                        .WordWrapEnabled(true)
                                                        .Columns(columns =>
                                                        {
                                                            columns.Add().DataField("TKEventId").Visible(false);
                                                            columns.Add()
                                                                .Width("20%")
                                                                .Alignment(HorizontalAlignment.Left)
                                                                .Caption("")
                                                                .Name("InfoInsert")
                                                                .CellTemplate(@<text>
                                                                    <%= data.TmstInseDeco %> <br />
                                                                    <%= data.UserInse_Name %>  <br />
                                                                </text>);
                                                            columns.Add().DataField("TmstInseDeco").Visible(false);
                                                            columns.Add().DataField("UserInse").Visible(false);
                                                            columns.Add().Width("15%")
                                                                                .Alignment(HorizontalAlignment.Left)
                                                                                .DataField("Operation");
                                                            columns.Add().Width("65%")
                                                                                .Alignment(HorizontalAlignment.Left)
                                                                                .Caption("Note")
                                                                                .Name("InfoNote")
                                                                                .CellTemplate(@<text><%= data.Note %></text>);
                                                            columns.Add().DataField("Note").Name("Note2").Visible(false);
                                                        })
                                                        .Paging(p => p.Enabled(false))
                                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                            )
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-12 text-center"><span class="small">@rifRequest</span></div>
            </div>
        </div>
</form>

<div class="modal fade" id="DivUpload" tabindex="-1" role="dialog" aria-labelledby="Add Attachment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_upload">Add New File</h4>
                <em>Maximum file size: <b>10 MB</b></em>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                        .ID("file-uploader")
                                        .Name("myNewFile")
                                        .Multiple(true)
                                        .Accept("*")
                                        .MaxFileSize(10000000)  // 10 MB
                                        .UploadMode(FileUploadMode.Instantly)
                                        .UploadUrl(Url.Action("UploadNewIFUFile", new { TK3PRequestId = Model.TK3PRequestId }))
                                        .OnUploadStarted("fileUploader_onUploadStarted")
                                        .OnUploaded("fileUploader_onUploaded")
                                        .OnUploadError("fileUploader_onUploadError")
                                        .OnUploadAborted("fileUploader_onUploadAborted")
                                        .LabelText("Select or Drop file here")
                                        .SelectButtonText("Select file")
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

