﻿@using WebApp.Classes
@{
    ViewData["Title"] = "Third Party Assay Protocols Request";
    string titolo = ViewData["Title"].ToString();

    bool bShowAllRequest = false;
    if (ViewData["bShowAllRequest"] != null)
    {
        bShowAllRequest = (bool)ViewData["bShowAllRequest"];
    }

    bool bSupportUser = User.IsInRole(Lookup.Role_Support);
    bool bAdmin = User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator);
    bool bResearchAndDevelopment = User.IsInRole(Lookup.Role_OpenAP3P_ResearchAndDevelopment);
    bool bQuality = User.IsInRole(Lookup.Role_OpenAP3P_Quality);
    bool bOrderDepartment = User.IsInRole(Lookup.Role_OpenAP3P_OrderDepartment);
    bool bSupport = bAdmin || bResearchAndDevelopment || bQuality || bOrderDepartment;

    bool bShowUploadTemplate = bAdmin;

    string titleShowAllRequests = "Show Closed and Refused Requests";
    if (User.IsInRole(Lookup.Role_OpenAP3P_OrderDepartment) || User.IsInRole(Lookup.Role_OpenAP3P_Quality) ||
        User.IsInRole(Lookup.Role_OpenAP3P_ResearchAndDevelopment) || User.IsInRole(Lookup.Role_OpenAP3P_SupportAdministrator))
    {
        titleShowAllRequests = "Show All Requests";
    }
}

<style type="text/css">
    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    legend {
        font-size: 12px;
        font-style: italic;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dx-tab-text {
        height: 40px;
    }

    .dx-item.dx-tab {
        font-weight: bold;
        font-size: large;
    }

        .dx-item.dx-tab.dx-tab-selected {
            color: blue;
            font-size: x-large;
            font-style: italic;
        }

    .cmdDownload {
        font-size: 20px;
    }
    .cmdDownloadAssay {
        font-size: 24px;
    }
    .cmdEvaluation {
        font-size: 24px;
        color: forestgreen;
        font-weight: bold;
    }
    .cmdUploadAssay {
        font-size: 24px;
    }
    .cmdSetRelease {
        font-size: 24px;
        color: darkmagenta;
    }
    .cmdUndo {
        font-size: 24px;
        color: red;
    }
    .cmdClose {
        font-size: 24px;
        color: blue;
    }

    .cmdEdit {
        font-size: 20px;
    }

    .cmdDetail {
        font-size: 20px;
        color: black;
    }

    .cmdResume {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .TKRequest-status-PENDING {
        background-color: #FFD1D1;
    }

    .TKRequest-status-PROCESSING {
        background-color: #FFC700;
    }

    .TKRequest-status-READY {
        background-color: #D4E8FF;
    }

    .TKRequest-status-RELEASED {
        background-color: #80FF00;
    }

    .TKRequest-status-REFUSED {
        background-color: #C00000;
        color: white !important;
    }

    .TKRequest-status-CLOSED {
        background-color: #F2F2F2;
    }

    .TKRequest-statusHigh-PENDING {
        font-weight: bold;
    }

    .TKRequest-statusHigh-PROCESSING {
        font-weight: bold;
    }

    .TKRequest-statusHigh-READY {
        font-weight: bold;
    }
    .TKRequest-statusHigh-RELEASED {
        font-weight: bold;
    }

    .TKRequest-statusHigh-REFUSED {
        font-weight: bold;
    }

    .TKRequest-statusHigh-CLOSED {
        font-weight: bold;
    }

    .TKRequest-status-REFUSED.dx-row.dx-data-row.dx-column-lines.dx-state-hover td {
        color: white !important;
    }
    .releaseDate {
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    var selTKRequestId = 0;
    var jsShowAllRequests = false;
    if ('@bShowAllRequest'.toLowerCase() == 'true') jsShowAllRequests = true;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "add",
                text: "New Request",
                hint: "New Open Assay Protocol Third Party Request",
                type: "success",
                visible: ('@bSupportUser'.toLocaleLowerCase() == 'true'),
                onClick: function () {
                    $("#elenco").attr("action", '@Url.Action("Create")');
                    $("#elenco").attr("method", "GET");
                    $("#elenco").submit();
                    return false;
                }
            }
        @*}, {
            location: "before",
            widget: "dxButton",
            options: {
                icon: "fa fa-check-square-o",
                text: "Evaluation",
                hint: "Evaluation new request",
                type: "normal",
                visible: ('@bAdmin'.toLocaleLowerCase() == 'true'),
                onClick: function () {
                    onClickEvaluationRequest();
                    return false;
                }
            }
        }, {
            location: "before",
            widget: "dxButton",
            options: {
                icon: "upload",
                text: "Upload AP File",
                hint: "Upload AP File",
                type: "normal",
                visible: ('@bResearchAndDevelopment'.toLocaleLowerCase() == 'true'),
                onClick: function () {
                    onClickUploadAssay();
                    return false;
                }
            }
        }, {
            location: "before",
            widget: "dxButton",
            options: {
                icon: "check",
                text: "Set Release",
                hint: "Set Release",
                type: "normal",
                visible: ('@bQuality'.toLocaleLowerCase() == 'true'),
                onClick: function () {
                    onClickSetRelease();
                    return false;
                }
            }
        }, {
            location: "before",
            widget: "dxButton",
            options: {
                icon: "undo",
                text: "Reopen Request",
                hint: "Reopen Request",
                type: "normal",
                visible: ('@bAdmin'.toLocaleLowerCase() == 'true'),
                onClick: function () {
                    onClickReopen();
                    return false;
                }
            }*@
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsxfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
            location: "before",
            widget: "dxCheckBox",
            options: {
                value: (jsShowAllRequests || false),
                text: "@titleShowAllRequests",
                onValueChanged: function (data) {
                    jsShowAllRequests = data.value;
                    aggiornaFiltri();
                }
            }
        });
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function requestGrid_OnRowDblClick(e) {
        if (e.key) {
            goDetail(e.key);
        }
    }
    function goDetail(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").append('<input type="hidden" name="readOnly" value="true">');
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }
    function goEdit(Id) {
        $("#elenco").attr("method", "GET");
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + Id);
        $("#elenco").submit();
        return false;
    }
    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('TKRequest-status-' + info.data.Status);
        }
    }
    function onCellPrepared(e) {
        var tmplEdit = "<a href='#' onclick='goEdit({{requestId}});' class='glyphicon glyphicon-edit cmdEdit' title='Edit'></a>&nbsp;";
        var tmplDetail = "<a href='#' onclick='goDetail({{requestId}});' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
        var tmplDownloadIFU = "<a href='#' onclick='goDownloadIFU({{requestId}});' title='Download' class='fa fa-file-archive-o cmdDownload'></a>";
        var tmplDownloadEvalForm = "<a href='#' onclick='goDownloadEvalForm({{requestId}});' title='Download' class='fa fa-list-alt cmdDownload'></a>";
        var tmplDownloadAssayProt = "<a href='#' onclick='doDownloadAssayProtocol({{requestId}}, {{askIfClose}});' title='Download' class='fa fa-cloud-download cmdDownloadAssay'></a>";
        var tmplEvaluate = "<a href='#' onclick='goEvaluationRequest({{requestId}});' class='fa fa-star cmdEvaluation' title='Evaluation'></a>&nbsp;";
        var tmplUploadAssay = "<a href='#' onclick='goUploadAssay({{requestId}}, \"{{code}}\");' class='fa fa-upload cmdUploadAssay' title='Upload AP File'></a>&nbsp;";
        var tmplSetRelease = "<a href='#' onclick='goSetRelease({{requestId}}, \"{{code}}\");'  class='fa fa-check-circle cmdSetRelease' title='Set Release'></a>&nbsp;";
        var tmplReopen = "<a href='#' onclick='goReopen({{requestId}});' class='fa fa-undo cmdUndo' title='Reopen Request'></a>&nbsp;";
        var tmplClose = "<a href='#' onclick='goClose({{requestId}});' class='glyphicon glyphicon-check cmdClose' title='Close Request'></a>&nbsp;";

        var dataTemplate = new Object();
        var fieldHtml = "";
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            dataTemplate.requestId = e.value;
            dataTemplate.code = e.data.Code;
            //console.log(e.data);
            //console.log(e.data.canEdit == true);
            //console.log(e.data.canEdit == false);
            @*if (e.data.canEdit && (e.data.UserInse == '@User.Identity.Name' || '@bAdmin'.toLocaleLowerCase() == 'true')) {*@
            if (e.data.canEdit && (e.data.UserInse == '@User.Identity.Name'|| '@bAdmin'.toLocaleLowerCase() == 'true')) {
                fieldHtml = Mustache.render(tmplEdit, dataTemplate);
            } else {
                fieldHtml = Mustache.render(tmplDetail, dataTemplate);
            }
            if (e.data.canEvaluate && '@bAdmin'.toLocaleLowerCase() == 'true') {
                fieldHtml += Mustache.render(tmplEvaluate, dataTemplate);
            }
            if (e.data.canUploadAssay && '@bResearchAndDevelopment'.toLocaleLowerCase() == 'true') {
                fieldHtml += Mustache.render(tmplUploadAssay, dataTemplate);
            }
            if (e.data.canSetRelease && '@bQuality'.toLocaleLowerCase() == 'true') {
                fieldHtml += Mustache.render(tmplSetRelease, dataTemplate);
            }
            if (e.data.canClose && '@bOrderDepartment'.toLocaleLowerCase() == 'true') {
                fieldHtml += Mustache.render(tmplClose,  dataTemplate);
            }
            if (e.data.canReopen && '@bAdmin'.toLocaleLowerCase() == 'true') {
                fieldHtml += Mustache.render(tmplReopen, dataTemplate);
            }
            e.cellElement.html(fieldHtml);
        }
        //if (e.rowType == 'data' && e.column.name && e.column.name == "cmdCheck") {
        //    fieldHtml = "<input type='radio' name='selRequest' value='" + e.data.TK3PRequestId + "' style='height:20px;width: 20px;'>";
        //    e.cellElement.html(fieldHtml);
        //}
        if (e.rowType == 'data' && e.column.name && e.column.name == "IFU") {
            if (e.data.cntIFU > 0) {
                dataTemplate.requestId = e.data.TK3PRequestId;
                fieldHtml = Mustache.render(tmplDownloadIFU, dataTemplate);
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "cntEvalForm") {
            if (e.data.cntEvalForm > 0) {
                dataTemplate.requestId = e.data.TK3PRequestId;
                fieldHtml = Mustache.render(tmplDownloadEvalForm, dataTemplate);
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "FileNameAP") {
            if ((e.data.FileNameAP || '') != '') {
                if (e.data.canDownloadAP) {
                    if ('@bSupport'.toLocaleLowerCase() == 'true' || (e.data.DateReleaseDeco || '') != '') {
                        dataTemplate.requestId = e.data.TK3PRequestId;
                        dataTemplate.askIfClose = (e.data.UserInse == '@User.Identity.Name' && e.data.Status == '@Lookup.TK3PRequest_Status_RELEASED');
                        fieldHtml = Mustache.render(tmplDownloadAssayProt, dataTemplate);
                    }
                }
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('TKRequest-statusHigh-' + e.data.Status);
        }
    }
    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function goDownloadIFU(id) {
        $("#elenco").attr("action", '@Url.Action("DownloadIFU")/' + id);
        $("#elenco").submit();
        return false;
    }
    function goDownloadEvalForm(id) {
        $("#elenco").attr("action", '@Url.Action("DownloadCompEvalForm")/' + id);
        $("#elenco").submit();
        return false;
    }
    function doDownloadAssayProtocol(id, askIfClose) {
        if (askIfClose == false) {
            callDownloadAssayProtocol(id, false)
            return false;
        }
        bootbox.dialog({
            message: "Do you want to close this request after download ?",
            buttons: {
                cancel: {
                    label: "Cancel",
                    callback: function () {
                        //console.log('Custom cancel clicked');
                    }
                },
                noclose: {
                    label: "No, only download",
                    className: 'btn-success',
                    callback: function () {
                        callDownloadAssayProtocol(id, false)
                    }
                },
                ok: {
                    label: "Yes, Download And Close",
                    className: 'btn-primary',
                    callback: function () {
                        callDownloadAssayProtocol(id, true)
                    }
                }
            }
        });
        return false;
     }

    function callDownloadAssayProtocol(id, bCloseAfterDownload) {
        //console.log(bCloseAfterDownload);
        $('#bCloseAfterDownload').val(bCloseAfterDownload);
        $("#elenco").attr("action", '@Url.Action("DownloadAssayProtocol")/' + id);
        $("#elenco").submit();
        setTimeout(function () {
            getDataGridInstance().refresh()
        }, 1500);
        return false;
    }
    function downloadTemplateMod1923() {
        $("#elenco").attr("action", '@Url.Action("DownloadTemplateCompEvalForm")');
        $("#elenco").submit();
        return false;
    }
    function aggiornaFiltri() {
        $.get('@Url.Action("SaveManageFilters")', { showAllRequests: jsShowAllRequests }
             ).always(function () {
                getDataGridInstance().getDataSource().reload();
            });
    }
    function goUploadTemplate() {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $("#fileUploaderTemplate").dxFileUploader("instance").reset();
        $('#DivUploadTemplate').modal({
            keyboard: true
        }, 'show');
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }
    function UploadFile_onUploaded(e) {
        $('#DivUploadTemplate').modal("hide");
        getDataGridInstance().refresh();
        DevExpress.ui.notify("New Template Mod 19.23 Uploaded", "info");
    }
    @*function onClickEvaluationRequest() {
        var requestId = $('input[name="selRequest"]:checked').val();
        if ((requestId || '') == '') {
            bootbox.alert("Select a row");
            return false;
        }
        getDataGridInstance().selectRows(requestId);
        var rows = getDataGridInstance().getSelectedRowsData();
        getDataGridInstance().selectRows();
        if ((rows[0].Status || '') != '@Lookup.TK3PRequest_Status_PENDING') {
            bootbox.alert("Upload AP File function allowed only for @Lookup.TK3PRequest_StatusDeco_PENDING Request");
            return false;
        }
        goEvaluationRequest(requestId);
    }*@
    function goEvaluationRequest(requestId) {
        $("#elenco").attr("method", "GET");
        $("#elenco").append('<input type="hidden" name="evaluation" value="true">');
        $("#elenco").attr("action", '@Url.Action("EditRequest")/' + requestId);
        $("#elenco").submit();
        return false;
    }
    @*function onClickUploadAssay() {
        var requestId = $('input[name="selRequest"]:checked').val();
        if ((requestId || '') == '') {
            bootbox.alert("Select a row");
            return false;
        }
        getDataGridInstance().selectRows(requestId);
        var rows = getDataGridInstance().getSelectedRowsData();
        getDataGridInstance().selectRows();
        if ((rows[0].Status || '') != '@Lookup.TK3PRequest_Status_PROCESSING') {
            bootbox.alert("Upload AP File function allowed only for @Lookup.TK3PRequest_StatusDeco_PROCESSING Request");
            return false;
        }
        goUploadAssay(requestId, rows[0].Code);
    }*@
    function goUploadAssay(requestId, code) {
        $("#CodeAPFile").text(code);
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $("#fileUploaderAssay").dxFileUploader("instance").reset();
        var uploader = $("#fileUploaderAssay").dxFileUploader("instance");
        var url = uploader.option("uploadUrl");
        uploader.option("value", "");
        url = updateQueryStringParameter(url, "TK3PRequestId", requestId);
        uploader.option("uploadUrl", url);
        $('#DivUploadAssay').modal({
            keyboard: true
        }, 'show');
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }
    function UploadAssayFile_onUploaded(e) {
        $('#DivUploadAssay').modal("hide");
        getDataGridInstance().refresh();
        DevExpress.ui.notify("New Assay Uploaded", "info");
    }
    @*function onClickSetRelease() {
        var requestId = $('input[name="selRequest"]:checked').val();
        if ((requestId || '') == '') {
            bootbox.alert("Select a row");
            return false;
        }
        getDataGridInstance().selectRows(requestId);
        var rows = getDataGridInstance().getSelectedRowsData();
        getDataGridInstance().selectRows();
        if ((rows[0].Status || '') != '@Lookup.TK3PRequest_Status_READY') {
            bootbox.alert("Set Release function allowed only for @Lookup.TK3PRequest_StatusDeco_READY Request");
            return false;
        }
        goSetRelease(requestId);
    }*@
    function goSetRelease(requestId, code) {
        bootbox.confirm("Do you want to release the AP for the request <b>" + code + "</b> ? ", function (result) {
            if (result) {
                bootbox.hideAll();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SetReleaseDateJSON")',
                    data: { TK3PRequestId: requestId},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    }
                }).always(function () {
                    getDataGridInstance().refresh();
                });
            }
        });
        return false;
    }
    @*function onClickReopen() {
        var requestId = $('input[name="selRequest"]:checked').val();
        if ((requestId || '') == '') {
            bootbox.alert("Select a row");
            return false;
        }
        getDataGridInstance().selectRows(requestId);
        var rows = getDataGridInstance().getSelectedRowsData();
        getDataGridInstance().selectRows();
        if ((rows[0].Status || '') != '@Lookup.TK3PRequest_Status_CLOSED') {
            bootbox.alert("Reopen function allowed only for @Lookup.TK3PRequest_StatusDeco_CLOSED Request");
            return false;
        }
        goReopen(requestId);
    }*@
    function goReopen(requestId) {
        bootbox.confirm("Do you want to reopen the request?", function (result) {
            if (result) {
                bootbox.hideAll();
                $("#elenco").attr("method", "GET");
                $("#elenco").attr("action", '@Url.Action("ReopenRequest")/' + requestId);
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }
    function goClose(requestId) {
        bootbox.confirm("Do you want to close the request?", function (result) {
            if (result) {
                bootbox.hideAll();
                $("#elenco").attr("method", "GET");
                $("#elenco").attr("action", '@Url.Action("CloseRequest")/' + requestId);
                $("#elenco").submit();
                return false;
            }
        });
        return false;
    }

</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button().Icon("fa fa-info-circle").Hint("Function Documentation")
                                                            .Text("").Type(ButtonType.Normal).OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{

    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Support_3PRequests">
    <input type="hidden" name="bCloseAfterDownload" id="bCloseAfterDownload" value="">
    <div id="sfondo"></div>
    <br />
    <div class="row" style="margin-top: 5px;">
        @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(true)
                                    .RowAlternationEnabled(false)
                                    .DataSource(d => d.WebApi().Controller("TK3PSupport").LoadAction("GetAP3Requests").Key("TK3PRequestId")
                                                            .LoadParams(new { bGetAllRequests = new JS("function() { return jsShowAllRequests; }") })
                                    )
                                    .RemoteOperations(true)
                                    .OnCellPrepared("onCellPrepared")
                                    .OnRowPrepared("OnRowPrepared")
                                    .Selection(s => s.Mode(SelectionMode.None))
                                    .OnRowDblClick("requestGrid_OnRowDblClick")
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple).ShowSortIndexes(true))
                                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("TKAP3Pindex"))
                                    .AllowColumnResizing(true)
                                    .ColumnResizingMode(ColumnResizingMode.Widget)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("TK3PRequestId").Visible(false);
                                        //columns.Add()
                                        //            .Alignment(HorizontalAlignment.Center)
                                        //            .Width(60)
                                        //            .DataField("TK3PRequestId")
                                        //            .AllowFiltering(false)
                                        //            .AllowSorting(false)
                                        //            .AllowEditing(false)
                                        //            .AllowExporting(false)
                                        //            .Caption("")
                                        //            .Fixed(true)
                                        //            .FixedPosition(HorizontalEdge.Left)
                                        //            .Name("cmdCheck");
                                        columns.Add().DataField("Code").Caption("Id").Width(120).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("DateInseDeco").CalculateSortValue("DateInseSort").Width(100).Alignment(HorizontalAlignment.Center)
                                                    .HeaderCellTemplate("Date of the<br/>request").Caption("Date of the request");
                                        columns.Add().DataField("UserInse_Name").Caption("User").Width(150);
                                        columns.Add().DataField("UserInse_CompanyName").Caption("Company").Width(150);
                                        columns.Add().DataField("CustomerSelection").HeaderCellTemplate("Customer<br/>Selection").Caption("Customer Selection Number").Width(100);
                                        columns.Add().DataField("cntEvalForm").Name("cntEvalForm").HeaderCellTemplate("Assay<br/>Compatibility<br/>Evaluation<br/>Form")
                                                    .Caption("Assay Compatibility Evaluation Form").Width(100).Alignment(HorizontalAlignment.Center).AllowExporting(false).AllowFiltering(false);
                                        columns.Add().DataField("cntIFU").Name("IFU").Caption("IFU").Width(80).Alignment(HorizontalAlignment.Center).AllowExporting(false).AllowFiltering(false);
                                        columns.Add().DataField("PurchaseOrder").Caption("PO").Width(120);
                                        columns.Add().DataField("Target").Caption("Target").Width(120);
                                        columns.Add().DataField("Manufacturer").Caption("Manufacturer").Width(120);
                                        columns.Add().DataField("SWVersion_Desc").Caption("SW Version").Width(100).Alignment(HorizontalAlignment.Center);
                                        columns.Add().DataField("StatusDeco").Caption("Status").Name("status").Alignment(HorizontalAlignment.Center).Width(120);
                                        columns.Add().DataField("FileNameAP").Name("FileNameAP").Caption("AP").Width(80).Alignment(HorizontalAlignment.Center).AllowExporting(false).AllowFiltering(false);
                                        columns.Add().DataField("DateReleaseDeco").CalculateSortValue("DateReleaseSort").Width(120).CssClass("releaseDate")
                                                    .HeaderCellTemplate("Release<br/>Date").Caption("Release Date").Alignment(HorizontalAlignment.Center);
                                        columns.Add()
                                                    .Alignment(HorizontalAlignment.Center)
                                                    .Width(100)
                                                    .DataField("TK3PRequestId")
                                                    .AllowFiltering(false)
                                                    .AllowSorting(false)
                                                    .AllowEditing(false)
                                                    .AllowExporting(false)
                                                    .Caption("")
                                                    .Fixed(true)
                                                    .FixedPosition(HorizontalEdge.Right)
                                                    .Name("cmdRequest");
                                    })
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(false).FileName("ThirdPartyAssayProtocolsRequest").AllowExportSelectedData(false))
                                    .OnToolbarPreparing("toolbar_preparing")
        )
    </div>
    <br />
    <div class="row">
        @(Html.DevExtreme().Button()
                    .ID("AddNewTemplate")
                    .Icon("upload")
                    .Hint("Upload New Template Mod 19.23")
                    .Text("Upload New Template Mod 19.23")
                    .Type(ButtonType.Normal)
                    .OnClick("goUploadTemplate")
                    .Visible(bShowUploadTemplate)
        )
        <a href="#" onclick="downloadTemplateMod1923();" style="font-size: 14px; word-wrap: break-word; white-space: normal" ;
           class="btn btn-link btn-xs" title="Download Template of MOD19,23"><i class="fa fa-download">&nbsp;Download Template of MOD19,23</i></a>
    </div>
}


<div class="modal fade" id="DivUploadTemplate" tabindex="-1" role="dialog" aria-labelledby="Upload Template" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_upload_template">Upload new Template MOD 19.23</h4>
                <em>Maximum file size: <b>10 MB</b></em>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                                .ID("fileUploaderTemplate")
                                                .Name("myNewTemplate")
                                                .Multiple(false)
                                                .Accept("application/pdf")
                                                .UploadMode(FileUploadMode.Instantly)
                                                .UploadUrl(Url.Action("UploadNewTemplate"))
                                                .OnUploaded("UploadFile_onUploaded")
                                                .LabelText("Select a file (pdf)")
                                                .SelectButtonText("Select file")
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DivUploadAssay" tabindex="-1" role="dialog" aria-labelledby="Upload Assay Protocol" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_upload_APFile">Upload Assay Protocol <b><span id="CodeAPFile"></span></b></h4>
                <em>Maximum file size: <b>30 MB</b></em>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                                .ID("fileUploaderAssay")
                                                .Name("myAssayFile")
                                                .Multiple(false)
                                                .Accept("application/zip")
                                                .UploadMode(FileUploadMode.Instantly)
                                                .UploadUrl(Url.Action("UploadNewAssayFile", new { TK3PRequestId = 0 }))  // Valorizzato a runtime 
                                                .OnUploaded("UploadAssayFile_onUploaded")
                                                .LabelText("Select a file (zip)")
                                                .SelectButtonText("Select Assay file")
                                                .MaxFileSize(30000000)  // 30 MB
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
