@model IEnumerable<WebApp.Entity.WSPEvent>

<div id="TrainingLog">
    @(Html.DevExtreme().DataGrid()
                        .ID("grid-log")
                        .ShowRowLines(true)
                        .HoverStateEnabled(true)
                        .RowAlternationEnabled(true)
                        .AllowColumnResizing(true)
                        .ShowBorders(true)
                        .ColumnResizingMode(ColumnResizingMode.Widget)
                        .DataSource(Model)
                        .SearchPanel(sp => sp.Visible(true).Width(300))
                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("TmstInseDeco").Caption("At").SortOrder(SortOrder.Asc).CalculateSortValue("TmstInseSort").Width(150);
                            columns.Add().DataField("UserInse").Caption("User").Width(100);
                            columns.Add().DataField("Operation").Width(120).Caption("Operation").Width(200);
                            columns.Add().DataField("Note");
                        })
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
                        .Export(e => e.Enabled(true).FileName("RequestEvents").AllowExportSelectedData(false))
                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
    )
</div>