@model WebApp.Entity.Product

@{
    ViewData["Title"] = "Manage Spare Parts";
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .dx-toolbar-items-container {
        display: none;
    }


    .dx-highlight-outline {
        all: unset;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $("#savePanel").dxLoadPanel({
            onShown: function (e) {
                setTimeout(function () {
                    e.component.hide();
                }, 3000);
            }
        });
    });

    var errorMessage = "";
    var selProductId = 0;

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function doSave() {
        $("#savePanel").dxLoadPanel("instance").show();
        var dataGrid = $("#grid-container").dxDataGrid("instance");
        dataGrid.option('loadPanel.enabled', false);
        dataGrid.saveEditData().done(function () {
            if (dataGrid.hasEditData()) {
                dataGrid.refresh();
                $("#savePanel").dxLoadPanel("instance").hide();
                bootbox.alert("An error has occurred during update!! " + errorMessage);
            } else {
                $("#form-elenco").submit();
            }
        })
        return false;
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }

    function goExport() {
        $("#grid-container").dxDataGrid("instance").exportToExcel();
    }
</script>

@(Html.DevExtreme().LoadPanel()
                        .ID("savePanel")
                        .ShadingColor("rgba(0,0,0,0.4)")
                        .Visible(false)
                        .ShowIndicator(true)
                        .ShowPane(true)
                        .Shading(true)
                        .Message("Saving...")
                        .CloseOnOutsideClick(false)
)

<form id="form-elenco">    
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button()
                                        .Icon("export")
                                        .Hint("Export to Excel")
                                        .OnClick("goExport")
                    )
                </div>
            </div>
        </div>

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                        .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(false)
                            .RowAlternationEnabled(true)
                            .AllowColumnResizing(true)
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                            .Selection(selection => selection.Mode(SelectionMode.None))
                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Batch);
                                editing.AllowUpdating(true);
                            })
                            .DataSource(d => d.Mvc()
                                .Controller("Warranty")
                                .LoadAction("GetAllSpareParts")
                                .UpdateAction("UpdateSparePart")
                                .Key("CodArt")
                            )
                            .RemoteOperations(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("CodArt").Caption("Spare Part").AllowEditing(false).Width("15%").SortIndex(1).SortOrder(SortOrder.Asc);
                                columns.Add().DataField("Description").Caption("Description").Width("30%").AllowEditing(false);
                                columns.Add().DataField("OffLine").Caption("Off Line").Width("10%");
                                columns.Add().DataField("LimitedWarranty").Caption("Limited Warranty").Width("15%");
                                columns.Add().DataField("InWarranty").Caption("Always Under Warranty").Width("15%");
                                columns.Add().DataField("InvestigationForBreaking").Caption("Investigation For Breaking").Width("15%");
                            })
                        .OnDataErrorOccurred("Data_Error")
                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .Export(e => e.Enabled(true).FileName("SpareParts"))
                        .LoadPanel(l => l.Enabled(true).Height(70))
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
            )
        </div>
    </div>

    <div class="empty_row"></div>
    <div class="row pull-right">
        @(Html.DevExtreme().Button()
                                            .Icon("save")
                                            .Hint("Save Changes")
                                            .Text("Save")
                                            .Type(ButtonType.Success)
                                            .OnClick("doSave")
        )
    </div>
    <br />
</form>

