﻿@model WebApp.Entity.WSPEditRequestDTO
@using WebApp.Classes
@using Microsoft.AspNetCore.Http;
@using WebApp.Entity;

@{
    string titleSave = "Save Changes";
    string titolo = "Detail Request";
    string rifStatus = string.Format("{0}", Model.StatusDeco);
    string rifRequest = String.Format("id {0}", Model.WSPRequestId);

    if (Model.Status.Equals(Lookup.WSPRequest_Status_DRAFT))
    {
        titleSave = "Create";
        titolo = "Create New Request";
        rifStatus = "";
    }
    int AttachmentType_File = (int)Lookup.WSPAttachType.file;
    int AttachmentType_Url = (int)Lookup.WSPAttachType.url;

    // Switch per gestione sezioni:
    // - RO --> ReadOnly
    // - ED --> Editable
    // - '' o altri valori --> non visibile
    // per default, sono mostrati sono i dati della request (DETAIL da WSPINDEX)
    string modeRequestInfo = "RO";
    string modeAttachments = "RO";
    string modeWarrantyStatus = "";
    string modeSupplierWarranty = "";
    string modeInvoiceInfo = "";
    bool showProductWarning = false;
    bool canDeleteRequest = false;
    bool canCloseRequest = false;

    if (Model.Management == true) // from MANAGEMENT (SUPPORT o BACKOFFICE)
    {

        showProductWarning = true;
        if (Model.readOnly)
        {
            if (Model.Status.Equals(Lookup.WSPRequest_Status_PROCESSING) || Model.Status.Equals(Lookup.WSPRequest_Status_CLOSED))
            {
                modeWarrantyStatus = "RO";
                if (!string.IsNullOrWhiteSpace(Model.WarrantyStatus))
                {
                    if (Model.WarrantyStatus.Equals(Lookup.Code_WSP_WarrantyStatus_WITH_REPLACEMENT) || Model.WarrantyStatus.Equals(Lookup.Code_WSP_WarrantyStatus_NO_REPLACEMENT))
                    {
                        modeSupplierWarranty = "RO";
                        modeInvoiceInfo = "RO";
                    }
                }
            }
        }
        else
        {
            if (Model.Status.Equals(Lookup.WSPRequest_Status_PENDING))
            {
                canDeleteRequest = true;
                modeAttachments = "ED";
                modeRequestInfo = "ED";
                modeWarrantyStatus = "ED";
            }
            if (Model.Status.Equals(Lookup.WSPRequest_Status_PROCESSING))
            {
                modeWarrantyStatus = "RO";
                if (User.IsInRole(Lookup.Role_WarrantyAdministrator))
                {
                    canCloseRequest = true;
                    modeAttachments = "ED";
                    modeSupplierWarranty = "ED";
                    modeInvoiceInfo = "ED";
                }
                else if (User.IsInRole(Lookup.Role_WarrantyBackOffice))
                {
                    modeSupplierWarranty = "RO";
                    modeInvoiceInfo = "RO";
                    if (!string.IsNullOrWhiteSpace(Model.ExchangeRequest) && Model.ExchangeRequest.Equals(Lookup.Code_WSP_ExchangeRequest_RequestToTheProvider))
                    {
                        if (!string.IsNullOrWhiteSpace(Model.Compliant) && Model.Compliant.Equals(Lookup.Code_WSP_Compliant_YES))
                        {
                            modeInvoiceInfo = "ED";
                        }
                    }
                }
            }

            if (Model.Status.Equals(Lookup.WSPRequest_Status_CLOSED))
            {
                modeWarrantyStatus = "RO";
                modeSupplierWarranty = "RO";
                modeInvoiceInfo = "RO";
            }
        }
    }
    else    // PROVENIENZA DA INDEX
    {
        if (Model.readOnly)
        {
            if (!Model.Status.Equals(Lookup.WSPRequest_Status_PENDING))
            {
                modeWarrantyStatus = "RO";
            }
        }
        else
        {
            modeAttachments = "ED";
            modeRequestInfo = "ED";
            canDeleteRequest = Model.Status.Equals(Lookup.WSPRequest_Status_PENDING);
        }
    }

}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<style type="text/css">
    label {
        margin-bottom: 2px;
    }

    .SupplierWarranty {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
        color: blue;
        margin-bottom: 10px;
    }

    #classifPath {
        font-size: medium;
    }

    .instrument-detail {
        font-size: small;
    }

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    #toolbar {
        margin-bottom: 5px;
    }
    /*.dx-scrollable {
        border: 1px gray solid !important;
    }*/
    description {
        background-color: white;
    }

    div.form-group {
        margin-bottom: 5px;
    }

    div.note-editor.note-frame.panel.panel-default {
        margin-bottom: 5px;
    }

    .AttachmentType {
        font-size: 12px;
    }

    .cmdAttachment {
        font-size: 18px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .dx-fileuploader-file-status-message {
        color: red;
    }

    .labelNewLink {
        text-align: right;
        padding-top: 10px;
        padding-right: 0px;
    }

    .well {
        margin-bottom: 10px !important;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-top: 0px !important;
    }

    .RequestId {
        font-size: 20px;
        font-weight: bold;
    }

        .RequestId .dx-texteditor-input {
            font-size: 20px;
            font-weight: bold;
            color: darkgreen !important;
        }

    .SerialNumberInfo {
        font-size: 16px;
    }

    .btnCloseRequest {
        font-size: 16px;
        font-weight: bold;
        margin: 10px;
        margin-right: 30px;
    }

    .ExpiredWarranty .dx-texteditor-input {
        color: red !important;
        font-weight: bold;
    }

    .SerialNumberCode {
        font-size: 16px;
        font-weight: bold;
    }

    .request-info {
        padding: 10px;
        background-color: rgba(191, 191, 191, 0.15);
    }

    .form-label-high {
        font-size: 14px;
        color: green;
    }

    .alertProduct {
        padding: 2px 15px 2px 15px !important;
        margin: 1px !important;
    }

    #EngagementEmailMsg {
        padding: 2px 15px 2px 15px !important;
        margin: 1px !important;
    }

    .EngagementEmail {
        font-size: 14px;
        background-color: powderblue;
        padding: 3px !important;
    }

    .DecontaminationDeclaration {
        /*font-size: 12px;*/
        /*font-weight: bold;*/
        /*color: blue;*/
    }

    .DecontaminationDeclarationInfo {
        font-size: 12px;
    }

    .OriginalPart {
        /*font-size: 12px;*/
        /*font-weight: bold;*/
        /*color: blue;*/
    }

    .OriginalPartInfo {
        font-size: 12px;
    }

    .ExternalId {
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            $('#EngagementEmailMsg').hide();
            initEmailBodyField('EngagementEmailBody', 200);
            if ('@Model.CodArt' == '') {
                $("#DecontaminationDeclaration").dxCheckBox("instance").option('value', undefined );
            }
            if ('@Model.instrument.WarrantyDeco' != '') {
                if ('@Model.OutOfWarranty' == "True") {
                    $("#InfoOutOfWarranty").removeClass("hidden");
                } else {
                    $("#InfoWarranty").removeClass("hidden");
                }
            }
            $.ajax({
                type: "GET",
                url: '@Url.Action("RequestEventsJSON")',
                data: { WSPRequestId: @Model.WSPRequestId, Operation: '@Lookup.WSPEvent_Operation_EngagementEmail' },
                error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                success: function (data) {
                    for (var k in data) {
                        $("#EngagementEmailInfo").append('<p style="margin: 2px"><b>' + data[k].TmstInseDeco + '</b> - ' + data[k].Note + '</p>');
                    }
                }
            });
        });
    });
    function getDataGridAttachInstance() {
        return $("#grid-attachments").dxDataGrid("instance");
    }
    function doSaveChanges() {
        //var oValidator = $("#form-ges").validate();
        //if (oValidator.form() == false) {
        //    return false;
        //}
        var msg = "";
        if ('@modeRequestInfo' == 'ED') {
            if (($("#IssueDate").dxDateBox("instance").option('value') || "") == "") {
                msg += "The Issue Date field is required.<br/>";
            }
            if (($("#CodArt").dxLookup("instance").option('value') || "") == "") {
                msg += "The Spare Part field is required.<br/>";
            }
            if (($("#NumberOfParts").dxNumberBox("instance").option('value') || "") == "") {
                msg += "The Number Of Parts field is required.<br/>";
            }
            if ($("#DecontaminationDeclaration").dxCheckBox("instance").option('value') === undefined) {
                msg += "The Decontamination Declaration field is required.<br/>";
            }
            if (($("#OriginalPart").dxSelectBox("instance").option('value') || "") == "") {
                msg += "The Original Part field is required.<br/>";
            }
            if (($("#POReference").dxTextArea("instance").option('value') || "").length > 100) {
                msg += "The PO Reference must be a string with a maximum length of 100.<br/>";
            }
            if (($("#LogFileId").dxTextBox("instance").option('value') || "").length > 20) {
                msg += "The LogFile Id field must be a string with a maximum length of 20.<br/>";
            }
            if (($("#Notes").dxTextArea("instance").option('value') || "") == "") {
                msg += "The Failure Description field is required.<br/>";
            }
            if (($("#Notes").dxTextArea("instance").option('value') || "").length > 4000) {
                msg += "The Failure Description must be a string with a maximum length of 4000.<br/>";
            }
            if (($("#LogFileId").dxTextBox("instance").option('value') || "").length > 20) {
                msg += "The LogFile Id must be a string with a maximum length of 20.<br/>";
            }
            if (($("#TicketId").dxTextBox("instance").option('value') || "").length > 20) {
                msg += "The Ticket Id must be a string with a maximum length of 20.<br/>";
            }
        }
        if ('@modeWarrantyStatus' == 'ED') {
            if (($("#WarrantyStatus").dxSelectBox("instance").option('value') || "") == "") {
                msg += "The Warranty Status field is required.<br/>";
            }
            if (($("#WarrantyStatusNotes").dxTextArea("instance").option('value') || "").length > 1000) {
                msg += "The field Warranty Status Notes must be a string with a maximum length of 1000.<br/>";
            }
        }
        if ('@modeSupplierWarranty' == 'ED') {
            if (($("#ExchangeRequestNote").dxTextArea("instance").option('value') || "").length > 1000) {
                msg += "The field Exchange Request Notes must be a string with a maximum length of 1000.<br/>";
            }
            if (($("#CarrierNote").dxTextArea("instance").option('value') || "").length > 1000) {
                msg += "The field Carrier Notes must be a string with a maximum length of 1000.<br/>";
            }
            if (($("#ShippingNote").dxTextArea("instance").option('value') || "").length > 4000) {
                msg += "The field Shipping Notes must be a string with a maximum length of 4000.<br/>";
            }
            if (($("#CompliantNote").dxTextArea("instance").option('value') || "").length > 1000) {
                msg += "The field Note about Shipment of the new part from supplier must be a string with a maximum length of 1000.<br/>";
            }
            if (($("#WspActionNote").dxTextArea("instance").option('value') || "").length > 1000) {
                msg += "The field Note abount Defective part management must be a string with a maximum length of 1000.<br/>";
            }
        }
        if ('@modeInvoiceInfo' == 'ED') {
            if (($("#InvoiceNUmber").dxTextBox("instance").option('value') || "").length > 20) {
                msg += "The field Invoice Number must be a string with a maximum length of 20.<br/>";
            }
        }
        if (msg != "") {
            bootbox.alert(msg);
            return false;
        }
        //var checkClose = $("#checkCloseRequest").dxCheckBox("instance");
        if ($("#ClosingOption").dxSelectBox("instance")) {
            var closingOption = $("#ClosingOption").dxSelectBox("instance").option("value");
            if ((closingOption || '') != '') {
                var msg = "Do you wish to close it with '" + $("#ClosingOption").dxSelectBox("instance").option("text") + "' motivation ?";
                bootbox.confirm(msg, function (result) {
                    if (result) {
                        $("#form-ges").append('<input type="hidden" name="closingOption" value="' + closingOption + '" /> ');
                        doSubmitForm();
                    }
                });
                return false;
            };
        }
        doSubmitForm();
    }
    function doSubmitForm() {
        $("#saveRequestInfo").dxButton("instance").option("disabled", true);
        $("#form-ges").attr("action", '@Url.Action("WSPEditRequest")');
        $("#form-ges").submit();
    }
    function AddNewFile() {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $('#DivUpload').modal({
            keyboard: true
        }, 'show');
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }
    function AddNewLink() {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        $("#valueNewLink").dxTextBox("instance").option('value', "");
        $('#DivLinkModal').modal({
            keyboard: true
        }, 'show');
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
        return false;
    }
    function doDeleteAttachment(id, source) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        bootbox.confirm({
            title: "Do you wish to delete it ?",
            size: 'large',
            message: (source || ''),
            callback: function (result) {
                if (result) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("DeleteAttachment")',
                        data: { WSPAttachmentId: id},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                            getDataGridAttachInstance().refresh();
                        }
                    });
                }
            }
        });
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function doDeleteRequest() {
        var msg = "Do you wish to delete it ?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteRequest")',
                    data: { id: @Model.WSPRequestId},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        $("#form-ges").attr("action", '@Url.Action("goBackToIndex")');
                        $("#form-ges").attr("method", "GET");
                        $("#form-ges").submit();
                    }
                });
            }
        });
    }
    function doSaveLink() {
        var newLink = $("#valueNewLink").dxTextBox("instance").option('value');
        if ((newLink || "").trim() == "") {
            bootbox.alert("Link Mandatory");
            return false;
        }
        if (!newLink.toUpperCase().startsWith("HTTP:") && !newLink.toUpperCase().startsWith("HTTPS:")) {
            bootbox.alert("URL is not valid; HTTP or HTTPS are required");
            return false;
        }
        if (newLink.length > 250) {
            bootbox.alert("The field Link/Url must be a string with a maximum length of 250.");
            return false;
        }
        $.ajax({
            type: "GET",
                url: '@Url.Action("AddNewLink")',
                data: { WSPRequestId: @Model.WSPRequestId, Link: newLink },
                error: function (xhr, statusText) {
                bootbox.alert("Operation Failed! <br/>" + xhr.responseText);
            },
                success: function (data) {
                if (data != "") {
                    bootbox.alert(data);
                } else {
                    DevExpress.ui.notify("New Link Added!", "info");
                        $('#DivLinkModal').modal("hide");
                    getDataGridAttachInstance().refresh();
                }
            }
        });
    }
    function onCellPrepared_Attachment(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_Name") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goOpenAttach(" + e.data.WSPAttachmentId + ", " + e.data.Type + ");' title='Open'>" + e.data.Source + "</a>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_Type") {
            var fieldHtml = "";
            fieldHtml += "<span class='AttachmentType " + e.data.ResourceClass + "'>&nbsp;" + e.data.TypeDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name == "Attachment_InsertBy") {
            var fieldHtml = "";
            fieldHtml += "<span>" + e.data.UserInseName + '<br/>' + e.data.TmstInseDeco + "</span>";
            e.cellElement.html(fieldHtml);
        }
    }
    function fileUploader_onUploadStarted(e) {
        getLoadPanelInstance().show();
    }
    function fileUploader_onUploaded(e) {
        $('#DivUpload').modal("hide");
        e.component.reset();
        getDataGridAttachInstance().refresh();
        DevExpress.ui.notify("File Loaded!", "info");
    }
    function fileUploader_onUploadError(e) {
        getLoadPanelInstance().hide();
        bootbox.alert(e.request.responseText);
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function goOpenAttach(WSPAttachmentId, Type) {
        var currScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (Type == '@AttachmentType_File') {
            $("#form-ges").attr("action", '@Url.Action("DownloadAttachment")/' + WSPAttachmentId);
            $("#form-ges").append('<input type="hidden" name="opt" value="read">');
            $("#form-ges").submit();
        }
        if (Type == '@AttachmentType_Url') {
            $.ajax({
                type: "GET",
                url: '@Url.<f("GetAttachmentJSON")',
                data: { id: WSPAttachmentId },
                success: function (data) {
                    window.open(data.Source, "_blank");
                },
                error: function (xhr, statusText) {
                    DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                }
            });
        }
        $("html, body").animate({ scrollTop: "" + currScrollTop + "px" });
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 1000);
    }
    var CodArt_ValueChanged = function (e) {
        SetCodArtAlert((e.value || ''));
    }
    var CodArt_Initialized = function (e) {
        SetCodArtAlert((e.component.option("value") || ''));
    }
    function SetCodArtAlert(codice) {
        $("#CodArtAlert").html("");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSparePartJSON")',
            data: { CodArt: codice},
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
            success: function (data) {
                if (data.LimitedWarranty === true) {
                    var html = "<div class='alert alert-danger alertProduct'>Limited Warranty</div>";
                    if (($("#IssueDate").dxDateBox("instance").option('value') || "") != "" && '@Model.instrument.WarrantyFromDeco' != "" ) {
                        var parts = '@Model.instrument.WarrantyFromDeco'.split('/');
                        var myWarrantyFrom = new Date(parts[2], parts[1] - 1, parts[0]);
                        var issueDate = $("#IssueDate").dxDateBox("instance").option('value');
                        if (myWarrantyFrom < issueDate.setDate(issueDate.getDate() - 30)) {
                            html = "<div class='alert alert-danger alertProduct'>Limited Warranty (<b>out of Warranty</b>)</div>";
                        }
                    }
                    $("#CodArtAlert").append(html);
                }
                if (data.InWarranty === true) {
                    $("#CodArtAlert").append("<div class='alert alert-danger alertProduct'>Always Under Warranty</div>");
                }
                if (data.InvestigationForBreaking === true) {
                    $("#CodArtAlert").append("<div class='alert alert-danger alertProduct'>Investigation For Breaking</div>");
                }
            }
        });
    }
    function doClearEngagementEmail() {
        $("#EmailDLListId").val(null);
        $("#EngagementEmailTemplateId").dxSelectBox("instance").option("value", "");
        $("#EngagementEmailTemplateId").dxSelectBox("instance").getDataSource().reload();
        $("#EngagementEmailDLListId").dxSelectBox("instance").option("value", "");
        $("#EngagementEmailDLListId").dxSelectBox("instance").getDataSource().reload();
        $('#EngagementEmailSubject').val("");
        $('#EngagementEmailBody').summernote("code", "");
        $("#EngagementEmail").dxButton("instance").option('text', "Engagement Email");
        $("#EngagementEmail").dxButton("instance").option('type', "normal");
        $('#EngagementEmailMsg').hide();
        $('#PopupEngagementEmail').modal('hide');
    }
    function doClosePopupEngagementEmail() {
        if (($("#EngagementEmailDLListId").dxSelectBox("instance").option('value') || "") == "") {
            bootbox.alert("The To field is required.");
            return false;
        }
        if (($('#EngagementEmailSubject').val() || '') == '') {
            bootbox.alert("The Subject field is required.");
            return false;
        }
        if ($('#EngagementEmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        $("#EmailDLListId").val($("#EngagementEmailDLListId").dxSelectBox("instance").option('value'));
        $("#EmailSubject").val($("#EngagementEmailSubject").val());
        $("#EmailBody").val($('#EngagementEmailBody').summernote('code'));
        $("#EmailCCPurchaseDepartment").val($("#EngagementEmailCCPurchaseDepartment").dxCheckBox("instance").option('value'));
        $("#EmailAttachSummary").val($("#EngagementEmailAttachSummary").dxCheckBox("instance").option('value'));

        $("#EngagementEmail").dxButton("instance").option('text', "Engagement Email to '" + $("#EngagementEmailDLListId").dxSelectBox("instance").option('text') + "'");
        $("#EngagementEmail").dxButton("instance").option('type', "default");
        $('#EngagementEmailMsg').show();

        $('#PopupEngagementEmail').modal('hide');
    }
    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 9999);
    }
    function EngagementTemplate_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            $.get('@Url.Action("GetEmailInfoJSON")', { EmailTemplateId: e.value, WSPRequestId: @Model.WSPRequestId }, function (data) {
                if (data != null) {
                    $('#EngagementEmailSubject').val(data.Subject);
                    $('#EngagementEmailBody').summernote("code", data.Body);
                }
                return false;
            });
        }
        return false;
    }
    function doOpenPopupEngagementEmail() {
        $('#PopupEngagementEmail').modal('show');
        return false;
    }
    function OnSelectionChanged_ExchangeRequest(e) {
        var valore = "";
        if (e.selectedItem) valore = (e.selectedItem.id || '');
        if (valore == '@Lookup.Code_WSP_ExchangeRequest_RequestToTheProvider') {
            $("#SupplierWarrantySection").show();
        } else {
            $("#SupplierWarrantySection").hide();
        }
    }
    function OnSelectionChanged_WspAction(e) {
        var valore = "";
        if (e.selectedItem) valore = (e.selectedItem.id || '');
        if (valore == '@Lookup.Code_WSP_Action_Send') {
            $("#WspActionSendInfoSession").show();
        } else {
            $("#WspActionSendInfoSession").hide();
        }
    }
    function OnSelectionChanged_Compliant(e) {
        var valore = "";
        if (e.selectedItem) valore = (e.selectedItem.id || '');
        if (valore == '@Lookup.Code_WSP_Compliant_YES') {
            $("#InvoiceInfoSession").show();
        } else {
            $("#InvoiceInfoSession").hide();
        }
    }
    function OnSelectionChanged_OriginalPart(e) {
        var valore = "";
        if (e.selectedItem) valore = (e.selectedItem.id || '');
        if (valore == '@Lookup.Code_WSP_OriginalPart_NO') {
            $("#POReferenteDiv").show();
        } else {
            $("#POReferenteDiv").hide();
        }
    }

    function TmstIssue_onValueChanged(e) {
        var newValue = (e.value || '');
        $("#InfoOutOfWarranty").addClass("hidden");
        $("#InfoWarranty").addClass("hidden");
        if (newValue != "" && '@Model.instrument.WarrantyDeco' != '') {
            var parts = '@Model.instrument.WarrantyToDeco'.split('/');
            var mydate = new Date(parts[2], parts[1] - 1, parts[0]);
            if (e.value > mydate) {
                $("#InfoOutOfWarranty").removeClass("hidden");
            } else {
                $("#InfoWarranty").removeClass("hidden");
            }
            SetCodArtAlert(($("#CodArt").dxLookup("instance").option('value') || ''));
        }
    }
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10"><a asp-action="goBackToIndex" asp-controller="Warranty" asp-route-sessionCallerKey="@Model.sessionCallerKey" class="goback">goback</a></div>
</div>

<h4>@titolo &nbsp;<span class="label label-primary">@rifStatus</span></h4>

<form asp-action="WSPEditRequest" id="form-ges" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.WSPRequestId)
    @Html.HiddenFor(model => Model.sessionCallerKey)
    @*campi per l'invio email (il check è abbinato al campo del model)*@
    @Html.HiddenFor(model => Model.EmailDLListId)
    @Html.HiddenFor(model => Model.EmailSubject)
    @Html.HiddenFor(model => Model.EmailBody)
    @Html.HiddenFor(model => Model.EmailCCPurchaseDepartment)
    @Html.HiddenFor(model => Model.EmailAttachSummary)


    <div asp-validation-summary="All" class="text-danger"></div>
    @(Html.DevExtreme().LoadPanel()
                                .ID("loadPanel")
                                .ShadingColor("rgba(0,0,0,0.4)")
                                .Visible(false)
                                .ShowIndicator(true)
                                .ShowPane(true)
                                .Shading(false)
                                .CloseOnOutsideClick(true)
                                .OnShown("loadPanel_shown")
    )
    @(Html.DevExtreme().LoadPanel()
                                .ID("loadPanelSend")
                                .ShadingColor("rgba(0,0,0,0.4)")
                                .Visible(false)
                                .ShowIndicator(true)
                                .ShowPane(true)
                                .Shading(false)
                                .CloseOnOutsideClick(true)
                                .Message("Sending...")
                                .OnShown("loadPanelSend_shown")
    )
    <div class="container">
        <div class="form-horizontal">
            <div class="col-md-12 col-sm-12 well">
                <div class="form-group">
                    @if (!Model.Status.Equals(Lookup.WSPRequest_Status_DRAFT))
                    {
                        <div class="col-md-3">
                            <span class="form-label">Code</span>
                            @(Html.DevExtreme().TextBox().Value(Model.Code).ReadOnly(true).ElementAttr("class", "RequestId").StylingMode(EditorStylingMode.Filled))
                        </div>
                        <div class="col-md-3">
                            <span class="form-label">Registration</span>
                            @(Html.DevExtreme().TextBoxFor(m => m.UserInse_Name).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                        <div class="col-md-3">
                            <span class="form-label">&nbsp;</span>
                            @(Html.DevExtreme().TextBoxFor(m => m.TmstInseDeco).ReadOnly(true).StylingMode(EditorStylingMode.Filled))
                        </div>
                    }
                    else
                    {
                        <div class="col-md-9">&nbsp;</div>
                    }
                    <div class="col-md-3 text-center">
                        <div class="label label-danger hidden" style="font-weight:bold; font-size: medium;" id="InfoOutOfWarranty">Out Of Warranty</div>
                        <div class="label label-primary hidden" style="font-weight:bold; font-size: medium;" id="InfoWarranty">Warranty</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <span class="form-label">Instrument</span>
                        @(Html.DevExtreme().TextBox().Value(Model.SerialNumber).ReadOnly(true).ElementAttr("class", "SerialNumberCode").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-3">
                        <span class="form-label">Warranty From</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.WarrantyFromDeco).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-3">
                        <span class="form-label">Warranty To</span>
                        @{
                            string myClass = "SerialNumberInfo";
                            if (Model.instrument.ExpiredWarranty) { myClass += " ExpiredWarranty"; }
                        }
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.WarrantyToDeco).ReadOnly(true).ElementAttr("class", myClass).StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-3">
                        <span class="form-label">Commercial Entity</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.CommercialEntity).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <span class="form-label">Customer</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.CompanyName).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>

                    <div class="col-md-3">
                        <span class="form-label">Country</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.SiteCountry).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-3">
                        <span class="form-label">City</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.SiteCity).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                    <div class="col-md-3">
                        <span class="form-label">Site</span>
                        @(Html.DevExtreme().TextBox().Value(Model.instrument.SiteDescription).ReadOnly(true).ElementAttr("class", "SerialNumberInfo").StylingMode(EditorStylingMode.Filled))
                    </div>
                </div>
                <div class="request-info">
                    <div class="form-group">
                        <div class="col-md-3">
                            <span class="form-label required">Issue Date</span>
                            @(Html.DevExtreme().DateBoxFor(m => m.TmstIssue).ID("IssueDate")
                                                                        .Width("100%")
                                                                        .Min("2000/01/01")
                                                                        .Max("2999/12/31")
                                                                        .DisplayFormat("dd/MM/yyyy")
                                                                        .ReadOnly(modeRequestInfo.Equals("RO"))
                                                                        .OnValueChanged("TmstIssue_onValueChanged")
                            )
                        </div>
                        <div class="col-md-6">
                            <span class="form-label required">Spare Part</span>
                            @(Html.DevExtreme().LookupFor(m => m.CodArt)
                                                        .ID("CodArt")
                                                        .DataSource(d => d.Mvc().Controller("Warranty").LoadAction("GetSpareParts").Key("CodArt"))
                                                        .ShowPopupTitle(false)
                                                        .ValueExpr("CodArt")
                                                        .DisplayExpr("DescriptionFull")
                                                        .SearchExpr(new[] { "CodArt", "Description" })
                                                        .ShowClearButton(false)
                                                        .ItemTemplate(@<text>
                                                            <div class="sparepart-item">
                                                                <div class="row Sparepart-title">
                                                                    <div class="col-md-12"><b><%= CodArt %></b> - <%= Description %></div>
                                                                </div>
                                                            </div>
                                                        </text>)
                                                        .Disabled(modeRequestInfo.Equals("RO"))
                                                        .OnValueChanged("CodArt_ValueChanged")
                                                        .OnInitialized("CodArt_Initialized")
                            )
                            <span asp-validation-for="CodArt" class="text-danger"></span>
                            @if (showProductWarning == true)
                            {
                                <div id="CodArtAlert"></div>
                            }
                        </div>
                        <div class="col-md-3">
                            <span class="form-label required">Number Of Parts</span>
                            @(Html.DevExtreme().NumberBoxFor(m => m.NumberOfParts).ID("NumberOfParts").Min(1).ShowSpinButtons(true)
                                                       .ReadOnly(modeRequestInfo.Equals("RO")).ElementAttr("class", "field100"))
                            <span asp-validation-for="NumberOfParts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="form-label DecontaminationDeclaration required">Decontamination Declaration</span>
                        </div>
                        <div class="col-md-1 text-left">
                            <div style="margin-top: 10px;">
                                @(Html.DevExtreme().CheckBoxFor(m => m.Decontamined).ID("DecontaminationDeclaration").Text("").ReadOnly(modeRequestInfo.Equals("RO")))
                            </div>
                            <span asp-validation-for="Decontamined" class="text-danger"></span>
                        </div>
                        <div class="col-md-11">
                            <p>
                                <strong>NO (unchecked)</strong>
                                <i class="DecontaminationDeclarationInfo">
                                    The above-mentioned item/instrument has not been in contact with any biological or chemical,
                                    material that might cause infection or may cause injury.
                                </i>
                            </p>
                            <p>
                                <strong>YES (checked)</strong>
                                <i class="DecontaminationDeclarationInfo">
                                    The above-mentioned item/instrument has been in contact with biological or chemical material
                                    and must be decontaminated prior to return.
                                </i>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="form-label OriginalPart required">Original Part</span>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <i class="OriginalPartInfo">
                                    Please indicate if the part is an original one from the instrument or is a spare part that was installed;
                                    in case is a spare part, please also indicate the PO date and number
                                </i>
                            </p>
                        </div>
                        <div class="col-md-3 text-left">
                            <div>
                                @(Html.DevExtreme().SelectBoxFor(m => m.OriginalPart)
                                                                                    .ID("OriginalPart")
                                                                                    .DataSource(Model.listOriginalPart)
                                                                                    .ValueExpr("id")
                                                                                    .DisplayExpr("descrizione")
                                                                                    .ElementAttr("class", "filterField")
                                                                                    .ShowClearButton(true)
                                                                                    .ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                                    .OnSelectionChanged("OnSelectionChanged_OriginalPart")
                                )
                            </div>
                        </div>
                        <div class="col-md-3" id="POReferenteDiv" hidden>
                            <div>
                                @(Html.DevExtreme().TextAreaFor(m => m.POReference).ID("POReference").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                                                .Placeholder("PO reference").InputAttr("maxLength", 100).AutoResizeEnabled(true))
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <span class="form-label required">Failure Description</span>
                            @(Html.DevExtreme().TextAreaFor(m => m.Notes).ID("Notes").InputAttr("maxLength", 4000)
                                                       .MinHeight(80).AutoResizeEnabled(true).ReadOnly(modeRequestInfo.Equals("RO")))
                        </div>
                        <div class="col-md-3">
                            <div>
                                <span class="form-label">LogFile ID</span>
                                @(Html.DevExtreme().TextBoxFor(m => m.LogFileId).ID("LogFileId").InputAttr("maxLength", 20).InputAttr("rows", "4")
                                                            .ElementAttr("class", "ExternalId").ReadOnly(modeRequestInfo.Equals("RO")))
                            </div>
                            <div>
                                <span class="form-label">Ticket ID</span>
                                @(Html.DevExtreme().TextBoxFor(m => m.TicketId).ID("TicketId").InputAttr("maxLength", 20).InputAttr("rows", "4")
                                                            .ElementAttr("class", "ExternalId").ReadOnly(modeRequestInfo.Equals("RO")))
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.ReturnedPartNote))
                    {
                        <div class="form-group" style="margin: 10px;">
                            <span class="form-label">Customer Shipment Detail</span>
                            <div class="col-md-12 alert-success h4" title="Consignment Note">
                                <span class="fa fa-truck"></span>
                                @Html.Raw(Model.ReturnedPartNote)
                            </div>
                        </div>
                    }
                </div>
                @if (!string.IsNullOrWhiteSpace(modeWarrantyStatus))
                {
                    <div class="empty_row"></div>
                    <div class="request-info">
                        <div class="form-group">
                            <div class="col-md-6">
                                <span class="form-label form-label-high required">Warranty Status</span>
                                @(Html.DevExtreme().SelectBoxFor(m => m.WarrantyStatus)
                                                                                        .ID("WarrantyStatus")
                                                                                        .DataSource(Model.listWarrantyStatus)
                                                                                        .ValueExpr("id")
                                                                                        .DisplayExpr("descrizione")
                                                                                        .ElementAttr("class", "filterField")
                                                                                        .ShowClearButton(true)
                                                                                        .ReadOnly(modeWarrantyStatus.Equals("RO"))
                                )
                            </div>
                            <div class="col-md-6">
                                <span class="form-label required_align">&nbsp;</span>
                                @(Html.DevExtreme().TextAreaFor(m => m.WarrantyStatusNote).ID("WarrantyStatusNotes").ReadOnly(modeWarrantyStatus.Equals("RO"))
                                                                                                                    .Placeholder("Notes").InputAttr("maxLength", 1000).AutoResizeEnabled(true))
                            </div>
                        </div>
                    </div>
                }

                @if (!String.IsNullOrWhiteSpace(modeSupplierWarranty))
                {
                    <div class="empty_row"></div>
                    <div class="request-info">
                        <div class="SupplierWarranty text-left">Supplier Warranty</div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <span class="form-label form-label-high">Exchange Request</span>
                                @(Html.DevExtreme().SelectBoxFor(m => m.ExchangeRequest)
                                                                    .ID("ExchangeRequest")
                                                                    .DataSource(Model.listExchangeRequest)
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ElementAttr("class", "filterField")
                                                                    .ShowClearButton(true)
                                                                    .ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                    .OnSelectionChanged("OnSelectionChanged_ExchangeRequest")
                                )
                            </div>
                            <div class="col-md-6">
                                <span class="form-label">&nbsp;</span>
                                @(Html.DevExtreme().TextAreaFor(m => m.ExchangeRequestNote).ID("ExchangeRequestNote").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                                                                        .Placeholder("Notes").InputAttr("maxLength", 1000).AutoResizeEnabled(true))
                            </div>
                            <div class="col-md-12" style="margin-top: 5px;" id="EngagementEmailInfo"></div>
                        </div>
                        <div id="SupplierWarrantySection" hidden>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @(Html.DevExtreme().Button().Text("Engagement Email").ID("EngagementEmail").OnClick("doOpenPopupEngagementEmail").Type(ButtonType.Normal).Icon("fa fa-envelope-o").Visible(modeSupplierWarranty.Equals("ED")))
                                    <span id="EngagementEmailMsg" class="alert alert-danger">The email will send when you click the "Save Changes" button.</span>
                                </div>
                            </div>
                            <br />
                            <div class="form-group" id="WSPActionSection">
                                <div class="col-md-6">
                                    <span class="form-label form-label-high">Defective part management</span>
                                    @(Html.DevExtreme().SelectBoxFor(m => m.WspAction)
                                                            .ID("WspAction")
                                                            .DataSource(Model.listWSPAction)
                                                            .ValueExpr("id")
                                                            .DisplayExpr("descrizione")
                                                            .ElementAttr("class", "filterField")
                                                            .ShowClearButton(true)
                                                            .ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                            .OnSelectionChanged("OnSelectionChanged_WspAction")
                                    )
                                </div>
                                <div class="col-md-6">
                                    <span class="form-label">&nbsp;</span>
                                    @(Html.DevExtreme().TextAreaFor(m => m.WspActionNote).ID("WspActionNote").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                .Placeholder("Notes").InputAttr("maxLength", 1000).AutoResizeEnabled(true))
                                </div>
                            </div>
                            <div class="form-group" id="WspActionSendInfoSession" hidden>
                                <div class="col-md-6">
                                    <span class="form-label form-label-high">Carrier Note</span>
                                    @(Html.DevExtreme().TextAreaFor(m => m.CarrierNote).ID("CarrierNote").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                .InputAttr("maxLength", 1000).AutoResizeEnabled(true))
                                </div>
                                <div class="col-md-6">
                                    <span class="form-label form-label-high">Shipping Note</span>
                                    @(Html.DevExtreme().TextAreaFor(m => m.ShippingNote).ID("ShippingNote").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                .InputAttr("maxLength", 4000).AutoResizeEnabled(true))
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-6">
                                    <span class="form-label form-label-high">Shipment of the new part from supplier</span>
                                    @(Html.DevExtreme().SelectBoxFor(m => m.Compliant)
                                                                        .ID("Compliant")
                                                                        .DataSource(Model.listCompliant)
                                                                        .ValueExpr("id")
                                                                        .DisplayExpr("descrizione")
                                                                        .ElementAttr("class", "filterField")
                                                                        .ShowClearButton(true)
                                                                        .ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                        .OnSelectionChanged("OnSelectionChanged_Compliant")
                                    )
                                </div>
                                <div class="col-md-6">
                                    <span class="form-label">&nbsp;</span>
                                    @(Html.DevExtreme().TextAreaFor(m => m.CompliantNote).ID("CompliantNote").ReadOnly(modeSupplierWarranty.Equals("RO"))
                                                                                                                                                     .Placeholder("Notes").InputAttr("maxLength", 1000).AutoResizeEnabled(true))
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                }
                @if (!String.IsNullOrWhiteSpace(modeInvoiceInfo))
                {
                    <div class="request-info">
                        <div class="form-group" id="InvoiceInfoSession" hidden>
                            <div class="col-md-3">
                                <span class="form-label form-label-high">Invoice Number</span>
                                @(Html.DevExtreme().TextBoxFor(m => m.InvoiceNUmber).ID("InvoiceNUmber").ReadOnly(modeInvoiceInfo.Equals("RO")).InputAttr("maxLength", 20))
                            </div>
                            <div class="col-md-3">
                                <span class="form-label form-label-high">Invoice Date</span>
                                @(Html.DevExtreme().DateBoxFor(m => m.InvoiceDate).ID("InvoiceDate").ReadOnly(modeInvoiceInfo.Equals("RO"))
                                                            .Min("2000/01/01").Max("2999/12/31").ShowClearButton(true).DisplayFormat("dd/MM/yyyy"))
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.readOnly == false)
            {
                <hr />
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.DevExtreme().Button().Text("Delete").Icon("trash").OnClick("doDeleteRequest").Type(ButtonType.Danger).Visible(@canDeleteRequest)
                    </div>
                    <div class="col-sm-8">
                        <div class="buttons pull-right">
                            @(Html.DevExtreme().Button()
                                                        .Icon("save")
                                                        .Hint(titleSave)
                                                        .Text(titleSave)
                                                        .Type(ButtonType.Success)
                                                        .OnClick("doSaveChanges")
                                                        .ID("saveRequestInfo")
                            )
                        </div>
                        @if (canCloseRequest)
                        {
                            <div class="pull-right">
                                <div class="col-md-8">
                                    @(Html.DevExtreme().SelectBox()
                                                        .ID("ClosingOption")
                                                        .DataSource(Model.listClosingOptions)
                                                        .ValueExpr("id")
                                                        .DisplayExpr("descrizione")
                                                        .ElementAttr("class", "filterField")
                                                        .ElementAttr("class", "field400")
                                                        .ShowClearButton(true)
                                                        .Placeholder("Closing Options...")
                                    )
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="col-md-12 col-sm-12 well">
                <div class="form-group">
                    <label asp-for="Attachments" class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                        @(Html.DevExtreme().DataGrid()
                                                        .ID("grid-attachments")
                                                        .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                        .ShowBorders(true)
                                                        .ShowRowLines(true)
                                                        .ShowColumnHeaders(true)
                                                        .HoverStateEnabled(false)
                                                        .RowAlternationEnabled(false)
                                                        .AllowColumnResizing(true)
                                                        .Height(250)
                                                        //.NoDataText("No data")
                                                        .DataSource(d => d.WebApi().LoadAction("GetRequestAttachments")
                                                                .LoadParams(new { requestId = Model.WSPRequestId })
                                                            )
                                                        .RemoteOperations(true)
                                                        .WordWrapEnabled(true)
                                                        .Columns(columns =>
                                                        {
                                                            columns.Add().DataField("WSPAttachmentId").Visible(false);
                                                            columns.Add().Width("15%").Alignment(HorizontalAlignment.Left).Caption("Type").Name("Attachment_Type");
                                                            columns.Add().Width("60%").Alignment(HorizontalAlignment.Left).Caption("Source").Name("Attachment_Name");
                                                            columns.Add().Width("20%").Alignment(HorizontalAlignment.Left).Caption("").Name("Attachment_InsertBy");
                                                            columns.Add().Alignment(HorizontalAlignment.Center).Width("10%").Caption("").Visible(modeAttachments.Equals("ED"))
                                                                            .CellTemplate(@<div>
                                                                                <a href="#" onclick="doDeleteAttachment(<%= data.WSPAttachmentId %> ,  '<%= data.Source %>');" class="cmdAttachment" title="Remove">
                                                                                    <i class="fa fa-remove"></i>
                                                                                </a>
                                                                            </div>);
                                                        })
                                                        .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                        .Paging(p => p.Enabled(false))
                                                        .OnCellPrepared("onCellPrepared_Attachment")
                        )
                    </div>
                    @if (modeAttachments.Equals("ED"))
                    {
                        <div class="col-sm-1 text-center">
                            @(Html.DevExtreme().Button().Icon("glyphicon glyphicon-file").Hint("Add New File").Type(ButtonType.Normal).OnClick("AddNewFile"))
                            @(Html.DevExtreme().Button().Icon("glyphicon glyphicon-link").Hint("Add New Link").Type(ButtonType.Normal).OnClick("AddNewLink"))
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<div class="form-group">
    <div class="col-md-offset-5 col-md-1 col-xs-3"><span class="small">@rifRequest</span></div>
    <div class="col-md-6 col-xs-9 text-right"><a asp-action="goBackToIndex" asp-controller="Warranty" asp-route-sessionCallerKey="@Model.sessionCallerKey" class="goback">goback</a></div>
</div>

<div class="modal fade" id="DivUpload" tabindex="-1" role="dialog" aria-labelledby="Add Attachment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_upload">Add New File</h4>
                <em>Maximum file size: <b>10 MB</b></em>
            </div>
            <div class="modal-body">
                <div id="fileuploader">
                    <div class="widget-container">
                        @(Html.DevExtreme().FileUploader()
                                                .ID("file-uploader")
                                                .Name("myNewFile")
                                                .Multiple(false)
                                                .Accept("*")
                                                .MaxFileSize(10000000)  // 10 MB
                                                .UploadMode(FileUploadMode.Instantly)
                                                .UploadUrl(Url.Action("UploadNewFile", new { WSPRequestId = Model.WSPRequestId }))
                                                .OnUploadStarted("fileUploader_onUploadStarted")
                                                .OnUploaded("fileUploader_onUploaded")
                                                .OnUploadError("fileUploader_onUploadError")
                                                .LabelText("Select or Drop file here")
                                                .SelectButtonText("Select file")
                        )
                        <div class="content" id="selected-files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DivLinkModal" tabindex="-1" role="dialog" aria-labelledby="Add Attachment" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titolo_link">Add New Link</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1 labelNewLink">Url/Link:</div>
                        <div class="col-md-11">
                            @(Html.DevExtreme().TextBox().ID("valueNewLink").InputAttr("maxLength", 250))
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        @(Html.DevExtreme().Button().Text("Save").OnClick("doSaveLink").Icon("save"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*POPUP ENGAGEMENT MAIL*@
<div class="modal fade" id="PopupEngagementEmail" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 85%; height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title"></h4>
                </div>
            </div>
            <div class="modal-body" style="padding: 0;">
                <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                    <div class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Template:</label>
                            <div class="col-md-9">
                                @(Html.DevExtreme().SelectBox()
                                                    .ID("EngagementEmailTemplateId")
                                                    .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetGenericEmailTemplates")
                                                    .LoadParams(new
                                                    {
                                                        Area = Lookup.EmailTemplate_Area_WARRANTY,
                                                    })
                                                    .Key("EmailTemplateId"))
                                                    .ValueExpr("EmailTemplateId")
                                                    .OnValueChanged("EngagementTemplate_Change")
                                                    .DisplayExpr("Subject")
                                                    .Value("")
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">To:</label>
                            <div class="col-md-5">
                                @(Html.DevExtreme().SelectBox()
                                                    .ID("EngagementEmailDLListId")
                                                    .DataSource(d => d.Mvc().Controller("Utils").LoadAction("GetDistributionLists")
                                                        .LoadParams(new { DLType = Lookup.Code_DL_ListType_Supplier })
                                                    .Key("DLListId"))
                                                    .ValueExpr("DLListId")
                                                    .DisplayExpr("Description")
                                                    .Value("")
                                )
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">C/C Purchase Department:</label>
                                @(Html.DevExtreme().CheckBox().ID("EngagementEmailCCPurchaseDepartment").Text(""))
                            </div>
                            
                            <div class="col-md-2">
                                <label class="control-label">Attach Summary:</label>
                                @(Html.DevExtreme().CheckBox().ID("EngagementEmailAttachSummary").Text(""))
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Subject:</label>
                            <div class="col-md-10">
                                <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                       id="EngagementEmailSubject" name="EngagementEmailSubject" placeholder="Subject" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="EngagementEmailSubject" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message:</label>
                            <div class="col-md-9">
                                <textarea id="EngagementEmailBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSendEngagementEmail" onclick="doClosePopupEngagementEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Save</button>
                <button type="button" class="btn btn-danger" id="btnClearEngagementEmail" onclick="doClearEngagementEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Clear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}