@model WebApp.Entity.WSPIndexDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Warranty";
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    .cmdEdit {
        font-size: 18px;
    }

    .cmdDownload {
        font-size: 16px;
        font-weight: bold;
    }

    .cmdCreateNew {
        font-size: 24px;
        /*font-weight: bold;*/
    }

    .cmdSelect {
        font-size: 18px;
    }

    .BoxAction {
        display: table;
        min-height: 35px;
        white-space: normal;
        text-align: center;
    }

    .MsgAction {
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-lines .NewReg {
        color: red;
    }

    .NewReg {
        color: red;
    }

    .ExpiredWarranty {
        color: red;
    }

    .WSPRequest-status-PENDING {
        background-color: #fff0b3;
    }

    .WSPRequest-status-PROCESSING {
        background-color: #ccffcc;
    }

    .WSPRequest-status-CLOSED {
        /*background-color: #ffff66;*/
    }

    .WSPRequest-statusHigh-PENDING {
        background-color: #ff471a !important;
        color: white !important;
    }

    .WSPRequest-statusHigh-PROCESSING {
        /*background-color: greenyellow !important;*/
    }

    .WSPRequest-statusHigh-CLOSED {
        /*background-color: #ffff66 !important;*/
    }

    .WarrantyStatus {
        font-weight: bold;
    }

    .WarrantyYES {
        color: #2ab71b;
        font-weight: bold;
    }

    .WarrantyNO {
        color: #f00;
        font-weight: bold;
    }
    .cmdConsignmentNotes {
        color: darkslategray;
        font-size: 18px;
    }
</style>


<script type="text/javascript">
    var selWSPRequestId = 0;
    var btnRemoveFilters = null;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
        });
    });
    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function getDataGridWSPRequestsInstance(Id) {
        return $("#grid-wsprequests_" + Id).dxDataGrid("instance");
    }
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-eye-slash",
                hint: "Remove column filters",
                name: "removeFilters",
                onClick: function () {
                    $("#grid-container").dxDataGrid("clearFilter", "row");
                    //getDataGridInstance().option("filterRow.visible", true);
                    return false;
                },
                onInitialized: function (evt) {
                    btnRemoveFilters = evt.component;
                }
            }
        });
    }
    function OnExporting(e) {
        //e.component.beginUpdate();
        //e.component.columnOption("Trainers", "visible", true);
        //e.component.columnOption("HotelDesciption", "visible", true);
        //e.component.columnOption("Note", "visible", true);
    }
    function OnExported(e) {
        //e.component.columnOption("Trainers", "visible", false);
        //e.component.columnOption("HotelDesciption", "visible", false);
        //e.component.columnOption("Note", "visible", false);
        //e.component.endUpdate();
    }
    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdInstrument") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goNewWSPRequest(\"" + e.value + "\");' class='cmdCreateNew fa fa-plus-square-o' title='Create New Request'></a>&nbsp;";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "WarrantyToDeco") {
            if (e.row.data.ExpiredWarranty && e.row.data.ExpiredWarranty == true) {
                e.cellElement.addClass("ExpiredWarranty");
            }
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "StatusDeco") {
            e.cellElement.addClass("status-" + e.data.Status.toUpperCase());
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField.toLowerCase() == "warrantydeco") {
            e.cellElement.addClass((e.data.WarrantyDeco == "YES") ? "WarrantyYES" : "WarrantyNO");
        }
    }
    var OnContentReady = function (e) {
        var filters = getDataGridInstance().getCombinedFilter();
        jsFiltered = false;
        btnRemoveFilters.option("type", "normal");
        if (filters) {
            btnRemoveFilters.option("type", "success");
        }
    }
    function goNewWSPRequest(serialNumber) {
        bootbox.confirm({
            title: "Do you wish to create a new request?",
            message: 'Serial Number: <strong>' + serialNumber + '</strong>',
            callback: function (result) {
                bootbox.hideAll();
                if (result) {
                    $("#elenco").append('<input type="hidden" name="SerialNumber" value="' + serialNumber + '" /> ');
                    $("#elenco").append('<input type="hidden" name="sessionCallerKey" value="@Lookup.glb_sessionkey_WSPRequests_Index"/> ');
                    $("#elenco").attr("action", '@Url.Action("WSPEditRequest")');
                    $("#elenco").submit();
                }
            }
        });
    }

    function goExportWSPRequests(Id) {
        getDataGridWSPRequestsInstance(Id).exportToExcel(false);
    }

    function OnRowPreparedWSPRequest(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('WSPRequest-status-' + info.data.Status);
        }
    }
    function onCellPreparedWSPRequest(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.data.WSPRequestId + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
            //console.log(e.data.Status);
            if (e.data.Status == '@Lookup.WSPRequest_Status_PROCESSING'  && (e.data.WarrantyStatus || "") == "@Lookup.Code_WSP_WarrantyStatus_WITH_REPLACEMENT") {
                fieldHtml += "&nbsp;<a href='#' onclick='doDownloadRGA(" + e.data.WSPRequestId + ");' class='cmdDownload' style='color: #337ab7;' title='download RGA'>RGA</a > ";
                if (e.data.UserInse == '@User.Identity.Name') {
                    fieldHtml += "&nbsp;<a href='#' onclick='doEditConsignmentNotes(" + e.data.WSPRequestId + ");' class='fa fa-truck cmdConsignmentNotes' title='Customer Shipment Detail'></a>&nbsp;";
                }
            }
            if (e.data.UserInse == '@User.Identity.Name' && e.data.Status == '@Lookup.WSPRequest_Status_PENDING') {
                fieldHtml += "<a href='#' onclick='goEditWSPRequest(" + e.data.WSPRequestId + ");' class='fa fa-edit cmdEdit' title='Edit'></a>&nbsp;";
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('WSPRequest-statusHigh-' + e.data.Status);
        }
    }

    function goDetail(Id) {
        $("#elenco").append('<input type="hidden" name="WSPRequestId" value="' + Id + '" /> ');
        $("#elenco").append('<input type="hidden" name="sessionCallerKey" value="@Lookup.glb_sessionkey_WSPRequests_Index"/> ');
        $("#elenco").attr("action", '@Url.Action("WSPDetailRequest")');
        $("#elenco").submit();
        return false;
    }

    function goEditWSPRequest(Id) {
        $("#elenco").append('<input type="hidden" name="WSPRequestId" value="' + Id + '" /> ');
        $("#elenco").append('<input type="hidden" name="sessionCallerKey" value="@Lookup.glb_sessionkey_WSPRequests_Index"/> ');
        $("#elenco").attr("action", '@Url.Action("WSPEditRequest")');
        $("#elenco").submit();
        return false;
    }
    function doDownloadRGA(id) {

        $("#elenco").attr("action", '@Url.Action("DownloadRGA")/' + id);
        $("#elenco").submit();
        return false;
    }
    let refreshGridWSPRequests = function (id) {
        var grid = getDataGridWSPRequestsInstance(id);
        var ds = grid.getDataSource();
        if (ds != null) ds.reload();
    }
    function OnExporting_requests(e) {
        e.component.beginUpdate();
        e.component.columnOption("NotesPreview", "visible", false);
        e.component.columnOption("Notes", "visible", true);
    }
    function OnExported_requests(e) {
        e.component.columnOption("NotesPreview", "visible", true);
        e.component.columnOption("Notes", "visible", false);
        e.component.endUpdate();
    }
    // **************************************
    // GESTIONE FILTRI
    // **************************************
    var sessionStorageInstrumentFilter = "WSPIndex_InstrumentFilter";
    var jsInstrumentFilter = null;

    function onInitialized_InstrumentFilter(e) {
        getSessionStorage(sessionStorageInstrumentFilter, e);
    }
    function onValueChange_InstrumentFilter(data) {
        setSessionStorage(sessionStorageInstrumentFilter, data);
    }
    function setSessionStorage(sessionId, data) {
        var varString = getJsVariableName(sessionId);
        if (varString != null) {
            //console.log('set: ' + varString + ' -> ' + data.value);
            eval(varString + " = null");
            if (data.value != null) {
                eval(varString + " = " + "'" + data.value + "'");
            }
            sessionStorage.setItem(sessionId, data.value);
            //console.log("REFRESH DATA");
            getDataGridInstance().getDataSource().reload();
        }
    }
    function getSessionStorage(sessionId, e) {
        var varString = getJsVariableName(sessionId);
        var jsVar = "";
        if (varString != null) {
            eval(varString + " = null");
            var valore = sessionStorage.getItem(sessionId)
            //console.log('get: ' + varString + ' -> ' + valore);
            if ((valore || '') != '') {
                jsVar = valore;
            }
        }
        eval(varString + " = null");
        if (jsVar != "null") {
            eval(varString + " = " + "'" + jsVar + "'");
        }
        if (e != null) {
            e.component.option("value", jsVar);
        }
    }
    function getJsVariableName(sessionId) {
        if (sessionId == sessionStorageInstrumentFilter) {
            return "jsInstrumentFilter";
        }
        return "";
    }
    function doEditConsignmentNotes(id) {
        $.get('@Url.Action("GetRequestJSON")', { WSPRequestId: id }, function (data) {
            if (data == null) {
                bootbox.alert("Request Not Found - id:" + id);
            } else {
                doEditConsignmentNotes_Post(data);
            }
            return false;
        });
    }
    function doEditConsignmentNotes_Post(data) {
        bootbox.prompt({
            title: "Customer Shipment Detail - Code: " + data.Code,
            inputType: 'textarea',
            value: data.ReturnedPartNote,
            size: 'large',
            callback: function (result) {
                if (result == null) {
                    return;
                }
                if ((result || "") != "") {
                    if (result.length > 1000) {
                        result = result.substr(0, 1000);
                    }
                }
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("UpdateConsignmentNote")',
                    data: { WSPRequestId: data.WSPRequestId, Note: result },
                    success: function (data) {
                        if (data != "") {
                            bootbox.alert(data);
                        } else {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    },
                    error: function (xhr, statusText) {
                        DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                    }
                });
            }
        });
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                                .Icon("fa fa-info-circle")
                                                .Hint("Function Documentation")
                                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Warrenty">

    <div class="row">
        <div class="form-horizontal" id="divFilters">
            <div class="form-group">
                <div class="col-md-3">
                    <span class="form-label">Show only instruments with...</span>
                    @(Html.DevExtreme().SelectBox().DataSource(Model.listInstrumentFilters)
                                                        .ValueExpr("id")
                                                        .DisplayExpr("descrizione")
                                                        .ElementAttr("class", "filterField")
                                                        .ShowClearButton(true)
                                                        .OnInitialized("onInitialized_InstrumentFilter")
                                                        .OnValueChanged("onValueChange_InstrumentFilter")
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(true)
                                .RowAlternationEnabled(true)
                                .AllowColumnResizing(true)
                                .DataSource(d => d.Mvc().Controller("Warranty").LoadAction("GetInstruments4Warranty").Key("SerialNumber")
                                    .LoadParams(new
                                    {
                                        WSPFilter = new JS("function() { return jsInstrumentFilter; }")
                                    })
                                )
                                .RemoteOperations(true)
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("WSPInstruments_Elenco"))
                                .Selection(s => s.Mode(SelectionMode.Single))
                                .OnSelectionChanged(@<text>
                                    function(e) {
                                    e.component.collapseAll(-1);
                                    e.component.expandRow(e.currentSelectedRowKeys[0]);
                                    refreshGridWSPRequests(e.currentSelectedRowKeys[0]);
                                    }
                                </text>)
                        .Columns(columns =>
                        {
                            columns.Add().DataField("SerialNumber").SortOrder(SortOrder.Asc).Width("12%");
                            columns.Add().DataField("ModelTypeDeco").Caption("Type").Width("8%");
                            columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width("15%");
                            columns.Add().DataField("SiteCountry").Caption("Country").Width("10%");
                            columns.Add().DataField("CompanyName").Caption("Customer").Width("15%");
                            columns.Add().DataField("SiteCity").Caption("City").Width("10%");
                            columns.Add().DataField("SiteDescription").Caption("Site").Width("15%");
                            columns.Add().Caption("Warranty").Alignment(HorizontalAlignment.Center).Columns(a =>
                            {
                                a.Add().DataField("WarrantyFromDeco").Caption("From").CalculateSortValue("WarrantyFromSort").Alignment(HorizontalAlignment.Center).Width("90");
                                a.Add().DataField("WarrantyToDeco").Caption("To").CalculateSortValue("WarrantyToSort").Alignment(HorizontalAlignment.Center).Width("90");
                                a.Add().DataField("WarrantyDeco").Caption("Warranty").Alignment(HorizontalAlignment.Center).Width("80");
                            });
                            columns.Add().DataField("OpenWSPRequestsDeco").HeaderCellTemplate("Open <br/>Requests").Width("80").Alignment(HorizontalAlignment.Center);
                            columns.Add()
                                        .Alignment(HorizontalAlignment.Center)
                                        .Width("80")
                                        .DataField("SerialNumber")
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .Fixed(true)
                                        .FixedPosition(HorizontalEdge.Right)
                                        .Caption("")
                                        .Name("cmdInstrument");
                        })
                        .MasterDetail(md =>
                        {
                            md.Enabled(true)
                                .Template(@<text>
                                    <div class="internal-grid-container" title="">
                                        <div class="row">
                                            <div class="col-md-10">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-2 text-right">
                                                <div class="pull-right">
                                                    <a href="#" onclick="goExportWSPRequests('<%= data.SerialNumber %>');" title="Export Requests" style="color: blue;">
                                                        <i class="fa fa-file-excel-o"></i>
                                                        <small class="text-muted" style="color: blue;">Export Requests</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @(Html.DevExtreme().DataGrid()
                                                                .ID(new JS("'grid-wsprequests_' + data.SerialNumber "))
                                                                .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                .Selection(s => s.Mode(SelectionMode.Single))
                                                                .ShowBorders(true)
                                                                .ShowRowLines(true)
                                                                .HoverStateEnabled(false)
                                                                .RowAlternationEnabled(false)
                                                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                                .DataSource(d => d.Mvc().Controller("Warranty").LoadAction("GetInstrumentRequests4WSPIndex")
                                                                        .LoadParams(new { SerialNumber = new JS("data.SerialNumber") })
                                                                    )
                                                                .RemoteOperations(true)
                                                                .Columns(c =>
                                                                {
                                                                    c.Add().DataField("WSPRequestId").Visible(false);
                                                                    c.Add().DataField("Code").Caption("Code").SortOrder(SortOrder.Desc).Width(100);
                                                                    c.Add().DataField("TmstIssueDeco").Caption("Issue Date").CalculateSortValue("TmstIssueSort").Alignment(HorizontalAlignment.Center).Width(100);
                                                                    c.Add().DataField("CodArtDeco").Caption("Spare Part").Width(200);
                                                                    c.Add().DataField("NumberOfParts").Caption("Number Of Parts").HeaderCellTemplate("Nr.Of<br>parts").Width(60).Alignment(HorizontalAlignment.Center);
                                                                    c.Add().DataField("DecontaminedDeco").Caption("Decontamination Declaration").HeaderCellTemplate("Decontamination<br>Declaration").Width(120).Alignment(HorizontalAlignment.Center);
                                                                    c.Add().DataField("OriginalPartInfo").Caption("Original Part").HeaderCellTemplate("Original<br>Part").Width(120).Alignment(HorizontalAlignment.Center);
                                                                    c.Add().DataField("NotesPreview").Caption("Failure Description").Width(300);
                                                                    c.Add().DataField("Notes").Caption("Failure Description").Visible(false);
                                                                    c.Add().DataField("StatusDeco").Caption("Status").Name("Status").Width(100).Alignment(HorizontalAlignment.Center);
                                                                    c.Add().DataField("WarrantyStatusDeco").Caption("Warranty Status").HeaderCellTemplate("Warranty<br>Status").Width(200).CssClass("WarrantyStatus");
                                                                    c.Add().DataField("WarrantyStatusNote").Caption("Notes").Width(300);
                                                                    c.Add().DataField("UserInse_Name").Caption("User").Width(150);
                                                                    c.Add().DataField("TmstInseDeco").Caption("Insert Date").CalculateSortValue("TmstInseSort").Alignment(HorizontalAlignment.Center).Width(100);
                                                                    c.Add().Name("cmdRequest").Width(60).Alignment(HorizontalAlignment.Center).Fixed(true).FixedPosition(HorizontalEdge.Right)
                                                                                                            .AllowExporting(false).AllowSorting(false).AllowResizing(false);
                                                                })
                                                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                                                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("WspMyInstruments_Index"))
                                                                .AllowColumnResizing(true)
                                                                .ColumnResizingMode(ColumnResizingMode.Widget)
                                                                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                                                                .Export(e => e.Enabled(false).FileName(new JS("'WarrantyRequests_' + data.Title")).AllowExportSelectedData(false))
                                                                .OnCellPrepared("onCellPreparedWSPRequest")
                                                                .OnRowPrepared("OnRowPreparedWSPRequest")
                                                                .OnExporting("OnExporting_requests")
                                                                .OnExported("OnExported_requests")
                                                                .Paging(p => p.PageSize(5))
                                                                .Pager(pager =>
                                                                {
                                                                    pager.ShowPageSizeSelector(true);
                                                                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                                                    pager.ShowInfo(true);
                                                                    pager.InfoText("page {0} of {1} ({2} records)");
                                                                    pager.ShowNavigationButtons(true);
                                                                })
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </text>);
                        })
                    .Paging(p => p.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                        pager.ShowInfo(true);
                        pager.InfoText("page {0} of {1} ({2} records)");
                        pager.ShowNavigationButtons(true);
                    })
                    .Export(e => e.Enabled(false).FileName("Warranty_Instruments").AllowExportSelectedData(false))
                    .OnExporting("OnExporting")
                    .OnExported("OnExported")
                    .OnToolbarPreparing("toolbar_preparing")
                    .OnCellPrepared("onCellPrepared")
                    .OnContentReady("OnContentReady")
                    .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
        )
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}