@model WebApp.Entity.WSPManageDTO
@using WebApp.Classes
@{
    string titolo = "Warranty Management";
    string RuoliHTML = "";
    if (User.IsInRole(Lookup.Role_WarrantyAdministrator))
    {
        RuoliHTML += " <span class='label label-primary'>Support</span>";
    }
    if (User.IsInRole(Lookup.Role_WarrantyBackOffice))
    {
        RuoliHTML += " <span class='label label-primary'>BackOffice</span>";
    }
    string RoleSupport = User.IsInRole(Lookup.Role_WarrantyAdministrator) ? "OK" : "";
    string RoleBackOffice = User.IsInRole(Lookup.Role_WarrantyBackOffice) ? "OK" : "";
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    input, select {
        max-width: 800px;
    }

    .cmdEdit {
        font-size: 18px;
    }

    .cmdDownload {
        font-size: 16px;
        font-weight: bold;
    }

    .cmdCreateNew {
        font-size: 24px;
        /*font-weight: bold;*/
    }

    .cmdSelect {
        font-size: 18px;
    }

    .BoxAction {
        display: table;
        min-height: 35px;
        white-space: normal;
        text-align: center;
    }

    .MsgAction {
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
    }

    .WSPRequest-status-PENDING {
        background-color: #fff0b3;
    }

    .WSPRequest-status-PROCESSING {
        background-color: #ccffcc;
    }

    .WSPRequest-status-CLOSED {
        /*background-color: lightgray;*/
    }

    .WSPRequest-statusHigh-PENDING {
        background-color: #ff471a !important;
        color: white !important;
    }

    .WSPRequest-statusHigh-PROCESSING {
        /*background-color: greenyellow !important;*/
    }

    .WSPRequest-statusHigh-CLOSED {
        background-color: slategray !important;
        color: white !important;
    }

    .WarrantyStatus {
        font-weight: bold;
    }

    .filterField .dx-selectbox-container .dx-texteditor-input {
        font-size: 12px;
        padding: 3px;
    }

    .filterField .dx-selectbox-container .dx-placeholder {
        font-size: 12px;
    }

    .StepUNDO {
        font-size: 18px;
        color: dimgray;
    }

    .StepDONE {
        font-size: 18px;
        color: darkgreen;
    }

    .StepValueDeco {
        font-weight: bold;
    }

    .WarrantyYES {
        color: #2ab71b;
        font-weight: bold;
    }

    .WarrantyNO {
        color: #f00;
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var selWSPRequestId = 0;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
        });
    });
    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    //function getDataGridWSPRequestsInstance(Id) {
    //    return $("#grid-steps_" + Id).dxDataGrid("instance");
    //}
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
            location: "before",
            widget: "dxCheckBox",
            options: {
                text: "Show Closed Items",
                onInitialized: function (data) { onInitialized_ShowClosed(data); },
                onValueChanged: function (data) { onValueChange_ShowClosed(data); }

                }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-eye-slash",
                hint: "Remove column filters",
                name: "removeFilters",
                onClick: function () {
                    $("#grid-container").dxDataGrid("clearFilter", "row");
                    //getDataGridInstance().option("filterRow.visible", true);
                    return false;
                },
                onInitialized: function (evt) {
                    btnRemoveFilters = evt.component;
                }
            }
        //}, {
        //    location: "before",
        //    widget: "dxSelectBox",
        //    options: {
        //        width: 500,
        //        items: [{
        //            value: "SerialNumber",
        //            text: "Grouping by Serial Number"
        //        }, {
        //            value: "WarrantyStatusDeco",
        //            text: "Grouping by Warranty Status"
        //        }],
        //        displayExpr: "text",
        //        valueExpr: "value",
        //        value: "WarrantyStatusDeco",
        //        onValueChanged: function (e) {
        //            dataGrid.clearGrouping();
        //            dataGrid.columnOption(e.value, "groupIndex", 0);
        //            //$(".informer .count").text(getGroupCount(e.value));
        //        }
        //    }
        //}, {
        //    location: "before",
        //    widget: "dxButton",
        //    options: {
        //        icon: "filter",
        //        hint: "Show/Hide filters",
        //        name: "removeFilters",
        //        type: "default",
        //        onClick: function () {
        //            $("#divFilters").toggle();
        //            return false;
        //        }
        //        //onInitialized: function (evt) {
        //        //    btnRemoveFilters = evt.component;
        //        //}
        //    }
        });
    }
    function OnExporting(e) {
        e.component.beginUpdate();
        e.component.columnOption("NotesPreview", "visible", false);
        e.component.columnOption("Notes", "visible", true);
        e.component.columnOption("WarrantyStatusDeco", "visible", true);
        e.component.columnOption("WarrantyStatusNote", "visible", true);
        e.component.columnOption("UserInse_Name", "visible", true);
        e.component.columnOption("TmstInseDeco", "visible", true);
        e.component.columnOption("ExchangeRequestDeco", "visible", true);
        e.component.columnOption("ExchangeRequestNote", "visible", true);
        e.component.columnOption("CompliantDeco", "visible", true);
        e.component.columnOption("CompliantNote", "visible", true);
        e.component.columnOption("WspActionDeco", "visible", true);
        e.component.columnOption("WspActionNote", "visible", true);
        e.component.columnOption("CarrierNote", "visible", true);
        e.component.columnOption("ShippingNote", "visible", true);
        e.component.columnOption("InvoiceNUmber", "visible", true);
        e.component.columnOption("InvoiceDateDeco", "visible", true);    }
    function OnExported(e) {
        e.component.columnOption("NotesPreview", "visible", true);
        e.component.columnOption("Notes", "visible", false);
        e.component.columnOption("WarrantyStatusDeco", "visible", false);
        e.component.columnOption("WarrantyStatusNote", "visible", false);
        e.component.columnOption("UserInse_Name", "visible", false);
        e.component.columnOption("TmstInseDeco", "visible", false);
        e.component.columnOption("ExchangeRequestDeco", "visible", false);
        e.component.columnOption("ExchangeRequestNote", "visible", false);
        e.component.columnOption("CompliantDeco", "visible", false);
        e.component.columnOption("CompliantNote", "visible", false);
        e.component.columnOption("WspActionDeco", "visible", false);
        e.component.columnOption("WspActionNote", "visible", false);
        e.component.columnOption("CarrierNote", "visible", false);
        e.component.columnOption("ShippingNote", "visible", false);
        e.component.columnOption("InvoiceNUmber", "visible", false);
        e.component.columnOption("InvoiceDateDeco", "visible", false);
        e.component.endUpdate();
    }
    function onCellPrepared(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "cmdRequest") {
            // EDIT: per SUPPORTO se PENDING o PROCESSING, per BACKOFFICE sempre, tranne PENDING !!!
            // RESTORE: solo SUPPORTO se CLOSED O PROCESSING
            var bEdit = false;
            var bRestore = false;
            if ('@RoleSupport' == 'OK' && (e.data.Status == '@Lookup.WSPRequest_Status_PENDING' || e.data.Status == '@Lookup.WSPRequest_Status_PROCESSING')) {
                bEdit = true;
            }
            if ('@RoleBackOffice' == 'OK' && e.data.Status == '@Lookup.WSPRequest_Status_PROCESSING') {
                bEdit = true;
            }
            if ('@RoleSupport' == 'OK' && (e.data.Status == '@Lookup.WSPRequest_Status_PROCESSING' || e.data.Status == '@Lookup.WSPRequest_Status_CLOSED')) {
                bRestore = true;
            }

            var fieldHtml = "";
            fieldHtml += "<a href='#' onclick='goDetail(" + e.data.WSPRequestId + ");' class='fa fa-eye cmdDetail' title='Detail'></a>&nbsp;";
            if (bEdit) {
                fieldHtml += "<a href='#' onclick='goEditWSPRequest(" + e.data.WSPRequestId + ");' class='fa fa-edit cmdEdit' title='Edit'></a>&nbsp;";
            }
            if (bRestore) {
                fieldHtml += "<div><a href='#' onclick='goRestoreWSPRequest(" + e.data.WSPRequestId + ");' class='fa fa-undo cmdEdit' title='Restore'></a></div>";
            }
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.name && e.column.name.toLowerCase() == "status") {
            e.cellElement.addClass('WSPRequest-statusHigh-' + e.data.Status);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField.toLowerCase() == "warrantydeco") {
            e.cellElement.addClass((e.data.WarrantyDeco == "YES") ? "WarrantyYES" : "WarrantyNO");
        }
        //if (e.rowType == 'data' && e.column.dataField && e.column.dataField.toLowerCase() == "requestwarrantydeco") {
        //    e.cellElement.addClass((e.data.RequestWarrantyDeco == "YES") ? "WarrantyYES" : "WarrantyNO");
        //}
    }
    //function goExportWSPRequests(Id) {
    //    getDataGridWSPRequestsInstance(Id).exportToExcel(false);
    //}
    function onCellPreparedStep(e) {
        if (e.rowType == 'data' && e.column.name && e.column.name == "Step") {
            var fieldHtml = "";
            myClass = "fa fa-comment-o StepUNDO";
            //myClass = "fa fa-battery-empty StepUNDO";
            if ((e.data.Status || "") != "" || (e.data.Note || "") != "" ) {
                myClass = "fa fa-commenting StepDONE";
                //myClass = "fa fa-battery-full StepDONE";
            }
            //fieldHtml += "<span class='badge " + myClass + "' style='font-size: 16px;'>" + e.data.Step + "</span>";
            fieldHtml += "<i class='" + myClass + "'></i>";
            e.cellElement.html(fieldHtml);
        }
    }

    function goDetail(Id) {
        $("#elenco").append('<input type="hidden" name="WSPRequestId" value="' + Id + '" /> ');
        $("#elenco").append('<input type="hidden" name="sessionCallerKey" value="@Lookup.glb_sessionkey_WSPRequests_Manage"/> ');
        $("#elenco").attr("action", '@Url.Action("WSPDetailRequest")');
        $("#elenco").submit();
        return false;
    }

    function goEditWSPRequest(Id) {
        $("#elenco").append('<input type="hidden" name="WSPRequestId" value="' + Id + '" /> ');
        $("#elenco").append('<input type="hidden" name="sessionCallerKey" value="@Lookup.glb_sessionkey_WSPRequests_Manage"/> ');
        $("#elenco").attr("action", '@Url.Action("WSPEditRequest")');
        $("#elenco").submit();
        return false;
    }
    function goRestoreWSPRequest(Id) {
        var msg = "Do you wish to restore it?";
        bootbox.confirm(msg, function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("RestoreRequest")',
                    data: { id: Id},
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        getDataGridInstance().getDataSource().reload();
                    }
                });
            }
        });
    }
    let refreshGridWSPRequests = function (id) {
        //var grid = getDataGridWSPRequestsInstance(id);
        //var ds = grid.getDataSource();
        //if (ds != null) ds.reload();
    }
    // **************************************
    // GESTIONE FILTRI
    // **************************************
    var sessionStorageWarrantyStatus = "WSPManage_WarrantyStatus";
    var sessionStorageExchangeRequest = "WSPManage_ExchangeRequest";
    var sessionStorageCompliant = "WSPManage_Compliant";
    var sessionStorageWspAction = "WSPManage_WspAction";
    var sessionStorageShowClosed = "WSPManage_ShowClosed_Checkbox";
    var jsWarrantyStatus = null;
    var jsExchangeRequest = null;
    var jsCompliant = null;
    var jsWspAction = null;
    var jsShowClosed = false;

    function onInitialized_WarrantyStatus(e) {
        getSessionStorage(sessionStorageWarrantyStatus, e);
    }
    function onValueChange_WarrantyStatus(data) {
        setSessionStorage(sessionStorageWarrantyStatus, data);
    }
    function onInitialized_ExchangeRequest(e) {
        getSessionStorage(sessionStorageExchangeRequest, e);
    }
    function onValueChange_ExchangeRequest(data) {
        setSessionStorage(sessionStorageExchangeRequest, data);
    }
    function onInitialized_Compliant(e) {
        getSessionStorage(sessionStorageCompliant, e);
    }
    function onValueChange_Compliant(data) {
        setSessionStorage(sessionStorageCompliant, data);
    }
    function onInitialized_WspAction(e) {
        getSessionStorage(sessionStorageWspAction, e);
    }
    function onValueChange_WspAction(data) {
        setSessionStorage(sessionStorageWspAction, data);
    }
    function onInitialized_ShowClosed(e) {
        //getSessionStorage(sessionStorageShowClosed, e);
        getSessionStorage(sessionStorageShowClosed);
        if (jsShowClosed === 'true') {
            jsShowClosed = true;
        } else {
            jsShowClosed = false;
        }
        e.component.option("value", jsShowClosed);
    }
    function onValueChange_ShowClosed(data) {
        setSessionStorage(sessionStorageShowClosed, data);
    }
    function setSessionStorage(sessionId, data) {
        var varString = getJsVariableName(sessionId);
        if (varString != null) {
            //console.log('set: ' + varString + ' -> ' + data.value);
            eval(varString + " = null");
            if (data.value != null) {
                eval(varString + " = " + "'" + data.value + "'");
            }
            sessionStorage.setItem(sessionId, data.value);
            getDataGridInstance().getDataSource().reload();
        }
    }
    function getSessionStorage(sessionId, e) {
        var varString = getJsVariableName(sessionId);
        var jsVar = "";
        if (varString != null) {
            eval(varString + " = null");
            var valore = sessionStorage.getItem(sessionId)
            //console.log('get: ' + varString + ' -> ' + valore);
            if ((valore || '') != '') {
                jsVar = valore;
            }
        }
        eval(varString + " = null");
        if (jsVar != "null") {
            eval(varString + " = " + "'" + jsVar + "'");
        }
        if (e != null) {
            e.component.option("value", jsVar);
        }
    }
    function getJsVariableName(sessionId) {
        if (sessionId == sessionStorageWarrantyStatus) {
            return "jsWarrantyStatus";
        }
        if (sessionId == sessionStorageExchangeRequest) {
            return "jsExchangeRequest";
        }
        if (sessionId == sessionStorageCompliant) {
            return "jsCompliant";
        }
        if (sessionId == sessionStorageShowClosed) {
            return "jsShowClosed";
        }
        if (sessionId == sessionStorageWspAction) {
            return "jsWspAction";
        }
        return "";
    }
    function goShowEvents(id, code) {
        $("#LogPopupTitle").text("Events - " + code + " [" + id + "]");
        $('#LogPopupContent').load('@(Url.Action("RequestEvents"))?WSPRequestId=' + id, function () {
            $('#LogPopup').modal({
                keyboard: true
            }, 'show');
        });
        return false;
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @titolo <i>@Html.Raw(RuoliHTML)</i>
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                            .Icon("fa fa-info-circle")
                                            .Hint("Function Documentation")
                                            .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Warrenty_Manage">

    <div class="row">
        <div class="form-horizontal" id="divFilters">
            <div class="form-group">
                <div class="col-md-3">
                    <span class="form-label">Warranty Status</span>
                    @(Html.DevExtreme().SelectBox().DataSource(Model.listWarrantyStatus)
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ElementAttr("class", "filterField")
                                                                    .ShowClearButton(true)
                                                                    .OnInitialized("onInitialized_WarrantyStatus")
                                                                    .OnValueChanged("onValueChange_WarrantyStatus")
                    )
                </div>
                <div class="col-md-3">
                    <span class="form-label">Exchange Request</span>
                    @(Html.DevExtreme().SelectBox().DataSource(Model.listExchangeRequest)
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ElementAttr("class", "filterField")
                                                                    .ShowClearButton(true)
                                                                    .OnInitialized("onInitialized_ExchangeRequest")
                                                                    .OnValueChanged("onValueChange_ExchangeRequest")
                    )
                </div>
                <div class="col-md-3">
                    <span class="form-label">Shipment of the new part from supplier</span>
                    @(Html.DevExtreme().SelectBox().DataSource(Model.listCompliant)
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ElementAttr("class", "filterField")
                                                                    .ShowClearButton(true)
                                                                    .OnInitialized("onInitialized_Compliant")
                                                                    .OnValueChanged("onValueChange_Compliant")
                    )
                </div>
                <div class="col-md-3">
                    <span class="form-label">Defective part management</span>
                    @(Html.DevExtreme().SelectBox().DataSource(Model.listWSPAction)
                                                                    .ValueExpr("id")
                                                                    .DisplayExpr("descrizione")
                                                                    .ElementAttr("class", "filterField")
                                                                    .ShowClearButton(true)
                                                                    .OnInitialized("onInitialized_WspAction")
                                                                    .OnValueChanged("onValueChange_WspAction")
                    )
                </div>
                @*<div class="col-md-3">
                        <span class="form-label">Show Closed Request</span>
                        @(Html.DevExtreme().SelectBox().DataSource(Model.listShowClosed)
                                                        .ValueExpr("id")
                                                        .DisplayExpr("descrizione")
                                                        .ElementAttr("class", "filterField")
                                                        .ShowClearButton(true)
                                                        .OnInitialized("onInitialized_ShowClosed")
                                                        .OnValueChanged("onValueChange_ShowClosed")
                        )
                    </div>*@
            </div>
        </div>
    </div>

    <div class="row">
        @(Html.DevExtreme().DataGrid()
                        .ID("grid-container")
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .HoverStateEnabled(true)
                        .RowAlternationEnabled(true)
                        .AllowColumnResizing(true)
                        .DataSource(d => d.Mvc().Controller("Warranty").LoadAction("GetRequests").Key("WSPRequestId")
                            .LoadParams(new
                            {
                                WarrantyStatus = new JS("function() { return jsWarrantyStatus; }"),
                                ExchangeRequest = new JS("function() { return jsExchangeRequest; }"),
                                Compliant = new JS("function() { return jsCompliant; }"),
                                ShowClosed = new JS("function() { return (jsShowClosed || false); }"),
                                WSPAction = new JS("function() { return jsWspAction; }")
                            })
                        )
                        .RemoteOperations(true)
                        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                        .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("WSPManagesElenco"))
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .OnSelectionChanged(@<text>
                            function(e) {
                            e.component.collapseAll(-1);
                            e.component.expandRow(e.currentSelectedRowKeys[0]);
                            refreshGridWSPRequests(e.currentSelectedRowKeys[0]);
                            }
                        </text>)
                    .Columns(c =>
                    {
                        c.Add().DataField("WSPRequestId").Visible(false);
                        c.Add().DataField("Code").Caption("Code").SortOrder(SortOrder.Desc).Width(100).Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("TmstIssueDeco").Caption("Issue Date").CalculateSortValue("TmstIssueSort").Alignment(HorizontalAlignment.Center)
                                        .Width(100).Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("CodArtDeco").Caption("Spare Part").Width(200).Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("NumberOfParts").Caption("Number Of Parts").HeaderCellTemplate("Nr.Of<br>parts").Width(60)
                                        .Alignment(HorizontalAlignment.Center).Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("DecontaminedDeco").Caption("Decontamination Declaration").HeaderCellTemplate("Decontamination<br>Declaration").Width(120).Alignment(HorizontalAlignment.Center)
                                            .Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("OriginalPartInfo").Caption("Original Part").HeaderCellTemplate("Original<br>Part").Width(120).Alignment(HorizontalAlignment.Center)
                                            .Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("NotesPreview").Caption("Failure Description").Width(200).Fixed(true).FixedPosition(HorizontalEdge.Left);
                        c.Add().DataField("Notes").Caption("Failure Description").Visible(false);
                        c.Add().DataField("StatusDeco").Caption("Status").Name("Status").Width(100).Alignment(HorizontalAlignment.Center);
                        //c.Add().DataField("WarrantyStatusDeco").Caption("Warranty Status").HeaderCellTemplate("Warranty<br>Status").Width(180)
                        //       .CssClass("WarrantyStatus");   // .GroupIndex(0)
                        c.Add().DataField("WarrantyStatusDeco").Visible(false);  // per Export
                        c.Add().DataField("WarrantyStatusNote").Visible(false);  // per Export
                        c.Add().Caption("Instrument").Alignment(HorizontalAlignment.Left).Columns(a =>
                        {
                            a.Add().DataField("SerialNumber").Width(150);
                            a.Add().DataField("ModelTypeDeco").Caption("Type").Width(80);
                            a.Add().DataField("CompanyName").Width(150);
                            a.Add().DataField("SiteDescription").Width(150);
                            a.Add().DataField("SiteCity").Width(150);
                            a.Add().DataField("SiteCountry").Width(150);
                            a.Add().DataField("CommercialEntity").Width(150);
                        });
                        c.Add().Caption("Warranty").Alignment(HorizontalAlignment.Center).Columns(a =>
                        {
                            a.Add().DataField("WarrantyFromDeco").Caption("From").CalculateSortValue("WarrantyFromSort").Alignment(HorizontalAlignment.Center).Width("90");
                            a.Add().DataField("WarrantyToDeco").Caption("To").CalculateSortValue("WarrantyToSort").Alignment(HorizontalAlignment.Center).Width("90");
                            a.Add().DataField("WarrantyDeco").Caption("Warranty").Alignment(HorizontalAlignment.Center).Width("80");
                                    //a.Add().DataField("RequestWarrantyDeco").Caption("Request").Alignment(HorizontalAlignment.Center).Width("80");
                                });
                        c.Add().DataField("UserInse_Name").Caption("User").Width(100);
                        c.Add().DataField("TmstInseDeco").Caption("Insert Date").CalculateSortValue("TmstInseSort").Alignment(HorizontalAlignment.Center).Width(100);
                        c.Add().DataField("ExchangeRequestDeco").Visible(false);  // per Export
                                c.Add().DataField("ExchangeRequestNote").Visible(false);  // per Export
                                c.Add().DataField("CompliantDeco").Caption("Shipment of the new part from supplier").Visible(false);  // per Export
                                c.Add().DataField("CompliantNote").Caption("Note about Shipment of the new part from supplier").Visible(false);  // per Export
                                c.Add().DataField("WspActionDeco").Visible(false);  // per Export
                                c.Add().DataField("WspActionNote").Visible(false);  // per Export
                                c.Add().DataField("CarrierNote").Visible(false);  // per Export
                                c.Add().DataField("ShippingNote").Visible(false);  // per Export
                                c.Add().DataField("InvoiceNUmber").Visible(false);  // per Export
                                c.Add().DataField("InvoiceDateDeco").Visible(false);  // per Export
                                c.Add().Alignment(HorizontalAlignment.Center)
                                            .Width("80")
                                            .DataField("WSPRequestId")
                                            .AllowFiltering(false)
                                            .AllowSorting(false)
                                            .AllowEditing(false)
                                            .AllowExporting(false)
                                            .Fixed(true)
                                            .FixedPosition(HorizontalEdge.Right)
                                            .Caption("")
                                            .Name("cmdRequest");
                    })
                    .MasterDetail(md =>
                    {
                    md.Enabled(true)
                        //.AutoExpandAll(true)
                        .Template(@<text>
                                    <div class="internal-grid-container" style="padding: 10px" title="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @(Html.DevExtreme().DataGrid()
                                                                    .ID(new JS("'grid-steps_' + data.WSPRequestId "))
                                                                    .LoadPanel(l => l.ShowIndicator(false).ShowPane(false))
                                                                    .Selection(s => s.Mode(SelectionMode.None))
                                                                    .ShowBorders(true)
                                                                    .ShowRowLines(true)
                                                                    .HoverStateEnabled(false)
                                                                    .RowAlternationEnabled(false)
                                                                    .ShowColumnHeaders(false)
                                                                    .ShowColumnLines(false)
                                                                    .FocusedRowEnabled(false)
                                                                    .DataSource(d => d.Mvc().Controller("Warranty").LoadAction("GetRequestSteps")
                                                                            .LoadParams(new { WSPRequestId = new JS("data.WSPRequestId") })
                                                                        )
                                                                    .RemoteOperations(true)
                                                                    .Columns(c =>
                                                                    {
                                                                        c.Add().DataField("Step").Name("Step").Caption("").Width(50).Alignment(HorizontalAlignment.Center);
                                                                        c.Add().DataField("Description").Caption("").Width("20%");
                                                                        c.Add().DataField("StatusDeco").Caption("").Width("25%").CssClass("StepValueDeco");
                                                                        c.Add().DataField("Note").Caption("Notes");
                                                                    })
                                                                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                                                    .OnCellPrepared("onCellPreparedStep")
                                                    )
                                                </div>
                                            </div>
                                            <div class="row text-right">
                                                <div class="pull-right">
                                                    <a href="#" onclick="goShowEvents('<%= data.WSPRequestId %>');" title="show events" style="color: blue;">
                                                        <i class="fa fa-list"></i>
                                                            <small class="text-muted" style="color: blue;">Show Events</small>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </text>);
                                    })
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
                                    .Export(e => e.Enabled(false).FileName("Warranty_Requests").AllowExportSelectedData(false))
                                    .OnExporting("OnExporting")
                                    .OnExported("OnExported")
                                    .OnToolbarPreparing("toolbar_preparing")
                                    .OnCellPrepared("onCellPrepared")
                                    .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
        )
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="modal fade" id="LogPopup" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="LogPopupTitle"></h4>
            </div>
            <div class="modal-body" style="background-color: #f8f8f8;">
                <div id='LogPopupContent'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
