﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input:not(.dx-texteditor-input) {
    max-width: 280px;
}

select {
    max-width: 280px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
/*textarea {
    max-width: 900px;
}*/

/* classe per personalizzare il link 'goback'*/
.goback {
    float: right;
    font-size: 16px;
    line-height: 1;
    /*color: #000000;*/
    color: #428bca;
    text-shadow: 0 1px 0 #ffffff;
    /*opacity: 0.2;*/
    margin-bottom: 1px;
    margin-top: 5px;
}

.form-group.required .control-label:after {
    content: "*";
    font-size: large;
    color: red;
}
.required_align {
    font-size: large !important;
}

.required:after {
    content: "*";
    font-size: large;
    color: red;
}

.control-label {
    font-size: 12px !important;
}

/*input.maxWidth select.maxWidth textarea.maxWidth {
    max-width: 92%;
}*/

.dett-label {
    /*font-weight: bold;*/
}

.dett-value {
    font-weight: bold;
    padding-left: 4px;
    white-space: normal;
}

.dett-section {
    font-style: italic;
    font-weight: bold;
}

.dett-lookup {
    color: blue;
    font-size: 16px;
    padding: 1px, 1px, 0px, 0px;
    white-space: normal;
}

.containerAnagrafica {
    width: 90%;
    margin: auto;
}

.containerAnagrafica2 {
    width: 70%;
    margin: auto;
}

.sub-title {
    font-size: 14px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
}


.sub-title1 {
    font-size: 18px;
    /*color: royalblue;*/
    color: darkslategray;
}

.sub-title1Label {
    font-size: 18px;
    font-style: italic;
    /*color: royalblue;*/
    color: darkslategray;
}

.sub-title2 {
    font-size: 16px;
    color: dimgray;
}

.sub-title2Label {
    font-size: 16px;
    font-style: italic;
    color: dimgray;
}

.dx-icon-edit, .dx-icon-user, .dx-icon-key {
    font-size: 18px;
}

.cmdDetail {
    font-size: 18px;
    color: green;
}

/*.cmdDelete*/
.dx-icon-trash {
    font-size: 18px;
    /*color: red;*/
}

.detail-icon-bar {
    width: 100%;
    background-color: gray;
    overflow: auto;
}

.detail-icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.detail-icon-bar a:hover {
    background-color: lightgray;
}

/*.row > div {border:1px solid red;}*/

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.field100 {
    width: 100px;
}

.field200 {
    width: 200px;
}

.field250 {
    width: 250px;
}

.field300 {
    width: 300px;
}

.field350 {
    width: 350px;
}

.field400 {
    width: 400px;
}

.fieldtotale {
    width: 400px;
    color: green;
    font-size: 20px;
    border-style: hidden;
}

.field100Perc {
    margin: auto;
}

.dx-form-group-caption {
    color: green;
    font-size: 18px;
    font-style: italic;
}

.empty_row {
    height: 10px !important; /* overwrites any other rules */
}

.navbar.navbar-inverse.navbar-fixed-top {
    height: 50px;
}

.nav, .navbar {
    background-color: #A4CD4C;
    border-color: #A4CD4C;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #81AE28 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #315b77 !important;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: white !important;
}

.navbar-inverse .btn-link {
    color: #315b77 !important;
}

.navbar-inverse .btn-link:hover {
    color: white !important;
}

.navbar-brand {
    color: #315b77 !important;
}

.navbar-brand:hover {
    color: white !important;
}

.PCRKit-assay {
    background-color: #b1a0c7;
}
.PCRKit-assay-multiplex {
    background-color: #00b0f0;
}
.PCRKit-other {
    background-color: lightgray;
}
.PCRKit-consumable {
    background-color: lightgray;
}
.OPENKit-assay {
    background-color: #92d050;
}
.OPENKit-other {
    background-color: lightgray;
}
.Kit-edit {
    background-color: yellow !important;
}

.Kit-editCutoff {
    background-color: white !important;
    border: 4px solid orange !important;
}
.Kit-edited {
    background-color: white !important;
}
.dx-highlight-outline {
    background-color: white;
}
.kit-dummy {
    background-color: white !important;
}

/*.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}*/
@media (min-width: 1200px) {
    .container {
        width: 95%;
    }
}

.dx-scrollable-scroll {
    background-color: lightslategray !important;
}

.ambiente {
    background-color: red;
    padding: 2px 5px 2px 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.statusRegistration-TO-DO {
    /*background-color: orange;*/
    /*letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;*/
    text-shadow: 9px 0 18px #FFD500, 2px 2px 2px rgba(206,89,55,0);
    color: red;
    font-variant: small-caps;
    font-weight: bold;
}

.statusRegistration-NOT-REQUIRED {
    /*background-color: lightgray;*/
    /*color: lightgray;*/
    text-shadow: 15px 2px 30px rgba(64,77,0,0.5), 2px 2px 2px rgba(206,89,55,0);
    font-variant: small-caps;
    font-weight: bold;
}

.statusRegistration-DONE {
    /*background-color: yellowgreen;*/
    font-variant: small-caps;
    color: forestgreen;
    text-shadow: 15px 0 45px #80FF00, 2px 2px 2px rgba(255,255,255,0), 2px 2px 2px rgba(255,255,255,0);
    font-weight: bold;
}

.statusRegistration-WAIT {
    /*background-color: yellow;*/
    font-variant: small-caps;
    color: orange;
    text-shadow: 15px 0 45px #80FF00, 2px 2px 2px rgba(255,255,255,0), 2px 2px 2px rgba(255,255,255,0);
    font-weight: bold;
}

.statusRegistration-REFUSED {
    /*background-color: #f2dede;*/
    text-shadow: 17px 0 45px #408000, 2px 2px 2px rgba(15,24,76,0);
    font-variant: small-caps;
    color: brown;
    font-weight: bold;
}


.titolo-pagina {
    margin-top: 5px;
}

.msgInfo {
    display: inline-block;
    vertical-align: bottom;
    font-style: italic;
    white-space: nowrap !important;
    font-size: 85%;
    color: green;
}

.dx-datagrid-nowrap {
    white-space: normal;
}

#sfondoLogin {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: url(../images/ExtraStats_login.jpg) no-repeat center top;*/
    background: url(../images/bg_MolecularDiagnostics.jpg) no-repeat center top;
    position: fixed;
    z-index: -1;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    /*background-size: cover;*/
    background-size: contain;
    opacity: 0.2;
}

#sfondoLogo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: url(../images/ExtraStats_login.jpg) no-repeat center top;*/
    background: url(../images/bg_MolecularDiagnostics_logo.jpg) no-repeat center top;
    position: fixed;
    z-index: -1;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    /*background-size: cover;*/
    background-size: contain;
    opacity: 0.2;
}


#sfondo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/bg_MolecularDiagnostics.jpg) no-repeat center top;
    position: fixed;
    background-position-y: +50px;
    z-index: -1;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: -1;
    opacity: 0.2;
}


.form-label {
    font-size: 11px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    white-space: nowrap;
}

.form-label.required:after {
    content: "*";
    font-size: large;
    color: red;
}

div.bootbox .btn {
    font-size: 16px !important;
    min-width: 90px;
}


.avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;
    /* Used to position the content */
    position: relative;
    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    /* Rounded border */
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /*font-weight: bold;*/
    font-size: larger;
}