﻿@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = string.Format("Service Centers");
    string titolo = ViewData["Title"].ToString();
}

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .cmdRow {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
    .dx-datagrid-header-panel {
        display: none;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 3000);
    }
    function OnCellPrepared(options) {
        if (options.rowType == "data" && options.column.name && options.column.name == "command") {
            var tmplEdit = "<a href='#' onclick='goEdit({{ServiceCenterId }});' class='fa fa-pencil-square-o cmdRow' title='Edit'></a>&nbsp;";
            var tmplDelete = "<a href='#' onclick='goDelete({{ServiceCenterId }});' class='fa fa-trash-o cmdRow' title='Delete'></a>&nbsp;";

            var dataTemplate = new Object();
            dataTemplate.ServiceCenterId = options.data.ServiceCenterId;
            var htmlEdit = Mustache.render(tmplEdit, dataTemplate);
            var htmlDelete = Mustache.render(tmplDelete, dataTemplate);

            var fieldHtml = htmlEdit + " " + htmlDelete;
            options.cellElement.html(fieldHtml);
        }
    }
    function goAdd() {
        var item = new Object();
        item.ServiceCenterId = 0;
        //ShowPopupEditServiceCenter(item);
    }

    function goDelete(ServiceCenterId) {
        bootbox.confirm("Do you wish to delete it ?", function (result) {
            if (result) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteServiceCenter")',
                    data: { Id: ServiceCenterId },
                    success: function (data) {
                        DevExpress.ui.notify("Operation successful.");
                        getDataGridInstance().refresh();
                    },
                    error: function (xhr, statusText) {
                        DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                    }
                });
            }
        });
        return false;
    }

    function goExport() {
        getDataGridInstance().exportToExcel();
    }
    function goEdit(ServiceCenterId) {
        let rows = getDataGridInstance().getVisibleRows();
        let idx = getDataGridInstance().getRowIndexByKey(parseInt(ServiceCenterId));
        console.log(rows[idx].data);
        ShowPopupEditServiceCenter(rows[idx].data);
        return false;
    }
    function dataGrid_beforeSend(operation, ajaxOptions) {
        //...
        console.log(ajaxOptions.data.ServiceCenterId = 2);
    }

    function ShowPopupEditServiceCenter(editServiceCenterModel) {
        console.log(editServiceCenterModel);

        var bNewRequestMode = (editServiceCenterModel.ServiceCenterId == 0);
        var title = bNewRequestMode ? "NEW Service Center" : "EDIT Service Center";
        $("#PopupEditServiceCenter").dxPopup({
            visible: true,
            title: title,
            width: 900,
            height: 600,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },

            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Save',
                        icon: "save",
                        onClick: function () {
                            onCloseSaveEditServiceCenter();
                        }
                    }
                },
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Cancel',
                        onClick: function () {
                            onCancelSaveEditServiceCenter();
                        }
                    }
                }
            ],
            contentTemplate: function (e) {

                var divContainer = $("<div id='EditServiceCenterForm'>");

                var DatasourceContacts = new DevExpress.data.DataSource({
                    store: new DevExpress.data.AspNet.createStore({
                        loadUrl: "/Instruments/GetServiceCenterContacts/",
                        key: "ServiceCenterContactId",
                        loadParams: { ServiceCenterId: editServiceCenterModel.ServiceCenterId }
                    }),
                    paginate: true,
                    pageSize: 15
                });
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    onContentReady: function (e) {

                    },
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 300,
                    showValidationSummary: false,
                    colCount: 1,
                    formData: editServiceCenterModel,
                    items: [
                        {
                            label: {
                                text: 'Code/Model'
                            },
                            dataField: "ServiceCenterCode",
                            editorType: "dxTextBox",
                            editorOptions:
                            {
                                maxLength: 50
                            },
                            validationRules: [{
                                type: "required",
                                message: 'Code field required'
                            }]
                        }, {
                            label: {
                                text: 'Note'
                            },
                            dataField: "Note",
                            editorType: "dxTextArea",
                            editorOptions:
                            {
                                inputAttr: { rows: 5 },
                                maxLength: 500,
                            }
                        }, {
                            label: {
                                text: 'Contacts'
                            },
                            dataField: "ContactList",
                            editorType: "dxDataGrid",
                            editorOptions:
                            {
                                dataSource: DatasourceContacts,
                                showColumnHeaders: false,
                                height: "200px",
                                columns: [
                                    {
                                        dataField: 'ServiceCenterContactId',
                                        visible: false
                                    }, {
                                        dataField: 'Contact',
                                        visible: true,
                                    }
                                ],
                                editing: {
                                    mode: "batch",
                                    allowUpdating: true,
                                    allowDeleting: true,
                                    allowAdding: true
                                },
                                showBorders: true
                            }
                        }]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }


    //Chiudi e salva il popup
    function onCloseSaveEditServiceCenter() {
        var validation = $("#EditServiceCenterForm").dxForm("instance").validate();

        if (validation.isValid) {

            var formData = $('#EditServiceCenterForm').dxForm("instance").option('formData');
            console.log(formData);
            @*formData.bCompleteRequest = bCompleteRequest;
            formData.bSetAsRevised = bSetAsRevised;
            if (bSetAsRevised && formData.NewArticle === false) {
                 DevExpress.ui.notify({
                    message: "New Article field required.",
                    type: "error",
                    displayTime: 3000,
                    closeOnClick: true
                });
                return false;
            }
            var dataToSend = JSON.stringify(formData);

            if (formData.Status && formData.Status != "@LookupVerticalization.ThomBrowne_Status_NEW" &&
                                   formData.Status != "@LookupVerticalization.ThomBrowne_Status_REVISED"){
                goSaveEditServiceCenter(dataToSend);
                return false;
            }

            // Verifica Giacenza solo per nuova richiesta
            var DTO = new Object();
            DTO.Article = formData.Article;
            DTO.Color = formData.Color;
            DTO.Size = formData.Size;
            var dataToCheck = JSON.stringify(DTO);

            var msg = "";
            var stockQta = 0;

            $.post({
                contentType: 'application/json; charset=utf-8',
                url: "/Verticalization/TBRequest/CheckDisponibilitaGiacenza/",
                data: dataToCheck,
                dataType: 'json'

            }).done(function (data) {
                if (data.giacenza < 0) {
                    msg = "ERROR - Stock control not available";
                } else if (data.giacenza == 0) {
                    msg = "No stock available!";
                } else if (data.giacenza < formData.RequestQty) {
                    msg = "Stock available: " + data.giacenza;
                    stockQta = data.giacenza;
                } else {
                    stockQta = formData.RequestQty;
                }

            }).fail(function (data) {
                msg = "Stock control not available";

            }).always(function (data) {
                // Integrazione richiesta !!
                var DTOUpd = JSON.parse(dataToSend);
                DTOUpd.StockQty = stockQta;
                dataToSend = JSON.stringify(DTOUpd);

                if (msg == "") {
                    goSaveEditServiceCenter(dataToSend);
                } else {
                    var result = DevExpress.ui.dialog.confirm("<i>" + msg + "; continue?</i>", "Confirm");
                    result.done(function (dialogResult) {
                        if (dialogResult) {
                            goSaveEditServiceCenter(dataToSend);
                        }
                    });
                }
            });*@
        }
    }

    //function goSaveEditServiceCenter(dataToSend) {
    //    $.post({

    //        contentType: 'application/json; charset=utf-8',
    //        url: "/Verticalization/TBRequest/ManageRequest/",
    //        data: dataToSend,
    //        dataType: 'json'

    //    }).done(function (data) {

    //        $("#PopupEditServiceCenter").dxPopup('instance').hide();
    //        getDataGridInstance().refresh();

    //        DevExpress.ui.notify({
    //            message: data.message,
    //            type: "success",
    //            displayTime: 3000,
    //            closeOnClick: true
    //        });

    //    }).fail(function (data) {

    //        colorLog(data.responseText, "error");

    //        DevExpress.ui.notify({
    //            message: data.responseText,
    //            type: "error",
    //            displayTime: 3000,
    //            closeOnClick: true
    //        });

    //    });
    //}


    //Annulla il popup
    function onCancelSaveEditServiceCenter() {
        $("#PopupEditServiceCenter").dxPopup('instance').hide();
    }
</script>

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-magic" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="dx-field-value">
                    @(Html.DevExtreme().Button().Icon("add").Hint("Add New Email Template").OnClick("goAdd"))
                    @(Html.DevExtreme().Button().Icon("xlsfile").Hint("Export to Excel").OnClick("goExport"))
                </div>
            </div>
        </div>
        <br />
        @(Html.DevExtreme().LoadPanel()
                                    .ID("loadPanelSend")
                                    .ShadingColor("rgba(0,0,0,0.4)")
                                    .Visible(false)
                                    .ShowIndicator(true)
                                    .ShowPane(true)
                                    .Shading(true)
                                    .CloseOnOutsideClick(true)
                                    .Message("waiting...")
                                    .OnShown("loadPanelSend_shown")
        )
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                    .ID("grid-container")
                                    .ShowBorders(true)
                                    .ShowRowLines(true)
                                    .HoverStateEnabled(false)
                                    .RowAlternationEnabled(false)
                                    .AllowColumnResizing(true)
                                    .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                                    .Selection(selection => selection.Mode(SelectionMode.None))
                                    .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetServiceCenters")
                                                    .Key("ServiceCenterId")
                                    )
                                    .RemoteOperations(true)
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("ServiceCenterId").Visible(false);
                                        columns.Add().DataField("ServiceCenterCode").Caption("Code/Model").Width("25%");
                                        columns.Add().DataField("Note").Caption("Note").Width("40%");
                                        columns.Add().DataField("ContactList").Caption("Contacts").Width("25%");
                                        columns.Add()
                                                .Width("10%")
                                                .Fixed(true)
                                                .FixedPosition(HorizontalEdge.Right)
                                                .Alignment(HorizontalAlignment.Center)
                                                .AllowFiltering(false)
                                                .AllowSorting(false)
                                                .AllowEditing(false)
                                                .AllowExporting(false)
                                                .AllowResizing(false)
                                                .Caption("")
                                                .Name("command")
                                                .DataField("ServiceCenterId");
                                    })
                                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                    .OnCellPrepared("OnCellPrepared")
                                    .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("ServiceCenterindex"))
                                    .Export(e => e.Enabled(false).AllowExportSelectedData(false).FileName("ServiceCenters"))
                                    .LoadPanel(l => l.Enabled(true).Height(70))
                                    .Paging(p => p.PageSize(10))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                        pager.ShowInfo(true);
                                        pager.InfoText("page {0} of {1} ({2} records)");
                                        pager.ShowNavigationButtons(true);
                                    })
            )
        </div>
    </div>
    <div id="PopupEditServiceCenter" />


</form>



