﻿@model WebApp.Entity.bookingIndexDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Instruments Booking";
    string titolo = ViewData["Title"].ToString();
}

<!-- note: moment.js must be loaded before vis-timeline-graph2d or the embedded version of moment.js is used -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<link href="~/lib/vis-4.21.0/vis.min.css" rel="stylesheet" />
<script src="~/lib/vis-4.21.0/vis.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/dist/sweetalert.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert@1.1.3/dist/sweetalert.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    body {
        background-color: white;
    }
    /*div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }*/
    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }
    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }
    .dx-row > .dx-master-detail-cell {
        padding: 0px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    input, select {
        max-width: 800px;
    }
    .modal-lg {
        width: 95%;
    }
    #visualization {
        box-sizing: border-box;
        width: 100%;
        /*height: 300px;*/
        background-color: white !important;
    }
    div.vis-readonly {
        /*background-color: darkgray;*/
        border-color: black;
        color: black;
    }
    .vis-item.vis-background.badzone {
        background-color: rgba(122, 122, 82, 0.1);
        /*background-color: rgba(255, 0, 0, 0.2);*/
    }

    .vis-item .vis-item-overflow {
        overflow: visible;
    }
    .vis-item.daConfermare {
        background-color: orange;
        border-color: darkorange;
        /*color: white;*/
    }
    div.vis-readonly.vis-selected,
    div.vis-item.daConfermare.vis-selected,
    div.vis-item.confermata.vis-selected {
        background-color: yellow;
        border-color: darkorange;
        color: red;
        font-weight: bold;
    }
    .vis-item.confermata {
        background-color: greenyellow;
        border-color: green;
    }
    .room {
        background-color: lightgreen;
        border-color: darkolivegreen;
        font-weight: bold;
    }
    .locked {
        /*background-color: #99ccff;*/
        background-color: lightgray;
        border-color: dimgray;
    }
    /* gray background in weekends, white text color */
    .vis-time-axis .vis-grid.vis-saturday,
    .vis-time-axis .vis-grid.vis-sunday {
        background-color: LavenderBlush !important;
    }
    .vis-time-axis .vis-text.vis-saturday,
    .vis-time-axis .vis-text.vis-sunday {
        color: red;
    }
    .buttonGroup {
        background-color: white;
    }
    .vis-label.vis-nested-group.inGenius {
        background-color: #24b8f1;
        color: white;
    }
    .vis-label.vis-nested-group.beGenius {
        background-color: lightcoral;
        color: white;
    }
    /*.vis-text.vis-minor.vis-h0, 
    .vis-text.vis-minor.vis-h1, 
    .vis-text.vis-minor.vis-h2, 
    .vis-text.vis-minor.vis-h3, 
    .vis-text.vis-minor.vis-h4, 
    .vis-text.vis-minor.vis-h5,
    .vis-text.vis-minor.vis-h6
    {
        background-color: gray;
        color: white;
    }*/

</style>
<script type="text/javascript">

    var container = null;
    var timeline = null;
    var jsArrayInstruments = @Html.Raw(Json.Serialize(Model.instruments));
    var jsDateRangeMin = null;
    var jsDateRangeMax = null;
    var jsDateShowMin = null;
    var jsDateShowMax = null;
    var jsFirstSaturday = null;
    var groups = new vis.DataSet();

    const hhMinDay = 7;
    const hhMaxDay = 20;
    const hhMinBooking = 0;
    const hhMaxBooking = 24;
    const timerRefresh = 5 * 60 * 1000;  // 5minuti espressi in millisecondi
    var jsLastRefresh = moment();

    const cookieConfig = "BookingConfiguration";
    const jsOptStack = "STACK";
    const jsOptShowWE = "SHOW_WEEKEND";
    const jsOptShowBadZone = "SHOW_BADZONE";
    var jsConfig = getCookie(cookieConfig);
    //console.log(jsConfig);
    if (jsConfig) {
        jsConfig = JSON.parse(jsConfig);
    } else {
        jsConfig = new Object();
    }
    if (jsConfig.stack == null) jsConfig.stack = "";
    if (jsConfig.showWE == null) jsConfig.showWE = jsOptShowWE;
    if (jsConfig.showBadzone == null) jsConfig.showBadzone = "";
    if (jsConfig.period == null) jsConfig.period = "W";
    if (jsConfig.dateRif == null) jsConfig.dateRif = moment();
    if (jsConfig.hiddenDateFrom == null) jsConfig.hiddenDateFrom = jsConfig.dateRif;
    if (jsConfig.hiddenDateTo == null) jsConfig.hiddenDateTo = jsConfig.dateRif;
    setCookie(cookieConfig, JSON.stringify(jsConfig));

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            getLoadPanelInstance().show();
            setDateTimeLine();
            initTimeLine();
            if (jsConfig.serialNumberSelected != null) {
                $("#SerialNumberFilter").dxTagBox("instance").option("value", jsConfig.serialNumberSelected);
            } else {
                loadItemsTimeLine();
            }
            //setTimeout(function () {
            //    console.log("refresh");
            //    loadItemsTimeLine();
            //}, 10000);
            const scrollTop = 0;
            setTimeout(() => {
                document.getElementsByClassName(
                    "vis-vertical-scroll"
                )[0].scrollTop = scrollTop;
            }, 500);
            setTimeout(goRefresh, timerRefresh); // Attiva refresh 
            updateCountdown();
        });
    });

    // REFRESH
    function updateCountdown() {
        var secMancanti = timerRefresh - (moment().diff(jsLastRefresh, "seconds") * 1000);
        $("#lastRefreshInfo").html("auto refresh<br>" + moment.utc(secMancanti).format('mm:ss'));
        setTimeout(updateCountdown, 1000); // callback
    }
    function goRefresh() {
        //console.log("refresh");
        jsLastRefresh = moment();
        loadItemsTimeLine(true);
        setTimeout(goRefresh, timerRefresh); // callback
    }

    function initTimeLine(arraySerialNumber) {
        container = document.getElementById('visualization');

        groups = new vis.DataSet();

        // Scorro l'elenco degli strumenti e determino le ROOMS e gli strumenti contenuti
        var rooms = [];
        jsArrayInstruments.forEach(function (item, index) {
            if (showSerialNumber(item.SerialNumber, arraySerialNumber) == true) {
                var found = false;
                rooms.forEach(function (room, indexRoom) {
                    if (room.id == item.SiteDescription) {
                        found = true;
                        room.nestedGroups.push(item.SerialNumber);
                    }
                });
                if (!found) {
                    rooms.push({ id: item.SiteDescription, nestedGroups: [item.SerialNumber] });
                }
            }
        });
        rooms.forEach(function (item, index) {
            groups.add(
                {
                    id: item.id,
                    content: item.id,
                    nestedGroups: item.nestedGroups,
                    showNested: true,
                    className: "room",
                    groupType: "ROOM"
                });
        });
        jsArrayInstruments.forEach(function (item, index) {
            var myContent = item.SerialNumber;
            var myClassName = "";
            var myGroupType = "";
            if ((item.Machine_Description || '') != '') {
                myContent += " [" + item.Machine_Description + "]";
            }
            if (myContent.toLowerCase().indexOf("ingenius") >= 0) {
                myClassName = "inGenius";
            }
            if (myContent.toLowerCase().indexOf("begenius") >= 0) {
                myClassName = "beGenius";
            }

            if (item.Locked) {
                myContent += " (Locked)";
                myClassName = "locked";
                myGroupType = "LOCKED";
            }
            if (showSerialNumber(item.SerialNumber, arraySerialNumber) == true) {
                groups.add(
                    {
                        id: item.SerialNumber,
                        content: myContent,
                        className: myClassName,
                        groupType: myGroupType
                    });
            }
        });

        // create visualization
        var timelineOptions = {
            groupOrder: 'content',  // groupOrder can be a property name or a sorting function
            //horizontalScroll: true,
            verticalScroll: true,
            horizontalScroll: false,
            zoomKey: 'ctrlKey',
            maxHeight: 700,
            //zoomable: false,
            //moveable: false,
            autoResize: true,
            stack: (jsConfig.stack == jsOptStack),
            start: moment(jsDateRangeMin),
            end: moment(jsDateRangeMax),
            zoomMin: 6 * 60 * 60 * 1000,
            orientation: { axis: 'both' },
            editable: true,
            showTooltips: false,
            //itemsAlwaysDraggable: { item: true, range: true },
            hiddenDates: [
                {
                    start: moment(jsConfig.hiddenDateFrom),
                    end: moment(jsConfig.hiddenDateTo),
                    repeat: 'weekly'
                //}, {
                //    start: moment(jsDateRangeMin).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }),
                //    end: moment(jsDateRangeMin).set({ hour: hhMinDay, minute: 0, second: 0, millisecond: 0 }),
                //    repeat: 'daily'
                //}, {
                //    start: moment(jsDateRangeMin).set({ hour: hhMaxDay, minute: 0, second: 1, millisecond: 0 }),
                //    end: moment(jsDateRangeMin).set({ hour: 23, minute: 59, second: 59, millisecond: 0 }),
                //    repeat: 'daily'
                }],
            onAdd: function (item, callback) {
                var myGroup = timeline.groupsData.getDataSet().get(item.group);
                if (myGroup == null) return null;
                if (myGroup.groupType == "ROOM") {
                    callback(null);
                    return false;
                }
                if (myGroup.groupType == "LOCKED") {
                    DevExpress.ui.dialog.alert("Instrument Locked.");
                    callback(null);
                    return false;
                }
                if ((item.type || '') != '') {
                    callback(null);
                    return null;
                }
                ShowItemBooking(item);
            },
            onUpdate: function (item, callback) {
                //console.log(JSON.stringify(item, null, 4));
                ShowItemBooking(item);
            },
            onMove: function (item, callback) {
                var myGroup = timeline.groupsData.getDataSet().get(item.group);
                if (myGroup == null) {
                    callback(null);
                    return false;
                }
                if (myGroup.groupType == "ROOM") {
                    callback(null);
                    return false;
                }
                if (myGroup.groupType == "LOCKED") {
                    DevExpress.ui.dialog.alert("Instrument Locked.");
                    callback(null);
                    return false;
                }
                doUpdateItemBooking(item, callback);
            },
            onMoving: function (item, callback) {
                //console.log("onMoving");
                if (item.start < jsDateRangeMin) item.start = jsDateRangeMin;
                if (item.start > jsDateRangeMax) item.start = jsDateRangeMax;
                if (item.end > jsDateRangeMax) item.end = jsDateRangeMax;
                callback(item); // send back the (possibly) changed item
            },
            onRemove: function (item, callback) {
                //console.log(JSON.stringify(item, null, 4));
                callback(null); return false;
            }
        };
        var items = new vis.DataSet();
        if (timeline == null) {
            //console.log("crea timeline");
            timeline = new vis.Timeline(container, items, groups, timelineOptions);
            //timeline.on('rangechanged', function (s) {
            //    //jsConfig.rangeChangedStart = s.start;
            //    //jsConfig.rangeChangedEnd = s.end;
            //    //setCookie(cookieConfig, JSON.stringify(jsConfig));
            //    //console.log("Range Changed:" + JSON.stringify(s));
            //});
        } else {
            //console.log("aggiorna timeline");
            //console.log(groups);
            //var w = timeline.getWindow();
            //console.log("start:" + w.start + " end:" + w.end);
            timeline.setGroups(groups);
        }
    }
    function showSerialNumber(serialNumber, arraySerialNumber) {
        if (arraySerialNumber == null) return true;
        if (arraySerialNumber.length == 0) return true;
        for (var j = 0; j < arraySerialNumber.length; j++) {
            if (arraySerialNumber[j].match(serialNumber)) return true;
        }
        return false;
    }

    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function DateRif_valueChanged(data) {
        if (data.value != null) {
            jsConfig.dateRif = data.value;
            setCookie(cookieConfig, JSON.stringify(jsConfig));
            setDateTimeLine();
            loadItemsTimeLine();
        }
    }

    function setDateTimeLine() {
        var rif = moment(jsConfig.dateRif);
        // RIVEDERE ???
        // Gestione ShowMin e Max per cambio data o period
        // data inizio settimana o mese
        if (jsConfig.period == "D") {
            jsDateRangeMin = rif;
            jsDateRangeMax = rif;
            jsDateShowMin = jsDateRangeMin;
            jsDateShowMax = jsDateRangeMax;
        } else if (jsConfig.period == "W") {
            jsDateRangeMin = rif.clone().startOf('week');
            jsDateRangeMax = rif.clone().endOf('week');
            jsDateShowMin = jsDateRangeMin;
            jsDateShowMax = jsDateRangeMax;
        } else {
            jsDateRangeMin = rif.clone().startOf('month');
            jsDateRangeMax = rif.clone().endOf('month');
            jsDateShowMin = jsDateRangeMin;
            jsDateShowMax = jsDateRangeMax;
        }
        jsDateRangeMin = moment(jsDateRangeMin).set({ hour: 0, minute: 0, second: 0, millisecond: 0 });
        jsDateRangeMax = moment(jsDateRangeMax).set({ hour: 23, minute: 59, second: 59, millisecond: 0 });
        jsDateShowMin = moment(jsDateShowMin).set({ hour: 0, minute: 0, second: 0, millisecond: 0 });
        jsDateShowMax = moment(jsDateShowMax).set({ hour: 23, minute: 59, second: 59, millisecond: 0 });

        // per annullare cfg, impostare DateFrom = DateTo
        // altrimenti ricerco il primo saturday e la prima domenica del periodo (se diverso da 'D'/DAY)
        jsConfig.hiddenDateFrom = jsDateRangeMin;
        jsConfig.hiddenDateTo = jsConfig.hiddenDateFrom;
        if (jsConfig.period != "D") {
            jsConfig.hiddenDateFrom = jsConfig.hiddenDateFrom.add(-(jsConfig.hiddenDateFrom.isoWeekday() + 1 ), "days");
            if (jsConfig.showWE != jsOptShowWE) {
                jsConfig.hiddenDateTo = moment(jsConfig.hiddenDateFrom).add(2, "days");
            }
        }

        //// Forzatura per imposta
        jsDateRangeMin = moment(jsDateShowMin).clone();
        jsDateRangeMax = moment(jsDateShowMax).clone();

        //console.log('Range - ' + moment(jsDateRangeMin).format('YYYY-MM-DD') + ' -> ' + moment(jsDateRangeMax).format('YYYY-MM-DD'));
        //console.log('Show  - ' + moment(jsDateShowMin).format('YYYY-MM-DD') + ' -> ' + moment(jsDateShowMax).format('YYYY-MM-DD'));
        //console.log('WeekEnd  - ' + moment(jsConfig.hiddenDateFrom).format('YYYY-MM-DD') + ' -> ' + moment(jsConfig.hiddenDateTo).format('YYYY-MM-DD'));
    }

    function loadItemsTimeLine(autoRefresh) {
        //console.log("loadItemsTimeLine - autoRefresh: " + autoRefresh);

        // ricarica Items
        var items = new vis.DataSet(); 

        if (jsConfig.showBadzone == jsOptShowBadZone) {
            var range = jsDateRangeMax.diff(jsDateRangeMin, 'days');
            for (var j = 0; j <= range; j++) {
                var badzone = {
                    id: 'badzone1_' + j,
                    start: moment(jsDateRangeMin).clone().add(j, 'days').set({ hour: 0, minute: 0, second: 0, millisecond: 0 }),
                    end: moment(jsDateRangeMin).clone().add(j, 'days').set({ hour: hhMinDay, minute: 0, second: 0, millisecond: 0 }),
                    type: 'background',
                    className: 'badzone'
                };
                items.add(badzone);
                var badzone = {
                    id: 'badzone2_' + j, 
                    start: moment(jsDateRangeMin).clone().add(j, 'days').set({ hour: hhMaxDay, minute: 0, second: 0, millisecond: 0 }),
                    end: moment(jsDateRangeMin).clone().add(j, 'days').set({ hour: 23, minute: 59, second: 59, millisecond: 0 }),
                    type: 'background',
                    className: 'badzone'
                };
                items.add(badzone);
            }
        }

        $.ajax({
            url: '@Url.Action("getBookingsJSON")',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            data: { From: moment(jsDateRangeMin).format(), To: moment(jsDateRangeMax).format() },
            success: function (data) {
                data.forEach(function (item, index) {
                    var item = setTimelineItem(item);
                    items.add(item);
                });
                timeline.setItems(items);
                if (autoRefresh) {
                    timeline.setOptions({ autoResize: false });
                    timeline.redraw();
                    timeline.setOptions({ autoResize: true });
                } else {
                    timeline.redraw();
                    // modifica visibilità
                    timeline.range.options.min = jsDateRangeMin;
                    timeline.range.options.max = jsDateRangeMax;
                    timeline.setWindow(jsDateShowMin, jsDateShowMax);
                    //timeline.setWindow(jsDateRangeMin, jsDateRangeMax);
                }
            },
            error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); }
        });
    }
    function setTimelineItem(item) {
        //console.log(item);
        var ret =
        {
            id: item.BookingId,
            group: item.SerialNumber,
            content: (item.Title || (item.UserInse_Name || '*Undefined*')),
            Title: item.Title,
            start: item.TmstFrom,
            end: item.TmstTo,
            className: item.ClassName,
            type: 'range',
            editable: {
                remove: false,
                updateTime: (item.IsEditable || item.isApprover),
                updateGroup: (item.IsEditable || item.isApprover)
            },
            EntireDay: item.EntireDay,
            canModify: (item.IsEditable || item.isApprover),
            userInse: item.UserInse_Name,
            Note: item.Note,
            SignLastUpd: item.SignLastUpd
        }
        ret.canChangeFrom = moment(ret.start).isAfter(jsDateRangeMin);
        ret.canChangeTo = moment(ret.end).isBefore(jsDateRangeMax); 
        //console.log(ret);
        return ret;
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 3000);
    }

    function ShowItemBooking(item) {
        var data = new Object();
        // Default: NUOVO ITEM
        data.titoloForm = "Insert New Booking";
        data.BookingId = 0;
        data.SerialNumber = item.group;
        data.datefrom = item.start;
        data.timefrom = item.start;
        data.dateto = moment(item.start).clone().add(4, 'hours');
        data.timeto = moment(item.start).clone().add(4, 'hours');
        data.note = "";
        data.showDelete = false;
        data.showSave = true;
        data.disabledInstrument = false;
        data.Title = '@Model.UserNameFull';
        data.EntireDay = false;
        data.SignLastUpd = "";


        var selItem = timeline.itemsData.getDataSet().get(item.id);
        if (selItem != null) {
            //console.log(JSON.stringify(selItem, null, 4));
            // Item Esistente
            data.titoloForm = "Edit Booking - id: " + selItem.id + " (" + selItem.userInse + ")";
            data.BookingId = selItem.id;
            data.SerialNumber = selItem.group;
            data.datefrom = selItem.start;
            data.timefrom = selItem.start;
            data.dateto = selItem.end;
            data.timeto = selItem.end;
            data.Title = selItem.Title;
            data.EntireDay = selItem.EntireDay;
            data.note = selItem.Note;
            data.showDelete = selItem.canModify;
            data.showSave = selItem.canModify;
            //data.disabledInstrument = true;
            data.SignLastUpd = selItem.SignLastUpd;
        }
        //console.log(data.SignLastUpd);

        $("#popup-newBooking").dxPopup({
            visible: true,
            title: data.titoloForm,
            width: 800,
            height: 550,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Save',
                        icon: 'save',
                        visible: data.showSave,
                        onClick: function () {
                            doSaveBooking(data.BookingId, data.SignLastUpd);
                        }
                    }
                }, {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "before",
                    options: {
                        text: 'Delete',
                        icon: 'trash',
                        visible: data.showDelete,
                        type: 'danger',
                        onClick: function () {
                            doDeleteBooking(data.BookingId, data.SignLastUpd);
                        }
                    }
                }

            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 300,
                    showValidationSummary: true,
                    colCount: 4,
                    formData: data,
                    items: [
                        {
                            label: { text: "Title" },
                            colSpan: 4,
                            dataField: "Title",
                            editorType: "dxTextBox"
                            //editorOptions: { height: 90 }
                        }, {
                            label: { text: "Instrument" },
                            colSpan: 4,
                            dataField: "SerialNumber",
                            editorType: "dxSelectBox",
                            editorOptions: {
                                //width: 500,
                                dataSource: jsArrayInstruments,
                                value: data.instrument,
                                valueExpr: "SerialNumber",
                                displayExpr: "SerialNumberInfo2",
                                disabled: data.disabledInstrument
                            }
                        }, {
                            label: { text: "Date From" },
                            colSpan: 2,
                            dataField: "datefrom",
                            editorType: "dxDateBox",
                            editorOptions: {
                                displayFormat: 'EEEE, dd/MM/yyyy'
                            }
                        }, {
                            label: { text: "Time From" },
                            colSpan: 1,
                            dataField: "timefrom",
                            editorType: "dxDateBox",
                            editorOptions: { type: 'time' }
                        }, {
                            label: { text: "Entire Day" },
                            colSpan: 1,
                            dataField: "EntireDay",
                            editorType: "dxCheckBox"
                        }, {
                            label: { text: "Date To" },
                            colSpan: 2,
                            dataField: "dateto",
                            editorType: "dxDateBox",
                            editorOptions: { displayFormat: 'EEEE, dd/MM/yyyy' }
                        }, {
                            label: { text: "Time To" },
                            colSpan: 1,
                            dataField: "timeto",
                            editorType: "dxDateBox",
                            editorOptions: { type: 'time' }
                        }, {
                            colSpan: 1,
                            itemType: "empty"
                        }, {
                            label: { text: "Note" },
                            colSpan: 4,
                            dataField: "note",
                            editorType: "dxTextArea",
                            editorOptions: { height: 90 }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);

            }
        });
    }

    function doDeleteBooking(id, SignLastUpd) {
        var result = DevExpress.ui.dialog.confirm("Do you wish to delete it ?", "Confirm Delete");
        result.done(function (dialogResult) {
            if (dialogResult) {
                getLoadPanelInstance().show();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteBooking")',
                    data: { bookingId: id, signLastUpd: SignLastUpd },
                    error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                    success: function (data) {
                        //console.log(data);
                        if ((data || '') == '') {
                            var myItem = timeline.itemsData.getDataSet().get(id);
                            timeline.itemsData.getDataSet().remove(myItem);
                        } else {
                            DevExpress.ui.dialog.alert(data, "Error");
                        }
                        $("#popup-newBooking").dxPopup('instance').hide();
                        getLoadPanelInstance().hide();
                    }
                });
            }
        });
    }

    function doSaveBooking(id, SignLastUpd) {
        var formData = $('#container-popup').dxForm("instance").option('formData');
        //console.log(formData);
        var bNew = (formData.BookingId == 0);
        if ((formData.title || "").length > 100) {
            DevExpress.ui.dialog.alert("The field Title must be a string with a maximum length of 100.");
            return false;
        }
        if ((formData.SerialNumber || "") == "") {
            DevExpress.ui.dialog.alert("The Instrument field is required.");
            return false;
        }
        if ((formData.datefrom || "") == "") {
            DevExpress.ui.dialog.alert("The Date From field is required.");
            return false;
        }
        if ((formData.timefrom || "") == "") {
            DevExpress.ui.dialog.alert("The Time From field is required.");
            return false;
        }
        if ((formData.dateto|| "") == "") {
            DevExpress.ui.dialog.alert("The Date To field is required.");
            return false;
        }
        if ((formData.timeto || "") == "") {
            DevExpress.ui.dialog.alert("The Time To field is required.");
            return false;
        }
        if ((formData.note || "").length > 500) {
            DevExpress.ui.dialog.alert("The field Note must be a string with a maximum length of 500.");
            return false;
        }
        formData.SignLastUpdCurrent = SignLastUpd;

        formData.TmstFrom = moment(formData.datefrom).set(
            {
                hour: moment(formData.timefrom).get('hour'),
                minute: moment(formData.timefrom).get('minute'),
                second: 0,
                millisecond: 0
            });
        formData.TmstTo = moment(formData.dateto).set(
            {
                hour: moment(formData.timeto).get('hour'),
                minute: moment(formData.timeto).get('minute'),
                second: 0,
                millisecond: 0
            });
        if (formData.EntireDay) {
            formData.TmstFrom = moment(formData.TmstFrom).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 });
            formData.TmstTo = moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 });
        }

        formData.msgError = "";
        formData = validateFormData(formData);
        if (formData.msgError != "") {
            DevExpress.ui.dialog.alert(formData.msgError);
            return false;
        }

        var dataToSend = JSON.stringify(formData);
        getLoadPanelInstance().show();
        $.ajax({
            url: '@Url.Action("ManageBookingJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                if ((data.manageError||"") == "") {
                    var myItem = setTimelineItem(data);
                    if (bNew) {
                        timeline.itemsData.getDataSet().add(myItem);
                    } else {
                        timeline.itemsData.getDataSet().update(myItem);
                    }
                    $("#popup-newBooking").dxPopup('instance').hide();
                } else {
                    DevExpress.ui.dialog.alert(data.manageError, "Error");
                }
            }
        }).always(function (data) {
            getLoadPanelInstance().hide();
        });
    }
    function doUpdateItemBooking(item, callback) {
        var formData = new Object();
        formData.bookingId = item.id;
        formData.SerialNumber = item.group;
        formData.TmstFrom = item.start;
        formData.TmstTo = item.end;
        if (item.start > item.end) {
            formData.TmstFrom = item.end;
            formData.TmstTo = item.start;
        }
        formData.SignLastUpdCurrent = item.SignLastUpd;

        var selItem = timeline.itemsData.getDataSet().get(item.id);

        formData.TmstFrom = moment(formData.TmstFrom).set(
            {
                hour: moment(formData.TmstFrom).get('hour'),
                minute: moment(formData.TmstFrom).get('minute'),
                second: 0,
                millisecond: 0
            });
        formData.TmstTo = moment(formData.TmstTo).set(
            {
                hour: moment(formData.TmstTo).get('hour'),
                minute: moment(formData.TmstTo).get('minute'),
                second: 0,
                millisecond: 0
            });

        if (selItem.EntireDay) {
            formData.TmstFrom = moment(formData.TmstFrom).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 });
            formData.TmstTo = moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 });
        }
        // Controllo Ora Minima / Massima
        if (!selItem.canChangeFrom) {
            formData.TmstFrom = moment(selItem.start);
        }
        if (!selItem.canChangeTo) {
            formData.TmstTo = moment(selItem.end);
        }

        formData.msgError = "";
        formData = validateFormData(formData);
        if (formData.msgError != "") {
            callback(null);
            DevExpress.ui.dialog.alert(formData.msgError);
            return false;
        }

        var dataToSend = JSON.stringify(formData);
        getLoadPanelInstance().show();
        $.ajax({
            url: '@Url.Action("MoveBookingJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
                callback(null);
            },
            success: function (data) {
                if ((data.manageError || "") == "") {
                    var myItem = setTimelineItem(data);
                    timeline.itemsData.getDataSet().update(myItem);
                } else {
                    DevExpress.ui.dialog.alert(data.manageError, "Error");
                    callback(null);
                }
            }
        }).always(function (data) {
            getLoadPanelInstance().hide();
        });
        callback(null);
    }
    function exportTimeLine() {
        var serialNumberList = "";
        var selSerialNumber = $("#SerialNumberFilter").dxTagBox("instance").option('value');
        if (selSerialNumber != null) {
            //console.log(selSerialNumber);
            for (var j = 0; j < selSerialNumber.length; j++) {
                if (serialNumberList != '') serialNumberList += ",";
                //console.log(selSerialNumber[j]);
                serialNumberList += selSerialNumber[j];
            }
        }
        $("#DateFromExport").val(moment(jsDateRangeMin).format() );
        $("#DateToExport").val(moment(jsDateRangeMax).format());
        $("#SerialNumberToExport").val(serialNumberList);
        $("#elenco").attr("action", '@Url.Action("Booking")');
        $("#elenco").submit();
        return false;
    }
    function onZoomOut(e) {
        timeline.zoomOut(1, "linear");
    }
    function onZoomIn(e) {
        timeline.zoomIn(1, "linear");
    }
    function onMoveLeft(e) {
        //console.log("onMoveLeft");
        move(1);
    }
    function onMoveRight(e) {
        //console.log("onMoveRight");
        move(-1);
    }
    function move(verso) {
        var range = timeline.getWindow();
        var interval = range.end - range.start;
        //console.log(jsDateShowMin);
        //console.log(jsDateShowMax);
        //console.log(range);
        //console.log(interval);
        //var newStart = range.start.valueOf() - interval / 2 * verso;
        //if (newStart < moment(newStart).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 })) {
        //    newStart = newSatrt.clone().add(-11, 'hours');
        //}
        //var newStart = range.start.valueOf() - interval / 2 * verso;
        //if (newStart < jsDateShowMin) {
        //    newStart = jsDateShowMin;
        //}
        //var newEnd = 
        //if (newStart < jsDateShowMin) {
        //    newStart = jsDateShowMin;
        //}
        timeline.setWindow({
            start: range.start.valueOf() - interval / 2 * verso,
            end: range.end.valueOf() - interval / 2 * verso
        });
    }
    function ToolbarPeriod_ItemClick(e) {
        jsConfig.period = e.itemData.value;
        setCookie(cookieConfig, JSON.stringify(jsConfig));
        setDateTimeLine();
        loadItemsTimeLine();
    }
    function buttonGroup_SelectionChanged(e) {
        if (e.addedItems[0]) {
            if (e.addedItems[0].value == jsOptStack) {
                jsConfig.stack = jsOptStack;
            }
            if (e.addedItems[0].value == jsOptShowWE) {
                jsConfig.showWE = jsOptShowWE;
            }
            if (e.addedItems[0].value == jsOptShowBadZone) {
                jsConfig.showBadzone = jsOptShowBadZone;
            }
            //console.log("The following style is added: " + e.addedItems[0].value);
        }
        if (e.removedItems[0]) {
            if (e.removedItems[0].value == jsOptStack) {
                jsConfig.stack = "";
            }
            if (e.removedItems[0].value == jsOptShowWE) {
                jsConfig.showWE = "";
            }
            if (e.removedItems[0].value == jsOptShowBadZone) {
                jsConfig.showBadzone = "";
            }
            //console.log("The following style is removed: " + e.removedItems[0].value)
        }
        //console.log(JSON.stringify(jsConfig));

        setCookie(cookieConfig, JSON.stringify(jsConfig));

        timeline.setOptions(
            { stack: (jsConfig.stack == jsOptStack) }
        );

        setDateTimeLine();
        timeline.setOptions(
            {
                hiddenDates: [{
                    start: moment(jsConfig.hiddenDateFrom),
                    end: moment(jsConfig.hiddenDateTo),
                    repeat: 'weekly'
                //}, {
                //    start: moment(jsDateRangeMin).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }),
                //    end: moment(jsDateRangeMin).set({ hour: hhMinDay, minute: 0, second: 0, millisecond: 0 }),
                //    repeat: 'daily'
                //}, {
                //    start: moment(jsDateRangeMin).set({ hour: hhMaxDay, minute: 0, second: 1, millisecond: 0 }),
                //    end: moment(jsDateRangeMin).set({ hour: 23, minute: 59, second: 59, millisecond: 0 }),
                //    repeat: 'daily'
                }]
            });

        loadItemsTimeLine();
        //initTimeLine();
    }
    function changePeriod(value) {
        var newDateRif = $("#DateRif").dxDateBox("instance").option('value');
        if (moment(newDateRif).isValid()) {
            newDateRif = moment(newDateRif);
            var um = "days";
            if (jsConfig.period == "W") um = "weeks";
            if (jsConfig.period == "M") um = "months";
            const nextDate = newDateRif.add(value, um);
            $("#DateRif").dxDateBox("instance").option('value', nextDate.format("YYYY-MM-DD"));
        }
    }
    function setCookie(name, value) {
        var expiry = new Date();
        expiry.setMinutes(expiry.getMinutes() + 120);
        document.cookie = name + "=" + (value) + "; path=/; expires=" + expiry.toGMTString() + "; SameSite=Strict";
    }
    // Gets a cookie's value. If it's not set it returns null.
    function getCookie(name) {
        var re = new RegExp(name + "=([^;]+)");
        var value = re.exec(document.cookie);
        return (value != null) ? (value[1]) : null;
    }
    function serialNumber_valueChanged(e) {
        jsConfig.serialNumberSelected = e.value;
        setCookie(cookieConfig, JSON.stringify(jsConfig));
        initTimeLine(e.value);
        loadItemsTimeLine(true);
    }
    function validateFormData(formData) {
        if (formData.TmstFrom < moment(formData.TmstFrom).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 })) {
            formData.msgError = "Operation not allowed: Date From must be after " + hhMinBooking + ":00";
        }
        if (formData.TmstTo < moment(formData.TmstTo).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 })) {
            formData.msgError = "Operation not allowed: Date To must be after " + hhMinBooking + ":00";
        }
        if (formData.TmstFrom > moment(formData.TmstFrom).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 })) {
            formData.msgError = "Operation not allowed: Date From must be before " + hhMaxBooking + ":00";
        }
        if (formData.TmstTo > moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 })) {
            formData.msgError = "Operation not allowed: Date To must be before " + hhMaxBooking + ":00";
        }
        if (formData.msgError == "") {
            //// forzatura limiti 
            //console.log(moment(formData.TmstFrom).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 }));
            //console.log(moment(formData.TmstFrom).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 }));
            //console.log(moment(formData.TmstTo).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 }));
            //console.log(moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 }));
            //formData.msgError = "ProVA";
            //if (formData.TmstFrom < moment(formData.TmstFrom).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 })) {
            //    formData.msgError = "ProVA - OK";
            //    formData.TmstFrom == moment(formData.TmstFrom.clone()).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 });
            //}
            //if (formData.TmstFrom > moment(formData.TmstFrom).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 })) {
            //    formData.TmstFrom == moment(formData.TmstFrom).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 });
            //}
            //if (formData.TmstTo < moment(formData.TmstTo).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 })) {
            //    formData.TmstTo == moment(formData.TmstTo).set({ hour: hhMinBooking, minute: 0, second: 0, millisecond: 0 });
            //}
            //if (formData.TmstTo > moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 })) {
            //    formData.TmstTo == moment(formData.TmstTo).set({ hour: hhMaxBooking, minute: 0, second: 0, millisecond: 0 });
            //}
            if (formData.TmstFrom > formData.TmstTo) {
                formData.msgError = "Date To must be after Date From.";
            }
        }
        //console.log(formData.msgError + ' -> ' + formData.TmstFrom.format() + ' / ' + formData.TmstTo.format());
        return formData;
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                                .Icon("fa fa-info-circle")
                                                .Hint("Function Documentation")
                                                .Text("")
                                                .Type(ButtonType.Normal)
                                                .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Instruments_Booking">
    @Html.HiddenFor(model => model.DateFromExport);
    @Html.HiddenFor(model => model.DateToExport);
    @Html.HiddenFor(model => model.SerialNumberToExport);
    <div id="sfondo"></div>
    <br />

    <div class="row" id="filters">
        <div class="form-group">
            <div class="option col-md-1 col-xs-3 text-nowrap">
                @(Html.DevExtreme().Button().Icon("fa fa-chevron-left").Hint("prev").OnClick(@<text> function (e) { changePeriod(-1); } </text>) )
                @(Html.DevExtreme().Button().Icon("fa fa-chevron-right").Hint("next").OnClick(@<text> function (e) { changePeriod(1); } </text>) )
            </div>
            <div class="option col-md-2 col-xs-3">
                @(Html.DevExtreme().DateBox().ID("DateRif").Width("100%").Min("2000/01/01").Max("2999/12/31").Value(new JS("jsConfig.dateRif")).DisplayFormat("dd /MM/yyyy").OnValueChanged("DateRif_valueChanged"))
            </div>
            <div class="option col-md-3 col-xs-6">
                @(Html.DevExtreme().ButtonGroup()
                                .ID("ToolbarPeriod")
                                .KeyExpr("value")
                                .StylingMode(ButtonStylingMode.Outlined)
                                .Items(items =>
                                {
                                    items.Add().Text("Day").Option("value", "D");
                                    items.Add().Text("Week").Option("value", "W");
                                    items.Add().Text("Month").Option("value", "M");
                                })
                                .ElementAttr("class", "buttonGroup")
                                .SelectedItemKeys(new[] { new JS("jsConfig.period") })
                                .OnItemClick("ToolbarPeriod_ItemClick")
                )
                @(Html.DevExtreme().ButtonGroup()
                                .ID("ToolbarOptions")
                                .KeyExpr("value")
                                .ElementAttr("class", "buttonGroup")
                                .StylingMode(ButtonStylingMode.Outlined)
                                .SelectionMode(ButtonGroupSelectionMode.Multiple)
                                .Items(items =>
                                {
                                    items.Add().Icon("fa fa-calendar").Hint("Show Weekend").Option("value", new JS("jsOptShowWE"));
                                    items.Add().Icon("fa fa-clock-o").Hint("Show bad zone").Option("value", new JS("jsOptShowBadZone"));
                                    items.Add().Icon("hierarchy").Hint("Stacked").Option("value", new JS("jsOptStack"));
                                })
                                .SelectedItemKeys(new[] { new JS("jsConfig.stack"), new JS("jsConfig.showBadzone"), new JS("jsConfig.showWE") })
                                .OnSelectionChanged("buttonGroup_SelectionChanged")
                )
            </div>
            <div class="option col-md-5 col-xs-6 text-nowrap">
                @(Html.DevExtreme().TagBox().ID("SerialNumberFilter")
                                                    .DataSource(new JS("jsArrayInstruments"))
                                                    .DisplayExpr("SerialNumberInfo3")
                                                    .ValueExpr("SerialNumber")
                                                    .SearchEnabled(true)
                                                    .Placeholder("select...")
                                                    .ShowClearButton(true)
                                                    .InputAttr("autocomplete", "true")
                                                    .OnValueChanged("serialNumber_valueChanged")
                                                    .Placeholder("Serial Number")
                                                    .ApplyValueMode(EditorApplyValueMode.UseButtons)
                                                    .ShowSelectionControls(true)
                )
            </div>
            <div class="option col-md-1 col-xs-12 text-right text-nowrap">
                @(Html.DevExtreme().Button().Icon("fa fa-search-plus").Hint("zoom in").OnClick("onZoomIn"))
                @(Html.DevExtreme().Button().Icon("fa fa-search-minus").Hint("zoom out").OnClick("onZoomOut"))
                @(Html.DevExtreme().Button().Icon("export").Hint("Export").OnClick("exportTimeLine"))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-left text text-primary h4 col-md-10">
            <em>Use Mouse Wheel to scroll vertically; use Ctrl+Mouse Wheel to Zoom and Change View; click on calendar and scroll horizontal or vertical</em>
        </div>
        <div class="col-md-1 text-center h6 text-success text-nowrap">
            <span id="lastRefreshInfo"></span>
        </div>
        <div class="col-md-1 text-right text-nowrap">
            @(Html.DevExtreme().Button().Icon("fa fa-angle-double-left").Hint("move left").OnClick("onMoveLeft"))
            @(Html.DevExtreme().Button().Icon("fa fa-angle-double-right").Hint("move righe").OnClick("onMoveRight"))
        </div>
    </div>
    <div class="empty_row"></div>
    @*<hr />*@

    @(Html.DevExtreme().LoadPanel()
                                                .ID("loadPanel")
                                                .ShadingColor("rgba(0,0,0,0.4)")
                                                //.Position(p => p.Of("#requests"))
                                                .Visible(true)
                                                .ShowIndicator(true)
                                                .ShowPane(true)
                                                .Shading(true)
                                                .Message("working...")
                                                .CloseOnOutsideClick(false)
                                                .OnShown("loadPanel_shown")
    )
    <div class="row">
        <div id="visualization"></div>
    </div>
    <div id="popup-newBooking"></div>
}
