﻿@using WebApp.Classes
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = string.Format("Instruments");
    string titolo = ViewData["Title"].ToString();
}

<link href="~/lib/summernote-0.8.11/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.11/summernote.js"></script>

<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }

    .status-LOCKED {
        color: red;
    }

    .cmdSendEmail {
        font-size: 18px;
    }
</style>


<script type="text/javascript">
    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            initEmailBodyField('GenericEmailBody', 200);
            //$("form").bind("keypress", function (e) {
            //    if (e.keyCode == 13) {
            //        return false;
            //    }
            //});
        });
    });

    var errorMessage = "";

    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }

    function Data_Error(e) {
        errorMessage = e.error.message;
    }
    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            if (info.data.Locked) {
                info.rowElement.addClass('status-LOCKED');
            }
        }
    }

    // Invio email
    function OpenSendEmail(SerialNumber) {
        $("#GenericEmailTemplateId").dxSelectBox("instance").option("value", "");
        $("#GenericEmailTemplateId").dxSelectBox("instance").getDataSource().reload();
        $('#GenericEmailSubject').val("");
        $('#GenericEmailBody').summernote("code", "");
        $("#GenericEmailSerialNumber").val(SerialNumber);
        $('#PopupGenericEmail').modal('show');
        return false;
    }
    function GenericEmail_Change(e) {
        if (e != null && e.value != null && e.value != '') {
            $.get('@Url.Action("GetEmailInfoJSON")', { EmailTemplateId: e.value }, function (data) {
                if (data != null) {
                    $('#GenericEmailSubject').val(data.Subject);
                    $('#GenericEmailBody').summernote("code", data.Body);
                }
                return false;
            });
        }
        return false;
    }

    function doSendGenericEmail() {
        if (($("#GenericEmailSubject").val()||'') == '') {
            bootbox.alert("The Subject field is required.");
            return false;
        }
        if ($('#GenericEmailBody').summernote("isEmpty")) {
            bootbox.alert("The Message field is required.");
            return false;
        }
        var DTO = new Object();
        DTO.Subject = $("#GenericEmailSubject").val();
        DTO.Body = $('#GenericEmailBody').summernote('code');
        DTO.IdRifCode = $("#GenericEmailSerialNumber").val();
        var dataToSend = JSON.stringify(DTO);
        getLoadPanelSendInstance().show();
        $("#btnSendGenericEmail").attr("disabled", true);
        $.ajax({
            url: '@Url.Action("SendEmailToOwnerGroup")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                bootbox.alert("Error: " + xhr.statusText + " - " + xhr.responseText);
            },
            success: function (data) {
                $('#PopupGenericEmail').modal('hide');
                DevExpress.ui.notify("Your message was successfully sent.", "info");
            }
        }).always(function (data) {
            $("#btnSendGenericEmail").attr("disabled", false);
            getLoadPanelSendInstance().hide();
        });
    }
    function getLoadPanelSendInstance() {
        return $("#loadPanelSend").dxLoadPanel("instance");
    }
    function loadPanelSend_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 30000);
    }
    var i = 0;
    function OnCellPrepared(options) {
        if (options.rowType == "data" && options.column.name && options.column.name == "cmdInstrument") {
            var fieldHtml = "";
            if ((options.row.data.OwnerGroupId || '') != '') {
                fieldHtml += "<a href='#' onclick='OpenSendEmail(\"" + options.row.data.SerialNumber + "\");' class='fa fa-envelope-o cmdDetail' title='Send Email to Owner Group'></a>";
            }
            options.cellElement.html(fieldHtml);
        }
    }


</script>

<form>
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-server" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @(Html.DevExtreme().LoadPanel()
                                    .ID("loadPanelSend")
                                    .ShadingColor("rgba(0,0,0,0.4)")
                                    .Visible(false)
                                    .ShowIndicator(true)
                                    .ShowPane(true)
                                    .Shading(true)
                                    .CloseOnOutsideClick(true)
                                    .Message("waiting...")
                                    .OnShown("loadPanelSend_shown")
        )

        <div class="row">
            @(Html.DevExtreme().DataGrid()
                            .ID("grid-container")
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .HoverStateEnabled(false)
                            .RowAlternationEnabled(false)
                            .AllowColumnResizing(true)
                            .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                            .Selection(selection => selection.Mode(SelectionMode.None))
                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Batch);
                                editing.AllowUpdating(true);
                            })
                            .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetInstruments")
                                            .UpdateAction("UpdateInstrument")
                                            .Key("SerialNumber")
                            )
                            .RemoteOperations(true)
                            .Columns(columns =>
                            {
                                columns.Add().DataField("SerialNumber").Caption("Instrument").Width(120).AllowEditing(false).Fixed(true).FixedPosition(HorizontalEdge.Left);
                                columns.Add().DataField("Machine_Description").Caption("Internal Code").Width(120).AllowEditing(false);
                                columns.Add().DataField("ModelTypeDeco").Caption("Model Type").Width(120).AllowEditing(false);
                                columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width(180).AllowEditing(false);
                                columns.Add().DataField("SiteCountry").Caption("Country").Width(120).AllowEditing(false);
                                columns.Add().DataField("CompanyName").Caption("Customer").Width(200).AllowEditing(false);
                                columns.Add().DataField("SiteDescription").Caption("Site/Lab").Width(180).AllowEditing(false);
                                columns.Add().DataField("SiteCity").Caption("City").Width(120).AllowEditing(false);
                                columns.Add().DataField("CommercialStatus").Caption("Status").Width(200).AllowEditing(false);
                                columns.Add().DataField("OwnerGroupId").Caption("Owner").Width(120).SortOrder(SortOrder.Asc)
                                                .Lookup(l => l.DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetOwnerGroups").Key("DLListId"))
                                                                .DisplayExpr("Description").ValueExpr("DLListId").AllowClearing(true));
                                columns.Add().DataField("Booking").Caption("Booking").AllowEditing(true).Width(100);
                                columns.Add().DataField("Locked").Caption("Locked").AllowEditing(true).Width(100);
                                columns.Add().DataField("Maintenance_WarningAfterGG")
                                                            .Caption(string.Format("Maintenance: Warning after (default {0} gg)", Lookup.GetInstrumentMaintenanceWarningAfterGG()))
                                                            .HeaderCellTemplate(string.Format("Maintenance<br>Warning after<br>(default {0} gg)", Lookup.GetInstrumentMaintenanceWarningAfterGG()))
                                                            .AllowEditing(true).Width(120).Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("Calibration_GGNext")
                                                            .Caption(string.Format("Next Calibration after (default {0} gg)", Lookup.GetInstrumentCalibrationGGNext()))
                                                            .HeaderCellTemplate(string.Format("Next Calibration after<br>(default {0} gg)", Lookup.GetInstrumentCalibrationGGNext()))
                                                            .AllowEditing(true).Width(120).Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("Calibration_WarningAfterGG")
                                                            .Caption(string.Format("Calibration: Warning after (default {0} gg)", Lookup.GetInstrumentCalibrationWarningAfterGG()))
                                                            .HeaderCellTemplate(string.Format("Calibration<br>Warning after<br>(default {0} gg)", Lookup.GetInstrumentCalibrationWarningAfterGG()))
                                                            .AllowEditing(true).Width(120).Alignment(HorizontalAlignment.Center);
                                columns.Add().DataField("Fibers_Default")
                                                            .Caption(string.Format("Fiber Pack (default {0:n0})", Lookup.GetInstrumentFibersDefault()))
                                                            .HeaderCellTemplate(string.Format("Fiber Pack<br>(default {0:n0})", Lookup.GetInstrumentFibersDefault()))
                                                            .AllowEditing(true).Width(150).Alignment(HorizontalAlignment.Center).Format("fixedPoint");
                                columns.Add().DataField("Fibers_WarningAfterPerc")
                                                            .Caption(string.Format("% Fiber Pack (default {0:n2}%)", Lookup.GetInstrumentFibersWarningAfterPerc()))
                                                            .HeaderCellTemplate(string.Format("% Fiber Pack<br>(default {0:n2}%)", Lookup.GetInstrumentFibersWarningAfterPerc()))
                                                            .AllowEditing(true).Width(150).Alignment(HorizontalAlignment.Center);
                                columns.Add()
                                        .Width(60)
                                        .Fixed(true)
                                        .FixedPosition(HorizontalEdge.Right)
                                        .Alignment(HorizontalAlignment.Center)
                                        .AllowFiltering(false)
                                        .AllowSorting(false)
                                        .AllowEditing(false)
                                        .AllowExporting(false)
                                        .AllowResizing(false)
                                        .Caption("")
                                        .Name("cmdInstrument")
                                        .DataField("SerialNumber");
                            })
                            .OnDataErrorOccurred("Data_Error")
                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                            .OnRowPrepared("OnRowPrepared")
                            .OnCellPrepared("OnCellPrepared")
                            .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("instrumentsList"))
                            .Export(e => e.Enabled(true).FileName("Instruments"))
                            .LoadPanel(l => l.Enabled(true).Height(70))
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                pager.ShowInfo(true);
                                pager.InfoText("page {0} of {1} ({2} records)");
                                pager.ShowNavigationButtons(true);
                            })
            )
        </div>
    </div>
</form>



<div class="modal fade" id="PopupGenericEmail" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 85%; height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row text-center">
                    <h4 class="modal-title">Send a email to Contact Person</h4>
                </div>
            </div>
            <div class="modal-body" style="padding: 0;">
                <div class="widget-container" style="padding-left: 20px; padding-right: 20px;">
                    <input type="hidden" id="GenericEmailSerialNumber" value="">
                    <div class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Template:</label>
                            <div class="col-md-9">
                                @(Html.DevExtreme().SelectBox()
                                                        .ID("GenericEmailTemplateId")
                                                        .DataSource(d => d.Mvc().Controller("TRegistry").LoadAction("GetGenericEmailTemplates")
                                                        .LoadParams(new
                                                        {
                                                            Area = Lookup.EmailTemplate_Area_GENERIC,
                                                        })
                                                        .Key("EmailTemplateId"))
                                                        .ValueExpr("EmailTemplateId")
                                                        .OnValueChanged("GenericEmail_Change")
                                                        .DisplayExpr("Subject")
                                                        .Value("")
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Subject:</label>
                            <div class="col-md-10">
                                <input class="form-control" style="max-width:90%;" data-val="true" data-val-required="The Email Subject field is required."
                                       id="GenericEmailSubject" name="GenericEmailSubject" placeholder="Subject" type="text" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="GenericEmailSubject" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Message:</label>
                            <div class="col-md-9">
                                <textarea id="GenericEmailBody"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSendGenericEmail" onclick="doSendGenericEmail();"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


