@model WebApp.Entity.MaintenanceDTO
@using WebApp.Classes

@{
    ViewData["Title"] = "Maintenance";
    string titolo = ViewData["Title"].ToString();
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .dx-popup-title > div.dx-toolbar-items-container {
        background-color: white;
    }

    .dx-popup-bottom > div.dx-toolbar-items-container {
        background-color: white;
    }

    input, select {
        max-width: 800px;
    }

    .cmdHistory {
        font-size: 24px;
    }

    /*.Maintenance-Missing {
        background-color: mediumvioletred !important;
    }*/

    .Maintenance-Alert {
        background-color: red !important;
        font-size: 16px !important;
    }

    .Maintenance-Warning {
        background-color: orange !important;
        font-size: 16px !important;
    }

    .Maintenance-Valid {
        background-color: forestgreen !important;
        font-size: 16px !important;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-lines {
        color: red;
    }

    #container-popup-SetCalibration {
        display: flex;
        justify-content: center;
    }
    #container-popup-SetFibers {
        display: flex;
        justify-content: center;
    }
    .sliderClass {
        min-width: 750px;
    }
    .headerHistory {
        margin-bottom: 5px;
    }
</style>

<script type="text/javascript">

    const jsFilterItems = [
        { id: "Valid", descr: "Valid / OK" },
        { id: "Warning", descr: "Warning" },
        { id: "Alert", descr: "Expired" },
        { id: "Missing", descr: "Missing" }
    ];
    var jsOrdinaryFilter = "";
    var jsCalibrationFilter = "";
    var jsFibersFilter = "";

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
        });
    });
    function ApplyToolbarFilters() {
        var grid = getDataGridInstance();
        grid.clearFilter("dataSource");
        var ds = grid.getDataSource();
        var filter = [];
        if ((jsOrdinaryFilter || '') != "") {
            filter.push(["ClassNextMaintenance", "=", jsOrdinaryFilter]);
            filter.push("and");
        }
        if ((jsCalibrationFilter || '') != "") {
            filter.push(["ClassNextCalibration", "=", jsCalibrationFilter]);
            filter.push("and");
        }
        if ((jsFibersFilter || '') != "") {
            filter.push(["ClassFibersNumberPerc", "=", jsFibersFilter]);
            filter.push("and");
        }
        if (filter.length > 0) {
            filter.pop();
            ds.filter(filter);
        }
        ds.load();
    }
    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 3000);
    }
    function loadPanel_hidden() {
        //DevExpress.ui.notify("loadPanel_hidden", "info");
        //showEmployeeInfo(employee);
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        //}, {
        //    location: 'before',
        //    template() {
        //        return $('<span>Status Filters</span>');
        //    }
        }, {
            location: "before",
            widget: "dxSelectBox",
            options: {
                width: 300,
                placeholder: "Ordinary Maintenance",
                items: jsFilterItems,
                displayExpr: "descr",
                valueExpr: "id",
                showClearButton: true,
                onValueChanged: function (data) {
                    jsOrdinaryFilter = data.value;
                    ApplyToolbarFilters();
                }
            }
        }, {
            location: "before",
            widget: "dxSelectBox",
            options: {
                width: 300,
                placeholder: "Calibration Maintenance",
                items: jsFilterItems,
                displayExpr: "descr",
                valueExpr: "id",
                showClearButton: true,
                onValueChanged: function (data) {
                    jsCalibrationFilter = data.value;
                    ApplyToolbarFilters();
                }
            }
        }, {
            location: "before",
            widget: "dxSelectBox",
            options: {
                width: 300,
                placeholder: "Fibers Maintenance",
                items: jsFilterItems,
                displayExpr: "descr",
                valueExpr: "id",
                showClearButton: true,
                onValueChanged: function (data) {
                    jsFibersFilter = data.value;
                    ApplyToolbarFilters();
                }
            }
        });
    }
    function onCellPrepared(e) {
        //if (e.rowType == 'data' && e.column.name && e.column.name == "cmdSetCalibration") {
        //    var fieldHtml = "";
        //    fieldHtml += "<a href='#' onclick='goSetCalibration(\"" + e.data.SerialNumber + "\");' class='btn btn-md btn-default' title='Set Calibration'>Set</a>";
        //    e.cellElement.html(fieldHtml);
        //}
        //if (e.rowType == 'data' && e.column.name && e.column.name == "cmdSetFibers") {
        //    var fieldHtml = "";
        //    fieldHtml += "<a href='#' onclick='goSetFibersInfo(\"" + e.data.SerialNumber + "\"," + e.data.FibersNumber + " ," + e.data.Fibers_Default + " );' class='btn btn-md btn-default' title='Set Fibers Number'>Set</a>";
        //    e.cellElement.html(fieldHtml);
        //}
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "GGNextMaintenance" && e.data.ClassNextMaintenance && e.value != null) {
            var fieldHtml = "";
            fieldHtml += "<span style='width: 90%' class='badge Maintenance-" + e.data.ClassNextMaintenance + "'>" + e.value + "</span>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "GGNextCalibration" && e.data.ClassNextCalibration && e.value != null) {
            var fieldHtml = "";
            fieldHtml += "<span style='width: 90%' class='badge Maintenance-" + e.data.ClassNextCalibration + "'>" + e.value + "</span>";
            e.cellElement.html(fieldHtml);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField == "FibersNumberPerc" && e.data.ClassFibersNumberPerc && e.value != null) {
            var fieldHtml = "";
            fieldHtml += "<span style='width: 90%' class='badge Maintenance-" + e.data.ClassFibersNumberPerc + "'>" + e.value + " %</span>";
            e.cellElement.html(fieldHtml);
        }
    }
    function OnCellDblClick(e) {
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField.indexOf("Calibration") >= 0) {
            goSetCalibration(e.row.data.SerialNumber);
        }
        if (e.rowType == 'data' && e.column.dataField && e.column.dataField.indexOf("FibersNumber") >= 0) {
            goSetFibersInfo(e.row.data.SerialNumber, e.row.data.FibersNumber, e.row.data.Fibers_Default);
        }        
    }
    function goSetCalibration(serial) {
        var jsNow = new Date();
        var jsMin = new Date();
        jsMin.setDate(jsMin.getDate() - 31);
        var data = new Object();
        data.titoloForm = "Serial Number " + serial;
        data.SerialNumber = serial;
        $("#popup-SetCalibration").dxPopup({
            visible: true,
            title: data.titoloForm,
            width: 400,
            height: 500,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Set Date',
                        icon: 'save',
                        onClick: function () {
                            doUpdateCalibration(data.SerialNumber);
                        }
                    }
                }
            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup-SetCalibration'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    showValidationSummary: true,
                    formData: data,
                    items: [
                        {
                            label: { text: "Calibration Date" },
                            dataField: "NewDate",
                            editorType: "dxCalendar",
                            editorOptions: {
                                value: jsNow,
                                max: jsNow,
                                min: jsMin
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }
    function doUpdateCalibration(id) {
        var formData = $('#container-popup-SetCalibration').dxForm("instance").option('formData');
        if ((formData.NewDate || "") == "") {
            DevExpress.ui.dialog.alert("The Calibration Date field is required.");
            return false;
        }
        var dataToSend = JSON.stringify(formData);
        getLoadPanelInstance().show();
        $.ajax({
            url: '@Url.Action("UpdateCalibrationJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                if ((data.MsgError||"") == "") {
                    $("#popup-SetCalibration").dxPopup('instance').hide();
                } else {
                    DevExpress.ui.dialog.alert(data.MsgError, "Error");
                }
            }
        }).always(function (data) {
            getLoadPanelInstance().hide();
            getDataGridInstance().refresh();
        });
    }

    function goSetFibersInfo(serial, fibersNumber, fibersMax) {
        var jsFibersNumber = (fibersNumber || 0);
        var jsFibersMax = (fibersMax || parseInt('@Lookup.GetInstrumentFibersDefault()'));
        var data = new Object();
        data.titoloForm = "Serial Number " + serial;
        data.SerialNumber = serial;
        data.FibersNumber = jsFibersNumber;
        data.NewPack = false;
        $("#popup-SetFibers").dxPopup({
            visible: true,
            title: data.titoloForm,
            width: 800,
            height: 380,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Set New Value',
                        icon: 'save',
                        onClick: function () {
                            doUpdateFibersInfo(data.SerialNumber);
                        }
                    }
                }
            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-popup-SetFibers'>");
                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    showValidationSummary: true,
                    formData: data,
                    items: [
                        {
                            label: { text: "Replacement Fibers Pack" },
                            dataField: "NewPack",
                            editorType: "dxCheckBox",
                            editorOptions: {
                                onValueChanged(data) {
                                    if (data.value) {
                                        //$("#handlerSlider").dxSlider("instance").option('value', jsFibersMax);
                                        $("#sliderValue").dxNumberBox("instance").option('value', jsFibersMax);
                                    }
                                    $("#sliderValue").dxNumberBox("instance").option('disabled', data.value);
                                    $("#handlerSlider").dxSlider("instance").option('disabled', data.value);
                                }
                            }

                        }, {
                            label: { text: "Fibers Number" },
                            dataField: "FibersNumber",
                            editorType: "dxNumberBox",
                            editorOptions: {
                                elementAttr: { id: "sliderValue" },
                                onValueChanged(data) { $("#handlerSlider").dxSlider("instance").option('value', data.value); },
                                showSpinButtons: true,
                                min: 0,
                                max: jsFibersMax,
                                format: '#,##0',
                                width: 250
                            }
                        }, {
                            editorType: "dxSlider",
                            cssClass: "sliderClass",
                            editorOptions: {
                                elementAttr: { id: "handlerSlider" },
                                onValueChanged(data) { $("#sliderValue").dxNumberBox("instance").option('value', data.value); },
                                min: 0,
                                max: jsFibersMax,
                                value: jsFibersNumber,
                                tooltip: {
                                    enabled: true,
                                    format(value) {
                                        var perc = ((value || 0) * 100) / jsFibersMax;
                                        return `${value.toLocaleString()} / ${perc.toFixed(2)} %`;
                                        //return `${value}%`;
                                    },
                                    showMode: 'always',
                                    position: 'bottom'
                                },
                                label: { visible: true,
                                    format(value) {
                                        return `${value.toLocaleString()}`;
                                    },
                                    position: 'top',
                                },
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }
    function doUpdateFibersInfo(id) {
        var formData = $('#container-popup-SetFibers').dxForm("instance").option('formData');
        if (formData.FibersNumber == null) {
            DevExpress.ui.dialog.alert("The Fibers Number field is required.");
            return false;
        }
        var dataToSend = JSON.stringify(formData);
        getLoadPanelInstance().show();
        $.ajax({
            url: '@Url.Action("UpdateFibersJSON")',
            type: 'POST',
            data: dataToSend,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr, statusText) {
                DevExpress.ui.notify("Error: " + xhr.statusText + " - " + xhr.responseText, "error");
            },
            success: function (data) {
                if ((data.MsgError||"") == "") {
                    $("#popup-SetFibers").dxPopup('instance').hide();
                } else {
                    DevExpress.ui.dialog.alert(data.MsgError, "Error");
                }
            }
        }).always(function (data) {
            getLoadPanelInstance().hide();
            getDataGridInstance().refresh();
        });
    }
    function goExportMaintenance(serial) {
        const dataGrid1 = $('#grid-calibration_' + serial).dxDataGrid('instance');
        const dataGrid2 = $('#grid-pack_' + serial).dxDataGrid('instance');

        const workbook = new ExcelJS.Workbook();
        const CalibrationSheet = workbook.addWorksheet("Calibration");
        const FibersSheet = workbook.addWorksheet("Fibers");

        CalibrationSheet.getRow(2).getCell(2).value = 'Serial Number: ' + serial;
        CalibrationSheet.getRow(2).getCell(2).font = { bold: true, size: 16 };
        CalibrationSheet.getRow(3).getCell(2).value = 'Calibration';
        CalibrationSheet.getRow(3).getCell(2).font = { bold: true, size: 16, underline: 'double' };

        FibersSheet.getRow(2).getCell(2).value = 'Serial Number: ' + serial;
        FibersSheet.getRow(2).getCell(2).font = { bold: true, size: 16 };
        FibersSheet.getRow(3).getCell(2).value = 'Fibers Maintenance';
        FibersSheet.getRow(3).getCell(2).font = { bold: true, size: 16, underline: 'double' };

        function setAlternatingRowsBackground(gridCell, excelCell) {
            if (gridCell.rowType === 'header' || gridCell.rowType === 'data') {
                if (excelCell.fullAddress.row % 2 === 0) {
                    excelCell.fill = {
                        type: 'pattern', pattern: 'solid', fgColor: { argb: 'D3D3D3' }, bgColor: { argb: 'D3D3D3' },
                    };
                }
            }
        }
        DevExpress.excelExporter.exportDataGrid({
            worksheet: CalibrationSheet,
            component: dataGrid1,
            topLeftCell: { row: 5, column: 2 },
            customizeCell(options) {
                setAlternatingRowsBackground(options.gridCell, options.excelCell);
            },
        }).then(() => DevExpress.excelExporter.exportDataGrid({
            worksheet: FibersSheet,
            component: dataGrid2,
            topLeftCell: { row: 5, column: 2 },
            customizeCell(options) {
                setAlternatingRowsBackground(options.gridCell, options.excelCell);
            },
        })).then(() => {
            workbook.xlsx.writeBuffer().then((buffer) => {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Maintenance_' + serial + '.xlsx');
            });
        });
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @ViewData["Title"]
                <span>&nbsp;</span>
                @(Html.DevExtreme().Button()
                                    .Icon("fa fa-info-circle")
                                    .Hint("Function Documentation")
                                    .OnClick("goDownloadFunctionDocumentation")
                )
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Maintenance">

    <div class="row">
        @(Html.DevExtreme().DataGrid()
                .ID("grid-container")
                .ShowBorders(true)
                .ShowRowLines(true)
                .HoverStateEnabled(true)
                .RowAlternationEnabled(true)
                .AllowColumnResizing(true)
                .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetInstruments4Maintenance").Key("SerialNumber"))
                .RemoteOperations(true)
                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("InstrumentsMaintenance"))
                .Columns(columns =>
                {
                    columns.Add().DataField("SerialNumber").SortOrder(SortOrder.Asc).Width(120).Fixed(true).FixedPosition(HorizontalEdge.Left);
                    columns.Add().DataField("ModelTypeDeco").Caption("Model Type").Width(120);
                    columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width(180);
                    columns.Add().DataField("SiteCountry").Caption("Country").Width(120);
                    columns.Add().DataField("CompanyName").Caption("Customer").Width(180);
                    columns.Add().DataField("SiteCity").Caption("City").Width(120);
                    columns.Add().DataField("SiteDescription").Caption("Site").Width(180);
                    columns.Add().Caption("Ordinary Maintenance").Alignment(HorizontalAlignment.Center).Columns(a =>
                    {
                        a.Add().DataField("LastMaintenanceDeco").Caption("Last Maint.").CalculateSortValue("LastMaintenancSort").Alignment(HorizontalAlignment.Center).Width(120);
                        a.Add().DataField("NextMaintenanceDeco").Caption("Next Maint.").CalculateSortValue("NextMaintenanceSort").Alignment(HorizontalAlignment.Center).Width(120);
                        a.Add().DataField("GGNextMaintenance").Caption("Deadline (gg)").Alignment(HorizontalAlignment.Center).Width(100);
                    });
                    columns.Add().Caption("Calibration").Alignment(HorizontalAlignment.Center).Columns(a =>
                    {
                        a.Add().DataField("LastCalibrationDeco").Caption("Last Calibr.").CalculateSortValue("LastCalibrationSort").Alignment(HorizontalAlignment.Center).Width(120);
                        a.Add().DataField("NextCalibrationDeco").Caption("Next Calibr.").CalculateSortValue("NextCalibrationSort").Alignment(HorizontalAlignment.Center).Width(120);
                        a.Add().DataField("GGNextCalibration").Caption("Deadline (gg)").Alignment(HorizontalAlignment.Center).Width(100);
                        //a.Add().DataField("").AllowSorting(false).Alignment(HorizontalAlignment.Center).Width(80)
                        //            .AllowFiltering(false).AllowSorting(false).AllowExporting(false).Name("cmdSetCalibration");
                    });
                    columns.Add().Caption("Fibers Maintenance").Alignment(HorizontalAlignment.Center).Columns(a =>
                    {
                        a.Add().DataField("FibersNumber").Caption("Fibers Number").Alignment(HorizontalAlignment.Center).Width(120).Format("fixedPoint");
                        a.Add().DataField("FibersNumberPerc").Caption("% Remaining").Alignment(HorizontalAlignment.Center).Width(120);
                        //a.Add().DataField("").AllowSorting(false).Alignment(HorizontalAlignment.Center).Width(80)
                        //            .AllowFiltering(false).AllowSorting(false).AllowExporting(false).Name("cmdSetFibers");
                    });
                })
                .Paging(p => p.PageSize(10))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                    pager.ShowInfo(true);
                    pager.InfoText("page {0} of {1} ({2} records)");
                    pager.ShowNavigationButtons(true);
                })
                .Export(e => e.Enabled(false).FileName("Maintenance").AllowExportSelectedData(false))
                .OnToolbarPreparing("toolbar_preparing")
                .OnCellPrepared("onCellPrepared")
                .OnCellDblClick("OnCellDblClick")
                .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
                @*.Selection(s => s.Mode(SelectionMode.Single))
                .OnSelectionChanged(@<text>
                function(e) {
                        e.component.collapseAll(-1);
                        e.component.expandRow(e.currentSelectedRowKeys[0]);
                }
                </text>)*@
        .MasterDetail(md =>
        {
            md.Enabled(true)
            .Template(@<text>
                <div class="internal-grid-container" style="padding: 10px" title="">
                    <div class="row">
                        <div class="pull-right">
                            <a href="#" onclick="goExportMaintenance('<%= data.SerialNumber %>');" title="Export Maintenance History" style="color: blue;">
                                <i class="fa fa-file-excel-o"></i>
                                <small class="text-muted" style="color: blue;">Export Maintenance History</small>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="headerHistory">
                                <b>Calibration History</b>
                                <a href="#" onclick="goSetCalibration('<%= data.SerialNumber %>');" title="Add Calibration Maintenance" style="color: blue; margin-left: 20px;">
                                    <i class="fa fa-plus-circle"></i>Add
                                </a>
                            </div>
                            @(Html.DevExtreme().DataGrid()
                                                .ID(new JS("'grid-calibration_' + data.SerialNumber "))
                                                .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetMaintenance")
                                                                .LoadParams(new
                                                                            {
                                                                                serialNumber = new JS("data.SerialNumber"),
                                                                                maintenanceType = Lookup.Instrument_MaintenanceType_Calibration,
                                                                                showAllRecords = new JS("data.showHistoryMaintenance")
                                                                            })
                                                )
                                                .RemoteOperations(true)
                                                .Columns(c =>
                                                {
                                                    c.Add().DataField("TmstInseMaintenanceDeco").Caption("Insert Date").Alignment(HorizontalAlignment.Center);
                                                    c.Add().DataField("UserInseMaintenance_Name").Caption("User");
                                                    c.Add().DataField("LastCalibrationDeco").Caption("Last Calibration").Alignment(HorizontalAlignment.Center);
                                                    c.Add().DataField("NextCalibrationDeco").Caption("Next Calibration").Alignment(HorizontalAlignment.Center);
                                                })
                                                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                            )
                        </div>
                        <div class="col-md-6">
                            <div class="headerHistory">
                                <b>Fibers Maintenance History</b>
                                <a href="#" onclick="goSetFibersInfo('<%= data.SerialNumber %>', '<%= data.FibersNumber %>', '<%= data.Fibers_Default %>');" title="Add Fibers Maintenance" style="color: blue; margin-left: 20px;">
                                    <i class="fa fa-plus-circle"></i>Add
                                </a>
                            </div>
                            @(Html.DevExtreme().DataGrid()
                                            .ID(new JS("'grid-pack_' + data.SerialNumber "))
                                            .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetMaintenance")
                                                            .LoadParams(new
                                                                                {
                                                                                    serialNumber = new JS("data.SerialNumber"),
                                                                                    maintenanceType = Lookup.Instrument_MaintenanceType_Pack,
                                                                                    showAllRecords = new JS("data.showHistoryMaintenance")
                                                                                })
                                            )
                                            .RemoteOperations(true)
                                            .Columns(c =>
                                            {
                                                c.Add().DataField("TmstInseMaintenanceDeco").Caption("Insert Date").Alignment(HorizontalAlignment.Center);
                                                c.Add().DataField("UserInseMaintenance_Name").Caption("User");
                                                c.Add().DataField("FibersNumber").Caption("Fibers Number").Alignment(HorizontalAlignment.Center).Format("fixedPoint");
                                                c.Add().DataField("FibersNewPackDeco").Caption("").Alignment(HorizontalAlignment.Center);
                                            })
                                            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                            )
                        </div>
                    </div>
                </div>
            </text>);
        })
    )
    </div>
    @(Html.DevExtreme().LoadPanel()
                .ID("loadPanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                //.Position(p => p.Of("#requests"))
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(true)
                .Message("saving...")
                .CloseOnOutsideClick(false)
                .OnShown("loadPanel_shown")
                .OnHidden("loadPanel_hidden")
    )
    <div id="popup-SetCalibration"></div>
    <div id="popup-SetFibers"></div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}