@model WebApp.Entity.RefurbishDTO
@using WebApp.Classes

@{
    string title = "Refurbish Instruments";
}

<style type="text/css">

    div.dx-toolbar-items-container {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-header-panel {
        background-color: #f8f8f8;
    }

    div.dx-datagrid-pager {
        background-color: #f8f8f8;
    }

    .dx-row > .dx-master-detail-cell {
        padding: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .dx-popup-title > div.dx-toolbar-items-container {
        background-color: white;
    }

    .dx-popup-bottom > div.dx-toolbar-items-container {
        background-color: white;
    }

    input, select {
        max-width: 800px;
    }

    .cmdHistory {
        font-size: 24px;
    }

    /*.Maintenance-Missing {
        background-color: mediumvioletred !important;
    }*/

    .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-lines {
        color: red;
    }

    .sezione-strumento {
        background-color: lightgrey;
        color: black;
    }
    .sezione-finance {
        background-color: orange;
        color: black;
    }
    .sezione-backoffice {
        background-color: greenyellow;
        color: black;
    }
    .sezione-refurbish {
        background-color: yellow;
        color: black;
    }
    .cmdClose, .cmdSend, .cmdDelete, .cmdRestore {
        font-size: 20px;
    }
    .cmdDelete, .cmdRestore {
        color: red;
    }

    .TKRequest-status-WAITING {
        background-color: #FFD1D1;
    }
    .TKRequest-status-PROCESSING {
        background-color: rgba(255, 255, 0, 0.33) ;
    }
    .TKRequest-status-COMPLETE {
        background-color: rgba(0, 239, 255, 0.33);
    }
    .TKRequest-status-READY {
        background-color: #A6F81E;
    }
    .TKRequest-status-CLOSED {
        background-color: #CBCFC8;
        
    }
    /*.dx-item.dx-toolbar-item.dx-toolbar-button.dx-toolbar-item-auto-hide {
        display: none!important;
    }*/
    .evidenzia {
        font-weight: bold;
        font-size: 14px;
    }
    .NeededByExpired {
        color: red !important;
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    const jsIsAdmin = ('@User.IsInRole(Lookup.Role_RefurbishAdministrator)'.toLowerCase() == 'true');
    const jsIsFinance = ('@User.IsInRole(Lookup.Role_RefurbishFinance)'.toLowerCase() == 'true');
    const jsIsCenter = ('@User.IsInRole(Lookup.Role_RefurbishCenter)'.toLowerCase() == 'true');
    
    const jsFilterAllStatus = [
        { id: "@Lookup.Refurbish_Status_WAITING", descr: "@Lookup.Refurbish_StatusDeco_WAITING" },
        { id: "@Lookup.Refurbish_Status_PROCESSING", descr: "@Lookup.Refurbish_StatusDeco_PROCESSING" },
        { id: "@Lookup.Refurbish_Status_COMPLETE", descr: "@Lookup.Refurbish_StatusDeco_COMPLETE" },
        { id: "@Lookup.Refurbish_Status_READY", descr: "@Lookup.Refurbish_StatusDeco_READY" },
        { id: "@Lookup.Refurbish_Status_CLOSED", descr: "@Lookup.Refurbish_StatusDeco_CLOSED" },
    ];
    var jsSelStatus = [ "@Lookup.Refurbish_Status_WAITING", "@Lookup.Refurbish_Status_PROCESSING", "@Lookup.Refurbish_Status_COMPLETE", "@Lookup.Refurbish_Status_READY"];

    var fieldsFinanceSection = ["AssetNumber", "ResidualValue", "ResidualValueDate"];
    var fieldsBackOfficeSection = ["FinalDestination", "Note", "RDANumber", "NeededByDate", "AdditionalOperations"];
    var fieldsEDSSection = ["ProcessingCost", "SparePartsCost", "SGATWONumber", "EntryDate", "ProcessingStartDate", "ProcessingEndDate"];   // "StatusDeco", 
    var fieldsInstrumentsSection = ["SerialNumber", "CommercialEntity", "SiteCountry", "CompanyName", "SiteCity", "SiteDescription"];

    var jsOnlyNeededByExpired = false;

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            if ('@Model.SerialNumberFilter' != '') {
                setFilterSerialNumber('@Model.SerialNumberFilter');
            }
        });
    });
    function goDownloadFunctionDocumentation() {
        $("#elenco").attr("action", '@Url.Action("ShowFunctionPdf", "Utils")');
        $("#elenco").attr("target", "_blank");
        $("#elenco").submit();
        $("#elenco").attr("target", "");    // Ripristino Target
        return false;
    }
    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }
    function loadPanel_shown(e) {
        setTimeout(function () {
            e.component.hide();
        }, 3000);
    }
    function loadPanel_hidden() {
        //DevExpress.ui.notify("loadPanel_hidden", "info");
        //showEmployeeInfo(employee);
    }
    function getDataGridInstance() {
        return $("#grid-container").dxDataGrid("instance");
    }
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                icon: "xlsfile",
                onClick: function () {
                    getDataGridInstance().exportToExcel(false);
                    return false;
                }
            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "fa fa-eye-slash",
                hint: "Remove column filters",
                name: "removeFilters",
                onClick: function () {
                    setFilterSerialNumber("");
                    return false;
                }
            }

        }, {
            location: "before",
            widget: "dxButton",
            options: {
                icon: "add",
                text: "Create New Request",
                hint: "Create New Request",
                type: "success",
                visible: jsIsAdmin,
                onClick: function () {
                    goOpenInstrumentPopup()
                }
            }
        }, {
            location: "before",
            widget: "dxTagBox",
            options: {
                width: 600,
                placeholder: "Status",
                items: jsFilterAllStatus,
                displayExpr: "descr",
                valueExpr: "id",
                value: jsSelStatus, 
                showClearButton: true,
                onValueChanged: function (data) {
                    jsSelStatus = data.value;
                    getDataGridInstance().getDataSource().reload();
                }
                }
        }, {
            location: "before",
            widget: "dxCheckBox",
            options: {
                text: "Only Needed By Expired",
                onValueChanged: function (data) {
                    jsOnlyNeededByExpired = data.value;
                    getDataGridInstance().getDataSource().reload();
                }
            }
        });
    }
    function onCellPrepared(e) {
        // Configurazione Intestazione colonne
        if (e.rowType == 'header' && e.column.dataField) {
            if (fieldsInstrumentsSection.indexOf(e.column.dataField) > -1) {
                //e.cellElement.addClass('sezione-strumento');
            }
            if (fieldsFinanceSection.indexOf(e.column.dataField) > -1) {
                e.cellElement.addClass('sezione-finance');
            }
            if (fieldsBackOfficeSection.indexOf(e.column.dataField) > -1) {
                e.cellElement.addClass('sezione-backoffice');
            }
            if (fieldsEDSSection.indexOf(e.column.dataField) > -1) {
                e.cellElement.addClass('sezione-refurbish');
            }
        }
        if (e.rowType == 'header' && e.column.name) {
            if (e.column.name.toLowerCase() == ("finance").toLowerCase()) {
                e.cellElement.addClass('sezione-finance');
            }
            if (e.column.name.toLowerCase() == ("backoffice").toLowerCase()) {
                e.cellElement.addClass('sezione-backoffice');
            }
            if (e.column.name.toLowerCase() == ("refurbish").toLowerCase()) {
                e.cellElement.addClass('sezione-refurbish');
            }
        }
        if (e.rowType == 'data' && e.column.dataField) {
            if (e.column.dataField == 'SerialNumber' || e.column.dataField == 'FinalCost' || e.column.dataField == 'StatusDeco') {
                e.cellElement.addClass('evidenzia');
            }
            if (e.column.dataField == 'NeededByDate' && e.data.NeededByExpired) {
                e.cellElement.addClass('NeededByExpired');
            }
        }


        // Configurazione COMANDI 
        var tmplClose = "<a href='#' onclick='goClose({{requestId }}, \"{{serialNumber}}\");' class='fa fa-archive cmdClose' title='Close Request'></a>&nbsp;";
        var tmplReopen = "<a href='#' onclick='goRestore({{requestId }}, \"{{serialNumber}}\");' class='fa fa-undo cmdRestore' title='Restore Request'></a>&nbsp;";
        var tmplDelete = "<a href='#' onclick='goDelete({{requestId }}, \"{{serialNumber}}\");' class='fa fa-trash-o cmdDelete'  title='Delete Request'></a>&nbsp;";
        var tmplSetReady = "<a href='#' onclick='goReadyToBeShippend({{requestId }}, \"{{serialNumber}}\");' class='fa fa-truck cmdSend' title='Ready to be Shipped'></a>&nbsp;";
        var dataTemplate = new Object();
        var fieldHtml = "";
        if (e.rowType == 'data') {

            dataTemplate.requestId = e.data.RefurbishRequestId;
            dataTemplate.statusDeco = e.data.StatusDeco;
            dataTemplate.status = e.data.Status;
            dataTemplate.serialNumber = e.data.SerialNumber;
            if (e.column.name && e.column.name == "cmdRequest") {
                var htmlClose = "";
                var htmlSetReady = "";
                var htmlDelete = "";
                var htmlReopen = "";
                if (jsIsAdmin) {
                    if (e.data.Status == '@Lookup.Refurbish_Status_WAITING' || e.data.Status == '@Lookup.Refurbish_Status_PROCESSING' ) {
                        htmlDelete = Mustache.render(tmplDelete, dataTemplate);
                    }
                    if (e.data.Status == '@Lookup.Refurbish_Status_COMPLETE') {
                        htmlSetReady = Mustache.render(tmplSetReady, dataTemplate);
                    }
                    if (e.data.Status == '@Lookup.Refurbish_Status_READY') {
                        htmlClose = Mustache.render(tmplClose, dataTemplate);
                    }
                    if (e.data.Status != '@Lookup.Refurbish_Status_WAITING') {
                        htmlReopen = Mustache.render(tmplReopen, dataTemplate);
                    }
                }
                fieldHtml = htmlDelete + ' ' + htmlSetReady + ' ' + htmlClose + ' ' + htmlReopen;
                e.cellElement.html(fieldHtml);
            }
        }
    }
    function OnEditingStart(e) {
        //console.log(e.data.Status);
        //console.log(editFinance + ' ' + editBackOffice + ' ' + editEDS);
        var editFinance = (jsIsAdmin || jsIsFinance) && (e.data && (e.data.Status == '@Lookup.Refurbish_Status_WAITING' || e.data.Status == '@Lookup.Refurbish_Status_PROCESSING' || e.data.Status == '@Lookup.Refurbish_Status_COMPLETE'));
        var editBackOffice = jsIsAdmin && (e.data && (e.data.Status == '@Lookup.Refurbish_Status_WAITING' || e.data.Status == '@Lookup.Refurbish_Status_PROCESSING' || e.data.Status == '@Lookup.Refurbish_Status_COMPLETE'));
        var editEDS = (jsIsAdmin || jsIsCenter) && (e.data && (e.data.Status == '@Lookup.Refurbish_Status_WAITING' || e.data.Status == '@Lookup.Refurbish_Status_PROCESSING'));
        if (e.data && e.column.dataField) {
            if (fieldsFinanceSection.indexOf(e.column.dataField) > -1) e.cancel = !editFinance;
            if (fieldsBackOfficeSection.indexOf(e.column.dataField) > -1) e.cancel = !editBackOffice;
            if (fieldsEDSSection.indexOf(e.column.dataField) > -1) e.cancel = !editEDS;
            if (e.column.dataField == 'ProcessingStartDate' && e.data.Status != '@Lookup.Refurbish_Status_WAITING') e.cancel = true;
            if (e.column.dataField == 'ProcessingEndDate' && e.data.Status != '@Lookup.Refurbish_Status_PROCESSING') e.cancel = true;
        }
    }
    function OnRowPrepared(info) {
        if (typeof info.data !== 'undefined') {
            info.rowElement.addClass('TKRequest-status-' + info.data.Status);
        }
    }
    function Data_Error(e) {
        errorMessage = e.error.message;
    }
    function goDelete(requestId, serialNumber) {
        bootbox.confirm({
            title: "<b>Do you wish to delete it?</b>",
            message: 'Serial Number: ' + (serialNumber || ''),
            callback: function (result) {
                if (result) {
                    bootbox.hideAll();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("DeleteRefurbishRequest")',
                        data: { id: requestId},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    }).always(function (data) {
                        getDataGridInstance().getDataSource().reload();
                    });
                }
            }
        });
    }
    function goClose(requestId, serialNumber) {
        bootbox.confirm({
            title: "<b>Do you wish to close/archive it?</b>",
            message: 'Serial Number: ' + (serialNumber || ''),
            callback: function (result) {
                if (result) {
                    bootbox.hideAll();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("CloseRefurbishRequest")',
                        data: { id: requestId},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    }).always(function (data) {
                        getDataGridInstance().getDataSource().reload();
                    });
                }
            }
        });
    }
    function goReadyToBeShippend(requestId, serialNumber) {
        bootbox.confirm({
            title: "<b>Do you wish to confirm it as 'ready to be shippend' ?</b>",
            message: 'Serial Number: ' + (serialNumber || ''),
            callback: function (result) {
                if (result) {
                    bootbox.hideAll();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ReadyRefurbishRequest")',
                        data: { id: requestId},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    }).always(function (data) {
                        getDataGridInstance().getDataSource().reload();
                    });
                }
            }
        });

    }
    function goRestore(requestId, serialNumber) {
        bootbox.confirm({
            title: "<b>Do you wish to restore it?</b>",
            message: 'Serial Number: ' + (serialNumber || ''),
            callback: function (result) {
                if (result) {
                    bootbox.hideAll();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("RestoreRefurbishRequest")',
                        data: { id: requestId},
                        error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                        success: function (data) {
                            DevExpress.ui.notify("Operation successful.");
                        }
                    }).always(function (data) {
                        getDataGridInstance().getDataSource().reload();
                    });
                }
            }
        });
    }
    function goOpenInstrumentPopup() {
        var data = new Object();
        data.ModelTypeId = 'XXXX';

        $("#popup-create-new-request").dxPopup({
            visible: true,
            title: "Create New Request",
            width: 900,
            height: 300,
            position: {
                my: 'center',
                at: 'center',
                of: window
            },
            dragEnabled: true,
            toolbarItems: [
                {
                    toolbar: "bottom",
                    widget: "dxButton",
                    location: "after",
                    options: {
                        text: 'Create',
                        icon: 'plus',
                        type: 'success',
                        onClick: function () {
                            onCloseSaveCreateNewRequest()
                        }
                    }
                }
            ],
            contentTemplate: function (e) {
                var divContainer = $("<div id='container-create-new-request-form'>");

                var datasouceInstrument = new DevExpress.data.DataSource({
                    store: new DevExpress.data.AspNet.createStore({
                        loadUrl: "/Instruments/GetInstruments4Refurbish/",
                        key: "SerialNumber"
                    }),
                    paginate: true,
                    pageSize: 15
                });

                var myForm = divContainer.dxForm({
                    readOnly: false,
                    showColonAfterLabel: false,
                    labelLocation: "top",
                    minColWidth: 800,
                    showValidationSummary: true,
                    colCount: 1,
                    formData: data,
                    items: [
                        {
                            colSpan: 1,
                            label: { text: 'Instrument' },
                            dataField: "SerialNumber",
                            editorType: "dxSelectBox",
                            editorOptions: {
                                elementAttr: { id: "selSerialNumber" },
                                searchEnabled: true,
                                searchExpr: 'SerialNumberInfo',
                                dataSource: datasouceInstrument,
                                valueExpr: "SerialNumber",
                                displayExpr: "SerialNumberInfo"
                            }
                        }
                    ]
                }).dxForm("instance");
                e.append(divContainer);
            }
        });
    }
    function onCloseSaveCreateNewRequest() {
        var validation = $("#container-create-new-request-form").dxForm("instance").validate();

        if (validation.isValid) {
            var formData = $('#container-create-new-request-form').dxForm("instance").option('formData');
            if ((formData.SerialNumber || '') == '') {
                DevExpress.ui.dialog.alert("The instrument field is required.");
                return false;
            }
            $.ajax({
                type: "GET",
                url: '@Url.Action("createRefurbishRequest")',
                data: { serialNumber: formData.SerialNumber },
                error: function (xhr, statusText) { DevExpress.ui.notify("Error: " + xhr.statusText, "error"); },
                success: function (data) {
                    if (data != "") {
                        DevExpress.ui.dialog.alert(data, "Error");
                    } else {
                        DevExpress.ui.notify("Operation successful.");
                        $("#popup-create-new-request").dxPopup('instance').hide();
                        setFilterSerialNumber(formData.SerialNumber);
                    }
                }
            });
        }
    }
    function setFilterSerialNumber(serialNumber) {
        getDataGridInstance().clearFilter();
        if ((serialNumber || '') != '') {
            getDataGridInstance().columnOption('SerialNumber', 'filterValue', serialNumber);
        }
        getDataGridInstance().refresh();
    }
</script>

<div id="main">
    <div class="container">
        <div class="empty_row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/images/CompanyLogo.png" alt="@Lookup.GetCompanyName" class="img-rounded" style="width: 180px;">
                </div>
            </div>
            <div class="col-md-8 text-right h3" style="margin-top:5px;">
                @(Html.DevExtreme().Button().Icon("fa fa-info-circle").Hint("Function Documentation").OnClick("goDownloadFunctionDocumentation"))
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "elenco" }))
{
    @Html.AntiForgeryToken()
    <div id="sfondo"></div>
    <input type="hidden" name="functionName" id="functionName" value="@Lookup.Function_Documentation_Refurbish">
    <div class="empty_row">&nbsp;</div>
    <div class="row">
        @(Html.DevExtreme().DataGrid()
                    .ID("grid-container")
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .HoverStateEnabled(true)
                    .RowAlternationEnabled(false)
                    .AllowColumnResizing(true)
                    .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetRefurbishRequests").Key("RefurbishRequestId")
                                                .LoadParams(new { StatusIn = new JS("function() { return jsSelStatus; }"),
                                                                  OnlyNeededByExpired = new JS("function() { return jsOnlyNeededByExpired; }") })
                                                .UpdateAction("UpdateRefurbish")
                                )
                    .RemoteOperations(true)
                    .ColumnAutoWidth(true)
                    .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .StateStoring(s => s.Enabled(false).Type(StateStoringType.SessionStorage).StorageKey("RefurbishIstruments"))
                    .Editing(editing =>
                    {
                        editing.Mode(GridEditMode.Batch);
                        editing.AllowUpdating(new JS("function() { return jsIsAdmin || jsIsFinance || jsIsCenter; }"));
                    })
                    .Columns(columns =>
                    {
                        columns.Add().DataField("RefurbishRequestId").Visible(false);
                        columns.Add().DataField("SerialNumber").SortOrder(SortOrder.Asc).Width(150).Fixed(true).FixedPosition(HorizontalEdge.Left).AllowEditing(false);
                        columns.Add().DataField("ModelTypeDeco").Caption("Instrument Type").Width(120).AllowEditing(false);
                        columns.Add().DataField("CommercialEntity").Caption("Commercial Entity").Width(180).AllowEditing(false);
                        columns.Add().DataField("SiteCountry").Caption("Country").Width(120).AllowEditing(false);
                        columns.Add().DataField("CompanyName").Caption("Customer").Width(180).AllowEditing(false);
                        columns.Add().DataField("SiteCity").Caption("City").Width(120).AllowEditing(false);
                        columns.Add().DataField("SiteDescription").Caption("Site").Width(180).AllowEditing(false);
                        columns.Add().Name("finance").Caption("Finance").Alignment(HorizontalAlignment.Center).Columns(a =>
                        {
                            a.Add().DataField("AssetNumber").Caption("Asset No.").Width(100).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("ResidualValue").Caption("Residual Value (EUR)").HeaderCellTemplate("Residual<br>Value (&euro;)").Width(100)
                                        .DataType(GridColumnDataType.Number).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("ResidualValueDate").Caption("Residual Value Date").HeaderCellTemplate("Residual<br>Value Date").Width(150)
                                        //.EditorOptions(new { dateSerializationFormat = "yyyy-MM-dd" })
                                        .DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                        });
                        columns.Add().Name("backoffice").Caption("Back Office - Service Support").Alignment(HorizontalAlignment.Center).Columns(a =>
                        {
                            a.Add().DataField("FinalDestination").Caption("Final Destination").Width(200).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("NeededByDate").Caption("Needed By").Width(150)
                                            //.EditorOptions(new { dateSerializationFormat = "yyyy-MM-dd" })
                                            .DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("AdditionalOperations").Caption("Additional Operations").HeaderCellTemplate("Additional<br>Operations").Width(120).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("Note").Caption("Note").Width(200).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("RDANumber").Caption("RDA Number").Width(150).Alignment(HorizontalAlignment.Center);
                        });
                        columns.Add().Name("refurbish").Caption("Refurbish Center").Alignment(HorizontalAlignment.Center).Columns(a =>
                        {
                            a.Add().DataField("EntryDate").Caption("Entry Date").Width(150)
                                        //.EditorOptions(new { dateSerializationFormat = "yyyy-MM-dd" })
                                        .DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("ProcessingStartDate").Caption("processing start date").HeaderCellTemplate("processing<br>start date").Width(150)
                                        //.EditorOptions(new { dateSerializationFormat = "yyyy-MM-dd" })
                                        .DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("ProcessingEndDate").Caption("processing end date").HeaderCellTemplate("processing<br>end date").Width(150)
                                                    //.EditorOptions(new { max = DateTime.Now, dateSerializationFormat = "yyyy-MM-dd" })
                                                    .DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Alignment(HorizontalAlignment.Center)
                                                    .EditorOptions(new { max = DateTime.Now });
                            a.Add().DataField("SGATWONumber").Caption("SGAT WO Number").Width(120).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("ProcessingCost").Caption("Refurbish Cost (EUR): processing").HeaderCellTemplate("Refurbish Cost (&euro;):<br>processing").Width(100)
                                        .DataType(GridColumnDataType.Number).Alignment(HorizontalAlignment.Center);
                            a.Add().DataField("SparePartsCost").Caption("Refurbish Cost (EUR): spare parts").HeaderCellTemplate("Refurbish Cost (&euro;):<br>spare parts").Width(100)
                                        .DataType(GridColumnDataType.Number).Alignment(HorizontalAlignment.Center);
                        });
                        columns.Add().DataField("FinalCost").Caption("Final value (EUR)").HeaderCellTemplate("Final<br>Cost (&euro;)").Width(100).AllowEditing(false)
                                        .DataType(GridColumnDataType.Number).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("RefurbishCost").Caption("Refurbish Cost (EUR)").HeaderCellTemplate("Refurbish<br>Cost (&euro;)").Width(100).AllowEditing(false)
                                        .DataType(GridColumnDataType.Number).Alignment(HorizontalAlignment.Center);
                        columns.Add().DataField("StatusDeco").Caption("Status").Alignment(HorizontalAlignment.Center).Width(100).AllowEditing(false).Fixed(true)
                                        .FixedPosition(HorizontalEdge.Right);
                        columns.Add().DataField("TmstInseDeco").Caption("Insert Date").CalculateSortValue("TmstInseSort").Alignment(HorizontalAlignment.Center).Width(100).AllowEditing(false);
                        columns.Add().DataField("UserInseName").Caption("User").Alignment(HorizontalAlignment.Center).Width(100).AllowEditing(false);
                        columns.Add()
                                .Alignment(HorizontalAlignment.Center)
                                .Width(90)
                                .DataField("RefurbishRequestId")
                                .AllowFiltering(false)
                                .AllowSorting(false)
                                .AllowEditing(false)
                                .AllowExporting(false)
                                .Caption("")
                                .AllowResizing(false)
                                .Fixed(true)
                                .FixedPosition(HorizontalEdge.Right)
                                .Name("cmdRequest");
                    })
                        .Paging(p => p.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                            pager.ShowInfo(true);
                            pager.InfoText("page {0} of {1} ({2} records)");
                            pager.ShowNavigationButtons(true);
                        })
                        .Export(e => e.Enabled(false).FileName("RefurbishInstruments").AllowExportSelectedData(false))
                        .OnToolbarPreparing("toolbar_preparing")
                        .OnCellPrepared("onCellPrepared")
                        .OnRowPrepared("OnRowPrepared")
                        .OnEditingStart("OnEditingStart")
                        .OnDataErrorOccurred("Data_Error")
                        .Scrolling(scrolling => scrolling.ShowScrollbar(ShowScrollbarMode.Always))
        )
        <div id="popup-create-new-request"></div>
    </div>
    @(Html.DevExtreme().LoadPanel()
                .ID("loadPanel")
                .ShadingColor("rgba(0,0,0,0.4)")
                //.Position(p => p.Of("#requests"))
                .Visible(false)
                .ShowIndicator(true)
                .ShowPane(true)
                .Shading(true)
                .Message("saving...")
                .CloseOnOutsideClick(false)
                .OnShown("loadPanel_shown")
                .OnHidden("loadPanel_hidden")
    )
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
