﻿@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = string.Format("Service Centers");
}


<style type="text/css">
    body {
        background-color: white;
    }

    .dx-datagrid-total-footer tr.dx-row > td {
        padding: 2px;
    }

    .dx-datagrid-content.dx-datagrid-scroll-container {
        padding: 2px;
    }
    .textContacts {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>


<script type="text/javascript">

    // Funzioni JQuery
    $(function () {
        $(document).ready(function () {
            //
        });
    });
    function onEditorPreparing(e) {
        if (e.dataField === "Contacts" && e.parentType === "dataRow") {
            e.editorName = "dxTextArea";
            e.editorOptions.autoResizeEnabled = true;
        }
    }
</script>
<form id="form-elenco">
    <div class="form-horizontal">
        <div class="row titolo-pagina">
            <span style="font-size:20px;">
                <i class="fa fa-magic" aria-hidden="true"></i>
            </span>
            <span class="h3">@ViewData["Title"]</span>
            @*<hr />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        @(Html.DevExtreme().LoadPanel()
                            .ID("savePanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .Message("Saving...")
                            .CloseOnOutsideClick(false)
        )

        <br />
        <div class="row">
            @(Html.DevExtreme().DataGrid()
                                .ID("grid-container")
                                .ShowBorders(true)
                                .ShowRowLines(true)
                                .HoverStateEnabled(false)
                                .RowAlternationEnabled(false)
                                .AllowColumnResizing(true)
                                .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                                .Selection(selection => selection.Mode(SelectionMode.None))
                                .Editing(editing =>
                                {
                                    editing.Mode(GridEditMode.Batch);
                                    editing.AllowUpdating(true);
                                    editing.AllowAdding(true);
                                    editing.AllowDeleting(true);
                                })
                                .DataSource(d => d.Mvc().Controller("Instruments").LoadAction("GetServiceCenters")
                                        .Key("ServiceCenterId")
                                        .UpdateAction("UpdateServiceCenter")
                                        .InsertAction("InsertServiceCenter")
                                        .DeleteAction("DeleteServiceCenter")
                                )
                                .RemoteOperations(true)
                                .WordWrapEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("ServiceCenterId").Visible(false);
                                    columns.Add().DataField("ServiceCenterCode").Caption("Instrument Model/Code").Width("15%");
                                    columns.Add().DataField("Note").Caption("Note").Width("35%");
                                    columns.Add().DataField("Contacts").Caption("Contacts").Width("50%").CssClass("textContacts");
                                })
                                .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                .StateStoring(s => s.Enabled(true).Type(StateStoringType.SessionStorage).StorageKey("ServiceCenters"))
                                .Export(e => e.Enabled(true).FileName("ServiceCenters"))
                                .LoadPanel(l => l.Enabled(true).Height(70))
                                .OnEditorPreparing("onEditorPreparing")
                                .Paging(p => p.PageSize(10))
                                .Pager(pager =>
                                {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new List<int> { 5, 10, 20, 50 });
                                    pager.ShowInfo(true);
                                    pager.InfoText("page {0} of {1} ({2} records)");
                                    pager.ShowNavigationButtons(true);
                                })
            )
        </div>
    </div>
</form>
